{{ $eyebrow := .eyebrow | default "Like what you read?" }}
{{ $hed := .hed | default "Become a Member" }}
{{ $text := .body | default "Help Spotlight PA hold the powerful to account with a gift today." }}
{{ $cta := .cta | default "Donate Now" }}


<div
  class="flow-root rounded border border-red font-sans leading-tight shadow"
  data-ga-category="donate"
>
  <h2
    class="inline-block rounded-br bg-red px-4 py-3 font-semibold uppercase tracking-wider text-white sm:text-lg"
  >
    <a class="block" href="/donate/">
      {{- $eyebrow -}}
    </a>
  </h2>
  <h2 class="mt-8 text-center font-semibold sm:mt-12 sm:text-xl md:text-2xl">
    <a
      href="/donate/"
      class="block w-full px-4 sm:px-8 md:px-24"
      data-ga-category="body"
      target="_blank"
    >
      {{- $text -}}
    </a>
  </h2>
  <div
    class="mt-8 text-center text-lg font-semibold uppercase tracking-wider sm:mt-12 sm:text-xl"
  >
    <a
      href="/donate/"
      class="spl-donate-lg"
      data-ga-category="button"
      target="_blank"
    >
      {{- $cta -}}
    </a>
  </div>
  <div class="mt-10 mb-4 mr-3 text-right text-s-9 md:mt-4">
    <svg class="inline-block h-8 w-48 fill-current">
      <use href="#banner-svg" aria-label="Spotlight PA logo"></use>
    </svg>
  </div>
</div>
