{{ $wrapperClass := .wrapperClass  | default "p-4 font-sans md:py-8" }}
{{ $donateHed := .donateHed | default "Support Nonpartisan, Independent Journalism" }}
{{ $donateDek := .donateDek | default "Spotlight PA's unique investigative and public-service journalism depends on reader support." }}
{{ $donateCta := .donateCta | default "Contribute →" }}
{{ $donateAmounts := .donateAmounts | default "10,15,25" }}


<div class="{{ $wrapperClass }} mx-auto box-content max-w-full bg-black p-4">
  <div
    class="no-js:hidden mx-auto w-full gap-6 md:flex md:flex-wrap md:items-start"
  >
    <div class="flex-1 md:w-1/2">
      <h2
        class="text-2xl font-bold leading-tight tracking-wide text-white md:text-4xl"
      >
        {{ $donateHed }}

      </h2>

      {{ with $donateDek }}
        <p class="my-4 font-sans text-lg text-white">{{ . }}</p>
      {{ end }}
    </div>
    {{ partial "tw/donate-amounts.html" ( dict
      "donateAmounts" $donateAmounts
      "donateCta" $donateCta
      )
    }}
  </div>
</div>
