{{ $wrapperClass := .wrapperClass  | default "" }}
{{ $donateHed := .donateHed | default "Join our historic effort to invigorate local news." }}
{{ $donateCta := .donateCta | default "Contribute" }}
{{ $donateGaCategory := .donateGaCategory | default "donate-prefill-lg" }}
{{ $donateGaForm := .donateGaForm | default "" }}
{{ $donateCampaign := .donateCampaign | default "7015G0000013oHVQAY" }}
{{ $donateTheme := .donateTheme | default "" }}
{{ $donateAmounts := .donateAmounts | default "10,15,25,50" }}

{{ $btnClass := ` mr-4 flex-[0_1_30%] outline-none min-w-[180px] inline-block rounded py-3 px-6 text-white font-sans font-black text-lg tracking-wide ring ring-transparent` }}
{{ $activeClass := `bg-red-6 text-white hover:bg-red-5 focus:ring-red-7 active:ring-red-9` }}
{{ $inactiveClass := `bg-s-2 text-s-9 hover:bg-s-3 focus:ring-s-7 active:ring-s-9` }}
{{ $radioClass  :=  `rounded-full border-s-1 appearance-none mr-4 order-first w-6 h-6 checked:bg-black shadow-[0_0_0_3px_rgba(255,255,255,1)]` }}

{{ $donateAmount := split $donateAmounts "," }}
{{ $donateFirst := index $donateAmounts 1 }}
{{ $donateDefault := int $donateFirst }}
<div class="{{ $wrapperClass }} box-content bg-blue px-2 py-14 md:px-0">
  <div
    data-ga-category=" {{ $donateGaCategory }}"
    class="no-js:hidden mx-auto w-full max-w-content"
    x-data="{
    active: '{{ $activeClass }}',
    inactive: '{{ $inactiveClass }}',
    buildClass(cs, val) {
      return Object.fromEntries(cs.split(/ /).map(c=>[c, val]));
    },
    init() {
      this.activeClasses = {
        ...this.buildClass(this.active, true),
        ...this.buildClass(this.inactive, false),
      }
      this.inactiveClasses = {
        ...this.buildClass(this.active, false),
        ...this.buildClass(this.inactive, true),
      }
    },
    amount: '{{ $donateDefault }}',
    freq: 'm',
    showOther: false,
    btnClass(cond) {
      return cond? this.activeClasses : this.inactiveClasses;
    },
    setAmt(freq, amount) {
      this.freq = freq;
      this.amount = amount;
      this.showOther = false;
    },
    get donateURL() {
      let campaign = this.$el.
        closest('[data-sf-campaign]')?.dataset.sfCampaign ||
        '701f4000000TVuDAAW';
      let theme =  this.$el.
        closest('[data-sf-theme]')?.dataset.sfTheme || '';
      let period = {
        o: 'once',
        m: 'monthly',
        y: 'yearly',
      }[this.freq];
      return `https://checkout.fundjournalism.org/memberform?org_id=spotlightpa&campaign=${campaign}&theme=${theme}&amount=${this.amount}&installmentPeriod=${period}&utm_source=spotlightpa.org&utm_medium=elections&utm_campaign=donate-prefill`;
    }
  }"
  >
    <div class="flex flex-wrap items-center">
      <h2
        class="flex-[0_1_614px] font-sans text-2xl font-black leading-none tracking-wide text-white sm:text-4xl md:text-5xl"
      >
        {{ $donateHed }}

      </h2>

      <div class="mt-6 flex flex-wrap justify-start gap-2">
        {{ define "tw-donate-prefill-button-lg" }}
          {{ $btnClass := ` mr-4 flex-[0_1_30%] outline-none min-w-[180px] inline-block rounded py-3 px-6 text-white font-sans font-black text-lg tracking-wide ring ring-transparent` }}
          {{ $inactiveClass := `bg-s-2 text-s-9 hover:bg-s-3 focus:ring-s-7 active:ring-s-9` }}

          {{ $amount := index . 0 }}
          {{ $period := index . 1 }}
          {{ $freq := index . 2 }}
          <button
            type="button"
            class="{{ $btnClass }} {{ $inactiveClass }}"
            :class="btnClass(amount === '{{ $amount }}')"
            @click="amount = '{{ $amount }}'"
            x-show="freq === '{{ $freq }}'"
          >
            ${{ $amount }}{{ $period }}
          </button>
        {{ end }}

        {{ with $donateAmount }}
          {{ range . }}
            {{ $amount := int . }}
            {{ $btn := slice $amount "/mo." "m" }}
            {{ template "tw-donate-prefill-button-lg" $btn }}
          {{ end }}

          {{ range . }}
            {{ $amount := int . }}
            {{ $donateYr := int . }}
            {{ $amount := mul $donateYr 12 }}
            {{ $btn := slice $amount "/yr." "y" }}
            {{ template "tw-donate-prefill-button-lg" $btn }}
          {{ end }}

          {{ range . }}
            {{ $donateYr := int . }}
            {{ $amount := mul $donateYr 12 }}
            {{ $btn := slice $amount "" "o" }}
            {{ template "tw-donate-prefill-button-lg" $btn }}
          {{ end }}

        {{ end }}


        <button
          type="button"
          x-cloak
          x-show="freq === 'o'"
          class="{{ $btnClass }} {{ $inactiveClass }}"
          :class="btnClass(showOther)"
          @click="showOther = !showOther"
        >
          Other
        </button>

        <button
          type="button"
          x-show="freq !== 'o'"
          class="{{ $btnClass }} {{ $inactiveClass }} hidden sm:inline-block"
          :class="btnClass(showOther)"
          @click="showOther = !showOther"
        >
          Other
        </button>
      </div>

      <div class="mt-8 flex-[0_0_100%]" x-cloak x-show="showOther" x-transition>
        <label for="other-amount" class="font-sans font-bold text-white">
          Other Amount:
        </label>
        <div class="relative mt-2">
          <input
            id="other-amount"
            type="text"
            class="placeholder-opacity-25outline-none block w-full appearance-none rounded border-2 border-s-4 bg-white py-2 pl-10 font-sans text-lg font-black tracking-wide placeholder-s-4 ring-1 ring-transparent focus:ring-red-4"
            inputmode="numeric"
            x-model="amount"
          />
          <span
            class="pointer-events-none absolute inset-y-0 left-0 z-10 inline-flex w-10 items-center justify-center text-xl font-semibold leading-none text-s-4"
            aria-hidden="true"
          >
            $
          </span>
        </div>
      </div>
      <div
        class="mt-12 mr-8 flex justify-start gap-2 font-sans text-lg font-extrabold text-white"
      >
        <label class="mr-10 flex flex-row items-center">
          Monthly
          <input
            type="radio"
            name="freq"
            class=" order-first mr-4 h-6 w-6 appearance-none rounded-full border-s-1 shadow-[0_0_0_3px_rgba(255,255,255,1)] checked:bg-black"
            :class="btnClass(freq === 'm')"
            @click="setAmt('m', '15')"
          />
        </label>
        <label class="mr-10 flex flex-row items-center">
          Yearly
          <input
            type="radio"
            name="freq"
            class=" order-first mr-4 h-6 w-6 appearance-none rounded-full border-s-1 shadow-[0_0_0_3px_rgba(255,255,255,1)] checked:bg-black"
            :class="btnClass(freq === 'y')"
            @click="setAmt('y', '{{ mul $donateDefault 12 }}')"
          />
        </label>
        <label class="flex flex-row items-center">
          One time
          <span class="hidden sm:inline">only</span>
          <input
            type="radio"
            name="freq"
            class=" order-first mr-4 h-6 w-6 appearance-none rounded-full border-s-1 shadow-[0_0_0_3px_rgba(255,255,255,1)] checked:bg-black"
            :class="btnClass(freq === 'o')"
            @click="setAmt('o', '{{ mul $donateDefault 12 }}')"
          />
        </label>
      </div>

      <div class="mt-12 text-center">
        <a
          class="{{ $btnClass }} inline-block min-w-[260px] rounded bg-red-6 px-6 py-3 tracking-wide text-white outline-none ring ring-transparent hover:bg-red-5 focus:ring-red-7 active:ring-red-9"
          :href="donateURL"
          data-ga-action="https://www.spotlightpa.org/donate/"
        >
          <span> {{- $donateCta -}} &rarr;</span>
        </a>
      </div>
    </div>
  </div>
</div>
