{{ $params := partialCached "helper/page-params" .Page .RelPermalink }}


<div class="mt-6 rounded bg-g-4 p-6 shadow" data-ga-category="editors-pick">
  <h2
    class="text-center font-sans text-base font-bold uppercase leading-none tracking-wider text-orange"
  >
    Editor’s Pick
  </h2>

  <article class="mt-6">
    <div class="mx-auto w-full flex-shrink-0 sm:w-64">
      {{ $name := .Page.Param "image" }}
      {{ $credit := .Page.Param "image-credit" }}
      {{ $description := .Page.Param "image-description" }}
      {{ $imgOpts := dict
        "filename" $name
        "credit" $credit
        "description" $description
        "link" .RelPermalink
        "widthRatio" 16
        "heightRatio" 9
        "widths" (slice 128 256 384 512 1280)
        "figClass" "mt-1"
        "sizeHint" "256px"
      }}
      {{ partial "tw/image-block.html" $imgOpts }}
    </div>
    <div class="group mx-auto mt-6 w-full flex-grow space-y-1 sm:w-64">
      <h3 class="text-lg font-semibold leading-tight tracking-tight text-black">
        <a
          class="group-hover:underline"
          href="{{ .RelPermalink }}"
          data-ga-category="hed"
        >
          {{ .LinkTitle }}
        </a>
      </h3>
      {{ if $params.byline }}
        <h4
          class="font-sans text-base font-normal leading-tight tracking-normal text-g-9"
        >
          <a
            href="{{ .RelPermalink }}"
            class="group-hover:underline"
            data-ga-category="byline"
          >
            by
            {{ $params.byline }}
          </a>
        </h4>
      {{ end }}
    </div>
  </article>
</div>
