{{ $pg := .Paginator 10 }}
{{ $pages := $pg.Pages }}


<section class="bg-white px-6 pt-16 ">
  <h1 class="text-center text-4xl font-semibold leading-none md:text-6xl">
    {{ .Title }}
  </h1>
  <h2
    class="mt-3 text-center text-3xl font-semibold leading-none text-g-6 md:text-4xl"
  >
    {{ .Param "dek" }}
  </h2>
  {{ if eq $pg.PageNumber 1 }}
    <nav class="mt-12">
      <ul class="mx-auto flex flex-wrap items-stretch justify-center gap-4">
        {{ range $i, $_ := .Param "links" }}
          <li class="contents">
            <a
              class="block whitespace-nowrap rounded-sm bg-blue-6 p-4 font-sans font-semibold text-white hover:bg-blue-4"
              href="{{ .link }}"
            >
              {{- .title -}}
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>

    <div
      x-data='{
    url: "https://unpkg.com/add-to-calendar-button@1.14.6/npm_dist/mjs/index.js",
    data(el) {
      return {
        name: el.dataset.name,
        startDate: el.dataset.date,
        endDate: el.dataset.date,
        options: ["Apple", "Google", "Outlook.com"],
        timeZone: "America/New_York",
        listStyle: "modal",
        iCalFileName: el.dataset.name,
      };
    },
  }'
      @mouseover.once="import(url)"
      class="mt-12 text-center"
    >
      <h2
        class="font-sans text-3xl font-bold uppercase leading-none tracking-wide"
      >
        Key Dates
      </h2>
      <ul class="mt-4 flex flex-col gap-3">
        {{ range .Param "dates" }}
          <li class="flex items-center justify-center gap-2 leading-none">
            <span class="text-lg">
              <em class="font-bold not-italic"> {{- .dateVerbose -}} </em>,
              {{ .name }}
            </span>
            <button
              @click.prevent="
              import(url).then((m) => m.atcb_action(data($el), $el))
            "
              class="flex items-baseline gap-1 border-b-4 border-transparent font-sans font-semibold text-g-6 hover:border-yellow"
              type="button"
              data-name="{{ .name }}"
              data-date="{{ .date }}"
            >
              <svg class="inline-block h-4 w-4 fill-current">
                <use href="#calendar-svg" />
              </svg>
              <span>Add to Calendar</span>
            </button>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</section>

{{ if .Content }}
  <div class="article-content mx-auto mt-12 max-w-prose leading-relaxed">
    {{ .Content }}
  </div>
{{ end }}


<section class="bg-white px-6 pt-12 pb-6 text-g-9">
  <nav class="mx-auto mt-12 max-w-prose">
    <h2
      class="font-sans text-xl font-extrabold uppercase leading-none tracking-wider"
    >
      Election Coverage from Spotlight&nbsp;PA
    </h2>
    <hr class="mt-1 border-2 border-black bg-black" />
    <div class="mt-3 flex flex-col space-y-8 sm:space-y-6" x-ref="archives">
      {{ range $page := $pages }}
        {{ partialCached "tw/story-list-date-eyebrow.html" $page $page.RelPermalink }}
      {{ end }}
    </div>
  </nav>

  {{ with $pg }}
    <nav
      class="mx-auto flex max-w-prose items-center justify-between gap-4 py-8 font-sans font-semibold"
      data-ga-category="paginator"
    >
      {{ if .HasPrev }}
        <span>
          <a
            class="
              outline-none inline-block rounded bg-blue-6 px-3 py-1
              uppercase text-white ring-2 ring-transparent
              hover:bg-blue-5 focus:ring-blue-4 active:ring-blue-7
            "
            href="{{ .Prev.URL }}"
          >
            {{- "← Newer" -}}
          </a>
        </span>
      {{ end }}
      {{ if .HasNext }}
        <span>
          <a
            class="
              outline-none inline-block rounded bg-blue-6 px-3 py-1
              uppercase text-white ring-2 ring-transparent
              hover:bg-blue-5 focus:ring-blue-4 active:ring-blue-7
            "
            href="{{ .Next.URL }}"
          >
            {{- "Older →" -}}
          </a>
        </span>
      {{ end }}
    </nav>
  {{ end }}

</section>
