{{ $featured := index . 0 }}
{{ $featuredParams := partialCached "helper/page-params" $featured.Page $featured.RelPermalink }}

{{ $subitems := slice }}
{{ range after 1 . }}
  {{ $params := partialCached "helper/page-params" . .RelPermalink }}
  {{ $subitems = $subitems | append (dict
    "link" $params.link
    "title" .LinkTitle
    )
  }}
{{ end }}

{{ $imgOpts := dict
  "filename" ($featured.Param "image")
  "credit" ($featured.Param "image-credit")
  "description" ($featured.Param "image-description")
  "gravity" ($featured.Param "image-gravity")
  "link" $featured.RelPermalink
  "widthRatio" 16
  "heightRatio" 9
  "widths" (slice 528 1056 1280)
  "sizeHint" "(min-width: 1080px) 528px, (min-width: 850px) 40vw, 90vw"
  "eager" true
}}
{{ partial "tw/thumb-item.html" (dict
  "imgOpts" $imgOpts
  "rubricLink" $featuredParams.rubric.RelPermalink
  "extendedEyebrow" $featuredParams.extendedKicker
  "eyebrow" $featuredParams.kicker
  "link" $featured.RelPermalink
  "hed" $featured.LinkTitle
  "dek" $featuredParams.blurb
  "byline" $featuredParams.byline
  "hedSize" `text-xl md:text-2xl lg:text-3xl font-semibold`
  "dekSize" "sm:text-base sm:leading-relaxed md:text-lg lg:text-xl"
  "subitemSize" "sm:text-sm md:text-base"
  "wrapperClass" "w-full"
  "thumbClass" "w-full mt-2"
  "storyClass" "flex-1"
  "subitems" $subitems
  )
}}
