{{ $featured := index . 0 }}
{{ $featuredParams := partialCached "helper/page-params" $featured.Page $featured.RelPermalink }}

{{ $kickerLink := $featuredParams.series | default $featuredParams.topic }}

{{ $imgOpts := dict
  "filename" ($featured.Param "image")
  "credit" ($featured.Param "image-credit")
  "description" ($featured.Param "image-description")
  "gravity" ($featured.Param "image-gravity")
  "link" $featured.RelPermalink
  "widthRatio" 16
  "heightRatio" 9
  "widths" (slice 528 1056 1280)
  "sizeHint" "(min-width: 1080px) 528px, (min-width: 850px) 40vw, 90vw"
}}

{{ partial "tw/thumb-h-item.html" (dict
  "imgOpts" $imgOpts
  "rubricLink" $kickerLink.RelPermalink
  "extendedEyebrow" $featuredParams.extendedKicker
  "eyebrow" $featuredParams.kicker
  "link" $featured.RelPermalink
  "hed" $featured.LinkTitle
  "dek" $featuredParams.blurb
  "byline" $featuredParams.byline
  "hedSize" "text-3xl"
  "thumbClass" "flex-1 py-6 md:pr-8 md:pb-8 md:pt-0"
  "storyClass" "flex-1"
  "subitems" $featured.Params.subhed
  )
}}

{{ if $featured.Params.subhed }}
  {{ $featured.Params.subhed }}
{{ end }}

{{ if gt (len .) 1 }}
  <ul class="list-inside font-sans font-light space-y-3 pt-5">
  {{ range after 1 . }}
    <li class="list-[square] leading-snug tracking-normal">
      <a class="text-dek hover:underline" href="{{ .RelPermalink }}"> {{ .LinkTitle }}</a>
      </li>
  {{ end }}
  </ul>
{{ end }}
