{{ $idEmail := partial "helper/new-id" . | printf "footer-newsletter-%s" }}


<div class="bg-beige font-sans print:hidden" data-fru-campaign="footer">
  {{ if not (.Param "suppress-footer-newsletter") }}
    {{ partial "tw/newsletter-box-lg.html" (dict
      "showLogo" true
      "newsletterDek" "Sign up for PA Post to understand what's happening across PA - in less than five minutes a day."
      "newsletterField" "newsletter/papost-hidden.html"
      )
    }}
  {{ end }}

  {{ if .Param "suppress-footer-newsletter" }}
  {{ end }}


  <nav
    class="gap-5 px-4 sm:grid sm:grid-cols-2 md:mx-auto md:mt-16 md:max-w-screen-lg md:grid-cols-4"
  >
    {{ $context := dict
      "category" "about"
      "menu" site.Menus.about
      "name" "About"
      "link" "/about/"
    }}
    {{ block "tw-footer" $context }}
      <div class="mt-10 text-lg" data-ga-category="{{ .category }}">
        <h3 class="font-bold uppercase tracking-wide hover:underline">
          <a
            class="transition-color text-black duration-500 hover:text-blue hover:underline"
            href="{{ .link }}"
            >{{ .name }}</a
          >
        </h3>
        <ul class="mt-3 space-y-4 leading-tight">
          {{ range .menu }}
            <li>
              <a
                class="transition-color block text-black duration-500 hover:text-blue hover:underline"
                href="{{ .URL }}"
                {{ with .Params.dispatch }}
                  x-data @click.prevent="$dispatch($el.dataset.dispatch)"
                  data-dispatch="{{ . }}"
                {{ end }}
              >
                {{- .Name -}}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    {{ $context = dict
      "category" "news"
      "menu" site.Menus.news
      "name" "News"
      "link" "/news/"
    }}
    {{ template "tw-footer" $context }}
    {{ $context = dict
      "category" "newsletters"
      "menu" site.Menus.newsletters
      "name" "Newsletters"
      "link" "/newsletters/"
    }}
    {{ template "tw-footer" $context }}
    {{ $context = dict
      "category" "support"
      "menu" site.Menus.support
      "name" "Donate"
      "link" "/donate"
    }}
    {{ block "tw-support" $context }}
      <div class="mt-10 text-lg" data-ga-category="{{ .category }}">
        <a
          data-fru-campaign="footer-promo"
          data-ga-category="donate"
          class="group relative flex w-40 items-center justify-around overflow-hidden rounded-md bg-gradient-to-r from-red-7 to-red p-2 hover:from-blue-7 hover:to-blue sm:flex sm:justify-center md:-my-1 md:px-4 md:py-2"
          href="{{ .link }}"
        >
          <span
            class="flex-0 relative inline-flex flex-wrap items-center text-xs font-bold uppercase leading-none tracking-wide text-white md:text-lg md:leading-none"
          >
            <svg
              class="mr-1 inline-block h-4 w-4 fill-current md:h-5 md:w-5"
              aria-hidden="true"
            >
              {{ partial "helper/svg.html" "heart" }}
            </svg>
            {{ .name }}
          </span>
        </a>
        <ul class="mt-3 space-y-4 leading-tight">
          {{ range .menu }}
            <li>
              <a
                class="transition-color block text-black duration-500 hover:text-blue hover:underline"
                href="{{ .URL }}"
                {{ with .Params.dispatch }}
                  x-data @click.prevent="$dispatch($el.dataset.dispatch)"
                  data-dispatch="{{ . }}"
                {{ end }}
              >
                {{- .Name -}}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

  </nav>
  <nav
    class="mt-10 px-4 tracking-wide md:mx-auto md:mt-16 md:max-w-screen-lg"
    data-ga-category="follow"
  >
    <h3 class="mb-4 text-lg font-bold uppercase">Follow Us</h3>
    <ul class="grid grid-flow-row auto-rows-min grid-cols-5 gap-6">
      {{ range .Site.Menus.social }}
        <li class="inline-flex">
          <a
            href="{{ .URL }}"
            class="inline-flex items-center hover:text-blue"
            {{ with .Params.dispatch }}
              x-data @click.prevent="$dispatch($el.dataset.dispatch)"
              data-dispatch="{{ . }}"
            {{ end }}
          >
            {{ $linkID := partial "helper/new-id.html" . }}
            {{ with .Params.icon }}
              <svg
                class="mr-1 h-4 w-4 fill-current"
                aria-labelledby="{{ $linkID }}"
              >
                {{ partial "helper/svg.html" . }}
              </svg>
            {{ end }}
            <span id="{{ $linkID }}" class="hidden md:inline">{{ .Name }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </nav>
  <div
    class="mt-10 px-4 pb-4 text-xs sm:flex sm:justify-between md:mx-auto md:mt-16 md:max-w-screen-lg"
  >
    <p class="text-center">
      &copy; {{ now.Format "2006" }} Spotlight PA.&nbsp;
      <br class="sm:hidden" />
      <a
        class="underline transition-colors duration-500 hover:text-blue"
        href="https://www.netlify.com/"
        >This site is powered by Netlify</a
      >
    </p>
    <div class="mt-10 flex justify-between sm:mt-0 sm:self-end">
      <a
        href="/about/terms/"
        class="underline transition-colors duration-500 hover:text-blue"
      >
        Terms of use
      </a>
      &nbsp;
      <a
        href="/about/privacy/"
        class="underline transition-colors duration-500 hover:text-blue"
      >
        Privacy policy
      </a>
    </div>
  </div>
</div>
