<nav class="bg-black px-4 py-8 font-sans uppercase text-white md:p-12">
  <div
    x-data
    x-intersect.once="$report({ target: $el })"
    data-ga-action="view:footer"
  ></div>
  <div class="flex max-w-screen-lg flex-col gap-6 print:!hidden lg:flex-row">
    <div class="max-w-xs flex-grow lg:order-last" data-ga-category="who">
      <p>
        <a
          href="/donate/"
          class="
            rounded-lg bg-red py-3 px-4
            font-sans text-base font-bold leading-none tracking-widest text-white
            ring-white transition-shadow duration-500 hover:shadow-beige
          "
          data-ga-category="logo"
        >
          <svg
            class="inline-block h-8 w-8 fill-current"
            role="img"
            aria-label="Spotlight PA logo"
          >
            <use xlink:href="#logo-svg"></use>
          </svg>
          Support Us
        </a>
      </p>
      <p class="mt-6 text-lg font-semibold">100% Essential Reporting</p>
      <p class="font-regular mt-3 normal-case">
        Spotlight PA relies on funding from
        <a class="text-yellow hover:underline" href="/support/"
          >foundations and readers like you</a
        >
        who are committed to accountability journalism that gets results.
      </p>
      <p class="font-regular mt-2 normal-case">
        If you value this reporting, please give a gift today at
        <a class="text-yellow hover:underline" href="/donate/"
          >spotlightpa.org/donate</a
        >.
      </p>
    </div>
    {{ $context := dict
      "category" "spotlightpa"
      "menu" site.Menus.footer
      "name" "Spotlight PA"
    }}
    {{ block "tw-footer" $context }}
      <div class="flex-1 text-lg" data-ga-category="{{ .category }}">
        <h3 class="font-bold">{{ .name }}</h3>
        <ul class="mt-6 space-y-3 leading-tight">
          {{ range .menu }}
            <li>
              <a
                class="block text-blue transition-colors duration-500 hover:text-yellow"
                href="{{ .URL }}"
                {{ with .Params.dispatch }}
                  x-data @click.prevent="$dispatch($el.dataset.dispatch)"
                  data-dispatch="{{ . }}"
                {{ end }}
              >
                {{- .Name -}}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    {{ $context = dict
      "category" "about"
      "menu" site.Menus.about
      "name" "About"
    }}
    {{ template "tw-footer" $context }}
    {{ $context = dict
      "category" "follow"
      "menu" site.Menus.social
      "name" "Follow Us"
    }}
    {{ template "tw-footer" $context }}
  </div>
  <p class="mt-12 text-center normal-case" data-ga-category="cdn">
    <a
      class="text-blue transition-colors duration-500 hover:text-yellow"
      href="https://www.netlify.com/"
      >This site is powered by Netlify</a
    >
  </p>
  <p class="mt-6 text-center">
    &copy; {{ now.Format "2006" }} <br />
    Spotlight PA <br />
    228 Walnut St., #11728 <br />
    Harrisburg, PA 17108-1728 <br />
  </p>
</nav>
