{{ $nlBox := page.Param "newsletter-box" |
  default "tw/newsletter-box-lg.html"
}}
{{ $imageDescription := page.Param "river-promo-description" }}
{{ $link := page.Param "river-promo-link" }}
{{ $desktopImages := page.Param "river-promo-desktop-images" }}
{{ $desktopWidth := page.Param "river-promo-desktop-width" }}
{{ $desktopHeight := page.Param "river-promo-desktop-height" }}
{{ $mobileImages := page.Param "river-promo-mobile-images" }}
{{ $mobileWidth := page.Param "river-promo-mobile-width" }}
{{ $mobileHeight := page.Param "river-promo-mobile-height" }}

{{ $btn := `inline-block
  rounded-lg bg-blue-6 py-3 px-4
  font-sans text-base font-bold
  uppercase leading-none tracking-widest
  text-white shadow
  outline-none ring-2 ring-transparent
  hover:bg-blue-5 focus:ring-blue-4 active:ring-blue-7`
}}


<div class="mx-auto mb-5 max-w-screen-xl space-y-6 md:space-y-12 lg:space-y-16">
  <div
    class="gap-y-14 md:grid md:grid-cols-9 xl:grid-cols-[repeat(14,_auto)] xl:items-stretch xl:justify-evenly"
  >
    {{ if .featuredStories }}
      <span
        class="row-start-1 mt-7 inline-flex w-[1px] bg-black md:col-start-6 md:mx-auto xl:col-start-4 xl:row-end-5 xl:mx-10"
      ></span>
      <div
        class="row-start-1 w-full md:col-span-5 md:col-start-1 xl:col-span-6 xl:col-start-5 xl:row-end-4 xl:max-w-lg"
      >
        {{ partial "tw/featured.html" .featuredStories }}
      </div>
      <span
        class="row-start-1 row-end-4 mt-7 hidden w-[1px] bg-black xl:col-start-11 xl:mx-10 xl:inline-flex"
      ></span>
    {{ end }}
    {{ if .pinnedStories }}
      <div
        class="md:col-span-9 md:row-start-3 xl:col-span-3 xl:col-start-1 xl:row-start-1 xl:row-end-5"
      >
        {{ $pages := .pinnedStories }}
        {{ partial "tw/list-3-row-story.html" (dict
          "pages" $pages
          "eyebrow" "rubric"
          "rubricLink" "rubric"
          )
        }}
      </div>
    {{ end }}
    <div
      class="order-4 col-span-3 row-start-1 mt-7 md:space-y-12 xl:col-start-12 xl:row-end-4"
    >
      <div
        class="flex w-full items-center justify-center border-t py-12 md:border-none md:py-0"
      >
        <span
          class="mx-auto flex h-[250px] w-[300px] items-center justify-center bg-g-4"
          >Ad</span
        >
      </div>
      <div class="w-full border-t py-12 md:border-none md:py-0 lg:max-w-xs">
        {{ partial "tw/rail-most-popular.html" dict }}
      </div>
    </div>
    <div
      data-ga-category="midpage"
      x-data="funnelStatus"
      class="row-start-4 md:col-span-9 xl:col-span-10"
    >
      <div
        class="md:relative md:overflow-hidden md:rounded"
        x-data="{ isSticky: true }"
        :class="isSticky ? '-mx-4 sticky bottom-0 md:mx-0' : 'relative mx-0 rounded overflow-hidden'"
      >
        <button
          class="flex text-g-4 md:hidden"
          x-on:click="isSticky = ! isSticky"
          :class="isSticky ? ' absolute -top-11 right-2' : 'hidden'"
        >
          <svg
            class="my-auto box-content h-5 w-5 fill-black p-3"
            style="margin-right: -2px;"
          >
            {{ partial "helper/svg.html" "close" }}
          </svg>
        </button>
        <div x-data="funnelStatus" x-show="!isSubscriber">
          {{ partial "tw/newsletter-box-lg.html" (dict
            "newsletterHed" (page.Param "newsletter-hed")
            "newsletterDek" (page.Param "newsletter-dek")
            "newsletterWrapper" "p-4 sm:py-8"
            )
          }}
        </div>
        <div data-ga-category="donate" x-cloak x-show="isSubscriber">
          {{ partial "tw/donate-prefill-lg-page.html" (dict
            "wrapperClass" "rounded overflow-hidden"
            "donateHed" (page.Param "donate-hed")
            "donateDek" (page.Param "donate-text")
            "donateCta" (page.Param "donate-cta")
            "donateGaCategory" (page.Param "donate-ga-category")
            "donateCampaign" (page.Param "donate-ga-campaign")
            "donateTheme" (page.Param "donate-theme")
            "donateAmounts" (page.Param "donate-amounts")
            )
          }}
        </div>
      </div>
    </div>
  </div>

  <div x-data x-intersect.once="$dispatch('open-sticky')"></div>

  <div
    class="mt-16 flex w-full items-center justify-center border-t py-12 md:mt-24 md:space-y-12 md:border-none md:py-0"
  >
    <span
      class="mx-auto flex h-[50px] w-80 items-center justify-center bg-g-4 md:h-[90px] md:w-[728px] lg:w-[970px]"
      >Ad</span
    >
  </div>

  <div class="mt-16 space-y-16 sm:space-y-24 md:mt-24">
    {{ if .editorPicksCallout }}
      {{ $pages := .editorPicksCallout }}
      {{ partial "tw/list-callout-story.html" (dict
        "hed" "Editor's Picks"
        "pages" $pages
        "eyebrow" "rubric"
        "rubricLink" "rubric"
        )
      }}
    {{ end }}

    {{ $pages := site.GetPage "content/topics/the-capitol/_index.md" }}
    {{ partial "tw/list-callout-story.html" (dict
      "hed" "The Capitol"
      "pages" $pages.RegularPages
      "rubricLink" "rubric"
      )
    }}

    {{ if .edInvestigations }}
      {{ $pages := .edInvestigations }}
      {{ partial "tw/list-callout-dark-story.html" (dict
        "hed" "Investigations"
        "pages" $pages
        "eyebrow" "rubric"
        "rubricLink" "rubric"
        "fullWidth" true
        )
      }}
    {{ end }}

    {{ if .edImpact }}
      {{ $pages := .edImpact }}
      {{ partial "tw/list-callout-story.html" (dict
        "hed" "Impact"
        "pages" $pages
        "eyebrow" "rubric"
        "rubricLink" "rubric"
        )
      }}
    {{ end }}

    {{ $pages := site.GetPage "content/newsletters/papost/_index.md" }}
    {{ partial "tw/list-callout-newsletter.html" (dict
      "hed" "Latest From Our Daily Newsletter"
      "pages" $pages.RegularPages
      "rubricLink" "rubric"
      )
    }}

    {{ $pages := site.GetPage "content/statecollege/_index.md" }}
    {{ partial "tw/list-callout-story.html" (dict
      "hed" "State College Bureau"
      "pages" $pages.RegularPages
      "rubricLink" "rubric"
      )
    }}
  </div>

  <div
    class="mt-16 flex w-full items-center justify-center border-t py-12 md:mt-24 md:space-y-12 md:border-none md:py-0"
  >
    <span
      class="mx-auto flex h-[50px] w-80 items-center justify-center bg-g-4 md:h-[90px] md:w-[728px] lg:w-[970px]"
      >Ad</span
    >
  </div>

  {{ if .river }}
    <div
      class="mx-auto mt-10 max-w-screen-xl items-stretch sm:flex sm:flex-wrap sm:gap-x-6 md:mt-16 lg:gap-x-8 lg:px-20"
      @mouseover.passive.once="load()"
      @touchstart.passive.once="load()"
    >
      <h2
        class="w-full border-b border-black font-sans text-3xl font-extrabold capitalize leading-tight tracking-wide"
      >
        More top stories
      </h2>

      <div
        class="flex-1 justify-between py-6 sm:w-2/3"
        x-ref="archives"
        data-ga-category="river"
        data-sf-campaign="701Dn000000YgodIAC"
      >
        <nav
          x-data="readmore(true)"
          x-ref="root"
          @mouseover.once="load()"
          @touchstart.passive.once="load()"
        >
          <div class="flex flex-col space-y-6 md:space-y-5" x-ref="archives">
            {{ range $i, $page := .river | first 12 }}
              {{ $params := partialCached "helper/page-params" . .RelPermalink }}
              {{ $imgOpts := dict
                "filename" (.Param "image")
                "credit" (.Param "image-credit")
                "description" (.Param "image-description")
                "link" $params.link
                "widthRatio" 5
                "heightRatio" 3
                "widths" (slice 128 256 384 512 1280)
                "figClass" "mt-1"
                "sizeHint" "(min-width: 850px) 328px, 90vw"
                "gravity" (.Param "image-gravity")
              }}
              <div data-ga-category="story-{{ add 1 $i }}">
                {{ $eyebrow := $params.kicker }}
                {{ $rubricLink := $params.link }}
                {{ $thumbClass := $params.thumbClass }}
                {{ if eq $.eyebrow "rubric" }}
                  {{ $eyebrow = $params.kicker }}
                {{ else if eq $.eyebrow "eventDate" }}
                  {{ $eyebrow = $params.eventDate | default $params.published }}
                {{ end }}
                {{ if eq $.rubricLink "rubric" }}
                  {{ $rubricLink = $params.rubric.RelPermalink }}
                {{ end }}
                {{ partial "tw/thumb-hv-item.html" (dict
                  "wrapperClass" "flex flex-wrap gap-x-4"
                  "thumbClass" "w-2/5 sm:w-full md:w-2/5"
                  "imgOpts" $imgOpts
                  "rubricLink" $rubricLink
                  "eyebrow" $eyebrow
                  "link" $params.link
                  "hed" .LinkTitle
                  "byline" $params.byline
                  "showDate" false
                  "showByline" $.showByline
                  "dek" $params.blurb
                  )
                }}
              </div>
              {{ if eq (mod $i 4) 3 | and $desktopImages }}
                <div
                  class="tile is-parent px-0 pt-0"
                  data-ga-category="{{ div $i 4 | add 1 }}"
                >
                  {{ partial "tw/promo-double.html" (dict
                    "class" "min-w-full no-js:hidden"
                    "imageDescription" $imageDescription
                    "link" $link
                    "desktopImages" $desktopImages
                    "desktopWidth" $desktopWidth
                    "desktopHeight" $desktopHeight
                    "mobileImages" $mobileImages
                    "mobileWidth" $mobileWidth
                    "mobileHeight" $mobileHeight
                    )
                  }}
                </div>
              {{ end }}
            {{ end }}
          </div>
          {{ partial "tw/related-articles-js.html" dict }}
          <div class="flex py-8">
            <div class="mx-auto">
              <a
                @click.prevent="click()"
                @mouseover.once="load()"
                @touchstart.passive.once="load()"
                data-ga-category="readmore:load"
                href="/news/"
                class="
            inline-block
            rounded-lg bg-blue-6 px-4 py-3
            font-sans text-base font-bold
            uppercase leading-none tracking-widest
            text-white shadow
            outline-none ring-2 ring-transparent
            hover:bg-blue-5 focus:ring-blue-4 active:ring-blue-7
          "
                :class="{ 'animate-pulse': hasClicked && isLoading }"
                :disabled="!canReadMore"
                >More Stories</a
              >
            </div>
          </div>
        </nav>
      </div>
      <div
        id="frontpage-sidebar"
        x-data="funnelStatus"
        class="flex flex-1 flex-col items-center justify-start gap-2 py-8 sm:w-1/3 sm:max-w-xs lg:self-stretch"
      >
        <div data-ga-category="top" data-sf-campaign="701Dn000000YgoeIAC">
          <div
            class="mx-auto flex h-[600px] w-[300px] items-center justify-center bg-g-4"
          >
            Ad
          </div>
        </div>

        {{ range .edPicks }}
          {{ if .page }}
            <div class="w-full sm:max-w-xs">
              {{ partial "tw/rail-picks.html" . }}
            </div>
          {{ end }}
        {{ end }}
        {{ if page.Param "sidebar-sticky-images" }}
          <div
            class="sticky top-0 mx-auto self-start"
            data-ga-category="sticky"
            data-sf-campaign="701Dn000000YgofIAC"
            x-intersect="$dispatch('close-sticky')"
          >
            {{ partial "tw/promo-single.html" (dict
              "class" "pt-5 min-w-full no-js:hidden"
              "images" (page.Param "sidebar-sticky-images")
              "width" (page.Param "sidebar-sticky-width")
              "height" (page.Param "sidebar-sticky-height")
              "link" (page.Param "sidebar-sticky-link")
              "description" (page.Param "sidebar-sticky-description")
              )
            }}
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>
