{{ $nlBox := page.Param "newsletter-box" |
  default "tw/newsletter-box-lg.html"
}}
{{ $imageDescription := page.Param "river-promo-description" }}
{{ $link := page.Param "river-promo-link" }}
{{ $desktopImages := page.Param "river-promo-desktop-images" }}
{{ $desktopWidth := page.Param "river-promo-desktop-width" }}
{{ $desktopHeight := page.Param "river-promo-desktop-height" }}
{{ $mobileImages := page.Param "river-promo-mobile-images" }}
{{ $mobileWidth := page.Param "river-promo-mobile-width" }}
{{ $mobileHeight := page.Param "river-promo-mobile-height" }}

{{ $hiddenField := .hiddenField }}
{{ $newsletterHed := .newsletterHed }}

{{ $blurb := .blurb }}
{{ $title := .title }}
{{ $btn := `inline-block
  rounded-lg bg-blue-6 py-3 px-4
  font-sans text-base font-bold
  uppercase leading-none tracking-widest
  text-white shadow
  outline-none ring-2 ring-transparent
  hover:bg-blue-5 focus:ring-blue-4 active:ring-blue-7`
}}


<div
  class="mx-auto max-w-screen-xl"
  x-data="{ isSticky: !$el.dataset.takeoverActive }"
  data-takeover-active="{{ cond (page.Param `takeover-active`) `1` `` }}"
>
  <div
    class="gap-y-14 md:grid md:grid-cols-9 xl:grid-cols-[repeat(14,_auto)] xl:items-stretch xl:justify-evenly"
  >
    {{ if .featuredStories }}
      <span
        class="row-start-1 mt-7 hidden w-[1px] bg-black md:col-start-6 md:mx-auto md:inline-flex xl:col-start-4 xl:row-end-5 xl:mx-10"
      ></span>
      <div
        class="row-start-1 w-full md:col-span-5 md:col-start-1 xl:col-span-6 xl:col-start-5 xl:row-end-4 xl:min-w-[512px]"
      >
        {{ partial "tw/featured.html" .featuredStories }}
      </div>
      <span
        class="row-start-1 row-end-4 mt-7 hidden w-[1px] bg-black xl:col-start-11 xl:mx-10 xl:inline-flex"
      ></span>
    {{ end }}
    {{ if .pinnedStories }}
      <div
        class="md:col-span-9 md:row-start-3 xl:col-span-3 xl:col-start-1 xl:row-start-1 xl:row-end-5"
      >
        {{ $pages := .pinnedStories }}
        {{ partial "tw/list-3-row-story.html" (dict
          "pages" $pages
          "eyebrow" "rubric"
          "rubricLink" "rubric"
          )
        }}
      </div>
    {{ end }}
    {{ with $blurb }}
      <div
        class="order-4 col-span-3 row-start-1 mt-9 xl:col-start-12 xl:row-end-4 xl:w-[300px]"
      >
        <div class="article-content rounded bg-black p-6 font-sans text-white">
          <h2 class="text-2xl font-extrabold">
            About our {{ $title }} coverage
          </h2>
          <div class="text-xl leading-relaxed">
            {{ . }}
          </div>
        </div>
        <div
          class="flex w-full items-center justify-center border-t py-12 md:mt-12 md:border-none md:py-0"
        >
          {{ if page.Param "ad-featured-active" }}
            {{ partial "tw/promo-single.html" (dict
              "class" "mx-auto flex items-center justify-center"
              "images" (page.Param "ad-featured-images")
              "width" 300
              "height" 250
              "link" (page.Param "ad-featured-link")
              "description" (page.Param "ad-featured-image-description")
              )
            }}
          {{ end }}
        </div>
      </div>
    {{ else }}
      <div
        class="order-4 col-span-3 row-start-1 mt-[34px] xl:col-start-12 xl:row-end-4 xl:w-[300px]"
      >
        <div
          class="flex w-full items-center justify-center border-t py-12 md:border-none md:py-0"
        >
          {{ if page.Param "ad-featured-active" }}
            {{ partial "tw/promo-single.html" (dict
              "class" "mx-auto flex items-center justify-center"
              "images" (page.Param "ad-featured-images")
              "gaCategory" "featured"
              "id" "featured"
              "width" 300
              "height" 250
              "link" (page.Param "ad-featured-link")
              "description" (page.Param "ad-featured-image-description")
              "eager" true
              )
            }}
          {{ end }}
        </div>
        <div
          class="w-full border-t py-12 md:mt-12 md:border-none md:py-0 lg:max-w-xs"
        >
          {{ partial "tw/rail-most-popular.html" dict }}
        </div>
      </div>
    {{ end }}
    <div
      data-ga-category="midpage"
      class="bottom-0 row-start-4 md:relative md:col-span-9 md:mx-0 md:overflow-hidden md:rounded xl:col-span-10"
      :class="isSticky ? '-mx-4 bottom-0 md:mx-0' : 'relative mx-0 rounded overflow-hidden'"
    >
      <div
        class="md:relative md:overflow-hidden md:rounded"
        x-data="funnelStatus"
      >
        <div x-show="!isSubscriber">
          {{ partial $nlBox (dict
            "newsletterHed" (page.Param "newsletter-hed")
            "newsletterDek" (page.Param "newsletter-dek")
            "newsletterWrapper" "bg-g-1 border border-g-4 rounded shadow-md p-4 sm:py-8 text-black"
            "newsletterField" (page.Param "newsletter-field")
            )
          }}
        </div>
        <div data-ga-category="donate" x-cloak x-show="isSubscriber">
          {{ partial "tw/donate-prefill-lg.html" (dict
            "donateHed" (page.Param "donate-hed")
            "donateDek" (page.Param "donate-text")
            "donateCta" (page.Param "donate-cta")
            "donateGaCategory" (page.Param "donate-ga-category")
            "donateCampaign" (page.Param "donate-ga-campaign")
            "donateTheme" (page.Param "donate-theme")
            "donateAmounts" (page.Param "donate-amounts")
            )
          }}
        </div>
      </div>
    </div>
  </div>

  <div x-data x-intersect.once="$dispatch('open-sticky')"></div>

  {{ if page.Param "ad-breaker-active" }}
    <div
      x-intersect:enter.margin.100px="isSticky = false"
      class="mt-16 flex w-full items-center justify-center border-t py-12 md:mt-24 md:border-none md:py-0"
      data-ga-category="breaker"
      id="breaker"
    >
      {{ partial "tw/promo-single.html" (dict
        "class" "mx-auto flex items-center justify-center"
        "images" (page.Param "ad-breaker-images")
        "width" 970
        "height" 90
        "link" (page.Param "ad-breaker-link")
        "description" (page.Param "ad-breaker-image-description")
        )
      }}
    </div>
  {{ end }}


  <div class="mt-16 flex flex-col gap-y-8 sm:gap-y-12">
    {{ if .editorPicksCallout }}
      {{ $pages := .editorPicksCallout }}
      {{ partial "tw/list-callout-story.html" (dict
        "hed" "Editor's Picks"
        "pages" $pages
        "eyebrow" "rubric"
        "rubricLink" "rubric"
        )
      }}
    {{ end }}
    {{ if .featuredTopics }}
      {{ $pages := site.GetPage "topics/the-capitol/_index.md" }}
      {{ partial "tw/list-callout-story.html" (dict
        "hed" "The Capitol"
        "pages" $pages.RegularPages
        "rubricLink" "rubric"
        )
      }}
    {{ end }}
    {{ if .edInvestigations }}
      {{ $pages := .edInvestigations }}
      {{ partial "tw/list-callout-dark-story.html" (dict
        "hed" "Investigations"
        "pages" $pages
        "eyebrow" "rubric"
        "rubricLink" "rubric"
        "fullWidth" true
        )
      }}
    {{ end }}

    {{ if .edImpact }}
      {{ $pages := .edImpact }}
      {{ partial "tw/list-callout-story.html" (dict
        "hed" "Impact"
        "pages" $pages
        "eyebrow" "rubric"
        "rubricLink" "rubric"
        )
      }}
    {{ end }}
    {{ if .showNewsletterCallout }}
      {{ $pages := .newsletterCalloutRiver }}
      {{ partial "tw/list-callout-newsletter.html" (dict
        "calloutHed" (page.Param "callout-hed")
        "signupHed" (page.Param "signup-hed")
        "signupDek" (page.Param "signup-dek")
        "signupCta" (page.Param "signup-cta")
        "signupImage" (page.Param "signup-image")
        "signupField" (page.Param "signup-field")
        "pages" $pages.RegularPages
        "rows" 1
        )
      }}
    {{ end }}
    {{ with $pages := .scBureau }}
      {{ partial "tw/list-callout-story.html" (dict
        "hed" "State College Bureau"
        "pages" $pages.RegularPages
        "rubricLink" "rubric"
        )
      }}
    {{ end }}
    {{ with $pages := .berksBureau }}
      {{ partial "tw/list-callout-story.html" (dict
        "hed" "Berks County Bureau"
        "pages" $pages.RegularPages
        "rubricLink" "rubric"
        "includeAll" true
        )
      }}
    {{ end }}
  </div>

  {{ if page.Param "ad-headwater-active" }}
    <div
      class="mt-16 flex w-full items-center justify-center border-t py-12 md:mt-24 md:gap-y-12 md:border-none md:py-0"
      data-ga-category="headwater"
      id="headwater"
    >
      {{ partial "tw/promo-single.html" (dict
        "class" "mx-auto flex items-center justify-center"
        "images" (page.Param "ad-headwater-images")
        "width" 970
        "height" 90
        "link" (page.Param "ad-headwater-link")
        "description" (page.Param "ad-headwater-image-description")
        )
      }}
    </div>
  {{ end }}

  {{ if .river }}
    <div
      class="mx-auto mt-10 max-w-screen-xl items-stretch sm:flex sm:flex-wrap sm:gap-x-6 md:mt-16 lg:gap-x-8 lg:px-20"
    >
      <h2
        class="w-full border-b border-black font-sans text-2xl font-extrabold capitalize leading-tight tracking-wide md:text-3xl"
      >
        {{ with .riverTitle }}
          More {{ . }} Stories
        {{ else }}
          More top stories
        {{ end }}
      </h2>

      <div
        class="flex-1 justify-between py-6 sm:w-2/3"
        x-ref="archives"
        id="river"
        data-ga-category="river"
        data-fru-campaign="river"
      >
        <nav
          x-data="readmore(true)"
          x-ref="root"
          @mouseover.once="load()"
          @touchstart.passive.once="load()"
        >
          <div class="flex flex-col gap-6 md:gap-5" x-ref="archives">
            {{ range $i, $page := .river | first 12 }}
              {{ $params := partialCached "helper/page-params" . .RelPermalink }}
              {{ $imgOpts := dict
                "filename" (.Param "image")
                "credit" (.Param "image-credit")
                "description" (.Param "image-description")
                "link" $params.link
                "widthRatio" 5
                "heightRatio" 3
                "widths" (slice 128 256 384 512 1280)
                "figClass" "mt-2"
                "sizeHint" "(min-width: 850px) 328px, 90vw"
                "gravity" (.Param "image-gravity")
              }}
              <div data-ga-category="story-{{ add 1 $i }}">
                {{ $eyebrow := $params.kicker }}
                {{ $rubricLink := $params.link }}
                {{ $thumbClass := $params.thumbClass }}
                {{ if eq $.eyebrow "rubric" }}
                  {{ $eyebrow = $params.kicker }}
                {{ else if eq $.eyebrow "eventDate" }}
                  {{ $eyebrow = $params.eventDate | default $params.published }}
                {{ end }}
                {{ if eq $.rubricLink "rubric" }}
                  {{ $rubricLink = $params.rubric.RelPermalink }}
                {{ end }}
                {{ partial "tw/thumb-item.html" (dict
                  "wrapperClass" "flex flex-wrap gap-x-4"
                  "thumbClass" "w-2/5 sm:w-full md:w-2/5"
                  "imgOpts" $imgOpts
                  "rubricLink" $rubricLink
                  "eyebrow" $eyebrow
                  "link" $params.link
                  "hed" .LinkTitle
                  "byline" $params.byline
                  "showDate" false
                  "showByline" $.showByline
                  "dek" $params.blurb
                  )
                }}
              </div>
              {{ if eq (mod $i 5) 3 | and $desktopImages }}
                <div
                  class="px-0 pt-0"
                  data-ga-category="{{ div $i 4 | add 1 }}"
                >
                  {{ partial "tw/promo-double.html" (dict
                    "class" "min-w-full no-js:hidden"
                    "imageDescription" $imageDescription
                    "link" $link
                    "desktopImages" $desktopImages
                    "desktopWidth" $desktopWidth
                    "desktopHeight" $desktopHeight
                    "mobileImages" $mobileImages
                    "mobileWidth" $mobileWidth
                    "mobileHeight" $mobileHeight
                    )
                  }}
                </div>
              {{ end }}
            {{ end }}
          </div>
          {{ partial "tw/related-articles-js.html" dict }}
          <div class="flex py-8">
            <div class="mx-auto">
              <a
                @click.prevent="click()"
                @mouseover.once="load()"
                @touchstart.passive.once="load()"
                data-ga-category="readmore:load"
                href="/news/"
                class="inline-block rounded-lg bg-blue-6 px-4 py-3 font-sans text-base font-bold uppercase leading-none tracking-widest text-white shadow outline-none ring-2 ring-transparent hover:bg-blue-5 focus:ring-blue-4 active:ring-blue-7"
                :class="{ 'animate-pulse': hasClicked && isLoading }"
                :disabled="!canReadMore"
                >More Stories</a
              >
            </div>
          </div>
        </nav>
      </div>
      <div
        id="frontpage-sidebar"
        x-data="funnelStatus"
        class="flex flex-1 flex-col items-center justify-start gap-2 py-8 sm:w-1/3 sm:max-w-xs lg:self-stretch"
      >
        <div data-ga-category="rail" id="rail" data-fru-campaign="sidebar">
          {{ if page.Param "ad-rail-active" }}
            {{ partial "tw/promo-single.html" (dict
              "class" "mx-auto flex items-center justify-center"
              "images" (page.Param "ad-rail-images")
              "width" 300
              "height" 600
              "link" (page.Param "ad-rail-link")
              "description" (page.Param "ad-rail-image-description")
              )
            }}
          {{ end }}
        </div>

        <div class="w-full sm:max-w-xs">
          {{ partial "tw/rail-events.html" (dict
            "label" "Upcoming Events"
            )
          }}
        </div>
        {{ range .edPicks }}

          {{ if .page }}
            <div class="w-full sm:max-w-xs">
              {{ partial "tw/rail-picks.html" . }}
            </div>
          {{ end }}
        {{ end }}
        {{ if page.Param "sidebar-sticky-images" }}
          <div
            class="sticky top-14 mx-auto self-start md:top-16"
            data-ga-category="sticky"
            data-fru-campaign="sidebar-sticky"
            x-intersect="$dispatch('close-sticky')"
          >
            {{ partial "tw/promo-single.html" (dict
              "id" "homepage-sticky"
              "class" "pt-5 min-w-full no-js:hidden"
              "images" (page.Param "sidebar-sticky-images")
              "width" (page.Param "sidebar-sticky-width")
              "height" (page.Param "sidebar-sticky-height")
              "link" (page.Param "sidebar-sticky-link")
              "description" (page.Param "sidebar-sticky-description")
              )
            }}
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}

  {{ if page.Param "ad-headwater-active" }}
    <div
      class="mt-16 flex w-full items-center justify-center border-t py-12 md:mt-24 md:border-none md:py-0"
      data-ga-category="headwater"
    >
      {{ partial "tw/promo-single.html" (dict
        "class" "mx-auto flex items-center justify-center"
        "images" (page.Param "ad-headwater-images")
        "width" 970
        "height" 90
        "link" (page.Param "ad-headwater-link")
        "description" (page.Param "ad-headwater-image-description")
        )
      }}
    </div>
  {{ end }}
</div>
