{{ $news := site.GetPage "/news/_index.md" }}

{{ $topperStories := partial "helper/get-picks" "topper" }}
{{ $topperStory := first 1 $topperStories }}

{{ $featuredStory := partial "helper/get-picks" "featuredStories" }}
{{ $featuredStory = last 1 $featuredStory }}

{{ $subfeatures := partial "helper/get-picks" "subfeatures" }}
{{ $subfeatures = $subfeatures | complement $featuredStory }}

{{ $featuredStories := $featuredStory | append $subfeatures }}

{{ $pinnedStories := partial "helper/get-picks" "topSlots" }}

{{ $editorPicksCallout := partial "helper/get-hp-picks" "edCallout" }}
{{ $edInvestigations := partial "helper/get-hp-picks" "edInvestigations" }}
{{ $edImpact := partial "helper/get-hp-picks" "edImpact" }}
{{ $featuredTopics := "topics/the-capitol/_index.md" }}

{{ $bureau := site.GetPage "/statecollege/" }}
{{ $river := sort $news.RegularPages ".PublishDate" "desc" }}
{{ $noIndex := where site.RegularPages ".Params.no-index" true }}
{{ $river = $river | complement $featuredStory $pinnedStories $topperStory $noIndex }}

{{ $hasPromo := .Param "promo-active" }}
{{ $marginClass := cond $hasPromo "has-margin-top-negative" "" }}
{{ if eq (len $featuredStory) 0 }}
  {{ $marginClass = "mt-4" }}
{{ end }}

{{ $edPicks := partial "helper/get-items" "sidebar" }}


<h1 class="sr-only">{{ .Title }}</h1>
{{ partial "tw/frontpage" (dict
  "featuredStories" $featuredStories
  "pinnedStories" $pinnedStories
  "editorPicksCallout" $editorPicksCallout
  "edInvestigations" $edInvestigations
  "edImpact" $edImpact

  "showNewsletterCallout" true
  "newsletterCalloutRiver" (site.GetPage "topics/PA Local/_index.md")
  "newsletterHed" "Latest From Our Daily Newsletter"
  "bureau" $bureau
  "river" $river
  "edPicks" $edPicks
  "marginClass" $marginClass
  "featuredTopics" $featuredTopics
  )
}}
