{{ $magicPixel := "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" | safeURL }}
{{ $padding := slice .width .height | partial "helper/aspect-ratio" }}
{{ $bgClass := cond (not .transparent) "bg-s-3" "" }}


<span class="mx-auto block max-w-full" style="width: {{ .width }}px;">
  <span
    class="{{ $bgClass }} relative block h-0 w-full overflow-hidden"
    style="padding-bottom: {{ $padding | printf `%0.3f` }}%;"
  >
    <img
      class="absolute inset-0 object-cover"
      {{ if len .images | eq 1 }}
        src="{{ index .images 0 }}"
        loading="lazy"
      {{ else }}
        x-data="imageRotator(JSON.parse($el.dataset.images))"
        data-images="{{ .images | jsonify }}" :src="choice"
        src="{{ $magicPixel }}"
      {{ end }}
      alt="{{ .description }}"
      width="{{ .width }}"
      height="{{ .height }}"
    />
  </span>
</span>
