{{ define "tw-image-block-picture" }}
  <picture
    class="block"
    {{ if .caption }}
      @click="showCaption = !showCaption"
    {{ end }}
    style="aspect-ratio: {{ .widthRatio }} / {{ .heightRatio }}"
  >
    {{ $isJPEG := in (string .srcset) ".jpeg" }}
    {{ if $isJPEG }}
      <source
        type="image/webp"
        srcset="{{ replace .srcset `.jpeg` `.webp` }}"
        {{ if .sizeHint }}
          sizes="(min-width: 640px) {{ .sizeHint }}, 90vw"
        {{ end }}
      />
    {{ end }}
    <img
      class="block w-full h-full object-cover"
      alt="{{ .description }}"
      title="{{ .description }}"
      src="{{ .imgSmallSrc }}"
      {{ if not $isJPEG }}
        srcset="{{ .srcset }}"
      {{ end }}
      {{ if not $isJPEG | and .sizeHint }}
        sizes="(min-width: 640px) {{ .sizeHint }}, 90vw"
      {{ end }}
      {{ if not .eager }}
        loading="lazy" decoding="async"
      {{ end }}
      width="{{ .width }}"
      height="{{ .height }}"
    />
  </picture>
  {{ if not .showCaption | and .caption }}
    <figcaption
      class="
          absolute p-4 bottom-0 inset-x-0 {{ if .rounded }}
        rounded-b overflow-hidden
      {{ end }}
          backdrop-filter backdrop-blur-sm backdrop-brightness-50
          backdrop-fallback
          font-sans text-base text-g-1
        "
      x-cloak
      x-show="showCaption"
      @click="showCaption = false"
    >
      {{ .caption }}
    </figcaption>
  {{ end }}
{{ end }}

{{ $widths := .widths }}
{{ $imagename := .filename | default "2019/11/banner-white-on-capitol.jpeg" }}
{{ $widthR := .widthRatio | default 16 }}
{{ $heightR := .heightRatio | default 9 }}
{{ $imgClass := printf "is-%dby%d" $widthR $heightR }}
{{ $credit := .credit }}
{{ $eager := .eager | default false }}
{{ $rounded := cond (.rounded|not|not) "rounded" "" }}

{{ $sizes := dict "widths" $widths "widthRatio" $widthR "heightRatio" $heightR | partial "helper/build-sizes" }}
{{ $srcset := dict "sizes" $sizes "filename" $imagename | partial "helper/build-srcset" }}

{{ $width := (index $sizes 0).width }}
{{ $height := (index $sizes 0).height }}
{{ $padding := slice $widthR $heightR | partial "helper/aspect-ratio" }}
{{ $imgOpt := dict "filename" $imagename "width" $width "height" $height }}
{{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}
{{ $showCaption := .showCaption | default false }}

{{ $pictOpts := dict
  "srcset" $srcset
  "imgSmallSrc" $imgSmallSrc
  "sizeHint" .sizeHint
  "description" .description
  "eager" $eager
  "rounded" $rounded
  "showCaption" $showCaption
  "caption" .caption
  "width" $width
  "height" $height
  "widthRatio" $widthR
  "heightRatio" $heightR
}}


<figure
  class="{{ .figClass }}"
  data-ga-category="thumb"
  x-data="{ showCaption: false }"
  {{ if not $showCaption }}
    x-effect="showCaption && $report({ target: $el })"
  {{ end }}
  data-ga-action="image:toggle-caption"
>
  {{- if .link -}}
    <a
      class="
        relative block w-full shadow overflow-hidden bg-g-4
        {{ $rounded }}
      "
      href="{{ .link }}"
    >
      {{- template "tw-image-block-picture" $pictOpts -}}
    </a>
  {{- else -}}
    <div
      class="
        relative block w-full shadow overflow-hidden bg-g-4
        {{ $rounded }}
        {{ if not $showCaption | and .caption }}cursor-pointer{{ end }}
      "
    >
      {{- template "tw-image-block-picture" $pictOpts -}}
    </div>
  {{- end -}}

  {{ with $credit }}
    <figcaption
      class="mt-1 px-1 w-full text-right font-sans text-g-6 text-sm uppercase leading-tight"
    >
      {{ $credit }}
    </figcaption>
  {{ end }}
  {{ if $showCaption }}
    <figcaption class="mt-2 mx-auto text-g-8 text-sm font-sans leading-tight">
      {{ .caption }}
    </figcaption>
  {{ end }}
</figure>
