{{ define "tw-image-block-picture" }}
  {{ $aspect := printf "aspect-[%d/%d]" .widthRatio .heightRatio }}
  <picture
    class="{{ $aspect }} block"
    {{ if .caption }}
      @click="showCaption = !showCaption"
    {{ end }}
  >
    {{ $isJPEG := in (string .srcset) ".jpeg" }}
    {{ if $isJPEG }}
      <source
        type="image/webp"
        srcset="{{ replace .srcset `.jpeg` `.webp` }}"
        {{ with .sizeHint }}
          sizes="{{ . }}"
        {{ end }}
      />
    {{ end }}
    <img
      class="block h-full w-full object-cover"
      alt="{{ .description }}"
      title="{{ .description }}"
      src="{{ .imgSmallSrc }}"
      {{ if not $isJPEG }}
        srcset="{{ .srcset }}"
      {{ end }}
      {{ if not $isJPEG | and .sizeHint }}
        sizes="{{ .sizeHint }}"
      {{ end }}
      {{ if not .eager }}
        loading="lazy" decoding="async"
      {{ end }}
      width="{{ .width }}"
      height="{{ .height }}"
    />
  </picture>
  {{ if not .showCaption | and .caption }}
    <figcaption
      class="
        {{ if .rounded }}rounded-b overflow-hidden{{ end }}
        backdrop-fallback absolute inset-x-0 bottom-0 p-4
        font-sans text-base text-s-0
        backdrop-blur-sm backdrop-brightness-50 backdrop-filter
      "
      x-cloak
      x-show="showCaption"
      @click="showCaption = false"
    >
      {{ .caption }}
    </figcaption>
  {{ end }}
{{ end }}

{{ $widths := .widths }}
{{ $imagename := .filename | default "2019/11/banner-white-on-capitol.jpeg" }}
{{ $widthR := .widthRatio | default 16 }}
{{ $heightR := .heightRatio | default 9 }}
{{ $imgClass := printf "is-%dby%d" $widthR $heightR }}
{{ $credit := .credit }}
{{ $eager := .eager | default false }}
{{ $gravity := .gravity }}
{{ $rounded := cond (.rounded|not|not) "rounded" "" }}
{{ $creditClass := .creditClass | default "mt-1 w-full px-1 text-right font-sans text-sm uppercase leading-tight text-s-7" }}

{{ $sizes :=  partial "helper/build-sizes" (dict
  "widths" $widths
  "widthRatio" $widthR
  "heightRatio" $heightR
  )
}}
{{ $srcset := partial "helper/build-srcset" (dict
  "sizes" $sizes
  "filename" $imagename
  "gravity" $gravity
  )
}}

{{ $width := (index $sizes 0).width }}
{{ $height := (index $sizes 0).height }}
{{ $padding := slice $widthR $heightR | partial "helper/aspect-ratio" }}
{{ $imgOpt := dict
  "filename" $imagename
  "width" $width
  "height" $height
  "gravity" $gravity
}}
{{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}
{{ $showCaption := .showCaption | default false }}

{{ $pictOpts := dict
  "srcset" $srcset
  "imgSmallSrc" $imgSmallSrc
  "sizeHint" .sizeHint
  "description" .description
  "eager" $eager
  "rounded" $rounded
  "showCaption" $showCaption
  "caption" .caption
  "width" $width
  "height" $height
  "widthRatio" $widthR
  "heightRatio" $heightR
}}


<figure
  class="{{ .figClass }}"
  data-ga-category="thumb"
  x-data="{ showCaption: false }"
  {{ if not $showCaption | and .caption }}
    x-effect="showCaption && $report({ target: $el })"
    data-ga-action="image:toggle-caption"
  {{ end }}
>
  {{- if .link -}}
    <a
      class="
        {{ $rounded }}
        relative block w-full overflow-hidden bg-s-3 shadow
      "
      href="{{ .link }}"
    >
      {{- template "tw-image-block-picture" $pictOpts -}}
    </a>
  {{- else -}}
    <div
      class="
        {{ $rounded }}
        {{ if not $showCaption | and .caption }}cursor-pointer{{ end }}
        relative block w-full overflow-hidden bg-s-3 shadow
      "
    >
      {{- template "tw-image-block-picture" $pictOpts -}}
    </div>
  {{- end -}}

  {{ with $credit }}
    <figcaption class="{{ $creditClass }}">
      {{ $credit }}
    </figcaption>
  {{ end }}
  {{ if $showCaption }}
    <figcaption class="mx-auto mt-2 font-sans text-sm leading-tight text-s-8">
      {{ .caption }}
    </figcaption>
  {{ end }}
</figure>
