{{ $magicPixel := "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" | safeURL }}
{{ $bgClass := cond (not .transparent) "bg-g-3" "" }}


<img
  class="{{ $bgClass }} block h-auto max-w-full object-cover"
  style="width: {{ .width }}px; aspect-ratio: {{ .width }} / {{ .height }};"
  {{ if len .images | eq 1 }}
    src="{{ index .images 0 }}"
    {{ if .eager }}
      fetchpriority="high"
    {{ else }}
      loading="lazy"
    {{ end }}
  {{ else }}
    x-data="imageRotator(JSON.parse($el.dataset.images))"
    data-images="{{ .images | jsonify }}" :src="choice" src="{{ $magicPixel }}"
    {{ if .eager }}
      :fetchpriority="'high'"
    {{ else }}
      :loading="'lazy'"
    {{ end }}
  {{ end }}
  alt="{{ .description }}"
  width="{{ .width }}"
  height="{{ .height }}"
/>
