{{ $jsOpts := dict
  "minify" true
}}
{{ $js := resources.Get "js/esbuild/smoothscroll.js" | js.Build $jsOpts }}
<script type="module">
  {{ $js.Content | safeJS }}
</script>
<!-- Tabs -->
<div class="relative col-span-8 col-start-1 row-start-4 mb-5 md:col-span-14">
  <div x-data="carousel">
    <div
      x-on:keydown.right="next"
      x-on:keydown.left="prev"
      tabindex="0"
      role="region"
      aria-labelledby="carousel-label"
      class="grid w-full grid-rows-1 gap-2 md:grid md:grid-cols-14 md:gap-5"
    >
      <!-- Prev Button -->
      <button
        x-on:click="prev"
        class="col-1 col-start-1 row-start-1 flex w-10 items-center justify-center text-6xl"
        :aria-disabled="atBeginning"
        :tabindex="atBeginning ? -1 : 0"
        :class="{ 'opacity-25 cursor-not-allowed': atBeginning }"
      >
        <span aria-hidden="true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="text-gray-600 h-12 w-12"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="3"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </span>
        <span class="sr-only">Skip to previous slide page</span>
      </button>
      <div
        x-ref="slider"
        tabindex="0"
        role="listbox"
        style="scroll-snap-type: x mandatory"
        class="relative col-span-2 col-start-2 row-start-1 m-0 flex items-start justify-start overflow-y-hidden overflow-x-scroll bg-g-7 md:col-end-15 md:row-start-1"
      >
        <ul
          @keydown.right.prevent.stop="$focus.wrap().next()"
          @keydown.home.prevent.stop="$focus.first()"
          @keydown.page-up.prevent.stop="$focus.first()"
          @keydown.left.prevent.stop="$focus.wrap().prev()"
          @keydown.end.prevent.stop="$focus.last()"
          @keydown.page-down.prevent.stop="$focus.last()"
          x-ref="slider"
          role="tablist"
          tabindex="0"
          style="scroll-snap-type: x mandatory"
          class="relative col-span-8 col-start-2 m-0 flex items-start justify-start overflow-y-hidden overflow-x-scroll bg-g-7 pr-16 md:col-end-15"
          style="scroll-snap-type: x mandatory;"
        >
          <!-- Tab -->
          {{ range $i, $story := sort .impactStories "date" "desc" }}
            {{ if .page }}
              <li
                data-ga-category="selected-impact"
                x-bind="disableNextAndPreviousButtons"
                role="option"
                class="box-content flex w-40 flex-shrink-0 flex-col items-stretch gap-3 pr-6 font-sans md:w-[442px] md:flex-row"
                style="scroll-snap-align: end;"
              >
                <button
                  @click="$dispatch('focus-panel', +$el.dataset.pos)"
                  data-pos="{{ $i }}"
                  type="button"
                  x-bind="focusableWhenVisible"
                  class="flex flex-shrink-0 flex-col items-stretch gap-3 font-sans md:w-[442px] md:flex-row"
                  role="tab"
                >
                  <div class=" order-1 text-left text-base text-white md:w-1/2">
                    <span
                      class="inline-block border-2 border-eyebrow-bg bg-white px-2 font-sans text-xs font-semibold uppercase text-black md:text-sm"
                      data-ga-category="eyebrow"
                      >{{ .eyebrow }}</span
                    >
                    <p class="mt-3 text-sm">{{ .dek }}</p>
                  </div>
                  {{ $name := .page.Param "image" }}
                  {{ $credit := .page.Param "image-credit" }}
                  {{ $description := .page.Param "image-description" }}
                  {{ $imgOpts := dict
                    "filename" $name
                    "description" $description
                    "widthRatio" 50
                    "heightRatio" 30
                    "widths" (slice 576 488 2880 1920)
                    "figClass" "md:w-1/2 overflow-hidden"
                    "sizeHint" "400px"
                    "gravity" (.page.Param "image-gravity")
                  }}
                  {{ partial "tw/image-block.html" $imgOpts }}
                </button>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
      <button
        @click="next()"
        class="z-10 col-start-3 row-start-1 flex w-10 items-center justify-center bg-gradient-to-r from-transparent to-s-7 text-6xl md:col-start-14 md:row-start-1 md:w-auto"
        :aria-disabled="atEnd"
        :tabindex="atEnd ? -1 : 0"
        :class="{ 'opacity-50 cursor-not-allowed': atEnd }"
      >
        <span aria-hidden="true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="text-gray-600 h-12 w-12"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="3"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </span>
        <span class="sr-only">Skip to next slide page</span>
      </button>
    </div>
  </div>
</div>
