{{ $gaForm := .Param "gaForm" }}
{{ $gaCategory := .Param "gaCategory" }}
{{ $hiddenField := .Param "hiddenField" }}
{{ $cta := .Param "cta" }}
{{ $buttonLink := .Param "button-link" }}
{{ $ctaDescription := .Param "ctaDescription" }}
{{ $ctaSecondDescription := .Param "ctaSecondDescription" }}

{{ $idEmail := partial "helper/new-id" . }}

{{ if not (.Param "email-false") }}
  <form
    class="mt-4 font-sans text-black"
    x-data="newsletter($el.dataset.baseUrl)"
    data-base-url="{{ page.Param `newsletters-base-url` }}"
    @submit.prevent="submit"
    data-ga-category="{{ $gaCategory }}"
  >
    {{ partial $hiddenField . }}


    <div
      class="border-g-4 flex h-[44px] w-full items-center justify-between rounded-md border bg-white px-[20px]"
    >
      <input
        id="{{ $idEmail }}"
        class="text-g-8 placeholder-g-6 w-full bg-white font-bold focus:outline-hidden"
        type="email"
        name="EMAIL"
        placeholder="Email address"
        required
      />
      <svg
        aria-hidden="true"
        class="text-g-4 ml-2 h-[20px] w-[20px] fill-current"
      >
        {{ partial "helper/svg.html" "envelope" }}
      </svg>
    </div>

    <button
      type="submit"
      class="btn-signup border-yellow-5 bg-yellow text-yellow-9 mt-4 flex h-[44px] w-full items-center justify-center rounded-md border-[3px] text-lg font-bold uppercase"
      :disabled="isLoading"
    >
      {{ $cta }}
      <svg
        x-cloak
        x-transition
        aria-label="Submitting"
        x-show="isLoading"
        class="-mt-0.5 ml-1 inline-block h-4 w-4 animate-spin fill-current"
      >
        {{ partial "helper/svg.html" "spinner" }}
      </svg>
    </button>
  </form>
{{ else }}
  {{ with $ctaDescription }}
    <p
      class="text-g-3 [&>a]:text-blue [&>a]:hover:text-yellow text-left text-sm [&>a]:font-semibold [&>a]:underline"
    >
      {{ . | $.Page.RenderString }}
    </p>
  {{ end }}


  <a
    href="{{ or $buttonLink `#` }}"
    class="btn-signup border-yellow-5 bg-yellow text-yellow-9 mt-4 flex h-[44px] w-full items-center justify-center rounded-md border-[3px] font-sans text-lg font-bold uppercase"
    data-ga-category="{{ $gaCategory }}"
    data-ga-form="{{ $gaForm }}"
    rel="noopener"
  >
    {{ $cta }}
  </a>
{{ end }}

{{ with $ctaSecondDescription }}
  <p
    class="text-g-3 [&>a]:text-blue [&>a]:hover:text-yellow mt-4 text-left text-sm [&>a]:font-semibold [&>a]:underline"
  >
    {{ . | $.Page.RenderString }}
  </p>
{{ end }}
