{{ $idEmail := partial "helper/new-id" . }}
<form
  class="mx-auto my-6 max-w-3xl overflow-hidden rounded border border-s-3 bg-white px-6 pb-6 font-sans text-black shadow md:my-8 md:px-8 md:pb-8
  "
  x-data="{ active: false }"
  @focusin="active = true"
  x-form="newsletters:talkofthetown"
  data-ga-category="tout"
  action="{{ .Page.Param `newsletters-action` }}"
  method="post"
  target="_blank"
>
  {{ partial "newsletter/talkofthetown-hidden.html" . }}
  <h6
    class=" -ml-6 inline-block border-2 border-eyebrow-bg bg-eyebrow-bg px-2 font-sans text-sm font-semibold uppercase leading-relaxed text-eyebrow md:-ml-8"
  >
    Newsletters
  </h6>

  <p class="mx-auto mt-6 max-w-xl text-center text-lg font-bold leading-tight">
    Sign up for <b>Talk of the Town</b>, a free weekly newsletter with top news
    and notes for North-Central PA by Spotlight PA’s State College regional
    bureau.
  </p>
  <div class="mx-auto mt-8 items-stretch sm:flex sm:max-w-2xl">
    <p class="relative flex-grow">
      <label class="sr-only" for="{{ $idEmail }}">Email address</label>
      <input
        id="{{ $idEmail }}"
        class="spl-input text-lg"
        type="email"
        name="EMAIL"
        placeholder="Email address"
        required
      />
      <span
        class="pointer-events-none absolute inset-y-0 right-3 inline-flex items-center text-s-4"
        aria-hidden="true"
      >
        <svg class="h-4 w-4 fill-current">
          {{ partial "helper/svg.html" "email" }}
        </svg>
      </span>
    </p>
    <p class="mt-4 sm:mt-0 sm:ml-1">
      <button class="btn-signup" type="submit">Sign Up</button>
    </p>
  </div>
  <p class="mx-auto mt-4 text-center text-sm font-normal leading-tight">
    <b>Talk of the Town</b> is delivered straight to your inbox every Thursday.
  </p>
</form>
