{{ $imgOpts := dict
  "widths" (slice 128 256 384 512 1280)
  "figClass" ""
  "creditClass" "mt-1 w-full px-1 text-right font-sans text-xs uppercase leading-tight text-g-7"
  "rounded" true

  "filename" "2023/01/01hv-rnbb-kdh9-51jb.jpeg"
  "credit" ""
  "description" "Penn State Transparency Tracker"
  "eager" true
  "link" ""
  "widthRatio" 16
  "heightRatio" 9
  "gravity" "ce"
  "sizeHint" "40vw"
}}
<a
  href="/statecollege/transparency-tracker"
  class="block space-y-4 border-t-4 border-yellow bg-black px-4 py-8 font-sans text-white sm:grid sm:grid-cols-[minmax(60px,_302px)_minmax(200px,_444px)_218px] sm:grid-rows-[1fr_auto_auto] sm:justify-center sm:gap-x-5 sm:gap-y-2 sm:space-y-0"
>
  <div class="row-start-1 row-end-4">
    {{ partial "tw/image-block.html" $imgOpts }}
  </div>
  <h2
    class="col-start-2 col-end-4 text-2xl font-bold uppercase tracking-widest sm:text-3xl"
  >
    Holding Penn State Accountable
  </h2>
  <p class="col-start-2 col-end-4 max-w-xl">
    The Penn State Transparency Tracker is an ongoing effort by Spotlight PA to
    document and share the ways in which the university is, and is not, being
    transparent with the community.
  </p>
  <span class="btn-signup row-start-3 block">Visit the tracker</span>
</a>
