{{ $gaForm := .gaForm }}
{{ $gaCategory := .gaCategory }}
{{ $hiddenField := .hiddenField }}
{{ $hed := .hed }}
{{ $cta := .cta }}

{{ $idFname := partial "helper/new-id" . }}
{{ $idLname := partial "helper/new-id" . }}
{{ $idEmail := partial "helper/new-id" . }}


<section data-ga-category="inline">
  <form
    class="p-1 font-sans text-black"
    x-data="newsletter($el.dataset.baseUrl)"
    data-base-url="{{ page.Param `newsletters-base-url` }}"
    @submit.prevent="submit"
    data-ga-category="{{ $gaCategory }}"
  >
    {{ partial $hiddenField . }}
    <h2 class="mt-8 text-3xl font-extrabold">
      {{ $hed }}
    </h2>

    <label class="mt-8 block font-extrabold" for="{{ $idFname }}">
      First Name
    </label>
    <p>
      <input
        id="{{ $idFname }}"
        class="spl-input"
        type="text"
        name="FNAME"
        placeholder="First Name"
        required
      />
    </p>

    <label class="mt-4 block font-extrabold" for="{{ $idLname }}">
      Last Name
    </label>
    <p>
      <input
        id="{{ $idLname }}"
        class="spl-input"
        type="text"
        name="LNAME"
        placeholder="Last Name"
        required
      />
    </p>
    <label class="mt-4 block font-extrabold" for="{{ $idEmail }}">
      Email Address
    </label>
    <p class="relative">
      <input
        id="{{ $idEmail }}"
        class="spl-input"
        type="email"
        name="EMAIL"
        placeholder="Email address"
        required
      />
    </p>
    <button type="submit" class="btn-signup mt-4" :disabled="isLoading">
      {{ $cta }}
      <svg
        x-cloak
        x-transition
        aria-label="Submitting"
        x-show="isLoading"
        class="-mt-1 inline-block h-4 w-4 animate-spin fill-current"
      >
        {{ partial "helper/svg.html" "spinner" }}
      </svg>
    </button>
  </form>
</section>
