{{ $gaForm := .gaForm }}
{{ $gaCategory := .gaCategory }}
{{ $hiddenField := .hiddenField }}
{{ $hed := .hed }}
{{ $cta := .cta }}

{{ $idFname := partial "helper/new-id" .dot }}
{{ $idLname := partial "helper/new-id" .dot }}
{{ $idEmail := partial "helper/new-id" .dot }}


<section data-ga-category="inline">
  <form
    action="{{ site.Param `newsletters-action` }}"
    method="post"
    target="_blank"
    class="p-1 font-sans text-black"
    data-ga-form="{{ $gaForm }}"
    data-ga-category="{{ $gaCategory }}"
  >
    {{ partial $hiddenField . }}
    <h2 class="mt-8 text-3xl font-extrabold">
      {{ $hed }}
    </h2>

    <label class="mt-8 block font-extrabold" for="{{ $idFname }}">
      First Name
    </label>
    <p>
      <input
        id="{{ $idFname }}"
        class="spl-input"
        type="text"
        name="FNAME"
        placeholder="First Name"
        required
      />
    </p>

    <label class="mt-4 block font-extrabold" for="{{ $idLname }}">
      Last Name
    </label>
    <p>
      <input
        id="{{ $idLname }}"
        class="spl-input"
        type="text"
        name="LNAME"
        placeholder="Last Name"
        required
      />
    </p>
    <label class="mt-4 block font-extrabold" for="{{ $idEmail }}">
      Email Address
    </label>
    <p class="relative">
      <input
        id="{{ $idEmail }}"
        class="spl-input"
        type="email"
        name="EMAIL"
        placeholder="Email address"
        required
      />
    </p>
    <button type="submit" class="btn-signup mt-4">
      {{ $cta }}
    </button>
  </form>
</section>
