<div
  class="mx-auto flex max-w-screen-xl  flex-col md:flex-row"
  data-ga-category="sticky"
>
  <div class="no-js:hidden relative mx-auto w-96 max-w-full md:hidden">
    <select
      x-data
      @change="
        window.location.assign($event.target.value);
        $report({
          target: $el,
          currentTarget: window.location,
        });
      "
      class="spl-select text-xl"
    >
      <option disabled selected>Jump to Section…</option>
      {{ range .Param "internal-links" }}
        <option value="#{{ .link }}">{{- .title -}}</option>
      {{ end }}
    </select>
    <span
      class="pointer-events-none absolute inset-y-0 right-3 z-10 inline-flex items-center justify-center leading-none text-s-6"
      aria-hidden="true"
    >
      <svg class="h-4 w-4 fill-s-5">
        {{ partial "helper/svg.html" "chevron" }}
      </svg>
    </span>
  </div>

  <div
    class="mx-auto hidden w-full flex-wrap justify-start lg:py-3 font-sans md:flex"
  >
    {{ range .Param "internal-links" }}
      <a
        data-about-id="{{ .link }}"
        data-ga-category="item"
        class="
            my-2 mr-3 inline-flex w-auto items-center rounded border text-sm
            border-black px-4 py-2 lg:mr-5
            lg:text-base leading-4
            last:ml-auto last:mr-0
            hover:border-red-7 hover:text-red-7
            active:bg-black active:text-white
            lg:my-0
          "
        :class="
            aboutActive === $el.dataset.aboutId ?
            'bg-black text-white hover:border-blue-3 hover:text-blue-3' :
            ''
          "
        href="#{{ .link }}"
        ><span>
          {{- .title -}}
        </span></a
      >
    {{ end }}
  </div>
</div>
