{{ $pages := .pages }}
{{ if not .includeAll }}
  {{ $featuredStory := partial "helper/get-picks" "featuredStories" }}
  {{ $pinnedStories :=  partial "helper/get-picks" "topSlots" }}
  {{ $pages = $pages | complement $featuredStory $pinnedStories }}
{{ end }}


<div
  class="flex flex-wrap gap-6 sm:gap-x-12 md:items-start md:justify-between lg:gap-x-16 lg:odd:flex-row lg:even:flex-row-reverse"
>
  {{ with .hed }}
    <h2
      class="w-full border-b border-black font-sans text-2xl font-extrabold capitalize leading-tight tracking-wide md:col-span-3 md:text-3xl"
    >
      {{ . }}
    </h2>
  {{ end }}

  {{ range $pages | first 1 }}
    {{ $params := partialCached "helper/page-params" . .RelPermalink }}
    {{ $imgOpts := dict
      "filename" (.Param "image")
      "credit" (.Param "image-credit")
      "description" (.Param "image-description")
      "link" $params.link
      "widthRatio" 3
      "heightRatio" 2
      "widths" (slice 128 256 384 512 1280)
      "figClass" "mt-2"
      "sizeHint" "(min-width: 850px) 512px, 90vw"
      "gravity" (.Param "image-gravity")
    }}
    <div
      class="max-w-full md:w-5/12 md:flex-auto lg:w-8/12"
      data-ga-category="story-1"
    >
      {{ $eyebrow := $params.published }}
      {{ $rubricLink := $params.link }}
      {{ $thumbClass := $params.thumbClass }}
      {{ if eq $.eyebrow "rubric" }}
        {{ $eyebrow = $params.kicker }}
      {{ else if eq $.eyebrow "eventDate" }}
        {{ $eyebrow = $params.eventDate | default $params.published }}
      {{ end }}
      {{ if eq $.rubricLink "rubric" }}
        {{ $rubricLink = $params.rubric.RelPermalink }}
      {{ end }}
      {{ partial "tw/thumb-item.html" (dict
        "wrapperClass" "flex flex-wrap gap-x-9"
        "thumbClass" "w-full lg:max-w-md xl:max-w-lg"
        "hedSize" `text-xl md:text-xl lg:text-2xl font-semibold`
        "dekSize" "sm:text-base sm:leading-relaxed md:text-lg lg:text-xl"
        "imgOpts" $imgOpts
        "rubricLink" $rubricLink
        "eyebrow" $eyebrow
        "link" $params.link
        "hed" .LinkTitle
        "byline" $params.byline
        "showDate" false
        "showByline" $.showByline
        "dek" $params.blurb
        )
      }}
    </div>
  {{ end }}
  <span
    class="mb-4 mt-7 hidden w-[1px] self-stretch bg-black lg:inline-flex"
  ></span>

  {{ range first 1 ($pages | after 1) }}
    {{ $params := partialCached "helper/page-params" . .RelPermalink }}
    {{ $imgOpts := dict
      "filename" (.Param "image")
      "credit" (.Param "image-credit")
      "description" (.Param "image-description")
      "link" $params.link
      "widthRatio" 16
      "heightRatio" 9
      "widths" (slice 128 256 384 512 1280)
      "figClass" "mt-2"
      "sizeHint" "(min-width: 850px) 328px, 90vw"
      "gravity" (.Param "image-gravity")
    }}
    <div
      class="max-w-full md:w-2/12 md:flex-auto lg:w-2/12 xl:w-72"
      data-ga-category="story-2"
    >
      {{ $eyebrow := $params.published }}
      {{ $rubricLink := $params.link }}
      {{ $thumbClass := $params.thumbClass }}
      {{ if eq $.eyebrow "rubric" }}
        {{ $eyebrow = $params.kicker }}
      {{ else if eq $.eyebrow "eventDate" }}
        {{ $eyebrow = $params.eventDate | default $params.published }}
      {{ end }}
      {{ if eq $.rubricLink "rubric" }}
        {{ $rubricLink = $params.rubric.RelPermalink }}
      {{ end }}
      {{ partial "tw/thumb-item.html" (dict
        "wrapperClass" "flex flex-wrap gap-x-4"
        "thumbClass" "w-2/5 md:w-full"
        "imgOpts" $imgOpts
        "rubricLink" $rubricLink
        "eyebrow" $eyebrow
        "link" $params.link
        "hed" .LinkTitle
        "byline" $params.byline
        "showDate" false
        "showByline" $.showByline
        )
      }}
    </div>
  {{ end }}

</div>
