<section class="bg-white px-6 pb-6 pt-16" data-ga-category="header">
  <div
    class="
    mx-auto flex w-full max-w-screen-xl flex-wrap gap-4 md:gap-x-6 lg:gap-x-12
  "
  >
    <h1
      class="w-full pb-2 font-sans text-4xl font-bold leading-tight text-black lg:text-5xl"
    >
      {{ .Title }}
    </h1>
    <div class="md:w-4/6 md:flex-1">
      <h2
        class="mx-auto w-0 min-w-full font-sans text-xl font-semibold md:text-2xl md:leading-tight"
      >
        {{ .Param "dek" }}
      </h2>

      {{ with .Content }}
        <div
          class="article-content mt-4 w-full max-w-prose overflow-hidden leading-relaxed"
          data-ga-category="content"
        >
          {{ . }}
        </div>
      {{ end }}

    </div>
    {{ .Page.RenderString (.Param "sidebar") }}

  </div>
</section>

<section class="bg-white px-6 py-6"></section>

<section
  class="sticky top-0 z-20 bg-white p-3 shadow-md lg:block"
  data-ga-category="internal-nav"
  x-data="{ aboutActive: '', isStuck: false }"
  @intersect:about.window="aboutActive = $event.detail"
>
  {{ partial "tw/internal-page-nav.html" . }}

</section>

<section
  class="bg-white px-6 py-12 md:pt-16"
  id="guides"
  data-ga-category="guides"
  x-data
  x-intersect.half="$dispatch('intersect:about', $el.id)"
>
  {{ $guide := site.GetPage "content/series/voting-guides-2023/_index.md" }}

  {{ $pages := $guide.RegularPages }}
  {{ $primary := (time "2023-08-01").Unix }}
  {{ $newGuide := where $guide.RegularPages
    ".PublishDate.Unix" "gt" $primary
  }}
  {{ if $newGuide }}

    {{ partial "tw/list-3-col-story.html" (dict
      "hed" "PA Election 2023: Candidate and Voting Guides"
      "pages" $newGuide
      "readMoreLink" $guide.RelPermalink
      "readMore" "Read More PA Election 2023 Guides"
      "rows" 2
      )
    }}
  {{ end }}
</section>

<div class="bg-white">
  {{ .Page.RenderString (.Param "donate") }}
</div>

{{ range $i, $blocks := .Params.blocks }}
  {{ $id := urlize .title }}
  {{ partial "blocks/block" (dict "Page" $ "block" .) }}
{{ end }}


<section class="bg-white p-6" data-ga-category="inline-newsletter">
  <div class="mx-auto max-w-screen-md">
    {{ partial "tw/inline-newsletter-box" . }}
  </div>
</section>

{{ $elex := site.GetPage "content/topics/elections/_index.md" }}

{{ $pages := $elex.RegularPages }}
{{ $primary := (time "2023-08-01").Unix }}
{{ $newElex := where $elex.RegularPages
  ".PublishDate.Unix" "gt" $primary
}}
{{ if $newElex }}

  <section
    class="bg-white px-6 py-8"
    id="coverage"
    data-ga-category="coverage"
    x-data
    x-intersect.half="$dispatch('intersect:about', $el.id)"
  >
    {{ partial "tw/list-3-col-story.html" (dict
      "hed" "PA Election 2023: More Coverage"
      "pages" $newElex
      "readMoreLink" $elex.RelPermalink
      "readMore" "Read More PA Election 2023 Stories"
      "rows" 2
      )
    }}
  </section>
{{ end }}
{{ $espan := site.GetPage "content/topics/español/_index.md" }}
{{ $primary := (time "2023-08-01").Unix }}
{{ $newEspan := where $espan.RegularPages
  ".PublishDate.Unix" "gt" $primary
}}
{{ if $newEspan }}
  <section
    class="bg-white px-6 py-8 md:py-16"
    id="espan"
    data-ga-category="espanol"
    x-data
    x-intersect.half="$dispatch('intersect:about', $el.id)"
  >
    {{ partial "tw/list-3-col-story.html" (dict
      "hed" "Elecciones Pa. 2023: Traducciones al Español"
      "pages" $newEspan
      "readMoreLink" $espan.RelPermalink
      "readMore" "Leer Más Historias De La Elección PA 2023"
      "rows" 1
      )
    }}
  </section>
{{ end }}


<section class="px-4 md:px-0">
  <div
    id="contact"
    data-ga-category="contact"
    x-data
    x-intersect.half="$dispatch('intersect:about', $el.id)"
    class=" bg-s-3 font-sans md:mx-0 md:px-4"
  >
    {{ .Page.RenderString (.Param "form") }}
  </div>
</section>
<section
  class="bg-white p-6"
  id="credits"
  data-ga-category="credits"
  x-data
  x-intersect.half="$dispatch('intersect:about', $el.id)"
>
  <div class="mx-auto w-full max-w-prose">
    <h2
      class="border-b-4 border-black pb-2 font-sans text-xl font-extrabold uppercase leading-none tracking-wider"
    >
      Credits
    </h2>
    <div class="space-y-12 py-8">
      {{ .Page.RenderString (.Param "credits") }}
    </div>
  </div>
</section>

<script src="https://www.spotlightpa.org/embed.js" async></script>
<script
  src="https://viz-redistricting-2020.data.spotlightpa.org/embed.js"
  defer
></script>

{{ range .Param "dates" }}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "{{ .name }}",
      "startDate": "{{ .date }}",
      "endDate": "{{ .date }}",
      "eventStatus": "eventScheduled",
      "location": {
        "@type": "Place",
        "name": "Pennsylvania",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "PA"
        }
      }
    }
  </script>
{{ end }}
