<section class="font-raleway">
  <header class="bg-black py-14 px-3 text-white">
    <div
      class="mx-auto max-w-[1248px] grid-rows-[auto_1fr] gap-y-3 gap-x-5 md:grid md:grid-cols-12"
    >
      <h1
        class="col-span-3 col-start-1 row-span-1 row-start-1 text-2xl font-black md:max-w-[276px]"
      >
        {{ .Title }}
      </h1>
      <div class=" col-span-3 col-start-1 row-start-2 text-lg font-medium">
        {{ .Content }}

      </div>
      <div
        class="justify-stretch col-span-8 col-start-5 row-span-2 row-start-1 max-h-[440px] items-center"
      >
        {{ $name := .Page.Param "image" }}
        {{ $credit := .Page.Param "image-credit" }}
        {{ $description := .Page.Param "image-description" }}
        {{ $imgOpts := dict
          "filename" $name
          "credit" $credit
          "description" $description
          "widths" (slice 128 256 384 512 1280)
          "widthRatio" 15
          "heightRatio" 8
          "sizeHint" "(min-width: 850px) 627px, 100vw"
          "rounded" true
          "link" .Page.RelPermalink
          "gravity" (.Page.Param "image-gravity")
        }}
        {{ partial "tw/image-block.html" $imgOpts }}

      </div>
    </div>
  </header>

  <section
    class="bg-white px-6 py-8 md:py-24"
    id="guides"
    data-ga-category="guides"
  >
    {{ $guide := site.GetPage "content/topics/transparency-tracker/_index.md" }}
    {{ partial "tw/list-3-col-story-noImg.html" (dict
      "hed" "Penn State Transparency Tracker"
      "pages" $guide.RegularPages
      "readMoreLink" $guide.RelPermalink
      "readMore" "Read More Transparency Tracker stories"
      "rows" 2
      )
    }}

  </section>

  <div class="bg-s-2">
    {{ .Page.RenderString (.Param "form") }}
  </div>

  <div class="bg-white" data-ga-category="text">
    <article
      class="article-content mx-auto max-w-[1248px] py-24 px-5 md:grid md:grid-cols-12 md:grid-rows-[auto_1fr] md:gap-y-3 md:gap-x-5"
    >
      {{ range $i, $blocks := .Params.blocks }}
        {{ $id := urlize .title }}
        {{ partial "blocks/block" (dict "Page" $ "block" .) }}
      {{ end }}
      {{ .Page.RenderString (.Param "credits") }}
    </article>
  </div>
</section>
