{{ $params := partialCached "helper/page-params" .Page .RelPermalink }}
{{ $hasImage := .Param "image-size" | ne "hidden" }}
{{ $isWide := .Param "image-size" | eq "wide" }}

{{ $bylineLink := "" }}
{{ with .Param "authors" }}
  {{ if len . | eq 1 }}
    {{ $name := index . 0 }}
    {{ $author := partial "helper/get-author" $name }}
    {{ if $author.link }}
      {{ $bylineLink = $author.link }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $sidebarNewsletter := .Param "sidebar-newsletter" | default "tw/rail-papost.html" }}


<section
  class="mx-auto max-w-screen-xl grid-cols-12 bg-white px-4 pb-6 pt-12 text-g-9 lg:grid lg:gap-x-8 xl:px-0"
  id="article"
>
  <header
    data-ga-category="header"
    class="mx-auto w-full max-w-screen-md lg:col-span-10 lg:max-w-screen-lg"
  >
    {{ if $params.rubric }}
      <a
        class="inline-block border-2 border-eyebrow-bg bg-eyebrow-bg px-2 font-sans text-xs font-semibold uppercase text-eyebrow md:text-sm"
        href="{{ $params.rubric.RelPermalink }}"
        data-ga-category="eyebrow"
      >
        {{- $params.kicker | default $params.rubric.Title -}}
      </a>
    {{ else if $params.kicker }}
      <p
        class="inline-block border-2 border-eyebrow-bg bg-eyebrow-bg px-2 font-sans text-xs font-semibold uppercase text-eyebrow md:text-sm"
      >
        {{- $params.kicker -}}
      </p>
    {{ end }}

    {{ if not $params.evergreen | and .PublishDate }}
      {{ $eighteenMonthsAgo := now.AddDate 0 -18 0 }}
      {{ if .PublishDate.Before $eighteenMonthsAgo }}
        <p
          class="ml-1 inline-block bg-orange px-3 font-sans text-base font-semibold uppercase text-white"
        >
          From the archives
          {{ .PublishDate.Format "2006" }}
        </p>
      {{ end }}
    {{ end }}


    <h1
      class="mt-1 text-2xl font-bold leading-tight tracking-tight text-black sm:text-4xl"
    >
      {{ .Title }}
    </h1>

    {{ with $params.byline }}
      <h2
        class="mt-1 font-sans text-base leading-tight tracking-normal text-g-8 sm:leading-normal"
      >
        {{ if $bylineLink }}
          <a href="{{ $bylineLink }}">
            {{- block "main-byline" $params }}
              <span class="font-semibold">
                by
                <span>
                  {{- .byline -}}
                </span>
              </span>
              {{ if not .evergreen | and .published }}
                <span class="font-light">
                  |
                  <time datetime="{{ .publishedISO }}">
                    {{- .published -}}
                  </time>
                </span>
              {{ end }}
            {{ end -}}
          </a>
        {{ else }}
          {{ template "main-byline" $params }}
        {{ end }}
      </h2>
    {{ end }}

  </header>
  <article
    class="mx-auto flex max-w-screen-md flex-wrap md:justify-center md:gap-x-12 lg:col-span-8 lg:justify-start lg:gap-x-8 print:mx-0 print:block print:max-w-none"
  >
    <div class="w-full print:!max-w-md">
      {{ partial "tw/image-hero.html" . }}
    </div>
    <div class="w-full sm:w-12 md:w-0 lg:col-span-1 lg:row-start-3 lg:w-auto">
      {{ partial "tw/social-buttons.html" . }}
    </div>
    <div class="w-full max-w-screen-sm flex-1 md:mx-5 xl:-mr-8">
      <div x-data x-intersect.once="$dispatch('open-sticky')"></div>
      {{ partial "tw/content-well.html" . }}

      {{ with .Param "authors" }}
        <footer class="mt-6 space-y-6" data-ga-category="inline-footer:author">
          {{ range $name := . }}
            {{ $author := partial "helper/get-author" $name }}
            <div
              itemprop="author"
              itemscope
              itemtype="https://schema.org/Person"
              class="flex items-start gap-4 md:gap-8"
            >
              {{ if $author.thumb }}
                <span
                  class="inline-flex h-10 w-10 md:h-24 md:w-24"
                  data-ga-category="thumb"
                >
                  <img
                    itemprop="image"
                    src="{{ $author.thumb | absURL }}"
                    alt="Photo of {{ $author.name }}"
                    class="m-auto rounded-full ring-1 ring-g-6 grayscale filter"
                    loading="lazy"
                    decoding="async"
                    width="256"
                    height="256"
                  />
                </span>
              {{ end }}
              <div class="w-full font-sans">
                {{ $showLink := and $author.active $author.link | not | not }}
                {{ $color := cond $showLink "text-blue" "text-g-7" }}
                <h3
                  class="{{ $color }} border-b border-black text-xl font-bold leading-tight md:text-2xl"
                  data-ga-category="name"
                  itemprop="name"
                >
                  {{ if $author.link }}
                    <a href="{{ $author.link | absURL }}" itemprop="url">
                      {{ $author.name }}
                    </a>
                  {{ else }}
                    {{ $author.name }}
                  {{ end }}
                </h3>
                {{ if and $author.active $author.title }}
                  <h3
                    class="mt-1 text-xs font-black uppercase leading-snug text-black"
                    data-ga-category="role"
                    itemprop="jobTitle"
                  >
                    {{ $author.title }}
                  </h3>
                  {{ with $author.focusHed }}
                    <p class="mt-2 text-xs md:text-sm">
                      Focus:
                      {{ . }}
                    </p>
                  {{ end }}
                  <div class="mt-2 flex flex-wrap gap-x-2 text-sm font-bold">
                    {{ if $author.email }}
                      <p class="flex-0 mr-2 flex items-center gap-x-1">
                        <a
                          href="mailto:{{ $author.email }}"
                          title="Email"
                          class="h-4 w-4 text-blue"
                        >
                          <svg viewBox="0 0 1 1">
                            {{ partial "helper/svg.html" "email" }}
                          </svg>
                        </a>
                        <a
                          class="font-normal text-blue"
                          href="mailto:{{ $author.email }}"
                        >
                          {{ $author.email }}
                        </a>
                      </p>
                    {{ end }}
                    {{ with $author.twitter }}
                      <p class="flex-0 mr-2 flex items-center gap-x-1">
                        <a
                          href="https://www.twitter.com/{{ . }}"
                          title="Twitter"
                          class="h-4 w-4 text-blue"
                        >
                          <svg viewBox="0 0 1 1">
                            {{ partial "helper/svg.html" "twitter" }}
                          </svg>
                        </a>
                        <a
                          class="font-normal text-blue"
                          href="https://www.twitter.com/{{ . }}"
                        >
                          @{{ . }}
                        </a>
                      </p>
                    {{ end }}
                  </div>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </footer>
      {{ end }}
      {{ partial "tw/support.html" . }}
    </div>
    {{ if .Param "suppress-related" | not }}
      <div
        class="w-full bg-white py-8 md:py-24 print:hidden"
        id="related-stories"
        data-ga-category="guides"
      >
        {{ $guide := site.GetPage $params.rubric.RelPermalink }}
        {{ partial "tw/list-3-col-story.html" (dict
          "hed" "Related Stories"
          "pages" $guide.RegularPages
          "rows" 1
          "showByline" false
          )
        }}
      </div>
    {{ end }}

  </article>
  <aside
    class="mt-6 justify-self-end md:mx-auto md:max-w-screen-sm lg:col-span-4 lg:col-start-9 lg:row-start-2 lg:row-end-auto lg:max-w-80 print:!hidden"
    data-ga-category="sidebar"
    id="sidebar"
  >
    <div
      data-ga-category="top"
      data-sf-campaign="701Dn000000YgoeIAC"
      class="row-start-1 mt-6 w-full"
    >
      {{ if page.Param "ad-rail-top-active" }}
        {{ partial "tw/promo-multi.html" (dict
          "wrapperClass" "mb-5 w-0 min-w-full no-js:hidden flex justify-center lg:justify-start"
          "promos" (page.Param "ad-rail-top")
          "width" 640
          "height"  535
          )
        }}
      {{ end }}
    </div>

    <div class="col-start-1 row-start-1 row-end-3">
      {{ partial "tw/rail-most-popular.html" dict }}
    </div>
    {{ partial "tw/rail-events.html" (dict
      "label" "Upcoming Events"
      )
    }}
  </aside>
</section>
