{{ $src := .Param "image" }}

{{ $imgOpt := dict
  "filename" (.Param "image")
  "width" 2271
  "height" 1431
  "gravity" "ce"
}}
{{ $url := partial "helper/imgproxy" $imgOpt }}


<div class="relative flex flex-col bg-transparent text-white">
  <div
    class="absolute inset-0 flex bg-blue-1 bg-cover"
    style="
      background-image: url({{ $url }});
      background-position: 38% 0;
      z-index: -1;
    "
    aria-hidden="true"
  >
    <div
      class="absolute inset-0 bg-gradient-to-b from-black to-transparent opacity-50"
    ></div>
  </div>
  <nav class="flex" data-ga-category="header">
    <a class="block px-4 pt-5" href="/statecollege/">
      <svg
        class="
          h-8 fill-current
          text-white drop-shadow-outline
          filter hover:text-yellow lg:h-10
        "
        role="img"
        aria-label="Spotlight PA banner"
        viewBox="0 0 1024 190"
      >
        <use href="#banner-state-college-svg"></use>
      </svg>
    </a>
  </nav>
  <div class="px-4 py-8 leading-tight sm:p-12">
    <div class="flex flex-col justify-center">
      <div class="mx-auto md:max-w-min md:whitespace-nowrap">
        <h1
          class="text-shadow text-3xl font-extrabold md:text-4xl lg:text-5xl xl:text-6xl"
        >
          The future of journalism <span> </span>
          <br class="hidden md:inline" />
          in State College is here.
        </h1>
        <h2
          class="text-shadow mt-4 text-2xl md:text-3xl lg:text-4xl xl:text-5xl"
        >
          Join our historic effort <span> </span>
          <br class="hidden md:inline" />
          to invigorate local news.
        </h2>
      </div>
    </div>
  </div>
  <div
    class="mx-auto flex w-full max-w-screen-lg flex-wrap items-stretch justify-around gap-8 px-4 pb-4"
  >
    <a
      class="
        backdrop-fallback my-8 block w-full rounded p-8 shadow ring-1 ring-s-7 backdrop-blur-sm backdrop-brightness-50 backdrop-filter sm:w-96
      "
      href="/donate/"
    >
      <h2
        class="text-center text-2xl font-semibold uppercase leading-tight sm:text-3xl"
      >
        Become a founding donor
      </h2>
      <p class="mt-2 text-lg leading-snug sm:text-2xl">
        Support our State College bureau and all gifts up to $200,000 will be
        <b class="uppercase">doubled</b>.
      </p>
      <p class="mt-8 text-center">
        <span
          class="
            rounded-lg bg-red py-3 px-4
            font-bold uppercase leading-none tracking-widest
            text-white
          "
          >Donate Now</span
        >
      </p>
    </a>
    {{ $idEmail :=  partial "helper/new-id" . }}
    <label
      for="{{ $idEmail }}"
      class="
        backdrop-fallback my-8 block w-full rounded p-8 shadow ring-1 ring-s-7 backdrop-blur-sm backdrop-brightness-50 backdrop-filter sm:w-96
      "
    >
      <form
        action="{{ .Param "newsletters-action" }}"
        method="post"
        data-ga-form="newsletters:statecollege"
        target="_blank"
      >
        {{ partial "newsletter/hidden-input.html" . }}
        <input type="hidden" name="state_college" value="1" />

        <h2
          class="text-center text-2xl font-semibold uppercase leading-tight sm:text-3xl"
        >
          Talk of the Town
        </h2>
        <p class="mt-2 text-lg leading-snug sm:text-2xl">
          Sign up for <strong>Talk of the Town</strong>, a free weekly
          newsletter every Thursday with top news and notes for North-Central PA
          by Spotlight PA’s State College regional bureau.
        </p>
        <p class="mt-8 flex flex-col items-stretch gap-2 sm:flex-row">
          <span class="relative block">
            <input
              id="{{ $idEmail }}"
              class="spl-input"
              type="email"
              name="EMAIL"
              placeholder="Email address"
              required
            />
            <span
              class="pointer-events-none absolute inset-y-0 left-0 z-10 inline-flex w-10 items-center justify-center leading-none text-s-4"
              aria-hidden="true"
            >
              <svg class="h-4 w-4 fill-current">
                <use xlink:href="#email-svg"></use>
              </svg>
            </span>
          </span>
          <span class="block">
            <button
              class="
                h-full
                w-full whitespace-nowrap rounded bg-red px-4 py-2 font-bold
                uppercase tracking-widest text-white outline-none
                ring-s-4 ring-opacity-50 focus:ring-2
              "
              type="submit"
            >
              Sign Up
            </button>
          </span>
        </p>
      </form>
    </label>
  </div>
</div>
<figcaption
  aria-hidden="true"
  class="bg-white p-1 text-right font-sans text-sm uppercase leading-none text-s-6 md:text-base"
>
  {{ .Param "image-credit" }}
</figcaption>

<section class="bg-white px-4 pt-8 pb-12 text-s-9">
  <article class="featured-content mx-auto w-full max-w-prose leading-relaxed">
    {{ .Content }}
  </article>
</section>

<section class="bg-beige px-4 pt-8 pb-12 text-s-9">
  <article class="mx-auto max-w-prose leading-relaxed">
    <h2
      id="donors"
      class="mt-8 -mb-6 font-sans text-4xl font-semibold leading-tight"
    >
      Founding Donors
    </h2>

    {{ range site.Data.statecollegesupporters }}
      <h3 class="mt-8 mb-4 font-sans text-3xl italic leading-none">
        {{- .Category -}}
      </h3>
      <div class="{{ cond (len .Items | lt 5) `sm:columns-2` `` }}">
        {{ range sort .Items ".Sort" "asc" }}
          <p>
            {{- .Name -}}
          </p>
        {{ end }}
      </div>
    {{ end }}
  </article>
</section>
