{{ $alt := .Param "sticky-image-description" }}
{{ $images := .Param "sticky-images" }}
{{ $link := .Param "sticky-link" }}

{{ $width := 0 }}
{{ $height := 0 }}
{{ $bgColor := "#000" }}
<section
  class="fixed z-10 bottom-0 right-0 max-w-xs"
  x-data="sticky"
  x-show="isOpen"
  x-transition:enter="transition ease-out duration-500"
  x-transition:enter-start="opacity-0 transform translate-x-8"
  x-transition:enter-end="opacity-100 transform translate-x-0"
  x-transition:leave="transition ease-in duration-500"
  x-transition:leave-start="opacity-100 transform translate-x-0"
  x-transition:leave-end="opacity-0 transform translate-x-8"
  @open-sticky.window="show()"
  @close-sticky.window="close()"
  data-ga-category="modal:sticky"
  @keydown.escape="close"
  x-cloak
>
  <button
    type="button"
    class="
      absolute top-1 left-2 h-9 w-9
      rounded-full
      text-yellow bg-white hover:text-black
      flex"
    aria-label="close"
    @click="close"
    x-ref="close"
  >
    <svg class="m-auto fill-current h-8 w-8">
      <use xlink:href="#close-svg"></use>
    </svg>
  </button>
  <div class="my-2 mx-4 p-4 flex">
    <a
      class="flex focus:outline-none focus:ring-2 ring-yellow"
      @click.capture="close()"
      @click.outside="close()"
      href="/donate/"
    ><img
      class="shadow-beige rounded"
      x-data="imageRotator(JSON.parse($el.dataset.images))"
      data-images="{{ $images | jsonify }}"
      :src="choice"
      alt="{{ $alt }}"
      title="{{ $alt }}"
      style="max-height: 40vh;"
    ></a>
  </div>
</section>
