{{ $dot := . }}
{{ $idEmail := partial "helper/new-id" $dot | printf "modal-newsletter-%s" }}
{{ $imagename := .filename }}
{{ $actionColor := .actionColor | default "#FFCB05" }}
{{ $newsletterAction := site.Param "newsletters-action" }}


<div
  class="fixed inset-0 z-20"
  data-ga-category="modal:newsletter:multi"
  x-data="modal"
  x-cloak
  x-show="isOpen"
  x-trap.noscroll.inert="isOpen"
  @modal:newsletters:open.window="isOpen = true"
  {{ if .site.param `modal-exclude` | not }}
    @scroll.window.once.passive="trigger()"
  {{ end }}
  @click="isOpen = false"
  role="dialog"
  aria-modal="true"
  aria-label="Newsletter sign up"
>
  <div class="absolute inset-0 bg-s-4 opacity-75"></div>
  <div
    class="absolute inset-0 backdrop-blur-sm backdrop-filter"
    x-transition.opacity
  ></div>
  <div
    class="absolute inset-0 flex items-center overflow-y-auto"
    x-show="isOpen"
    x-transition
  >
    <div
      style="background-color: {{ $actionColor }};"
      class="w-full border-b-2 border-t-2 font-sans"
    >
      <div
        class="mx-5 -mt-11 grid max-w-screen-xl grid-cols-6 items-start gap-x-5 md:mx-auto md:mr-auto md:ml-auto md:grid-cols-12"
      >
        <button
          style="color: {{ $actionColor }};"
          class="col-start-6 flex text-s-4  md:col-start-10 md:row-start-1"
          type="button"
          aria-label="close"
          x-ref="closer"
          data-ga-action="modal:newsletter:dismiss"
          @keydown.escape="isOpen = false"
          @click="isOpen = false;"
          :autofocus="isOpen"
        >
          <svg
            class="my-auto box-content h-5 w-5 fill-black p-3"
            style="margin-right: -2px;"
          >
            <use xlink:href="#close-svg"></use>
          </svg>
        </button>
        <form
          class="col-span-5 col-start-1 row-start-1 -mr-5 grid-cols-[repeat(5,_auto)] gap-0 rounded border-2 
          bg-white md:col-span-7
          md:col-start-3 md:row-start-1 md:-ml-5 md:grid md:flex-col md:flex-wrap"
          data-ga-form="newsletters:multi"
          action="{{ $newsletterAction }}"
          method="post"
          target="_blank"
          tabindex="-1"
          @click.stop
          @keydown.escape="isOpen = false"
        >
          <svg
            viewBox="0 0 1024 190"
            aria-hidden="true"
            class="relative z-10 mx-0 h-14 rounded-br bg-black fill-white py-3 px-7"
          >
            <use xlink:href="#banner-svg"></use>
          </svg>
          {{ with $imagename }}
            <div
              class="-mt-14 flex aspect-video items-stretch justify-center self-stretch overflow-hidden md:col-start-3 md:row-start-1 md:row-end-4 md:mt-0 md:aspect-auto"
            >
              {{ $sizes := (slice
                (dict "width" 256 "height" 256)
                (dict "width" 512 "height" 512)
                )
              }}
              {{ $srcset := partial "helper/build-srcset" (dict
                "sizes" $sizes
                "filename" $imagename
                "gravity" "ce"
                )
              }}

              {{ $imgOpt := dict
                "filename" $imagename
                "width" 256
                "height" 256
                "gravity" "ce"
              }}
              {{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}
              {{ partial "tag/picture.html" (dict
                "pictureClass" "w-full flex"
                "imgClass" "w-full object-cover"
                "sizeHint" "256px"
                "eager" false
                "description" ""
                "srcset" $srcset
                "src" $imgSmallSrc
                "width" 256
                "height" 256
                )
              }}
            </div>
          {{ end }}
          <header class="mx-5 mt-6 md:col-start-1 md:col-end-3">
            <h2 class=" text-2xl font-extrabold md:text-3xl lg:text-4xl">
              Investigative Journalism for Pennsylvania
            </h2>
            <p class="mt-2 max-w-lg text-xl">
              Get every Spotlight PA story and the best investigative journalism
              from across Pa.
            </p>
          </header>
          <div
            class="m-5 flex flex-wrap sm:flex-nowrap max-w-md items-stretch justify-start space-y-4 md:col-start-1 md:col-end-3"
          >
            {{ partial "newsletter/hidden-input.html" . }}
            <label class="sr-only" for="{{ $idEmail }}">Email address</label>
            <input
              id="{{ $idEmail }}"
              class=" box-border w-full sm:w-7/12 appearance-none rounded sm:rounded-tr-none sm:rounded-br-none rounded-tl rounded-bl border border-black bg-white p-2 tracking-wider text-s-8 placeholder-s-6 placeholder-opacity-100 outline-none ring-blue-2 focus:ring-2"
              type="email"
              name="EMAIL"
              placeholder="Email address"
              required
            />
            <button
              style="color: {{ $actionColor }};"
              class=" box-border w-5/12 rounded sm:rounded-t-none sm:rounded-bl-none sm:rounded-tr sm:rounded-b bg-black py-2 font-black tracking-wider hover:shadow md:px-8"
              type="submit"
            >
              Sign Up
            </button>
          </div>
        </form>
        <p
          class=" col-span-6 col-start-1 flex leading-tight md:col-span-7 md:col-start-3"
        >
          <button
            class="flex-initial py-3 pr-5 text-black underline md:mr-5"
            aria-label="close"
            type="button"
            @click="
              $dispatch('x-form-submit', 'newsletters:seenit:submit');
              isOpen = false
            "
          >
            I’m already a subscriber
          </button>
          <button
            class=" flex-initial py-4 pr-5 text-black  underline md:mr-5"
            aria-label="close"
            type="button"
            @click="isOpen = false"
          >
            No thanks
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
