{{ $imagename := page.Param "takeover-image" }}
{{ $magicPixel := "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" | safeURL }}
{{ $gaForm :=  "newsletters:papost-full" }}
{{ $gaCategory := "newsletters:papost" }}
{{ $modalType := .type }}
{{ $hiddenField := .hiddenField }}
{{ $hed := .hed }}
{{ $dek := .dek }}
{{ $cta := .cta }}
{{ $link := .donateUrl }}
{{ $donateAmounts := .donateAmounts }}

{{ $idFname := partial "helper/new-id" . }}
{{ $idLname := partial "helper/new-id" . }}
{{ $idEmail := partial "helper/new-id" . }}


<section
  data-modal-kind="sticky"
  x-cloak
  x-show="isOpen"
  @open-sticky.window="show()"
  role="dialog"
  aria-modal="true"
  x-data="sticky"
  x-transition:enter="transition ease-out duration-500"
  x-transition:enter-start="opacity-0 transform translate-x-8"
  x-transition:enter-end="opacity-100 transform translate-x-0"
  x-transition:leave="transition ease-in duration-500"
  x-transition:leave-start="opacity-100 transform translate-x-0"
  x-transition:leave-end="opacity-0 transform translate-x-8"
  @keydown.escape="close()"
  @keydown.escape="isOpen = false"
  tabindex="-1"
  class="fixed bottom-0 left-0 z-[1001] flex flex-wrap md:left-auto md:right-0 md:top-0 md:h-full md:w-1/3"
>
  <button
    class="absolute -top-10 right-3 flex rounded-xl bg-white text-white md:left-5 md:right-auto md:top-4"
    type="button"
    aria-label="close"
    x-ref="closer"
    x-report-click
    data-ga-category="dismiss"
    @keydown.escape="isOpen = false"
    @click="isOpen = false;"
    :autofocus="isOpen"
  >
    <svg class="my-auto box-content h-6 w-6 fill-black">
      {{ partial "helper/svg.html" "close" }}
    </svg>
  </button>
  <div
    class="bottom-0 flex flex-wrap overflow-y-scroll ring-red focus:outline-none focus:ring-2 md:left-auto md:top-0 md:h-full"
    :class="{'left-full': !isOpen, 'overflow-y-hidden': !isOpen}"
  >
    <header
      class="z-20 flex-1 self-start overflow-visible font-serif font-bold text-white sm:min-w-full md:flex md:h-0 md:items-end md:bg-black"
    >
      <h2
        class="
          {{ with eq $modalType "newsletter" }}
          bg-yellow text-black
        {{ end }} {{ with eq $modalType "donate" }}
          bg-red text-white
        {{ end }} p-4 text-2xl md:-mb-28 md:mr-9 md:p-10
          lg:text-3xl
          xl:text-4xl
        "
      >
        {{ $hed }}
      </h2>
    </header>
    <span
      class="
      c-red-8 -order-1 self-end sm:order-1 sm:self-start md:mt-28
    "
    >
      <!-- triangle fold -->
      <svg
        class="
          {{ with eq $modalType "newsletter" }}
          fill-yellow-8
        {{ end }} {{ with eq $modalType "donate" }}
          fill-red-8
        {{ end }} fill-red-8
          sm:origin-center
          sm:scale-[(-1,_1)]
        "
        width="16"
        height="22"
      >
        <path class="sm:invisible" fill-rule="evenodd" d="M0 22h16V0z" />
        <path
          class="invisible sm:visible"
          fill-rule="evenodd"
          d="M.014 0h16v20z"
        />
      </svg>
    </span>

    {{ with $imagename }}
      <div
        class="order-1 m-0 hidden w-5/12 justify-items-stretch overflow-hidden bg-black sm:flex sm:items-stretch md:-order-1 md:h-2/5 md:w-full"
      >
        {{ $sizes := (slice
          (dict "width" 266 "height" 266)
          (dict "width" 480 "height" 480)
          )
        }}
        {{ $srcset := partial "helper/build-srcset" (dict
          "sizes" $sizes
          "filename" $imagename
          "gravity" "no"
          )
        }}

        {{ $imgOpt := dict
          "filename" $imagename
          "width" 480
          "height" 480
          "gravity" "no"
        }}
        {{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}
        {{ partial "tag/picture.html" (dict
          "pictureClass" "w-full flex"
          "imgClass" "w-full object-cover"
          "sizeHint" "480px"
          "eager" false
          "description" ""
          "srcset" $srcset
          "src" $imgSmallSrc
          "width" 480
          "height" 480
          )
        }}
      </div>
    {{ end }}


    <div
      class="flex-0 flex w-full flex-col items-center justify-center space-y-6 bg-black p-4 font-sans sm:order-1 sm:flex-1 sm:space-y-4 sm:pl-16 sm:pr-12 md:h-3/5 md:justify-start md:space-y-4 md:self-start md:py-12 md:pb-8 md:pt-32"
    >
      <p class="text-base text-white lg:text-lg">
        {{ $dek }}
      </p>
      {{ with eq $modalType "newsletter" }}
        <form
          action="{{ site.Param `newsletters-action` }}"
          method="post"
          target="_blank"
          x-data
          x-form="{{ $gaForm }}"
          data-ga-category="{{ $gaCategory }}"
          class="flex w-full flex-wrap justify-start gap-2 font-sans"
        >
          {{ partial $hiddenField . }}
          <p class="relative mt-3 flex flex-1 flex-wrap">
            <label
              class="flex-[0_0_100%] font-sans text-sm font-black text-g-2"
              for="{{ $idEmail }}"
              >Email Address</label
            >
            <input
              id="{{ $idEmail }}"
              class="spl-input h-11"
              type="email"
              name="EMAIL"
              placeholder="Email address"
              required
            />
            <span
              class="pointer-events-none absolute inset-y-0 right-3 top-9 inline-flex h-4 text-g-4"
            >
              <svg class="h-4 w-4 fill-g-4" viewBox="0 0 1 1">
                {{ partial "helper/svg.html" "email" }}
              </svg>
            </span>
          </p>
          <div class="flex-0 mt-2 self-end">
            <button type="submit" class="btn-signup h-11 w-full">
              {{ $cta }}
            </button>
          </div>
        </form>
      {{ end }}
      {{ with eq $modalType "donate" }}
        <a
          href="{{ $link }}"
          @click.capture="isOpen = false;"
          @click.outside="isOpen = false;"
          data-sf-campaign="701Dn000000YqKfIAK"
          class="block w-full border border-black bg-white px-4 py-2 text-center text-xl font-bold text-black no-underline duration-300 hover:border-red-7 hover:text-red-7 sm:p-4 lg:text-2xl"
        >
          {{ $cta }}
        </a>
      {{ end }}
    </div>
  </div>
</section>
