{{ $idEmail := partial "helper/new-id" . | printf "modal-newsletter-%s" }}


<div
  class="fixed inset-0 z-20"
  data-ga-category="modal:newsletter:multi"
  x-data="modal"
  x-cloak
  x-show="isOpen"
  x-trap.noscroll.inert="isOpen"
  @modal:newsletters:open.window="isOpen = true"
  {{ if .Param `modal-exclude` | not }}
    @scroll.window.once.passive="trigger()"
  {{ end }}
  @click="isOpen = false"
  role="dialog"
  aria-modal="true"
  aria-label="Newsletter sign up"
>
  <div class="absolute inset-0 bg-s-4 opacity-75"></div>
  <div
    class="absolute inset-0 backdrop-blur-sm backdrop-filter"
    x-transition.opacity
  ></div>
  <div
    class="absolute inset-1 flex overflow-y-auto"
    x-show="isOpen"
    x-transition
  >
    <form
      class="m-auto w-full max-w-prose overflow-hidden rounded-lg text-center font-sans text-s-9 shadow-lg"
      data-ga-form="newsletters:multi"
      action="{{ .Param `newsletters-action` }}"
      method="post"
      target="_blank"
      tabindex="-1"
      @click.stop
      @keydown.escape="isOpen = false"
    >
      <header
        class="relative flex flex-none justify-between bg-black text-white"
      >
        <p class="mx-auto inline-flex h-14 items-center p-4">
          <svg
            viewBox="0 0 1024 190"
            aria-hidden="true"
            class="mx-auto h-8 fill-current"
          >
            <use xlink:href="#banner-svg"></use>
          </svg>
        </p>
        <p class="absolute inset-y-0 right-0 flex items-center p-4">
          <button
            class="group flex rounded-full text-s-4 hover:text-yellow"
            type="button"
            aria-label="close"
            x-ref="closer"
            data-ga-action="modal:newsletter:dismiss"
            @keydown.escape="isOpen = false"
            @click="isOpen = false;"
            :autofocus="isOpen"
          >
            <svg
              class="my-auto h-6 w-6 fill-current p-1"
              style="margin-right: -2px;"
            >
              <use xlink:href="#close-svg"></use>
            </svg>
          </button>
        </p>
      </header>
      <div class="bg-white p-8">
        {{ partial "newsletter/hidden-input.html" . }}
        <h6
          class="bg-gradient-to-r from-black via-blue-6 to-blue-2 bg-clip-text text-lg font-bold uppercase tracking-widest text-transparent"
        >
          Sign Up For Our Free Newsletters
        </h6>

        <p class="mt-4 text-lg font-semibold leading-tight">
          Get every Spotlight PA story and <br class="hidden sm:inline" />
          <span> </span>
          the best investigative journalism from across Pa.
        </p>
        <div class="mx-auto mt-8 items-stretch sm:flex sm:max-w-2xl">
          <p class="relative flex-grow">
            <label class="sr-only" for="{{ $idEmail }}">Email address</label>
            <input
              id="{{ $idEmail }}"
              class="spl-input"
              type="email"
              name="EMAIL"
              placeholder="Email address"
              required
            />
            <span
              class="pointer-events-none inset-y-0 inline-flex absolute top-3 right-3 text-s-4"
              aria-hidden="true"
            >
              <svg class="h-4 w-4 fill-current">
                <use xlink:href="#email-svg"></use>
              </svg>
            </span>
          </p>
        </div>
        {{ $checkClass := `accent-orange` }}
        <p class="mt-3 text-left">
          <label>
            <input
              type="checkbox"
              class="{{ $checkClass }}"
              name="papost"
              value="1"
              checked
              data-ga-button
              data-ga-action="toggle-newsletter:papost"
            />
            <strong>PA Post (Daily)</strong>: Top news every weekday morning,
            plus a daily puzzle.
          </label>
        </p>
        <p class="mt-1 text-left">
          <label>
            <input
              type="checkbox"
              class="{{ $checkClass }}"
              name="investigator"
              value="1"
              checked
              data-ga-button
              data-ga-action="toggle-newsletter:investigator"
            />
            <strong>The Investigator (Weekly)</strong>: Best accountability
            journalism every Thursday, plus a weekly riddle.
          </label>
        </p>
        <p class="mt-1 text-left">
          <label>
            <input
              type="checkbox"
              class="{{ $checkClass }}"
              name="palocal"
              value="1"
              checked
              data-ga-button
              data-ga-action="toggle-newsletter:palocal"
            />
            <strong>PA Local (Weekly)</strong>: A fresh look at the incredible
            people, places, and food of Pa. every Friday, plus events, guides,
            best-of, and more.
          </label>
        </p>
        <button
          class="mt-6 rounded bg-orange px-8 py-2 font-semibold uppercase tracking-wider text-white hover:shadow"
          type="submit"
        >
          Sign me up
        </button>
        <p class="mt-5 flex space-x-2">
          <button
            class="flex-grow text-s-6 hover:underline"
            aria-label="close"
            type="button"
            @click="
              $dispatch('x-form-submit', 'newsletters:seenit:submit');
              isOpen = false
            "
          >
            I’m already a subscriber
          </button>
          <button
            class="flex-grow text-s-6 hover:underline"
            aria-label="close"
            type="button"
            @click="isOpen = false"
          >
            No thanks
          </button>
        </p>
      </div>
    </form>
  </div>
</div>
