{{ $idEmail := partial "helper/new-id" . | printf "modal-newsletter-%s" }}
{{ $imagename := .filename }}
{{ $actionColor := .actionColor | default "#FFCB05" }}


<div
  data-modal-kind="newsletter"
  class="fixed inset-0 z-5000 overflow-y-scroll"
  data-ga-category="modal:newsletter:multi"
  x-data="modal"
  x-cloak
  x-show="isOpen"
  x-trap.noscroll.inert="isOpen"
  @open-sticky.window="show()"
  role="dialog"
  aria-modal="true"
  aria-label="Newsletter sign up"
>
  <div class="bg-g-4 absolute inset-0 opacity-75"></div>
  <div
    class="absolute inset-0 backdrop-blur-xs backdrop-filter"
    x-transition.opacity
  ></div>
  <div
    class="absolute inset-0 flex items-center overflow-y-auto"
    x-show="isOpen"
    x-ref="content"
    x-transition
    tabindex="-1"
    @click.stop
    @keydown.escape="isOpen = false"
  >
    <div class="mt-36 w-full overflow-y-scroll pt-11">
      <div
        style="background-color: {{ $actionColor }};"
        class="w-full border-t-2 border-b-2 font-sans"
      >
        <div
          class="mx-5 -mt-11 grid max-w-(--breakpoint-xl) grid-cols-6 items-start gap-x-5 md:mx-auto md:mr-auto md:ml-auto md:grid-cols-12"
        >
          <button
            style="color: {{ $actionColor }};"
            class="text-g-4 col-start-6 flex md:col-start-10 md:row-start-1"
            type="button"
            aria-label="close"
            x-ref="closer"
            x-report-click
            data-ga-category="dismiss"
            @keydown.escape="isOpen = false"
            @click="isOpen = false;"
            :autofocus="isOpen"
          >
            <svg
              class="my-auto box-content h-5 w-5 fill-black p-3"
              style="margin-right: -2px;"
            >
              {{ partial "helper/svg.html" "close" }}
            </svg>
          </button>
          <form
            class="col-span-5 col-start-1 row-start-1 -mr-5 grid-cols-[repeat(5,auto)] gap-0 overflow-hidden rounded-sm border-2 bg-white md:col-span-7 md:col-start-3 md:row-start-1 md:-ml-5 md:grid md:flex-col md:flex-wrap"
            x-data="newsletter($el.dataset.baseUrl)"
            data-base-url="{{ page.Param `newsletters-base-url` }}"
            @submit.prevent="submit"
            tabindex="-1"
            @click.stop
            @keydown.escape="isOpen = false"
          >
            {{ partial "newsletter/papost-hidden.html" . }}
            {{ with $imagename }}
              <div
                class="-mt-14 flex aspect-video items-stretch justify-center self-stretch overflow-hidden rounded-tr md:col-start-3 md:row-start-1 md:row-end-4 md:mt-0 md:aspect-auto"
              >
                {{ $sizes := (slice
                  (dict "width" 256 "height" 256)
                  (dict "width" 512 "height" 512)
                  )
                }}
                {{ $srcset := partial "helper/build-srcset" (dict
                  "sizes" $sizes
                  "filename" $imagename
                  "gravity" "ce"
                  )
                }}

                {{ $imgOpt := dict
                  "filename" $imagename
                  "width" 256
                  "height" 256
                  "gravity" "ce"
                }}
                {{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}
                {{ partial "tag/picture.html" (dict
                  "pictureClass" "w-full flex"
                  "imgClass" "w-full object-cover"
                  "sizeHint" "256px"
                  "eager" false
                  "description" ""
                  "srcset" $srcset
                  "src" $imgSmallSrc
                  "width" 256
                  "height" 256
                  )
                }}
              </div>
            {{ end }}
            <header class="mx-5 mt-6 md:col-start-1 md:col-end-3">
              <h2 class="text-2xl font-extrabold md:text-3xl lg:text-4xl">
                Your guide to Pennsylvania
              </h2>
              <p class="mt-2 max-w-lg text-xl">
                Discover overlooked stories, unique investigations, and daily
                joy from across PA with our free daily newsletter.
              </p>
            </header>
            <div
              class="m-5 flex flex-wrap items-stretch justify-start space-y-4 sm:flex-nowrap md:col-start-1 md:col-end-3"
            >
              <label class="sr-only" for="{{ $idEmail }}">Email address</label>
              <input
                id="{{ $idEmail }}"
                class="text-g-8 placeholder-g-6 placeholder-opacity-100 ring-blue-2 box-border w-full appearance-none rounded-sm rounded-tl rounded-bl border border-black bg-white p-2 tracking-wider outline-hidden focus:ring-2 sm:w-7/12 sm:rounded-tr-none sm:rounded-br-none"
                @focus.once="hasFocused = true"
                type="email"
                name="EMAIL"
                placeholder="Email address"
                required
              />
              <button
                style="color: {{ $actionColor }};"
                class="box-border w-5/12 rounded-sm bg-black py-2 font-black tracking-wider hover:shadow-sm sm:rounded-t-none sm:rounded-tr sm:rounded-b sm:rounded-bl-none md:px-8"
                type="submit"
                :disabled="isLoading"
              >
                Sign up
                <svg
                  x-cloak
                  x-transition
                  aria-label="Submitting"
                  x-show="isLoading"
                  class="-mt-1 inline-block h-4 w-4 animate-spin fill-current"
                >
                  {{ partial "helper/svg.html" "spinner" }}
                </svg>
              </button>
            </div>
          </form>
          <p
            class="col-span-6 col-start-1 flex leading-tight md:col-span-7 md:col-start-3"
          >
            <button
              class="flex-initial py-3 pr-5 text-black underline md:mr-5"
              aria-label="close"
              type="button"
              @click="seenIt()"
            >
              I’m already a subscriber
            </button>
            <button
              class="flex-initial py-4 pr-5 text-black underline md:mr-5"
              aria-label="close"
              type="button"
              @click="isOpen = false"
            >
              No thanks
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
