{{ $idEmail := partial "helper/new-id" . | printf "modal-newsletter-%s" }}
{{ if .Param "modal-exclude" | not }}
  <div
    class="fixed z-20 inset-0"
    data-ga-category="modal:newsletter:multi"
    x-data="modal"
    x-cloak
    x-show="isOpen"
    x-transition.opacity
    x-trap.noscroll.inert="isOpen"
    @scroll.window.once.passive="trigger()"
    @click="isOpen = false"
    role="dialog"
    aria-modal="true"
    aria-label="Newsletter sign up"
  >
    <div class="absolute inset-0 bg-g-5 opacity-75"></div>
    <div
      class="absolute inset-0 backdrop-filter backdrop-blur-sm"
      x-transition.delay.150ms
    ></div>
    <div
      class="absolute inset-1 flex overflow-y-auto"
      x-show="isOpen"
      x-transition.delay.50ms
    >
      <form
        class="m-auto max-w-prose overflow-hidden rounded-lg shadow-lg text-g-9 font-sans text-center"
        data-ga-form="newsletters:multi"
        action="{{ .Param `newsletters-action` }}"
        method="post"
        target="_blank"
        tabindex="-1"
        @click.stop
        @keydown.escape="isOpen = false"
      >
        <header
          class="relative flex flex-none justify-between bg-black text-white"
        >
          <p class="mx-auto p-4 h-14 inline-flex items-center">
            <svg
              viewBox="0 0 1024 190"
              aria-hidden="true"
              class="mx-auto h-8 fill-current"
            >
              <use xlink:href="#banner-svg"></use>
            </svg>
          </p>
          <p class="absolute inset-y-0 right-0 p-4 flex items-center">
            <button
              class="flex rounded-full text-g-5 group hover:text-yellow"
              type="button"
              aria-label="close"
              x-ref="closer"
              data-ga-action="modal:newsletter:dismiss"
              @keydown.escape="isOpen = false"
              @click="isOpen = false;"
              :autofocus="isOpen"
            >
              <svg
                class="my-auto p-1 fill-current w-6 h-6"
                style="margin-right: -2px;"
              >
                <use xlink:href="#close-svg"></use>
              </svg>
            </button>
          </p>
        </header>
        <div class="p-8 bg-white">
          {{ partial "newsletter/hidden-input.html" . }}
          <h6
            class="text-lg bg-clip-text text-transparent bg-gradient-to-r from-black via-blue to-robin uppercase font-bold tracking-widest"
          >
            Sign Up For Our Free Newsletters
          </h6>

          <p class="mt-4 text-lg font-semibold leading-tight">
            Get every Spotlight PA story and <br class="hidden sm:inline" />
            the best investigative journalism from across Pa.
          </p>
          <div class="mt-8 mx-auto sm:flex sm:max-w-2xl items-stretch">
            <p class="relative flex-grow">
              <label class="sr-only" for="{{ $idEmail }}">Email address</label>
              <input
                id="{{ $idEmail }}"
                class="pl-10 py-2 w-full rounded border-2 border-g-5 text-g-8 placeholder-g-5 placeholder-opacity-100 tracking-wider appearance-none block bg-white focus:outline-none focus:ring-2 ring-robin"
                type="email"
                name="EMAIL"
                placeholder="Email address"
                required
              />
              <span
                class="absolute inline-flex items-center justify-center inset-y-0 left-0 text-g-5 pointer-events-none z-10 w-10 leading-none"
                aria-hidden="true"
              >
                <svg class="fill-current h-4 w-auto">
                  <use xlink:href="#email-svg"></use>
                </svg>
              </span>
            </p>
          </div>
          <p class="mt-3 text-left">
            <label>
              <input
                type="checkbox"
                name="papost"
                value="1"
                checked
                data-ga-button
                data-ga-action="toggle-newsletter:papost"
              />
              <strong>PA Post (Daily)</strong>: Top news every weekday morning,
              plus a daily puzzle.
            </label>
          </p>
          <p class="mt-1 text-left">
            <label>
              <input
                type="checkbox"
                name="investigator"
                value="1"
                checked
                data-ga-button
                data-ga-action="toggle-newsletter:investigator"
              />
              <strong>The Investigator (Weekly)</strong>: Best accountability
              journalism every Thursday, plus a weekly riddle.
            </label>
          </p>
          <p class="mt-1 text-left">
            <label>
              <input
                type="checkbox"
                name="palocal"
                value="1"
                checked
                data-ga-button
                data-ga-action="toggle-newsletter:palocal"
              />
              <strong>PA Local (Weekly)</strong>: A fresh look at the incredible
              people, places, and food of Pa. every Friday, plus events, guides,
              best-of, and more.
            </label>
          </p>
          <button
            class="mt-6 px-8 py-2 bg-orange text-white uppercase font-semibold rounded tracking-wider hover:shadow"
            type="submit"
          >
            Sign me up
          </button>
          <p class="mt-5 flex space-x-2">
            <button
              class="flex-grow text-g-6 hover:underline"
              aria-label="close"
              type="button"
              @click="
                $dispatch('x-form-submit', 'newsletters:seenit:submit');
                isOpen = false
              "
            >
              I’m already a subscriber
            </button>
            <button
              class="flex-grow text-g-6 hover:underline"
              aria-label="close"
              type="button"
              @click="isOpen = false"
            >
              No thanks
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
{{ end }}
