{{ $idEmail := partial "helper/new-id" . | printf "modal-newsletter-%s" }}


<div
  class="fixed inset-0 z-50"
  data-ga-category="modal:newsletter:multi"
  x-data="modal"
  x-cloak
  x-show="isOpen"
  x-transition.opacity
  x-trap.noscroll.inert="isOpen"
  @open-sticky.window="show()"
  @click="isOpen = false"
  role="dialog"
  aria-modal="true"
  aria-label="Newsletter sign up"
>
  <div class="absolute inset-0 bg-g-4 opacity-75"></div>
  <div
    class="absolute inset-0 backdrop-blur-sm backdrop-filter"
    x-transition.delay.150ms
  ></div>
  <div
    class="absolute inset-1 flex overflow-y-auto"
    x-show="isOpen"
    x-transition.delay.50ms
  >
    <form
      class="m-auto w-full max-w-prose overflow-hidden rounded-lg text-center font-sans text-g-9 shadow-lg"
      x-data="newsletter($el.dataset.baseUrl)"
      data-base-url="{{ page.Param `newsletters-base-url` }}"
      @submit.prevent="submit"
      tabindex="-1"
      @click.stop
      @keydown.escape="isOpen = false"
    >
      {{ partial "newsletter/talkofthetown-hidden.html" . }}
      <header
        class="relative flex h-56 flex-none justify-between bg-blue-1 bg-cover text-white md:h-48"
        style="
          background-image: url('https://www.spotlightpa.org/imgproxy/insecure/rt:fill/w:1000/h:750/g:sm/el:1/q:75/ZXh0ZXJuYWwvaHg3Z2gzeTMwZ3MzcW43bXF3cmoyNTliM20uanBlZw==.webp');
          background-position: center;
        "
      >
        <h6
          class="text-shadow absolute bottom-4 text-xl font-bold uppercase leading-tight tracking-wider text-white"
        >
          Get all the top news and notes from State College & north-central PA.
        </h6>

        <p class="absolute right-0 top-0 flex items-center p-4">
          <button
            class="group flex rounded-full text-white hover:text-orange focus:text-g-3"
            type="button"
            aria-label="close"
            x-ref="closer"
            data-ga-category="dismiss"
            @keydown.escape="isOpen = false"
            @click="isOpen = false;"
            :autofocus="isOpen"
          >
            <svg
              class="my-auto h-8 w-8 fill-current p-1 opacity-70"
              style="margin-right: -2px;"
            >
              {{ partial "helper/svg.html" "close" }}
            </svg>
          </button>
        </p>
      </header>
      <div class="bg-white px-8 py-4">
        <p class="mt-4 text-lg leading-tight">
          Sign up for
          <b class="uppercase">Spotlight PA’s free weekly newsletter</b> and get
          our exclusive reporting, plus the most important news and events from
          our region.
        </p>
        <div class="mx-auto mt-8 items-stretch sm:flex sm:max-w-2xl">
          <p class="relative flex-grow">
            <label class="sr-only" for="{{ $idEmail }}">Email address</label>
            <input
              id="{{ $idEmail }}"
              class="spl-input text-lg"
              type="email"
              name="EMAIL"
              placeholder="Email address"
              required
            />
            <span
              class="pointer-events-none absolute inset-y-0 right-3 inline-flex items-center text-g-4"
              aria-hidden="true"
            >
              <svg class="h-4 w-4 fill-current">
                {{ partial "helper/svg.html" "email" }}
              </svg>
            </span>
          </p>
        </div>
        <button
          class="mt-6 rounded bg-orange px-8 py-2 font-semibold uppercase tracking-wider text-white hover:shadow"
          type="submit"
          :disabled="isLoading"
        >
          Sign me up
          <svg
            x-cloak
            x-transition
            aria-label="Submitting"
            x-show="isLoading"
            class="-mt-1 inline-block h-4 w-4 animate-spin fill-current"
          >
            {{ partial "helper/svg.html" "spinner" }}
          </svg>
        </button>
        <p class="mt-5 flex space-x-2">
          <button
            class="flex-grow text-g-6 hover:underline"
            aria-label="close"
            type="button"
            @click="seenIt()"
          >
            I’m already a subscriber
          </button>
          <button
            class="flex-grow text-g-6 hover:underline"
            aria-label="close"
            type="button"
            @click="isOpen = false"
          >
            No thanks
          </button>
        </p>
      </div>
    </form>
  </div>
</div>
