{{ $imagename := .filename }}
{{ $hed := .hed }}
{{ $dek := .dek }}
{{ $link := .link }}


<!-- 
  x-data="modal"
  x-cloak
-->
<section
  data-ga-category="modal:donate:takeover"
  x-data="sticky"
  x-show="isOpen"
  x-transition:enter="transition ease-out duration-500"
  x-transition:enter-start="opacity-0 transform translate-x-8"
  x-transition:enter-end="opacity-100 transform translate-x-0"
  x-transition:leave="transition ease-in duration-500"
  x-transition:leave-start="opacity-100 transform translate-x-0"
  x-transition:leave-end="opacity-0 transform translate-x-8"
  @open-sticky.window="show()"
  @close-sticky.window="close()"
  data-ga-category="modal:sticky"
  @keydown.escape="close"
  x-cloak
  aria-modal="true"
  aria-label="Contribute"
  class="fixed bottom-0 left-0 z-30 flex flex-wrap md:left-auto md:top-0 md:right-0 md:h-full md:w-1/3"
>
  <button
    class="absolute right-3 -top-10 flex rounded-xl bg-white text-white md:top-4 md:right-auto md:left-5"
    type="button"
    aria-label="close"
    x-ref="closer"
    data-ga-action="modal:newsletter:dismiss"
    @keydown.escape="isOpen = false"
    @click="isOpen = false;"
    :autofocus="isOpen"
  >
    <svg class="my-auto box-content h-6 w-6 fill-black">
      {{ partial "helper/svg.html" "close" }}
    </svg>
  </button>
  <a
    href="{{ $link }}"
    data-sf-campaign="701Dn000000YqKfIAK"
    class="bottom-0 flex flex-wrap overflow-y-scroll ring-red focus:outline-none focus:ring-2 md:left-auto md:top-0 md:h-full"
    :class="{'left-full': !isOpen, 'overflow-y-hidden': !isOpen}"
  >
    <header
      class="z-20 flex-1 self-start overflow-visible font-serif font-bold text-white sm:min-w-full md:flex md:h-0 md:items-end md:bg-black"
    >
      <h2
        class="bg-red p-4 text-xl md:mr-9 md:-mb-28 md:p-10 md:text-2xl lg:text-3xl xl:text-4xl"
      >
        {{ $hed }}
      </h2>
    </header>
    <span class="c-red-8 -order-1 self-end sm:order-1 sm:self-start md:mt-28">
      <svg
        class="fill-red-8 sm:origin-center sm:scale-[(-1,_1)]"
        width="16"
        height="22"
      >
        <path class="sm:invisible" fill-rule="evenodd" d="M0 22h16V0z" />
        <path
          class="invisible sm:visible"
          fill-rule="evenodd"
          d="M.014 0h16v20z"
        />
      </svg>
    </span>

    {{ with $imagename }}
      <div
        class="order-1 m-0 bg-black w-5/12 justify-items-stretch overflow-hidden sm:flex sm:items-stretch md:-order-1 md:h-2/5 md:w-full"
      >
        {{ $sizes := (slice
          (dict "width" 266 "height" 266)
          (dict "width" 480 "height" 480)
          )
        }}
        {{ $srcset := partial "helper/build-srcset" (dict
          "sizes" $sizes
          "filename" $imagename
          "gravity" "no"
          )
        }}

        {{ $imgOpt := dict
          "filename" $imagename
          "width" 480
          "height" 480
          "gravity" "no"
        }}
        {{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}
        {{ partial "tag/picture.html" (dict
          "pictureClass" "w-full flex"
          "imgClass" "w-full object-cover"
          "sizeHint" "480px"
          "eager" false
          "description" ""
          "srcset" $srcset
          "src" $imgSmallSrc
          "width" 480
          "height" 480
          )
        }}
      </div>
    {{ end }}


    <div
      class="flex-0 flex w-full flex-col items-center justify-center space-y-6 bg-black p-4 font-sans sm:order-1 sm:flex-1 sm:space-y-4 sm:pr-12 sm:pl-16 md:h-3/5 md:justify-start md:space-y-4 md:self-start md:py-12 md:pt-32 md:pb-8"
    >
      <p class="text-sm text-white sm:text-base">
        {{ $dek }}
      </p>

      <span
        class="block w-full border border-black bg-white px-4 py-2 text-center text-xl font-bold text-black no-underline duration-300 hover:border-red-7 hover:text-red-7 sm:p-4 lg:text-2xl"
      >
        Contribute →
      </span>
    </div>
  </a>
</section>
