<nav
  id="top"
  x-data="{ isToggle: false }"
  class="flex flex-wrap items-end justify-between bg-beige px-3 pt-2 font-sans xl:justify-around"
  data-ga-category="navbar"
  data-sf-campaign="701Dn000000YgosIAC"
  aria-label="main navigation"
>
  <h1
    class="flex flex-[0_1_178px] justify-around sm:flex-[0_1_305px] lg:flex-[0_1_448px] xl:flex-[0_0_864px]"
  >
    <a class="h-max flex-[auto]" href="/" data-ga-category="logo">
      <svg class="block h-8 w-full sm:h-14 md:h-16 lg:h-20">
        <title>Home</title>
        <desc>Spotlight PA logo</desc>
        {{ partial "helper/svg.html" "banner" }}
      </svg>
    </a>
  </h1>
  <a
    data-sf-campaign="701Dn000000YgogIAC"
    data-ga-category="donate"
    class="group relative inline-flex items-center justify-around overflow-hidden rounded-md bg-gradient-to-r from-red-7 to-red p-2 hover:from-blue-7 hover:to-blue sm:flex sm:w-32 sm:justify-center lg:w-52 lg:py-4 lg:px-7"
    href="/donate"
  >
    <span
      class="absolute inset-0 z-0 bg-red [clip-path:_polygon(0_0,_0%_100%,_15%_50%)] group-hover:bg-blue"
    ></span>
    <span
      class="flex-0 relative inline-flex flex-wrap items-center text-xs font-bold uppercase leading-none tracking-wide text-white lg:text-lg lg:leading-none"
    >
      <svg
        class="mr-1 inline-block h-4 w-4 fill-current lg:h-5 lg:w-5"
        aria-hidden="true"
      >
        {{ partial "helper/svg.html" "heart" }}
      </svg>
      Support<span class="hidden sm:inline">&nbsp;Spotlight PA</span>
    </span>
  </a>
  <p
    class="flex-0 w-full py-3 text-center text-xs font-extrabold leading-none tracking-wide lg:text-sm xl:text-base"
  >
    Journalism that gets results for Pennsylvania
  </p>
  <ul
    class="-order-1 hidden text-xs font-extrabold leading-tight tracking-wide sm:block sm:w-32 lg:w-52 lg:text-sm xl:text-base"
  >
    <li>Independent</li>
    <li>Nonpartisan</li>
    <li>Nonprofit</li>
  </ul>
  <div
    x-data="{ toggle: false }"
    class="relative -mx-3 flex h-11 w-[100vw] items-center justify-between md:justify-around border-t border-b bg-white"
    :class="toggle ? 'px-5' : 'px-3'"

  >
    <a
      href="/search/"
      class="z-20 flex flex-row-reverse items-center gap-1 text-sm font-bold leading-none tracking-wide"
      data-ga-category="search"
      :data-ga-action="'modal:search:open'"
      x-data
      @click.prevent="$dispatch('modal:search:open')"
    >
      <svg class="h-[14px] w-[14px]" aria-label="Search">
        {{ partial "helper/svg.html" "search" }}
      </svg>
      Search
    </a>

    <button
      class="no-js:hidden group z-20 order-1 flex flex-row items-center gap-1 text-sm font-bold leading-none tracking-wide"
      type="button"
      x-ref="button"
      aria-label="Site Menu"
      :aria-expanded="isToggle"
      :aria-controls="$id('dropdown-button')"
      @click="toggle = ! toggle"
      data-ga-category="burger"
      data-ga-action="menu:toggle"
      x-report-click
    >
      Menu
      <div class=" flex h-5 w-5 cursor-pointer items-center justify-center">
        <div class="space-y-1">
          <span
            class="block h-[2px] w-5 origin-center rounded-full bg-black transition-transform ease-in-out"
            :class="toggle ? 'translate-y-1.5 rotate-45' : ''"
          ></span>
          <span
            class="block h-[2px] w-5 origin-center rounded-full bg-black transition-transform ease-in-out"
            :class="toggle ? 'w-0' : ''"
          ></span>
          <span
            class="block h-[2px] w-3 origin-center rounded-full bg-black transition-transform ease-in-out"
            :class="toggle ? 'w-5 -translate-y-1.5 -rotate-45' : ''"
          ></span>
        </div>
      </div>
    </button>
    <ul
      x-on="toggle"
      class="absolute right-1 -top-2 ml-1 z-10 flex-wrap gap-2 rounded border border-s-5 bg-white shadow 
       sm:rounded-none sm:border-0 sm:bg-transparent sm:justify-evenly sm:flex sm:flex-1 sm:items-center sm:mx-4 md:mx-16 sm:top-auto sm:w-auto sm:h-11 sm:bg-none sm:shadow-none sm:before:content-[] sm:relative
      sm:max-w-lg md:max-w-5xl before:mt-4 before:w-full before:border-b before:content-['']"
      :class="toggle ? 'flex w-auto h-auto px-4 pt-12 pb-10' : 'overflow-hidden w-0 h-0'"
    >
      {{ range site.Menus.main }}
        <li class="flex h-6 flex-[1_0_45%] items-center text-sm leading-none sm:flex-[0_0_auto]">
          <a class="flex-1 uppercase" href="{{ .URL }}" data-ga-category="item"
            >{{ .Name }}</a
          >
        </li>
      {{ end }}
      {{ range site.Menus.main_more }}
        <li
          class="mt-4 flex w-full flex-wrap items-center text-sm leading-none sm:hidden"
        >
          <a
            class="w-full flex-1 border-b py-4 font-bold uppercase"
            href="{{ .URL }}"
            data-ga-category="item"
            >{{ .Name }}</a
          >
          {{ if .HasChildren }}
            <ul class="my-3 flex w-full flex-wrap gap-2">
              {{ range .Children }}
                <li
                  class="flex h-6 flex-[1_0_45%] items-center text-sm leading-none"
                >
                  <a class="flex-1" href="{{ .URL }}" data-ga-category="item"
                    >{{ .Name }}</a
                  >
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </li>
      {{ end }}

    </ul>
  </div>
</nav>
