{{ $alt := .Param "topper-image-description" }}
{{ $link := .Param "topper-link" }}

{{ $imgDesktop := .Param "topper-desktop-images" }}
{{ $widthDesktop := .Param "topper-desktop-width" }}
{{ $heightDesktop := .Param "topper-desktop-height" }}

{{ $imgMobile := .Param "topper-mobile-images" }}

{{ $widthMobile := .Param "topper-mobile-width" }}
{{ $heightMobile := .Param "topper-mobile-height" }}

{{ $bannerActive := .Param "banner-active" }}
{{ $toppperBgColor := .Param "topper-bg-color" }}
{{ $toppperDividerColor := .Param "topper-divider-color" }}


<section
  class="no-js:hidden px-auto bg-white py-8 sm:py-12"
  data-ga-category="topper"
  data-sf-campaign="701Dn000000YgojIAC"
>
  <p class="flex items-center justify-center">
    {{ if $imgDesktop }}
      {{ with $link }}
        <a
          class="hidden sm:block sm:max-w-full md:max-w-3xl lg:max-w-[960px]"
          data-ga-category="desktop"
          href="{{ . }}"
          style="
            background-color: {{ $toppperBgColor }};
            max-width: {{ $widthDesktop }};
            max-height: {{ $heightDesktop }};
          "
        >
          {{- partial "tw/image-rotator.html" (dict
            "images" $imgDesktop
            "width" $widthDesktop
            "height" $heightDesktop
            "description" $alt
            "transparent" true
            "eager" true
            )
          -}}
        </a>
      {{ else }}
        <span class="hidden sm:mx-auto sm:my-16 sm:block">
          {{- partial "tw/image-rotator.html" (dict
            "images" $imgDesktop
            "width" $widthDesktop
            "height" $heightDesktop
            "description" $alt
            "transparent" true
            "eager" true
            )
          -}}
        </span>
      {{ end }}
    {{ end }}
    {{ if $imgMobile }}
      {{ with $link }}
        <a
          class="mx-auto h-[250px] w-[300px] sm:hidden"
          data-ga-category="mobile"
          href="{{ . }}"
          style="
            background-color: {{ $toppperBgColor }};
          "
        >
          {{- partial "tw/image-rotator.html" (dict
            "images" $imgMobile
            "width" $widthMobile
            "height" $heightMobile
            "description" $alt
            "transparent" true
            "eager" true
            )
          -}}
        </a>
      {{ else }}
        <span class="hidden sm:mx-auto sm:my-16 sm:block">
          {{- partial "tw/image-rotator.html" (dict
            "images" $imgMobile
            "width" $widthMobile
            "height" $heightMobile
            "description" $alt
            "transparent" true
            "eager" true
            )
          -}}
        </span>
      {{ end }}
    {{ end }}
  </p>
</section>
