{{ $alt := .Param "topper-image-description" }}
{{ $link := .Param "topper-link" }}

{{ $desktopImages := .Param "topper-desktop-images" }}
{{ $desktopWidth := .Param "topper-desktop-width" }}
{{ $desktopHeight := .Param "topper-desktop-height" }}

{{ $mobileImages := .Param "topper-mobile-images" }}

{{ $mobileWidth := .Param "topper-mobile-width" }}
{{ $mobileHeight := .Param "topper-mobile-height" }}

{{ $bannerActive := .Param "banner-active" }}
{{ $toppperBgColor := .Param "topper-bg-color" }}
{{ $toppperDividerColor := .Param "topper-divider-color" }}

{{ $picture := partial "tw/picture-rotator.html" (dict
  "mobileImages" $mobileImages
  "mobileWidth" $mobileWidth
  "mobileHeight" $mobileHeight
  "desktopImages" $desktopImages
  "desktopWidth" $desktopWidth
  "desktopHeight" $desktopHeight
  "description" $alt
  "eager" true
  )
}}


<aside
  class="py-8 sm:py-10 print:hidden"
  data-ga-category="topper"
  data-fru-campaign="top-banner"
>
  <div class="flex items-center justify-center px-4">
    {{ if $link }}
      <a
        class="mx-auto sm:max-w-full md:max-w-3xl lg:max-w-[960px]"
        href="{{ $link }}"
      >
        {{- $picture -}}
      </a>
    {{ else }}
      <span class="mx-auto sm:max-w-full md:max-w-3xl lg:max-w-[960px]">
        {{- $picture -}}
      </span>
    {{ end }}
  </div>
</aside>
