{{ $link := .link }}
{{ $wrapperClass := .class | default "flex justify-center no-js:hidden" }}
{{ $picture:= partial "tw/picture-rotator.html" (dict
  "mobileImages" .mobileImages
  "mobileWidth" .mobileWidth
  "mobileHeight" .mobileHeight
  "desktopImages" .desktopImages
  "desktopWidth" .desktopWidth
  "desktopHeight" .desktopHeight
  "description" .description
  )
}}


<section class="{{ $wrapperClass }}" data-ga-category="promo-image">
  <p>
    {{ if $link }}
      <a href="{{ $link }}">
        {{- $picture -}}
      </a>
    {{ else }}
      <span>
        {{- $picture -}}
      </span>
    {{ end }}
  </p>
</section>
