{{ $desktop := page.Param "ad-footer-desktop-active" }}
{{ $mobile := page.Param "ad-footer-mobile-active" }}
{{ $wrapperClass := .wrapperClass | default "bg-white px-6 pt-6" }}

{{ if or $desktop $mobile }}
  <div
    class="{{ $wrapperClass }}"
    data-fru-campaign="footer-promo"
    id="footer-promo"
  >
    {{ if $desktop }}
      <div class="hidden sm:block">
        {{ partial "tw/promo-multi.html" (dict
          "promos" (page.Param "ad-footer-desktop")
          "width" (page.Param "ad-footer-desktop-width")
          "height"  (page.Param "ad-footer-desktop-height")
          "class" "mx-auto sm:max-w-full md:max-w-3xl lg:max-w-[960px]"
          )
        }}
      </div>
    {{ end }}
    {{ if $mobile }}
      <div class="sm:hidden">
        {{ partial "tw/promo-multi.html" (dict
          "promos" (page.Param "ad-footer-mobile")
          "width" (page.Param "ad-footer-mobile-width")
          "height"  (page.Param "ad-footer-mobile-height")
          )
        }}
      </div>
    {{ end }}
  </div>
{{ end }}
