{{ $link := .link }}
{{ $wrapperClass := index . "class" | default "flex justify-center no-js:hidden" }}

{{ $img := partial "tw/image-rotator.html" (dict
  "images" .images
  "width" .width
  "height" .height
  "description" .description
  "eager" .eager
  "transparent" .transparent
  )
}}

{{ if $images }}
  <aside class="{{ $wrapperClass }}" data-ga-category="promo-image">
    {{ with $link }}
      <a href="{{ . }}">
        {{- $img -}}
      </a>
    {{ else }}
      <span>
        {{- $img -}}
      </span>
    {{ end }}
  </aside>
{{ end }}
