{{ $desktop := page.Param "ad-header-desktop-active" }}
{{ $mobile := page.Param "ad-header-mobile-active" }}
{{ $wrapperClass := .wrapperClass | default "bg-white px-6 pt-6 no-js:hidden" }}

{{ if or $desktop $mobile }}
  <div class="{{ $wrapperClass }}" data-fru-campaign="header" id="promo-header">
    {{ if $desktop }}
      {{ partial "tw/promo-multi.html" (dict
        "promos" (page.Param "ad-header-desktop")
        "width" (page.Param "ad-header-desktop-width")
        "height"  (page.Param "ad-header-desktop-height")
        "wrapperClass" "hidden sm:block"
        "class" "mx-auto max-w-full md:max-w-3xl lg:max-w-[960px]"
        "eager" true
        )
      }}
    {{ end }}
    {{ if $mobile }}
      {{ partial "tw/promo-multi.html" (dict
        "promos" (page.Param "ad-header-mobile")
        "width" (page.Param "ad-header-mobile-width")
        "height"  (page.Param "ad-header-mobile-height")
        "wrapperClass" "sm:hidden"
        "eager" true
        )
      }}
    {{ end }}
  </div>
{{ end }}
