{{ $idEmail := partial "helper/new-id" . | printf "rail-newsletter-%s" }}


<form
  class="mx-auto w-full rounded bg-g-2 p-4 font-sans shadow"
  data-ga-category="rail-newsletter"
  x-data="newsletter($el.dataset.baseUrl)"
  data-base-url="{{ page.Param `newsletters-base-url` }}"
  @submit.prevent="submit"
>
  {{ partial "newsletter/berks-county-hidden.html" . }}
  <h2
    class="text-center text-xl font-semibold uppercase tracking-wide text-orange"
  >
    Good Day, Berks
  </h2>
  <p class="mt-6 text-center leading-tight">
    Be the first to know about articles, staffing, events, and more from our new
    bureau in Reading and Berks County.
  </p>
  <p class="relative mt-4">
    <label class="sr-only" for="{{ $idEmail }}">Email address</label>
    <input
      id="{{ $idEmail }}"
      class="spl-input"
      type="email"
      name="EMAIL"
      placeholder="Email address"
      required
    />
    <span
      class="pointer-events-none absolute inset-y-0 right-3 inline-flex items-center text-g-4"
      aria-hidden="true"
    >
      <svg class="h-4 w-4 fill-current">
        {{ partial "helper/svg.html" "email" }}
      </svg>
    </span>
  </p>
  <button class="btn-donate-slim mt-2" type="submit" :disabled="isLoading">
    Subscribe
    <svg
      x-cloak
      x-transition
      aria-label="Submitting"
      x-show="isLoading"
      class="-mt-1 inline-block h-4 w-4 animate-spin fill-current"
    >
      {{ partial "helper/svg.html" "spinner" }}
    </svg>
  </button>
</form>
