{{ $idInput := partial "helper/new-id" . }}
<form
  x-data="searchArticles"
  @submit.prevent="document.activeElement.blur()"
  data-ga-category="search"
  class="no-js:hidden p-1 text-left"
>
  <div class="flex">
    <div class="flex-grow">
      <label class="sr-only" for="{{ $idInput }}">Search</label>
      <input
        id="{{ $idInput }}"
        class="
          block w-full appearance-none
          rounded-lg rounded-r-none
          border-2 border-s-4 bg-white py-2
          pl-4 tracking-wider text-s-8 placeholder-s-4
          placeholder-opacity-100 outline-none focus:border-blue
        "
        @input="isLoading = true"
        x-model.debounce.500ms="query"
        placeholder="Search Spotlight PA news…"
        :autofocus="isOpen"
      />
    </div>
    <div class="z-10 mt-0">
      <button
        class="
          h-full rounded-r-lg
          border-2 border-yellow-5 bg-yellow-4
          px-4 py-2 font-bold
          uppercase tracking-widest text-s-0 outline-none
          focus:border-yellow-6
        "
      >
        <svg x-show="!isLoading" class="h-4 w-4 fill-current">
          <use xlink:href="#search-svg"></use>
        </svg>
        <svg
          x-cloak
          x-show="isLoading"
          class="h-4 w-4 animate-spin fill-current"
        >
          <use xlink:href="#spinner-svg"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mt-1">
    <p
      class="font-light text-s-6"
      x-show="resultsText"
      x-text="resultsText"
    ></p>
    <template x-if="error">
      <div class="font-light text-orange" x-template>
        Could not load results. ${error.message}
      </div>
    </template>
  </div>

  <div
    class="flex flex-col space-y-8 font-serif sm:space-y-6"
    x-data="{ showDate: true }"
  >
    <template x-for="story in stories" :key="story.url">
      {{ partial "tw/thumb-h-story-js.html" . }}
    </template>
  </div>
</form>
