{{ $id := partial "helper/new-id" . }}
{{ $wrapperClass := .wrapperClass | default "relative mx-auto mt-8 overflow-clip rounded bg-black lg:-mx-32 xl:-mx-48" }}
{{ $jsOpts := dict
  "minify" true
}}
{{ $js := resources.Get "js/esbuild/smoothscroll.js" | js.Build $jsOpts }}
<script src="{{ $js.RelPermalink }}" type="module"></script>
<div x-data="carousel" class="{{ $wrapperClass }}">
  <a class="sr-only font-sans text-sm focus:not-sr-only" href="#{{ $id }}"
    >Skip slideshow…</a
  >

  <nav class="font-sans">
    <div
      x-on:keydown.right="next"
      x-on:keydown.left="prev"
      tabindex="0"
      role="region"
      aria-labelledby="carousel-label"
      class="relative w-full"
    >
      <!-- Prev Button -->
      <button
        x-on:click="prev"
        class="absolute bottom-0 left-0 top-0 z-20 flex w-20 cursor-pointer items-center justify-center bg-gradient-to-r from-black to-transparent text-6xl"
        :aria-disabled="atBeginning"
        :tabindex="atBeginning ? 1 : 1"
        :class="{'opacity-0': atBeginning }"
      >
        <span aria-hidden="true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="-ml-8 h-16 w-16 text-g-1 md:-ml-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="3"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </span>
        <span class="sr-only">Skip to previous slide page</span>
      </button>
      <div
        x-ref="slider"
        tabindex="0"
        role="listbox"
        class="flex items-start justify-start overflow-hidden"
      >
        <ul
          @keydown.right.prevent.stop="$focus.wrap().next()"
          @keydown.home.prevent.stop="$focus.first()"
          @keydown.page-up.prevent.stop="$focus.first()"
          @keydown.left.prevent.stop="$focus.wrap().prev()"
          @keydown.end.prevent.stop="$focus.last()"
          @keydown.page-down.prevent.stop="$focus.last()"
          x-ref="slider"
          tabindex="0"
          role="region"
          aria-labelledby="carousel-label"
          class="flex w-full snap-x snap-mandatory flex-row overflow-x-scroll"
        >
          {{ .Inner }}
        </ul>
      </div>
      <button
        @click="next()"
        class="absolute bottom-0 right-0 top-0 z-20 flex w-20 cursor-pointer items-center justify-center bg-gradient-to-l from-black to-transparent text-6xl"
        :aria-disabled="atEnd"
        :tabindex="atEnd ? 1 : 1"
        :class="{'opacity-0': atEnd }"
      >
        <span aria-hidden="true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="-mr-8 h-16 w-16 text-g-1 md:-mr-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="3"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </span>
        <span class="sr-only">Skip to next slide page</span>
      </button>
    </div>
  </nav>
  <span id="{{ $id }}" class="sr-only">Story continues below…</span>
</div>
