{{ $emailBody := printf "Read this from Spotlight PA\n\n%s\n%s\n\n%s" .LinkTitle .Description .Permalink }}
{{ $emailSubject := .LinkTitle }}

{{ $btnClass := `w-6 h-6 sm:w-8 sm:h-8 md:w-12 md:h-12 flex items-center justify-center rounded-full bg-g-9 transition-shadow outline-none ring-2 ring-transparent focus:ring-g-4 active:ring-g-8` }}
<nav
  class="print-exact sticky top-24 mt-6 flex w-full items-center gap-2 space-x-1 text-white sm:w-12 sm:flex-col sm:items-start md:items-end xl:w-20"
  data-ga-category="social-buttons"
>
  <span class="font-sans text-sm font-bold uppercase text-g-9 sm:hidden"
    >Share:
  </span>
  <a
    href="mailto:?subject={{ $emailSubject }}&amp;body={{ $emailBody }}"
    class="{{ $btnClass }}"
    title="Share this page by email"
    data-ga-category="email"
  >
    <svg class="h-3 w-3 fill-current sm:h-4 sm:w-4 md:h-6 md:w-6">
      {{ partial "helper/svg.html" "email" }}
    </svg>
  </a>
  <a
    class="{{ $btnClass }}"
    href="https://www.facebook.com/dialog/feed?app_id=589296315209793&display=page&link={{ .Permalink }}"
    data-ga-category="facebook"
    title="Share this page on Facebook"
  >
    <svg class="h-3 w-3 fill-current md:h-6 md:w-6">
      {{ partial "helper/svg.html" "fb" }}
    </svg>
  </a>

  <a
    class="{{ $btnClass }} block sm:hidden"
    href="https://bsky.app/intent/compose?text={{ .LinkTitle }}%20{{ .Permalink }}"
    data-ga-category="bluesky"
    title="Share this page on Bluesky"
  >
    <svg class="h-3 w-3 fill-current md:h-6 md:w-6">
      {{ partial "helper/svg.html" "bluesky" }}
    </svg>
  </a>

  <a
    class="{{ $btnClass }}"
    href="https://twitter.com/intent/tweet?text={{ .LinkTitle }}&via=SpotlightPA&url={{ .Permalink }}&tw_p=tweetbutton"
    data-ga-category="twitter"
    title="Tweet about this page"
  >
    <svg class="h-3 w-3 fill-current md:h-6 md:w-6">
      {{ partial "helper/svg.html" "twitter" }}
    </svg>
  </a>

  <a
    class="{{ $btnClass }} block sm:hidden"
    href="https://www.reddit.com/submit?url={{ .Permalink }}&title={{ .LinkTitle }}"
    data-ga-category="reddit"
    title="Share on Reddit"
  >
    <svg class="h-3 w-3 fill-current md:h-6 md:w-6">
      {{ partial "helper/svg.html" "reddit" }}
    </svg>
  </a>

  <button
    class="{{ $btnClass }} bg-orange"
    data-share-text="Read “{{ .LinkTitle }}” from Spotlight PA"
    data-ga-category="sharesheet"
    x-report-click
    title="More ways to share this page"
    x-data
    x-bind="shareButton"
    x-cloak
  >
    <svg class="h-4 w-4 fill-current">
      {{ partial "helper/svg.html" "share" }}
    </svg>
  </button>
</nav>
