{{ $lastLetter := "" }}
<div>
  <ul>
    {{ range . }}
      {{ $letterGroup := slicestr .sort 0 1 | upper }}
      {{ if ne $letterGroup $lastLetter }}
        {{ $lastLetter = $letterGroup }}
        <!-- Escape code to pacify Prettier -->
        {{ `</ul></div>` | safeHTML }}
        {{ `<div class="mb-6 break-inside-avoid-column">` | safeHTML }}
        <h2 class="font-sans text-3xl font-bold">{{ $lastLetter }}</h2>
        {{ `<ul>` | safeHTML }}
      {{ end }}
      <li>
        {{ partial "tag/maybe-link.html" (dict
          "linkClass" "text-blue hover:underline"
          "text" .display
          "link" .url
          )
        }}
      </li>
    {{ end }}
  </ul>
</div>
