{{ $defaultBody := `We believe everyone in Pennsylvania should have access to this kind of unique, in-depth, and essential public-service journalism regardless of what they can afford. That’s why we don’t have a paywall on our site, charge a subscription fee, or clutter our articles with ads that have nothing to do with our state. <b>Instead, we use the honor system.</b>

  We are doubling down on the idea that if we ask our readers to contribute what you think we’re worth, we can build a sustainable business model for independent news. If you learned something from this report, if you were surprised, outraged, or simply feel more informed, will you <b>pay it forward and make a contribution to Spotlight PA now?</b>`
}}

{{ if .Param "show-support-box" }}
  <aside class="font-sans md:text-lg mt-6" data-ga-category="inline:support">
    <a href="/donate/" class="flex">
      <div
        class="mx-auto py-8 sm:py-12 px-4 sm:px-8 rounded shadow bg-goldenrod"
        x-data="{ bgSwap: Math.random() > 0.5 }"
        :class="{ 'bg-goldenrod': !bgSwap, 'bg-cyan': bgSwap }"
      >
        <h3 class="text-lg sm:text-xl font-bold">
          {{ .Page.Param "support-hed" | default "…we have a small favor to ask" }}
        </h3>
        <div class="mt-6 space-y-4 leading-snug">
          {{ .Page.Param "support-text" | default $defaultBody | markdownify }}
        </div>
        <div class="mt-8 text-center">
          <span
            class="py-3 px-2 sm:px-6 text-white bg-orange shadow rounded-lg hover:shadow-md uppercase text-sm md:text-lg font-bold tracking-widest"
          >
            {{ .Page.Param "support-cta" | default "Support Spotlight PA »" }}
          </span>
        </div>
      </div>
    </a>
  </aside>
{{ end }}
