{{ $src := .image }}
{{ $hed := .title }}
{{ $dek := .dek }}
{{ $sub := .subhed }}
{{ $signupHed := .signupHed }}
{{ $signupDek := .signupDek }}
{{ $cta := .cta | default "Sign Up!" }}
{{ $gaCategory := .gaCategory | default "takeover" }}
{{ $gaForm := .gaForm }}
{{ $hiddenField := .hiddenField }}
{{ $content := .content }}
{{ $eager := .eager }}
<header
  class="relative z-50 flex min-h-[80vh] flex-col justify-center bg-black text-white"
  style="min-height: 80vh;"
>
  {{ $imgOpt := dict
    "filename" ($src)
    "width" 1600
    "height" 1000
    "gravity" "ce"
    "eager" .eager
  }}
  {{ $url := partial "helper/imgproxy" $imgOpt }}
  <div
    class="bg-blue-1 absolute inset-0 flex bg-cover"
    style="background-image: url({{ $url }}); background-position: center; z-index: -1;"
    aria-hidden="true"
  >
    <div
      class="absolute inset-0 bg-linear-to-t from-black via-black to-transparent opacity-60"
    ></div>
  </div>
  <div class="px-4 py-8 leading-tight sm:p-12">
    <div class="mx-auto flex w-full flex-col justify-center md:max-w-2xl">
      <div class="mx-auto font-sans">
        <h1 class="text-shadow text-4xl font-extrabold lg:text-5xl xl:text-6xl">
          {{ $hed }}
        </h1>
        {{ with $sub }}
          <h2
            class="text-shadow mt-4 text-2xl md:text-3xl lg:text-4xl xl:text-5xl"
          >
            {{ $sub }}
          </h2>
        {{ end }}
        {{ with $dek }}
          <p class="text-shadow mt-3 text-2xl leading-tight">{{ $dek }}</p>
        {{ end }}

      </div>
      {{ $idFname :=  partial "helper/new-id" . }}
      {{ $idLname :=  partial "helper/new-id" . }}
      {{ $idEmail :=  partial "helper/new-id" . }}
      {{ with $hiddenField }}
        <label
          for="{{ $idFname }}"
          class="backdrop-fallback ring-g-7 mx-auto my-8 block w-full rounded-sm p-8 shadow-sm ring-1 backdrop-blur-xs backdrop-brightness-50 backdrop-filter"
        >
          <form
            class="p-1 font-sans text-white"
            data-ga-category="{{ $gaCategory }}"
            x-data="newsletter($el.dataset.baseUrl)"
            data-base-url="{{ page.Param `newsletters-base-url` }}"
            @submit.prevent="submit"
          >
            {{ partial $hiddenField . }}
            <h2 class="text-3xl font-extrabold">
              {{ $signupHed }}
            </h2>
            <p class="mt-2 text-base">{{ $signupDek }}</p>
            <div class="mb-5 flex flex-wrap justify-start align-baseline">
              <p class="flex-auto sm:mr-3 sm:flex-[1_0_45%]">
                <label class="mt-4 block font-extrabold" for="{{ $idFname }}">
                  First Name
                </label>
                <input
                  id="{{ $idFname }}"
                  class="spl-input text-black"
                  type="text"
                  name="FNAME"
                  placeholder="First Name"
                  required
                />
              </p>

              <p class="flex-auto sm:ml-3 sm:flex-[1_0_45%]">
                <label class="mt-4 block font-extrabold" for="{{ $idLname }}">
                  Last Name
                </label>
                <input
                  id="{{ $idLname }}"
                  class="spl-input text-black"
                  type="text"
                  name="LNAME"
                  placeholder="Last Name"
                  required
                />
              </p>
              <p class="mr-6 flex-[1_0_100%]">
                <label class="mt-4 block font-extrabold" for="{{ $idEmail }}">
                  Email Address
                </label>
                <input
                  id="{{ $idEmail }}"
                  class="spl-input text-black"
                  type="email"
                  name="EMAIL"
                  placeholder="Email address"
                  required
                />
              </p>
              <button
                type="submit"
                class="btn-signup mt-4"
                :disabled="isLoading"
              >
                {{ $cta }}
                <svg
                  x-cloak
                  x-transition
                  aria-label="Submitting"
                  x-show="isLoading"
                  class="-mt-1 inline-block h-4 w-4 animate-spin fill-current"
                >
                  {{ partial "helper/svg.html" "spinner" }}
                </svg>
              </button>
            </div>
          </form>
        </label>
      {{ end }}


      <div class="featured-content text-white lg:text-xl">
        {{ $content | markdownify }}
      </div>
    </div>
  </div>
</header>
