<section class="min-h-[65vh] bg-black bg-opacity-10 py-20">
  <div class="mx-auto max-w-6xl px-5 lg:flex">
    <h2
      class="lg:sideways-heading mb-4 text-4xl font-black font-sans uppercase leading-none text-s-7 opacity-40 md:text-6xl lg:mb-0 lg:rotate-180"
    >
      Testimonials
    </h2>
    <div
      class="flex-[0_1_46%] flex flex-row flex-wrap max-w-5xl text-lg font-sans text-s lg:pl-20"
    >
      <h3 class="flex-[1_1_auto] self-end font-black font-sans text-3xl text-s">
        Private <br />Events
      </h3>
      <svg
        class="h-20 -order-1 mr-6 self-end"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 82 82"
      >
        <use href="#ticket-stub" />
      </svg>
      <p class="mt-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div
      class="flex-[0_1_46%] flex flex-row flex-wrap max-w-5xl text-lg font-sans text-s lg:pl-20"
    >
      <h3 class="flex-[1_1_auto] self-end font-black font-sans text-3xl text-s">
        Member <br />Newsletter
      </h3>
      <svg
        class="h-20 -order-1 mr-6 self-end"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 66 75"
      >
        <use href="#envelope-with-letter" />
      </svg>
      <p class="mt-4">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</section>
