<article class="{{ .wrapperClass | default `sm:w-64` }}">
  <div data-ga-category="eyebrow">
    {{ partial "tag/a-link.html" (dict
      "link" .rubricLink
      "class" "bg-eyebrow-bg text-eyebrow inline-block px-2 font-sans text-sm font-semibold uppercase border-eyebrow-bg border-2"
      "text" .eyebrow
      )
    -}}
  </div>

  <div>
    {{ partial "tw/image-block.html" .imgOpts }}
  </div>
  <div class="group mt-6">
    <h3 class="text-lg font-semibold leading-tight tracking-tight text-hed">
      <a
        class="group-hover:underline"
        href="{{ .link }}"
        data-ga-category="hed"
      >
        {{ .hed }}
      </a>
    </h3>
    {{ if .dek }}
      <h4
        class="mt-2 font-sans text-base font-normal leading-tight tracking-normal text-dek"
      >
        <a
          href="{{ .link }}"
          class="group-hover:underline"
          data-ga-category="dek"
        >
          {{- .dek -}}
        </a>
      </h4>
    {{ end }}
    {{ if .byline }}
      <h4
        class="mt-2 font-sans text-base font-normal leading-tight tracking-normal text-byline"
      >
        <a
          href="{{ .link }}"
          class="group-hover:underline"
          data-ga-category="byline"
        >
          {{- printf "by %s" .byline -}}
        </a>
      </h4>
    {{ end }}
    {{- if .showDate }}
      <h3
        class="font-sans text-base font-light leading-tight tracking-normal text-date"
        data-ga-category="time"
      >
        <a href="{{ .link }}" class="group-hover:underline">
          <time datetime="{{ .dateISO }}">
            {{- .date }}
          </time>
        </a>
      </h3>
    {{- end -}}
  </div>
</article>
