{{ $thumbClass := .thumbClass | default `w-full flex-shrink-0 sm:w-64` }}
{{ $storyClass := .storyClass | default `w-full flex-grow` }}
{{ $hedSize := .hedSize | default `text-lg` }}


<article class="flex flex-col space-y-1">
  <div data-ga-category="eyebrow">
    {{ if .extendedEyebrow }}
      <span class="inline-flex">
        {{ partial "tag/maybe-link.html" (dict
          "link" .rubricLink
          "class" "bg-eyebrow-bg text-eyebrow inline-block px-2 font-sans text-md font-semibold uppercase border-eyebrow-bg border-2"
          "text" .extendedEyebrow
          )
        -}}
        {{- partial "tag/maybe-link.html" (dict
          "link" .rubricLink
          "class" "bg-eyebrow text-eyebrow-bg inline-block px-2 font-sans text-md font-semibold uppercase border-eyebrow-bg border-2"
          "text" .eyebrow
          )
        }}
      </span>
    {{ else }}
      {{ partial "tag/maybe-link.html" (dict
        "link" .rubricLink
        "class" "bg-eyebrow-bg text-eyebrow inline-block px-2 font-sans text-sm font-semibold uppercase border-eyebrow-bg border-2"
        "text" .eyebrow
        )
      }}
    {{ end }}
  </div>
  <div
    class="
      flex w-full flex-col space-y-2
      sm:flex-row sm:space-y-0 sm:space-x-6
    "
  >
    <div class="{{ $thumbClass }}">
      {{ partial "tw/image-block.html" .imgOpts }}
    </div>
    <div class="{{ $storyClass }} space-y-1">
      <div class="group contents">
        <h2
          class="{{ $hedSize }} font-bold leading-tight tracking-tight text-hed"
        >
          <a
            class="group-hover:underline"
            href="{{ .link }}"
            data-ga-category="hed"
          >
            {{ .hed }}
          </a>
        </h2>
        {{ if .dek }}
          <h3
            class="font-sans text-base font-semibold leading-tight tracking-normal text-dek"
          >
            <a
              href="{{ .link }}"
              class="group-hover:underline"
              data-ga-category="dek"
            >
              {{- .dek -}}
            </a>
          </h3>
        {{ end }}
        {{ if .byline }}
          <h3
            class="font-sans text-base font-semibold leading-tight tracking-normal text-byline"
          >
            <a
              href="{{ .link }}"
              class="group-hover:underline"
              data-ga-category="byline"
            >
              {{- printf "by %s" .byline -}}
            </a>
          </h3>
        {{ end }}
        {{- if .showDate }}
          <h3
            class="mt-2 font-sans text-base font-light leading-tight tracking-normal text-date"
            data-ga-category="time"
          >
            <a href="{{ .link }}" class="group-hover:underline">
              <time datetime="{{ .dateISO }}">
                {{- .date }}
              </time>
            </a>
          </h3>
        {{- end -}}
      </div>
      {{ if .subitems }}
        <ul class="list-inside space-y-3 pt-5">
          {{ range .subitems }}
            <li class="list-[square] leading-snug tracking-normal">
              <a
                href="{{ .link }}"
                class="text-dek hover:underline"
                data-ga-category="subfeature"
              >
                {{ .title }}
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</article>
