{{ $thumbClass := .thumbClass | default `w-full flex-shrink-0 sm:w-40 md:w-64` }}
{{ $storyClass := .storyClass | default `w-full flex-grow` }}
{{ $hedSize := .hedSize | default `text-lg` }}
{{ $hedColor := .hedColor | default `text-hed ` }}
{{ $linkColor := .linkColor | default `text-dek ` }}


<article class="flex flex-col space-y-1 p-4 md:p-0">
  <div class="flex items-center" data-ga-category="eyebrow">
    <span aria-hidden="true" class="relative flex h-3 w-3" style="">
      <span
        class="absolute inline-flex h-full w-full animate-ping self-center rounded-full bg-yellow fill-yellow text-yellow"
        style="position: absolute; top: 0; bottom: 0; left: 0; right: 0"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="35" fill="currentColor" />
        </svg>
      </span>
      <span
        class="relative inline-flex h-3 w-3 rounded-full  bg-yellow fill-yellow text-yellow"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="35" fill="currentColor" />
        </svg>
      </span>
    </span>
    {{ if .extendedEyebrow }}
      <span
        class="text-md inline-block border-2 border-eyebrow-bg bg-eyebrow-bg px-2 font-sans font-semibold uppercase text-eyebrow"
      >
        {{ .extendedEyebrow }}
      </span>
    {{ else }}
      <span
        class="text-md inline-block border-2 border-eyebrow-bg bg-eyebrow-bg px-2 font-sans font-semibold uppercase text-eyebrow"
      >
        {{ .eyebrow }}
      </span>
    {{ end }}
  </div>
  <div class="w-full flex-row flex-wrap sm:flex sm:space-y-8">
    <h2
      class="{{ $hedSize }} {{ $hedColor }} w-full text-center text-5xl font-bold leading-tight tracking-tight"
    >
      <a
        class="group-hover:underline"
        href="{{ .link }}"
        data-ga-category="hed"
      >
        {{ .hed }}
      </a>
    </h2>

    <div class="{{ $thumbClass }} sm:flex-[0_0_50%]">
      {{ partial "tw/image-block.html" .imgOpts }}
    </div>
    <div class="{{ $storyClass }} sm:space-y-1  sm:ml-6">
      <div class=" flex flex-col">
        {{ if .dek }}
          <h3
            class="font-sans text-xl font-light leading-tight tracking-normal text-dek"
          >
            <a
              href="{{ .link }}"
              class="{{ .linkColor }} group-hover:underline"
              data-ga-category="dek"
            >
              {{- .dek -}}
            </a>
          </h3>
        {{ end }}
        {{ if .byline }}
          <h3
            class="my-3 font-sans text-base font-bold leading-tight tracking-normal text-byline"
          >
            <a
              href="{{ .link }}"
              class="group-hover:none text-white"
              data-ga-category="byline"
            >
              {{- printf "by %s" .byline -}}
            </a>
          </h3>
        {{ else if .blurb }}
          <p
            class="my-3 font-sans text-base font-light leading-tight tracking-normal text-byline"
          >
            {{ .blurb }}
          </p>
        {{ end }}
        {{ if .showDate }}
          <h3
            class="mt-2 font-sans text-base font-light leading-tight tracking-normal text-date"
            data-ga-category="time"
          >
            <a href="{{ .link }}" class="group-hover:underline">
              <time datetime="{{ .dateISO }}">
                {{- .date }}
              </time>
            </a>
          </h3>
        {{ end }}
      </div>

      {{ if .subitems }}
        <ul class="list-inside space-y-3 pt-5 font-sans font-light">
          {{ range .subitems }}
            <li class="list-[square] text-yellow leading-snug tracking-normal">
              <a
                href="{{ .link }}"
                class="{{ $linkColor }} hover:underline text-white"
                data-ga-category="subfeature"
              >
                {{ .title }}
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</article>
