<nav
  class="bg-black md:py-6"
  id="#top"
  data-ga-category="navbar"
  data-sf-campaign="701f4000000TVu3AAG"
  aria-label="main navigation"
>
  <div class="flex flex-wrap items-center w-full max-w-6xl px-3 mx-auto mb-6">
    <div class="flex items-center w-full md:w-1/2">
      <a href="/" class="flex-1 px-4 text-white duration-300 md:px-6 xl:px-2 hover:text-gray-500" data-ga-category="logo">
        <svg class="w-full fill-current">
          <title>Home</title>
          <desc>Spotlight PA logo</desc>
          <use href="#banner-svg"></use>
        </svg>
      </a>
    </div>
    <div class="w-full md:w-1/2">
      <div class="relative flex-1 pl-4 pr-2 text-3xl leading-10 text-white lg:leading-9 md:pl-2 lg:mt-6 lg:pl-5">
        Investigative and public service journalism for Pennsylvania
      </div>
    </div>
  </div>
  <div class="w-full max-w-6xl px-3 pb-8 mx-auto lg:pb-4">
    <div class="pl-4 text-base leading-normal text-white md:text-2xl">
      <a href="#" class="pl-1">Criminal Justice</a>,
      <a href="#" class="pl-1">Coronavirus</a>,
      <a href="#" class="pl-1">The Capitol</a>,
      <a href="#" class="pl-1">Elections</a>,
      <a href="#" class="pl-1">Redistricting</a>,
      <a href="#" class="pl-1">Politics</a>,
      <a href="#" class="pl-1">Education</a>,
      <a href="#" class="pl-1">Eviction</a>,
      <a href="#" class="pl-1">Pensions</a>,
      <a href="#" class="pl-1">Health</a>,
      <a href="#" class="pl-1">Environment</a>
    </div>
  </div>
</nav>
<div class="w-full py-12 bg-beige" x-transition  x-show="catNav">
  <div class="grid w-full max-w-6xl grid-cols-2 gap-10 px-8 mx-auto font-bold lg:px-5 md:grid-cols-4">
    <div class="col-span-1">
      <img src="https://via.placeholder.com/750x425.png">
      <p class="mt-1 text-sm">Pa. primary election 2022: See how much money the GOP candidates for governor have raised</p>
    </div>

    <div class="col-span-1">
      <img src="https://via.placeholder.com/750x425.png">
      <p class="mt-1 text-sm">This is another example of an article title</p>
    </div>

      <div class="col-span-2">
        <h4 class="w-full mb-3 border-b border-gray-500">More Topics</h4>
        <div class="grid grid-cols-3 gap-4">
          <ul>
            <li class="mb-1"><a href="#">Coronavirus</a></li>
            <li class="mb-1"><a href="#">Criminal Justice</a></li>
            <li class="mb-1"><a href="#">Economy</a></li>
            <li class="mb-1"><a href="#">Editor's Notes</a></li>
            <li class="mb-1"><a href="#">Education</a></li>
          </ul>
          <ul>
            <li class="mb-1"><a href="#">Elections</a></li>
            <li class="mb-1"><a href="#">Environment</a></li>
            <li class="mb-1"><a href="#">Events</a></li>
            <li class="mb-1"><a href="#">Eviction</a></li>
            <li class="mb-1"><a href="#">Health</a></li>
          </ul>
          <ul>
            <li class="mb-1"><a href="#">Pensions</a></li>
            <li class="mb-1"><a href="#">Politics</a></li>
            <li class="mb-1"><a href="#">Redistricting</a></li>
            <li class="mb-1"><a href="#">The Capitol</a></li>
          </ul>
        </div>
      </div>

  </div>
</div>
<div class="flex w-full max-w-6xl px-5 mx-auto">
  <div class="hidden w-full md:w-1/2 md:block"></div>
  <div class="w-full md:w-1/2 md:pl-4">
    <button class="px-4 pt-1 pb-2 ml-2 text-sm text-white transition-all bg-black rounded-b-lg shadow hover:text-gray-500 hover:shadow-lg" x-on:click="catNav = ! catNav" x-transition :class="catNav ? 'bg-beige border-b border-gray-500 hover:text-black text-black' : ''">Trending Topics</button>
  </div>
</div>