<nav
  data-ga-category="navbar"
  data-sf-campaign="701Dn000000YgosIAC"
  aria-label="main navigation"
  class="mx-auto w-full max-w-6xl px-5"
>
  <div class="flex justify-between">
    <div class="mr-5" data-ga-category="tips">
      <a
        class="inline-flex items-center whitespace-nowrap rounded-b-lg border border-yellow-3 bg-yellow-4 px-3 py-1 text-black shadow duration-300 hover:border-white hover:bg-black hover:text-white"
        href="/tips/"
      >
        <span class="mr-2 text-sm">Send a Tip</span>
        <svg
          class="h-3 w-3 fill-current"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <desc>Paper plane</desc>
          <use href="#paper-plane-svg"></use>
        </svg>
      </a>
    </div>

    <div class="flex items-center justify-end py-6">
      {{ range site.Menus.tndmain }}
        <a
          class="inline-block pr-4 text-black decoration-yellow decoration-4 underline-offset-4 hover:text-black hover:underline lg:pl-4"
          data-ga-category="item"
          href="{{ .URL }}"
          {{ with .Params.dispatch }}
            x-data @click.prevent="$dispatch($el.dataset.dispatch)"
            data-dispatch="{{ . }}"
          {{ end }}
        >
          {{- .Name -}}
        </a>
      {{ end }}
      <a
        href="/search/"
        class="inline-block px-4 text-black hover:text-yellow"
        data-ga-category="search"
        :data-ga-action="'modal:search:open'"
        x-data
        @click.prevent="$dispatch('modal:search:open')"
      >
        <svg class="h-4 w-4 fill-current">
          <use href="#search-svg"></use>
        </svg>
      </a>
      <a
        data-ga-category="donate"
        class="ml-6 inline-flex max-w-xs items-center self-center rounded-md bg-red-7 px-4 py-3 leading-none text-white duration-300 hover:bg-black sm:flex"
        href="/donate"
      >
        <svg class="h-3 w-3 fill-current" aria-hidden="true">
          <use href="#heart-svg"></use>
        </svg>
        <span
          class="ml-2 whitespace-nowrap font-semibold uppercase tracking-wide"
          >Support Us</span
        >
      </a>
    </div>
  </div>
</nav>
<div
  x-data
  x-intersect.once="$report({ target: $el })"
  data-ga-action="view:nav"
></div>
