<nav
  id="top"
  x-data="{ isOpen: false }"
  data-ga-category="navbar"
  data-sf-campaign="701f4000000TVu3AAG"
  aria-label="main navigation"
  class="mx-auto w-full max-w-6xl px-5"
>
  <div class="flex flex-wrap justify-between">
    <div class="mr-5">
      <a
        class="inline-flex items-center rounded-b-lg bg-beige px-3 py-1 shadow duration-300 hover:bg-g-5 hover:bg-opacity-80 hover:text-black hover:shadow-md"
        href="/tips/"
      >
        <span class="mr-2 text-sm">Send a Tip</span>
        <svg
          class="h-3 w-3"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <desc>Paper plane</desc>
          <use href="#paper-plane-svg"></use>
        </svg>
      </a>
    </div>

    <div class="flex flex-wrap items-center py-7 lg:justify-end">
      {{ range site.Menus.main }}
        <a
          class="hover:underline-l decoration-4 decoration-yellow underline-offset-4 mb-2 inline-block pr-4 text-black hover:text-black lg:pl-4"
          data-ga-category="item"
          href="{{ .URL }}"
        >
          {{- .Name -}}
        </a>
      {{ end }}
      <a
        href="/search/"
        class="mb-2 inline-block px-4 text-black hover:text-yellow"
        data-ga-category="search"
        :data-ga-action="'modal:search:open'"
        x-data
        @click.prevent="$dispatch('modal:search:open')"
      >
        <svg class="h-4 w-4 fill-current">
          <use href="#search-svg"></use>
        </svg>
      </a>
      <a
        data-ga-category="donate"
        class="mb-2 ml-6 inline-block max-w-xs self-center rounded-md bg-red px-4 py-2 leading-none text-white duration-300 hover:bg-black hover:text-white sm:flex"
        href="/donate"
        >Donate</a
      >
    </div>
  </div>
</nav>
<div
  x-data
  x-intersect.once="$report({ target: $el })"
  data-ga-action="view:nav"
></div>
