<div
  id="page-heading"
  class="mx-auto max-w-6xl px-5 pt-12"
  data-ga-category="page-heading"
>
  <h1
    class="mb-2 font-sans text-3xl font-bold leading-tight tracking-wide text-black sm:text-4xl lg:text-5xl"
  >
    {{ .Title }}
  </h1>
  <div
    class="flex flex-col md:flex-row"
    x-intersect:leave="isStuck = true"
    x-intersect.full="isStuck = false"
  >
    <div class="pb-2 text-lg text-s-9 lg:pr-10 lg:text-2xl">
      {{ .Description }}
    </div>
    <div class="mt-5 flex w-auto justify-end px-8 md:mt-0 md:w-64">
      <a
        data-ga-category="donate"
        class="
          mx-auto inline-block w-44 self-center rounded bg-red-7 px-3 py-1
          text-center text-xl text-white hover:bg-black hover:text-white
          lg:hidden
        "
        href="/donate/"
        >Support Us!</a
      >
    </div>
  </div>
</div>

{{ with partial "helper/get-page-nav" $ }}
  <!-- For CSS purge -->
  <div hidden>
    <span class="lg:mr-5 lg:w-10 lg:opacity-100"></span>
    <span
      class="bg-black text-white hover:border-blue-3 hover:text-blue-3"
    ></span>
    <span class="lg:pointer-events-auto lg:opacity-100"></span>
  </div>

  <div
    class="-top-px z-10 hidden bg-white lg:sticky lg:block"
    data-ga-category="sticky"
  >
    <div class="mx-auto flex max-w-6xl flex-wrap justify-between py-3 px-5">
      <a
        class="hidden w-0 rounded text-black opacity-0 duration-200 hover:border-red-7 hover:text-red-7 lg:flex"
        :class="
          isStuck ?
          'lg:mr-5 lg:w-10 lg:opacity-100' :
          ''
        "
        href="/"
        data-ga-category="logo"
      >
        <svg class="flex h-10 w-full self-center fill-current">
          <desc>Spotlight PA logo</desc>
          <use href="#logo-svg"></use>
        </svg>
      </a>
      {{ range . }}
        <a
          data-about-id="{{ .id }}"
          data-ga-category="item"
          class="
            my-2 mr-5 inline-flex w-auto items-center
            rounded border border-black
            px-4 py-2
            text-base leading-4
            hover:border-red-7 hover:text-red-7
            lg:my-0
          "
          :class="
            aboutActive === $el.dataset.aboutId ?
            'bg-black text-white hover:border-blue-3 hover:text-blue-3' :
            ''
          "
          href="{{ .url }}"
          ><span>
            {{- .name -}}
          </span></a
        >
      {{ end }}
      <div class="flex flex-1 justify-end">
        <a
          data-ga-category="donate"
          class="mb-0 mr-5 inline-block self-center rounded bg-red-7 px-4 py-2 text-white hover:bg-black hover:text-white"
          href="/donate/"
        >
          {{- "Support Us!" -}}
        </a>
      </div>
    </div>
  </div>

  <div class="py-6"></div>
{{ end }}
