<section class="max-w-6xl mx-auto px-5 py-10">
  <h1 class="text-3xl font-bold text-black">About Spotlight PA</h1>
  <div class="flex flex-wrap md:flex-nowrap">
    <div class="text-2xl pr-10 text-black">
      Our team of journalists Produces non­partisan investigative journalism about Pennsylvania government and urgent statewide issues.
    </div>
    <div class="w-auto md:w-64 flex justify-end mt-5 md:mt-0">
      <a class="text-white bg-red px-3 py-2 text-xl inline-block self-center" href="/donate/">Support Us!</a>
    </div>
  </div>
  <div class="flex flex-wrap mt-5">
    <a class="border border-black py-2 px-4 mr-5 duration-300 hover:text-red hover:border-red mb-5" href="#impact-awards">Impact & Awards</a>
    <a class="border border-black py-2 px-4 mr-5 duration-300 hover:text-red hover:border-red mb-5" href="#">Partners</a>
    <a class="border border-black py-2 px-4 mr-5 duration-300 hover:text-red hover:border-red mb-5" href="#">Staff</a>
    <a class="border border-black py-2 px-4 mr-5 duration-300 hover:text-red hover:border-red mb-5" href="#">Supporters</a>
    <a class="border border-black py-2 px-4 mr-5 duration-300 hover:text-red hover:border-red mb-5" href="#">Mission</a>
  </div>
</section>