{{ define "tnd-footer-link" }}
  <li class="inline-flex">
    <a
      href="{{ .URL }}"
      class="inline-flex items-center hover:text-blue"
      {{ with .Params.dispatch }}
        x-data @click.prevent="$dispatch($el.dataset.dispatch)"
        data-dispatch="{{ . }}"
      {{ end }}
    >
      {{ with .Params.icon }}
        <svg class="mr-1 h-4 w-4 fill-current">
          <use xlink:href="{{ . }}"></use>
        </svg>
      {{ end }}
      <span>{{ .Name }}</span>
    </a>
  </li>
{{ end }}


<section data-sf-campaign="701Dn000000Ygp4IAC" id="footer">
  <div class="bg-black py-10 text-white md:pt-8 md:pb-24">
    <div class="mx-auto max-w-5xl px-5">
      <div class="flex flex-wrap items-center justify-center gap-8">
        <a
          class="flex w-11/12 max-w-full hover:text-yellow md:-mt-2 md:w-1/2"
          href="/"
        >
          <svg class="aspect-[16/3] w-full fill-current">
            <title>Home</title>
            <desc>Spotlight PA logo</desc>
            <use href="#banner-svg"></use>
          </svg>
        </a>
        <a
          data-ga-category="donate"
          class="ml-6 inline-flex max-w-xs items-center self-center rounded-md bg-red-7 px-4 py-4 text-xl leading-none text-white duration-300 hover:bg-blue-3 sm:flex"
          href="/donate"
        >
          <svg class="h-5 w-5 fill-current" aria-hidden="true">
            <use href="#heart-svg"></use>
          </svg>
          <span
            class="ml-2 whitespace-nowrap font-semibold uppercase tracking-wide"
            >Donate Now</span
          >
        </a>
      </div>
    </div>

    <div
      class="mx-auto mt-8 max-w-4xl px-5 text-center text-lg font-semibold md:text-2xl"
    >
      Spotlight PA relies on funding from foundations and readers like you who
      are committed to accountability journalism that gets results.
    </div>

    <div class="mx-auto mt-12 max-w-4xl px-5 text-2xl font-bold">
      {{ $id := partial "helper/new-id" . }}
      <label for="{{ $id }}" class="text-2xl font-bold text-white md:text-3xl">
        Sign up for our newsletters
      </label>
      <form
        class="mt-4 flex flex-col flex-wrap items-stretch gap-2 lg:flex-row"
        action="{{ site.Param `newsletters-action` }}"
        method="post"
        target="_blank"
        data-ga-form="newsletters:multi"
        data-ga-category="newsletter"
      >
        {{ partial "newsletter/hidden-input.html" . }}
        <div class="relative flex-1">
          <input
            id="{{ $id }}"
            class="block h-full w-full appearance-none rounded border-2 border-s-4 bg-white py-2 pl-14 tracking-wider text-s-8 placeholder-s-4 placeholder-opacity-100 outline-none ring-yellow-6 focus:ring-2"
            type="email"
            name="EMAIL"
            placeholder="Email address"
            required
          />
          <span
            class="pointer-events-none absolute inset-y-0 left-0 z-10 inline-flex w-14 items-center justify-center leading-none text-s-4"
            aria-hidden="true"
          >
            <svg class="h-6 w-6 fill-current">
              <use xlink:href="#email-svg"></use>
            </svg>
          </span>
        </div>
        <div class="w-full md:w-auto lg:order-last">
          <button
            class="h-full w-full cursor-pointer rounded border-2 border-yellow-5 bg-yellow-4 px-5 py-2 text-xl font-semibold uppercase tracking-wider text-yellow-9 outline-none ring-yellow-6 duration-300 hover:border-white hover:bg-black hover:text-white focus:ring-2 sm:w-auto lg:mt-0"
          >
            Subscribe
          </button>
        </div>
        {{ $checkClass := `mr-1 accent-yellow` }}
        <div class="flex flex-col gap-1 text-xl md:mr-20 lg:text-sm">
          <label class="flex items-center gap-1">
            <input
              checked
              type="checkbox"
              class="{{ $checkClass }}"
              name="papost"
              value="1"
              data-ga-button
              data-ga-action="toggle-newsletter:papost"
            />
            <span>PA Post (Daily)</span>
          </label>
          <label class="flex items-center gap-1">
            <input
              checked
              type="checkbox"
              class="{{ $checkClass }}"
              name="palocal"
              value="1"
              data-ga-button
              data-ga-action="toggle-newsletter:palocal"
            />
            <span>PA Local (Weekly)</span>
          </label>
          <label class="flex items-center gap-1">
            <input
              checked
              type="checkbox"
              class="{{ $checkClass }}"
              name="investigator"
              value="1"
              data-ga-button
              data-ga-action="toggle-newsletter:investigator"
            />
            <span>The Investigator (Weekly)</span>
          </label>
        </div>
      </form>
    </div>
  </div>

  <div class="bg-beige">
    <div class="mx-auto max-w-5xl px-5">
      <div class="py-12 text-lg" data-ga-category="follow">
        <h3 class="mb-4 font-semibold uppercase">Follow Us</h3>
        <ul
          class="flex flex-wrap items-center justify-between gap-8 sm:justify-around"
        >
          {{ range .Site.Menus.social }}
            {{ template "tnd-footer-link" . }}
          {{ end }}
        </ul>
      </div>

      <div class="items-center space-x-12 text-center md:flex md:text-left">
        <div class="inline-block py-2 text-xs ">
          &copy; {{ now.Format "2006" }} &bull; Spotlight PA &bull; 228 Walnut
          St., #11728 &bull; Harrisburg, PA 17108-1728
        </div>
        <div class="inline-flex gap-2 text-xs">
          <a href="/about/terms/" class="hover:underline">terms of use</a>
          <a href="/about/privacy/" class="hover:underline">privacy policy</a>
        </div>
      </div>
    </div>
  </div>
</section>
