<div data-sf-campaign="701Dn000000Ygp4IAC">
  {{ with .Content }}
    <div class="mx-auto my-8 block max-w-6xl px-5" data-ga-category="content">
      <div x-data x-intersect.once="$dispatch('open-sticky')"></div>
      <div class="content text-lg">
        {{ . }}
      </div>
    </div>
  {{ end }}
  {{ range $i, $blocks := .Params.blocks }}
    {{ $id := urlize .title }}
    <div
      id="{{ $id }}"
      x-data
      x-intersect.half="$dispatch('intersect:about', $el.id)"
      class="bg-white lg:scroll-mt-20"
      data-ga-category="blocks"
    >
      {{ partial "blocks/block" (dict "Page" $ "block" .) }}
    </div>
  {{ end }}
</div>
