{{ $all_topics := partial "helper/get-site-topics" }}

{{ $investigations := slice }}
{{ $series := site.GetPage "content/series/_index.md" }}
{{ range $series.Pages.ByPublishDate.Reverse | first 2 }}
  {{ $investigations = $investigations | append .Page }}
{{ end }}


<div x-data="{ isCatNavOpen: false }">
  <nav
    class="bg-black md:py-6"
    data-ga-category="navbar"
    data-sf-campaign="701Dn000000YgosIAC"
    aria-label="main navigation"
  >
    <div class="mx-auto mb-6 flex w-full max-w-6xl flex-wrap items-center px-3">
      <div class="flex w-full items-center md:w-1/2">
        <a
          href="/"
          class="flex-1 px-4 text-white duration-300 hover:text-yellow md:px-6 xl:px-2"
          data-ga-category="logo"
        >
          <svg class="w-full fill-current">
            <title>Home</title>
            <desc>Spotlight PA logo</desc>
            <use href="#banner-svg"></use>
          </svg>
        </a>
      </div>
      <div class="w-full md:w-1/2 lg:pl-12">
        <div class="relative mt-6  flex-1 pl-5 text-3xl leading-9 text-white">
          Investigative and public-service journalism for Pennsylvania
        </div>
      </div>
    </div>
  </nav>
  <div
    class="w-full bg-beige py-12"
    x-transition
    x-cloak
    x-show="isCatNavOpen"
    data-ga-category="navbar:menu"
  >
    <div class="mx-auto grid w-full max-w-6xl grid-cols-6 gap-x-10 px-8">
      <div class="col-span-4" data-ga-category="picks">
        <a
          class="mb-3 block w-full border-b border-s-6 font-bold"
          href="/investigations/"
        >
          {{- "Investigations" -}}
        </a>
      </div>
      {{ range $investigations }}
        <article class="col-span-2" data-ga-category="picks">
          <div data-ga-category="eyebrow">
            <a
              class="inline-block bg-black px-2 font-sans text-sm font-semibold uppercase text-white"
              href="{{ .RelPermalink }}"
            >
              {{- .Title -}}
            </a>
          </div>
          <div>
            {{ $name := .Page.Param "image" }}
            {{ $credit := .Page.Param "image-credit" }}
            {{ $description := .Page.Param "image-description" }}
            {{ $imgOpts := dict
              "filename" $name
              "credit" $credit
              "description" $description
              "link" .RelPermalink
              "widthRatio" 16
              "heightRatio" 9
              "widths" (slice 128 256 384 512 1280)
              "figClass" "mt-1"
              "creditClass" "mt-1 w-full px-1 text-right font-sans text-xs uppercase leading-tight text-s-7"
              "sizeHint" "336px"
              "gravity" (.Page.Param "image-gravity")
            }}
            {{ partial "tw/image-block.html" $imgOpts }}
          </div>
          <div class="mt-3 w-full flex-grow space-y-1">
            <h2
              class="font-serif text-base font-bold leading-snug tracking-tight text-black"
            >
              <a
                class="hover:underline"
                href="{{ .RelPermalink }}"
                data-ga-category="hed"
              >
                {{- .LinkTitle -}}
              </a>
            </h2>
          </div>
        </article>
      {{ end }}


      <div class="col-span-2 col-start-5 row-start-1" data-ga-category="picks">
        <a
          class="mb-3 block w-full border-b border-s-6 font-bold"
          href="/topics/"
        >
          {{- "Topics" -}}
        </a>
      </div>

      <div class="col-span-2" data-ga-category="topics">
        <ul class="columns-2 font-bold">
          {{ range $all_topics }}
            <li class="mb-1">
              <a
                class="decoration-yellow decoration-4 underline-offset-4 hover:underline"
                href="{{ .RelPermalink }}"
              >
                {{- .Title -}}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-5">
    <div class="col-start-2 mx-auto">
      <button
        class="
          rounded-b-lg bg-black px-4 pt-1 pb-2 text-sm
          text-white transition-all hover:text-s-4
        "
        @click="isCatNavOpen = ! isCatNavOpen"
        x-transition
        data-ga-category="navbar:menu:button"
        data-ga-action="menu:toggle"
        data-ga-button
        :class="
        isCatNavOpen ?
        'relative -top-px border-b border-s-4 bg-beige text-black hover:text-s-7' :
        'bg-black text-white hover:text-s-1'
      "
      >
        Investigations &amp; More
      </button>
    </div>
  </div>
</div>

<!-- For CSS purge -->
<div hidden>
  <span
    class="relative -top-px border-b border-s-4 bg-beige text-black hover:text-s-7"
  ></span>
  <span class="bg-black text-white hover:text-s-1"></span>
</div>
