<div
  x-data="{
  aboutActive: '',
  isStuck: false
}"
>
  {{ partial "tw/tnd-nav-hero.html" . }}
  {{ partial "tw/tnd-sticky.html" . }}
  {{ with .Content }}
    <div class="mx-auto my-8 block max-w-6xl px-5" data-ga-category="content">
      <div x-data x-intersect.once="$dispatch('open-sticky')"></div>
      <div
        x-data
        x-intersect.once="$report({ target: $el })"
        data-ga-action="view:content-start"
      ></div>
      <div class="content text-lg" data-sf-campaign="701f4000000TVuXAAW">
        {{ . }}
      </div>
      <div
        x-data
        x-intersect.once="$report({ target: $el })"
        data-ga-action="view:content-finish"
      ></div>
    </div>
  {{ end }}
  {{ range $i, $blocks := .Params.blocks }}
    {{ $id := urlize .title }}
    <div
      id="{{ $id }}"
      x-intersect.half="aboutActive = '{{ $id }}'"
      class="lg:scroll-mt-20"
      data-ga-category="blocks"
    >
      {{ partial "blocks/block" (dict "Page" $ "block" .) }}
    </div>
  {{ end }}
</div>
