{{ $all_topics := partial "helper/get-site-topics" }}
{{ $first_limit := 8 }}
{{/* Defaults for first topics are first 8 */}}
{{ $first_topics := first $first_limit $all_topics }}
{{ with .Params.featured_topics }}
  {{/* If page has .featured_topics set, we used those as "first" instead. */}}
  {{ $first_topics = partial "helper/get-topics-by-name" . }}
{{ end }}
{{ $other_topics := "" }}
{{ if not .Params.disable_hero }}
  {{ $other_topics = symdiff $first_topics $all_topics }}
{{ else }}
  {{ $other_topics = $all_topics }}
{{ end }}
{{/* Next we need to split the remaining topics into 3 for the following "Trending Topics" module's three columns */}}
{{ $other_col_limit := div (len $other_topics) 3 }}
{{ $other_col_1 := $other_topics | first $other_col_limit | group "1" }}
{{ $other_col_2 := $other_topics | first (mul $other_col_limit 2) | last $other_col_limit | group "2" }}
{{ $other_col_3 := $other_topics | first (mul $other_col_limit 3) | last $other_col_limit | group "3" }}
{{ $other_cols := slice $other_col_1 }}
{{ with $other_col_2 }}
  {{ $other_cols = $other_cols | append . }}
{{ end }}
{{ with $other_col_3 }}
  {{ $other_cols = $other_cols | append . }}
{{ end }}

{{ $edPicks := partial "helper/get-items" "sidebar" | shuffle | first 2 }}


<div x-data="{ isCatNavOpen: false }">
  <nav
    class="bg-black md:py-6"
    data-ga-category="navbar"
    data-sf-campaign="701f4000000TVu3AAG"
    aria-label="main navigation"
  >
    <div class="mx-auto mb-6 flex w-full max-w-6xl flex-wrap items-center px-3">
      <div class="flex w-full items-center md:w-1/2">
        <a
          href="/"
          class="flex-1 px-4 text-white duration-300 hover:text-yellow md:px-6 xl:px-2"
          data-ga-category="logo"
        >
          <svg class="w-full fill-current">
            <title>Home</title>
            <desc>Spotlight PA logo</desc>
            <use href="#banner-svg"></use>
          </svg>
        </a>
      </div>
      <div class="w-full md:w-1/2">
        <div
          class="relative flex-1 pl-4 pr-2 text-2xl leading-10 text-white md:pl-2 lg:mt-6 lg:pl-5 lg:text-3xl lg:leading-9"
        >
          Investigative and public service journalism for Pennsylvania
        </div>
      </div>
    </div>
    {{ if not .Params.disable_hero }}
      <div
        class="mx-auto w-full max-w-6xl px-3 pb-8 lg:pb-4"
        data-ga-category="topics"
      >
        <div class="pl-4 text-base leading-normal text-g-6 md:text-2xl">
          {{ range $index, $v := $first_topics }}
            {{ if $index }}|{{ end }}
            <a
              href="{{ .Page.RelPermalink }}"
              class="pl-1 text-white hover:text-yellow"
            >
              {{- .Page.Title -}}
            </a>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </nav>
  <div
    class="w-full bg-beige py-12"
    x-transition
    x-cloak
    x-show="isCatNavOpen"
    data-ga-category="menu"
  >
    <div
      class="mx-auto grid w-full max-w-6xl grid-cols-2 gap-10 px-8 md:grid-cols-4 lg:px-5"
      data-ga-category="picks"
    >
      {{ range $edPicks }}
        {{ with .page }}
          <div class="col-span-1">
            {{ $name := .Param "image" }}
            {{ $credit := .Param "image-credit" }}
            {{ $description := .Param "image-description" }}
            {{ $imgOpts := dict
              "filename" $name
              "credit" $credit
              "description" $description
              "widths" (slice 128 256 384 512 1280)
              "widthRatio" 16
              "heightRatio" 9
              "sizeHint" "20vw"
              "link" .RelPermalink
              "rounded" true
              "figClass" ""
            }}
            {{ partial "tw/image-block.html" $imgOpts }}
            <a
              href="{{ .RelPermalink }}"
              class="mt-1 block text-sm leading-tight"
              data-ga-category="hed"
            >
              {{- .LinkTitle -}}
            </a>
          </div>
        {{ end }}
      {{ end }}


      <div class="col-span-2" data-ga-category="topics">
        <div class="mb-3 w-full border-b border-g-6 font-bold">
          {{ if not .Params.disable_hero }}More{{ end }} Topics
        </div>
        <div class="grid grid-cols-3 gap-4 font-bold">
          {{ range $other_cols }}
            <ul>
              {{ range .Pages }}
                <li class="mb-1">
                  <a
                    class="decoration-4 decoration-yellow underline-offset-4 hover:underline"
                    href="{{ .RelPermalink }}"
                  >
                    {{- .Title -}}
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto flex w-full max-w-6xl px-5">
    <div class="hidden w-full md:block md:w-1/2"></div>
    <div class="w-full md:w-1/2 md:pl-4">
      <button
        class="
        ml-2 rounded-b-lg bg-black px-4 pt-1 pb-2 text-sm
        text-white transition-all hover:text-g-5
      "
        @click="isCatNavOpen = ! isCatNavOpen"
        x-transition
        data-ga-category="navbar:menu:button"
        data-ga-action="menu:toggle"
        data-ga-button
        :class="
        isCatNavOpen ?
        'relative -top-px border-b border-g-5 bg-beige text-black hover:text-g-7' :
        'bg-black text-white hover:text-g-2'
      "
      >
        Trending Topics
      </button>
    </div>
  </div>
</div>

<!-- For CSS purge -->
<div hidden>
  <span
    class="relative -top-px border-b border-g-5 bg-beige text-black hover:text-g-7"
  ></span>
  <span class="bg-black text-white hover:text-g-2"></span>
</div>
