<div class="w-full max-w-6xl px-5 mx-auto">
  <div class="flex flex-wrap justify-between">
    <div class="mr-5">
      <a class="inline-flex items-end px-3 py-1 duration-300 rounded-b-lg shadow hover:shadow-md bg-beige hover:bg-g-5 hover:text-black hover:bg-opacity-80" href="#">
        <span class="mr-2 text-sm">Send a Tip</span>
        {{/*  <svg width="14" height="26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.007 25.139 14 12.569.007 0 0 9.776l10 2.793-10 2.794.007 9.776Z" fill="#000"/></svg>  */}}
        <svg width="12pt" height="12pt" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <path d="m100 50-100-42.527 6.3203 34.48 35.059 8.0469-35.059 8.0469-6.3203 34.48z" fill-rule="evenodd"/>
         </svg>
      </a>
    </div>
    
    <div class="flex justify-end py-7">
      <a class="px-4 py-2 text-black hover:text-black hover:underline" href="/topics/events">Newsletters</a>
      <a class="px-4 py-2 text-black hover:text-black hover:underline" href="/topics/events">Investigations</a>
      <a class="px-4 py-2 text-black hover:text-black hover:underline" href="/topics/events">Events</a>
      <a class="px-4 py-2 text-black hover:text-black hover:underline" href="/about">About Us</a>
      <span class="px-4 py-2 text-black hover:text-opacity-80"><svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.02 15.08H16l-.36-.35a8.4 8.4 0 1 0-.9.9l.34.37v1.02l6.46 6.45 1.93-1.93-6.45-6.46Zm-7.75 0a5.8 5.8 0 1 1-.01-11.6 5.8 5.8 0 0 1 .01 11.6Z" fill="#000" fill-opacity=".51"/></svg></span>
      <a class="flex self-center px-4 py-2 ml-6 leading-none text-white duration-300 rounded-md bg-red hover:text-white hover:bg-black" href="/donate">Donate</a>
    </div>
  </div>
</div>