{{ define "nav" }}

  {{ $params := partialCached "page-params.html" .Page .RelPermalink }}
  {{ $navImage := .Param "nav-image" }}

  {{ $imgOpt := dict "filename" $navImage "width" 1200 "height" 900 }}
  {{ $imgurl := partial "imgproxy.html" $imgOpt }}
  <section
    class="hero has-bg-image has-bg-fixed is-on-gradient is-fullheight"
    style="
      background-image: url('{{ $imgurl }}');
      background-position: 80%;
      background-size: cover;
    "
  >
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <svg viewBox="0 0 1024 190">
                <desc>Spotlight PA logo</desc>
                <use xlink:href="#logo-svg"></use>
              </svg>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <div class="container has-text-centered">
        <h1 class="title is-1 has-text-white">
          {{ .Title }}
        </h1>
        <h2 class="subtitle is-1 has-text-white">
          {{ $params.byline }} | <strong class="has-text-white">Spotlight PA</strong>
        </h2>
        <div>&nbsp;</div>
      </div>
    </div>
  </section>
{{ end }}
{{ define "footer" }} <!-- --> {{ end }}
{{ define "modal" }} <!-- --> {{ end }}

{{ define "extra-head" }}
  {{ $scssOptions := dict "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/bulma") }}
  {{ $styles := resources.Get "css/fancychina.scss" | toCSS $scssOptions | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{ end }}
