{{ $emailBody := printf "Read this from Spotlight PA\n\n%s\n%s\n\n%s" .LinkTitle .Description .Permalink }}
{{ $emailSubject := .LinkTitle }}
{{ $btnClass := `flex h-12 w-12 self-center rounded transition-colors duration-500` }}


<nav class="flex flex-col space-y-1 text-s-4" data-ga-category="social-buttons">
  <a
    href="mailto:?subject={{ $emailSubject }}&amp;body={{ $emailBody }}"
    class="{{ $btnClass }} hover:bg-green hover:text-white"
    title="Share this page by email"
    data-ga-action="share:email"
  >
    <span class="m-auto">
      <svg class="h-6 w-6 fill-current">
        {{ partial "helper/svg.html" "email" }}
      </svg>
    </span>
  </a>
  <button
    class="{{ $btnClass }} hover:bg-fb-blue hover:text-white"
    data-share="facebook"
    data-ga-action="share:facebook"
    title="Share this page on Facebook"
  >
    <span class="m-auto">
      <svg class="h-6 w-6 fill-current">
        {{ partial "helper/svg.html" "fb" }}
      </svg>
    </span>
  </button>
  <button
    class="{{ $btnClass }} hover:bg-tw-blue hover:text-white"
    data-share="tweet"
    data-share-text="{{ .LinkTitle }} from @spotlightpa"
    data-ga-action="share:twitter"
    title="Tweet about this page"
  >
    <span class="m-auto">
      <svg class="h-6 w-6 fill-current">
        {{ partial "helper/svg.html" "twitter" }}
      </svg>
    </span>
  </button>
  <button
    class="{{ $btnClass }} hover:bg-orange hover:text-white"
    data-share="sharesheet"
    data-share-text="Read “{{ .LinkTitle }}” from Spotlight PA"
    data-ga-action="share:sharesheet"
    title="More ways to share this page"
    x-data
    x-show="!! navigator.share"
    x-cloak
  >
    <span class="m-auto">
      <svg class="h-6 w-6 fill-current">
        {{ partial "helper/svg.html" "share" }}
      </svg>
    </span>
  </button>
</nav>
