{{ $emailBody := printf "Read this from Spotlight PA\n\n%s\n%s\n\n%s" .LinkTitle .Description .Permalink }}
{{ $emailSubject := .LinkTitle }}
{{ $btnClass := `flex h-12 w-12 self-center rounded transition-colors duration-500` }}


<nav class="flex flex-col space-y-1 text-g-4" data-ga-category="social-buttons">
  <a
    href="mailto:?subject={{ $emailSubject }}&amp;body={{ $emailBody }}"
    class="{{ $btnClass }} hover:bg-green hover:text-white"
    title="Share this page by email"
    data-ga-category="email"
  >
    <span class="m-auto">
      <svg class="h-6 w-6 fill-current">
        {{ partial "helper/svg.html" "email" }}
      </svg>
    </span>
  </a>
  <a
    class="{{ $btnClass }} hover:bg-fb-blue hover:text-white"
    href="https://www.facebook.com/dialog/feed?app_id=589296315209793&display=page&link={{ .Permalink }}"
    data-ga-category="facebook"
    title="Share this page on Facebook"
  >
    <span class="m-auto">
      <svg class="h-6 w-6 fill-current">
        {{ partial "helper/svg.html" "fb" }}
      </svg>
    </span>
  </a>
  <a
    class="{{ $btnClass }} hover:bg-tw-blue hover:text-white"
    href="https://twitter.com/intent/tweet?text={{ .LinkTitle }}&via=SpotlightPA&url={{ .Permalink }}&tw_p=tweetbutton"
    data-ga-category="twitter"
    title="Tweet about this page"
  >
    <span class="m-auto">
      <svg class="h-6 w-6 fill-current">
        {{ partial "helper/svg.html" "twitter" }}
      </svg>
    </span>
  </a>
  <a
    class="{{ $btnClass }} hover:bg-bluesky-blue hover:text-white"
    href="https://bsky.app/intent/compose?text={{ .LinkTitle }}{{ `— via @spotlightpa.org ` }}{{ .Permalink }}"
    data-ga-category="bluesky"
    title="Post about this page on Bluesky"
  >
    <span class="m-auto">
      <svg class="h-6 w-6 fill-current">
        {{ partial "helper/svg.html" "bluesky" }}
      </svg>
    </span>
  </a>
  <button
    class="{{ $btnClass }} hover:bg-orange hover:text-white"
    data-share-text="Read “{{ .LinkTitle }}” from Spotlight PA"
    data-ga-category="sharesheet"
    title="More ways to share this page"
    x-data
    x-bind="shareButton"
    x-report-click
    x-cloak
  >
    <span class="m-auto">
      <svg class="h-6 w-6 fill-current">
        {{ partial "helper/svg.html" "share" }}
      </svg>
    </span>
  </button>
</nav>
