baseURL = "https://www.spotlightpa.org/"
languageCode = "en-us"
title = "Spotlight PA"
enableRobotsTXT = true
enableGitInfo = true
rssLimit = 60
googleAnalytics = "GTM-NTQ87KG"

[pagination]
disableAliases = false
pagerSize = 30
path = 'page'

[markup]
defaultMarkdownHandler = "goldmark"

[markup.goldmark.extensions]
definitionList = false
footnote = false
linkify = false
strikethrough = false
table = false
taskList = false
typographer = true

[markup.goldmark.renderer]
unsafe = true

[privacy.googleAnalytics]
anonymizeIP = true
disable = false
respectDoNotTrack = true
useSessionStorage = true

[taxonomies]
author = "authors"
series = "series"
topic = "topics"

[frontmatter]
date = [":default", ":filename"]
publishDate = [":default", ":filename"]

[permalinks]
press-releases = ":section/:year/:slug/"
news = ":section/:year/:month/:slug/"
statecollege = ":section/:year/:month/:slug/"
berks = ":section/:year/:month/:slug/"
sponsored = ":section/:year/:month/:slug/"

[mediaTypes."text/netlify"]
delimiter = ""

[outputFormats.json]
mediaType = "application/json"
isPlainText = true

[outputFormats.csv]
mediaType = "text/csv"
isPlainText = true

[outputFormats.redirects]
mediatype = "text/netlify"
baseName = "_redirects"
isPlainText = true
notAlternative = true

[outputFormats.headers]
mediatype = "text/netlify"
baseName = "_headers"
isPlainText = true
notAlternative = true

[outputs]
home = ["html", "redirects", "headers"]
section = ["html"]

[params]
googleAnalytics = "GTM-NTQ87KG"
imgproxy = "/imgproxy/"
title = "Spotlight PA"
logo = "/img/logos/circle-black-on-trans-920.png"
favicon = "/img/logos/favicon.svg"
touch-icon = "/img/logos/square-white-on-black-920.png"
images = ["2019/11/banner-white-on-capitol.jpeg"]
description = "The mission of Spotlight PA is to hold powerful private and public forces across Pennsylvania — especially government, business and special interests — to account through urgent and compelling investigative journalism that leads to change and the betterment of democracy, the state and all who live here."
headers = ["X-Frame-Options: DENY"]
newsletters-base-url = "https://email-alerts.data.spotlightpa.org"
stripe_key_test = "pk_test_51Mmd3kPgmnviwloDfy91ugsfYUzlhHqMGRrijHOnOsOd0RGX6lWBbHlxPnMtVRAsJN0aVGg6ijXJHT3aqxZ3AFFe00mUKDcxua"
stripe_key_live = "pk_live_51Mmd3kPgmnviwloDdsisjwVxkC83MMcGgttB9kXXJs3gj0MakZRrWPqMtCq3uOSZB7G4prfxYPGvbNnwsvjDNx2E00EdEf2rFP"

[security.exec]
allow = [
  '^npx$',
  '^git$',
  '^tailwindcss$',
]

[security.funcs]
getenv = ["^HUGO_", "^IMGPROXY_URL$"]

[build]
[build.buildStats]
disableClasses = false
disableIDs = true
disableTags = false
enable = true
[[build.cachebusters]]
source = "assets/watching/hugo_stats\\.json"
target = "css"
[[build.cachebusters]]
source = "(postcss|tailwind)\\.config\\.js"
target = "css"
[[build.cachebusters]]
source = "assets/.*\\.(js|ts|jsx|tsx)"
target = "js"
[[build.cachebusters]]
source = "assets/.*\\.(.*)$"
target = "$1"

[[module.mounts]]
source = "assets"
target = "assets"

[[module.mounts]]
source = "hugo_stats.json"
target = "assets/watching/hugo_stats.json"

[[module.mounts]]
source = "src"
target = "assets/js"

[[module.mounts]]
source = "node_modules/@fortawesome/fontawesome-free/svgs"
target = "assets/@fontawesome"

[[module.mounts]]
source = "static"
target = "static"

[related]
includeNewer = true

[[related.indices]]
name = "series"
weight = 200

[[related.indices]]
name = "topic"
weight = 200

[[related.indices]]
name = "title"
weight = 150

[[related.indices]]
name = "date"
weight = 150

[[related.indices]]
name = "kicker"
weight = 100

[[related.indices]]
name = "authors"
weight = 100
