[dev]
command = "yarn start"
targetPort = 39019

[build]
base = ""
command = "yarn build:prod"
publish = "public"

[build.environment]
IMGPROXY_URL = "/imgproxy"
HUGO_VERSION = "0.152.2"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"
NODE_ENV = "production"
NODE_VERSION = "20"
GO_IMPORT_PATH = "github.com/spotlightpa/poor-richard"
GO111MODULE = "on"
TZ = "America/New_York"

[context.deploy-preview]
command = "yarn build:stage"

[context.deploy-preview.processing]
skip_processing = true

[context.branch-deploy]
command = "yarn build:stage"

[context.branch-deploy.processing]
skip_processing = true

[[headers]]
for = "/*"
[headers.values]
X-Content-Type-Options = "nosniff"

[[headers]]
for = "/*.css"
[headers.values]
Cache-Control = "public, max-age=31536000, immutable" # 1 year

[[headers]]
for = "/*.gif"
[headers.values]
Cache-Control = "public, max-age=1209600" # 2 weeks

[[headers]]
for = "/*.ico"
[headers.values]
Cache-Control = "public, max-age=1209600" # 2 weeks

[[headers]]
for = "/*.jpeg"
[headers.values]
Cache-Control = "public, max-age=1209600" # 2 weeks

[[headers]]
for = "/*.jpg"
[headers.values]
Cache-Control = "public, max-age=1209600" # 2 weeks

[[headers]]
for = "/*.js"
[headers.values]
Cache-Control = "public, max-age=300" # 5 minutes

[[headers]]
for = "/*.json"
[headers.values]
Cache-Control = "public, max-age=300" # 5 minutes

[[headers]]
for = "/*.map"
[headers.values]
Cache-Control = "public, max-age=300" # 5 minutes

[[headers]]
for = "/*.pdf"
[headers.values]
Cache-Control = "public, max-age=1209600" # 2 weeks

[[headers]]
for = "/*.png"
[headers.values]
Cache-Control = "public, max-age=1209600" # 2 weeks

[[headers]]
for = "/*.svg"
[headers.values]
Cache-Control = "public, max-age=1209600" # 2 weeks

[[headers]]
for = "/*.txt"
[headers.values]
Cache-Control = "public, max-age=300" # 5 minutes

[[headers]]
for = "/*.webm"
[headers.values]
Cache-Control = "public, max-age=1209600" # 2 weeks

[[headers]]
for = "/*.woff"
[headers.values]
Access-Control-Allow-Origin = "*"
Cache-Control = "public, max-age=31536000, immutable" # 1 year

[[headers]]
for = "/*.woff2"
[headers.values]
Access-Control-Allow-Origin = "*"
Cache-Control = "public, max-age=31536000, immutable" # 1 year

[[headers]]
for = "/*.xml"
[headers.values]
Cache-Control = "public, max-age=300" # 5 minutes

[[headers]]
for = "/@src/*"
[headers.values]
Cache-Control = "public, max-age=31536000, immutable" # 1 year

[[headers]]
for = "/admin/*"
[headers.values]
X-Frame-Options = "DENY"
