{{ $hed := .Get "hed" }}
{{ $date := .Get "date" }}
<div class="my-8 w-full rounded-md bg-black md:my-11">
  <i class="fa-solid fa-person"></i>
  <div class="min-h-screen w-full overflow-y-scroll px-3">
    {{ with $hed }}
      <h2
        class="mx-auto mt-8 mb-2 max-w-5xl font-sans text-4xl leading-tight font-semibold text-white"
      >
        {{ $hed }}
      </h2>
    {{ end }}
    {{ .Inner }}


    <p class="mx-auto mt-8 mb-1 max-w-5xl font-sans text-sm text-white italic">
      {{ $date }}
    </p>
  </div>
</div>
