{{ $court := .Get "court" }}
{{ $case := .Get "case" }}
{{ $link := .Get "link" }}
  <article class="featured-content mb-8 border-black border-t-4 first:border-t-0">
    <h4 class=" mb-0 font-sans">
      <span
        class="inline-block border-2 border-eyebrow-bg bg-eyebrow-bg px-2 font-sans text-sm font-semibold uppercase text-eyebrow"
        >Case</span
      >
      <a class="text-sm italic underline underline-offset-2" href="{{ $link }}"
        >{{ $case }}</a
      >
    </h4>
    <h6 class="text-sm">{{ $court }}</h6>
    {{ .Inner  | markdownify }}
  </article>
