{{ define "extra-main" }}
  <section class="section columns has-background-white-ter">
    <div class="column is-three-fifths is-offset-one-fifth">
      {{ range sort .Site.Data.authors "weight" }}
        {{ $nameID := urlize .name }}
        {{ $articlesListLink := "" }}
        {{ with $pages := $.Site.Taxonomies.authors.Get $nameID }}
          {{ $articlesListLink = $pages.Page.RelPermalink }}
        {{ end }}
        {{ if ge .weight 0 }}
          <div
            id="{{ $nameID }}"
            class="card block"
          >
            {{ $imgRes := printf "img/headshots/%s.jpeg" $nameID }}
            {{ $img := resources.GetMatch $imgRes }}
            {{ if $img  }}
              {{ $imgShrunk := $img.Resize "800x" }}
              <div class="is-hidden-tablet">
                <figure class="image">
                  <img
                    src="{{ $imgShrunk.RelPermalink }}"
                    alt="Photo of {{ .name }}"
                    class=""
                    >
                </figure>
              </div>
            {{ end }}
            <div class="card-content">
              <div class="media">
                {{ if $img }}
                  {{ $imgShrunk := $img.Fill "256x256" }}
                  <div class="media-left is-hidden-mobile">
                    <figure class="image is-128x128">
                      <img
                        src="{{ $imgShrunk.RelPermalink }}"
                        alt="Photo of {{ .name }}"
                        class="is-rounded"
                        >
                    </figure>
                  </div>
                {{ end }}
                <div class="media-content">
                  {{ if $articlesListLink }}
                    <p class="title is-3">
                      <a href="{{ $articlesListLink }}">{{ .name }}</a>
                    </p>
                  {{ else }}
                    <p class="title is-3">{{ .name }}</p>
                  {{ end }}
                  <p class="subtitle is-4">{{ .title }}</p>
                  <p class="subtitle is-5 has-text-break-all">
                    {{ with .email }}
                      <span class="icon has-text-link">
                        <svg>
                          <use xlink:href="#email-svg"></use>
                        </svg>
                      </span>
                      <a href="mailto:{{ . }}">
                        {{ . }}
                      </a>
                    {{ end }}
                    {{ with (and .email .twitter) }}
                    <br>
                    {{ end }}
                    {{ with .twitter }}
                      <span class="icon has-text-link">
                        <svg>
                          <use xlink:href="#twitter-svg"></use>
                        </svg>
                      </span>
                      <a href="https://www.twitter.com/{{ . }}">
                        @{{ . }}
                      </a>
                    {{ end }}
                  </p>
                </div>
              </div>
              <div class="content">
                {{ .content|markdownify }}
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}
