<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">
    Text inputs hidden labels
  </h3>

  <p class="relative flex-grow">
    <label class="sr-only" for="name-label-hidden">First Name</label>
    <input
      id="name-label-hidden"
      class="spl-input"
      type="text"
      name="FNAME"
      placeholder="First Name"
      required
    />
  </p>
  <p class="relative flex-grow">
    <label class="sr-only" for="email-label-hidden">Email address</label>
    <input
      id="email-label-hidden"
      class="spl-input"
      type="email"
      name="EMAIL"
      placeholder="Email address"
      required
    />
    <span
      class="text-g-4 pointer-events-none absolute inset-y-0 right-3 inline-flex items-center"
      aria-hidden="true"
    >
      <svg class="h-4 w-4 fill-current">
        {{ partial "helper/svg.html" "email" }}
      </svg>
    </span>
  </p>
</div>

<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">
    Text inputs visible labels
  </h3>
  <p class="flex-[0_0_100%] sm:flex-[0_1_calc(50%-10px)]">
    <label
      class="flex-[0_0_100%] font-sans text-sm font-black"
      for="name-label-visible"
      >First Name</label
    >
    <input
      id="name-label-visible"
      class="spl-input"
      type="text"
      name="FNAME"
      placeholder="First Name"
      required
    />
  </p>

  <p class="relative mt-3 flex-[0_0_100%] sm:flex-[0_1_60%]">
    <label
      class="flex-[0_0_100%] font-sans text-sm font-black"
      for="email-label-visible"
      >Email Address</label
    >
    <input
      id="email-label-visible"
      class="spl-input"
      type="email"
      name="EMAIL"
      placeholder="Email address"
      required
    />
    <span
      class="text-g-4 pointer-events-none absolute inset-y-0 top-7 right-3 inline-flex items-center"
    >
      <svg class="fill-g-4 h-4 w-4" viewBox="0 0 1 1">
        {{ partial "helper/svg.html" "email" }}
      </svg>
    </span>
  </p>
</div>

<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">Checkboxes</h3>

  <p class="mt-3 text-left">
    <label>
      <input
        type="checkbox"
        class="hover:accent-yellow-4 mr-3 h-4 w-4 rounded border border-black p-1 accent-black"
        name="papost"
        value="1"
        checked
        data-ga-category="toggle-newsletter:papost"
      />
      <strong>PA Post (Daily)</strong>: Top news every weekday morning, plus a
      daily puzzle.
    </label>
  </p>
  <p class="flex flex-1 flex-row-reverse">
    <label class="flex-grow font-sans font-black" for="checkbox"
      >I would like to remain anonymous</label
    >
    <input
      class="border-g-4 accent-yellow hover:accent-yellow-4 mr-3 h-6 w-6 rounded border p-1"
      type="checkbox"
      name="checkbox"
    />
  </p>
</div>

<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">Select Menu</h3>

  <p class="relative mx-auto max-w-full">
    <select class="spl-select text-2xl">
      <option disabled selected>Jump to…</option>
      <option value="1">Option One</option>
      <option value="2">Second Option</option>
    </select>
    <span
      class="text-g-6 pointer-events-none absolute inset-y-0 right-3 z-10 inline-flex items-center justify-center leading-none"
      aria-hidden="true"
    >
      <svg class="fill-g-5 h-4 w-4">
        {{ partial "helper/svg.html" "chevron" }}
      </svg>
    </span>
  </p>
</div>

<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">Buttons New</h3>
  <p class="mt-2 leading-tight font-semibold sm:mt-0 sm:ml-1">
    <button class="btn-signup-slim" type="submit">Signup Slim</button>
  </p>

  <p class="font-sans">
    <button class="btn-signup" type="submit">Signup</button>
  </p>
  <p>
    <button type="submit" class="btn-signup-lg">Signup Large</button>
  </p>
</div>
<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">Action Buttons</h3>

  <p class="font-sans">
    <button type="submit" class="btn-donate-slim">Donate Slim</button>
  </p>
  <div class="mt-6 flex flex-wrap justify-start gap-2 font-sans">
    <button class="btn-donate">Donate &rarr;</button>
  </div>

  <div class="mt-6 flex flex-wrap justify-start gap-2 font-sans">
    <button class="btn-donate-lg">Donate Large &rarr;</button>
  </div>
</div>

<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">Buttons</h3>

  <div
    class="bg-opacity-70 mt-12 flex justify-center bg-black p-6 text-center leading-tight"
    data-ga-category="cta"
  >
    <a
      class="hover:border-red-7 hover:text-red-7 border border-white px-4 py-2 text-xl font-bold text-white no-underline duration-300 lg:text-2xl"
      href="#"
    >
      Text Block Action Button
    </a>
  </div>

  <div class="mt-12 flex justify-center" data-ga-category="cta">
    <a
      class="hover:border-red-7 hover:text-red-7 border border-black px-4 py-2 text-center text-xl leading-tight font-bold text-black no-underline duration-300 lg:text-2xl"
      href="#"
    >
      Partners Button
    </a>
  </div>

  <div class="mx-auto flex max-w-6xl flex-wrap justify-between px-5 py-3">
    <a
      data-ga-category="item"
      class="hover:border-red-7 hover:text-red-7 my-2 mr-5 inline-flex w-auto items-center rounded border border-black px-4 py-2 text-base leading-4 text-black no-underline lg:my-0"
      href="#"
      ><span> TND Sticky Nav </span></a
    >
  </div>
</div>
