<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">Destination Page</h3>
  <div
    class="mx-auto mt-10 w-full max-w-prose text-center font-serif text-base"
  >
    <h1 class="text-4xl leading-none font-semibold tracking-tight md:text-5xl">
      Lorem ipsum augue interdum velit euismod in pellentesque massa placerat
      duis ultricies lacus
    </h1>
    <h2
      class="text-g-7 mx-auto mt-2 w-0 min-w-full text-xl leading-tight font-semibold md:text-3xl"
    >
      Lorem ipsum augue interdum velit euismod in pellentesque massa placerat
      duis ultricies lacus, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur.
    </h2>
  </div>
  <nav class="space-x-4">
    <a href="/elections">Elections Page</a>
  </nav>
</div>
<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">Collection Page</h3>
  <div class="mx-auto mt-10 w-full p-7 text-black">
    <h1
      class="text-center font-sans text-3xl leading-none font-bold tracking-wide uppercase sm:text-4xl md:text-6xl"
    >
      Lorem ipsum augue interdum velit euismod in pellentesque massa placerat
      duis ultricies lacus
    </h1>
    <div class="mx-auto mb-5 w-full max-w-prose">
      <h2
        class="text-g-6 mt-4 text-center font-sans text-lg leading-tight font-semibold"
      >
        Lorem ipsum augue interdum velit euismod in pellentesque massa placerat
        duis ultricies lacus, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.
      </h2>
    </div>
  </div>
  <nav class="space-x-4">
    <a href="/events">Events</a>
    <a href="/newsletters">Newsletter Signup Page</a>
    <a href="/topics">Topics Archive</a>
    <a href="/topics/economy">Single Topic Archive</a>
  </nav>
</div>
<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">Page</h3>
  <div class="mx-auto mt-10 w-full max-w-(--breakpoint-lg) font-sans">
    <h1
      class="mb-2 font-sans text-3xl leading-tight font-bold tracking-wide text-black sm:text-4xl lg:text-5xl"
    >
      Lorem ipsum augue interdum velit euismod in pellentesque massa placerat
      duis ultricies lacus
    </h1>
  </div>
  <nav class="space-x-4">
    <a href="/support">Ways to Support Page</a>
    <a href="/about/staff">Staff</a>
    <a href="/about/jobs">Jobs Page</a>
    <a href="/about/partners/">Partners Page</a>
    <a href="/privacy">Privacy Policy</a>
  </nav>
</div>
<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">Standard Article</h3>
  <div class="text-g-9 bg-white px-4 pt-12 pb-6 font-serif">
    <div
      class="mx-auto mt-10 grid max-w-(--breakpoint-lg) grid-cols-1 gap-x-20 lg:grid-cols-[theme(maxWidth.prose)_1fr]"
    >
      <div class="contents">
        <div
          data-ga-category="header"
          class="col-start-1 mx-auto w-full max-w-prose min-w-0 lg:col-span-2 lg:max-w-full"
        >
          <h1
            class="mt-1 text-2xl leading-tight font-bold tracking-tight text-black sm:text-4xl"
          >
            Lorem ipsum augue interdum velit euismod in pellentesque massa
            placerat duis ultricies lacus
          </h1>
        </div>
      </div>
    </div>
  </div>
  <nav class="space-x-4">
    <a
      href="/news/2023/04/pa-primary-election-2023-complete-guide-polling-place-mail-ballot/"
      >Sample Article</a
    >
  </nav>
</div>
