<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">
    Inline Newsletter Signup
  </h3>

  {{ partial "tw/inline-newsletter-form.html" (dict
    "gaCategory" "newsletters:pennstatealert"
    "gaForm" "newsletters:pennstatealert-full"
    "hiddenField" "newsletter/pennstatealert-hidden.html"
    "hed" "Sign Up for Penn State Alerts"
    "cta" "Subscribe"
    )
  }}
</div>

<div class="border-g-4 mt-10 space-y-4 border-b p-4 font-sans">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">
    Inline Newsletter Box Lg Signup
  </h3>
  <div class="mx-[calc(-50vw+50%)]">
    {{ partial "tw/newsletter-box-lg.html" (dict
      "newsletterHed" "Newsletter Full Box"
      "newsletterDek" "Customize subscriber list via `newsletterField` option. Slide-down select list option featured"
      "newsletterWrapper" "bg-g-1 border border-g-4 rounded-sm shadow-md p-4 sm:py-8 text-black"
      "newsletterField" "newsletter/basic-visible.html"
      )
    }}
  </div>
</div>

<div class="border-g-4 mt-10 space-y-4 border-b p-4 font-sans">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">
    Sidebar Newsletter Signup
  </h3>
  <div class="max-w-xl">
    {{ partial "tw/newsletter-sidebar.html" (dict
      "image" "2021/06/01gc-4k5b-cx91-fppc.jpeg"
      "dek" "Every weekday, you’ll get the top news from across Pennsylvania, plus other good reads, and some fun, too. It's like your morning bowl of oats, with marshmallows."
      "gaCategory" "newsletters:papost"
      "gaForm" "newsletters:papost-full"
      "hiddenField" "newsletter/papost-hidden.html"
      "hed" "Get the PA POST in your inbox"
      "cta" "Subscribe"
      )
    }}

  </div>
</div>

<div class="border-g-4 mt-10 space-y-4 border-b p-4 font-sans">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">
    Inline Newsletter Full Signup
  </h3>
  <div class="mx-[calc(-50vw+50%)]">
    {{ partial "tw/newsletter-full.html" (dict
      "image" "2023/02/01hx-t3ph-mmqa-hkt2.jpeg"
      "dek" "Be the first to know about our latest investigative and accountability journalism about Penn State University. "
      "gaCategory" "newsletters:pennstatealert"
      "gaForm" "newsletters:pennstatealert-full"
      "hiddenField" "newsletter/pennstatealert-hidden.html"
      "hed" "Sign Up for Penn State Alerts"
      "cta" "Subscribe"
      )
    }}
  </div>
</div>
<div class="border-g-4 mt-10 space-y-4 border-b p-4 font-sans">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">
    Newsletter Javascript Embed
  </h3>

  <script src="https://www.spotlightpa.org/embed.js" async></script>
  <div
    data-spl-embed-version="1"
    data-spl-src="https://www.spotlightpa.org/embeds/newsletter/?eyebrow=Custom%20Eyebrow&button=Customizable%20CTA&cta=Teaser%20Text%20of%20any%20length."
  ></div>
</div>
<div class="border-g-4 mt-10 space-y-4 border-b p-4 font-sans">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">Ribbon Modal</h3>

  {{ $idEmail := partial "helper/new-id" . | printf "modal-newsletter-%s" }}
  {{ $imagename := "/2023/02/01hz-hk1z-0qfm-tsg4.jpeg" }}
  {{ $actionColor := "#FFCB05" }}


  <div class="mx-[calc(-50vw+50%)]">
    <div class="mt-36 w-full overflow-y-scroll pt-11">
      <div
        style="background-color: {{ $actionColor }};"
        class="w-full border-t-2 border-b-2 font-sans"
      >
        <div
          class="mx-5 -mt-11 grid max-w-screen-xl grid-cols-6 items-start gap-x-5 md:mx-auto md:mr-auto md:ml-auto md:grid-cols-12"
        >
          <button
            style="color: {{ $actionColor }};"
            class="text-g-4 col-start-6 flex md:col-start-10 md:row-start-1"
            type="button"
            aria-label="close"
            x-ref="closer"
            data-ga-category="dismiss"
            @keydown.escape="isOpen = false"
            @click="isOpen = false;"
            :autofocus="isOpen"
          >
            <svg
              class="my-auto box-content h-5 w-5 p-3 text-black"
              style="margin-right: -2px;"
            >
              {{ partial "helper/svg.html" "close" }}
            </svg>
          </button>
          <form
            class="col-span-5 col-start-1 row-start-1 -mr-5 grid-cols-[repeat(5,auto)] gap-0 overflow-hidden rounded-sm border-2 bg-white md:col-span-7 md:col-start-3 md:row-start-1 md:-ml-5 md:grid md:flex-col md:flex-wrap"
            x-data="newsletter($el.dataset.baseUrl)"
            data-base-url="{{ page.Param `newsletters-base-url` }}"
            @submit.prevent="submit"
            tabindex="-1"
            @click.stop
            @keydown.escape="isOpen = false"
          >
            {{ partial "newsletter/basic-hidden.html" . }}
            {{ with $imagename }}
              <div
                class="-mt-14 flex aspect-video items-stretch justify-center self-stretch overflow-hidden rounded-tr md:col-start-3 md:row-start-1 md:row-end-4 md:mt-0 md:aspect-auto"
              >
                {{ $sizes := (slice
                  (dict "width" 256 "height" 256)
                  (dict "width" 512 "height" 512)
                  )
                }}
                {{ $srcset := partial "helper/build-srcset" (dict
                  "sizes" $sizes
                  "filename" $imagename
                  "gravity" "ce"
                  )
                }}

                {{ $imgOpt := dict
                  "filename" $imagename
                  "width" 256
                  "height" 256
                  "gravity" "ce"
                }}
                {{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}
                {{ partial "tag/picture.html" (dict
                  "pictureClass" "w-full flex"
                  "imgClass" "w-full object-cover"
                  "sizeHint" "256px"
                  "eager" false
                  "description" ""
                  "srcset" $srcset
                  "src" $imgSmallSrc
                  "width" 256
                  "height" 256
                  )
                }}
              </div>
            {{ end }}
            <header class="mx-5 mt-6 md:col-start-1 md:col-end-3">
              <h2 class="text-2xl font-extrabold md:text-3xl lg:text-4xl">
                Investigative Journalism for Pennsylvania
              </h2>
              <p class="mt-2 max-w-lg text-xl">
                Get every Spotlight PA story and the best investigative
                journalism from across Pa.
              </p>
            </header>
            <div
              class="m-5 flex max-w-md flex-wrap items-stretch justify-start space-y-4 sm:flex-nowrap md:col-start-1 md:col-end-3"
            >
              <label class="sr-only" for="{{ $idEmail }}">Email address</label>
              <input
                id="{{ $idEmail }}"
                class="text-g-8 placeholder-g-5 ring-blue-2 box-border w-full appearance-none rounded-sm rounded-tl rounded-bl border border-black bg-white p-2 tracking-wider outline-hidden focus:ring-2 sm:w-7/12 sm:rounded-tr-none sm:rounded-br-none"
                @focus.once="hasFocused = true"
                type="email"
                name="EMAIL"
                placeholder="Email address"
                required
              />
              <button
                style="color: {{ $actionColor }};"
                class="box-border w-5/12 rounded-sm bg-black py-2 font-black tracking-wider hover:shadow-sm sm:rounded-t-none sm:rounded-tr sm:rounded-b sm:rounded-bl-none md:px-8"
                type="submit"
                :disabled="isLoading"
              >
                Sign Up
                <svg
                  x-cloak
                  x-transition
                  aria-label="Submitting"
                  x-show="isLoading"
                  class="-mt-1 inline-block h-4 w-4 animate-spin fill-current"
                >
                  {{ partial "helper/svg.html" "spinner" }}
                </svg>
              </button>
            </div>
            <div
              class="bg-g-3 col-span-3 col-start-1 rounded-b-sm border-t-2 px-6 pt-5 pb-9"
              x-cloak
              x-show="hasFocused"
              x-transition:enter="transition ease-in-out duration-300"
              x-transition:enter-start="opacity-0"
              x-transition:enter-end="opacity-100"
              x-transition:leave="transition ease-in duration-300"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
            >
              <p class="mt-3 text-left">
                <label>
                  <input
                    type="checkbox"
                    class="hover:accent-yellow-4 mr-3 h-4 w-4 rounded-sm border border-black p-1 accent-black"
                    name="papost"
                    value="1"
                    checked
                    data-ga-category="toggle-newsletter:papost"
                  />
                  <strong>PA Post (Daily)</strong>: Top news every weekday
                  morning, plus a daily puzzle.
                </label>
              </p>
              <p class="mt-1 text-left">
                <label>
                  <input
                    type="checkbox"
                    class="hover:accent-yellow-4 mr-3 h-4 w-4 rounded-sm border border-black p-1 accent-black"
                    name="investigator"
                    value="1"
                    checked
                    data-ga-category="toggle-newsletter:investigator"
                  />
                  <strong>The Investigator (Weekly)</strong>: Best
                  accountability journalism every Thursday, plus a weekly
                  riddle.
                </label>
              </p>
              <p class="mt-1 text-left">
                <label>
                  <input
                    type="checkbox"
                    class="hover:accent-yellow-4 mr-3 h-4 w-4 rounded-sm border border-black p-1 accent-black"
                    name="palocal"
                    value="1"
                    checked
                    data-ga-category="toggle-newsletter:palocal"
                  />
                  <strong>PA Local (Weekly)</strong>: A fresh look at the
                  incredible people, places, and food of Pa. every Friday.
                </label>
              </p>
            </div>
          </form>
          <p
            class="col-span-6 col-start-1 flex leading-tight md:col-span-7 md:col-start-3"
          >
            <button
              class="flex-initial py-3 pr-5 text-black underline md:mr-5"
              aria-label="close"
              type="button"
              @click="isOpen = false"
            >
              I’m already a subscriber
            </button>
            <button
              class="flex-initial py-4 pr-5 text-black underline md:mr-5"
              aria-label="close"
              type="button"
              @click="isOpen = false"
            >
              No thanks
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
