{{ $svgPaths := dict
  "android" "@fontawesome/brands/android.svg"
  "apple" "@fontawesome/brands/apple.svg"
  "banner" "/img/logos/banner-default-on-trans.svg"
  "banner-state-college" "/img/logos/banner-state-college.svg"
  "bars" "@fontawesome/solid/bars.svg"
  "bell" "@fontawesome/solid/bell.svg"
  "bluesky" "@fontawesome/brands/bluesky.svg"
  "calendar-day" "@fontawesome/solid/calendar-day.svg"
  "calendar" "@fontawesome/regular/calendar-check.svg"
  "chat" "@fontawesome/solid/comment.svg"
  "check" "@fontawesome/solid/check.svg"
  "chevron" "@fontawesome/solid/chevron-down.svg"
  "chevron-left" "@fontawesome/solid/chevron-left.svg"
  "chevron-right" "@fontawesome/solid/chevron-right.svg"
  "circle-check" "@fontawesome/solid/circle-check.svg"
  "circle-exclamation" "@fontawesome/solid/circle-exclamation.svg"
  "circle-question" "@fontawesome/solid/circle-question.svg"
  "clipboard-list" "@fontawesome/solid/clipboard-list.svg"
  "close" "@fontawesome/solid/circle-xmark.svg"
  "closequote" "/img/icons/close-quotations.svg"
  "copy" "@fontawesome/regular/copy.svg"
  "counties" "/img/icons/counties.svg"
  "crosshairs" "@fontawesome/solid/crosshairs.svg"
  "email" "@fontawesome/regular/envelope.svg"
  "envelope" "@fontawesome/solid/envelope.svg"
  "fb" "@fontawesome/brands/facebook-f.svg"
  "filter" "@fontawesome/solid/filter.svg"
  "flip" "@fontawesome/brands/flipboard.svg"
  "gavel" "@fontawesome/solid/gavel.svg"
  "gh" "@fontawesome/brands/github.svg"
  "google" "@fontawesome/brands/google.svg"
  "heart" "@fontawesome/solid/heart.svg"
  "ig" "@fontawesome/brands/instagram.svg"
  "ios" "@fontawesome/brands/app-store-ios.svg"
  "leaders-in-action" "/img/logos/leaders-in-action.svg"
  "left" "@fontawesome/solid/circle-arrow-left.svg"
  "link" "@fontawesome/solid/link.svg"
  "location" "@fontawesome/solid/location-dot.svg"
  "logo" "/img/logos/circle-default-on-trans.svg"
  "map-pin" "@fontawesome/solid/map-pin.svg"
  "minus" "@fontawesome/solid/circle-minus.svg"
  "openquote" "/img/icons/open-quotations.svg"
  "pa" "/img/logos/nav-pa-default-on-trans.svg"
  "paper-plane" "@fontawesome/solid/paper-plane.svg"
  "phone" "@fontawesome/solid/phone.svg"
  "plus" "@fontawesome/solid/circle-plus.svg"
  "quote-left" "@fontawesome/solid/quote-left.svg"
  "quote-right" "@fontawesome/solid/quote-right.svg"
  "reddit" "@fontawesome/brands/reddit.svg"
  "right" "@fontawesome/solid/circle-arrow-right.svg"
  "search" "@fontawesome/solid/magnifying-glass.svg"
  "share" "@fontawesome/solid/share.svg"
  "spinner" "@fontawesome/solid/spinner.svg"
  "spotlight" "/img/logos/nav-spotlight-default-on-trans.svg"
  "threads" "@fontawesome/brands/threads.svg"
  "ticket" "/img/icons/ticket-stub.svg"
  "times" "@fontawesome/solid/xmark.svg"
  "triangle-exclamation" "@fontawesome/solid/triangle-exclamation.svg"
  "trophy" "@fontawesome/solid/trophy.svg"
  "twitter" "@fontawesome/brands/x-twitter.svg"
  "user" "@fontawesome/solid/user.svg"
  "youtube" "@fontawesome/brands/youtube.svg"
}}
<div hidden>
  {{ range $id, $_ := page.Store.Get "svgs" }}
    {{ $rscPath := index $svgPaths $id }}
    {{ $svg := resources.Get $rscPath }}
    {{ with $svg }}
      <svg id="{{ $id }}-svg">{{ $svg.Content|safeHTML }}</svg>
    {{ else }}
      {{ errorf "missing SVG: %s" $id }}
    {{ end }}
  {{ end }}
</div>
