{{ $eyebrow := .Get "eyebrow_text" | htmlUnescape | default `While You’re Here` }}
{{ $teaser := .Get "teaser_text" | htmlUnescape | default `If you learned something from this report, pay it forward and become a member of Spotlight PA so someone else can in the future.` }}
{{ $cta := .Get "cta_text" | htmlUnescape | default `Click to Contribute` }}

{{ partial "tag/content-well-end" . }}
<div
  data-ga-category="embed:donate"
  data-fru-campaign="embed"
  class="my-6 font-sans"
>
  <div class="rounded border border-red font-semibold leading-tight shadow">
    <h2>
      <a
        href="/donate/"
        class="inline-block rounded-br bg-red px-4 py-3 font-semibold uppercase tracking-wider text-white sm:text-lg"
        data-ga-category="eyebrow"
      >
        {{- $eyebrow -}}
      </a>
    </h2>
    <h2 class="mt-8 px-4 text-center font-semibold sm:mt-12 sm:text-lg">
      <a
        href="/donate/"
        class="embed-prose-highlight text-lg leading-snug"
        data-ga-category="body"
      >
        {{- $teaser | safeHTML -}}
      </a>
    </h2>
    <div
      class="mt-8 px-2 text-center font-semibold uppercase tracking-wider sm:mt-12 sm:text-xl"
    >
      <a
        href="/donate/"
        class="btn-donate"
        data-ga-category="button"
        target="_blank"
      >
        {{- $cta -}}
      </a>
    </div>
    <div class="mb-4 mr-3 mt-10 text-right text-g-9">
      <a href="/" target="_blank">
        <svg
          class="inline-block h-8 w-48 fill-current"
          aria-label="Spotlight PA logo"
        >
          {{ partial "helper/svg.html" "banner" }}
        </svg>
      </a>
    </div>
  </div>
</div>

{{ partial "tag/content-well-start" . }}