{{ $eyebrow := .Get "eyebrow_text" | htmlUnescape | default `While You’re Here` }}
{{ $teaser := .Get "teaser_text" | htmlUnescape | default `Spotlight PA’s nonprofit reporting is a free public service, but it depends on your support. Give now to ensure it can continue.` }}
{{ $cta := .Get "cta_text" | htmlUnescape | default `Contribute →` }}


<div
  data-ga-category="embed:donate"
  data-fru-campaign="embed"
  class="font-sans"
>
  <div
    class="spl-donate my-6 rounded-lg border border-g-5 bg-g-2 p-7 md:p-10 xl:px-12 xl:py-7"
  >
    <h2
      class="mb-3 border-b border-black font-serif text-2xl italic leading-tight"
    >
      <div href="/donate/" class="inline-block" data-ga-category="eyebrow">
        {{- $eyebrow -}}
      </div>
    </h2>
    <h2 class="mt-2 font-sans text-lg">
      <div
        href="/donate/"
        class="embed-prose-highlight leading-tight"
        data-ga-category="body"
      >
        {{- $teaser | safeHTML -}}
      </div>
    </h2>
    <div class="mt-6">
      <a
        href="/donate/"
        class="btn-donate mt-2"
        data-ga-category="button"
        target="_blank"
      >
        {{- $cta -}}
      </a>
    </div>
  </div>
</div>
