{{ $cta := .Get "cta" | htmlUnescape | default `Sign up for a free roundup of the top news from across Pennsylvania, all in
  one daily or weekly email from Spotlight PA.`
}}
{{ $eyebrow := .Get "eyebrow" | htmlUnescape | default `Free Newsletter` }}
{{ $button := .Get "button" | htmlUnescape | default `Sign Up` }}
{{ $preselect := .Get "preselect" | htmlUnescape | default `` }}

{{ $idEmail := partial "helper/new-id" . }}
{{ partial "tag/content-well-end" . }}
<form
  class="my-6 rounded border border-red font-sans font-semibold leading-tight shadow"
  data-ga-category="embed:newsletter"
  x-data="newsletter($el.dataset.baseUrl)"
  data-base-url="{{ page.Param `newsletters-base-url` }}"
  @submit.prevent="submit"
  @focusin="hasFocused = true"
>
  {{ partial "newsletter/basic-hidden.html" . }}
  {{ with $preselect }}
    <p class="hidden" hidden>
      <input type="hidden" name="{{ . }}" value="1" />
    </p>
  {{ end }}
  <h2
    class="inline-block rounded-br bg-red px-4 py-3 font-semibold uppercase tracking-wider text-white sm:text-lg"
  >
    {{- $eyebrow -}}
  </h2>
  <h2 class="embed-prose mt-8 px-4 text-center text-lg font-semibold sm:mt-12">
    {{- $cta | safeHTML -}}
  </h2>
  <div class="mx-auto mt-8 items-stretch px-4 sm:flex sm:max-w-2xl">
    <p class="relative flex-grow">
      <label class="sr-only" for="{{ $idEmail }}">Email address</label>
      <input
        id="{{ $idEmail }}"
        class="spl-input"
        type="email"
        name="EMAIL"
        placeholder="Email address"
        required
      />
      <span
        class="pointer-events-none absolute inset-y-0 right-3 inline-flex items-center text-g-4"
        aria-hidden="true"
      >
        <svg class="h-4 w-4 fill-current">
          {{ partial "helper/svg.html" "email" }}
        </svg>
      </span>
    </p>
    <p class="mt-2 sm:ml-1 sm:mt-0">
      <button class="btn-donate h-full" type="submit" :disabled="isLoading">
        {{- $button -}}
        <svg
          x-cloak
          x-transition
          aria-label="Submitting"
          x-show="isLoading"
          class="-mt-1 inline-block h-4 w-4 animate-spin fill-current"
        >
          {{ partial "helper/svg.html" "spinner" }}
        </svg>
      </button>
    </p>
  </div>
  {{ $checkClass := `accent-red w-3 h-3 shrink-0` }}
  {{ if not $preselect }}
    <div
      class="mt-4 flex flex-col gap-2 px-4 text-left"
      x-show="hasFocused"
      x-transition
      x-cloak
    >
      <p class="">
        <label class="flex items-baseline gap-2">
          <input
            type="checkbox"
            name="papost"
            class="{{ $checkClass }}"
            value="1"
            checked
            x-report-click
            data-ga-category="toggle-newsletter:papost"
          />
          <span>
            <strong class="font-extrabold">PA Post (Daily)</strong>: Top news
            every weekday morning, plus a daily puzzle.
          </span>
        </label>
      </p>
      <p>
        <label class="flex items-baseline gap-2">
          <input
            type="checkbox"
            name="investigator"
            class="{{ $checkClass }}"
            value="1"
            checked
            x-report-click
            data-ga-category="toggle-newsletter:investigator"
          />
          <span>
            <strong class="font-extrabold">The Investigator (Weekly)</strong>:
            Best accountability journalism every Thursday, plus a weekly riddle.
          </span>
        </label>
      </p>
      <p>
        <label class="flex items-baseline gap-2">
          <input
            type="checkbox"
            name="palocal"
            class="{{ $checkClass }}"
            value="1"
            checked
            x-report-click
            data-ga-category="toggle-newsletter:palocal"
          />
          <span>
            <strong class="font-extrabold">PA Local (Weekly)</strong>: A fresh
            look at the incredible people, places, and food of Pa. every Friday,
            plus events, guides, best-of, and more.
          </span>
        </label>
      </p>
    </div>
  {{ end }}
  <div class="mb-4 mr-3 mt-10 text-right text-g-9">
    <a href="/" target="_blank">
      <svg
        class="inline-block h-8 w-48 fill-current"
        aria-label="Spotlight PA logo"
      >
        {{ partial "helper/svg.html" "banner" }}
      </svg>
    </a>
  </div>
</form>
{{ partial "tag/content-well-start" . }}
