{{ $subjects := slice
  (slice "Addiction" "Ed Mahon")
  (slice "Agriculture" "Stephen Kearse")
  (slice "Child care" "Ed Mahon")
  (slice "Courts (state or local)" "Danielle Ohl")
  (slice "COVID-19" "Ed Mahon")
  (slice "Crime" "Danielle Ohl")
  (slice "Criminal Justice" "Danielle Ohl")
  (slice "Economic Development" "Charlotte Keith")
  (slice "Education" "Ed Mahon")
  (slice "Elder care" "Ed Mahon")
  (slice "Elected Officials" "Angela Couloumbis, Katie Meyer, Kate Huangpu")
  (slice "Elections" "Angela Couloumbis, Katie Meyer, Kate Huangpu")
  (slice "Environment" "Stephen Kearse")
  (slice "Event suggestions" "Yaasmeen Piper, Stephen Kearse")
  (slice "Health" "Ed Mahon")
  (slice "Housing" "Charlotte Keith")
  (slice "Human Services" "Ed Mahon")
  (slice "Labor" "Stephen Kearse")
  (slice "Law Enforcement" "Danielle Ohl")
  (slice "Legislature" "Angela Couloumbis, Katie Meyer, Kate Huangpu")
  (slice "Local Government" "Min Xian")
  (slice "Newsletter suggestions" "Colin, Stephen Kearse")
  (slice "Penn State University" "Wyatt Massey")
  (slice "Politics" "Angela Couloumbis, Katie Meyer, Kate Huangpu")
  (slice "Rural Issues" "Ashad Hajela")
  (slice "Sports" "Stephen Kearse")
  (slice "State College" "Sarah Rafacz")
  (slice "State Government" "")
  (slice "State Prisons" "Danielle Ohl")
  (slice "Transportation" "")
  (slice "Unemployment" "")
  (slice "Voting" "Angela Couloumbis, Katie Meyer, Kate Huangpu")
  (slice "Other" "")
}}
{{ $idURL := partial "helper/new-id" . }}
{{ $idFrom := partial "helper/new-id" . }}
{{ $idEmail := partial "helper/new-id" . }}
{{ $idSubject := partial "helper/new-id" . }}
{{ $idBody := partial "helper/new-id" . }}
{{ $hed := .Get "hed" }}
{{ $dek := .Get "dek" }}
{{ $cta := .Get "submit" | default "Submit" }}
<section
  class="-mx-5 bg-s-3 font-sans md:mx-[calc(-50vw_+_50%)] sm:rounded md:rounded-none md:w-screen relative sm:px-5 md:px-4"
>
  <div
    class="mx-auto max-w-screen-lg py-6 px-3 md:grid md:grid-cols-10 md:gap-y-3 md:gap-x-5 md:px-0 md:py-24"
  >
    <header class="md:col-span-4 md:col-start-1">
      <h2 class=" text-2xl font-black leading-none text-black md:text-5xl">
        {{ $hed }}
      </h2>
      <p class="mt-5 text-base">{{ $dek|markdownify }}</p>
    </header>
    <div class="md:col-span-5 md:col-start-6 text-base">
      <form
        id="contact-page-form"
        name="contact-page"
        action="/contact/thanks/"
        method="post"
        netlify
        netlify-honeypot="bot-field"
        data-ga-form="contact"
        data-ga-category="inline:contact"
      >
        <p class="hidden">
          <label>
            Don’t fill this out if you're human: <input name="bot-field" />
          </label>
          <label class="label is-sr-only" for="{{ $idURL }}">Host URL</label>
          <input
            id="{{ $idURL }}"
            class="input"
            type="text"
            name="host_page"
            value="Spotlight PA"
          />
        </p>
        <div class="my-5 flex flex-wrap justify-between align-baseline">
          <h3 class="flex-[0_0_100%] font-sans font-black">From</h3>

          <p
            class="flex-[0_0_100%] sm:flex-[0_1_calc(50%-10px)] md:flex-[0_0_100%] lg:flex-[0_1_calc(50%-10px)]"
          >
            <label class="hidden" for="{{ $idFrom }}">From</label>
            <input
              id="{{ $idFrom }}"
              class="spl-input"
              type="text"
              placeholder="William Penn"
              name="name"
              required
            />
          </p>
          <p
            class="relative flex-[0_0_100%] mt-3 sm:mt-0 sm:flex-[0_1_calc(50%-10px)] md:mt-3 lg:mt-0 md:flex-[0_0_100%] lg:flex-[0_1_calc(50%-10px)]"
          >
            <label class="hidden" for="{{ $idEmail }}">Email Address</label>
            <input
              id="{{ $idEmail }}"
              class="spl-input"
              type="email"
              placeholder="billpenn@example.com"
              name="email"
              required
            />
            <span class="pointer-events-none inset-y-0 inline-flex items-center absolute right-3 text-s-4">
              <svg class="h-4 w-4 fill-s-4" viewBox="0 0 1 1">
                <use xlink:href="#email-svg"></use>
              </svg>
            </span>
          </p>
        </div>

        <div class=" mb-3">
          <label class="font-sans font-black" for="{{ $idSubject }}"
            >Subject</label
          >
          <div class="control is-expanded" x-data="{ cc: '' }">
            <div class="relative select is-fullwidth">
              <select
                id="{{ $idSubject }}"
                class="select block w-full appearance-none bg-white text-s-6 shadow 
                outline-none ring-2 ring-transparent focus:ring-yellow active:ring-yellow-6
               rounded border border-s-4 p-1"
                name="subject"
                @input="cc = $el.options[$el.selectedIndex].dataset.cc"
                required
              >
                <option selected disabled value="">Select a topic</option>
                {{ range $subjects }}
                  {{ $subject := index . 0 }}
                  {{ $cc := index . 1 }}
                  <option data-cc="{{ $cc }}">{{ $subject }}</option>
                {{ end }}
              </select>
              <input type="hidden" name="CC" :value="cc" />
              <span
                class="pointer-events-none absolute inset-y-0 right-3 z-10 inline-flex items-center justify-center leading-none text-s-6"
                aria-hidden="true"
              >
                <svg class="h-4 w-4 fill-s-5">
                  <use xlink:href="#chevron-svg"></use>
                </svg>
              </span>
            </div>
          </div>
        </div>

        <div class="field mb-3">
          <label class="font-sans font-black" for="{{ $idBody }}"
            >Comment</label
          >
          <div class="control">
            <textarea
              id="{{ $idBody }}"
              class="input min-h-[128px] shadow w-full rounded border border-s-4 p-1 font-sans"
              placeholder="Explain how we can help you"
              name="comment"
            ></textarea>
          </div>
        </div>
        <div class="flex justify-between">
          <button
            type="submit"
            class="button is-large is-danger has-text-weight-semibold float-right rounded bg-yellow px-4 py-2 font-sans text-xl font-bold text-black"
          >
            {{ $cta }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
