{{ $subject := "Donate to Spotlight PA" }}
{{ $emailBody := "I just donated to Spotlight PA because Pennsylvania needs more accountability journalism. Join me:\n\n https://wwww.spotlightpa.org/donate/" }}


<div
  class="flex flex-wrap content-center items-center justify-center"
  data-ga-category="inline:share-donation"
>
  {{ $url := "https://www.spotlightpa.com/" }}
  <a
    class="m-2 flex items-center rounded bg-blue-7 px-5 py-2 font-black tracking-wider text-white shadow"
    href="https://www.facebook.com/dialog/feed?app_id=589296315209793&display=page&link={{ $url }}"
    data-ga-category="facebook"
    title="Share your donation on Facebook"
  >
    <span class="mr-3 h-6 w-6 fill-white">
      <svg viewBox="0 0 1 1">
        {{ partial "helper/svg.html" "fb" }}
      </svg>
    </span>
    <span> Share on Facebook </span>
  </a>
  {{ $url = "https://www.spotlightpa.com/donate/" }}
  {{ $text := `I just donated to @SpotlightPA because Pennsylvania needs more accountability journalism. Join me:` }}
  <a
    class="m-2 flex items-center rounded bg-blue-4 px-5 py-2 font-black tracking-wider text-white shadow"
    href="https://twitter.com/intent/tweet?text={{ $text }}&via=SpotlightPA&url={{ $url }}&tw_p=tweetbutton"
    data-ga-category="twitter"
    title="Tweet about your donation"
  >
    <span class="mr-3 h-6 w-6 fill-white">
      <svg viewBox="0 0 1 1">
        {{ partial "helper/svg.html" "twitter" }}
      </svg>
    </span>
    <span> Share on Twitter </span>
  </a>
  <a
    href="mailto:?subject={{ $subject }}&amp;body={{ $emailBody }}"
    class="m-2 flex items-center rounded bg-green px-5 py-2 font-black tracking-wider text-white no-underline shadow"
    title="Share your donation by email"
    data-ga-category="email"
  >
    <span class="mr-3 h-6 w-6 fill-white">
      <svg viewBox="0 0 1 1">
        {{ partial "helper/svg.html" "email" }}
      </svg>
    </span>
    <span> Share by email </span>
  </a>
</div>
