<div
  class="flex flex-col flex-wrap items-center justify-center md:flex-row"
  data-ga-category="inline"
>
  {{ range .Site.Data.partners.partners }}
    <div class=" m-auto max-w-sm p-3 text-center" data-ga-category="logos">
      <a href="{{ .url }}" title="{{ .name }}">
        <span class="logo-column">
          <img
            src="{{ index . "logo-url" }}"
            alt="Logo for {{ .name }}"
            style="width: auto; height: 64px;"
          />
        </span>
      </a>
    </div>
  {{ end }}
</div>
