<div class="flex md:flex-row flex-col flex-wrap items-center justify-center" data-ga-category="inline">
  {{ range .Site.Data.partners.partners }}
    <div class=" p-3 max-w-sm m-auto text-center" data-ga-category="logos">
      <a href="{{ .url }}" title="{{ .name }}">
        <span class="logo-column">
          <img
            src="{{ index . "logo-url" }}"
            alt="Logo for {{ .name }}"
            style="width: auto; height: 64px;"
          />
        </span>
      </a>
    </div>
  {{ end }}
</div>
