{{ $sizes := .sizes }}
{{ $imagename := .filename }}
{{ $gravity := .gravity }}
{{ $absURL := .absURL }}
{{ $imgs := slice }}

{{ range $sizes }}
  {{ $width := .width }}
  {{ $height := .height }}

  {{ $imgOpt := dict
    "filename" $imagename
    "width" $width
    "height" $height
    "gravity" $gravity
    "ext" "webp"
    "absURL" $absURL
  }}
  {{ $url := partial "helper/imgproxy" $imgOpt }}
  {{ $src := printf "%s %dw" $url $width }}
  {{ $imgs = $imgs | append $src }}
{{ end }}

{{ $srcset := delimit $imgs ", " }}

{{ return $srcset }}
