{{ $data := index site.Data.authors . }}
{{ $nameID := urlize . }}

{{ $link := "" }}
{{ with $pages := site.Taxonomies.authors.Get $nameID }}
  {{ $link = $pages.Page.RelPermalink }}
{{ end }}

{{ $thumb := "" }}
{{ with $data.headshot }}
  {{ $gravity := index $data "image-gravity" | default "sm" }}
  {{ $imgOpt := dict
    "filename" .
    "width" 256
    "height" 256
    "gravity" $gravity
    "ext" "webp"
  }}
  {{ $thumb = partial "helper/imgproxy" $imgOpt }}
{{ end }}

{{ $data = dict
  "name" .
  "slug" $nameID
  "link" $link
  "thumb" $thumb
  | merge $data
}}

{{ return $data }}
