{{ $baseURL := getenv "IMGPROXY_URL" | default "https://images.data.spotlightpa.org" }}
{{ if .absURL }}
  {{ $baseURL = $baseURL | absURL }}
{{ end }}
{{ $signature := "insecure" }}
{{ $resizing_type := .resize | default "fill" }}
{{ $width := .width }}
{{ $height := .height }}
{{ $gravity := .gravity | default "sm" }}
{{ $enlarge := "1" }}
{{ $encoded_source_url := .filename | base64Encode }}
{{ $extension := .ext | default "jpeg" }}
{{ $quality := .quality | default 75 }}

{{ $url := printf
  "%s/%s/rt:%s/w:%d/h:%d/g:%s/el:%s/q:%d/%s.%s"
  $baseURL
  $signature
  $resizing_type
  $width
  $height
  $gravity
  $enlarge
  $quality
  $encoded_source_url
  $extension
}}

{{ if not .absURL }}
  {{ $url = $url | relURL }}
{{ end }}

{{ return $url }}
