{{ $byline := "" }}
{{ with .Param "authors" }}
  {{ $byline = delimit . ", " " and " }}
{{ end }}
{{ with .Param "byline" }}
  {{ $byline = . }}
{{ end }}

{{ $kicker := .Param "kicker" }}
{{ $rubric := dict }}
{{ $exKicker := .Param "extended-kicker" | default "Top News" }}

{{ $topic := "" }}
{{ if .Param "topics" }}
  {{ $topic = index (.GetTerms "topics") 0 }}
  {{ $rubric = $topic }}
{{ end }}

{{ $blurb := .Param "blurb" | default "" }}

{{ $showTitle := .Param "suppress-title" | not }}

{{ $link := .Param "link" | default .RelPermalink }}
{{ $params := dict
  "byline" $byline
  "kicker" $kicker
  "extendedKicker" $exKicker
  "blurb" $blurb
  "showTitle" $showTitle
  "topic" $topic
  "link" $link
}}

{{ with .PublishDate }}
  {{ $pub := partial "helper/date-apstyle" .Local }}
  {{ $isoFormat := "2006-01-02T15:04:05Z07:00" }}
  {{ $iso := .Format $isoFormat }}
  {{ $params = dict "published" $pub "publishedISO" $iso | merge $params }}
{{ end }}

{{ if .Param "series"}}
  {{ $series := index (.GetTerms "series") 0 }}
  {{ $params = dict "series" $series | merge $params }}
  {{ $rubric = $series }}
{{ end }}

{{ $params = dict "rubric" $rubric | merge $params }}

{{ return $params }}
