<section
  id="investigator-archive"
  class="mt-5"
  x-cloak
  x-data="feed"
  data-feed-url="https://files.data.spotlightpa.org/feeds/newsletters/investigator.json"
  data-ga-category="inline:newsletters:investigator:archive"
>
  <h2
    class="title is-3"
    x-show="hasLoaded"
  >The Investigator Archives</h2>

  <ul>
    <template x-for="item of items">
      <li>
        <span x-text="formatDate(item.date_published)"></span>
        &nbsp;
        <a
          @click="analytics($event)"
          :href="item.url"
          x-text="item.title"
        ></a>
      </li>
    </template>
  </ul>
</section>
