{{ $idFname := partial "helper/new-id" . }}
{{ $idLname := partial "helper/new-id" . }}
{{ $idEmail := partial "helper/new-id" . }}
<section class="box">
  <form
    action="https://spotlightpa.us3.list-manage.com/subscribe/post?u=4f6d92afd9b3de3ddb48714b9&amp;id=8c2a45d138"
    method="post"
    target="_blank"
    data-ga-form="newsletters:careers"
    data-ga-category="inline:newsletters:careers"
  >
    <h2 class="title is-3">Spotlight PA Career Opportunity Alerts</h2>
    <p class="is-hidden" aria-hidden="true">
      <label>
        Don’t fill this out if you're human:
        <input
          type="text"
          name="b_4f6d92afd9b3de3ddb48714b9_8c2a45d138"
          tabindex="-1"
          value=""
        />
      </label>
    </p>
    <div class="field">
      <label class="label" for="{{ $idFname }}">First Name</label>
    </div>
    <div class="field">
      <p class="control is-expanded">
        <input
          id="{{ $idFname }}"
          class="input"
          type="text"
          name="FNAME"
          required
        />
      </p>
    </div>
    <div class="field">
      <label class="label" for="{{ $idLname }}">Last Name</label>
    </div>
    <div class="field">
      <p class="control is-expanded">
        <input
          id="{{ $idLname }}"
          class="input"
          type="text"
          name="LNAME"
          required
        />
      </p>
    </div>
    <div class="field">
      <label class="label" for="{{ $idEmail }}">Email Address</label>
      <p class="control is-expanded has-icons-left has-icons-right">
        <input
          id="{{ $idEmail }}"
          class="input"
          type="email"
          name="EMAIL"
          required
        />
        <span class="icon is-left">
          <svg viewBox="0 0 1 1">
            <use xlink:href="#email-svg"></use>
          </svg>
        </span>
        <span class="icon is-right validator-icon">
          <svg viewBox="0 0 1 1">
            <use xlink:href="#check-svg"></use>
          </svg>
        </span>
      </p>
    </div>

    <div class="field">
      <div class="control">
        <button
          type="submit"
          class="button is-medium is-danger has-text-weight-semibold"
        >
          Subscribe
        </button>
      </div>
    </div>
  </form>
</section>
