{{ $gaForm := "newsletters:careers" }}
{{ $gaCategory := "inline:newsletters:careers" }}
{{ $hed := "Spotlight PA Career Opportunity Alerts" }}
{{ $cta := "Subscribe" }}

{{ $idFname := partial "helper/new-id" . }}
{{ $idLname := partial "helper/new-id" . }}
{{ $idEmail := partial "helper/new-id" . }}


<section data-ga-category="inline">
  <form
    action="https://spotlightpa.us3.list-manage.com/subscribe/post?u=4f6d92afd9b3de3ddb48714b9&amp;id=8c2a45d138"
    method="post"
    target="_blank"
    class="p-1 font-sans text-black"
    x-data
    x-form="{{ $gaForm }}"
    data-ga-category="{{ $gaCategory }}"
  >
    <h2 class="mt-8 text-3xl font-extrabold">
      {{ $hed }}
    </h2>

    <p>Sign up to receive alerts so you don’t miss new job postings.</p>

    <label class="mt-8 block font-extrabold" for="{{ $idFname }}">
      First Name
    </label>
    <p>
      <input
        id="{{ $idFname }}"
        class="spl-input"
        type="text"
        name="FNAME"
        placeholder="First Name"
        required
      />
    </p>

    <label class="mt-4 block font-extrabold" for="{{ $idLname }}">
      Last Name
    </label>
    <p>
      <input
        id="{{ $idLname }}"
        class="spl-input"
        type="text"
        name="LNAME"
        placeholder="Last Name"
        required
      />
    </p>
    <label class="mt-4 block font-extrabold" for="{{ $idEmail }}">
      Email Address
    </label>
    <p class="relative">
      <input
        id="{{ $idEmail }}"
        class="spl-input"
        type="email"
        name="EMAIL"
        placeholder="Email address"
        required
      />
    </p>
    <button type="submit" class="btn-signup mt-4">
      {{ $cta }}
    </button>
  </form>
</section>
