{{ $idFname := partial "helper/new-id" . }}
{{ $idLname := partial "helper/new-id" . }}
{{ $idEmail := partial "helper/new-id" . }}
<section data-ga-category="inline">
  <form
    action="{{ .Page.Param `newsletters-action` }}"
    method="post"
    target="_blank"
    data-ga-form="newsletters:statecollege"
    data-ga-category="newsletters:statecollege-full"
  >
    {{ partial "newsletter/talkofthetown-hidden.html" . }}
    <h2 class="title is-3 font-sans text-3xl mt-7 mb-6 font-bold">
      Sign Up for Talk of the Town
    </h2>
    <div class="field">
      <label class="label font-sans font-black" for="{{ $idFname }}">First Name</label>
    </div>
    <div class="field">
      <p class="control is-expanded">
        <input
          id="{{ $idFname }}"
          class="input border font-sans w-full border-s-4 rounded p-1"
          type="text"
          name="FNAME"
          required
        />
      </p>
    </div>
    <div class="field">
      <label class="label font-sans font-black" for="{{ $idLname }}">Last Name</label>
    </div>
    <div class="field">
      <p class="control is-expanded">
        <input
          id="{{ $idLname }}"
          class="input border font-sans w-full border-s-4 rounded p-1"
          type="text"
          name="LNAME"
          required
        />
      </p>
    </div>
    <div class="field mb-3">
      <label class="label font-sans font-black" for="{{ $idEmail }}">Email Address</label>
      <p class="control is-expanded has-icons-left has-icons-right relative">
        <input
          id="{{ $idEmail }}"
          class="input border font-sans w-full border-s-4 rounded px-8 py-1"
          type="email"
          name="EMAIL"
          required
        />
        <span class="icon is-left w-4 h-4 absolute top-[10px] left-2">
          <svg class="fill-s-4 w-4 h-4" viewBox="0 0 1 1">
            <use xlink:href="#email-svg"></use>
          </svg>
        </span>
        <span
          class="icon is-right validator-icon w-4 h-4 absolute  top-[10px] right-2"
        >
          <svg class="fill-green w-4 h-4 hidden" viewBox="0 0 1 1">
            <use xlink:href="#check-svg"></use>
          </svg>
        </span>
      </p>
    </div>

    <div class="field">
      <div class="control">
        <button
          type="submit"
          class="button is-large is-danger has-text-weight-semibold font-sans font-bold text-2xl bg-red hover:bg-red-8 rounded text-s-0 px-4 py-3"
        >
          Subscribe
        </button>
      </div>
    </div>
  </form>
</section>
