{{ $red := .Site.Data.colors.red }}
{{ $s := index site.Data.colors.s }}
{{ $yellow := .Site.Data.colors.yellow }}
{{ $blue := .Site.Data.colors.blue }}
{{ $navy := .Site.Data.colors.navy }}
{{ $green := .Site.Data.colors.electionGreen }}
{{ $other := .Site.Data.colors.other }}


<ul class="w-full">
  <li class="article-content mt-6 w-full font-sans">
    <h3>Grayscale</h3>
    <ul
      class="flex w-full flex-wrap justify-stretch gap-4 pl-0! align-baseline"
    >
      {{ range $key, $val := $s }}
        <li class="flex flex-[0_1_32%] flex-col gap-3 bg-white p-5 shadow-sm">
          <figure
            class="h-32 w-full"
            style="background-color: {{ . }}"
          ></figure>
          <p>
            Gray {{ $key }}:
            {{ . }}
          </p>
        </li>
      {{ end }}
    </ul>
  </li>

  <li class="article-content mt-6 w-full font-sans">
    <h3>Red</h3>
    <ul
      class="flex w-full flex-wrap justify-stretch gap-4 pl-0! align-baseline"
    >
      {{ range $key, $val := $red }}
        <li class="flex flex-[0_1_32%] flex-col gap-3 bg-white p-5 shadow-sm">
          <figure
            class="h-32 w-full"
            style="background-color: {{ . }}"
          ></figure>
          <p>
            Red {{ $key }}:
            {{ . }}
          </p>
        </li>
      {{ end }}
    </ul>
  </li>

  <li class="article-content mt-6 w-full font-sans">
    <h3>Yellow</h3>
    <ul
      class="flex w-full flex-wrap justify-stretch gap-4 pl-0! align-baseline"
    >
      {{ range $key, $val :=$yellow }}
        <li class="flex flex-[0_1_32%] flex-col gap-3 bg-white p-5 shadow-sm">
          <figure
            class="h-32 w-full"
            style="background-color: {{ . }}"
          ></figure>
          <p>
            Yellow {{ $key }}:
            {{ . }}
          </p>
        </li>
      {{ end }}
    </ul>
  </li>

  <li class="article-content mt-6 w-full font-sans">
    <h3>Blue</h3>
    <ul
      class="flex w-full flex-wrap justify-stretch gap-4 pl-0! align-baseline"
    >
      {{ range $key, $val :=$blue }}
        <li class="flex flex-[0_1_32%] flex-col gap-3 bg-white p-5 shadow-sm">
          <figure
            class="h-32 w-full"
            style="background-color: {{ . }}"
          ></figure>
          <p>
            Blue {{ $key }}:
            {{ . }}
          </p>
        </li>
      {{ end }}
    </ul>
  </li>

  <li class="article-content mt-6 w-full font-sans">
    <h3>Navy</h3>
    <ul
      class="flex w-full flex-wrap justify-stretch gap-4 pl-0! align-baseline"
    >
      {{ range $key, $val :=$navy }}
        <li class="flex flex-[0_1_32%] flex-col gap-3 bg-white p-5 shadow-sm">
          <figure
            class="h-32 w-full"
            style="background-color: {{ . }}"
          ></figure>
          <p>
            Navy {{ $key }}:
            {{ . }}
          </p>
        </li>
      {{ end }}
    </ul>
  </li>

  <li class="article-content mt-6 w-full font-sans">
    <h3>Election Green</h3>
    <ul
      class="flex w-full flex-wrap justify-stretch gap-4 pl-0! align-baseline"
    >
      {{ range $key, $val := $green }}
        <li class="flex flex-[0_1_32%] flex-col gap-3 bg-white p-5 shadow-sm">
          <figure
            class="h-32 w-full"
            style="background-color: {{ . }}"
          ></figure>
          <p>
            Election Green {{ $key }}:
            {{ . }}
          </p>
        </li>
      {{ end }}
    </ul>
  </li>

  <li class="article-content mt-6 w-full font-sans">
    <h3>Other Colors</h3>
    <ul
      class="flex w-full flex-wrap justify-stretch gap-4 pl-0! align-baseline"
    >
      {{ range $key, $val := $other }}
        <li class="flex flex-[0_1_32%] flex-col gap-3 bg-white p-5 shadow-sm">
          <figure
            class="h-32 w-full"
            style="background-color: {{ . }}"
          ></figure>
          <p>
            {{ $key }}:
            {{ . }}
          </p>
        </li>
      {{ end }}
    </ul>
  </li>
</ul>
