<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">Donation Embed</h3>

  <script src="https://www.spotlightpa.org/embed.js" async></script>
  <div
    data-spl-embed-version="1"
    data-spl-src="https://www.spotlightpa.org/embeds/donate/?teaser_text=Teaser%20Text%20of%20any%20length.&cta_text=Customizable%20CTA&eyebrow_text=Custom%20Eyebrow"
  ></div>
</div>

<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">Donation Prefill</h3>
  {{ partial "tw/donate-prefill.html" (dict
    "eyebrow" "Help Empower Voters"
    "hed" "Support Our Vital Election Coverage"
    "body" "The future of Spotlight PA depends on you."
    "cta" "Contribute Now"
    )
  }}

</div>
<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">
    Featured Donation Prefill Large
  </h3>

  {{ partial "tw/donate-prefill-lg.html" (dict
    "donateHed" "Customizable Donation Headline"
    "donateDek" "customizable dek for large donation prefill"
    "donateCta" "Give Today"
    "donateCampaign" "7015G0000013pZiQAI"
    "donateTheme" "centrecounty"
    "donateAmounts" "10,15,25"
    )
  }}

</div>

<div class="border-g-4 mt-10 space-y-4 border-b p-4">
  <h3 class="mb-8 font-sans text-3xl leading-none italic">
    Featured Donation Prefill Large Page
  </h3>

  {{ partial "tw/donate-prefill-lg-page.html" (dict
    "donateHed" "Customizable Donation Headline"
    "donateDek" "customizable dek for large donation prefill"
    "donateCta" "Give Today"
    "donateCampaign" "7015G0000013pZiQAI"
    "donateTheme" "centrecounty"
    "donateAmounts" "10,15,25"
    )
  }}
</div>
