<section class="demo-embeds bg-white">
  <div class="article-content">
    <h2 class="mb-3 text-2xl font-black leading-none text-black md:text-5xl">
      CTA Embed
    </h2>

    {{ .Page.RenderString "{{< embed/cta >}}" }}

    <h2
      class="mb-3 mt-10 text-2xl font-black leading-none text-black md:text-5xl"
    >
      Donation Embed
    </h2>
    {{ .Page.RenderString "{{< embed/donate >}}" }}

    <h2
      class="mb-3 mt-10 text-2xl font-black leading-none text-black md:text-5xl"
    >
      Newsletter Embed
    </h2>
    {{ .Page.RenderString "{{< embed/newsletter >}}" }}

    <h2
      class="mb-3 mt-10 text-2xl font-black leading-none text-black md:text-5xl"
    >
      Tips Embed
    </h2>
    {{ .Page.RenderString "{{< embed/tips >}}" }}
  </div>
</section>
