<div
  class="
         border-b border-s-4 mt-10 space-y-4 p-4
      "
>
  <h3 class="mb-8 font-sans text-3xl italic leading-none">
    Text inputs hidden labels
  </h3>

  <p class="relative flex-grow">
    <label class="sr-only" for="name-label-hidden">First Name</label>
    <input
      id="name-label-hidden"
      class="spl-input"
      type="text"
      name="FNAME"
      placeholder="First Name"
      required
    />
  </p>
  <p class="relative flex-grow">
    <label class="sr-only" for="email-label-hidden">Email address</label>
    <input
      id="email-label-hidden"
      class="spl-input"
      type="email"
      name="EMAIL"
      placeholder="Email address"
      required
    />
    <span
      class="pointer-events-none absolute inset-y-0 right-3 inline-flex items-center text-s-4"
      aria-hidden="true"
    >
      <svg class="h-4 w-4 fill-current">
        <use xlink:href="#email-svg"></use>
      </svg>
    </span>
  </p>
</div>

<div
  class="
         border-b border-s-4 mt-10 space-y-4 p-4
      "
>
  <h3 class="mb-8 font-sans text-3xl italic leading-none">
    Text inputs visible labels
  </h3>
  <p class="flex-[0_0_100%] sm:flex-[0_1_calc(50%-10px)]">
    <label
      class="flex-[0_0_100%] font-sans text-sm font-black"
      for="name-label-visible"
      >First Name</label
    >
    <input
      id="name-label-visible"
      class="spl-input"
      type="text"
      name="FNAME"
      placeholder="First Name"
      required
    />
  </p>

  <p class="relative mt-3 flex-[0_0_100%] sm:flex-[0_1_60%]">
    <label
      class="flex-[0_0_100%] font-sans text-sm font-black"
      for="email-label-visible"
      >Email Address</label
    >
    <input
      id="email-label-visible"
      class="spl-input"
      type="email"
      name="EMAIL"
      placeholder="Email address"
      required
    />
    <span
      class="pointer-events-none inset-y-0 inline-flex items-center absolute top-7 right-3 text-s-4"
    >
      <svg class="h-4 w-4 fill-s-4" viewBox="0 0 1 1">
        <use xlink:href="#email-svg"></use>
      </svg>
    </span>
  </p>
</div>

<div
  class="
         border-b border-s-4 mt-10 space-y-4 p-4
      "
>
  <h3 class="mb-8 font-sans text-3xl italic leading-none">Checkboxes</h3>

  <p class="mt-3 text-left">
    <label>
      <input
        type="checkbox"
        class="mr-3 h-4 w-4 rounded border border-black p-1 accent-black hover:accent-yellow-4"
        name="papost"
        value="1"
        checked
        data-ga-button
        data-ga-action="toggle-newsletter:papost"
      />
      <strong>PA Post (Daily)</strong>: Top news every weekday morning, plus a
      daily puzzle.
    </label>
  </p>
  <p class="flex flex-1 flex-row-reverse">
    <label class="flex-grow font-sans font-black" for="checkbox"
      >I would like to remain anonymous</label
    >
    <input
      class=" mr-3 h-6 w-6 rounded border border-s-4 p-1 accent-yellow hover:accent-yellow-4"
      type="checkbox"
      name="checkbox"
      required
    />
  </p>
</div>

<div
  class="
         border-b border-s-4 mt-10 space-y-4 p-4
      "
>
  <h3 class="mb-8 font-sans text-3xl italic leading-none">Select Menu</h3>

  <p class="relative mx-auto max-w-full">
    <select class="spl-select text-2xl">
      <option disabled selected>Jump to…</option>
      <option value="1">Option One</option>
      <option value="2">Second Option</option>
    </select>
    <span
      class="pointer-events-none absolute inset-y-0 right-3 z-10 inline-flex items-center justify-center leading-none text-s-6"
      aria-hidden="true"
    >
      <svg class="h-4 w-4 fill-s-5">
        <use xlink:href="#chevron-svg"></use>
      </svg>
    </span>
  </p>
</div>

<div
  class="
         border-b border-s-4 mt-10 space-y-4 p-4
      "
>
  <h3 class="mb-8 font-sans text-3xl italic leading-none">Buttons</h3>
  <p>
    <button
      type="submit"
      class="rounded bg-yellow hover:bg-blue hover:text-white h-11 px-8 py-2 font-sans text-xl font-bold text-black"
    >
      Newsletter Signup
    </button>
  </p>
  <p class="mt-2 sm:mt-0 sm:ml-1 font-raleway font-semibold leading-tight">
    <button
      class="w-full rounded border-2 border-red bg-red px-8 py-2 font-semibold uppercase tracking-widest text-white outline-none ring-red-7 focus:ring-2"
      type="submit"
    >
      Embed Newsletter
    </button>
  </p>

  <p class="py-2 font-raleway font-semibold leading-tight ">
    <button
      class="rounded bg-red px-8 py-2 font-semibold uppercase tracking-widest text-white outline-none ring-2 ring-transparent hover:bg-red-7 focus:ring-red-7 active:ring-red-5"
      type="submit"
      target="_blank"
      x-text="showSpanish ? 'Enviar mensaje': 'Send message'"
    >
      Modal Newsletter
    </button>
  </p>

  <p class=" font-sans">
    <button
      type="submit"
      class="mt-8 rounded border-2 border-red bg-red px-8 py-2 font-semibold uppercase tracking-widest text-white outline-none ring-red-7 focus:ring-2"
    >
      Inline Newsletter Form
    </button>
  </p>
  <p class="font-sans">
    <button
      type="submit"
      class="mt-8 rounded border-2 border-red bg-red px-8 py-2 font-semibold uppercase tracking-widest text-white outline-none ring-red-7 focus:ring-2"
    >
      Newsletter Full
    </button>
  </p>
  <p class="mt-4 sm:mt-0 sm:ml-1  font-raleway font-semibold leading-tight">
    <button
      class="w-full rounded border-2 border-yellow-5 bg-yellow-4 px-8 py-2 font-bold uppercase tracking-widest text-black outline-none ring-yellow-6 focus:ring-2"
      type="submit"
    >
      Inline Newsletter Box
    </button>
  </p>
  <p class="  font-sans">
    <button
      class="w-full rounded border-2 border-yellow-5 bg-yellow-4 px-8 py-2 font-bold uppercase tracking-widest text-black outline-none ring-yellow-6 focus:ring-2"
      type="submit"
    >
      Inline Newsletter White
    </button>
  </p>
  <p class="font-sans">
    <button
      class="mt-2 w-full rounded bg-orange px-8 py-2 font-semibold uppercase tracking-wider text-white hover:shadow"
      type="submit"
    >
      Rail Signup
    </button>
  </p>
  <p class="font-sans">
    <button
      type="submit"
      class="button rounded bg-yellow px-4 py-2 font-sans text-xl font-bold text-black"
    >
      Contact Form
    </button>
  </p>
  <p class="font-sans">
    <button
      type="submit"
      class="mt-8 rounded border-2 border-red bg-red px-8 py-2 font-semibold uppercase tracking-widest text-white outline-none ring-red-7 focus:ring-2"
    >
      Jobs Form
    </button>
  </p>

  <div class="mt-6 flex flex-wrap justify-start gap-2 font-sans ">
    <button
      class="mr-4 flex-[1_1_30%] sm:grow-0 outline-none min-w-[180px] inline-block rounded py-3 px-6 text-white font-sans font-black text-lg tracking-wide ring ring-transparent inline-block min-w-[260px] rounded bg-red-6 px-6 py-3 tracking-wide text-white outline-none ring ring-transparent hover:bg-red-5 focus:ring-red-7 active:ring-red-9"
    >
      Donate Prefill Lg &rarr;
    </button>
  </div>

  <div
    class="mt-12 flex bg-black bg-opacity-70 p-6 justify-center text-center leading-tight"
    data-ga-category="cta"
  >
    <a
      class="border border-white px-4 py-2 text-xl font-bold no-underline text-white duration-300 hover:border-red-7 hover:text-red-7 lg:text-2xl"
      href="#"
    >
      Text Block Action Button
    </a>
  </div>

  <div class="mt-12 flex justify-center" data-ga-category="cta">
    <a
      class="border border-black px-4 py-2 text-center no-underline text-xl font-bold leading-tight text-black duration-300 hover:border-red-7 hover:text-red-7 lg:text-2xl"
      href="#"
    >
      Partners Button
    </a>
  </div>

  <div class="mx-auto flex max-w-6xl flex-wrap justify-between py-3 px-5">
    <a
      data-ga-category="item"
      class="
            my-2 mr-5 inline-flex w-auto items-center
            rounded border border-black text-black
            px-4 py-2
            text-base leading-4 no-underline
            hover:border-red-7 hover:text-red-7
            lg:my-0
          "
      href="#"
      ><span> TND Sticky Nav </span></a
    >
  </div>
</div>
