<div
  data-ga-category="cta"
  x-data="{
    params: new URLSearchParams(window.location.search),
    get url() {
      return this.params.get('url') || 'https://www.spotlightpa.org/';
    },
    _(name, fallback) {
      return this.params.get(name) || fallback;
    }
  }"
  x-cloak
>
  <div
    class="rounded-lg border border-g-5 bg-g-2 p-7 shadow md:p-10 xl:px-12 xl:py-7"
  >
    <h2
      class="border-b border-black pb-1 font-serif text-2xl italic leading-tight"
    >
      <a
        :href="url"
        data-ga-category="eyebrow"
        target="_blank"
        x-rich-text="_('eyebrow', 'Eyebrow')"
      ></a>
    </h2>
    <h2 class="font-sans text-lg">
      <a
        :href="url"
        class="embed-prose-highlight text-lg leading-snug"
        data-ga-category="body"
        target="_blank"
        x-rich-text="_('body', 'Body')"
      ></a>
    </h2>
    <div class="mt-8 sm:ml-1 sm:mt-4">
      <a
        :href="url"
        class="btn-donate"
        data-ga-category="button"
        target="_blank"
        x-rich-text="_('cta', 'Just Do It!')"
      ></a>
    </div>
    <div class="mt-10 text-right text-g-9 md:mt-4">
      <a href="/" target="_blank">
        <svg
          class="inline-block h-8 w-48 fill-current"
          aria-label="Spotlight PA logo"
        >
          {{ partial "helper/svg.html" "banner" }}
        </svg>
      </a>
    </div>
  </div>
</div>
