<div
  data-ga-category="cta"
  x-data="{
    params: new URLSearchParams(window.location.search),
    get url() {
      return this.params.get('url') || 'https://www.spotlightpa.org/';
    },
    _(name, fallback) {
      return this.params.get(name) || fallback;
    }
  }"
  x-cloak
>
  <div class="rounded border border-red font-raleway leading-tight shadow">
    <h2>
      <a
        :href="url"
        class="inline-block rounded-br bg-red px-4 py-3 font-semibold uppercase tracking-wider text-white sm:text-lg"
        data-ga-category="eyebrow"
        target="_blank"
        x-rich-text="_('eyebrow', 'Eyebrow')"
      ></a>
    </h2>
    <h2 class="mt-8 px-2 text-center font-semibold sm:mt-12 sm:text-xl">
      <a
        :href="url"
        class="embed-prose leading-snug"
        data-ga-category="body"
        target="_blank"
        x-rich-text="_('body', 'Body')"
      ></a>
    </h2>
    <div
      class="mt-8 px-2 text-center font-semibold uppercase tracking-wider sm:mt-12 sm:text-xl"
    >
      <a
        :href="url"
        class="inline-block rounded bg-red-6 py-3 px-4 text-white hover:bg-red-5"
        data-ga-category="button"
        target="_blank"
        x-rich-text="_('cta', 'Just Do It!')"
      ></a>
    </div>
    <div class="mt-10 mb-4 mr-3 text-right text-s-9 md:mt-4">
      <svg class="inline-block h-8 w-48 fill-current">
        <use href="#banner-svg" aria-label="Spotlight PA logo"></use>
      </svg>
    </div>
  </div>
</div>
