<div
  data-ga-category="donate"
  x-data="{
    params: new URLSearchParams(window.location.search),
    _(name, fallback) {
      return this.params.get(name) || fallback;
    }
  }"
  x-cloak
>
  <div class="border-g-5 bg-g-2 rounded-lg border p-7 md:p-10 xl:px-12 xl:py-7">
    <h2
      class="mb-3 border-b border-black font-serif text-2xl leading-tight italic"
    >
      <a
        href="/donate/"
        data-ga-category="eyebrow"
        x-text="_('eyebrow_text', 'While You’re Here')"
      ></a>
    </h2>
    <h2 class="font-sans text-lg leading-tight">
      <a
        href="/donate/"
        data-ga-category="body"
        target="_blank"
        x-rich-text="_('teaser_text', 'Spotlight PA’s nonprofit reporting is a free public service, but it depends on your support. Give now to ensure it can continue.')"
      ></a>
    </h2>
    <div class="mt-6">
      <a
        href="/donate/"
        class="btn-donate"
        data-ga-category="button"
        target="_blank"
        x-rich-text="_('cta_text', 'Contribute →')"
      ></a>
    </div>
    <div class="text-g-9 mt-10 text-right md:mt-4">
      <a href="/" target="_blank">
        <svg
          class="inline-block h-8 w-48 fill-current"
          aria-label="Spotlight PA logo"
        >
          {{ partial "helper/svg.html" "banner" }}
        </svg>
      </a>
    </div>
  </div>
</div>
