<div
  data-ga-form='newsletters:investigator'
  data-ga-category="newsletter"
>
  <form
    class="has-text-centered box"
    action='{{ .Param "investigator-action" }}'
    method="post"
    target="_blank"
  >
    {{ partial "newsletter/investigator-hidden.html" . }}
    <h2 class="title is-6 has-text-danger has-text-left is-uppercase">Newsletter</h2>
    <h2 class="subtitle is-5 has-text-black">
      Get every Spotlight PA story and the best
      <span class="is-hidden-mobile"><br /></span>
      investigative journalism from across Pa.
    </h2>
    <div class="field has-addons">
      <p class="control has-icons-left has-icons-right is-expanded">
        <label class="is-sr-only" for='{{ partial "helper/inc-id" . }}'>Email</label>
        <input
          id='{{ partial "helper/get-id" . }}'
          class="input is-small"
          type="email"
          name="EMAIL"
          placeholder="Enter your email address"
          required
        >
        <span class="icon is-left">
          <svg>
            <use xlink:href="#email-svg"></use>
          </svg>
        </span>
        <span class="icon is-right validator-icon">
          <svg>
            <use xlink:href="#check-svg"></use>
          </svg>
        </span>
      </p>
      <p class="control">
        <button
          type="submit"
          class="button is-small is-danger has-text-weight-semibold"
        >
          Sign Up
        </button>
      </p>
    </div>
  </form>
</div>
