{{ $idEmail := partial "helper/new-id" . }}
<form
  class="spl-newsletter rounded-lg border border-g-5 bg-g-2 p-7 shadow md:p-10 xl:px-12 xl:py-7"
  action="{{ site.Param `newsletters-action` }}"
  method="post"
  target="_blank"
  x-form="newsletters:multi"
  data-base-url="{{ page.Param `newsletters-base-url` }}"
  data-ga-category="newsletter"
  x-data="newsletter($el.dataset.baseUrl)"
  @submit.prevent="submit"
  @focusin="hasFocused = true"
>
  {{ partial "newsletter/basic-hidden.html" . }}
  <p class="hidden" hidden>
    <template x-if="!! preselected">
      <input type="hidden" :name="preselected" value="1" />
    </template>
  </p>
  <h2
    class="border-b border-black pb-1 font-serif text-2xl italic leading-tight"
  >
    Free Newsletter
  </h2>
  <h2 class="mt-2 font-sans text-lg">
    Sign up for a free roundup of the top news from across Pennsylvania, all in
    one daily or weekly email from Spotlight PA.
  </h2>
  <div class="mx-auto mt-2">
    <p class="relative w-full">
      <label class="sr-only" for="{{ $idEmail }}">Email address</label>
      <input
        id="{{ $idEmail }}"
        class="spl-input w-full"
        type="email"
        name="EMAIL"
        placeholder="Email address"
        required
      />
      <span
        class="pointer-events-none absolute inset-y-0 right-3 inline-flex items-center text-g-4"
        aria-hidden="true"
      >
        <svg class="h-4 w-4 fill-current">
          {{ partial "helper/svg.html" "email" }}
        </svg>
      </span>
    </p>
    <p class="mt-2 w-full">
      <button class="btn-signup" type="submit">
        Sign Up
        <svg
          x-cloak
          x-transition
          aria-label="Submitting"
          x-show="isLoading"
          class="-mt-1 inline-block h-4 w-4 animate-spin fill-current"
        >
          {{ partial "helper/svg.html" "spinner" }}
        </svg>
      </button>
    </p>
  </div>

  {{ $checkClass := `mr-3 h-4 w-4 rounded border border-black p-1 accent-black hover:accent-yellow-4` }}
  <div
    class="mt-4 flex flex-col gap-2 text-left"
    x-show="hasFocused && ! preselected"
    x-transition
    x-cloak
  >
    <p>
      <label class="flex items-baseline gap-2">
        <input
          type="checkbox"
          name="papost"
          class="{{ $checkClass }}"
          value="1"
          :checked="! preselected"
          x-report-click
          data-ga-category="toggle-newsletter:papost"
        />
        <span>
          <strong class="font-extrabold">PA Post (Daily)</strong>: Top news
          every weekday morning, plus a daily puzzle.
        </span>
      </label>
    </p>
    <p>
      <label class="flex items-baseline gap-2">
        <input
          type="checkbox"
          name="investigator"
          class="{{ $checkClass }}"
          value="1"
          :checked="! preselected"
          x-report-click
          data-ga-category="toggle-newsletter:investigator"
        />
        <span>
          <strong class="font-extrabold">The Investigator (Weekly)</strong>:
          Best accountability journalism every Thursday, plus a weekly riddle.
        </span>
      </label>
    </p>
    <p>
      <label class="flex items-baseline gap-2">
        <input
          type="checkbox"
          name="palocal"
          class="{{ $checkClass }}"
          value="1"
          :checked="! preselected"
          x-report-click
          data-ga-category="toggle-newsletter:palocal"
        />
        <span>
          <strong class="font-extrabold">PA Local (Weekly)</strong>: A fresh
          look at the incredible people, places, and food of Pa. every Friday,
          plus events, guides, best-of, and more.
        </span>
      </label>
    </p>
  </div>
  <div class="mb-4 mr-3 mt-10 text-right text-g-9">
    <a href="/" target="_blank">
      <svg
        class="inline-block h-8 w-48 fill-current"
        aria-label="Spotlight PA logo"
      >
        {{ partial "helper/svg.html" "banner" }}
      </svg>
    </a>
  </div>
</form>
