{{ $idName := partial "helper/new-id" . }}
{{ $idEmail := partial "helper/new-id" . }}
{{ $idTip := partial "helper/new-id" . }}
<div
  class="box"
  data-ga-category="contact"
  x-data="{
    showSpanish: false,
    params: new URLSearchParams(window.location.search),
    _(name, fallback) {
      return this.params.get(name) || fallback;
    },
    get hostPage(){
      let h = window.location.hash.replace(/^#/, '');
      return new URLSearchParams(h).get('host_page')
    },
  }"
  x-cloak
>
  <a
    x-show="!showSpanish"
    class="title is-7 has-text-danger is-pulled-right is-uppercase"
    type="button"
    data-ga-action="toggle-language:spanish"
    @click="showSpanish = true"
  >En Español</a>
  <a
    x-cloak
    x-show="showSpanish"
    class="title is-7 has-text-danger is-pulled-right is-uppercase"
    data-ga-action="toggle-language:english"
    @click="showSpanish = false"
  >In English</a>
  <h2
    class="title is-6 has-text-danger has-text-left is-uppercase"
    x-show="!showSpanish"
    x-text="_('flag_text', $el.innerText)"
  >Tips</h2>
  <h2
    x-cloak
    x-show="showSpanish"
    class="title is-6 has-text-danger has-text-left is-uppercase"
  >Escríbenos</h2>
  <div
    class="block"
    x-show="!showSpanish"
    x-rich-text="_('tip_text', '')"
  ></div>
  <div
    x-cloak
    class="block"
    x-show="showSpanish"
  >
    ¿Tienes información que debemos saber? <strong>Escríbenos.</strong>
  </div>
  <form
    name="contact-page"
    class="control"
    action="/contact/thanks/"
    method="post"
    netlify
    netlify-honeypot="bot-field"
    data-ga-form="contact"
    target="_parent"
  >
    <p class="is-hidden">
      <label>
        Don’t fill this out if you're human:
        <input name="bot-field">
      </label>
    </p>
    <input
      name="host_page"
      type="hidden"
      :value="hostPage"
    >
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label
            class="label is-sr-only"
            for='{{ $idName }}'
          >Name</label>
          <p class="control is-expanded">
            <input
              id='{{ $idName }}'
              class="input is-small"
              type="text"
              :placeholder="showSpanish? 'Nombre': 'Name'"
              name="name"
              required
            >
          </p>
        </div>
        <div class="field">
          <label
            class="label is-sr-only"
            for='{{ $idEmail }}'
          >Email or phone number</label>
          <p class="control">
            <input
              id='{{ $idEmail }}'
              class="input is-small"
              type="text"
              :placeholder="showSpanish? 'Correo o número de teléfono': 'Email or phone number'"
              name="email"
              required
            >
          </p>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label
          class="label is-sr-only"
          for='{{ $idTip }}'
        >Your tip or comment</label>
        <textarea
          id='{{ $idTip }}'
          class="textarea is-small"
          :placeholder="showSpanish? '¿Qué debemos saber?': 'What should we know?'"
          name="comment"
          rows="2"
        ></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button
          class="button is-small is-danger has-text-weight-semibold"
          type="submit"
          target="_blank"
          x-text="showSpanish ? 'Enviar mensaje': 'Send message'"
        >
          Send message
        </button>
        <a
          x-show="!showSpanish"
          href="/tips/"
          class="is-hidden-touch button is-light"
          target="_blank"
        >
          Or see more secure ways to contact us
        </a>
        <a
          x-cloak
          x-show="showSpanish"
          href="/tips/"
          class="is-hidden-touch button is-light"
          target="_blank"
        >
          Ver otras maneras más privadas de contactarnos
        </a>
      </div>
    </div>
    <div class="field is-hidden-desktop">
      <div class="control">
        <a
          x-show="!showSpanish"
          href="/tips/"
          class="is-size-6 has-text-weight-semibold has-text-grey"
          target="_blank"
        >
          Or see more secure ways to contact us
        </a>
        <a
          x-cloak
          x-show="showSpanish"
          href="/tips/"
          class="is-size-6 has-text-weight-semibold has-text-grey"
          target="_blank"
        >
          Ver otras maneras más privadas de contactarnos
        </a>
      </div>
    </div>
  </form>
</div>
