{{ $idName := partial "helper/new-id" . }}
{{ $idEmail := partial "helper/new-id" . }}
{{ $idTip := partial "helper/new-id" . }}
<div
  class="rounded-lg border border-g-5 bg-g-2 p-7 md:p-10 xl:px-12 xl:py-7"
  data-ga-category="contact"
  x-data="{
    showSpanish: false,
    params: new URLSearchParams(window.location.search),
    _(name, fallback) {
      return this.params.get(name) || fallback;
    },
    get hostPage(){
      let h = window.location.hash.replace(/^#/, '');
      return new URLSearchParams(h).get('host_page')
    },
    setFormName() {
      this.$refs.formName.value = this._('form_name', 'contact-page');
    }
  }"
  x-cloak
>
  <h2
    x-show="!showSpanish"
    class="flex items-baseline justify-between border-b border-black pb-1 font-serif text-2xl italic leading-tight"
  >
    <span x-show="!showSpanish" x-text="_('flag_text', $el.innerText)"
      >Tips</span
    >
    <button
      class="float-right inline-block pl-3 font-sans text-sm font-semibold uppercase text-g-9"
      type="button"
      data-ga-category="toggle-language:spanish"
      @click="showSpanish = true"
    >
      En Español
    </button>
  </h2>
  <h2
    x-cloak
    x-show="showSpanish"
    class="border-b border-black pb-1 font-serif text-2xl italic leading-tight"
  >
    <span x-show="showSpanish" x-text="_('flag_text', $el.innerText)"
      >Escríbenos</span
    >
    <button
      x-cloak
      type="button"
      class="float-right inline-block pl-3 font-sans text-sm font-semibold uppercase text-g-9"
      data-ga-category="toggle-language:english"
      @click="showSpanish = false"
    >
      In English
    </button>
  </h2>
  <div
    class="embed-prose pb-4 pt-6 text-lg leading-snug"
    x-show="!showSpanish"
    x-rich-text="_('tip_text', '')"
  ></div>
  <div x-cloak class="pb-4 pt-6 text-lg leading-snug" x-show="showSpanish">
    ¿Tienes información que debemos saber? <strong>Escríbenos.</strong>
  </div>
  <form
    class="flex flex-col gap-2 py-4"
    action="/contact/thanks/"
    method="post"
    netlify
    netlify-honeypot="bot-field"
    x-form="contact"
    target="_parent"
    @submit="setFormName"
  >
    <input
      type="hidden"
      name="form-name"
      value="contact-page"
      x-ref="formName"
    />
    <p class="hidden">
      <label>
        Don’t fill this out if you're human:
        <input name="bot-field" />
      </label>
    </p>
    <input name="host_page" type="hidden" :value="hostPage" />
    <div>
      <label class="sr-only" for="{{ $idName }}">Name</label>
      <p class="relative">
        <input
          id="{{ $idName }}"
          class="spl-input"
          type="text"
          :placeholder="showSpanish? 'Nombre': 'Name'"
          name="name"
          required
        />
        <span
          class="pointer-events-none absolute inset-y-0 right-3 inline-flex items-center text-g-4"
          aria-hidden="true"
        >
          <svg class="h-4 w-4 fill-current">
            {{ partial "helper/svg.html" "user" }}
          </svg>
        </span>
      </p>
    </div>
    <div>
      <label class="sr-only" for="{{ $idEmail }}">Email or phone number</label>
      <p class="relative">
        <input
          id="{{ $idEmail }}"
          class="spl-input"
          type="text"
          :placeholder="showSpanish? 'Correo o número de teléfono': 'Email or phone number'"
          name="email"
          required
        />
        <span
          class="pointer-events-none absolute inset-y-0 right-3 inline-flex items-center text-g-4"
          aria-hidden="true"
        >
          <svg class="h-4 w-4 fill-current">
            {{ partial "helper/svg.html" "email" }}
          </svg>
        </span>
      </p>
    </div>
    <div>
      <label class="sr-only" for="{{ $idTip }}">Your tip or comment</label>
      <textarea
        id="{{ $idTip }}"
        class="w-full rounded border border-g-4 p-4 text-g-8 placeholder-g-5 placeholder-opacity-100 outline-none ring-2 ring-transparent focus:ring-red-7"
        :placeholder="showSpanish? '¿Qué debemos saber?': 'What should we know?'"
        name="comment"
        rows="3"
      ></textarea>
    </div>
    <div class="py-2">
      <button
        class="btn-signup"
        type="submit"
        target="_blank"
        x-text="showSpanish ? 'Enviar mensaje': 'Send message'"
      >
        Send message
      </button>
    </div>
    <div>
      <a
        x-show="!showSpanish"
        href="/tips/"
        class="font-semibold text-g-7"
        target="_blank"
      >
        Or see more secure ways to contact us
      </a>
      <a
        x-cloak
        x-show="showSpanish"
        href="/tips/"
        class="font-semibold text-g-7"
        target="_blank"
      >
        Ver otras maneras más privadas de contactarnos
      </a>
    </div>
  </form>
  <div class="mt-10 text-right text-g-9 md:mt-4">
    <a href="/" target="_blank">
      <svg
        class="inline-block h-8 w-48 fill-current"
        aria-label="Spotlight PA logo"
      >
        {{ partial "helper/svg.html" "banner" }}
      </svg>
    </a>
  </div>
</div>