{{ define "body-class" }}
  bg-beige font-raleway leading-normal text-[16px]
{{ end }}

{{ define "static-head" }}
  {{ partial "header/css-tw-rale.html" . }}
  {{ partialCached "header/noscript.html" . }}


  <link
    rel="modulepreload"
    href="{{ partialCached `helper/get-enhancements` . }}"
  />

  {{ partial "header/favicons.html" . }}
  {{ partial "header/feeds.html" . }}
{{ end }}

{{ define "header" }}
  <!-- noop -->
{{ end }}

{{ define "main" }}
  <div
    class="text-lg"
    data-sf-campaign="701Dn000000Ygq2IAC"
    data-sf-theme="statecollege"
    data-ga-category="statecollege"
  >
    {{ partial "tw/main-state-college.html" . }}
  </div>
{{ end }}

{{ define "before-footer" }}
  <!-- noop -->
{{ end }}

{{ define "footer" }}
  <div
    id="footer"
    data-sf-campaign="701Dn000000Ygq2IAC"
    data-sf-theme="statecollege"
    data-ga-category="statecollege"
  >
    {{ partial "tw/footer.html" . }}
  </div>
{{ end }}

{{ define "modal" }}
  <!-- noop -->
{{ end }}

{{ define "search-modal" }}
  {{ partial "tw/modal-search.html" . }}
{{ end }}
