<!DOCTYPE html>
<html lang="{{ .Param `language-code` | default site.LanguageCode }}">
  <head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{- with .Param "title-tag" -}}
      <title>{{ . }}</title>
    {{- else -}}
      <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    {{- end -}}

    {{ partial "header/meta.html" . }}
    {{ partial "header/google-analytics-meta.html" . }}
    {{ partialCached "header/css-tw-merri.html" . }}
    {{ partialCached "header/noscript.html" . }}
    {{ partialCached "header/script.html" . }}
    {{ partialCached "header/favicons.html" . }}
    {{ partialCached "header/feeds.html" . }}
  </head>
  {{ $pageCat := printf "%s:%s" (.Section | default .Type) .Kind }}
  {{ if eq .Kind "home" }}{{ $pageCat = "home " }}{{ end }}
  <body
    data-ga-label="{{ $pageCat }}"
    class="base-16 bg-beige font-serif leading-normal"
  >
    {{ block "header" . }}
      <header data-ga-category="header">
        {{ block "nav" . }}
          {{ partialCached "tw/nav.html" . }}
        {{ end }}
        {{ block "banner" . }}
          {{ if .Param "banner-active" }}
            {{ partialCached "tw/banner.html" . }}
          {{ end }}
        {{ end }}
        {{ block "topper" . }}
          {{ if .Param "topper-active" }}
            {{ partialCached "tw/topper.html" . }}
          {{ end }}
        {{ end }}
        {{ block "promo" . }}
          {{ partialCached "tw/promo-header.html" . }}
        {{ end }}
      </header>
    {{ end }}


    <main data-ga-category="main">
      {{ partial "tw/main.html" . }}
    </main>

    <footer
      id="footer"
      data-ga-category="footer"
      data-sf-campaign="701f4000000TVuIAAW"
    >
      {{ partial "tw/footer.html" . }}
    </footer>
    {{ partialCached "tw/modal-sticky.html" . }}
    {{ partialCached "tw/modal-search.html" . }}
    {{ partialCached "tw/modal-newsletter.html" . }}
    {{ partialCached "tw/svgs.html" . }}
    {{ partial "header/ld-json.html" . }}
  </body>
</html>
