<!DOCTYPE html>
<html lang="en-US" data-built-at='{{ now.Format "3:04pm MST, Mon. Jan 02, 2006" }}'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{ $scssOptions := dict "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/bulma") }}
  {{ $styles := resources.Get "css/main.scss" | toCSS $scssOptions | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

  {{ $js := resources.Get "js/main.js" | minify }}
  <script>{{ $js.Content|safeJS }}</script>

  <!-- Metadata -->
  {{ if not .Site.IsServer }}
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  <meta name="description" content="{{ .Description }}">

  {{ if .Param "no-index" }}
    <meta name="robots" content="noindex">
  {{ else }}
    <meta name="robots" content="index,follow">
    <link href="{{ .Permalink }}" rel="canonical">
  {{ end }}

  {{ $icon := resources.Get (.Param "favicon") }}
  {{ range $size := slice "32x32" "192x192" "720x720" "920x920" }}
    {{ $iconShrunk := $icon.Fit $size | fingerprint }}
    <link rel="shortcut icon" href="{{ $iconShrunk.RelPermalink }}" sizes="{{ $size }}">
    <link rel="apple-touch-icon" href="{{ $iconShrunk.RelPermalink }}" sizes="{{ $size }}">
  {{ end }}

  {{ range slice "regular" "500" "900" }}
    <link rel="preload" as="font" href="/css/fonts/raleway-v13/raleway-v13-latin-ext_latin-{{ . }}.woff2" crossorigin>
  {{ end }}
  {{ block "extra-head" . }}{{ end }}
</head>
<body>
  {{ block "nav" . }}{{ partial "nav.html" . }}{{ end }}
  <main>
    {{ block "main" . }}
      {{ partial "main.html" . }}
    {{ end }}
    {{ block "extra-main" . }}{{ end }}
  </main>
  <footer>
    {{ block "signup" . }}{{ partial "signup.html" . }}{{ end }}
    {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
  </footer>
</body>
</html>
