<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {{- with .Param "title-tag" -}}
      {{- . -}}
    {{- else -}}
      {{ .Title }} &middot; {{ .Site.Title }}
    {{- end -}}
  </title>

  {{ $ga := .Param "GoogleAnalytics" | default .Site.GoogleAnalytics }}
  {{ partialCached "header-static.html" . $ga }}

  <!-- Metadata -->
  {{ partial "meta.html" . }}

  {{ range .AlternativeOutputFormats }}
    <link
      rel="{{ .Rel }}"
      type="{{ .MediaType.Type }}"
      href="{{ .Permalink | safeURL }}"
      title="{{ $.Title }}"
    />
  {{ end }}
  {{ block "extra-head" . }}{{ end }}
</head>
<body
  data-built-at='{{ now.Format "3:04pm MST, Mon. Jan 02, 2006" }}'
  {{with .Param "modal-exclude" }}data-modal-exclude="1"{{end}}
>
  {{ block "svg-resources" . }}{{ partialCached "svg-resources.html" . }}{{ end }}
  {{ block "nav" . }}{{ partial "nav.html" . }}{{ end }}
  {{ if .Param "banner-active" }}
    {{ partial "banner.html" . }}
  {{ end }}
  <main data-ga-action="Main section">
    {{ block "before-main" . }}{{ end }}
    {{ block "main" . }}
      {{ .Render "main" }}
    {{ end }}
    {{ block "extra-main" . }}{{ end }}
  </main>
  <footer data-ga-action="Page footer">
    {{ block "promo" . }}{{ end }}
    {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
    {{ block "extra-footer" . }}{{ end }}
  </footer>
  {{ block "modal" . }}
    {{ partial "modal-newsletter.html" . }}
  {{ end }}
  {{ partial "ld-json.html" . }}
</body>
</html>
