{{ define "html-class" -}}
  scroll-smooth
{{- end }}

{{ define "body-class" -}}
  font-sans
{{- end }}

{{ define "main" }}
  <section class="bg-white font-sans">
    {{ range .Params.blocks }}
      <div
        data-ga-category="blocks"
        class="w-full"
        {{ with .id }}id="{{ . }}"{{ end }}
      >
        {{ partial "blocks/block" (dict
          "Page" $
          "block" .
          )
        }}
      </div>
    {{ end }}
  </section>
{{ end }}

{{ define "before-footer" }}
  {{ with .Page.RenderString (.Param "donate") }}
    <div class="bg-white font-sans">
      {{ . }}
    </div>
  {{ else }}
    {{ partialCached "tw/promo-footer.html" (dict
      "wrapperClass" "bg-white pt-2 pb-14 hidden")
    }}
  {{ end }}
{{ end }}
