{{ define "extra-head" }}
  <script src='{{ partial "helper/get-src" "donate.js" }}' defer></script>
{{ end }}

{{ define "main" }}
<section class="section">
  <article class="columns is-centered is-multiline">
    <div class="column is-three-fifths">
      <noscript>
        <div class="content">
          <a href="https://connect.clickandpledge.com/w/Form/b6d994c9-df30-444f-8a6f-6cd832c84a86">Please click here to donate</a>.
        </div>
      </noscript>
      <donation-form>
        <div class="svg-container is-size-1 has-text-centered">
          <svg
            class="loading-spinner"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <desc>Loading indicator</desc>
            <path
              fill="currentColor"
              d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"
            ></path>
          </svg>
        </div>
        <div class="content">
          If the donation form does not load,
          <a href="https://connect.clickandpledge.com/w/Form/b6d994c9-df30-444f-8a6f-6cd832c84a86">please click here</a>.
        </div>
      </donation-form>
    </div>
  </article>
</section>
{{ end }}
