{{ define "body-class" }}
  text-[16px] bg-white font-serif leading-normal text-g-9
{{ end }}

{{ define "main" }}
  {{ $title := .Title }}
  {{ $calloutTitle :=  index .Page.Params "callout-title" }}
  {{ $blurb := .Page.Params.description }}
  {{ $p := partial "helper/paginator" . }}
  {{ $pages := $p.Pages }}
  {{ $upcomingEvents := where $pages `Params.event-date` "gt" now }}
  {{ $upcomingEvents = sort $upcomingEvents `Params.event-date` "desc" }}


  <section
    class=" mx-4
    mb-5 flex max-w-screen-xl flex-wrap gap-6 space-y-6 bg-white sm:gap-x-10 
    md:items-start md:justify-between lg:flex-row lg:gap-x-16 xl:mx-auto 
      "
  >
    <header
      class="flex w-full items-baseline justify-between border-b border-black"
    >
      <h2
        class="flex-auto font-sans text-2xl font-extrabold capitalize leading-tight tracking-wide md:text-3xl"
      >
        {{ with $calloutTitle }}
          {{ . }}
        {{ else }}
          {{ $title }}
        {{ end }}
      </h2>
      {{ partial "tw/breadcrumbs.html" . }}

    </header>

    {{ with $blurb }}
      <div
        class="mt-7 flex flex-auto self-stretch sm:max-w-[300px] md:space-y-12"
      >
        <div class="article-content rounded bg-black p-6 font-sans text-white">
          <h2 class="text-2xl font-extrabold">
            About our {{ $title }} coverage
          </h2>
          <div class=" text-xl leading-relaxed">
            {{ . }}
          </div>
        </div>
      </div>
    {{ end }}
    {{ partial "tw/content-well.html" . }}

    {{ if $upcomingEvents }}
      {{ $event := index (last 1  $upcomingEvents) 0 }}
      {{ $date := $event.Param "event-date" }}
      {{ $items := where $upcomingEvents `Params.event-date` "eq" $date }}
      <div
        class="max-w-full sm:flex-1 md:w-7/12 md:flex-auto lg:w-7/12 xl:w-8/12"
        data-ga-category="story-1"
      >
        {{ template "upcoming-event" $items }}
      </div>
    {{ end }}
  </section>
{{ end }}

{{ define "upcoming-event" }}
  <section class="px-6 py-8" id="upcoming" data-ga-category="upcoming">
    <div class="mx-auto max-w-screen-lg">
      {{ $feat := index . 0 }}
      {{ $params := partialCached "helper/page-params" $feat $feat.RelPermalink }}
      {{ $subitems := slice }}
      {{ range after 1 . }}
        {{ $params := partialCached "helper/page-params" . .RelPermalink }}
        {{ $subitems = $subitems | append (dict
          "link" $params.link
          "title" .Title
          )
        }}
      {{ end }}
      {{ $imgOpts := dict
        "filename" $params.image
        "credit" (index $params "image-credit")
        "description" (index $params "image-description")
        "link" $params.link
        "widthRatio" 5
        "heightRatio" 3
        "widths" (slice 128 256 384 512 1280)
        "figClass" "mt-1"
        "sizeHint" "(min-width: 850px) 328px, 90vw"
        "gravity" (index $params "image-gravity")
      }}
      {{ $eyebrow := $params.published }}
      {{ $rubricLink := $params.link }}
      {{ $thumbClass := $params.thumbClass }}
      {{ partial "tw/thumb-item.html" (dict
        "wrapperClass" "flex flex-wrap gap-x-9"
        "thumbClass" "w-full lg:max-w-md xl:max-w-lg"
        "hedSize" `text-xl md:text-xl lg:text-2xl font-semibold`
        "dekSize" "sm:text-base sm:leading-relaxed md:text-lg lg:text-xl"
        "imgOpts" $imgOpts
        "rubricLink" $rubricLink
        "eyebrow" $eyebrow
        "link" $params.link
        "hed" $feat.LinkTitle
        "byline" $params.byline
        "showDate" false
        "showByline" $params.showByline
        "dek" $params.blurb
        )
      }}
    </div>
  </section>
{{ end }}

{{ define "extra-main" }}
  {{ $p := partial "helper/paginator" . }}
  {{ $pages := $p.Pages }}


  <section class="bg-white px-4 pb-12 pt-6 font-serif">
    <div class="mx-auto mb-8 mt-4 w-full max-w-screen-lg">
      {{ partial "tw/social-buttons.html" . }}
    </div>
    {{ partial "tw/list-3-col-story.html" (dict
      "pages" $pages
      "wrapperClass" "mb-16 mx-auto max-w-screen-lg"
      "eyebrow" "eventDate"
      )
    }}
    <div class="mx-auto max-w-screen-lg">
      {{ partial "tw/paginator-level.html" .Paginator }}
    </div>
  </section>
{{ end }}
