{{ define "promo" }}
  <!-- noop -->
{{ end }}

{{ define "topper" }}
  <!-- noop -->
{{ end }}

{{ define "main" }}
  {{ $subtitle := .Param "subhed" | default .Description }}

  {{ $p := partial "helper/paginator" . }}
  {{ $pages := $p.Pages }}
  {{ $upcomingEvents := where $pages `Params.event-date` "gt" now }}
  {{ $upcomingEvents = sort $upcomingEvents `Params.event-date` "desc" }}
  {{ $titleClass := cond (gt (countwords .Title) 2) "is-size-1" "is-size-0" }}
  {{ $subheadClass := cond (gt (countwords $subtitle) 15) "is-size-4" "is-size-3" }}
  <section class="section" data-ga-category="list:events">
    <header>
      <h1
        class="mt-0 mb-4 title has-text-centered {{ $titleClass }} is-size-2-touch"
      >
        {{ .Title }}
      </h1>
      {{ if $subtitle }}
        <h2
          class="subtitle has-text-centered {{ $subheadClass }} is-size-4-touch mb-6"
        >
          {{ $subtitle }}
        </h2>
      {{ end }}

      {{ partial "component/hero-image-block.html" . }}
    </header>
    {{ with .Content }}
      <div class="content mb-6">
        {{ . }}
      </div>
    {{ end }}

    {{ if $upcomingEvents }}
      {{ $event := index (last 1  $upcomingEvents) 0 }}
      {{ $date := $event.Param "event-date" }}
      {{ $items := where $upcomingEvents `Params.event-date` "eq" $date }}
      <div class="section plain-notification" data-ga-category="upcoming">
        <div class="container-hp">
          <div class="tile is-vertical">
            {{ template "upcoming-event" $items }}
          </div>
        </div>
      </div>
    {{ end }}


    <nav class="tile is-vertical" data-ga-category="river">
      <div class="tile is-wrapped">
        {{ range $page := $pages }}
          {{ template "event" $page }}
        {{ end }}
      </div>
    </nav>

    <div>
      {{ partial "component/paginator-level.html" $p }}
    </div>
  </section>
{{ end }}

{{ define "upcoming-event" }}
  {{ $page := index . 0 }}
  {{ $params := partialCached "helper/page-params" $page.Page $page.RelPermalink }}


  <div class="py-0 tile is-parent">
    <div class="tile is-child">
      <div class="mb-2">
        <span class="tags has-addons">
          <span
            class="tag is-square is-black is-uppercase has-text-weight-semibold"
          >
            {{ $params.kicker }}
          </span>
          <span
            class="tag is-square is-outline is-uppercase has-text-weight-semibold"
            >{{ $params.eventDate }}</span
          >
        </span>
      </div>
    </div>
  </div>

  {{ $heroName := $page.Page.Param "image" }}
  {{ $heroCredit := $page.Page.Param "image-credit" }}
  {{ $heroDescription := $page.Page.Param "image-description" }}
  {{ $imgOpts := dict
    "filename" $heroName
    "credit" $heroCredit
    "description" $heroDescription
    "eager" true
    "link" $page.RelPermalink
    "widthRatio" 16
    "heightRatio" 9
    "gravity" ($page.Page.Param "image-gravity")
    "sizeHint" "40vw"
  }}
  <div class="tile">
    <div class="pt-0 tile is-parent is-6 is-top-tablet">
      <article class="tile is-child">
        {{ partial "component/image-block.html" $imgOpts }}
      </article>
    </div>
    <div class="pt-0 tile is-parent is-bottom-tablet">
      <article class="tile is-child">
        <h1 class="my-0 title is-size-3-touch">
          <a
            href="{{ $page.RelPermalink }}"
            class="has-text-black hover-underline"
            data-ga-category="hed"
          >
            {{ $page.LinkTitle }}
          </a>
        </h1>
        {{ if $params.blurb }}
          <h2 class="mt-2 mb-0 subtitle is-5 is-size-4-widescreen">
            {{ $params.blurb }}
          </h2>
        {{ end }}
        {{ if gt (len .) 1 }}
          <ul class="mt-2 is-size-5 related">
            {{ range after 1 . }}
              <li>
                <a
                  href="{{ .RelPermalink }}"
                  class="has-text-black hover-underline"
                  data-ga-category="subfeature"
                >
                  {{ .LinkTitle }}
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
        <h3
          class="mt-2 subtitle is-6 is-size-5-mobile is-size-5-widescreen has-text-weight-normal"
        >
          <a
            href="{{ $page.RelPermalink }}"
            class="has-text-grey hover-underline"
            data-ga-category="date"
            >{{ $params.eventDate }}
          </a>
        </h3>
      </article>
    </div>
  </div>
{{ end }}

{{ define "event" }}
  <div class="tile is-parent is-4">
    <div class="tile is-child">
      {{ $page := .Page }}
      {{ $params := partialCached "helper/page-params" $page $page.RelPermalink }}


      <article>
        {{ if $params.eventDate }}
          <h3
            class="tag is-square is-black is-uppercase has-text-weight-semibold mb-2"
          >
            <time datetime="{{ $params.eventDateISO }}">
              {{ $params.eventDate }}
            </time>
          </h3>
        {{ else }}
          <h3
            class="tag is-square is-black is-uppercase has-text-weight-semibold mb-2"
          >
            Events
          </h3>
        {{ end }}

        {{ $name := $page.Param "image" }}
        {{ $credit := $page.Param "image-credit" }}
        {{ $description := $page.Param "image-description" }}
        {{ $imgOpts := dict
          "filename" $name
          "credit" $credit
          "description" $description
          "link" $params.link
          "widthRatio" 16
          "heightRatio" 9
          "sizeHint" "25vw"
          "gravity" ($page.Param "image-gravity")
        }}
        {{ partial "component/image-block.html" $imgOpts }}


        <h2 class="mt-2 mb-0 subtitle is-5 is-size-4-widescreen">
          <a
            class="has-text-grey-dark hover-underline"
            href="{{ $params.link }}"
            data-ga-category="hed"
          >
            {{ $page.LinkTitle }}
          </a>
        </h2>
        {{ if $params.blurb }}
          <h3 class="mt-2 mb-0 subtitle is-5 has-text-weight-normal">
            <a
              href="{{ $params.link }}"
              class="has-text-grey hover-underline"
              data-ga-category="blurb"
            >
              {{ $params.blurb }}
            </a>
          </h3>
        {{ end }}
      </article>
    </div>
  </div>
{{ end }}
