{{ define "main" }}
  <section class="bg-white">
    {{ if .Params.pageTitle }}
      <h1
        class="mx-auto px-4 pt-16 text-4xl font-bold md:w-7/12 md:px-0 lg:text-5xl"
      >
        {{ .Params.pageTitle }}
      </h1>
    {{ end }}


    <div
      data-ga-category="content"
      class="article-content mx-auto w-full px-4 py-6 pb-4 md:w-7/12 md:px-0"
    >
      {{ if .Params.intro }}
        {{ .Params.intro | markdownify }}
      {{ end }}
    </div>

    {{ if .Params.quote }}
      <div class="mx-auto max-w-4xl px-4 py-6">
        <h3 class="flex items-center">
          <span class="flex items-center text-3xl font-bold">
            <svg class="mr-2 h-8 w-8" aria-hidden="true" style="fill: #0cb4eb;">
              {{ partial "helper/svg.html" "quote-left" }}
            </svg>
            {{ .Params.quote }}
            <svg class="mr-2 h-8 w-8" aria-hidden="true" style="fill: #0cb4eb;">
              {{ partial "helper/svg.html" "quote-right" }}
            </svg>
          </span>
        </h3>
        {{ if .Params.quoteSource }}
          <p class="text-gray-500 pb-16 pt-4 text-right font-normal italic">
            {{ .Params.quoteSource }}
          </p>
        {{ end }}
      </div>
    {{ end }}


    <div class="mb-16 h-[500px] w-full bg-beige"></div>

    <div class="mx-auto w-full py-6 pb-4 md:w-7/12">
      {{ if .Params.howHead }}
        <h2 class="mb-4 px-4 text-3xl font-bold md:px-0">
          {{ .Params.howHead }}
        </h2>
      {{ end }}

      {{ if .Params.how }}
        <p
          class="text-gray-700 px-4 pb-16 text-lg font-normal leading-relaxed md:px-0"
        >
          {{ .Params.how }}
        </p>
      {{ end }}
    </div>

    {{ if .Params.awardHead }}
      <div class="h-auto w-full bg-beige pb-16">
        <div class="mx-auto flex max-w-4xl items-center px-4 pb-4 pt-16">
          <svg class="mr-4 h-8 w-9" aria-hidden="true" style="fill: #b6b6b6;">
            {{ partial "helper/svg.html" "trophy" }}
          </svg>
          <h2 class="text-4xl font-bold">
            {{ .Params.awardHead }}
          </h2>
        </div>

        <div class="mx-auto max-w-4xl px-4">
          <div style="border-top: 2.5px solid black; width: 100%;"></div>

          <div class="flex w-full">
            <div
              class="font-bold"
              style="padding: 15px 20px 15px 25px; border-right: 2.5px solid black;"
            >
              <ul class="year-list">
                <li class="active">2024</li>
                <li>2023</li>
                <li>2022</li>
                <li>2021</li>
                <li>2020</li>
                <li>2019</li>
              </ul>
            </div>

            <script>
              document.addEventListener("DOMContentLoaded", () => {
                const yearList = document.querySelector(".year-list");
                if (!yearList) {
                  console.warn("No year list found.");
                  return;
                }

                const yearItems = yearList.querySelectorAll("li");
                if (yearItems.length === 0) {
                  console.warn("No year items found in the list.");
                  return;
                }

                yearItems.forEach((item) => {
                  item.addEventListener("click", () => {
                    yearItems.forEach((li) => li.classList.remove("active"));
                    item.classList.add("active");
                  });
                });

                yearItems[0].classList.add("active");
              });
            </script>

            <div style="padding: 15px 15px 15px 25px;">
              <p class="award-national-state">National Awards</p>

              <p class="award-entity">
                Gerald Loeb Award:
                <span class="award-category">Local category</span>
              </p>

              <p class="award-story">
                For
                <a
                  class="award-story-link"
                  href="https://www.spotlightpa.org/series/the-psers-scandal/"
                  target="_blank"
                  >How Pennsylvania's Biggest Pension Fund Squandered Billions,
                  Hurt Taxpayers and Triggered an FBI Investigation</a
                >, Craig McCoy and Joseph DiStefano of The Philadelphia Inquirer
                and Angela Couloumbis of Spotlight PA
              </p>

              <p class="award-national-state">National Finalists</p>
              <p class="award-national-state">State Awards</p>
              <p class="award-national-state">State Finalists</p>
            </div>
          </div>
        </div>
      </div>
    {{ end }}

  </section>
{{ end }}
