{{ define "before-main" }}
  {{ $features := where .Site.RegularPages ".Params.featured" true }}
  {{ $news := .Site.GetPage "/news/_index.md" }}
  {{ $pages := $news.RegularPages | complement (first 1 $features) }}
  <section class="section">
    <div class="container is-widescreen">
      <div class="tile is-ancestor">
        <div class="tile is-vertical">
          {{ if len $features | lt 0 }}
            {{ partial "tile-featured.html" $features }}
          {{ end }}
          <div class="tile">
            {{ range $page := first 3 $pages }}
              <div class="tile is-parent is-4">
                <div class="tile is-child">
                  {{ partial "tile-stack.html" $page }}
                </div>
              </div>
            {{ end }}
          </div>
          <div class="tile">
            <div class="tile is-parent">
              <div class="tile is-child">
              </div>
            </div>
            <div class="tile is-parent is-3">
              <div class="tile is-child">
                {{ dict "title" "Meet the team" "svg" "covering" "url" "/about/staff/" | partial "tile-promo.html" }}
              </div>
            </div>
            <div class="tile is-parent is-3">
              <div class="tile is-child">
                {{ dict "title" "Send a tip" "svg" "stop" "url" "/tips/" | partial "tile-promo.html" }}
              </div>
            </div>
            <div class="tile is-parent is-3">
              <div class="tile is-child">
                {{ dict "title" "Support fearless journalism" "svg" "support" "url" "/donate/" | partial "tile-promo.html" }}
              </div>
            </div>
            <div class="tile is-parent">
              <div class="tile is-child">
              </div>
            </div>
          </div>
          {{ range $page := after 3 $pages }}
            <div class="tile">
              {{ partial "tile-horiz.html" $page }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
