{{ define "main" }}
  {{ $date := now }}
  {{ $showDate := false }}
  {{ $sixMonthsAgo := now.AddDate 0 -6 0 }}
  {{ range first 1 .Pages }}
    {{ $date = .Date }}
    {{ $showDate = $date.Before $sixMonthsAgo }}
  {{ end }}

  {{ $subtitle := .Param "subhed" | default .Description }}

  {{ $p := .Paginator }}
  {{ $pages := .Paginator.Pages }}

  {{ $titleClass := cond (gt (countwords .Title) 2) "is-size-1" "is-size-0" }}
  {{ $subheadClass := cond (gt (countwords $subtitle) 15) "is-size-4" "is-size-3" }}
  <section
    class="section columns is-centered is-multiline"
    data-ga-action="{{ .Title }} list"
  >
    <div class="column is-three-fifths">
      <header class="has-margin-bottom">
        {{ if $showDate }}
          <p
            class="tag is-square is-black is-uppercase has-text-weight-semibold has-margin-bottom-thin"
          >{{ $date.Format "January 2006" }}</p>
        {{ end }}
        <h1 class="title has-text-centered {{ $titleClass }} is-size-2-touch is-spaced">
          {{ .Title }}
        </h1>
        <h2 class="subtitle has-text-centered {{ $subheadClass }} is-size-4-touch has-margin-bottom-thick">
          {{ $subtitle }}
        </h2>

        {{ partial "hero-image-block.html" . }}
      </header>
      {{ with .Content }}
        <div class="content has-margin-bottom-thick">
          {{ . }}
        </div>
      {{ end }}
    </div>
    <div class="column is-four-fifths has-margin-bottom-thick">
      <nav class="tile is-ancestor is-vertical">
        <div class="tile">
          {{ range $page := first 3 $pages }}
            <div class="tile is-parent is-4 has-margin-top-negative">
              <div class="tile is-child">
                {{ partial "tile-stack.html" $page }}
              </div>
            </div>
          {{ end }}
        </div>
      </nav>
    </div>
    <div class="column is-three-fifths">
      <nav class="tile is-ancestor is-vertical">
        {{ range $page := after 3 $pages }}
          {{ partial "tile-archive.html" $page }}
        {{ end }}
      </nav>

      {{ partial "paginator-level.html" $p }}
    </div>
  </section>
{{ end }}
