{{ define "body-class" }}
  text-[16px] bg-white font-serif leading-normal text-g-9
{{ end }}

{{ define "main" }}

  {{ $title := .Title }}
  {{ $linktitle :=  index .Page.Params "callout-title" }}
  {{ $blurb := .Page.Params.description }}
  {{ $limit := 0 }}
  {{ $p := partial "helper/paginator" . }}
  {{ $pages := $p.Pages }}
  {{ $page := $pages }}
  {{ if $limit }}
    {{ $page = first $limit .pages }}
  {{ end }}
  <section
    class="
    mx-auto mb-5 flex max-w-screen-xl flex-wrap gap-6 space-y-6 sm:gap-x-12 
    md:items-start md:justify-between 
    lg:flex-row lg:gap-x-16 
      "
  >
    <header
      class="flex w-full justify-between border-b border-black md:col-span-3"
    >
      <h2
        class="flex-auto font-sans text-3xl font-extrabold capitalize leading-tight tracking-wide "
      >
        {{ with $linktitle }}
          {{ . }}
        {{ else }}
          {{ $title }}
        {{ end }}
      </h2>
      {{ partial "tw/breadcrumbs.html" . }}

    </header>

    {{ with $blurb }}
      <div
        class="mt-7 flex self-stretch md:space-y-12 xl:col-start-12 xl:row-end-4 xl:w-[300px]"
      >
        <div class="article-content rounded bg-black p-6 font-sans text-white">
          <h2 class="text-2xl font-extrabold">
            About our {{ $title }} coverage
          </h2>
          <div class=" text-xl leading-relaxed">
            {{ . }}
          </div>
        </div>
      </div>
    {{ end }}

    {{ range $page | first 1 }}
      {{ $params := partialCached "helper/page-params" . .RelPermalink }}
      {{ $imgOpts := dict
        "filename" (.Param "image")
        "credit" (.Param "image-credit")
        "description" (.Param "image-description")
        "link" $params.link
        "widthRatio" 3
        "heightRatio" 2
        "widths" (slice 128 256 384 512 1280)
        "figClass" "mt-2"
        "sizeHint" "(min-width: 850px) 328px, 90vw"
        "gravity" (.Param "image-gravity")
      }}
      <div
        class="max-w-full md:w-5/12 md:flex-auto lg:w-8/12"
        data-ga-category="story-1"
      >
        {{ $eyebrow := $params.published }}
        {{ $rubricLink := $params.link }}
        {{ $thumbClass := $params.thumbClass }}
        {{ partial "tw/thumb-hv-item.html" (dict
          "wrapperClass" "flex flex-wrap gap-x-9"
          "thumbClass" "w-full lg:max-w-md xl:max-w-lg"
          "hedSize" `text-xl md:text-xl lg:text-2xl font-semibold`
          "dekSize" "sm:text-base sm:leading-relaxed md:text-lg lg:text-xl"
          "imgOpts" $imgOpts
          "rubricLink" $rubricLink
          "eyebrow" $eyebrow
          "link" $params.link
          "hed" .LinkTitle
          "byline" $params.byline
          "showDate" false
          "dek" $params.blurb
          )
        }}
      </div>
    {{ end }}

    {{ range $page | after 1 | first 4 }}
      {{ $params := partialCached "helper/page-params" . .RelPermalink }}
      {{ $imgOpts := dict
        "filename" (.Param "image")
        "credit" (.Param "image-credit")
        "description" (.Param "image-description")
        "link" $params.link
        "widthRatio" 16
        "heightRatio" 9
        "widths" (slice 128 256 384 512 1280)
        "figClass" "mt-2"
        "sizeHint" "(min-width: 850px) 328px, 90vw"
        "gravity" (.Param "image-gravity")
      }}
      <div
        class="max-w-full md:w-2/12 md:flex-1 lg:w-2/12 xl:w-72"
        data-ga-category="story-2"
      >
        {{ $eyebrow := $params.published }}
        {{ $rubricLink := $params.link }}
        {{ $thumbClass := $params.thumbClass }}
        {{ partial "tw/thumb-hv-item.html" (dict
          "wrapperClass" "flex flex-wrap gap-x-4"
          "thumbClass" "w-2/5 md:w-full"
          "imgOpts" $imgOpts
          "rubricLink" $rubricLink
          "eyebrow" $eyebrow
          "link" $params.link
          "hed" .LinkTitle
          "byline" $params.byline
          "showDate" false
          )
        }}
      </div>
    {{ end }}

    {{ partial "tw/content-well.html" . }}
  </section>
{{ end }}

{{ define "extra-main" }}
  {{ $p := partial "helper/paginator" . }}
  {{ $pages := $p.Pages }}
  {{ $title := .Title }}


  <div
    class="relative mt-6 mx-4 max-w-4xl overflow-hidden rounded md:mx-auto md:mt-16"
    x-data="funnelStatus"
  >
    <div x-show="!isSubscriber">
      {{ partial "tw/newsletter-box-lg.html" (dict
        "newsletterHed" (page.Param "newsletter-hed")
        "newsletterDek" (page.Param "newsletter-dek")
        "newsletterWrapper" "p-4 sm:py-8"
        "newsletterField" "newsletter/basic-visible.html"
        )
      }}
    </div>
    <div data-ga-category="donate" x-cloak x-show="isSubscriber">
      {{ partial "tw/donate-prefill-lg.html" (dict
        "donateHed" (page.Param "donate-hed")
        "donateDek" (page.Param "donate-text")
        "donateCta" (page.Param "donate-cta")
        "donateGaCategory" (page.Param "donate-ga-category")
        "donateCampaign" (page.Param "donate-ga-campaign")
        "donateTheme" (page.Param "donate-theme")
        "donateAmounts" (page.Param "donate-amounts")
        )
      }}
    </div>
  </div>

  <div
    class="mx-auto mt-10 max-w-screen-xl items-stretch sm:flex sm:flex-wrap sm:gap-x-6 md:mt-16 lg:gap-x-8 lg:px-20"
    @mouseover.passive.once="load()"
    @touchstart.passive.once="load()"
  >
    <h2
      class="w-full border-b border-black font-sans text-3xl font-extrabold capitalize leading-tight tracking-wide"
    >
      More stories about
      {{ $title }}
    </h2>

    <div
      class="flex-1 justify-between py-6 sm:w-2/3"
      x-ref="archives"
      data-ga-category="river"
      data-sf-campaign="701Dn000000YgodIAC"
    >
      <nav
        x-data="readmore(true)"
        x-ref="root"
        @mouseover.once="load()"
        @touchstart.passive.once="load()"
      >
        <div class="flex flex-col space-y-6 md:space-y-5" x-ref="archives">
          {{ range $i, $page := $pages | after 5 | first 12 }}
            {{ $params := partialCached "helper/page-params" . .RelPermalink }}
            {{ $imgOpts := dict
              "filename" (.Param "image")
              "credit" (.Param "image-credit")
              "description" (.Param "image-description")
              "link" $params.link
              "widthRatio" 5
              "heightRatio" 3
              "widths" (slice 128 256 384 512 1280)
              "figClass" "mt-1"
              "sizeHint" "(min-width: 850px) 328px, 90vw"
              "gravity" (.Param "image-gravity")
            }}
            <div data-ga-category="story-{{ add 1 $i }}">
              {{ $eyebrow := $params.published }}
              {{ $rubricLink := $params.link }}
              {{ $thumbClass := $params.thumbClass }}
              {{ partial "tw/thumb-hv-item.html" (dict
                "wrapperClass" "flex flex-wrap gap-x-4"
                "thumbClass" "w-2/5 sm:w-full md:w-2/5"
                "imgOpts" $imgOpts
                "rubricLink" $rubricLink
                "eyebrow" $eyebrow
                "link" $params.link
                "hed" .LinkTitle
                "byline" $params.byline
                "showDate" false
                "showByline" $params.showByline
                "dek" $params.blurb
                )
              }}
            </div>
          {{ end }}
        </div>

        <div class="flex py-8">
          <div class="mx-auto max-w-screen-lg">
            {{ partial "tw/paginator-level.html" .Paginator }}
          </div>
        </div>
      </nav>
    </div>
    <div
      id="frontpage-sidebar"
      x-data="funnelStatus"
      class="flex flex-1 flex-col items-center justify-start gap-2 py-8 sm:w-1/3 sm:max-w-xs lg:self-stretch"
    >
      <div data-ga-category="top" data-sf-campaign="701Dn000000YgoeIAC">
        <div
          class="mx-auto flex h-[600px] w-[300px] items-center justify-center bg-g-4"
        >
          Ad
        </div>
      </div>

      <div class="w-full sm:max-w-xs">
        {{ partial "tw/rail-events.html" (dict
          "label" "Upcoming Events"
          )
        }}
      </div>

      {{ if page.Param "sidebar-sticky-images" }}
        <div
          class="sticky top-0 mx-auto self-start"
          data-ga-category="sticky"
          data-sf-campaign="701Dn000000YgofIAC"
          x-intersect="$dispatch('close-sticky')"
        >
          {{ partial "tw/promo-single.html" (dict
            "class" "pt-5 min-w-full no-js:hidden"
            "images" (page.Param "sidebar-sticky-images")
            "width" (page.Param "sidebar-sticky-width")
            "height" (page.Param "sidebar-sticky-height")
            "link" (page.Param "sidebar-sticky-link")
            "description" (page.Param "sidebar-sticky-description")
            )
          }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
