{{ define "body-class" }}font-serif{{ end }}

{{ define "main" }}
  <style>
    .raw-content #templateHeader,
    .raw-content #templateFooter,
    .raw-content .mcnButtonBlock {
      display: none !important;
    }
  </style>
  <h1 class="sr-only">{{ .Title }}</h1>
  {{ with .Param "blurb" }}<h2 class="sr-only">{{ . }}</h2>{{ end }}
  <div class="raw-content" data-ga-category="content">
    {{ .Param "raw-content" | safeHTML }}
  </div>
{{ end }}

{{ define "before-footer" }}
  <!-- noop -->
{{ end }}

{{ define "modal" }}
  {{ if .Param "modal-exclude" | not }}
    {{ if .Param "newsletter-active" }}
      {{ partial "tw/modal-ribbon.html" ( dict
        "filename" "/2023/02/01hz-hk1z-0qfm-tsg4.jpeg"
        )
      }}
    {{ end }}
  {{ end }}
{{ end }}
