{{ define "extra-head" }}
  {{ $scssOptions := dict "outputStyle" "compressed" "enableSourceMap" true }}
  {{ $styles := resources.Get "css/mailchimp.scss" | toCSS $scssOptions | postCSS }}
  {{ if not site.IsServer }}
    {{ $styles = $styles | minify | fingerprint | resources.PostProcess }}
  {{ end }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ end }}

{{ define "nav" }}
  {{ $tott := site.GetPage "/newsletters/talkofthetown/_index.md" }}
  {{ $isSCpage := .Page.InSection $tott }}
  {{ if $isSCpage }}
    {{ partial "tw/nav-sc.html" . }}
  {{ else }}
    {{ partial "tw/nav.html" . }}
  {{ end }}
{{ end }}

{{ define "main" }}
  <div class="raw-content" data-ga-category="content">
    {{ .Param "raw-content" | safeHTML }}
  </div>
{{ end }}

{{ define "promo" }}
  <!-- noop -->
{{ end }}

{{ define "topper" }}
  <!-- noop -->
{{ end }}

{{ define "modal" }}
  <!-- noop -->
{{ end }}

{{ define "extra-footer" }}
  {{ $svgs := dict
    "banner-state-college-svg" "/img/logos/banner-state-college.svg"
  }}
  {{ partial "header/svgs.html" $svgs }}
{{ end }}
