{{ $params := partialCached "helper/page-params" .Page .RelPermalink }}

{{ $hasPromo := .Param "promo-active" }}
{{ $marginClass := cond $hasPromo "has-margin-top-negative" "" }}


<header class="bg-black py-14 px-3 text-white">
  <div
    class="mx-auto max-w-screen-xl items-center md:min-h-[110px] gap-y-3 gap-x-5 md:grid md:grid-cols-12"
  >
    <h1
      class="uppercase font-serif text-[45px] leading-none col-span-5 col-start-2 row-span-1 row-start-1 font-black"
    >
      {{ .Title }}
    </h1>
    <div
      class="font-raleway col-span-5 col-start-7 row-start-1 text-xl font-medium mt-3 md:mt-0"
    >
      {{ .Description }}
    </div>
  </div>
</header>
<section class="font-raleway bg-white">
  <div class="mx-auto max-w-screen-md">
    {{ partial "tw/breadcrumbs.html" . }}
  </div>

  <div class="mx-auto max-w-screen-lg text-lg font-medium  py-14 px-5 lg:px-0">
    {{ with .Page.Params.subhed }}
      <h2 class="font-black text-5xl mb-5 uppercase">{{ . }}</h2>
    {{ end }}
    {{ with .Content }}
      <div class="article-content max-w-prose mx-auto">
        {{ . }}
      </div>
    {{ end }}
  </div>
  {{ with .Page.RenderString (.Param "newsletter") }}
    <div class="-mx-4 font-sans md:mx-0">
      {{ . }}
    </div>
  {{ end }}

  {{ range $i, $blocks := .Params.blocks }}
    {{ $id := urlize .title }}
    <div
      id="{{ $id }}"
      x-data
      x-intersect.half="$dispatch('intersect:support', $el.id)"
      data-ga-category="blocks"
      class=" w-full -mx-4 bg-s-1 md:mx-0"
    >
      {{ partial "blocks/block" (dict
        "Page" $
        "block" .
        )
      }}
    </div>
  {{ end }}

</section>
