{{ $params := partialCached "helper/page-params" .Page .RelPermalink }}

{{ $hasPromo := .Param "promo-active" }}
{{ $marginClass := cond $hasPromo "has-margin-top-negative" "" }}


<section class="section {{ $marginClass }}">
  <article class="columns is-centered is-multiline">
    <div class="column is-three-fifths">
      <header class="block" data-ga-category="header">
        <div class="is-clearfix">
          <div class="is-pulled-right">
            {{ partial "component/breadcrumbs.html" . }}
          </div>
        </div>

        <h1 class="title is-2 is-size-3-touch is-spaced">
          {{ .Title }}
        </h1>

        {{ with $params.byline }}
          <h3 class="is-size-5 has-margin-top-negative-medium">
            <span class="has-text-weight-semibold">
              by
              <span itemtype="http://schema.org/Person" itemprop="author">
                {{- $params.byline -}}
              </span>
            </span>
            {{ if $params.published }}
              |
              <time datetime="{{ $params.publishedISO }}"
                >{{ $params.published }}</time
              >
            {{ end }}
          </h3>
        {{ end }}


        <div class="my-5">
          {{ partial "component/social-buttons.html" . }}
        </div>
      </header>

      {{ partial "component/hero-image-block.html" . }}


      <div class="block" data-ga-category="content">
        <div x-data x-intersect.once="$dispatch('open-sticky')"></div>
        <div
          x-data
          x-intersect.once="$report({ target: $el })"
          data-ga-action="view:content-start"
        ></div>
        <div class="content" data-sf-campaign="701f4000000TVuXAAW">
          {{ .Content }}
        </div>
        <div
          x-data
          x-intersect.once="$report({ target: $el })"
          data-ga-action="view:content-finish"
        ></div>
      </div>

      {{ with .Param "authors" }}
        <footer class="block" data-ga-category="inline-footer:author">
          {{ range $name := . }}
            {{ $author := partial "helper/get-author" $name }}
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  {{ if $author.thumb }}
                    {{ if $author.link }}
                      <a href="{{ $author.link }}" class="image is-64x64">
                        <img
                          src="{{ $author.thumb }}"
                          alt="Photo of {{ $author.name }}"
                          class="is-rounded is-monochrome"
                          loading="lazy"
                          decoding="async"
                        />
                      </a>
                    {{ else }}
                      <span class="image is-64x64">
                        <img
                          src="{{ $author.thumb }}"
                          alt="Photo of {{ $author.name }}"
                          class="is-rounded is-monochrome"
                          loading="lazy"
                          decoding="async"
                        />
                      </span>
                    {{ end }}
                  {{ else }}
                    <span class="image is-64x64"></span>
                  {{ end }}
                </div>

                <div class="level-item">
                  <div>
                    <h3 class="subtitle is-3 has-text-weight-semibold">
                      {{ if and $author.active $author.link }}
                        <a href="{{ $author.link }}">
                          {{ $author.name }}
                        </a>
                      {{ else }}
                        <span class="has-text-grey">
                          {{ $author.name }}
                        </span>
                      {{ end }}
                    </h3>
                    {{ if and $author.active $author.title }}
                      <h3 class="subtitle ">
                        {{ $author.title }}
                      </h3>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </footer>
      {{ end }}
    </div>
  </article>
</section>
