{{ $params := partialCached "helper/page-params" .Page .RelPermalink }}

{{ $hasPromo := .Param "promo-active" }}
{{ $marginClass := cond $hasPromo "has-margin-top-negative" "" }}


<header class="bg-white py-8 px-3 text-black">
  <div class="mx-auto max-w-screen-lg">
    {{ partial "tw/breadcrumbs.html" . }}
  </div>
  <div class="mx-auto w-full max-w-2xl">
    <h1
      class="mx-auto font-serif text-3xl font-extrabold leading-none tracking-wide sm:text-4xl md:text-6xl"
    >
      {{- .Title -}}
    </h1>
  </div>
</header>

<section class="font-raleway bg-white">
  <div class="mx-auto max-w-screen-lg font-medium  py-10 px-5 lg:px-0">
    {{ with .Page.Params.subhed }}
      <h2 class="font-black text-5xl mb-5 uppercase">{{ . }}</h2>
    {{ end }}
    {{ with .Content }}
      <div class="article-content max-w-2xl mx-auto text-lg">
        {{ . }}
      </div>
    {{ end }}
  </div>
  {{ with .Page.RenderString (.Param "newsletter") }}
    <div class="-mx-4 font-sans md:mx-0">
      {{ . }}
    </div>
  {{ end }}

  {{ range $i, $blocks := .Params.blocks }}
    {{ $id := urlize .title }}
    <div
      id="{{ $id }}"
      x-data
      x-intersect.half="$dispatch('intersect:support', $el.id)"
      data-ga-category="blocks"
      class=" w-full -mx-4 bg-s-1 md:mx-0"
    >
      {{ partial "blocks/block" (dict
        "Page" $
        "block" .
        )
      }}
    </div>
  {{ end }}

</section>
