{{ define "nav" }}
  {{ $tott := site.GetPage "/newsletters/talkofthetown/_index.md" }}
  {{ $isSCpage := .Page.InSection $tott }}
  {{ if $isSCpage }}
    {{ partial "tw/nav-sc.html" . }}
  {{ else }}
    {{ partial "tw/nav.html" . }}
  {{ end }}
{{ end }}

{{ define "static-head" }}
  {{ partialCached "header/static-tw.html" . }}
{{ end }}

{{ define "promo" }}
  <!-- noop -->
{{ end }}

{{ define "topper" }}
  <!-- noop -->
{{ end }}

{{ define "main" }}

  {{ $subtitle := .Param "subhed" | default .Description }}

  {{ $p := partial "helper/paginator" . }}
  {{ $pages := $p.Pages }}

  {{ $titleClass := cond (gt (countwords .Title) 2) "is-size-1" "is-size-0" }}
  {{ $subheadClass := cond (gt (countwords $subtitle) 15) "is-size-4" "is-size-3" }}
  <section class="bg-white px-4 pt-12 pb-2 md:pb-6" data-ga-category="list">
    {{ if not $p.HasPrev }}
      <div class="mx-auto w-full max-w-screen-lg">
        <header class="mb-5 mx-auto">
          <h1
            class="text-center font-sans text-3xl mb-6 sm:text-4xl md:text-6xl font-bold leading-none tracking-wide {{ $titleClass }}"
          >
            {{ .Title }}
          </h1>
          <h2
            class="text-center font-sans text-2xl font-light mb-12 text-s-8 {{ $subheadClass }}"
          >
            {{ $subtitle }}
          </h2>

          {{ partial "tw/image-hero.html" . }}
        </header>
        {{ with .Content }}
          <div class="article-content max-w-prose mx-auto">
            {{ . }}
          </div>
        {{ end }}
      </div>
    {{ end }}
    <div class="column is-four-fifths mb-6 p-2 font-serif" id="archives">
      <nav class="mb-16 mx-auto max-w-screen-lg">
        {{ range $pages.GroupByDate "January 2006" }}
          <div class="tile is-parent">
            <h2 class=" text-3xl font-extrabold font-raleway mt-16 mb-9">{{ .Key }}</h2>
          </div>
          <div class="mt-4 grid gap-12 sm:grid-cols-2 md:grid-cols-3">
            {{ range $page := .Pages }}
              <div class="tile is-parent is-4 has-margin-top-negative">
                <div class="tile is-child">
                  {{ $props :=  dict "Page" . "showDate" true }}
                  {{ partialCached "tile/list.html" $props $page.RelPermalink true }}
                </div>
              </div>
            {{ end }}
          </div>
        {{ end }}
      </nav>
    </div>
    <div class="column is-three-fifths">
      {{ partial "component/paginator-level.html" $p }}
    </div>
  </section>
{{ end }}

{{ define "extra-footer" }}
  {{ $svgs := dict
    "banner-state-college-svg" "/img/logos/banner-state-college.svg"
  }}
  {{ partial "header/svgs.html" $svgs }}
{{ end }}
