{{ define "body-class" }}
  font-serif
{{ end }}

{{ define "main" }}
  <article class="bg-white px-4 pt-12 pb-6">
    <div class="mx-auto w-full max-w-prose">
      <header>
        <h1 class="text-4xl leading-none font-semibold text-black">
          {{ .Title }}
        </h1>
        <h2
          class="text-g-7 mx-auto mt-2 w-0 min-w-full text-xl leading-tight font-semibold md:text-3xl"
        >
          {{ .Param "dek" }}
        </h2>
      </header>

      <div x-data x-intersect.once="$dispatch('open-sticky')"></div>

      {{ partial "tw/content-well.html" . }}
    </div>
  </article>
{{ end }}

{{ define "extra-main" }}
  <section class="bg-white px-4 pt-6 pb-12" id="archives">
    {{ $p := partial "helper/paginator" . }}
    {{ range $p.PageGroups }}
      {{ partial "tw/list-3-col-story.html" (dict
        "hed" .Key
        "pages" .Pages
        "wrapperClass" "mb-16 mx-auto max-w-(--breakpoint-lg)"
        )
      }}
    {{ end }}
    <div class="mx-auto max-w-(--breakpoint-lg)">
      {{ partial "tw/paginator-level.html" .Paginator }}
    </div>
  </section>
{{ end }}
