{{ define "extra-main" }}
  <section
    class="section columns is-centered is-multiline"
    data-ga-action="News archive"
  >
    <div class="column is-three-fifths">
      <div class="tile is-ancestor is-vertical">
        {{ range $page := .Paginator.Pages }}
          {{ partial "tile-archive.html" $page }}
        {{ end }}
      </div>
      {{ if gt .Paginator.TotalPages 0 }}
        <div class="level">
        {{ if .Paginator.HasPrev }}
          <span class="level-item">
            <a
              class="button is-primary is-outlined has-text-weight-semibold"
              href="{{ .Paginator.Prev.URL }}"
            >← Newer</a>
          </span>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <span class="level-item">
            <a
              class="button is-primary is-outlined has-text-weight-semibold"
              href="{{ .Paginator.Next.URL }}"
            >Older →</a>
          </span>
        {{ end }}
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
