{{ define "promo" }}
<!-- noop -->
{{ end }}

{{ define "banner" }}
<!-- noop -->
{{ end }}

{{define "modal" }}
<!-- noop -->
{{ end }}

{{ define "main" }}
  {{ $subtitle := .Param "subhed" | default .Description }}
  {{ $pages := where .Pages "Kind" "section" }}

  {{ $titleClass := cond (gt (countwords .Title) 2) "is-size-1" "is-size-0" }}
  {{ $subheadClass := cond (gt (countwords $subtitle) 15) "is-size-4" "is-size-3" }}
  <section
    class="section columns is-centered is-multiline"
    data-ga-category="all-newsletters"
  >
    <div class="column is-three-fifths">
      <header class="mb-5">
        <h1 class="title has-text-centered {{ $titleClass }} is-size-2-touch is-spaced">
          {{ .Title }}
        </h1>
        <h2 class="subtitle has-text-centered {{ $subheadClass }} is-size-4-touch mb-6">
          {{ $subtitle }}
        </h2>

        {{ partial "component/hero-image-block.html" . }}
      </header>
      {{ with .Content }}
        <div class="content mb-6">
          {{ . }}
        </div>
      {{ end }}
    </div>
    <div class="column is-four-fifths mb-6">
      <nav class="tile is-ancestor is-vertical">
        <div class="tile is-wrapped">
          {{ range $page := $pages }}
            <div class="tile is-parent is-4 has-margin-top-negative">
              <div class="tile is-child">
                {{ $params := partialCached "helper/page-params" .Page .RelPermalink }}
                {{ $slug := .File.Dir | path.Base }}
                <article
                  x-data="{ showForm: false }"
                >
                  <a
                    class="has-text-grey-dark hover-underline"
                    href="{{ $params.link }}"
                    @click.prevent="showForm = !showForm"
                    :data-ga-action="'newsletters:{{ $slug }}:show'"
                  >
                    {{ $name := .Page.Param "image" }}
                    {{ $credit := .Page.Param "image-credit" }}
                    {{ $description := .Page.Param "image-description" }}
                    {{ $imgOpts := dict
                      "filename" $name
                      "credit" $credit
                      "description" $description
                      "widthRatio" 16
                      "heightRatio" 9
                      "sizeHint" "25vw"
                    }}
                    {{ partial "component/image-block.html" $imgOpts }}
                    <h2 class="mt-4 is-size-5 is-size-4-widescreen has-text-weight-semibold">
                      {{ .LinkTitle }}
                    </h2>
                    <p>
                      {{ $params.blurb }}
                    </p>
                  </a>
                  {{ $form := printf "newsletter/%s-landing-form.html" $slug }}
                  {{ partial $form $ }}
                </article>
              </div>
            </div>
          {{ end }}
        </div>
      </nav>
    </div>
  </section>
{{ end }}
