{{ define "body-class" }}
  font-sans
{{ end }}
{{ define "html-class" -}}
  scroll-smooth scroll-pt-10 lg:scroll-pt-40
{{- end }}

{{ define "main" }}
  <section class="bg-white pb-6">
    {{ if not (page.Param "hide-topper") }}
      {{ if $takeover := .Page.RenderString (.Param "takeover") }}
        {{ $takeover }}
      {{ else }}
        <div
          class="mx-auto w-full max-w-(--breakpoint-xl) flex-wrap gap-4 pt-16 md:gap-x-6 lg:gap-x-12"
        >
          <h1
            class="{{ if .Param `sidebar` }}
              max-w-prose
            {{ else }}
              md:w-7/12
            {{ end }} mx-auto w-full max-w-prose pb-2 font-sans text-4xl leading-tight font-bold text-black md:w-7/12 lg:text-5xl"
          >
            {{ .Title }}
          </h1>
        </div>
      {{ end }}
      <div
        class="mx-auto flex w-full max-w-(--breakpoint-xl) flex-wrap px-4 py-10 md:px-0"
        data-ga-category="content"
      >
        <div
          class="article-content mx-auto w-full overflow-hidden pb-4 leading-relaxed md:w-7/12"
        >
          {{ with .Param "dek" }}
            <h2
              class="mx-auto w-0 min-w-full font-sans text-xl font-semibold md:text-2xl md:leading-tight"
            >
              {{ . }}
            </h2>
          {{ end }}
          {{ .Content }}
        </div>
        {{ .Page.RenderString (.Param "sidebar") }}
      </div>
    {{ end }}
    {{ .Page.RenderString (.Param "newsletter") }}

    {{ .Page.RenderString (.Param "testimonials-group") }}

    {{ with .Page.RenderString (.Param "supplemental") }}
      <article
        class="article-content mx-auto max-w-(--breakpoint-xl) px-5 py-24 font-sans md:grid md:grid-cols-12 md:grid-rows-[auto_1fr] md:gap-x-5 md:gap-y-3"
      >
        {{ . }}
      </article>
    {{ end }}
    {{ range $i, $blocks := .Params.blocks }}
      {{ partial "blocks/block" (dict
        "Page" $
        "block" .
        )
      }}
    {{ end }}
    {{ with .Page.RenderString (.Param "supporters") }}
      <div class="py-9">
        {{ . }}
      </div>
    {{ end }}

  </section>
  {{ with .Page.RenderString (.Param "credits") }}
    <section
      class="bg-white p-6"
      id="credits"
      data-ga-category="credits"
      x-data
      x-intersect.half="$dispatch('intersect:about', $el.id)"
    >
      <div class="mx-auto w-full max-w-prose">
        <h2
          class="w-full border-b border-black font-sans text-2xl leading-tight font-extrabold tracking-wide capitalize md:text-3xl"
        >
          Credits
        </h2>
        <div class="space-y-12 py-8">
          {{ . }}
        </div>
      </div>
    </section>
  {{ end }}
  {{ with .Page.RenderString (.Param "promo") }}
    {{ . }}
  {{ end }}

{{ end }}

{{ define "before-footer" }}
  {{ with .Page.RenderString (.Param "donate") }}
    <div class="bg-white font-sans">
      {{ . }}
    </div>
  {{ else }}
    {{ partialCached "tw/promo-footer.html" (dict
      "wrapperClass" "bg-white pt-2 pb-14 hidden")
    }}
  {{ end }}

{{ end }}
