{{ define "body-class" }}
  font-sans
{{ end }}
{{ define "html-class" -}}
  scroll-smooth
{{- end }}

{{ define "main" }}
  {{ with .Page.RenderString (.Param "takeover") }}
    {{ . }}
  {{ else }}
    <header class="bg-white px-5 pb-4 pt-8 text-black">
      <div class="mx-auto w-full max-w-2xl">
        <h1
          class="font-sans text-3xl font-bold leading-tight text-black sm:text-4xl sm:leading-tight lg:text-5xl lg:leading-tight"
        >
          {{- .Title -}}
        </h1>
      </div>
    </header>
  {{ end }}

  {{ if .Param "disable-chatbot" }}
    <div
      class="mx-auto flex w-full max-w-screen-xl flex-wrap py-10"
      data-ga-category="content"
    >
      <div
        class="article-content mx-auto w-full overflow-hidden rounded border border-g-4 bg-g-3 p-4 leading-relaxed shadow md:w-7/12"
      >
        {{ .Param "disabled-text" | page.RenderString }}
      </div>
    </div>
  {{ else }}
    <div
      id="dewey-chat"
      class="mx-5 my-10 box-content max-w-screen-xl rounded-lg bg-g-1 p-4 shadow md:mx-auto"
    ></div>
  {{ end }}


  <section
    class="mx-auto flex w-full max-w-screen-xl flex-wrap py-10"
    data-ga-category="content"
  >
    <div
      class="article-content mx-auto w-full overflow-hidden px-4 leading-relaxed md:w-7/12 md:px-0"
    >
      {{ .Content }}
    </div>
  </section>

  <section class="bg-white">
    {{ range $i, $blocks := .Params.blocks }}
      {{ $id := urlize .title }}
      <div
        id="{{ $id }}"
        x-data
        x-intersect.half="$dispatch('intersect:support', $el.id)"
        data-ga-category="blocks"
        class="w-full"
      >
        {{ partial "blocks/block" (dict
          "Page" $
          "block" .
          )
        }}
      </div>
    {{ end }}
    {{ with .Page.RenderString (.Param "supporters") }}
      <div class="py-9">
        {{ . }}
      </div>
    {{ end }}
  </section>

  {{ with .Page.RenderString (.Param "credits") }}
    <section
      class="bg-white p-6"
      id="credits"
      data-ga-category="credits"
      x-data
      x-intersect.half="$dispatch('intersect:about', $el.id)"
    >
      <div class="mx-auto w-full max-w-prose">
        <h2
          class="w-full border-b border-black font-sans text-2xl font-extrabold capitalize leading-tight tracking-wide md:text-3xl"
        >
          Credits
        </h2>
        <div class="space-y-12 py-8">
          {{ . }}
        </div>
      </div>
    </section>
  {{ end }}
  {{ with .Page.RenderString (.Param "promo") }}
    {{ . }}
  {{ end }}

{{ end }}

{{ define "before-footer" }}
  {{ with .Page.RenderString (.Param "donate") }}
    <div class="bg-white font-sans">
      {{ . }}
    </div>
  {{ else }}
    {{ partialCached "tw/promo-footer.html" (dict
      "wrapperClass" "bg-white pt-2 pb-14 hidden")
    }}
  {{ end }}
{{ end }}

{{ define "extra-footer" }}
  <script>
    (function (e, o) {
      var deweyConfig = {
        key: "d07f653f-bace-41b7-8e5e-618c20bf3b86",
        options: {
          targetElementId: "dewey-chat",
        },
      };
      var n = (window.dewey = window.dewey || {});
      if (n.invoked) {
        console.error("Dewey snippet included twice.");
        return;
      }
      n.invoked = true;
      n.load = function (e, t) {
        return new Promise((r, d) => {
          var i = o.createElement("script");
          i.type = "text/javascript";
          i.async = true;
          i.onload = r;
          i.onerror = d;
          i.src = `https://app.askdewey.co/dewey.js/v1/${e}/dewey.min.js`;
          n._loadOptions = t;
          o.head.appendChild(i);
        });
      };
      n.SNIPPET_VERSION = "0.0.2";
      async function t() {
        try {
          await n.load(deweyConfig.key, deweyConfig.options);
          n.start();
        } catch (e) {
          console.error("Failed to load Dewey script:", e);
        }
      }
      t();
    })(window, document);
  </script>
{{ end }}
