{{ define "body-class" }}
  text-[16px] bg-beige font-sans leading-normal text-s-9
{{ end }}
{{ define "html-class" -}}
  scroll-smooth
{{- end }}

{{ define "static-head" }}
  {{ partial "header/css-tw-rale.html" . }}
  {{ partialCached "header/static-tw.html" . }}
{{ end }}

{{ define "main" }}
  {{ if (isset .Params "bg-img") }}
    <header class="bg-black text-white md:pb-4">
      <div class="relative z-20 flex flex-col bg-transparent text-white">
        {{ $src := .Param "image" }}

        {{ $imgOpt := dict
          "filename" (.Param "image")
          "width" 2271
          "height" 1431
          "gravity" "ce"
        }}
        {{ $url := partial "helper/imgproxy" $imgOpt }}
        <div
          class="absolute inset-0 flex bg-blue-1 bg-cover"
          style="background-image: url({{ $url }}); background-position: 38% 0; z-index: -1;"
          aria-hidden="true"
        >
          <div
            class="absolute inset-0 bg-gradient-to-b from-black to-transparent opacity-50"
          ></div>
        </div>
        <div class="px-4 py-8 leading-tight sm:p-12">
          <div class="flex flex-col justify-center">
            <div class="mx-auto md:max-w-min md:whitespace-nowrap">
              <h1
                class="text-shadow text-3xl font-extrabold md:text-4xl lg:text-5xl xl:text-6xl"
              >
                {{ .Title }}
              </h1>
              <h2
                class="text-shadow mt-4 text-2xl md:text-3xl lg:text-4xl xl:text-5xl"
              >
                Join our historic effort <span> </span>
                <br class="hidden md:inline" />
                to invigorate local news.
              </h2>
            </div>
          </div>
        </div>
        {{ $idEmail :=  partial "helper/new-id" . }}
        <label
          for="{{ $idEmail }}"
          class="backdrop-fallback my-8 block w-full rounded p-8 shadow ring-1 ring-s-7 backdrop-blur-sm backdrop-brightness-50 backdrop-filter sm:w-96"
        >
          <form
            action="{{ .Param "newsletters-action" }}"
            method="post"
            data-ga-form="newsletters:statecollege"
            target="_blank"
          >
            {{ partial "newsletter/hidden-input.html" . }}
            <input type="hidden" name="state_college" value="1" />

            <h2
              class="text-center text-2xl font-semibold uppercase leading-tight sm:text-3xl"
            >
              Join our mailing list
            </h2>
            <p class="mt-2 text-lg leading-snug sm:text-2xl">
              Sign up to receive a weekly review of articles from Spotlight PA
              and occasional updates about our planning project in Berks County.
            </p>
            <p class="mt-8 flex flex-col items-stretch gap-2 sm:flex-row">
              <span class="relative block">
                <input
                  id="{{ $idEmail }}"
                  class="block h-full w-full appearance-none rounded border-2 border-s-4 bg-white py-2 pl-10 tracking-wider text-s-8 placeholder-s-4 placeholder-opacity-100 outline-none ring-orange ring-opacity-50 focus:ring-2"
                  type="email"
                  name="EMAIL"
                  placeholder="Email address"
                  required
                />
                <span
                  class="pointer-events-none absolute inset-y-0 left-0 z-10 inline-flex w-10 items-center justify-center leading-none text-s-4"
                  aria-hidden="true"
                >
                  <svg class="h-4 w-4 fill-current">
                    <use xlink:href="#email-svg"></use>
                  </svg>
                </span>
              </span>
              <span class="block">
                <button
                  class="h-full w-full whitespace-nowrap rounded bg-red px-4 py-2 font-bold uppercase tracking-widest text-white outline-none ring-s-4 ring-opacity-50 focus:ring-2"
                  type="submit"
                >
                  Sign Up
                </button>
              </span>
            </p>
          </form>
        </label>
      </div>
      <figcaption
        aria-hidden="true"
        class="bg-white p-1 text-right font-sans text-sm uppercase leading-none text-s-6 md:text-base"
      >
        {{ .Param "image-credit" }}
      </figcaption>
    </header>
  {{ else }}
    <header class="bg-s-0 px-3 pt-8 text-black md:pb-4">
      <div class="mx-auto max-w-screen-lg">
        {{ partial "tw/breadcrumbs.html" . }}
      </div>
      <div class="mx-auto w-full max-w-screen-lg">
        <h1
          class="mb-2 font-sans text-3xl font-bold leading-tight tracking-wide text-black sm:text-4xl lg:text-5xl"
        >
          {{- .Title -}}
        </h1>
      </div>
    </header>
  {{ end }}


  <section class="bg-s-0 pt-4 font-sans">
    {{ if or (.Content) (.Page.Params.subhed) }}
      <div
        class="mx-auto max-w-screen-lg px-5 pb-10 text-lg font-medium lg:px-0"
      >
        {{ with .Page.Params.subhed }}
          <h2 class="mb-5 text-5xl font-black uppercase">{{ . }}</h2>
        {{ end }}
        {{ with .Content }}
          <div class=" article-content">
            {{ . }}
          </div>
        {{ end }}
      </div>
    {{ end }}
    {{ with .Page.RenderString (.Param "newsletter") }}
      <div class=" font-sans">
        {{ . }}
      </div>
    {{ end }}

    {{ .Page.RenderString (.Param "testimonials-group") }}


    <article
      class=" article-content mx-auto max-w-screen-xl py-24 px-5 font-sans md:grid md:grid-cols-12 md:grid-rows-[auto_1fr] md:gap-y-3 md:gap-x-5"
    >
      {{ .Page.RenderString (.Param "supplemental") }}
      {{ .Page.RenderString (.Param "credit") }}
    </article>

    {{ range $i, $blocks := .Params.blocks }}
      {{ $id := urlize .title }}
      <div
        id="{{ $id }}"
        x-data
        x-intersect.half="$dispatch('intersect:support', $el.id)"
        data-ga-category="blocks"
        class=" w-full bg-s-0"
      >
        {{ partial "blocks/block" (dict
          "Page" $
          "block" .
          )
        }}
      </div>
    {{ end }}
    <div class="py-9">
      {{ .Page.RenderString (.Param "supporters") }}
    </div>
  </section>
{{ end }}

{{ define "before-footer" }}
  {{ with .Page.RenderString (.Param "donate") }}
    <div class=" bg-white font-sans">
      {{ . }}
    </div>
  {{ else }}
    {{ partialCached "tw/promo-footer.html" (dict
      "wrapperClass" "bg-white pt-2 pb-14 hidden")
    }}
  {{ end }}

{{ end }}
