{{ define "body-class" }}
  text-[16px] bg-beige font-sans leading-normal text-s-9
{{ end }}
{{ define "html-class" -}}
  scroll-smooth
{{- end }}

{{ define "static-head" }}
  {{ partial "header/css-tw-rale.html" . }}
  {{ partialCached "header/static-tw.html" . }}
{{ end }}

{{ define "main" }}
  <header class="bg-s-0 pt-8 md:pb-4 px-3 text-black">
    <div class="mx-auto max-w-screen-lg">
      {{ partial "tw/breadcrumbs.html" . }}
    </div>
    <div class="mx-auto w-full max-w-screen-lg">
      <h1
        class="mb-2 text-3xl sm:text-4xl font-sans font-bold leading-tight tracking-wide text-black lg:text-5xl"
      >
        {{- .Title -}}
      </h1>
    </div>
  </header>
  <section class="font-sans bg-s-0 pt-4">
    {{ if or (.Content) (.Page.Params.subhed) }}
      <div
        class="mx-auto max-w-screen-lg text-lg font-medium pb-10 px-5 lg:px-0"
      >
        {{ with .Page.Params.subhed }}
          <h2 class="font-black text-5xl mb-5 uppercase">{{ . }}</h2>
        {{ end }}
        {{ with .Content }}
          <div class=" article-content">
            {{ . }}
          </div>
        {{ end }}
      </div>
    {{ end }}
    {{ with .Page.RenderString (.Param "newsletter") }}
      <div class=" font-sans">
        {{ . }}
      </div>
    {{ end }}

    {{ .Page.RenderString (.Param "testimonials-group") }}

    {{ range $i, $blocks := .Params.blocks }}
      {{ $id := urlize .title }}
      <div
        id="{{ $id }}"
        x-data
        x-intersect.half="$dispatch('intersect:support', $el.id)"
        data-ga-category="blocks"
        class=" w-full bg-s-0"
      >
        {{ partial "blocks/block" (dict
          "Page" $
          "block" .
          )
        }}
      </div>
    {{ end }}
    <div class="py-9">
      {{ .Page.RenderString (.Param "supporters") }}
    </div>
  </section>
{{ end }}

{{ define "before-footer" }}
  {{ with .Page.RenderString (.Param "donate") }}
    <div class=" font-sans bg-white">
      {{ . }}
    </div>
  {{ else }}
    {{ partialCached "tw/promo-footer.html" (dict
      "wrapperClass" "bg-white pt-2 pb-14 hidden")
    }}
  {{ end }}

{{ end }}
