{{ define "main" }}
  <section class="bg-black pb-6">
    <div
      class="mx-auto w-full max-w-screen-xl flex-wrap gap-4 px-4 pt-16 md:gap-x-6 md:px-0 lg:gap-x-12"
    >
      {{ with .Param "eyebrow" }}
        <div class="mx-auto w-full md:w-7/12">
          <p
            class="ga:component:main:header:eyebrow text-small inline-block border-2 border-white bg-white px-2 font-sans font-semibold uppercase text-black md:text-lg"
          >
            {{ . }}
          </p>
        </div>
      {{ end }}


      <h1
        class="mx-auto mt-4 w-full pb-2 font-serif text-3xl font-semibold leading-tight text-white sm:text-4xl md:w-7/12 lg:text-5xl"
      >
        {{ .Title }}
      </h1>

      {{ $byline := .Param "byline" }}
      {{ $outlet := .Param "outlet" | default "Spotlight PA" }}
      {{ $bylineLink := "" }}

      {{ with .Param "authors" }}
        {{ if len . | eq 1 }}
          {{ $name := index . 0 }}
          {{ $author := partial "helper/get-author" $name }}
          {{ if $author.link }}
            {{ $bylineLink = $author.link }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if $byline }}
        <div
          class="mx-auto mt-4 w-full text-lg leading-none text-white md:w-7/12 lg:text-xl"
        >
          <span class="font-sans">
            by
            {{ if $bylineLink }}
              <a
                href="{{ $bylineLink }}"
                class="font-semibold underline hover:text-yellow"
              >
                {{ $byline }}
              </a>
            {{ else }}
              <span class="font-semibold">{{ $byline }}</span>
            {{ end }}
            of
            {{ $outlet }}
          </span>
        </div>
      {{ end }}


      <div class="mx-auto w-full md:w-7/12">
        {{ partial "tw/horizontal-social-buttons.html" . }}
      </div>

      {{ with .Param "deck" }}
        <div class="mx-auto mt-4 w-full md:w-7/12">
          <p class="font-serif text-xl text-white md:text-2xl md:leading-tight">
            {{ . }}
          </p>
        </div>
      {{ end }}

      {{ with .Param "search-instructions" }}
        <div class="mx-auto mt-8 w-full md:w-7/12">
          <p
            class="font-serif text-xl italic text-white md:text-2xl md:leading-tight"
          >
            {{ . }}
          </p>
        </div>
      {{ end }}


      <div class="mx-auto mt-6 w-full md:w-7/12">
        {{ partial "blocks/search.html" (dict
          "placeholder" (default "Search restaurants" (.Param "search-placeholder"))
          "showLocation" (.Param "search-location")
          "context" .
          )
        }}
      </div>

      <div x-data="{ view: 'list' }" class="mx-auto mt-4 w-full md:w-7/12">
        <div
          class="flex w-full overflow-hidden rounded border-[3px] border-yellow-5"
        >
          <button
            @click="view = 'list'"
            :class="view === 'list' 
            ? 'bg-yellow' 
            : 'bg-white'"
            class="w-1/2 border-r-[3px] border-yellow py-2 pl-4 pr-12 text-center font-sans text-2xl font-bold text-yellow-9 transition-colors duration-200"
          >
            List
          </button>

          <button
            @click="view = 'map'"
            :class="view === 'map' 
            ? 'bg-yellow' 
            : 'bg-white'"
            class="w-1/2 py-2 pl-4 pr-12 text-center font-sans text-2xl font-bold text-yellow-9 transition-colors duration-200"
          >
            Map
          </button>
        </div>
      </div>

      <div
        class="mx-auto flex w-full max-w-screen-xl flex-wrap md:px-0"
        data-ga-category="content"
      >
        <div
          class="mx-auto w-full overflow-hidden pb-4 font-serif leading-relaxed md:w-7/12"
        >
          {{ with .Param "dek" }}
            <h2
              class="mx-auto w-0 min-w-full text-xl text-white md:text-2xl md:leading-tight"
            >
              {{ . }}
            </h2>
          {{ end }}
        </div>
      </div>
    </div>
  </section>

  {{ partial "blocks/mobile-scroll.html" . }}


  <section class="bg-white" data-ga-category="about">
    <div class="mx-auto w-full max-w-screen-xl px-4 py-6 md:px-0">
      <div class="mx-auto w-full space-y-8 md:w-7/12">
        <div>
          <h2 class="font-sans text-2xl font-bold text-black md:text-3xl">
            {{ .Param "about-title" }}
          </h2>
          <p class="pt-4 font-serif leading-relaxed text-black">
            {{ .Param "about-description" }}
          </p>
        </div>

        <div>
          <h2 class="font-sans text-2xl font-bold text-black md:text-3xl">
            {{ .Param "questions-title" }}
          </h2>
          <p class="pt-4 font-serif leading-relaxed text-black">
            {{ .Param "questions-description" }}
          </p>
        </div>

        <div>
          <h2 class="font-sans text-2xl font-bold text-black md:text-3xl">
            {{ .Param "tips-title" }}
          </h2>
          <p class="pt-4 font-serif leading-relaxed text-black">
            {{ .Param "tips-description" }}
          </p>
        </div>
      </div>
    </div>
  </section>

  {{ with .Page.RenderString (.Param "credits") }}
    <section
      class="bg-white"
      id="credits"
      data-ga-category="credits"
      x-data
      x-intersect.half="$dispatch('intersect:about', $el.id)"
    >
      <div class="mx-auto w-full max-w-screen-xl px-4 py-6 md:px-0">
        <div class="mx-auto w-full md:w-7/12">
          <h2
            class="w-full border-b border-black font-sans text-2xl font-extrabold capitalize leading-tight tracking-wide md:text-3xl"
          >
            Credits
          </h2>

          <div class="space-y-8 py-6">
            {{ . }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
