{{ define "extra-main" }}
  <section
    class="section columns has-background-white-ter"
    data-ga-category="staff"
  >
    <div class="column is-three-fifths is-offset-one-fifth">
      {{ range sort .Site.Data.authors "lastName" }}
        {{ $author := partial "helper/get-author" .name }}
        {{ if $author.active }}
          <div
            id="{{ $author.slug }}"
            class="card block"
          >
            <div class="card-content">
              <div class="media">
                {{ if $author.thumb }}
                  <div class="media-left is-hidden-mobile">
                    <figure class="image is-128x128">
                      <img
                        src="{{ $author.thumb }}"
                        alt="Photo of {{ $author.name }}"
                        class="is-rounded"
                        >
                    </figure>
                  </div>
                {{ end }}
                <div class="media-content">
                  {{ if $author.thumb }}
                    <div class="is-hidden-tablet has-text-centered">
                      <div class="is-inline-block">
                        <figure class="image is-128x128">
                          <img
                            src="{{ $author.thumb }}"
                            alt="Photo of {{ $author.name }}"
                            class="is-rounded"
                            >
                        </figure>
                      </div>
                    </div>
                  {{ end }}

                  {{ if $author.link }}
                    <p class="title is-3" data-ga-category="author-articles">
                      <a href="{{ $author.link }}">{{ $author.name }}</a>
                    </p>
                  {{ else }}
                    <p class="title is-3">{{ $author.name }}</p>
                  {{ end }}
                  <p class="subtitle is-4">{{ $author.title }}</p>
                  <p class="subtitle is-5 has-text-break-all">
                    {{ with $author.email }}
                      <span class="icon has-text-link">
                        <svg>
                          <use xlink:href="#email-svg"></use>
                        </svg>
                      </span>
                      <a
                        data-ga-category="author-email"
                        href="mailto:{{ . }}"
                      >
                        {{ . }}
                      </a>
                    {{ end }}
                    {{ with (and $author.email $author.twitter) }}
                    <br>
                    {{ end }}
                    {{ with $author.twitter }}
                      <span class="icon has-text-link">
                        <svg>
                          <use xlink:href="#twitter-svg"></use>
                        </svg>
                      </span>
                      <a
                        data-ga-category="author-twitter"
                        href="https://www.twitter.com/{{ . }}"
                      >
                        @{{ . }}
                      </a>
                    {{ end }}
                  </p>
                </div>
              </div>
              <div class="content" data-ga-category="author-bio">
                {{ $author.content|markdownify }}
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}
