{{ define "body-class" }}
  text-[16px] bg-beige font-sans leading-normal text-s-9
{{ end }}
{{ define "html-class" -}}
  scroll-smooth
{{- end }}
{{ define "static-head" }}
  {{ partialCached "header/static-tw.html" . }}
  {{ partial "header/css-tw-rale.html" . }}


  <link
    rel="modulepreload"
    href="{{ partialCached `helper/get-enhancements` . }}"
  />

  {{ partial "header/favicons.html" . }}
  {{ partial "header/feeds.html" . }}
{{ end }}

{{ define "header" }}
  <header data-ga-category="header">
    {{ block "nav" . }}
      {{ partialCached "tw/nav.html" . }}
    {{ end }}
    {{ block "promo" . }}
      {{ partialCached "tw/promo-header.html" . }}
    {{ end }}
  </header>
{{ end }}

{{ define "main" }}
  <header class="bg-black py-14 px-3 text-white">
    <div
      class="mx-auto max-w-screen-xl items-center md:min-h-[110px] gap-y-3 gap-x-5 md:grid md:grid-cols-12"
    >
      <h1
        class="uppercase font-serif text-[45px] leading-none col-span-5 col-start-2 row-span-1 row-start-1 font-black"
      >
        {{ .Title }}
      </h1>
      <div
        class="font-raleway col-span-5 col-start-7 row-start-1 text-xl font-medium mt-3 md:mt-0"
      >
        {{ .Description }}
      </div>
    </div>
  </header>
  <section class="font-raleway bg-s-0">
    <div
      class="mx-auto max-w-screen-lg text-lg font-medium  py-14 px-5 lg:px-0"
    >
      {{ with .Page.Params.subhed }}
        <h2 class="font-black text-5xl mb-5 uppercase">{{ . }}</h2>
      {{ end }}
      {{ with .Content }}
        <div class=" article-content">
          {{ . }}
        </div>
      {{ end }}
    </div>
    {{ with .Page.RenderString (.Param "newsletter") }}
      <div class=" font-sans">
        {{ . }}
      </div>
    {{ end }}

        {{ with .Page.RenderString (.Param "supplemental") }}
          {{ . }}
    {{ end }}

    {{ range $i, $blocks := .Params.blocks }}
      {{ $id := urlize .title }}
      <div
        id="{{ $id }}"
        x-data
        x-intersect.half="$dispatch('intersect:support', $el.id)"
        data-ga-category="blocks"
        class=" w-full bg-s-1"
      >
        {{ partial "blocks/block" (dict
          "Page" $
          "block" .
          )
        }}
      </div>
    {{ end }}
    {{ .Page.RenderString (.Param "supporters") }}

  </section>
{{ end }}

{{ define "before-footer" }}
    {{ with .Page.RenderString (.Param "donate") }}
      <div class=" font-sans bg-white">
        {{ . }}
      </div>
    {{ else }}
    {{ partialCached "tw/promo-footer.html" (dict
    "wrapperClass" "bg-white pt-2 pb-14 hidden")
  }}
    {{ end }}

{{ end }}

{{ define "footer" }}
  <div id="footer" data-sf-campaign="701f4000000TVuIAAW">
    {{ partial "tw/footer.html" . }}
  </div>
{{ end }}

{{ define "modal" }}
  {{ if .Param "modal-exclude" | not }}
    {{ if .Param "sticky-active" }}
      {{ partialCached "tw/modal-sticky.html" . }}
    {{ end }}
    {{ if .Param "newsletter-active" }}
      {{ partialCached "tw/modal-newsletter.html" . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "search-modal" }}
  {{ partial "tw/modal-search.html" . }}
{{ end }}

{{ define "svg-resources" }}
  {{ $svgs := dict
    "leaders-in-action" "/img/logos/leaders-in-action.svg"
    "banner-svg" "/img/logos/banner-default-on-trans.svg"
    "bars-svg" "@fontawesome/solid/bars.svg"
    "calendar-svg" "@fontawesome/regular/calendar-check.svg"
    "close-svg" "@fontawesome/solid/circle-xmark.svg"
    "email-svg" "@fontawesome/regular/envelope.svg"
    "fb-svg" "@fontawesome/brands/facebook-f.svg"
    "logo-svg" "/img/logos/circle-default-on-trans.svg"
    "search-svg" "@fontawesome/solid/magnifying-glass.svg"
    "share-svg" "@fontawesome/solid/share.svg"
    "spinner-svg" "@fontawesome/solid/spinner.svg"
    "times-svg" "@fontawesome/solid/xmark.svg"
    "twitter-svg" "@fontawesome/brands/twitter.svg"
    "email-svg" "/img/icons/envelope-with-letter.svg"
    "ticket-svg" "/img/icons/ticket-stub.svg"
    "right-svg" "@fontawesome/solid/circle-arrow-right.svg"
    "left-svg" "@fontawesome/solid/circle-arrow-left.svg"
  }}
  {{ partial "header/svgs.html" $svgs }}
{{ end }}
