{{ define "body-class" }}
  text-[16px] bg-beige font-serif leading-normal text-s-9
{{ end }}

{{ define "body-attributes" }}
  data-sf-campaign="701Dn000000Ygq1IAC" data-sf-theme="statecollege"
{{ end }}

{{ define "main" }}
  <div data-sf-campaign="701Dn000000Ygp6IAC">
    {{ partial "tw/main-transparency-tracker.html" . }}
  </div>
{{ end }}

{{ define "before-footer" }}
  {{ partialCached "tw/donate-prefill-lg.html" (dict
    "donateHed" "Support Spotlight PA in State College"
    "donateCta" "Give Today"
    "donateCampaign" "701Dn000000YgqCIAS"
    "donateTheme" "statecollege"
    "donateAmounts" "10,15,25"
    )
  }}
{{ end }}
