{{ $answer := .Get "answer" }}
{{ $id := .Get "id" }}
{{ $header := .Get "header" }}

{{ $candidateSrc := page.Param "candidateSrc" | default "candidates2024" }}
{{ $data := index site.Data $candidateSrc }}
{{ $name := "" }}
{{ $party := "" }}
{{ $image := "" }}

{{ range $candidate := $data }}
  {{ if eq $candidate.id $id }}
    {{ $name = $candidate.name }}
    {{ $partyShort := $candidate.party }}
    <!-- TODO: fix if we have third parties -->
    {{ $party = "" }}
    {{ if eq $partyShort "rep" }}
      {{ $party = "Republican" }}
    {{ else if eq $partyShort "dem" }}
      {{ $party = "Democrat" }}
    {{ end }}
    {{ $image = $candidate.image }}
    {{ break }}
  {{ end }}
{{ end }}


<li
  class="mx-auto my-2 flex w-full flex-wrap items-center justify-stretch gap-3 rounded-lg px-2 py-2 odd:bg-g-2"
>
  {{ if $image }}
    <picture class="min-h-full w-7 bg-g-3 md:w-11">
      <img
        class="min-h-full min-w-full rounded object-cover"
        alt="Picture of {{ $name }}"
        src="{{ $image }}"
        loading="lazy"
      />
    </picture>
  {{ end }}
  {{ with $header }}
    <div class="flex w-full flex-1 flex-col justify-end">
      <h3 class="text-lg font-bold leading-none">{{ . }}</h3>
    </div>
  {{ end }}
  {{ if or $name $party }}
    <div class="flex w-full flex-1 flex-col justify-end">
      {{ with $name }}
        <h3 class="text-lg font-bold leading-none">{{ . }}</h3>
      {{ end }}
      {{ with $party }}
        <p class="mt-1 text-base leading-none text-g-8">{{ . }}</p>
      {{ end }}
    </div>
  {{ end }}
  {{ with $answer }}
    {{ if ( eq $answer "Yes") }}
      <div
        class="flex w-20 justify-center rounded border-2 border-election-green-darker bg-election-green px-5 py-1 text-base font-bold uppercase text-g-1"
      >
        {{- . -}}
      </div>
    {{ else }}
      <div
        class="flex w-20 justify-center rounded border-2 border-yellow-5 bg-yellow px-5 py-1 text-base font-bold uppercase text-yellow-9"
      >
        {{- . -}}
      </div>
    {{ end }}
  {{ end }}
  {{ with .Inner }}
    <p class="w-full border-t-2 border-g-3 pt-1 text-lg italic text-g-8">
      {{ . }}
    </p>
  {{ end }}

</li>
