{{ $bgImg := resources.Get "/img/bgs/capitol-moody.jpeg" }}
{{ $bgImg = $bgImg.Resize "1200x" | fingerprint }}
{{ $idEmail := partial "helper/new-id" . }}
{{ $idFname := partial "helper/new-id" . }}
{{ $idLname := partial "helper/new-id" . }}<style>
#about-hero {
  background-image: url('{{ $bgImg.RelPermalink }}');
  background-position: 80%;
}
</style>
<section
  id="about-hero"
  class="hero has-bg-image is-on-gradient is-black has-background-link"
  data-ga-category="about-hero"
>
  <div class="about-container">
    <div class="block">
      <h1
        class="title has-text-white has-text-weight-bold is-size-1 is-size-2-mobile"
      >
        {{ .Title }}
      </h1>
    </div>
    <div class="about-subblock">
      <h2
        class="subtitle has-text-weight-light is-size-2 is-size-3-mobile block"
      >
        {{ .Param "subhed" }}
      </h2>
      <div class="notification has-background-black-ter">
        <form
          action="{{ .Param "newsletters-action" }}"
          method="post"
          target="_blank"
          data-ga-form="newsletters:investigator"
        >
          {{ partial "newsletter/investigator-hidden.html" . }}
          <h2
            class="title has-text-weight-medium is-uppercase has-text-centered is-size-3"
          >
            Sign up now for our weekly newsletter<span class="is-hidden-mobile"
              >,
              <em>The Investigator</em>
            </span>
          </h2>
          <div class="field">
            <label class="is-sr-only" for="{{ $idFname }}">First Name</label>
            <div class="control">
              <input
                id="{{ $idFname }}"
                class="input is-medium"
                type="text"
                name="FNAME"
                placeholder="First Name"
              />
            </div>
          </div>
          <div class="field">
            <label class="is-sr-only" for="{{ $idLname }}">Last Name</label>
            <div class="control">
              <input
                id="{{ $idLname }}"
                class="input is-medium"
                type="text"
                name="LNAME"
                placeholder="Last Name"
              />
            </div>
          </div>
          <div class="field">
            <label class="is-sr-only" for="{{ $idEmail }}">Email</label>
            <div class="control has-icons-left has-icons-right is-expanded">
              <input
                id="{{ $idEmail }}"
                class="input is-medium"
                type="email"
                name="EMAIL"
                placeholder="Email"
              />
              <span class="icon is-large is-left has-text-primary">
                <svg viewBox="0 0 1 1">
                  <use xlink:href="#email-svg"></use>
                </svg>
              </span>
              <span class="icon is-large is-right validator-icon">
                <svg viewBox="0 0 1 1">
                  <use xlink:href="#check-svg"></use>
                </svg>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control is-expanded">
              <button
                type="submit"
                class="button is-medium is-primary is-fullwidth"
              >
                Get Updates
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
