{{ $bgImg := resources.Get "/img/bgs/capitol-moody.jpeg" }}
{{ $bgImg = $bgImg.Resize "1200x" | fingerprint }}
<style>
#about-hero {
  background-image: url('{{ $bgImg.RelPermalink }}');
  background-position: 80%;
}
</style>
<section
  id="about-hero"
  class="hero has-bg-image is-on-gradient is-black has-background-link"
  data-ga-category="about-hero"
>
  <div class="about-container">
    <div class="block">
      <h1 class="title has-text-white has-text-weight-bold is-size-1 is-size-2-mobile">
        {{ .Title }}
      </h1>
    </div>
    <div class="about-subblock">
      <h2 class="subtitle has-text-weight-light is-size-2 is-size-3-mobile block">
        {{ .Param "subhed" }}
      </h2>
      <div class="notification has-background-black-ter">
        <form
          action="https://spotlightpa.us3.list-manage.com/subscribe/post?u=4f6d92afd9b3de3ddb48714b9&amp;id=0466df5ab5"
          method="post"
          target="_blank"
          data-ga-form="newsletters:investigator"
        >
          <input type="hidden" name="group[26457]" value="1">
          <p class="is-hidden" aria-hidden="true">
            <label>
              Don’t fill this out if you're human:
              <input type="text" name="b_4f6d92afd9b3de3ddb48714b9_0466df5ab5" tabindex="-1" value="">
            </label>
          </p>
          <h2 class="title has-text-weight-medium is-uppercase has-text-centered is-size-3">
            Sign up now for
            our weekly newsletter<span class="is-hidden-mobile">,
              <em>The Investigator</em>
            </span>
          </h2>
          <div class="field">
            <label class="is-sr-only" for="home-fname">First Name</label>
            <div class="control">
              <input
                id="home-fname"
                class="input is-medium"
                type="text"
                name="FNAME"
                placeholder="First Name"
              >
            </div>
          </div>
          <div class="field">
            <label class="is-sr-only" for="home-lname">Last Name</label>
            <div class="control">
              <input
                id="home-lname"
                class="input is-medium"
                type="text"
                name="LNAME"
                placeholder="Last Name"
              >
            </div>
          </div>
          <div class="field">
            <label class="is-sr-only" for="home-email">Email</label>
            <div class="control has-icons-left has-icons-right is-expanded">
              <input
                id="home-email"
                class="input is-medium"
                type="email"
                name="EMAIL"
                placeholder="Email"
              >
              <span class="icon is-large is-left has-text-primary">
                <svg>
                  <use xlink:href="#email-svg"></use>
                </svg>
              </span>
              <span class="icon is-large is-right validator-icon">
                <svg>
                  <use xlink:href="#check-svg"></use>
                </svg>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control is-expanded">
              <button
                type="submit"
                class="button is-medium is-primary is-fullwidth"
              >
                Get Updates
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
