{{ $link := .Param "banner-link" | absURL }}
{{ $bgColor := .Param "banner-bg-color" }}


<section
  class="has-background-warning has-radius-padding"
  data-ga-category="banner"
  data-sf-campaign="701Dn000000YgojIAC"
  {{ with $bgColor }}
    style="background-color: {{ . }} !important"
  {{ end }}
>
  {{ if $link }}
    <a href="{{ $link }}">
      {{ template "banner-content" . }}
    </a>
  {{ else }}
    {{ block "banner-content" . }}
      {{ $textColor := .Param "banner-text-color" }}
      <div
        class="is-size-3-fullscreen is-size-4 has-text-black has-text-centered"
        {{ with $textColor }}
          style="color: {{ . }} !important"
        {{ end }}
      >
        {{ .Param "banner" | markdownify }}
      </div>
    {{ end }}
  {{ end }}
</section>
