<div
  class="mt-4 plain-notification"
  data-ga-category="editors-pick"
  style="background-color: {{ .backgroundColor }};"
>
  <h2
    class="title is-size-5 is-size-4-mobile has-text-centered is-uppercase"
    style="color: {{ .labelColor }};"
  >
    {{ .label }}
  </h2>
  {{ $page := .page }}
  {{ $params := .params }}


  <article class="mb-5">
    {{ $name := $page.Param "image" }}
    {{ $credit := $page.Param "image-credit" }}
    {{ $description := $page.Param "image-description" }}
    {{ $imgOpts := dict
      "filename" $name
      "credit" $credit
      "description" $description
      "link" $params.link
      "widthRatio" 16
      "heightRatio" 9
      "sizeHint" "25vw"
      "gravity" ($page.Param "image-gravity")
    }}
    {{ partial "component/image-block.html" $imgOpts }}


    <h2 class="title is-4 is-spaced mt-2">
      <a
        class="hover-underline"
        style="color: {{ .linkColor }}"
        href="{{ $params.link }}"
        data-ga-category="hed"
      >
        {{ $page.LinkTitle }}
      </a>
    </h2>
    {{ if $params.byline }}
      <h3
        class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal"
      >
        <a
          href="{{ $params.link }}"
          style="color: {{ .linkColor }}"
          class="hover-underline"
          data-ga-category="byline"
        >
          by
          {{ $params.byline }}
        </a>
      </h3>
    {{ end }}
  </article>
</div>
