{{ define "footer-link" }}
  <li>
    <a
      href="{{ .URL }}"
      class="is-uppercase"
      {{ with .Params.dispatch }}
        x-data @click.prevent="$dispatch($el.dataset.dispatch)"
        data-dispatch="{{ . }}"
      {{ end }}
    >
      {{ .Name }}
    </a>
  </li>
{{ end }}


<section
  class="footer is-size-4"
  data-sf-campaign="701Dn000000YgovIAC"
  id="footer"
>
  <div class="container">
    <div class="columns">
      <div class="column is-3 content md:order-last" data-ga-category="who">
        <div
          x-data
          x-intersect.once="$report({ target: $el })"
          data-ga-action="view:footer"
        ></div>
        <p>
          <a
            class="button is-danger is-uppercase has-text-weight-semibold"
            href="/donate/"
            data-ga-category="donate"
            >❤&#65038; Support Us</a
          >
        </p>
        <p class="is-size-5 has-text-weight-semibold is-uppercase">
          100% Essential Reporting
        </p>
        <p>
          Spotlight PA relies on funding from
          <a class="has-text-warning" href="/support/"
            >foundations and readers like you</a
          >
          who are committed to accountability journalism that gets results.
        </p>
        <p>
          If you value this reporting, please give a gift today at
          <a class="has-text-warning" href="/donate/">spotlightpa.org/donate</a
          >.
        </p>
      </div>
      <div class="column is-3" data-ga-category="spotlightpa">
        <h3 class="has-text-weight-semibold is-uppercase">Spotlight PA</h3>
        <ul>
          {{ range .Site.Menus.footer }}
            {{ template "footer-link" . }}
          {{ end }}
        </ul>
      </div>
      <div class="column is-3" data-ga-category="about">
        <h3 class="has-text-weight-semibold is-uppercase">About</h3>
        <ul>
          {{ range .Site.Menus.about }}
            {{ template "footer-link" . }}
          {{ end }}
        </ul>
      </div>
      <div class="column is-3" data-ga-category="follow">
        <h3 class="has-text-weight-semibold is-uppercase">Follow Us</h3>
        <ul>
          {{ range .Site.Menus.social }}
            {{ template "footer-link" . }}
          {{ end }}
        </ul>
      </div>
    </div>
    <p>&nbsp;</p>
    <p class="has-text-centered is-size-5" data-ga-category="cdn">
      &copy; {{ now.Format "2006" }}<br />
      Spotlight PA<br />
      228 Walnut St., #11728<br />
      Harrisburg, PA 17108-1728<br />
      <br />
      <a href="/about/terms/" class="is-uppercase"> Terms of use </a>
      &nbsp;
      <a href="/about/privacy/" class="is-uppercase"> Privacy policy </a>
      <br />
      <a href="https://www.netlify.com/"> This site is powered by Netlify </a>
    </p>
  </div>
</section>
