{{ $nlBox := .page.Param "newsletter-box" |
  default "newsletter/multi-box.html"
}}
{{ $imageDescription := .page.Param "river-promo-description" }}
{{ $link := .page.Param "river-promo-link" }}
{{ $desktopImages := .page.Param "river-promo-desktop-images" }}
{{ $desktopWidth := .page.Param "river-promo-desktop-width" }}
{{ $desktopHeight := .page.Param "river-promo-desktop-height" }}
{{ $mobileImages := .page.Param "river-promo-mobile-images" }}
{{ $mobileWidth := .page.Param "river-promo-mobile-width" }}
{{ $mobileHeight := .page.Param "river-promo-mobile-height" }}


<section class="section {{ .marginClass }}" data-ga-category="homepage">
  <div class="container-hp" x-data="readmore(false)" x-ref="root">
    <div class="tile is-ancestor is-vertical">
      {{ if .featuredStories }}
        {{ partial "tile/featured.html" .featuredStories }}
      {{ end }}
      {{ if .pinnedStories }}
        <div class="tile" data-ga-category="pinned">
          {{ range $page := .pinnedStories }}
            <div class="tile is-parent is-4 has-margin-top-negative">
              <div class="tile is-child">
                {{ partial "tile/pinned.html" $page }}
              </div>
            </div>
          {{ end }}
        </div>
      {{ end }}
      <div x-data x-intersect.once="$dispatch('open-sticky')"></div>

      <div class="tile">
        <div class="tile is-2"></div>
        <div class="tile is-parent is-8">
          <div
            class="tile is-child"
            data-ga-category="midpage"
            x-data="funnelStatus"
          >
            <div x-show="!isSubscriber">
              {{ partial $nlBox . }}
            </div>
            <div data-ga-category="donate" x-cloak x-show="isSubscriber">
              {{ partial "component/donate-prefill.html" .page }}
            </div>
          </div>
        </div>
      </div>
      {{ if .river }}
        <div class="tile" @mouseover.once="load()" @touchstart.once="load()">
          <div class="tile is-parent is-top is-4" style="order: 2">
            <div class="tile is-child" data-ga-category="sidebar">
              <div data-ga-category="top" data-sf-campaign="7015G0000013oHLQAY">
                {{ partial "component/promo-single.html" (dict
                  "class" "mb-5 w-0 min-w-full no-js:hidden"
                  "images" (.page.Param "sidebar-top-images")
                  "width" (.page.Param "sidebar-top-width")
                  "height" (.page.Param "sidebar-top-height")
                  "link"  (.page.Param "sidebar-top-link")
                  "description"  (.page.Param "sidebar-top-description")
                  )
                }}
              </div>

              {{ partial "component/most-popular.html" dict }}
              {{ range .edPicks }}
                {{ if .page }}
                  {{ partial "component/editors-picks.html" . }}
                {{ end }}
              {{ end }}
              {{ if .page.Param "sidebar-sticky-images" }}
                <div
                  class="sticky"
                  data-ga-category="sticky"
                  data-sf-campaign="7015G0000013oHQQAY"
                  x-intersect="$dispatch('close-sticky')"
                >
                  {{ partial "component/promo-single.html" (dict
                    "class" "pt-5 w-0 min-w-full no-js:hidden"
                    "images" (.page.Param "sidebar-sticky-images")
                    "width" (.page.Param "sidebar-sticky-width")
                    "height" (.page.Param "sidebar-sticky-height")
                    "link" (.page.Param "sidebar-sticky-link")
                    "description" (.page.Param "sidebar-sticky-description")
                    )
                  }}
                </div>
              {{ end }}
            </div>
          </div>
          <div class="tile is-vertical is-8" style="order: 1">
            <div
              class="tile is-vertical"
              x-ref="archives"
              data-ga-category="river"
              data-sf-campaign="7015G0000013oHGQAY"
            >
              <div class="tile is-parent is-top">
                <div class="tile is-child">
                  <h2 class="title is-4 is-uppercase has-text-weight-semibold">
                    More top stories
                  </h2>
                  <hr class="is-emphatic-underline has-margin-top-negative" />
                </div>
              </div>
              {{ range $i, $page := .river | first 30 }}
                {{ partial "tile/river.html" $page }}

                {{ if eq (mod $i 4) 3 | and $desktopImages }}
                  <div
                    class="pt-0 px-0 tile is-parent"
                    data-ga-category="{{ div $i 4 | add 1 }}"
                  >
                    {{ partial "component/promo-double.html" (dict
                      "class" "w-0 min-w-full no-js:hidden"
                      "imageDescription" $imageDescription
                      "link" $link
                      "desktopImages" $desktopImages
                      "desktopWidth" $desktopWidth
                      "desktopHeight" $desktopHeight
                      "mobileImages" $mobileImages
                      "mobileWidth" $mobileWidth
                      "mobileHeight" $mobileHeight
                      )
                    }}
                  </div>
                {{ end }}
              {{ end }}

              {{ partial "tile/readmore.html" dict }}
              {{ if gt 30 (len .river) }}
                <div style="height: 100%;">&nbsp;</div>
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
      {{ if gt (len .river) 30 }}
        <div class="tile">
          <div class="tile is-parent">
            <div class="tile is-child has-text-centered">
              <a
                @click.prevent="click()"
                @mouseover.once="load()"
                @touchstart.passive.once="load()"
                data-ga-category="readmore"
                :data-ga-action='"readmore:load"'
                href="/news/"
                class="button is-primary is-medium is-uppercase has-text-weight-semibold"
                :class="loadingClass"
                :disabled="!canReadMore"
                >More Stories</a
              >
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
