{{ $imagename := .Param "image" }}
{{ $credit := .Param "image-credit" }}
{{ $description := .Param "image-description" }}
{{ $size := .Param "image-size" | default "inline" }}

{{ $imgOpts := dict
  "filename" $imagename
  "credit" $credit
  "description" $description
  "eager" true
}}
{{ if eq $size "inline" }}
  {{ $imgOpts = dict
    "widthRatio" 3
    "heightRatio" 2
    "sizeHint" "50vw"
    "figClass" "mb-5" | merge $imgOpts }}
{{ else if eq $size "letterbox" }}
  {{ $imgOpts = dict
    "widthRatio" 16
    "heightRatio" 9
    "sizeHint" "50vw"
    "figClass" "mb-5" | merge $imgOpts }}
{{ else if eq $size "full" }}
  {{ $imgOpts = dict
    "widthRatio" 16
    "heightRatio" 9
    "figClass" "is-full-bleed mb-5" | merge $imgOpts }}
{{ end }}
{{ if ne $size "hidden" }}
  {{ $imgOpts | partial "component/image-block.html" }}
{{ end }}
