{{ $news := site.GetPage "/news/_index.md" }}
{{ $featuredStories := partial "helper/get-picks" "featuredStories" }}
{{ if lt (len $featuredStories) 1 }}
  {{ $featuredStories = first 1 $news.RegularPages }}
{{ end }}
{{ $featuredStories = last 1 $featuredStories }}
{{ $topSlots := partial "helper/get-picks" "topSlots" }}

{{ $pages := $featuredStories | append $topSlots }}
{{ $paPost := site.GetPage "/newsletters/papost" }}
{{ $river := sort (union $paPost.RegularPages $news.RegularPages) ".PublishDate" "desc" }}
{{ $pages = union $pages $river }}
{{ $pages = after 1 $pages }}

{{ $hasPromo := .Param "promo-active" }}
{{ $marginClass := cond $hasPromo "has-margin-top-negative" "" }}

<section class="section {{ $marginClass }}" data-ga-category="homepage">
  <div
    class="container-hp"
    x-data="readmore"
    x-ref="root"
  >
    <div class="tile is-ancestor is-vertical">
      {{ partial "tile/featured.html" $featuredStories }}
      <div class="tile" data-ga-category="pinned">
        {{ range $page := first 3 $pages }}
          <div class="tile is-parent is-4 has-margin-top-negative">
            <div class="tile is-child">
              {{ partial "tile/pinned.html" $page }}
            </div>
          </div>
        {{ end }}
      </div>

      <div
        x-data="intersector"
        data-name='open-sticky'
      ></div>

      <div class="tile">
        <div class="tile is-2"></div>
        <div class="tile is-parent is-8">
          <div
            class="tile is-child"
            data-ga-category="midpage"
            x-data="funnel-status"
          >
            <div x-show="!isSubscriber">
              {{ partial "newsletter/multi-box.html" . }}
            </div>
            <div
              data-ga-category="donate"
              x-cloak
              x-show="isSubscriber"
            >
              {{ partial "component/donate-prefill.html" . }}
            </div>
          </div>
        </div>
      </div>
      {{ if gt (len $pages) 3 }}
        <div
          class="tile"
          @mouseover.once="load()"
          @touchstart.once="load()"
        >
          <div class="tile is-parent is-top is-4" style="order: 2">
            <div class="tile is-child">
              {{ partial "component/most-popular.html" dict }}
              {{ partial "component/editors-picks.html" dict }}
            </div>
          </div>
          <div
            class="tile is-vertical is-8"
            style="order: 1"
          >
            <div
              class="tile is-vertical"
              x-ref="archives"
              data-ga-category="river"
            >
              <div class="tile is-parent is-top">
                <div class="tile is-child">
                  <h2 class="title is-4 is-uppercase has-text-weight-semibold">
                    More top stories
                  </h2>
                  <hr class="is-emphatic-underline has-margin-top-negative">
                </div>
              </div>
              {{ range $page := after 3 $pages | first 20 }}
                {{ partial "tile/river.html" $page }}
              {{ end }}

              {{ partial "tile/readmore.html" dict }}
            </div>
            <div class="tile"></div>
          </div>
        </div>
      {{ end }}
      {{ if gt (len $pages) 23 }}
        <div class="tile">
          <div class="tile is-parent">
            <div class="tile is-child has-text-centered">
              <a
                @click.prevent="click()"
                @mouseover.once="load()"
                @touchstart.once="load()"
                data-ga-category="readmore"
                :data-ga-action='"readmore:load"'
                href="/news/"
                class="button is-primary is-medium is-uppercase has-text-weight-semibold"
                :class="loadingClass"
                :disabled="!canReadMore"
              >Read More</a>
            </div>
          </div>
        </div>
      {{ end }}
      <div class="tile" data-ga-category="promo">
        {{ partial "tile/promos.html" . }}
      </div>
    </div>
  </div>
</section>
