{{ define "image-block-picture" }}
  <picture class="has-ratio">
    <source
      type="image/webp"
      srcset="{{ .srcset }}"
      {{ if .sizeHint }}
        sizes="(min-width: 769px) {{ .sizeHint }}, 90vw"
      {{ end }}
    />
    <img
      alt="{{ .description }}"
      title="{{ .description }}"
      src="{{ .imgSmallSrc }}"
      {{ if not .eager }}
        loading="lazy" decoding="async"
      {{ end }}
    />
  </picture>
{{ end }}

{{ $widths := slice 300 480 640 800 960 1120 1280 1440 1600 1760 1920 2080 2240 2400 2560 }}
{{ if $imagename := .filename | default "2019/11/banner-white-on-capitol.jpeg" }}
  {{ $widthR := .widthRatio | default 16 }}
  {{ $heightR := .heightRatio | default 9 }}
  {{ $imgClass := printf "is-%dby%d" $widthR $heightR }}
  {{ $credit := .credit }}
  {{ $gravity := .gravity }}
  {{ $eager := .eager | default false }}

  {{ $sizes :=  partial "helper/build-sizes" (dict
    "widths" $widths
    "widthRatio" $widthR
    "heightRatio" $heightR
    )
  }}
  {{ $srcset := partial "helper/build-srcset" (dict
    "sizes" $sizes
    "filename" $imagename
    "gravity" $gravity
    )
  }}

  {{ $width := (index $sizes 0).width }}
  {{ $height := (index $sizes 0).height }}
  {{ $imgOpt := dict
    "filename" $imagename
    "width" $width
    "height" $height
    "gravity" $gravity
  }}
  {{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}


  <figure class="mt-1 {{ .figClass }}" data-ga-category="thumb">
    {{- if .link -}}
      <a
        class="image {{ $imgClass }} has-background-grey-lighter"
        href="{{ .link }}"
      >
        {{- template "image-block-picture" (dict
          "imgSmallSrc" $imgSmallSrc
          "srcset" $srcset
          "description" .description
          "sizeHint" .sizeHint
          "eager" $eager
          )
        -}}
      </a>
    {{- else -}}
      <div class="image {{ $imgClass }} has-background-grey-lighter">
        {{- template "image-block-picture" (dict
          "imgSmallSrc" $imgSmallSrc
          "srcset" $srcset
          "description" .description
          "sizeHint" .sizeHint
          "eager" $eager
          )
        -}}
      </div>
    {{- end -}}
    {{ with $credit }}
      <figcaption
        class="is-clearfix is-size-7 is-uppercase has-text-grey-light mt-1 w-full px-1 text-right font-sans text-xs uppercase leading-tight text-credit"
      >
        <span class="mt-2 is-single-spaced is-pulled-right">
          {{ $credit }}
        </span>
      </figcaption>
    {{ end }}
  </figure>
{{ end }}
