{{ $magicPixel := "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" | safeURL }}
{{ $padding := slice .width .height | partial "helper/aspect-ratio" }}


<span
  class="aspect-ratio-outer has-background-grey-lighter"
  style="width: {{ .width }}px;"
>
  <span
    class="aspect-ratio-middle"
    style="padding-bottom: {{ $padding | printf "%0.3f" }}%;"
  >
    <img
      class="aspect-ratio-inner"
      {{ if len .images | eq 1 }}
        src="{{ index .images 0 }}"
      {{ else }}
        x-data="imageRotator(JSON.parse($el.dataset.images))"
        data-images="{{ .images | jsonify }}" :src="choice"
        src="{{ $magicPixel }}"
      {{ end }}
      loading="lazy"
      alt="{{ .description }}"
      width="{{ .width }}"
      height="{{ .height }}"
    />
  </span>
</span>
