{{ $widths := slice 300 480 640 800 960 1120 1280 1440 1600 1760 1920 2080 2240 2400 2560 }}
{{ if $imagename := .filename | default "2019/11/banner-white-on-capitol.jpeg" }}
  {{ $widthR := .widthRatio | default 16 }}
  {{ $heightR := .heightRatio | default 9 }}
  {{ $imgClass := printf "is-%dby%d" $widthR $heightR }}
  {{ $credit := .credit }}
  {{ $eager := .eager | default false }}

  {{ $sizes := dict "widths" $widths "widthRatio" $widthR "heightRatio" $heightR | partial "helper/build-sizes" }}
  {{ $srcset := dict "sizes" $sizes "filename" $imagename | partial "helper/build-srcset" }}

  {{ $width := (index $sizes 0).width }}
  {{ $height := (index $sizes 0).height }}
  {{ $imgOpt := dict "filename" $imagename "width" $width "height" $height }}
  {{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}

  <figure class="{{ .figClass }}" data-ga-category="thumb">
    {{- if .link -}}
      <a
        class="image {{ $imgClass }} has-background-grey-lighter"
        href="{{ .link }}"
      >
    {{- else -}}
      <div class="image {{ $imgClass }} has-background-grey-lighter">
    {{- end -}}
      <picture class="has-ratio">
        {{ $isJPEG := in (string $srcset) ".jpeg" }}
        {{ if $isJPEG }}
          <source
            type="image/webp"
            srcset='{{ replace $srcset ".jpeg" ".webp" }}'
            {{ if .sizeHint }}
              sizes="(min-width: 769px) {{ .sizeHint }}, 90vw"
            {{ end }}
          >
        {{ end }}
        <img
          alt="{{ .description }}"
          title="{{ .description }}"
          src="{{ $imgSmallSrc }}"
          {{ if not $isJPEG }}
          srcset="{{ $srcset }}"
          {{ end }}
          {{ if not $isJPEG | and .sizeHint }}
            sizes="(min-width: 769px) {{ .sizeHint }}, 90vw"
          {{ end }}
          {{ if not $eager }}
            loading="lazy"
            decoding="async"
          {{ end }}
        >
      </picture>
    {{- if .link -}}
      </a>
    {{- else -}}
      </div>
    {{- end -}}
    {{ with $credit }}
      <figcaption class="is-clearfix is-size-7 is-uppercase has-text-grey-light">
        <span class="mt-2 is-single-spaced is-pulled-right">
          {{ $credit }}
        </span>
      </figcaption>
    {{ end }}
  </figure>
{{ end}}
