<style>
  @media (max-width: 760px) {
    .cta-body {
      padding: 32px 16px;
    }
  }
  @media (min-width: 760px) {
    .cta-body {
      padding: 32px 16vw;
    }
  }

  .cta-body {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    background: black;
    color: white;
    border-top:4px solid rgb(255, 203, 3);
  }
  .cta-body h2 {
    flex: 0 0 100%;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-transform:uppercase;
    font-family: "raleway";
    font-weight: 800;
  }
  .cta-body p {
    flex: 1 1 60%;
    margin-right: 20px;
  }
  .cta-body a {
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    background: rgb(255, 203, 3);
    border-radius: 4px;
    padding: 8px 16px;
  }
</style>
<div class="cta-body">
  <h2>Penn State Transparency Tracker</h2>
  <p>An ongoing effort by Spotlight PA to document and share the ways in which the university is, and is not, being transparent with the community.</p>
  <a href="/statecollege/transparency-tracker">See the tracker </a>
</div>