{{ $imgOpts := dict
  "filename" "2023/01/01hv-rnbb-kdh9-51jb.jpeg"
  "credit" ""
  "description" "Penn State Transparency Tracker"
  "eager" true
  "link" ""
  "widthRatio" 16
  "heightRatio" 9
  "gravity" ""
  "sizeHint" "40vw"
}}


<style>
  @media (max-width: 760px) {
    .cta-body {
      display: block;
      padding: 32px 16px;
      gap: 20px 12px;
    }
    .cta-body p {
      margin-bottom: 12px;
    }
  }
  @media (min-width: 760px) {
    .cta-body {
      padding: 32px 32px;
      gap: 12px 20px;
      display: grid;
      grid-template: 1fr auto auto / minmax(60px, 302px) minmax(200px, 444px) 218px;
      align-items: end;
      justify-content: center;
    }
    .cta-body p {
      grid-column: 2 / span 2;
      max-width: 550px;
    }
    .cta-body a {
      justify-self: start;
      grid-column: 2 / span 1;
      grid-row: 3;
    }
  }
  .cta-body,
  .cta-body:link,
  .cta-body:hover {
    background: black;
    color: white;
    border-top: 4px solid rgb(255, 203, 3);
  }
  .cta-body h2 {
    grid-column: 2 / span 2;
    line-height: 1;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "raleway";
    font-weight: 800;
  }
  .cta-body p {
    margin: 0 20px 0 0;
  }
  .cta-body span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    background: rgb(255, 203, 3);
    border-radius: 4px;
    padding: 8px 16px;
  }
  .cta-grfx {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    border-radius: 4px;
    overflow: hidden;
  }
</style>
<a href="/statecollege/transparency-tracker" class="cta-body">
  <div class="cta-grfx">
    {{ partial "component/image-block.html" $imgOpts }}
  </div>
  <h2>Holding Penn State Accountable</h2>
  <p>
    The Penn State Transparency Tracker is an ongoing effort by Spotlight PA to
    document and share the ways in which the university is, and is not, being
    transparent with the community.
  </p>
  <span>Visit the tracker</span>
</a>
