<style>
  @media (max-width: 760px) {
    .cta-body {
      margin: 1rem 32px 2rem;
      padding: 32px 16px;
    }
  }
  @media (min-width: 760px) {
    .cta-body {
      margin: 1rem auto 2rem;
      padding: 32px 16vw;
    }
  }

  .cta-body {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    background: black;
    color: white;
    border-radius: 4px;
    max-width: 1250px;
  }
  .cta-body h2 {
    flex: 0 0 100%;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-family: "raleway";
    font-weight: 800;
  }
  .cta-body p {
    flex: 1 1 60%;
    margin-right: 20px;
  }
  .cta-body a {
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    background: rgb(255, 203, 3);
    border-radius: 4px;
    padding: 8px 16px;
  }
</style>
<div class="cta-body">
  <h2>Visit the State College Transparency Tracker</h2>
  <p>
    Spotlight PA documents and shares the ways in which the university is, and
    is not, being transparent with the community.
  </p>
  <a href="/statecollege/transparency-tracker">See the tracker </a>
</div>
