{{ $logo := resources.Get .logo }}
{{ $logotype := .logotype }}
{{ $name := .name }}
{{ $url := .url }}
<div class="column is-narrow has-text-centered" data-ga-category="logos">
  <a
    href="{{ $url }}"
    title="{{ $name }}"
  >
    <span class="logo-column">
      {{ if eq $logotype "svg" }}
        <span class="is-sr-only">Logo for {{ $name }}</span>
        {{ $logo.Content| safeHTML }}
      {{ else }}
        {{ $logo = $logo.Resize "x128" | fingerprint }}
        <img
          src="{{ $logo.RelPermalink }}"
          alt="Logo for {{ $name }}"
          width="{{ $logo.Width }}"
          height="{{ $logo.Height }}"
          style="width: auto; height: 64px;"
        >
      {{ end }}
    </span>
  </a>
</div>
