<div
  class="box"
  x-data="mostPopular"
  x-show="hasLoaded"
  x-cloak
  data-ga-category="most-popular"
>
  <link
    rel="preload"
    as="fetch"
    crossorigin
    href="https://files.data.spotlightpa.org/feeds/most-popular-items.json"
    x-ref="mostPopSrc"
  />
  <h1 class="title is-size-5 is-size-4-mobile has-text-centered has-text-danger is-uppercase">Most Popular Stories</h1>
  <nav class="has-text-dark">
    <template x-for="(story, i) of stories">
      <a
        class="is-flex mt-5"
        :href="story.url_path"
        @click.capture="$report($event)"
      >
        <span
          class="is-size-2 has-text-grey-light has-text-weight-semibold"
          style="line-height: .75; padding-right: 1rem;"
          x-text="i + 1"
          data-ga-category="ranking"
        ></span>
        <span
          class="has-text-black hover-underline"
          data-ga-category="hed"
          x-text="story.link_title || story.title"
        ></span>
      </a>
    </template>
  </nav>
</div>
