<nav
  class="navbar"
  data-ga-category="header:navbar"
  data-sf-campaign="701f4000000TVu3AAG"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a
      href="/"
      class="navbar-item"
      data-ga-category="logo"
    >
      <span class="is-sr-only">Home</span>
      <svg viewBox="0 0 1024 190">
        <title>Home</title>
        <desc>Spotlight PA logo</desc>
        <use xlink:href="#logo-svg"></use>
      </svg>
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="#navbar-menu-items,.navbar-burger"
      data-ga-category="burger"
      data-ga-action="navbar:toggle"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbar-menu-items"
    class="navbar-menu"
  >
    <div class="navbar-end">
      {{ $thisPage := .Page }}
      {{ range .Site.Menus.main }}
        {{ $isActive := "" }}
        {{ if eq $thisPage.RelPermalink .URL }}
          {{ $isActive = "is-active" }}
        {{ end }}
        <a
          href="{{ .URL }}"
          class="navbar-item {{ .Pre }} {{ $isActive }}"
          data-ga-category="item"
        >
          {{ .Name }}
        </a>
      {{ end }}
      <a
        href="/search/"
        class="navbar-item"
        data-ga-category="search"
        :data-ga-action="'modal:search:open'"
        x-data
        @click.prevent="$dispatch('modal:search:open')"
      >
        <span class="is-uppercase is-hidden-desktop">Search</span>
        <span class="icon is-hidden-touch">
          <svg>
            <use xlink:href="#search-svg"></use>
          </svg>
        </span>
      </a>
      <span class="navbar-item">
        <a
          class="button is-danger is-uppercase has-text-weight-semibold"
          href="/donate/"
          data-ga-category="donate"
        >❤&#65038; Support Us</a>
      </span>
      <span class="navbar-item is-hidden-touch">&nbsp;</span>
    </div>
  </div>
  <div
    x-data
    x-intersect.once="$report({ target: $el })"
    data-ga-action="view:nav"
  ></div>
</nav>
