{{ $alt := index . "description" }}
{{ $link := index . "link" }}
{{ $wrapperClass := index . "class" | default "has-radius-padding has-text-centered no-js-hide" }}

{{ $images := index . "images" }}
{{ $width := index . "width" }}
{{ $height := index . "height" }}

{{ if $images }}
  <section
    class="{{ $wrapperClass }}"
    data-ga-category="promo-image"
  >
    <p>
      {{ with $link }}
        <a href="{{ . }}">
      {{ end }}
      {{ partial "component/image-aspect-ratio.html" (dict
        "images" $images
        "width" $width
        "height" $height
        "description" $alt
      )}}
      {{ with $link }}
        </a>
      {{ end }}
    </p>
  </section>
{{ end }}
