{{ $magicPixel := "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" | safeURL }}
{{ $imgDesktop := .Param "promo-image-desktop" }}
{{ $widthDesktop := .Param "promo-desktop-width" }}
{{ $heightDesktop := .Param "promo-desktop-height" }}
{{ $imgMobile := .Param "promo-image-mobile" }}

<section
  class="mt-5 pl-5 pr-5 has-radius-padding has-text-centered"
  style="margin-left: auto; margin-right: auto;"
  data-ga-category="promo-banner"
>
  <p>
    <a
      class="is-hidden-mobile"
      data-ga-action="https://www.spotlightpa.org/donate/"
      href="https://checkout.fundjournalism.org/memberform?org_id=spotlightpa&utm_source=www.spotlightpa.org&utm_medium=desktop&utm_campaign=promo-banner"
    >
      <img
        x-data="spl.imageRotator($el.dataset.images)"
        data-images="{{ $imgDesktop }}"
        :src="choice"
        src="{{ $magicPixel }}"
        alt="Donate to Spotlight PA now"
        style="width: {{ $widthDesktop }}px; height: {{ $heightDesktop }}px;"
        loading="lazy"
      >
    </a>
    <a
      class="is-hidden-tablet"
      data-ga-action="https://www.spotlightpa.org/donate/"
      href="https://checkout.fundjournalism.org/memberform?org_id=spotlightpa&utm_source=www.spotlightpa.org&utm_medium=mobile&banner&utm_campaign=promo-banner"
    >
      <img
        x-data="spl.imageRotator($el.dataset.images)"
        data-images="{{ $imgMobile }}"
        :src="choice"
        src="{{ $magicPixel }}"
        alt="Donate to Spotlight PA now"
        loading="lazy"
      >
    </a>
  </p>
</section>
