{{ $desktop := site.Param "footer-promo-desktop-images" }}
{{ $mobile := site.Param "footer-promo-mobile-images" }}
{{ if or $desktop $mobile }}
  <div class="no-js:hidden" data-sf-campaign="701Dn000000YgogIAC">
    {{ partial "component/promo-double.html" (dict
      "class" "mb-0 mb-6 px-5"
      "imageDescription" (site.Param "footer-promo-description")
      "link" (site.Param "footer-promo-link")
      "desktopImages" $desktop
      "desktopWidth" (site.Param "footer-promo-desktop-width")
      "desktopHeight" (site.Param "footer-promo-desktop-height")
      "mobileImages" $mobile
      "mobileWidth" (site.Param "footer-promo-mobile-width")
      "mobileHeight" (site.Param "footer-promo-mobile-height")
      )
    }}
  </div>
{{ end }}
