{{ $magicPixel := "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" | safeURL }}
{{ $alt := .Param "promo-image-caption" }}
{{ $link := .Param "promo-link" }}

{{ $imgDesktop := .Param "promo-image-desktop" }}
{{ $widthDesktop := .Param "promo-desktop-width" }}
{{ $heightDesktop := .Param "promo-desktop-height" }}
{{ $pbDesktop := div (mul 100.0 $heightDesktop) $widthDesktop }}

{{ $imgMobile := .Param "promo-image-mobile" }}

{{ $widthMobile := .Param "promo-mobile-width" }}
{{ $heightMobile := .Param "promo-mobile-height" }}
{{ $pbMobile := div (mul 100.0 $heightMobile) $widthMobile }}

<section
  class="mt-5 pl-5 pr-5 has-radius-padding has-text-centered no-js-hide"
  data-ga-category="promo-banner"
>
  <p>
    {{ with $link }}
      <a
        class="is-hidden-mobile"
        data-ga-category="desktop"
        href="{{ . }}"
      >
    {{ else }}
      <span class="is-hidden-mobile">
    {{ end }}
      <span
        class="aspect-ratio-outer"
        style="width: {{ $widthDesktop }}px;"
      >
        <span
          class="aspect-ratio-middle"
          style='padding-bottom: {{ $pbDesktop | printf "%0.3f" }}%;'
        >
          <img
            x-data="spl.imageRotator($el.dataset.images)"
            data-images="{{ $imgDesktop }}"
            :src="choice"
            src="{{ $magicPixel }}"
            alt="{{ $alt }}"
            title="{{ $alt }}"
            loading="lazy"
          >
        </span>
      </span>
    {{ with $link }}
      </a>
    {{ else }}
      </span>
    {{ end }}
    {{ with $link }}
      <a
        class="is-hidden-tablet"
        data-ga-category="mobile"
        href="{{ . }}"
      >
    {{ else }}
      <span class="is-hidden-tablet">
    {{ end }}
      <span
        class="aspect-ratio-outer"
        style="width: {{ $widthMobile }}px;"
      >
        <span
          class="aspect-ratio-middle"
          style='padding-bottom: {{ $pbMobile | printf "%0.3f" }}%;'
        >
          <img
            class="aspect-ratio-inner"
            x-data="spl.imageRotator($el.dataset.images)"
            data-images="{{ $imgMobile }}"
            :src="choice"
            src="{{ $magicPixel }}"
            alt="{{ $alt }}"
            title="{{ $alt }}"
            loading="lazy"
          >
        </span>
      </span>
    {{ with $link }}
      </a>
    {{ else }}
      </span>
    {{ end }}
  </p>
</section>
