{{ $magicPixel := "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" | safeURL }}
{{ $alt := .Param "promo-image-description" }}
{{ $link := .Param "promo-link" }}

{{ $imgDesktop := .Param "promo-desktop-images" }}
{{ $widthDesktop := .Param "promo-desktop-width" }}
{{ $heightDesktop := .Param "promo-desktop-height" }}
{{ $pbDesktop := div (mul 100.0 $heightDesktop) $widthDesktop }}

{{ $imgMobile := .Param "promo-mobile-images" }}

{{ $widthMobile := .Param "promo-mobile-width" }}
{{ $heightMobile := .Param "promo-mobile-height" }}
{{ $pbMobile := div (mul 100.0 $heightMobile) $widthMobile }}

<section
  class="mt-5 pl-5 pr-5 has-radius-padding has-text-centered no-js-hide"
  data-ga-category="header:promo-image"
  data-sf-campaign="701f4000000TVuEAAW"
>
  <p>
    {{ with $link }}
      <a
        class="is-hidden-mobile"
        data-ga-category="desktop"
        href="{{ . }}"
      >
    {{ else }}
      <span class="is-hidden-mobile">
    {{ end }}
      <span
        class="aspect-ratio-outer has-background-grey-lighter"
        style="width: {{ $widthDesktop }}px;"
      >
        <span
          class="aspect-ratio-middle"
          style='padding-bottom: {{ $pbDesktop | printf "%0.3f" }}%;'
        >
          <img
            x-data="imageRotator(JSON.parse($el.dataset.images))"
            data-images="{{ $imgDesktop | jsonify }}"
            :src="choice"
            src="{{ $magicPixel }}"
            alt="{{ $alt }}"
            title="{{ $alt }}"
            loading="lazy"
          >
        </span>
      </span>
    {{ with $link }}
      </a>
    {{ else }}
      </span>
    {{ end }}
    {{ with $link }}
      <a
        class="is-hidden-tablet"
        data-ga-category="mobile"
        href="{{ . }}"
      >
    {{ else }}
      <span class="is-hidden-tablet">
    {{ end }}
      <span
        class="aspect-ratio-outer has-background-grey-lighter"
        style="width: {{ $widthMobile }}px;"
      >
        <span
          class="aspect-ratio-middle"
          style='padding-bottom: {{ $pbMobile | printf "%0.3f" }}%;'
        >
          <img
            class="aspect-ratio-inner"
            x-data="imageRotator(JSON.parse($el.dataset.images))"
            data-images="{{ $imgMobile | jsonify }}"
            :src="choice"
            src="{{ $magicPixel }}"
            alt="{{ $alt }}"
            title="{{ $alt }}"
            loading="lazy"
          >
        </span>
      </span>
    {{ with $link }}
      </a>
    {{ else }}
      </span>
    {{ end }}
  </p>
</section>
