{{ with $related := . }}
  <nav
    class="columns is-centered mt-5"
    data-ga-category="related-content"
    x-data="readmore(true)"
    x-ref="root"
  >
    <div
      class="column is-three-fifths"
      x-ref="archives"
      @mouseover.once="load()"
      @touchstart.once="load()"
    >
      <div class="tile is-ancestor is-vertical">
        <div class="tile is-parent is-top">
          <div class="tile is-child">
            <h2 class="title is-4 is-uppercase has-text-weight-semibold">
              More Stories from Spotlight&nbsp;PA
            </h2>
            <hr class="is-emphatic-underline has-margin-top-negative" />
          </div>
        </div>
        {{ range $page := $related }}
          {{ partialCached "tile/archive.html" $page $page.RelPermalink }}
        {{ end }}
        {{ partial "tile/readmore.html" dict }}


        <div class="tile is-parent">
          <div class="tile is-child has-text-centered">
            <a
              @click.prevent="click()"
              @mouseover.once="load()"
              @touchstart.once="load()"
              :data-ga-action='"readmore:load"'
              href="/news/"
              class="button is-primary is-medium is-uppercase has-text-weight-semibold"
              :class="loadingClass"
              :disabled="!canReadMore"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
{{ end }}
