<form
  x-cloak
  x-data="searchArticles"
  @submit.prevent="document.activeElement.blur()"
  data-ga-category="search"
>
  <div class="field has-addons">
    <div class="control is-expanded has-icons-left">
      <input
        class="input"
        x-model.debounce.500ms="query"
        placeholder="Search Spotlight PA news…"
        :autofocus="isOpen"
      />
      <span class="icon is-large is-left">
        <svg viewBox="0 0 1 1">
          <use xlink:href="#search-svg"></use>
        </svg>
      </span>
    </div>
    <div class="control">
      <button
        class="button is-danger has-text-weight-semibold"
        :class="isLoading ? 'is-loading' : ''"
      >
        Search
      </button>
    </div>
  </div>
  <div class="field">
    <p x-show="resultsText" x-text="resultsText" class="help"></p>
    <template x-if="error">
      <div class="help is-danger">
        Could not load results. <span x-text="error.message"></span>
      </div>
    </template>
  </div>

  <div class="tile is-ancestor is-vertical mt-5">
    <template x-for="story in stories" :key="story.url">
      <article class="tile is-vertical is-bottom">
        <div class="tile">
          <div class="tile is-parent is-top">
            <div class="tile is-child">
              <h3
                class="tag is-square is-black is-uppercase has-text-weight-semibold mb-2"
                x-text="story.kicker"
              ></h3>
            </div>
          </div>
        </div>
        <div class="tile is-bottom">
          <div class="tile is-parent is-4 is-top-tablet">
            <div class="tile is-child">
              <figure>
                <a
                  :href="story.url"
                  @click="$report($event)"
                  class="image is-16by9 has-background-grey-lighter"
                  data-ga-category="thumb"
                >
                  <picture class="has-ratio">
                    <img
                      :alt="story.imageDescription"
                      :title="story.imageDescription"
                      :data-src="story.imageSource"
                      :src="magicPixel"
                      @load="loadImage($event)"
                      loading="lazy"
                    />
                  </picture>
                </a>
                <figcaption
                  class="is-clearfix is-size-7 is-uppercase has-text-grey-light"
                >
                  <span
                    class="mt-2 is-single-spaced is-pulled-right"
                    x-text="story.imageCredit"
                  ></span>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="tile is-parent is-8 is-bottom-tablet">
            <div class="tile is-child">
              <h2 class="title is-spaced is-4 mt-2-tablet">
                <a
                  :href="story.url"
                  @click="$report($event)"
                  class="has-text-black hover-underline"
                  data-ga-category="hed"
                  x-text="story.title"
                ></a>
              </h2>
              <h3
                class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal"
                x-show="story.byline"
              >
                <a
                  :href="story.url"
                  @click="$report($event)"
                  class="has-text-grey hover-underline"
                  data-ga-category="byline"
                  x-template="by ${story.byline}"
                ></a>
              </h3>
              <h3
                class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal"
              >
                <a
                  :href="story.url"
                  @click="$report($event)"
                  class="has-text-grey hover-underline"
                  data-ga-category="time"
                >
                  <time :datetime="story.publishedISO" x-text="story.published">
                  </time>
                </a>
              </h3>
            </div>
          </div>
        </div>
      </article>
    </template>
  </div>
</form>

<form
  action="https://www.google.com/search?hl=en&q=site%3Aspotlightpa.org"
  target="_blank"
  class="no-js:block"
>
  <input type="hidden" name="q" value="site:spotlightpa.org" />
  <div class="field has-addons">
    <div class="control is-expanded has-icons-left">
      <input class="input" name="q" placeholder="Search Spotlight PA news…" />
      <span class="icon is-large is-left">
        <svg viewBox="0 0 1 1">
          <use xlink:href="#search-svg"></use>
        </svg>
      </span>
    </div>
    <div class="control">
      <button class="button is-danger has-text-weight-semibold">Search</button>
    </div>
  </div>
</form>
