{{ $emailBody := printf "Read this from Spotlight PA\n\n%s\n%s\n\n%s" .LinkTitle .Description .Permalink }}
{{ $emailSubject := .LinkTitle }}


<div class="buttons" data-ga-category="social-buttons">
  <a
    href="mailto:?subject={{ $emailSubject }}&amp;body={{ $emailBody }}"
    class="button is-success"
    title="Share this page by email"
    data-ga-action="share:email"
  >
    <span class="icon has-text-white has-colored-svg">
      <svg viewBox="0 0 1 1">
        {{ partial "helper/svg.html" "email" }}
      </svg>
    </span>
  </a>
  <button
    class="button is-primary"
    data-share="facebook"
    data-ga-action="share:facebook"
    title="Share this page on Facebook"
  >
    <span class="icon has-text-white has-colored-svg">
      <svg viewBox="0 0 1 1">
        {{ partial "helper/svg.html" "fb" }}
      </svg>
    </span>
  </button>
  <button
    class="button is-info"
    data-share="tweet"
    data-share-text="{{ .LinkTitle }} from @spotlightpa"
    data-ga-action="share:twitter"
    title="Tweet about this page"
  >
    <span class="icon has-text-white has-colored-svg">
      <svg viewBox="0 0 1 1">
        {{ partial "helper/svg.html" "twitter" }}
      </svg>
    </span>
  </button>
  <button
    class="button is-danger"
    data-share="sharesheet"
    data-share-text="Read “{{ .LinkTitle }}” from Spotlight PA"
    data-ga-action="share:sharesheet"
    title="More ways to share this page"
    x-data
    x-show="!! navigator.share"
    x-cloak
  >
    <span class="icon has-text-white has-colored-svg">
      <svg viewBox="0 0 1 1">
        {{ partial "helper/svg.html" "share" }}
      </svg>
    </span>
  </button>
</div>
