{{ $defaultBody := `We believe everyone in Pennsylvania should have access to this kind of unique, in-depth, and essential public-service journalism regardless of what they can afford. That’s why we don’t have a paywall on our site, charge a subscription fee, or clutter our articles with ads that have nothing to do with our state. <b>Instead, we use the honor system.</b>

  We are doubling down on the idea that if we ask our readers to contribute what you think we’re worth, we can build a sustainable business model for independent news. If you learned something from this report, if you were surprised, outraged, or simply feel more informed, will you <b>pay it forward and make a contribution to Spotlight PA now?</b>`
}}


<aside
  class="my-5 support-wrapper"
  data-ga-category="inline:support"
  data-sf-campaign="7015G000001IRJCQA4"
>
  <a href="/donate/" class="is-flex">
    <div
      class="support-content"
      x-data="{ bgSwap: Math.random() > 0.5 }"
      :style="!bgSwap ? 'background-color: #fff1bd' : 'background-color: #e5f6ff'"
    >
      <h3 class="support-header">
        {{ .Page.Param "support-hed" | default "…we have a small favor to ask" }}
      </h3>
      <div class="support-p">
        {{ .Page.Param "support-text" | default $defaultBody | markdownify }}
      </div>
      <div class="mt-6 has-text-centered">
        <span class="button is-danger has-text-weight-semibold is-uppercase">
          {{ .Page.Param "support-cta" | default "Support Spotlight PA »" }}
        </span>
      </div>
    </div>
  </a>
</aside>
