<aside
  class="my-5 support-wrapper"
  data-ga-category="inline:support"
  data-sf-campaign="7015G000001IRJCQA4"
>
  <a
    href="/donate/"
    class="is-flex"
  >
    <div
      class="support-content"
      x-data="{ bgSwap: Math.random() > 0.5 }"
      :style="!bgSwap ? 'background-color: #fff1bd' : 'background-color: #e5f6ff'"
    >
      <h3 class="support-header">
        …we have a small favor to ask
      </h3>
      <p class="support-p">
        We’re reaching out today to ask for your help with our Spring membership drive. This membership drive is one of the key ways we raise funds to support our public-service journalism throughout the year, and to keep our critical reporting free for those who can’t afford to pay for it.
        <strong>
          And for a limited time only, all contributions will be matched dollar-for-dollar up to $15,000.
        </strong>
      </p>
      <p class="support-p">
        If you believe in the work we do, will you <strong>pay it forward and support Spotlight PA today?</strong>
      </p>
      <div class="mt-6 has-text-centered">
        <span class="button is-danger has-text-weight-semibold is-uppercase">
          Support Spotlight PA »
        </span>
      </div>
    </div>
  </a>
</aside>
