{{ $featured := index . 0 }}
{{ $featuredParams := partialCached "helper/page-params" $featured.Page $featured.RelPermalink }}
{{ $titleClass := cond (gt (countwords $featured.Title) 2) "is-size-1" "is-size-0" }}


<section
  class="section has-background-black has-text-white has-text-weight-semibold"
  data-ga-category="homepage:topper"
>
  <div class="container-hp">
    <div class="tile is-ancestor is-vertical">
      <div class="tile is-parent pb-0">
        <div class="tile is-child">
          <h2 class="is-flex has-text-weight-semibold">
            <span
              aria-hidden="true"
              class="icon has-text-warning is-inline-flex is-align-self-center"
              style="position: relative; margin-top: -.125rem"
            >
              <span
                class="icon has-text-warning is-inline-flex is-align-self-center animate-ping"
                style="position: absolute; top: 0; bottom: 0; left: 0; right: 0"
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                  <circle cx="50" cy="50" r="35" fill="currentColor" />
                </svg>
              </span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="35" fill="currentColor" />
              </svg>
            </span>
            <span class="is-uppercase">
              {{ $featuredParams.extendedKicker }}
            </span>
          </h2>
          <h1
            class="title is-spaced {{ $titleClass }} is-size-2-touch mt-4 sm:mt-2 has-text-centered"
          >
            <a
              href="{{ $featured.RelPermalink }}"
              class="has-text-white hover-underline"
              data-ga-category="hed"
            >
              {{ $featured.LinkTitle }}
            </a>
          </h1>
        </div>
      </div>
      <div class="pt-0 px-0 tile is-parent">
        <div class="pb-0 tile is-parent">
          <div class="tile is-child">
            {{ $heroName := $featured.Page.Param "image" }}
            {{ $heroCredit := $featured.Page.Param "image-credit" }}
            {{ $heroDescription := $featured.Page.Param "image-description" }}
            {{ $imgOpts := dict
              "filename" $heroName
              "credit" $heroCredit
              "description" $heroDescription
              "eager" true
              "link" $featured.RelPermalink
              "widthRatio" 16
              "heightRatio" 9
              "sizeHint" "40vw"
            }}
            {{ partial "component/image-block.html" $imgOpts }}
          </div>
        </div>
        <div class="pb-0 tile is-parent">
          <div class="tile is-child has-text-weight-normal">
            <h2 class="mb-0 subtitle is-4 has-text-white">
              {{ $featuredParams.blurb }}
            </h2>
            {{ if $featuredParams.byline }}
              <h3 class="mt-3 subtitle is-4 has-text-weight-semibold">
                <a
                  href="{{ $featured.RelPermalink }}"
                  class="has-text-white"
                  data-ga-category="byline"
                >
                  by
                  {{ $featuredParams.byline }}
                </a>
              </h3>
            {{ end }}
            {{ if gt (len .) 1 }}
              <ul class="is-size-4 has-text-warning related">
                {{ range after 1 . }}
                  <li class="mt-3 leading-tight">
                    <a
                      href="{{ .RelPermalink }}"
                      class="has-text-white hover-underline"
                      data-ga-category="subfeature"
                    >
                      {{ .LinkTitle }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
