<!doctype html>
<html lang="{{ .Param "language-code" | default site.LanguageCode }}">
  <head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{- with .Param "title-tag" -}}
      <title>{{ . }}</title>
    {{- else -}}
      <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    {{- end -}}

    {{ partial "header/meta.html" . }}
    {{ partial "header/google-analytics-meta.html" . }}


    <!-- TODO: Add basic analytics -->
  </head>
  {{ $pageCat := printf "%s:%s" (.Section | default .Type) .Kind }}
  {{ if eq .Kind "home" }}{{ $pageCat = "home " }}{{ end }}
  <body data-page-cat="{{ $pageCat }}:blank" data-ga-category="featured">
    {{ .Content }}
    {{ partial "header/ld-json.html" . }}
  </body>
</html>
