{{ define "body-class" }}
  w-screen overflow-x-hidden font-serif
{{ end }}
{{ define "html-class" -}}
  scroll-smooth
{{- end }}

{{ define "body-attributes" }}
  data-ga-category="featured" data-fru-campaign="via-the-longform-template"
{{ end }}

{{ define "header" }}
  <header data-ga-category="header">
    {{ block "banner" . }}
      {{ if .Param "banner-active" }}
        {{ partialCached "tw/banner.html" . }}
      {{ end }}
    {{ end }}
    {{ block "nav" . }}
      {{ partial "tw/nav.html" . }}
    {{ end }}
    {{ block "promo" . }}
      {{ partial "tw/promo-header.html" (dict) }}
    {{ end }}
  </header>
{{ end }}

{{ define "main" }}
  {{ partial "tw/main-court-tool.html" . }}
{{ end }}
