<!DOCTYPE html>
<html lang='{{ .Param "language-code" | default site.LanguageCode }}'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{- with .Param "title-tag" -}}
      {{- . -}}
    {{- else -}}
      {{ .Title }} &middot; {{ .Site.Title }}
    {{- end -}}
  </title>

  {{ partial "header/meta.html" . }}
  {{ partial "header/google-analytics-async.html" . }}

  {{ range .AlternativeOutputFormats }}
    <link
      rel="{{ .Rel }}"
      type="{{ .MediaType.Type }}"
      href="{{ .Permalink | safeURL }}"
      title="{{ $.Title }}"
    />
  {{ end }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
  {{ $cssReset := resources.Get "featured/reset.css" }}
  {{ $cssMain := resources.Get "featured/styles.css" }}
  {{ $css := slice $cssReset $cssMain | resources.Concat "css/featured.css" }}
  {{ $css = $css | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">

  {{ $gfont := `https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap` }}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preload" as="style" href="{{ $gfont }}" />
  <link
    rel="stylesheet"
    href="{{ $gfont }}"
    media="print"
    onload="this.media='all'"
  />
  <noscript>
    <link rel="stylesheet" href="{{ $gfont }}" />
  </noscript>

  <script
    nomodule
    src='{{ partialCached "helper/get-nomodules-js" . }}'
    async
  ></script>
  <script
    src='{{ partialCached "helper/get-enhancements" . }}'
    type="module"
    async
    onerror="Array.from(document.querySelectorAll('script[nomodule]')).forEach(el=>{ let newEl = document.createElement('script'); newEl.src = el.src; document.head.append(newEl); });"
  ></script>
</head>
{{ $pageCat := printf "%s:%s" (.Section | default .Type) .Kind }}
{{ if eq .Kind "home" }}{{ $pageCat = "home "}}{{ end }}
<body
  data-ga-label='{{ $pageCat }}:featured'
  data-ga-category="featured"
  class="feature"
>
  {{ .Content }}


  <footer class="global__footer" data-ga-category="footer">
      <div class="global__footer__content">
        <div
          class="global__footer__link__column"
          data-ga-category="spotlightpa"
        >
          <h5>Spotlight Pa</h5>
          <ul class="list_unstyled">
            {{ range .Site.Menus.footer }}
              <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
        <div
          class="global__footer__link__column"
          data-ga-category="about"
        >
          <h5>About</h5>
          <ul class="list_unstyled">
            {{ range .Site.Menus.about }}
              <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
        <div
          class="global__footer__link__column"
          data-ga-category="follow"
        >
          <h5>Follow Us</h5>
          <ul class="list_unstyled">
            {{ range .Site.Menus.social }}
              <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
        <div class="global__footer__brand__column">
          <img src="https://interactives.data.spotlightpa.org/2020/featured-template-exp/banner-white-on-trans.svg" class="img__logo" />
          <div class="">
            <p>
              <i class="far fa-copyright"></i> <span x-data="{ now: new Date()}" x-text="now.getFullYear()">2020</span>
            </p>
            <p>
            Spotlight PA
            </p>
            <p>
            225 Market St Suite 502A
            </p>
            <p>
            Harrisburg PA 17101
            </p>
          </div>
        </div>
      </div>
  </footer>

  <section
    class="window-sticker"
    :class="stickyClass"
    x-data="spl.sticky()"
    x-init="init()"
    x-show="isOpen"
    x-transition:enter="slide-left-enter-active"
    x-transition:enter-start="slide-left-enter"
    x-transition:leave="slide-left-enter-active is-active"
    x-transition:leave-end="slide-left-enter"
    @open-sticky.window="show()"
    data-ga-category="modal:sticky"
  >
    <div class="window-sticker-grid">
      <a
        class="window-sticker-content"
        @click.capture="close()"
        href="/donate/"
      >
        <div class="spotlight__sticker__tout">
          <h6 class="text__yellow">Donate</h6>
          <p>
            Spotlight PA provides essential journalism with support from readers like you. Help shine a light on injustice and hold the powerful to account by becoming a monthly donor now.
          </p>
          <button class="btn btn__yellow">Donate Now</button>
        </div>
      </a>
      <button
        type="button"
        class="close-btn"
        aria-label="close"
        @click="close"
        x-ref="close"
        tabindex="-1"
      >
        <i class="fa fa-times"></i>
      </button>
    </div>
  </section>
</body>
</html>
