<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    {{- with .Param "title-tag" -}}
      {{- . -}}
    {{- else -}}
      {{ .Title }} &middot; {{ .Site.Title }}
    {{- end -}}
  </title>

  {{ partial "header/meta.html" . }}
  {{ partial "header/google-analytics-async.html" . }}

  {{ range .AlternativeOutputFormats }}
    <link
      rel="{{ .Rel }}"
      type="{{ .MediaType.Type }}"
      href="{{ .Permalink | safeURL }}"
      title="{{ $.Title }}"
    />
  {{ end }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
  {{ $cssReset := resources.Get "featured/reset.css" }}
  {{ $cssMain := resources.Get "featured/styles.css" }}
  {{ $css := slice $cssReset $cssMain | resources.Concat "css/featured.css" }}
  {{ $css = $css | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">

  {{ $gfont := `https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap` }}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preload" as="style" href="{{ $gfont }}" />
  <link
    rel="stylesheet"
    href="{{ $gfont }}"
    media="print"
    onload="this.media='all'"
  />
  <noscript>
    <link rel="stylesheet" href="{{ $gfont }}" />
  </noscript>

  {{ $jsOpts := dict "minify" true "targetPath" "/@src/featured.js" }}
  {{ $js := resources.Get "featured/slide-in.js" }}
  {{ $js = $js | js.Build $jsOpts | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="module"></script>
</head>
<body class="feature">
  {{ .RawContent | safeHTML }}
</body>
</html>
