{{ define "extra-main" }}
  {{ $iconEmail := resources.Get "/img/fontawesome/regular/envelope.svg" }}
  {{ $iconTwitter := resources.Get "/img/fontawesome/brands/twitter.svg" }}

  <section class="section has-background-white-ter">
    <div class="columns is-multiline is-desktop">
      {{ range .Site.Data.profiles.profiles }}
        <div class="column is-one-third-desktop">
          <div class="card">
            <div class="card-content">
              <div class="media">
                {{ $imgRes := printf "img/headshots/%s.jpeg" (urlize .name) }}
                {{ $imgLoc := printf "assets/%s" $imgRes }}
                {{ if fileExists $imgLoc | and false }}
                  {{ $img := resources.Get $imgRes }}
                  {{ $img = $img.Fill "192x192" | fingerprint }}
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img
                        src="{{ $img.RelPermalink }}"
                        alt="Photo of {{ .name }}"
                        >
                    </figure>
                  </div>
                {{ end }}
                <div class="media-content">
                  <p class="title is-4">{{ .name }}</p>
                  <p class="subtitle is-5">{{ .title }}</p>
                </div>
              </div>
              <div class="media">
                <div class="media-content">
                  <p class="subtitle is-6">
                    <span class="icon has-text-link">
                      {{ $iconEmail.Content|safeHTML }}
                    </span>
                    <a href="mailto:{{.email}}">
                      {{.email}}
                    </a>
                    {{ with .twitter }}
                      <br>
                      <span class="icon has-text-link">
                        {{ $iconTwitter.Content|safeHTML }}
                      </span>
                      <a href="https://www.twitter.com/{{ . }}">
                        @{{ . }}
                      </a>
                    {{ end }}
                  </p>
                </div>
              </div>

              <div class="content">
                {{ .content|markdownify }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
