{{ define "extra-main" }}
  <section class="section has-background-white-ter">
    <div class="columns is-multiline is-desktop">
      {{ range .Site.Data.profiles.profiles }}
        <div class="column is-one-third-desktop">
          <div class="card">
            {{ $imgRes := printf "img/headshots/%s.jpeg" (urlize .name) }}
            {{ $imgLoc := printf "assets/%s" $imgRes }}
            {{ if fileExists $imgLoc | and (not true) }}
              {{ $img := resources.Get $imgRes }}
              {{ $img = $img.Fit "600x450" | fingerprint }}
              <div class="card-image">
                <figure class="image is-4by3">
                  <img
                    src="{{ $img.RelPermalink }}"
                    alt="Photo of {{ .name }}"
                  >
                </figure>
              </div>
            {{ end }}
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{ .name }}</p>
                  <p class="subtitle is-5">{{ .title }}</p>
                  <p class="subtitle is-6">
                    <a href="mailto:{{.email}}">
                      {{.email}}
                    </a>
                    {{ with .twitter }}
                      <br>
                      <a href="https://www.twitter.com/{{ . }}">
                        @{{ . }}
                      </a>
                    {{ end }}
                  </p>
                </div>
              </div>

              <div class="content">
                {{ .content|markdownify }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
