.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #cfcfcf;
}

.carousel-arrow {
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

.carousel-arrow svg {
  fill: #ffffff;
  stroke: #2e2e2e;
  stroke-width: 4px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.carousel-arrow.left-arrow {
  left: 5px;
}

.carousel-arrow.right-arrow {
  right: 5px;
}

.carousel-arrow svg {
  fill: #ffffff;
}

.carousel-title {
  font-size: 38px;
  color: #ffffff;
  font-weight: bold;
}

@media (max-width: 980px) {
  .carousel-title {
    font-size: 32px;
  }
}

.carousel-tagline {
  font-size: 12px;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  width: fit-content;
  padding: 8px;
}

.carousel-text {
  color: #fff;
}

.carousel-text::first-letter {
  font-size: 48px;
  float: left;
  margin-right: 5px;
  line-height: 1;
  margin-top: -7px;
}

.read-the-series a {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  background-color: #fff;
  text-align: center;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.read-the-series a svg {
  margin-left: 10px;
}

.carousel-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 450px;
}

.carousel-item {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.carousel-blurb {
  z-index: 2;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 25px 25px 70px;
}

.carousel-right-half {
  flex: 1;
  position: relative;
  z-index: 2;
  background: transparent;
}

.carousel-grid {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 15px;
}

@media (max-width: 780px) {
  .carousel-item {
    flex-direction: column;
  }

  .carousel-blurb {
    order: 1;
    padding: 80px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
  }

  .carousel-right-half {
    order: 2;
    display: none;
  }

  .carousel-photo {
    object-fit: cover;
  }

  .carousel-text::first-letter {
    font-size: 32px;
    float: none;
    margin-right: 0;
  }

  .read-the-series a {
    padding: 10px 20px;
  }
}

@media (max-width: 495px) {
  .carousel-blurb {
    padding: 40px;
  }

  .carousel-arrow svg {
    height: 3rem;
  }

  .carousel-arrow.left-arrow {
    left: -11px;
  }

  .carousel-arrow.right-arrow {
    right: -11px;
  }
}

@media (max-width: 425px) {
  .carousel-title {
    font-size: 28px;
  }

  .carousel-content {
    height: 600px;
  }

  .carousel-blurb {
    padding: 40px 50px;
  }
}

.bottom-bar {
  background: #424242;
  width: 100%;
  height: 170px;
  position: relative;
}

.bottom-bar-boxes-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 35px;
  right: 35px;
  height: 130px;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 2;
  scrollbar-width: none;
}

.bottom-bar-boxes-container::-webkit-scrollbar {
  display: none;
}

.impact-boxes-wrapper {
  display: inline-flex;
  gap: 20px;
}

.impact-box {
  width: 400px;
  height: 130px;
  display: flex;
  flex: 0 0 auto;
  cursor: pointer;
}

.impact-box-photo {
  width: 400px;
  height: 100%;
  position: relative;
}

.impact-box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.impact-box-image.active {
  transition: opacity 0.3s ease;
  opacity: 0.4;
}

.impact-box-text-container {
  width: 100%;
}

.impact-box-text-container.active {
  transition: background-color 0.3s ease;
  opacity: 0.4;
}

.impact-box-tag {
  text-transform: uppercase;
  font-size: 13px;
  background-color: black;
  font-weight: bold;
  color: #fff;
  width: fit-content;
  padding: 1px 5px;
  margin-left: 10px;
}

.impact-box-text {
  font-size: 13px;
  padding: 5px 0px 0px 10px;
  color: #fff;
  white-space: normal;
}

.bottom-bar-gradient-box {
  position: absolute;
  top: 0;
  width: 75px;
  height: 100%;
  z-index: 3;
}

.left-gradient-box {
  left: 35px;
  background: linear-gradient(
    to right,
    rgba(66, 66, 66, 1) 0%,
    rgba(66, 66, 66, 1) 30%,
    rgba(66, 66, 66, 0) 100%
  );
}

.right-gradient-box {
  right: 35px;
  background: linear-gradient(
    to right,
    rgba(66, 66, 66, 0) 0%,
    rgba(66, 66, 66, 1) 70%,
    rgba(66, 66, 66, 1) 100%
  );
}
