@tailwind base;

html {
  font-size: 17px;
}

.drop-cap:first-letter {
  float: left;
  font-size: 4.25rem;
  line-height: 1;
  padding-top: .25rem;
  padding-right: .5rem;
  padding-left: .25rem;
}

/*! purgecss start ignore */
[x-cloak] {
  display: none;
}
.no-js-only {
  display: none;
}
.has-old-js .no-js-only {
  display: block;
}
.has-old-js .no-js-hide {
  display: none;
}
/*! purgecss end ignore */

.content-area > p a {
  @apply text-darkblue underline;
  @apply transition-colors duration-500;
}

.content-area > p a:hover {
  @apply text-yellow;
}

.content-area > p del {
  @apply text-orange line-through;
}

.content-area > :where(p, aside, figure, ol, ul) + :where(p, ol, ul),
.content-area > :where(ol, ul) > li + li,
.content-area > :where(ol, ul) > li > p + p,
.content-area > p + p,
.content-area > aside + p,
.content-area > figure + p {
  @apply mt-8;
}

.content-area > h3 {
  @apply font-sans italic text-3xl mt-4 mb-8 leading-8;
}

.content-area > ul {
  @apply list-disc pl-6;
}

.content-area > ol {
  @apply list-decimal pl-6;
}


@responsive {
  .shape-outside {
    shape-outside: border-box;
  }
}

.content-aside > p {
  @apply leading-relaxed;
}

.content-aside a {
  @apply text-darkblue underline;
  @apply transition-colors duration-500;
}

.content-aside a:hover {
  @apply text-yellow;
}

.content-aside > ul {
  @apply list-disc list-inside;
}
.content-aside > ol {
  @apply list-decimal list-inside;
}

@screen sm {
  .content-aside > ul {
    @apply list-outside;
  }
  .content-aside > ol {
    @apply list-outside;
  }
}

.content-aside > h1,
.content-aside > h2,
.content-aside > h3,
.content-aside > h4 {
  @apply uppercase font-bold text-lg leading-none;
}

.content-aside > * + h1,
.content-aside > * + h2,
.content-aside > * + h3,
.content-aside > * + h4 {
  @apply mt-8;
}

.content-aside > * + * ,
.content-aside ul > li + li,
.content-aside ol > li + li {
  @apply mt-3;
}

.bg-key {
  background-image: url("/featured/img/icon__key__graphic.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150px;
}

.bg-info {
  background-image: url("/featured/img/icon__info__graphic.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150px;
}

.bg-pullquote {
  background-image: url("/featured/img/quote__graphic.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100px;
}

.snap-x {
  scroll-snap-type: x mandatory
}

.snap-center {
  scroll-snap-align: center;
}

.custom-scrollbar {
  scrollbar-color: transparent transparent;
  scroll-behavior: smooth;
}

.custom-scrollbar:hover {
  scrollbar-color: #f5f5f5 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply h-2 bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  @apply bg-g-3;
}


@tailwind components;

@tailwind utilities;

@responsive {
  .block-important {
    display: block !important;
  }
}
