@tailwind base;

.base-16 {
  font-size: 16px;
}

.base-17 {
  font-size: 17px;
}

.drop-cap:first-letter {
  float: left;
  font-size: 4.25rem;
  line-height: 1;
  padding-top: .25rem;
  padding-right: .5rem;
  padding-left: .25rem;
}

/*! purgecss start ignore */
[x-cloak] {
  display: none;
}
.no-js-only {
  display: none;
}
.has-old-js .no-js-only {
  display: block;
}
.has-old-js .no-js-hide {
  display: none;
}
/*! purgecss end ignore */

.featured-content > p a {
  @apply text-darkblue underline;
  @apply transition-colors duration-500;
}

.featured-content > p a:hover {
  @apply text-yellow;
}

.featured-content > p del {
  @apply text-orange line-through;
}

.featured-content > :where(p, aside, figure, ol, ul) + :where(p, ol, ul),
.featured-content > :where(ol, ul) > li + li,
.featured-content > :where(ol, ul) > li > p + p,
.featured-content > p + p,
.featured-content > aside + p,
.featured-content > figure + p {
  @apply mt-8;
}

.featured-content > h2 {
  @apply mt-8 mb-2 font-sans text-4xl font-semibold leading-tight;
}

.featured-content > h3 {
  @apply mt-4 mb-8 font-sans text-3xl italic leading-none;
}

.featured-content > h4 {
  @apply mt-8 mb-4 font-sans text-lg font-semibold leading-tight;
}

.featured-content > h5 {
  @apply mt-6 mb-2 text-base font-semibold leading-tight;
}

.featured-content > h6 {
  @apply mt-4 mb-1 text-base italic leading-tight;
}

.featured-content > ul {
  @apply list-disc pl-6;
}

.featured-content > ol {
  @apply list-decimal pl-6;
}

.article-content > :where(p, aside, figure, ol, ul) {
  @apply mt-4 mb-4;
}

.article-content > :first-child {
  @apply mt-0;
}

.article-content > :last-child {
  @apply mb-0;
}

.article-content > h2 {
  @apply mt-8 mb-4 text-2xl font-semibold leading-tight;
}

.article-content > h3 {
  @apply mt-8 mb-4 text-xl font-semibold leading-tight;
}

.article-content > h4 {
  @apply mt-8 mb-4 text-lg font-semibold leading-tight;
}

.article-content > h5 {
  @apply mt-8 mb-4 text-base font-semibold leading-tight;
}

.article-content > h6 {
  @apply mt-8 mb-4 text-base italic leading-tight;
}

.article-content > ul {
  @apply list-disc pl-6;
}

.article-content > ol {
  @apply list-decimal pl-6;
}

.article-content > p a {
  @apply text-darkblue underline;
  @apply transition-colors duration-500;
}

.article-content > p a:hover {
  @apply text-yellow;
}

.article-content > p del {
  @apply text-orange line-through;
}


@responsive {
  .shape-outside {
    shape-outside: border-box;
  }
}

.content-aside > p {
  @apply leading-relaxed;
}

.content-aside a {
  @apply text-darkblue underline;
  @apply transition-colors duration-500;
}

.content-aside a:hover {
  @apply text-yellow;
}

.content-aside > ul {
  @apply list-disc list-inside;
}
.content-aside > ol {
  @apply list-decimal list-inside;
}

@screen sm {
  .content-aside > ul {
    @apply list-outside;
  }
  .content-aside > ol {
    @apply list-outside;
  }
}

.content-aside > h1,
.content-aside > h2,
.content-aside > h3,
.content-aside > h4 {
  @apply uppercase font-bold text-lg leading-none;
}

.content-aside > * + h1,
.content-aside > * + h2,
.content-aside > * + h3,
.content-aside > * + h4 {
  @apply mt-8;
}

.content-aside > * + * ,
.content-aside ul > li + li,
.content-aside ol > li + li {
  @apply mt-3;
}

.bg-key {
  background-image: url("/featured/img/icon__key__graphic.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150px;
}

.bg-info {
  background-image: url("/featured/img/icon__info__graphic.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150px;
}

.bg-pullquote {
  background-image: url("/featured/img/quote__graphic.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100px;
}

.snap-x {
  scroll-snap-type: x mandatory
}

.snap-center {
  scroll-snap-align: center;
}

.custom-scrollbar {
  scrollbar-color: transparent transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: #f5f5f5 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply h-2 bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  @apply bg-g-3;
}

.backdrop-fallback {
  background-color: rgba(0, 0, 0, 0.75);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-fallback {
    background: revert;
  }
}

@tailwind components;

@tailwind utilities;

@responsive {
  .block-important {
    display: block !important;
  }
}

.text-shadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
