@import 'bulma.sass';

.is-capitol {
    background-image: url("/img/capitol-bw.jpeg");
    background-size: cover;
    background-position: center;
    * {
        color: white;
        text-shadow: #222 0 0 5px;
    }
    strong {
        color: $primary;
    }
}
