$spotlight-lightblue: #99d9f1;
$spotlight-lightblue-trans: rgba(0, 160, 220, 0.4);
$spotlight-darkblue: rgba(0, 158, 219, 1);

$primary: $spotlight-darkblue;
$link: $spotlight-darkblue;
$info: $spotlight-lightblue;
$black-ter: hsla(0, 0%, 14%, 0.8);

$footer-background-color: hsl(0, 0%, 7%);
$footer-color: hsl(0, 0%, 96%);

$navbar-height: 5rem;

$size-1: 3.5rem;
$weight-light: 400;
$weight-normal: 500;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 900;
$family-sans-serif: "Raleway", Helvetica, Arial, sans-serif;

body {
  // Responsive wrap fallback
  max-width: 100vw;
  overflow-x: hidden;
  // Footer at viewport bottom
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > footer {
    margin-top: auto;
  }
}

@import "fonts.scss";
@import "bulma.sass";

.has-bg-image {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.is-blurred::before {
    background: inherit;
    content: "";
    filter: blur(4px);
    height: 104%;
    left: -2%;
    position: absolute;
    top: -2%;
    width: 104%;
  }
  &.is-on-gradient::before {
    content: "";
    background: linear-gradient(hsla(0, 0, 0, 0.5) 50%, hsla(0, 0, 0, 0));
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  &.is-on-gradient > * {
    z-index: 2;
  }
}

.has-spotlight-bold strong {
  color: $primary;
  font-weight: $weight-bold;
}

.has-radius-padding {
  padding: $radius;
}

.has-margin-bottom {
  margin-bottom: 2rem !important;
}

.has-emphatic-underline {
  border-bottom: 2px solid $grey-light;
  display: inline-block;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.icon svg {
  fill: currentColor;
  height: 1em;
}

.input:valid:not(:placeholder-shown) ~ .validator-icon {
  color: $success !important;
}

.input:invalid:not(:placeholder-shown) ~ .validator-icon {
  visibility: hidden;
}

.custom-container {
  max-width: 700px;
  margin: 5rem auto 5rem 5rem;

  @media (max-width: 800px) {
    max-width: none;
    margin: 2rem;
  }
  @media (max-width: 600px) {
    max-width: none;
    margin: 1rem;
  }
}

.custom-box2 {
  max-width: 500px;
  @media (max-width: 800px) {
    max-width: none;
  }
}
