@import "tailwindcss";
@config "./tailwind.config.js";
@source "hugo_stats.json";
@layer base {
  @import "./font-merri.css";
}
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility float-offset {
  shape-outside: inset(var(--fo-offset-height) 0 0 0);
  padding-top: calc(var(--fo-offset-height) + var(--fo-padding-top));
}

@utility text-shadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

@utility sideways-heading {
  @apply flex justify-end;
  transform: rotate(180deg);
  text-orientation: mixed;
  writing-mode: vertical-rl;
}

@utility contain-content {
  contain: layout paint style inline-size;
}

@layer components {
  /* Workaround for the sticky nav obscuring #anchor links. */
  /* Just push the scroll margin of all id="" elements down by 85px, */
  /* which is approximately enough for mobile and desktop. */
  /* Individual items can override the default scroll-margin if necessary. */
  /*! purgecss start ignore */
  [id] {
    @apply scroll-mt-[100px];
  }
  /*! purgecss end ignore */

  .featured-content > p a {
    @apply text-navy underline;
    @apply transition-colors duration-500;
  }

  .featured-content > p a:hover {
    @apply text-yellow;
  }

  .featured-content > p del {
    @apply text-orange line-through;
  }

  .featured-content
    > :where(p, aside, figure, form, ol, ul)
    + :where(p, ol, ul),
  .featured-content > :where(ol, ul) > li + li,
  .featured-content > :where(ol, ul) > li > p + p,
  .featured-content > p + p,
  .featured-content > aside + p,
  .featured-content > figure + p {
    @apply mt-8;
  }

  .featured-content > h2 {
    @apply mt-8 mb-2 font-sans text-4xl leading-tight font-semibold;
  }

  .featured-content > h3 {
    @apply mb-8 font-sans text-3xl leading-none italic;
  }

  .featured-content > h3:before {
    content: "";
    @apply bg-yellow mt-16 mb-4 block h-1 w-12;
  }

  .featured-content > h4 {
    @apply mt-8 mb-4 font-sans text-lg leading-tight font-semibold;
  }

  .featured-content > h5 {
    @apply mt-6 mb-2 text-base leading-tight font-semibold;
  }

  .featured-content > h6 {
    @apply mt-4 mb-1 text-base leading-tight italic;
  }

  .featured-content > ul {
    @apply list-disc pl-6;
  }

  .featured-content > ol {
    @apply list-decimal pl-6;
  }

  .article-content > :where(p, aside, figure, ol, ul, hr) {
    @apply mt-4 mb-4;
  }

  .article-content > :where(iframe) {
    @apply my-12;
  }

  .article-content > :first-child {
    @apply mt-0;
  }

  .article-content > :last-child {
    @apply mb-0;
  }

  .article-content
    > :where(p, ol, ul, div, figure)
    + :where(h1, h2, h3, h4, h5, h6) {
    @apply mt-8;
  }

  .article-content > h1 {
    @apply mb-4 font-sans text-3xl leading-tight font-semibold;
  }

  .article-content > h2 {
    @apply mb-4 text-2xl leading-tight font-semibold;
  }

  .article-content > h3 {
    @apply mb-4 text-xl leading-tight font-semibold;
  }

  .article-content > h4 {
    @apply mb-4 text-lg leading-tight font-semibold;
  }

  .article-content > h5 {
    @apply mb-4 text-base leading-tight font-semibold;
  }

  .article-content > h6 {
    @apply mb-4 text-base leading-tight italic;
  }

  .article-content > ul {
    @apply list-disc pl-8;
  }

  .article-content > :where(ul, ol) :where(ul, ol) {
    @apply pl-6;
  }

  .article-content > :where(ul, ol) ul {
    @apply list-[circle];
  }

  .article-content .toc {
    @apply border-g-3 bg-g-2 my-8 rounded-sm border px-6 py-4 shadow-sm;
  }

  .article-content .toc h3 {
    @apply mb-2 text-xl leading-tight font-semibold;
  }
  .article-content .toc ul {
    @apply list-disc pl-5;
  }

  .article-content .toc :where(ul, ol) :where(ul, ol) {
    @apply pl-6;
  }

  .article-content .toc :where(ul, ol) ul {
    @apply list-[circle];
  }

  .article-content > ol {
    @apply list-decimal pl-8;
  }

  .article-content :where(code) {
    @apply bg-g-2 text-red-8 mx-1 -my-[2px] rounded-xs px-1 py-[2px];
  }

  .article-content :where(a) {
    @apply text-navy underline;
    @apply transition-colors duration-500;
  }

  .article-content :where(a:hover) {
    @apply text-yellow;
  }

  .article-content > p del {
    @apply text-orange line-through;
  }

  .content-aside > p {
    @apply leading-relaxed;
  }

  .content-aside a {
    @apply text-navy underline;
    @apply transition-colors duration-500;
  }

  .content-aside a:hover {
    @apply text-yellow;
  }

  .content-aside > ul {
    @apply list-inside list-disc;
  }

  .content-aside > ol {
    @apply list-inside list-decimal;
  }

  @media (width >= theme(--breakpoint-sm)) {
    .content-aside > ul {
      @apply list-outside;
    }

    .content-aside > ol {
      @apply list-outside;
    }
  }

  .content-aside > h1,
  .content-aside > h2,
  .content-aside > h3,
  .content-aside > h4 {
    @apply text-lg leading-none font-bold uppercase;
  }

  .content-aside > * + h1,
  .content-aside > * + h2,
  .content-aside > * + h3,
  .content-aside > * + h4 {
    @apply mt-8;
  }

  .content-aside > * + *,
  .content-aside ul > li + li,
  .content-aside ol > li + li {
    @apply mt-3;
  }

  .spl-input {
    @apply border-g-4 text-g-9 focus:ring-yellow placeholder-g-5 w-full rounded-sm border bg-white py-2 pr-7 pl-4 font-sans leading-normal ring-2 ring-transparent outline-hidden;
  }

  .spl-select {
    @apply border-g-4 text-g-6 focus:ring-yellow active:ring-yellow-6 block w-full appearance-none rounded-sm border bg-white py-2 pr-7 pl-4 font-sans ring-2 ring-transparent outline-hidden;
  }

  a.spl-links-navy,
  .spl-links-navy a {
    @apply text-navy hover:text-yellow underline underline-offset-2 transition-colors duration-500;
  }

  a.spl-links-yellow,
  .spl-links-yellow a {
    @apply text-yellow hover:text-blue underline underline-offset-2 transition-colors duration-500;
  }

  .btn-signup {
    @apply border-yellow-5 bg-yellow-4 text-yellow-9 ring-yellow-6 hover:bg-yellow-3 rounded-sm border-2 px-8 py-2 text-center leading-normal font-bold tracking-widest uppercase outline-hidden focus:ring-2;
  }

  .btn-signup-slim {
    @apply border-yellow-5 bg-yellow-4 text-yellow-9 ring-yellow-6 hover:bg-yellow-3 w-full rounded-sm border-2 px-8 py-2 leading-tight font-bold tracking-widest uppercase outline-hidden focus:ring-2;
  }

  .btn-signup-lg {
    @apply bg-yellow-4 text-yellow-9 ring-yellow-6 hover:bg-yellow-3 inline-block rounded-sm px-8 py-5 font-sans text-lg font-bold tracking-wide outline-hidden focus:ring-2 lg:text-xl lg:tracking-widest;
  }

  .btn-donate {
    @apply border-red bg-red ring-red-7 hover:bg-red-5 focus:ring-red-7 active:ring-red-9 inline-block rounded-sm border-2 px-6 py-2 text-center font-sans font-semibold tracking-widest text-white uppercase no-underline outline-hidden focus:ring-2;
  }

  .btn-donate-slim {
    @apply bg-red hover:bg-red-7 focus:ring-red-7 active:ring-red-5 w-full rounded-sm px-6 py-2 font-sans font-semibold tracking-widest text-white uppercase no-underline ring-2 ring-transparent outline-hidden;
  }

  .btn-donate-lg {
    @apply bg-red hover:bg-red-5 focus:ring-red-7 active:ring-red-9 inline-flex min-w-[145px] items-center justify-center rounded-sm px-3 py-3 font-sans text-lg font-black tracking-widest text-white no-underline ring-3 ring-transparent outline-hidden md:min-w-[218px] md:py-5;
  }
  .btn-select {
    @apply border-blue bg-blue ring-blue hover:bg-blue-7 focus:ring-blue active:ring-blue inline-block rounded-sm border-2 px-6 py-2 text-center font-sans font-semibold tracking-widest text-white uppercase no-underline outline-hidden focus:ring-2;
  }

  .spl-newsletter {
    @apply my-2 sm:float-right sm:ml-3 sm:w-1/2 md:-mr-12 md:max-w-[439px] lg:mr-0 lg:w-full lg:max-w-96 xl:-mr-20 xl:max-w-[475px];
  }

  .spl-donate {
    @apply my-2 sm:float-left sm:mr-3 sm:w-1/2 md:max-w-[439px] lg:w-full lg:max-w-96;
  }

  .demo-embeds .spl-newsletter,
  .demo-embeds .spl-donate {
    float: none !important;
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .demo-embeds .spl-newsletter .mx-auto {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
  }

  .clip-triangle {
    clip-path: polygon(0 0, 0% 100%, 15% 50%);
  }

  .bg-key {
    background-image: url("/featured/img/icon__key__graphic.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150px;
  }

  .bg-info {
    background-image: url("/featured/img/icon__info__graphic.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150px;
  }

  .bg-pullquote {
    background-image: url("/featured/img/quote__graphic.png");
    background-repeat: no-repeat;
    background-size: 100px;
  }

  .custom-scrollbar {
    scrollbar-color: transparent transparent;
  }

  .custom-scrollbar:hover {
    scrollbar-color: #f5f5f5 transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply h-2 bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-transparent;
  }

  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    @apply bg-g-2;
  }

  .embed-prose :where(b, strong) {
    @apply font-extrabold;
  }

  .embed-prose-highlight :where(b, strong) {
    @apply bg-yellow-3/75 p-1 font-semibold;
  }
}

@layer utilities {
  .print-exact {
    print-color-adjust: exact;
  }
}

@layer base {
  :root {
    --eyebrow-color: #fff;
    --eyebrow-bg: #000;
    --hed-color: #000;
    --dek-color: #2e2e2e;
    --byline-color: #2e2e2e;
    --date-color: #2e2e2e;
    --credit-color: #787878;
  }
}

@layer utilities {
  :root {
    --fo-offset-height: 7rem;
    --fo-padding-top: 0.5rem;
  }
}

/* if backdrop support: very transparent and blurred */
@supports (
  not (-webkit-backdrop-filter: none) and not (backdrop-filter: none)
) {
  .backdrop-fallback {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

/*! purgecss start ignore */
[x-cloak] {
  display: none !important;
}

.no-js\:block {
  display: none;
}

.no-js\:flex {
  display: none;
}

.has-old-js .no-js\:block {
  display: block;
}

.has-old-js .no-js\:flex {
  display: flex;
}

.has-old-js .no-js\:hidden {
  display: none;
}

.has-old-js .no-js\:static {
  position: static;
}

/*! purgecss end ignore */
