{{ $eyebrow := .Get "eyebrow" }}
{{ $hed := .Get "hed" }}
{{ $name := .Get "name" }}
{{ $image := .Get "image" }}
{{ $role := .Get "role" }}
{{ $email := .Get "email" }}
{{ $bio := .Get "bio" }}
{{ $author := partial "helper/get-author" $name }}


<div class="font-sans">
  {{ if $image }}
    {{ $imgOpt := dict
      "filename" $image
      "width" 188
      "height" 188
    }}
    {{ $thumb := partial "helper/imgproxy" $imgOpt }}
    <img
      class="mb-1 h-48 w-48 rounded-full grayscale filter md:mb-6"
      src="{{ $thumb }}"
      alt="Picture of {{ $name }}"
    />
  {{ else if $author.thumb }}
    <img
      class="mb-1 h-48 w-48 rounded-full grayscale filter md:mb-6"
      src="{{ $author.thumb }}"
      alt="Picture of {{ $name }}"
    />
  {{ end }}
  {{ if $eyebrow }}
    <h4 class="mb-4 text-xs font-bold uppercase">{{ $eyebrow }}</h4>
  {{ end }}
  {{ if $hed }}
    <h3 class="mb-1 max-w-[270px] text-lg font-black md:mb-6">{{ $hed }}</h3>
  {{ end }}
  {{ if $bio }}
    <div class="max-w-[192px] text-base">{{ $bio }}</div>
  {{ else if $author }}
    <div class="max-w-[192px] text-base">{{ $author.content }}</div>
  {{ end }}
</div>
