{{ $eyebrow := .Get "eyebrow" }}
{{ $name := .Get "name" }}
{{ $image := .Get "image" }}
{{ $role := .Get "role" }}
{{ $email := .Get "email" }}
{{ $author := partial "helper/get-author" $name }}

{{ define "feature-credit-image" }}
  <img
    class="float-left mr-4 mb-5 h-16 w-16 rounded-full grayscale filter"
    src="{{ .thumb }}"
    alt="Picture of {{ .name }}"
  />
{{ end }}


<div class="font-sans">
  {{ if $eyebrow }}
    <h4 class="mb-4 text-xs font-bold uppercase">{{ $eyebrow }}</h4>
  {{ end }}
  {{ if $image }}
    {{ $imgOpt := dict
      "filename" $image
      "width" 256
      "height" 256
    }}
    {{ $thumb := partial "helper/imgproxy" $imgOpt }}
    {{ with $author.link }}
      <a href="{{ . }}">
        {{ template "feature-credit-image" (dict "thumb" $thumb "name" $name) }}
      </a>
    {{ else }}
      {{ template "feature-credit-image" (dict "thumb" $thumb "name" $name) }}
    {{ end }}

  {{ else if $author.thumb }}
    {{ with $author.link }}
      <a href="{{ . }}">
        {{ template "feature-credit-image" (dict "thumb" $author.thumb "name" $name) }}
      </a>
    {{ else }}
      {{ template "feature-credit-image" (dict "thumb" $author.thumb "name" $name) }}
    {{ end }}
  {{ end }}
  <h3 class="font-bold uppercase">
    {{ with $author.link }}
      <a
        href="{{ . }}"
        class="hover:text-yellow transition-colors duration-500"
      >
        {{ $name }}
      </a>
    {{ else }}
      {{ $name }}
    {{ end }}
  </h3>
  {{ if $role }}
    <div class="text-sm italic">{{ $role }}</div>
  {{ end }}
  {{ if $email }}
    <div class="text-sm">
      <a
        class="text-navy hover:text-yellow underline transition-colors duration-500"
        href="mailto:{{ $email }}"
        >{{ $email }}</a
      >
    </div>
  {{ end }}
</div>
