{{ $link := .Get "link" | htmlUnescape }}
{{ $caption := .Get "caption" | htmlUnescape }}
{{ $figClass := .Get "figure-class" | htmlUnescape | default "my-12 mx-auto lg:-mx-32 xl:-mx-48" }}
{{ $capClass := .Get "caption-class" | htmlUnescape | default "max-w-content mx-auto text-g-7 text-sm mt-4" }}


<figure class="{{ $figClass }}" data-ga-category="inline:embed">
  <div>
    {{ .Inner }}
  </div>
  {{ if $caption }}
    <figcaption class="{{ $capClass }}">
      {{ if $link }}
        <a
          class="text-g-8 hover:text-yellow duration-500 hover:underline"
          href="{{ $link }}"
        >
          {{ $caption }}
        </a>
      {{ else }}
        {{ $caption }}
      {{ end }}
    </figcaption>
  {{ end }}
</figure>
