    </section>
    <footer class="feature__credits">
      <div class="feature__credits__content">
        <div class="credits__role__container">
          {{ .Inner }}
        </div>
        <div class="credits__branding">
          <span class="img__logo inline-svg">
            <svg
              role="img"
              aria-label="Spotlight PA logo"
              viewBox="0 0 230 230"
            >
              <use xlink:href="#logo-svg"></use>
            </svg>
          </span>
          <h6>100% Essential Reporting</h6>
          <p>
            Spotlight PA relies on funding from foundations and readers like you who are committed to accountability journalism that gets results.
          </p>
          <p>
            If you value this reporting, please give a gift today at <a href="/donate/">spotlightpa.org/donate</a>
          </p>
        </div>
      </div>
    </footer>
  </article>
