{{ partial "featured/content-area-end" . }}
<footer class="bg-white px-8" data-ga-category="inline-footer">
  <div
    class="max-w-content mx-auto flex flex-col border-t border-black py-12 md:flex-row md:space-x-12"
  >
    <div class="mb-8 flex-1 space-y-12">
      {{ .Inner }}
    </div>
    <div class="flex-1 space-y-4 font-sans text-sm">
      <a class="hover:text-navy" href="/">
        <svg
          class="h-40 fill-current"
          role="img"
          aria-label="Spotlight PA logo"
          viewBox="0 0 230 230"
        >
          {{ partial "helper/svg.html" "logo" }}
        </svg>
      </a>
      <p class="font-bold uppercase">100% Essential Reporting</p>
      <p>
        Spotlight PA relies on funding from
        <a
          class="text-navy hover:text-yellow underline transition-colors duration-500"
          href="/support/"
          >foundations and readers like you</a
        >
        who are committed to accountability journalism that gets results.
      </p>
      <p>
        If you value this reporting, please give a gift today at
        <a
          class="text-navy hover:text-yellow underline transition-colors duration-500"
          href="/donate/"
          >spotlightpa.org/donate</a
        >.
      </p>
    </div>
  </div>
</footer>
