{{ $params := partial "helper/page-params" .Page }}
{{ $filename := .Get "image" }}
{{ $eyebrow := .Get "eyebrow" }}
{{ $hed := .Get "hed" }}
{{ $dek := .Get "dek" }}
{{ $date := .Get "date" }}
{{ $byline := .Get "byline" }}
{{ $outlet := .Get "outlet" | default "Spotlight PA" }}
{{ $imageCredit := .Get "image-credit" }}
{{ $imageSource := .Get "image-source" }}
{{ $imageDesc := .Get "image-description" }}
{{ $focus := .Get "image-focus" }}
{{ $gravity := .Get "image-gravity" }}
{{ $artType := .Get "art-type" | default "Photo" }}
{{ $preposition := .Get "credit-relation" | default "of" }}
{{ $hedSizes := .Get "hed-sizes" | default `text-4xl lg:text-6xl` }}
{{ $widths := slice 500 800 1100 1400 1700 2100 }}
{{ $sizes := dict "widths" $widths "widthRatio" 6 "heightRatio" 4 | partial "helper/build-sizes" }}
{{ $srcset := dict "sizes" $sizes "filename" $filename "gravity" $gravity | partial "helper/build-srcset" }}

{{ $width := (index $sizes 0).width }}
{{ $height := (index $sizes 0).height }}
{{ $imgOpt := dict "filename" $filename "width" $width "height" $height "gravity" $gravity }}
{{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}

    <header class="flex flex-col md:flex-row md:min-h-screen">
      <div class="md:w-2/5 md:min-w-min bg-black text-white">
        <div class="px-8 sm:px-12 pb-10">
          <div class="mt-16 lg:mt-20 pt-8 pb-4 mb-4 lg:pb-10 lg:mb-12 border-t border-b border-white">
            <div
              class="font-sans uppercase font-bold text-yellow"
            >{{ $eyebrow }}</div>
            <h1 class="mt-4 uppercase leading-hed {{ $hedSizes }}">
              {{ $hed }}
            </h1>
            <h2 class="mt-4 lg:text-lg">{{ $dek }}</h2>
          </div>
          <time
            class="font-sans uppercase font-bold"
            datetime="{{ $params.publishedISO }}"
          >{{ $date }}</time>
          <div class="lg:text-lg mt-8 leading-none">
            by <span class="font-sans uppercase font-bold">{{ $byline }}</span>
          </div>
          <div class="mt-3 text-sm font-sans uppercase font-bold">
            {{ $outlet }}
          </div>
          <div class="mt-4 lg:mt-8 text-sm">
            {{ $artType }} by
            <span class="font-sans uppercase font-bold">{{ $imageCredit }}</span>
            {{ $preposition }}
            <span class="font-sans uppercase">{{ $imageSource }}</span>
          </div>
        </div>
      </div>

      <div class="relative order-first pb-16x9 md:order-none md:w-3/5">
        <picture class="bg-g-4 absolute inset-0">
          {{ if in (string $srcset) ".jpeg" }}
            <source
              type="image/webp"
              srcset='{{ replace $srcset ".jpeg" ".webp" }}'
            >
          {{ end }}
          <img
            alt="{{ $imageDesc }}"
            title="{{ $imageDesc }}"
            src="{{ $imgSmallSrc }}"
            srcset="{{ $srcset }}"
            class="w-full h-full object-cover"
            {{ if $focus }}
              style="object-position: {{ $focus }};"
            {{ end }}
          >
        </picture>
      </div>
    </header>
    {{ partial "featured/content-area-start" . }}
