{{ $filename := .Get "image" }}
{{ $eyebrow := .Get "eyebrow" }}
{{ $hed := .Get "hed" }}
{{ $dek := .Get "dek" }}
{{ $date := .Get "date" }}
{{ $byline := .Get "byline" }}
{{ $outlet := .Get "outlet" | default "Spotlight PA" }}
{{ $imageCredit := .Get "image-credit" }}
{{ $imageSource := .Get "image-source" }}
{{ $focus := .Get "image-focus" }}

{{ $widths := slice 500 800 1100 1400 1700 2100 }}
{{ $sizes := dict "widths" $widths "widthRatio" 6 "heightRatio" 4 | partial "helper/build-sizes" }}
{{ $srcset := dict "sizes" $sizes "filename" $filename | partial "helper/build-srcset" }}

{{ $width := (index $sizes 0).width }}
{{ $height := (index $sizes 0).height }}
{{ $imgOpt := dict "filename" $filename "width" $width "height" $height }}
{{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}

  <article
    data-ga-category="main"
    class="main"
  >
    <header class="feature__hero">
      <div class="feature__hero__title feature__hero__title__black">
        <div class="feature__hero__text">
          <div class="feature__headline">
            <div class="eyebrow text__yellow">{{ $eyebrow }}</div>
            <h1>{{ $hed }}</h1>
            <h6>{{ $dek }}</h6>
          </div>
          <div class="dateline">
            <time>{{ $date }}</time>
          </div>
          <div class="primary__byline">
            by <span class="byline__name">{{ $byline }}</span> <span class="byline__outlet">{{ $outlet }}</span>
          </div>
          <div class="secondary__byline">
            Photo by <span class="byline__name">{{ $imageCredit }}</span> of <span class="byline__outlet">{{ $imageSource }}</span>
          </div>
        </div>
      </div>

      <div class="feature__hero__container">
        <picture class="feature__hero__picture">
          {{ if in (string $srcset) ".jpeg" }}
            <source
              type="image/webp"
              srcset='{{ replace $srcset ".jpeg" ".webp" }}'
              sizes="(min-width: 769px) 100vw, 66vw"
            >
          {{ end }}
          <img
            src="{{ $imgSmallSrc }}"
            srcset="{{ $srcset }}"
            sizes="(max-width: 769px) 100vw, 75vw"
            class="feature__hero__img"
            {{ if $focus }}
              style="object-position: {{ $focus }};"
            {{ end }}
          >
        </picture>
      </div>
    </header>
    <section class="article__body">
