  <div class="global__nav" data-ga-category="header">
    <div class="global__nav__content">
        <a href="/"><img src="https://interactives.data.spotlightpa.org/2020/featured-template-exp/banner-white-on-trans.svg" class="spotlight__logo" /></a>
    </div>
  </div>
  <article data-ga-category="main">
    <header class="feature__hero">
      <div class="feature__hero__title feature__hero__title__black">
        <div class="feature__hero__text">
          <div class="feature__headline">
            <div class="eyebrow text__yellow">In-Depth Report</div>
            <h1>Condemn, Discuss, Repeat</h1>
            <h6>Students of color say Pennsylvania's higher education system follows a tired formula to respond to racism instead of enacting the support they need.</h6>
          </div>
          <div class="dateline">
            <time>August 6, 2020</time>
          </div>
          <div class="primary__byline">
            by <span class="byline__name">Aneri Pattani</span> <span class="byline__outlet">Spotlight PA</span>
          </div>
          <div class="secondary__byline">
            Photo by <span class="byline__name">Sean Simmers</span> of <span class="byline__outlet">PennLive</span>
          </div>
        </div>
      </div>
      <div class="feature__hero__container">
        <picture class="feature__hero__picture">
          <source
            type="image/webp"
            sizes="(max-width: 769px) 100vw, 66vw"
          >
          <img
            srcset="
              https://www.spotlightpa.org/imgproxy/insecure/rs:fill:500:325/g:sm/el:1/q:75/ZXh0ZXJuYWwveDlqOGFjZjIzY2RjeHl6eDAxYjd4MGJucjQuanBlZw==.jpeg 500w,
              https://www.spotlightpa.org/imgproxy/insecure/rs:fill:800:520/g:sm/el:1/q:75/ZXh0ZXJuYWwveDlqOGFjZjIzY2RjeHl6eDAxYjd4MGJucjQuanBlZw==.jpeg 800w,
              https://www.spotlightpa.org/imgproxy/insecure/rs:fill:1100:715/g:sm/el:1/q:75/ZXh0ZXJuYWwveDlqOGFjZjIzY2RjeHl6eDAxYjd4MGJucjQuanBlZw==.jpeg 1100w,
              https://www.spotlightpa.org/imgproxy/insecure/rs:fill:1400:910/g:sm/el:1/q:75/ZXh0ZXJuYWwveDlqOGFjZjIzY2RjeHl6eDAxYjd4MGJucjQuanBlZw==.jpeg 1400w,
              https://www.spotlightpa.org/imgproxy/insecure/rs:fill:1700:1105/g:sm/el:1/q:75/ZXh0ZXJuYWwveDlqOGFjZjIzY2RjeHl6eDAxYjd4MGJucjQuanBlZw==.jpeg 1700w,
              https://www.spotlightpa.org/imgproxy/insecure/rs:fill:2000:1300/g:sm/el:1/q:75/ZXh0ZXJuYWwveDlqOGFjZjIzY2RjeHl6eDAxYjd4MGJucjQuanBlZw==.jpeg 2000w
            "
            sizes="(max-width: 769px) 100vw, 75vw"
            class="feature__hero__img"
            style="object-position: top 10% right 0%;"
          >
        </picture>
      </div>
    </header>
    <section class="article__body">
