{{ $src := .Get "src" }}
{{ $width := .Get "width" | int }}
{{ $height := .Get "height" | int }}
{{ $pb := slice $width $height | partial "helper/aspect-ratio" }}

{{ $caption := .Get "caption" | htmlUnescape }}
{{ $capClass := .Get "caption-class" | htmlUnescape | default "max-w-content mx-auto text-g-8 text-sm mt-4" }}
{{ $credit := .Get "credit" | htmlUnescape }}


<aside class="mx-auto mt-12">
  <figure>
    <div
      class="relative h-0 w-full"
      style="padding-bottom: {{ $pb | printf "%0.3f" }}%;"
    >
      <iframe
        class="absolute inset-0 h-full w-full"
        src="{{ $src }}"
        frameborder="0"
        scrolling="no"
        sandbox="allow-same-origin allow-forms allow-scripts allow-downloads allow-popups allow-popups-to-escape-sandbox allow-top-navigation-by-user-activation"
        allowfullscreen
      ></iframe>
    </div>
    {{ if or $caption $credit }}
      <figcaption class="{{ $capClass }}">
        {{ $caption }}
        {{ if $credit }}({{ $credit }}){{ end }}
      </figcaption>
    {{ end }}
  </figure>
</aside>
