{{ $side := .Get "side" | default "right" }}
{{ $sideClass := cond (eq $side "right") "float-right lg:-mr-40 sm:pl-10" "float-left lg:-ml-32 sm:pr-8" }}
<aside
  x-data="{ isOpen: false }"
  class="
    {{ $sideClass }}
    py-4 w-full font-sans text-sm
    relative h-40 mb-4
    sm:max-w-xs sm:h-auto sm:mb-0
    lg:shape-outside
  "
  data-ga-category="inline:keypoints"
  :class="{'h-40': !isOpen}"
>
  <div class="absolute inset-x-0 bottom-0 sm:hidden" x-show="!isOpen">
    <button
      :aria-expanded="''+isOpen"
      class="text-darkblue hover:text-yellow hover:underline leading-4 mb-4"
      @click="isOpen = true"
      data-ga-button
      data-ga-action="sidebar:toggle"
    >
      <span aria-hidden="true">
        <svg class="fill-current h-4 w-4 inline-block">
          <use xlink:href="#plus-svg"></use>
        </svg>
      </span>
      <span class="ml-2 uppercase align-bottom"> Show more… </span>
    </button>
  </div>
  <div
    class="bg-key content-aside h-24 sm:h-auto overflow-y-hidden sm:overflow-y-visible relative"
    :class="{'h-24': !isOpen, 'overflow-y-hidden': !isOpen}"
  >
    {{ .Inner | markdownify }}
    <div
      class="absolute inset-0 bg-gradient-to-t from-white sm:hidden"
      x-show="!isOpen"
    ></div>
  </div>
  <hr hidden />
</aside>
