{{ $side := .Get "side" | default "right" }}
{{ $sideClass := cond (eq $side "right") "float-right" "float-left"}}
<aside
  x-data="{ isOpen: false }"
  class="{{ $sideClass }} max-w-none w-full md:w-1/4 md:ml-10 md:mr-8 md:pr-8 py-4 font-sans text-sm relative mb-4 md:mb-0 h-40 md:h-auto"
  data-ga-category="inline:keypoints"
  :class="{'h-40': !isOpen}"
>
  <div
    class="bg-key content-aside h-24 md:h-auto overflow-hidden relative"
    :class="{'h-24': !isOpen}"
  >
    {{ .Inner | markdownify }}
    <div
      class="absolute inset-0 bg-gradient-to-t from-white md:hidden"
      x-show="!isOpen"
    >
    </div>
  </div>
  <div
    class="absolute inset-x-0 bottom-0 md:hidden"
    x-show="!isOpen"
  >
    <div class="">
      <button
        class="bg-blue px-4 py-2 text-white font-bold uppercase tracking-widest rounded hover:bg-blue-darker"
        @click="isOpen = true"
      >
        <span>
          Show more…
        </span>
      </button>
    </div>
  </div>
  <hr hidden>
</aside>
