{{ $text := .Get "text" | default `Spotlight PA provides essential journalism with support from readers like you. Help shine a light on injustice and hold the powerful to account by becoming a member now.` }}
{{ $imageURL := .Get "image-url" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}
{{ $bgColor := .Get "bgcolor" | default "#000" }}
{{ $link := .Get "link" | default "/donate/" }}


<aside
  class="my-12 mx-auto text-center lg:-mx-32 xl:-mx-48"
  data-ga-category="inline:lightbox"
>
  <a
    class="inline-flex overflow-hidden rounded shadow"
    style="background-color: {{ $bgColor }};"
    href="{{ $link }}"
  >
    <img
      class="block h-auto w-full"
      src="{{ $imageURL }}"
      alt="{{ $text }}"
      {{ with $width }}width="{{ . }}"{{ end }}
      {{ with $height }}height="{{ . }}"{{ end }}
      {{ if $width }}
        style=" max-width: {{ $width }}px;
        {{ if $height }}
          aspect-ratio: {{ $width }} / {{ $height }};
        {{ end }}
        "
      {{ end }}
    />
  </a>
</aside>
