{{ $src := .Get "image" }}
{{ $hed := .Get "title" }}
{{ $dek := .Get "dek" }}
{{ $sub := .Get "subhed" }}
{{ $signupHed := .Get "signupHed" }}
{{ $signupDek := .Get "signupDek" }}
{{ $cta := .Get "cta" }}
{{ $gaCategory := .Get "gaCategory" }}
{{ $gaForm := .Get "gaForm" }}
{{ $hiddenField := .Get "hiddenField" }}
{{ $eager := .Get "eager" }}
{{ partial "tw/takeover.html" (dict
  "image" $src
  "title" $hed
  "dek" $dek
  "subhed" $sub
  "signupHed" $signupHed
  "signupDek" $signupDek
  "cta" $cta
  "gaCategory" $gaCategory
  "gaForm" $gaForm
  "hiddenField" $hiddenField
  "content" .Inner
  "eager" $eager
  )
}}
