{{ $src := .Get "image" }}
{{ $hed := .Get "title" }}
{{ $dek := .Get "dek" }}
{{ $signupHed := .Get "signupHed" }}
{{ $signupDek := .Get "signupDek" }}
{{ $cta := .Get "cta" | default "Sign Up!" }}
{{ $gaCategory := .Get "gaCategory" }}
{{ $gaForm := .Get "gaForm" }}
{{ $hiddenField := .Get "hiddenField" }}
<header class="relative z-20 flex flex-col bg-black text-white">
  {{ $imgOpt := dict
    "filename" ($src)
    "width" 2271
    "height" 1431
    "gravity" "ce"
  }}
  {{ $url := partial "helper/imgproxy" $imgOpt }}
  <div
    class="absolute inset-0 flex bg-blue-1 bg-cover"
    style="background-image: url({{ $url }}); background-position: 38% 0; z-index: -1;"
    aria-hidden="true"
  >
    <div
      class="absolute inset-0 bg-gradient-to-b from-black to-transparent opacity-50"
    ></div>
  </div>
  <div class="px-4 py-8 leading-tight sm:p-12">
    <div class="mx-auto flex w-full flex-col justify-center md:max-w-2xl">
      <div class="mx-auto">
        <h1
          class="text-shadow  text-3xl font-extrabold md:text-4xl lg:text-5xl xl:text-6xl"
        >
          {{ $hed }}
        </h1>
        <h2
          class="text-shadow mt-4 text-2xl md:text-3xl lg:text-4xl xl:text-5xl"
        >
          {{ $dek }}

        </h2>
      </div>
      {{ $idFname :=  partial "helper/new-id" . }}
      {{ $idLname :=  partial "helper/new-id" . }}
      {{ $idEmail :=  partial "helper/new-id" . }}
      <label
        for="{{ $idFname }}"
        class="backdrop-fallback mx-auto my-8 block w-full rounded p-8 shadow ring-1 ring-s-7 backdrop-blur-sm backdrop-brightness-50 backdrop-filter"
      >
        <form
          action="{{ site.Param `newsletters-action` }}"
          method="post"
          target="_blank"
          class="p-1 font-sans text-white"
          x-data
          x-form="{{ $gaForm }}"
          data-ga-category="{{ $gaCategory }}"
        >
          {{ partial $hiddenField . }}
          <h2 class="text-3xl font-extrabold">
            {{ $hed }}
          </h2>
        <div class="mb-5 flex flex-wrap justify-start align-baseline">
          <p class="mr-3 flex-[1_0_45%]">
            <label class="mt-4 block font-extrabold" for="{{ $idFname }}">
              First Name
            </label>
            <input
              id="{{ $idFname }}"
              class="spl-input text-black"
              type="text"
              name="FNAME"
              placeholder="First Name"
              required
            />
          </p>

          <p class="ml-3 flex-[1_0_45%]">
            <label class="mt-4 block font-extrabold" for="{{ $idLname }}">
              Last Name
            </label>
            <input
              id="{{ $idLname }}"
              class="spl-input text-black"
              type="text"
              name="LNAME"
              placeholder="Last Name"
              required
            />
          </p>
          <p class="mr-6 flex-[1_0_100%]">
            <label class="mt-4 block font-extrabold" for="{{ $idEmail }}">
              Email Address
            </label>
            <input
              id="{{ $idEmail }}"
              class="spl-input text-black"
              type="email"
              name="EMAIL"
              placeholder="Email address"
              required
            />
          </p>
          <button type="submit" class="btn-signup mt-4">
            {{ $cta }}
          </button>
        </form>
      </label>
    </div>
  </div>
</header>
