{{ $idEmail := partial "helper/new-id" . }}
<form
  class="
    bg-black text-white rounded font-sans text-center
    my-12 p-8
    md:px-12
    lg:-mx-24
  "
  data-ga-form='newsletters:investigator'
  data-ga-category="tout"
  action='{{ .Page.Param "investigator-action" }}'
  method="post"
  target="_blank"
>
  {{ partial "newsletter/investigator-hidden.html" . }}
  <h6 class="text-sm text-yellow uppercase font-bold tracking-widest">Newsletter</h6>
  <p class="mt-4 leading-tight">
    Get every Spotlight PA story and the best investigative journalism from across Pa.
  </p>
  <div class="mt-8 mx-auto sm:flex sm:max-w-2xl items-stretch">
    <p class="relative flex-grow">
      <label class="sr-only" for='{{ $idEmail }}'>Email address</label>
      <input
        id='{{ $idEmail }}'
        class="pl-10 py-2 w-full rounded border-2 border-g-5 text-g-8 placeholder-g-5 placeholder-opacity-100 tracking-wider appearance-none block bg-white focus:outline-none focus:ring-2 ring-yellow-darker"
        type="email"
        name="EMAIL"
        placeholder="Email address"
        required />
      <span
        class="absolute inline-flex items-center justify-center inset-y-0 left-0 text-g-5 pointer-events-none z-10 w-10 leading-none"
        aria-hidden="true"
      >
        <svg class="fill-current h-4 w-auto">
          <use xlink:href="#email-svg"></use>
        </svg>
      </span>
    </p>
    <p class="mt-4 sm:mt-0 sm:ml-1">
      <button
        class="w-full bg-yellow px-8 py-2 uppercase text-black font-bold rounded border-2 border-yellow-darker tracking-widest focus:outline-none focus:ring-2 ring-yellow-darker"
        type="submit"
      >Sign Up</button>
    </p>
  </div>
</form>
