<div
  class="my-12 p-8 md:px-12 bg-black text-white rounded font-sans text-center"
  data-ga-form='newsletters:investigator'
  data-ga-category="tout"
>
  <form
    class=""
    action="https://spotlightpa.us3.list-manage.com/subscribe/post?u=4f6d92afd9b3de3ddb48714b9&amp;id=0466df5ab5"
    method="post"
    target="_blank"
  >
    <h6 class="text-sm text-yellow uppercase font-bold tracking-widest">Newsletter</h6>
    <input type="hidden" name="group[26457]" value="1">
    <p class="mt-4 leading-tight">
      Get every Spotlight PA story and the best investigative journalism from across Pa.
    </p>
    <p class="hidden" aria-hidden="true">
      <label>
        Don't fill this out if you're human:
        <input type="text" name="b_4f6d92afd9b3de3ddb48714b9_0466df5ab5" tabindex="-1" value="">
      </label>
    </p>
    <div class="mt-8 sm:flex items-stretch">
      <p class="relative flex-grow h-10 sm:h-auto">
        <input
          id="email-embed"
          class="pl-10 w-full h-full rounded sm:rounded-r-none text-gray-800 placeholder-gray-400 placeholder-opacity-100 tracking-wider"
          type="email"
          name="EMAIL"
          placeholder="Email address"
          required />
        <span
          class="absolute inline-flex items-center justify-center top-0 left-0 h-full text-gray-400 pointer-events-none z-10 w-10 leading-none"
        >
          <svg class="fill-current h-5 w-6">
            <use xlink:href="#email-svg"></use>
          </svg>
        </span>
      </p>
      <p class="mt-4 sm:mt-0">
        <button
          class="w-full bg-yellow px-8 py-2 uppercase text-black font-bold rounded sm:rounded-l-none tracking-widest"
          type="submit"
        >Sign Up</button>
      </p>
    </div>
  </form>
</div>
