{{ $idEmail := partial "helper/new-id" . }}
<form
  class="
    my-12
    lg:-mx-24 p-8 md:px-12
    rounded shadow bg-black text-white text-center font-sans
  "
  x-data="{ active: false }"
  @focusin="active = true"
  data-ga-form='newsletters:multi'
  data-ga-category="tout"
  action='{{ .Page.Param "investigator-action" }}'
  method="post"
  target="_blank"
>
  {{ partial "newsletter/hidden-input.html" . }}
  <h6 class="text-base bg-clip-text text-transparent bg-gradient-to-r from-orange via-yellow to-white uppercase font-bold tracking-widest">Sign Up For Our Free Newsletters</h6>

  <p class="mt-4 leading-tight">
    Get every Spotlight PA story and the best investigative journalism from across Pa.
  </p>
  <div class="mt-8 mx-auto sm:flex sm:max-w-2xl items-stretch">
    <p class="relative flex-grow">
      <label class="sr-only" for='{{ $idEmail }}'>Email address</label>
      <input
        id='{{ $idEmail }}'
        class="pl-10 py-2 w-full rounded border-2 border-g-5 text-g-8 placeholder-g-5 placeholder-opacity-100 tracking-wider appearance-none block bg-white focus:outline-none focus:ring-2 ring-yellow-darker"
        type="email"
        name="EMAIL"
        placeholder="Email address"
        required />
      <span
        class="absolute inline-flex items-center justify-center inset-y-0 left-0 text-g-5 pointer-events-none z-10 w-10 leading-none"
        aria-hidden="true"
      >
        <svg class="fill-current h-4 w-auto">
          <use xlink:href="#email-svg"></use>
        </svg>
      </span>
    </p>
    <p class="mt-4 sm:mt-0 sm:ml-1">
      <button
        class="w-full bg-yellow px-8 py-2 uppercase text-black font-bold rounded border-2 border-yellow-darker tracking-widest focus:outline-none focus:ring-2 ring-yellow-darker"
        type="submit"
      >Sign Up</button>
    </p>
  </div>
  <div
    x-show="active"
    x-transition:enter="transition-opacity ease-out duration-300"
    x-transition:enter-start="opacity-25"
    x-cloak
  >
    <p class="mt-4 text-left">
      <label>
        <input
          type="checkbox"
          name="papost"
          value="1"
          checked
          data-ga-button
          data-ga-action="toggle-newsletter:papost"
        >
        <strong>Daily</strong>: Top news every weekday morning, plus a daily puzzle.
      </label>
    </p>
    <p class="mt-2 text-left">
      <label>
        <input
          type="checkbox"
          name="investigator"
          value="1"
          checked
          data-ga-button
          data-ga-action="toggle-newsletter:investigator"
        >
        <strong>Weekly</strong>: Best accountability journalism every Thursday, plus a weekly riddle.
      </label>
    </p>
  </div>
</form>
