{{ $side := .Get "side" | default "center" }}
{{ $sideClass := "pl-8 md:pl-12 lg:pl-16 bg-left-top" }}
{{ if eq $side "right" }}
  {{ $sideClass = "pr-8 md:pr-12 lg:pr-16 bg-right-top text-right lg:translate-x-24" }}
{{ end }}
{{ if eq $side "left" }}
  {{ $sideClass = "pl-8 md:pl-12 lg:pl-16 bg-left-top lg:-translate-x-24" }}
{{ end }}

{{ $short := lt (countwords .Inner) 10 }}
{{ $textClass := cond $short "text-3xl md:text-4xl" "text-2xl md:text-3xl" }}
<aside
  class="{{ $sideClass }} bg-pullquote relative mb-0 mt-12 pb-4 sm:bg-contain lg:-ml-16 lg:-mr-16"
  data-ga-category="inline:pullquote"
>
  <blockquote class="{{ $textClass }} leading-tight">{{ .Inner }}</blockquote>
  {{ with .Get "cite" }}
    <cite>{{ . }}</cite>
  {{ end }}
</aside>
