{{ $side := .Get "side" | default "left" }}
{{ $sideClass :=
  cond (eq $side "right")
  "float-right sm:px-4 lg:-mr-24 xl:-mr-40"
  "float-left sm:px-6 lg:-ml-24"
}}
{{ $news := .Site.GetPage "/news/_index.md" }}
{{ $related := $news.RegularPages.Related .Page }}
{{ if .Get "hide-series" }}
  {{ $params := partialCached "helper/page-params" .Page .Page.RelPermalink }}
  {{ with $series := $params.series }}
    {{ $related = $related | complement $series.Pages }}
  {{ end }}
{{ end }}
{{ $related = $related | first 3 }}
{{ if $related }}
  <aside
    class="
      {{ $sideClass }}
      sm:mt-21
      mb-4 sm:mb-0
      w-full sm:w-auto
      sm:shape-outside
      font-sans
    "
    data-ga-category="inline:related"
  >
    <nav class="py-4">
      <h2 class="text-base sm:text-lg font-bold uppercase">
        <span class="border-b-2 border-black tracking-wide whitespace-nowrap">
          More From Spotlight PA
        </span>
      </h2>
      <ul
        class="mt-4 sm:w-0 min-w-full space-y-4 text-sm sm:text-base leading-tight"
      >
        {{ range $related }}
          <li class="font-bold">
            <a
              class="text-darkblue hover:text-yellow transition-colors duration-500"
              href="{{ .RelPermalink }}"
              >{{ .LinkTitle }}</a
            >
          </li>
        {{ end }}
      </ul>
      <hr hidden />
    </nav>
  </aside>
{{ else }}
  {{ if site.IsServer }}
    <h3 class="text-lg font-bold uppercase">No related stories</h3>
  {{ end }}
{{ end }}
