{{ $side := .Get "side" | default "left" }}
{{ $sideClass := cond (eq $side "right") "float-right sm:pl-4 lg:-mr-40" "float-left sm:pr-6 lg:-ml-24" }}
{{ $news := .Site.GetPage "/news/_index.md" }}
{{ $related := $news.RegularPages.Related .Page }}
{{ if .Get "hide-series" }}
  {{ $params := partialCached "helper/page-params" .Page .Page.RelPermalink }}
  {{ with $series := $params.series }}
    {{ $related = $related | complement $series.Pages }}
  {{ end }}
{{ end }}
{{ $related = $related | first 3}}
{{ if $related }}
  <aside
    class="
      {{ $sideClass }}
      font-sans text-sm
      w-full mb-4
      sm:w-auto sm:mb-0 sm:shape-outside sm:mt-21
    "
    data-ga-category="inline:related"
  >
    <nav class="py-4">
      <h2 class="text-lg font-bold uppercase">
        <span class="border-b-2 border-black tracking-wide whitespace-nowrap">
          More From Spotlight PA
        </span>
      </h2>
      <ul class="mt-4 sm:w-0 min-w-full space-y-4">
        {{ range $related }}
          <li class="font-bold">
            <a
              class="text-darkblue hover:text-yellow transition-colors duration-500"
              href="{{ .RelPermalink }}"
            >{{ .LinkTitle }}</a>
          </li>
        {{ end }}
      </ul>
      <hr hidden>
    </nav>
  </aside>
{{ else }}
  <div hidden>No related stories</div>
{{ end }}
