{{ $hed := .Get "hed" }}
{{ $dek := .Get "dek" }}
{{ $outro := .Get "outro" }}


<div class="mx-[calc(-50vw+50%)] -mt-12 mb-12 py-12">
  <h3
    class="md:max-w-content mx-auto mb-8 px-8 text-2xl leading-loose font-bold md:px-0 md:text-4xl"
  >
    {{ $hed }}
  </h3>
  <p
    class="text-s-8 md:max-w-content mx-auto px-8 pb-12 font-sans text-xl md:px-0 md:text-2xl"
  >
    {{ $dek }}
  </p>

  <div class="mx-auto my-8 min-h-screen w-full">
    {{ .Inner }}


    <div
      class="text-s-8 md:max-w-content mx-auto px-8 py-12 font-sans text-xl md:px-0 md:text-2xl"
    >
      <p>{{ $outro }}</p>
      <hr class="bg-yellow mt-16 h-1 w-12 border-none" />
    </div>
  </div>
</div>
