{{ $id := partial "helper/new-id" . }}
<aside
  data-ga-category="inline:slider"
  x-data="slider"
  class="relative mx-auto mt-8 lg:-mx-32 xl:-mx-48"
  @keydown.space.prevent="handleSpace($event)"
>
  <a class="sr-only font-sans text-sm focus:not-sr-only" href="#{{ $id }}"
    >Skip slideshow…</a
  >
  <div
    class="
      custom-scrollbar flex select-none snap-x
      snap-mandatory flex-row flex-nowrap overflow-x-scroll
    "
  >
    {{ .Inner }}
  </div>
  <div
    class="
      pointer-events-none absolute inset-y-0 left-0 hidden pl-1 text-s-3
      opacity-0
      transition-opacity duration-300 ease-in-out sm:flex
    "
    :class="{'opacity-0': isFirst }"
  >
    <svg
      class="h-12 w-12 self-center fill-current opacity-75 drop-shadow filter lg:h-16 lg:w-16"
    >
      <use xlink:href="#left-svg"></use>
    </svg>
  </div>
  <div
    class="
      pointer-events-none absolute inset-y-0 right-0 hidden pr-1 text-s-3 transition-opacity
      duration-300 ease-in-out sm:flex
    "
    :class="{'opacity-0': isLast }"
  >
    <svg
      class="h-12 w-12 self-center fill-current opacity-75 drop-shadow filter lg:h-16 lg:w-16"
    >
      <use xlink:href="#right-svg"></use>
    </svg>
  </div>
  <span id="{{ $id }}" class="sr-only">Story continues below…</span>
</aside>
