{{ $src := .Get "src" | htmlUnescape }}
{{ $credit := .Get "credit" | htmlUnescape }}
{{ $description := .Get "description" | htmlUnescape }}
{{ $caption := .Get "caption" | htmlUnescape }}
{{ $capClass := .Get "caption-class" | htmlUnescape | default "p-2 text-g-8 text-xs xl:text-sm" }}

{{ $widths := slice 500 800 1100 1400 1700 2100 }}
{{ $sizes := dict "widths" $widths "widthRatio" 16 "heightRatio" 9 | partial "helper/build-sizes" }}
{{ $srcset := dict "sizes" $sizes "filename" $src | partial "helper/build-srcset" }}

{{ $width := (index $sizes 0).width }}
{{ $height := (index $sizes 0).height }}
{{ $imgOpt := dict "filename" $src "width" $width "height" $height }}
{{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}

{{ $id := partial "helper/new-id" . }}

<figure
  class="snap-center w-5/6 flex-none pb-2 px-2 sm:px-8 group focus:outline-none"
  :class="{'cursor-pointer': currentSlide !== {{ .Ordinal }} }"
  data-slide-id="{{ .Ordinal }}"
  @focus="center($event.currentTarget)"
  tabindex="0"
  data-ga-category="slide"
  data-ga-button
  data-ga-action="slider:focus"
>
  <div class="relative w-full h-0 pb-16x9">
    <picture class="
        absolute block inset-0
        rounded overflow-hidden
        group-focus:shadow-md transition-shadow duration-300
        bg-g-4
      "
    >
      {{ $isJPEG := in (string $srcset) ".jpeg" }}
      {{ if $isJPEG }}
        <source
          type="image/webp"
          srcset='{{ replace $srcset ".jpeg" ".webp" }}'
        >
      {{ end }}
      <img
        class="w-full h-auto"
        alt="{{ $description }}"
        title="{{ $description }}"
        src="{{ $imgSmallSrc }}"
        {{ if not $isJPEG }}srcset="{{ $srcset }}"{{ end }}
        draggable="false"
        decode="async"
        loading="lazy"
        :loading="loadingMode"
      >
    </picture>
  </div>
  <figcaption class="{{ $capClass }}">
    {{ $caption }} {{ $credit }}
  </figcaption>
</figure>
