{{ $flavor := .Get "text" | default `Spotlight PA provides essential journalism with support from readers like you. Help shine a light on injustice and hold the powerful to account by becoming a monthly donor now.` }}
<section
  class="fixed bottom-0 right-0 left-0 lg:left-auto lg:max-w-xs"
  x-data="spl.sticky()"
  x-show="isOpen"
  x-transition:enter="transition ease-out duration-500"
  x-transition:enter-start="opacity-0 transform translate-x-8"
  x-transition:enter-end="opacity-100 transform translate-x-0"
  x-transition:leave="transition ease-in duration-500"
  x-transition:leave-start="opacity-100 transform translate-x-0"
  x-transition:leave-end="opacity-0 transform translate-x-8"
  @open-sticky.window="show()"
  data-ga-category="modal:sticky"
  x-cloak
>
  <button
    type="button"
    class="absolute top-0 right-0 -mt-2 bg-yellow hover:bg-black border-beige border-2 text-white hover:text-yellow rounded-full flex justify-center h-10 w-10"
    aria-label="close"
    @click="close"
    x-ref="close"
    tabindex="-1"
  >
    <svg class="my-auto fill-current h-6 w-6">
      <use xlink:href="#close-svg"></use>
    </svg>
  </button>
  <a
    class="block bg-black shadow-beige m-2 mr-4 p-4 rounded leading-tight font-sans text-white text-center "
    @click.capture="close()"
    @click.away="close()"
    href="/donate/"
  >
    <h2
      class="text-yellow uppercase font-bold text-sm tracking-widest"
    >Donate</h2>
    <p class="mt-4 mx-auto max-w-2xl">
      {{ $flavor }}
    </p>
    <div
      class="mt-4 px-8 py-2 bg-yellow border-2 border-yellow-darker text-black rounded uppercase font-bold tracking-widest"
    >Donate Now</div>
  </a>
</section>
