{{ $flavor := .Get "text" | default `Spotlight PA provides essential journalism with support from readers like you. Help shine a light on injustice and hold the powerful to account by becoming a member now.` }}
{{ $url := .Get "url" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}
{{ $bgColor := .Get "bgcolor" | default "#000" }}
<section
  class="fixed z-10 bottom-0 right-0 left-0 lg:left-auto lg:max-w-xs"
  x-data="sticky"
  x-show="isOpen"
  x-transition:enter="transition ease-out duration-500"
  x-transition:enter-start="opacity-0 transform translate-x-8"
  x-transition:enter-end="opacity-100 transform translate-x-0"
  x-transition:leave="transition ease-in duration-500"
  x-transition:leave-start="opacity-100 transform translate-x-0"
  x-transition:leave-end="opacity-0 transform translate-x-8"
  @open-sticky.window="show()"
  @close-sticky.window="close()"
  data-ga-category="modal:sticky"
  @keydown.escape="close"
  x-cloak
>
  <button
    type="button"
    class="absolute top-0 right-0 h-10 w-10 -mt-2 mr-1 border-beige border-2 rounded-full bg-yellow hover:bg-black text-white hover:text-yellow flex justify-center focus:outline-none focus:ring-2 ring-yellow"
    aria-label="close"
    @click="close"
    x-ref="close"
  >
    <svg class="my-auto fill-current h-6 w-6">
      <use xlink:href="#close-svg"></use>
    </svg>
  </button>
  <a
    class="block my-2 mx-4 rounded p-4 text-center text-white font-sans leading-tight shadow-beige focus:outline-none focus:ring-2 ring-yellow"
    style="background-color: {{ $bgColor }};"
    @click.capture="close()"
    @click.outside="close()"
    href="/donate/"
  >
    {{ if $url }}
      <img
        class="block mx-auto max-w-full h-auto"
        src="{{ $url }}"
        alt="{{ $flavor }}"
        {{ with $width }}
          width="{{.}}"
          style="width: {{.}}px;"
        {{end}}
        {{ with $height }}height="{{.}}"{{end}}
      >
    {{ else }}
      <h2
        class="text-yellow uppercase font-bold text-sm tracking-widest"
      >Donate</h2>
      <p class="mt-4 mx-auto max-w-2xl">
        {{ $flavor }}
      </p>
      <div
        class="mt-4 px-8 py-2 bg-yellow border-2 border-yellow-darker text-black rounded uppercase font-bold tracking-widest"
      >Join Now</div>
    {{ end }}
  </a>
</section>
