{{ $flavor := .Get "text" | default `Spotlight PA provides essential journalism with support from readers like you. Help shine a light on injustice and hold the powerful to account by becoming a member now.` }}
{{ $url := .Get "url" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}
{{ $bgColor := .Get "bgcolor" | default "#000" }}

{{ if $url }}
  <section
    class="fixed bottom-0 right-0 left-0 z-10 lg:left-auto lg:max-w-xs"
    x-data="sticky"
    x-show="isOpen"
    x-transition:enter="transition ease-out duration-500"
    x-transition:enter-start="opacity-0 transform translate-x-8"
    x-transition:enter-end="opacity-100 transform translate-x-0"
    x-transition:leave="transition ease-in duration-500"
    x-transition:leave-start="opacity-100 transform translate-x-0"
    x-transition:leave-end="opacity-0 transform translate-x-8"
    @open-sticky.window="show()"
    @close-sticky.window="close()"
    data-ga-category="modal:sticky"
    @keydown.escape="close"
    x-cloak
  >
    <button
      type="button"
      class="absolute top-0 right-0 -mt-2 mr-1 flex h-10 w-10 justify-center rounded-full border-2 border-beige bg-yellow text-white ring-yellow hover:bg-black hover:text-yellow focus:outline-none focus:ring-2"
      aria-label="close"
      @click="close"
      x-ref="close"
    >
      <svg class="my-auto h-6 w-6 fill-current">
        <use xlink:href="#times-svg"></use>
      </svg>
    </button>
    <a
      class="my-2 mx-4 block rounded p-4 text-center font-sans leading-tight text-white shadow-beige ring-yellow focus:outline-none focus:ring-2"
      style="background-color: {{ $bgColor }};"
      @click.capture="close()"
      @click.outside="close()"
      href="/donate/"
    >
      <img
        class="mx-auto block h-auto max-w-full"
        src="{{ $url }}"
        alt="{{ $flavor }}"
        {{ with $width }}
          width="{{ . }}" style="width: {{ . }}px;"
        {{ end }}
        {{ with $height }}height="{{ . }}"{{ end }}
      />
    </a>
  </section>
{{ else }}
  {{ partial "tw/modal-sticky.html" .Page }}
{{ end }}
