{{ define "extra-main" }}
  {{ $hostJS := resources.Get "js/esbuild/embed-host.js" }}
  {{ $jsOpts := dict "minify" true }}
  {{ $hostJS = $hostJS | js.Build $jsOpts }}
  {{ $hostJS = $hostJS | minify }}
  {{/* Use resources.Concat to remove .min. from the URL */}}
  {{ $hostJS = slice $hostJS | resources.Concat "/embed.js" }}
  {{ $scriptSrc := $hostJS.Permalink }}
  <section class="bg-white" data-ga-category="embed-list">
    <div class="article-content mx-auto max-w-prose">
      {{ range $page := .Pages }}
        {{ if .Param "hide-embed-list" | not }}
          {{ $params := .Param "page-query-params" }}
          {{ $page := dict
            "url" .Permalink
            "title" .Title
            "params" $params
            "scriptSrc" $scriptSrc
          }}
          <div
            class="border-g-4 bg-g-2 mb-10 rounded border p-5 shadow"
            x-data="embedList({
              url: $el.dataset.url,
              scriptSrc: $el.dataset.scriptSrc
            })"
            data-url="{{ .Permalink }}"
            data-script-src="{{ $scriptSrc }}"
          >
            <h2
              class="mb-3 text-2xl leading-none font-black text-black md:text-5xl"
            >
              {{ .Title }}
            </h2>
            <div class="block">
              {{ if $params }}
                <h2 class="mt-5 font-sans text-2xl font-light">Parameters:</h2>
                {{ range $param := $params }}
                  <div class="mt-5 mb-1">
                    <label
                      for="{{ $param.name }}-field"
                      class="font-sans font-black"
                    >
                      {{ $param.hint }}
                    </label>
                    {{ if .options }}
                      <div class="relative">
                        <select
                          class="spl-select text-g-6 cursor-pointer"
                          id="{{ $param.name }}-field"
                          name="{{ $param.name }}"
                          @input="updateParams"
                        >
                          {{ range .options }}
                            <option value="{{ .value }}">{{ .name }}</option>
                          {{ end }}
                        </select>
                        <span
                          class="text-g-6 pointer-events-none absolute inset-y-0 right-3 z-10 inline-flex items-center justify-center leading-none"
                          aria-hidden="true"
                        >
                          <svg class="fill-g-5 h-4 w-4">
                            {{ partial "helper/svg.html" "chevron" }}
                          </svg>
                        </span>
                      </div>
                    {{ else }}
                      <input
                        id="{{ $param.name }}-field"
                        placeholder="{{ $param.placeholder }}"
                        type="text"
                        class="spl-input placeholder:text-g-6"
                        name="{{ $param.name }}"
                        @input.debounce.500ms="updateParams"
                        {{ with $param.pattern }}
                          pattern="{{ . }}"
                          @blur="$event.currentTarget.reportValidity()"
                        {{ end }}
                      />
                    {{ end }}
                  </div>
                {{ end }}
              {{ end }}


              <h3 class="mt-5 font-sans font-black">Code:</h3>
              <div class="mb-5" description="embed code">
                <div class="mt-5 mb-1">
                  <div class="control">
                    <code
                      contenteditable="true"
                      class="border-g-4 mx-0 block rounded-sm border bg-white p-2 break-all text-black"
                      x-text="embedCode"
                    ></code>
                  </div>
                </div>
                <div class="mt-5 mb-1">
                  <div class="flex items-center">
                    <button
                      type="button"
                      title="Copy"
                      class="bg-blue m-2 mx-0 flex items-center rounded px-5 py-2 font-black tracking-wider text-white shadow"
                      @click="copy()"
                    >
                      <svg class="mr-3 h-6 w-6 fill-white">
                        {{ partial "helper/svg.html" "copy" }}
                      </svg>
                      <span>Copy text</span>
                    </button>
                    <div
                      x-cloak
                      x-show="showCopied"
                      x-transition:enter="fade-enter-active"
                      x-transition:enter-start="fade-enter"
                      x-transition:leave="fade-leave-active"
                      x-transition:leave-end="fade-leave-to"
                      class="text-blue ml-2 flex items-baseline gap-2 font-black"
                    >
                      <span>Copied</span>
                      <svg
                        class="text-green h-4 w-4 translate-y-px fill-current"
                      >
                        {{ partial "helper/svg.html" "check" }}
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h3 class="mt-5 font-sans font-black">Sample:</h3>
            <div x-ref="code">
              {{ partial "helper/embed-code.html" $page }}
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}
