{{ define "extra-main" }}
  {{ $hostJS := resources.Get "js/esbuild/embed-host.js" }}
  {{ $jsOpts := dict "minify" true }}
  {{ $hostJS = $hostJS | js.Build $jsOpts }}
  {{ $hostJS = $hostJS | minify }}
  {{/* Use resources.Concat to remove .min. from the URL */}}
  {{ $hostJS = slice $hostJS | resources.Concat "/embed.js" }}
  {{ $scriptSrc := $hostJS.Permalink }}
  <section
    class="article-content max-w-prose mx-auto"
    data-ga-category="embed-list"
  >
    <div class="column is-three-fifths">
      {{ range $page := .Pages }}
        {{ if .Param "hide-embed-list" | not }}
          {{ $params := .Param "page-query-params" }}
          {{ $page := dict
            "url" .Permalink
            "title" .Title
            "params" $params
            "scriptSrc" $scriptSrc
          }}
          <div
            class=" bg-s-2 rounded border border-s-4 p-5 shadow mb-10"
            x-data="embedList({
              url: $el.dataset.url,
              scriptSrc: $el.dataset.scriptSrc
            })"
            data-url="{{ .Permalink }}"
            data-script-src="{{ $scriptSrc }}"
          >
            <h2
              class=" text-2xl font-black leading-none text-black md:text-5xl mb-3"
            >
              {{ .Title }}
            </h2>
            <div class="block">
              {{ if $params }}
                <h2 class="font-sans text-2xl font-light mt-5">Parameters:</h2>
                {{ range $param := $params }}
                  <div class=" mt-5 mb-1">
                    <label
                      for="{{ $param.name }}-field"
                      class="font-sans font-black"
                    >
                      {{ $param.hint }}
                    </label>
                    <div class="control">
                      <input
                        id="{{ $param.name }}-field"
                        placeholder="{{ $param.placeholder }}"
                        type="text"
                        class="spl-input"
                        name="{{ $param.name }}"
                        @input.debounce.500ms="updateParams"
                        {{ with $param.pattern }}
                          pattern="{{ . }}"
                          @blur="$event.currentTarget.reportValidity()"
                        {{ end }}
                      />
                    </div>
                  </div>
                {{ end }}
              {{ end }}


              <h3 class="font-sans font-black mt-5">Code:</h3>
              <div class="mb-5" description="embed code">
                <div class=" mt-5 mb-1">
                  <div class="control">
                    <code
                      contenteditable="true"
                      class="break-all p-2 bg-white border border-s-4 rounded-sm block text-black mx-0"
                      x-text="embedCode"
                    ></code>
                  </div>
                </div>
                <div class=" mt-5 mb-1">
                  <div class="flex items-center">
                    <button
                      type="button"
                      title="Copy"
                      class="flex items-center py-2 px-5 m-2 bg-blue rounded shadow text-white font-black tracking-wider  mx-0"
                      @click="copy()"
                    >
                      <span class=" w-6 h-6 mr-3 fill-white">
                        {{ $iconCopy := resources.Get "@fontawesome/regular/copy.svg" }}
                        {{ $iconCopy.Content|safeHTML }}
                      </span>
                      <span> Copy text </span>
                    </button>
                    <div
                      x-cloak
                      x-show="showCopied"
                      x-transition:enter="fade-enter-active"
                      x-transition:enter-start="fade-enter"
                      x-transition:leave="fade-leave-active"
                      x-transition:leave-end="fade-leave-to"
                      class="font-black text-blue ml-2"
                    >
                      Copied
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h3 class="font-sans font-black mt-5">Sample:</h3>
            <div x-ref="code">
              {{ partial "helper/embed-code.html" $page }}
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}
