{{ define "body-class" -}}
  font-sans
{{- end }}

{{ define "header" }}<!-- -->{{ end }}
{{ define "before-footer" }}<!-- -->{{ end }}
{{ define "footer" }}<!-- -->{{ end }}
{{ define "modal" }}<!-- -->{{ end }}
{{ define "search-modal" }}<!-- -->{{ end }}

{{ define "extra-head" }}
  {{ $jsOpts := dict
    "minify" true
  }}
  {{ $js := resources.Get "js/esbuild/embed-frame.js" | js.Build $jsOpts }}
  <script type="module">
    {{ $js.Content | safeJS }}
  </script>
{{ end }}

{{ define "main" }}
  <div class="bg-g-2 p-px" data-ga-category="embed" data-fru-campaign="embed">
    {{ $embed := .Param "embed-partial" | printf "embed/%s" }}
    {{ partial $embed . }}
  </div>
{{ end }}