{{ define "body-class" }}text-[16px] bg-beige font-serif leading-normal{{ end }}

{{ define "static-head" }}
  {{ partial "header/css-tw-rale.html" . }}
  {{ partialCached "header/noscript.html" . }}


  <link
    rel="modulepreload"
    href="{{ partialCached `helper/get-enhancements` . }}"
  />
{{ end }}

{{ define "header" }}<!-- -->{{ end }}
{{ define "before-footer" }}<!-- -->{{ end }}
{{ define "footer" }}<!-- -->{{ end }}
{{ define "modal" }}<!-- -->{{ end }}
{{ define "search-modal" }}<!-- -->{{ end }}

{{ define "extra-head" }}
  {{ $jsOpts := dict "minify" true "targetPath" "/@src/embed-frame.js" }}
  {{ $js := resources.Get "js/esbuild/embed-frame.js" | js.Build $jsOpts }}
  {{ $js = $js | minify | fingerprint }}


  <script src="{{ $js.RelPermalink }}" defer></script>
{{ end }}

{{ define "main" }}
  <div
    class="bg-white py-4 px-8"
    data-ga-category="embed"
    data-sf-campaign="701f4000000TVu8AAG"
  >
    {{ $embed := .Param "embed-partial" | printf "embed/%s" }}
    {{ partial $embed . }}
  </div>
{{ end }}

{{ define "svg-resources" }}
  {{ $svgs := dict
    "banner-svg" "/img/logos/banner-default-on-trans.svg"
    "check-svg" "@fontawesome/solid/check.svg"
    "email-svg" "@fontawesome/regular/envelope.svg"
    "logo-svg" "/img/logos/circle-default-on-trans.svg"
    "user-svg" "@fontawesome/solid/user.svg"
  }}
  {{ partial "header/svgs.html" $svgs }}
{{ end }}
