{{ $data := index site.Data.authors . }}
{{ $nameID := urlize . }}

{{ $link := "" }}
{{ with $page := site.GetPage (printf "authors/%s" .) }}
  {{ $link = $page.RelPermalink }}
{{ end }}

{{ $thumb := "" }}
{{ $gravity := index $data "image-gravity" | default "sm" }}
{{ with $data.headshot }}
  {{ $imgOpt := dict
    "filename" .
    "width" 256
    "height" 256
    "gravity" $gravity
    "ext" "webp"
  }}
  {{ $thumb = partial "helper/imgproxy" $imgOpt }}
{{ end }}

{{ $data = dict
  "name" .
  "slug" $nameID
  "link" $link
  "thumb" $thumb
  "headshot" $data.headshot
  "gravity" $gravity
  | merge $data
}}

{{ return $data }}
