{{ define "html-class" -}}
  scroll-smooth
{{- end }}

{{ define "static-head" }}
  {{ partialCached "header/static-tw.html" . }}
  {{ $color := "#000" }}
  {{ if .Param "banner-active" }}
    {{ $color = .Param "banner-bg-color" }}
  {{ end }}
  <meta name="theme-color" content="{{ $color }}" />
{{ end }}

{{ define "body-class" }}text-[16px] bg-white font-sans leading-normal{{ end }}

{{ define "header" }}
  <header
    class="contents"
    x-data="{ aboutActive: '', isStuck: false }"
    @intersect:about.window="aboutActive = $event.detail"
    data-ga-category="header"
    data-sf-campaign="701Dn000000Ygp4IAC"
  >
    <div class="md:hidden">
      {{ partialCached "tw/nav.html" . }}
    </div>
    {{ if .Param "banner-active" }}
      {{ partialCached "tw/banner.html" . }}
    {{ end }}
    <div class="hidden md:contents">
      {{ partial "tw/tnd-nav-top.html" . }}
      {{ partial "tw/tnd-nav-hero.html" . }}
    </div>
    {{ partial "tw/tnd-sticky.html" . }}
  </header>
{{ end }}

{{ define "main" }}
  {{ partial "tw/tnd-main.html" . }}
{{ end }}

{{ define "before-footer" }}
  <!-- noop -->
{{ end }}

{{ define "footer" }}
  {{ partial "tw/footer.html" . }}
{{ end }}

{{ define "modal" }}
  {{ partial "tw/modal-ribbon.html" ( dict
    "filename" "/2023/02/01hz-hk1z-0qfm-tsg4.jpeg"
    )
  }}
{{ end }}

{{ define "search-modal" }}
  {{ partial "tw/modal-search.html" . }}
{{ end }}
