{{ define "html-class" -}}
  scroll-smooth
{{- end }}

{{ define "static-head" }}
  {{ partialCached "header/static-tw.html" . }}
  {{ $color := "#000" }}
  {{ if .Param "banner-active" }}
    {{ $color = .Param "banner-bg-color" }}
  {{ end }}
  <meta name="theme-color" content="{{ $color }}" />
{{ end }}

{{ define "body-class" }}text-[16px] bg-white font-sans leading-normal{{ end }}

{{ define "header" }}
  <header
    class="contents"
    x-data="{ aboutActive: '', isStuck: false }"
    @intersect:about.window="aboutActive = $event.detail"
    data-ga-category="header"
    data-sf-campaign="7015G000001Z6ZgQAK"
  >
    <div class="md:hidden">
      {{ partialCached "tw/nav.html" . }}
    </div>
    {{ if .Param "banner-active" }}
      {{ partialCached "tw/banner.html" . }}
    {{ end }}
    <div class="hidden md:contents">
      {{ partial "tw/tnd-nav-top.html" . }}
      {{ partial "tw/tnd-nav-hero.html" . }}
    </div>
    {{ partial "tw/tnd-sticky.html" . }}
  </header>
{{ end }}

{{ define "main" }}
  {{ partial "tw/tnd-main.html" . }}
{{ end }}

{{ define "before-footer" }}
  <!-- noop -->
{{ end }}

{{ define "footer" }}
  {{ partial "tw/tnd-footer.html" . }}
{{ end }}

{{ define "modal" }}
  {{ partialCached "tw/modal-ribbon.html" ( dict
    "filename" "/2023/02/01hz-hk1z-0qfm-tsg4.jpeg"
    )
  }}
{{ end }}

{{ define "search-modal" }}
  {{ partial "tw/modal-search.html" . }}
{{ end }}

{{ define "svg-resources" }}
  {{ $svgs := dict
    "apple-svg" "@fontawesome/brands/apple.svg"
    "banner-svg" "/img/logos/banner-default-on-trans.svg"
    "bars-svg" "@fontawesome/solid/bars.svg"
    "check-svg" "@fontawesome/solid/check.svg"
    "close-svg" "@fontawesome/solid/circle-xmark.svg"
    "email-svg" "@fontawesome/regular/envelope.svg"
    "fb-svg" "@fontawesome/brands/facebook-f.svg"
    "flip-svg" "@fontawesome/brands/flipboard.svg"
    "gh-svg" "@fontawesome/brands/github.svg"
    "google-svg" "@fontawesome/brands/google.svg"
    "heart-svg" "@fontawesome/solid/heart.svg"
    "ig-svg" "@fontawesome/brands/instagram.svg"
    "logo-svg" "/img/logos/circle-default-on-trans.svg"
    "paper-plane-svg" "@fontawesome/solid/paper-plane.svg"
    "search-svg" "@fontawesome/solid/magnifying-glass.svg"
    "share-svg" "@fontawesome/solid/share.svg"
    "spinner-svg" "@fontawesome/solid/spinner.svg"
    "twitter-svg" "@fontawesome/brands/twitter.svg"
  }}
  {{ partial "header/svgs.html" $svgs }}
{{ end }}
