{{ $idEmail := partial "helper/new-id" . }}
{{ $idFname := partial "helper/new-id" . }}
{{ $idLname := partial "helper/new-id" . }}
{{ $idCounty := partial "helper/new-id" . }}
<form
  x-show="showForm"
  x-cloak
  class="mt-4 no-js-only"
  :class="{'no-js-only': false}"
  action="https://email-alerts.data.spotlightpa.org/api/add-contact"
  method="post"
  autocomplete="on"
  data-ga-form="newsletters:covid-alerts"
  data-ga-category="newsletters:covid-alerts"
  target="_top"
  data-ga-form="newsletters:investigator"
  autocomplete="on"
  x-transition:enter="fade-enter-active"
  x-transition:enter-start="fade-enter"
  x-transition:leave="fade-enter-active"
  x-transition:leave-end="fade-enter"
>
  <input
    type="hidden"
    name="redirect"
    value="https://www.spotlightpa.org/newsletters/thanks/"
  >
  <input
    type="hidden"
    name="redirect_sorry"
    value="https://www.spotlightpa.org/newsletters/sorry/"
  >
  <div class="field">
    <div class="control">
      <label
        class="label"
        for='{{ $idEmail }}'
      >
        Email
      </label>
      <p class="control has-icons-right is-expanded">
        <input
          id='{{ $idEmail }}'
          type="email"
          name="email"
          autocomplete="email"
          class="input"
          required
          placeholder=""
        >
        <span class="icon is-right validator-icon">
          <svg>
            <use href="#check-svg">
            </use>
          </svg>
        </span>
      </p>
    </div>
  </div>
  <div class="field">
    <label
      class="label"
      for='{{ $idFname }}'
    >
      First name
    </label>
    <p class="control has-icons-right">
      <input
        id='{{ $idFname }}'
        type="text"
        name="first_name"
        autocomplete="given-name"
        class="input"
        required
        placeholder=""
      >
      <span class="icon is-right validator-icon">
        <svg>
          <use href="#check-svg">
          </use>
        </svg>
      </span>
    </p>
  </div>
  <div class="field">
    <label
      class="label"
      for='{{ $idLname }}'
    >
      Last name
    </label>
    <p class="control has-icons-right">
      <input
        id='{{ $idLname }}'
        type="text"
        name="last_name"
        autocomplete="family-name"
        class="input"
        required
        placeholder=""
      >
      <span class="icon is-right validator-icon">
        <svg>
          <use href="#check-svg">
          </use>
        </svg>
      </span>
    </p>
  </div>
  <div class="mb-2">
    <div class="control">
      <label>
        <span
          class="label"
          for='{{ $idCounty }}'
        >
          Select your county
        </span>
        <div class="select is-fullwidth">
          <select
            id='{{ $idCounty }}'
            name="fips"
            required
          >
            <option
              value=""
              selected
              disabled
            >Pennsylvania counties</option>
            {{ range site.Data.counties }}
              <option value="{{ .FIPS }}">
                {{ .name }}
              </option>
            {{ end }}
          </select>
        </div>
      </label>
    </div>
  </div>
  <div class="field">
    <p class="control">
      <button
        class="button is-medium is-danger has-text-weight-semibold is-fullwidth"
        type="submit"
      >
        Sign up
      </button>
    </p>
  </div>
</form>
