{{ $idEmail := partial "helper/inc-id" . }}
{{ $idFname := partial "helper/inc-id" . }}
{{ $idLname := partial "helper/inc-id" . }}

<form
  action="https://email-alerts.data.spotlightpa.org/api/add-contact"
  method="post"
  autocomplete="on"
  data-ga-form="newsletters:covid-alerts"
  data-ga-category="newsletters:covid-alerts-full"
>
  <input
    type="hidden"
    name="redirect"
    value="https://www.spotlightpa.org/newsletters/thanks/"
  >
  <input
    type="hidden"
    name="redirect_sorry"
    value="https://www.spotlightpa.org/newsletters/sorry/"
  >
  <div class="field">
    <div class="control">
      <label
        class="label"
        for='{{ $idEmail }}'
      >
        Email address
      </label>
      <p class="control has-icons-left has-icons-right is-expanded">
        <input
          id='{{ $idEmail }}'
          type="email"
          name="email"
          autocomplete="email"
          class="input"
          required
          placeholder="Email address"
          @focus.once="hasFocused = true"
        >
        <span class="icon is-left">
          <svg>
            <use href="#email-svg">
            </use>
          </svg>
        </span>
        <span class="icon is-right validator-icon">
          <svg>
            <use href="#check-svg">
            </use>
          </svg>
        </span>
      </p>
    </div>
  </div>
  <div class="field">
    <label
      class="label"
      for='{{ $idFname }}'
    >
      First Name
    </label>
    <p class="control has-icons-right">
      <input
        id='{{ $idFname }}'
        type="text"
        name="first_name"
        autocomplete="given-name"
        class="input"
        required
        placeholder="First name"
      >
      <span class="icon is-right validator-icon">
        <svg>
          <use href="#check-svg">
          </use>
        </svg>
      </span>
    </p>
  </div>
  <div class="field">
    <label
      class="label"
      for='{{ $idLname }}'
    >
      Last Name
    </label>
    <p class="control has-icons-right">
      <input
        id='{{ $idLname }}'
        type="text"
        name="last_name"
        autocomplete="family-name"
        class="input"
        required
        placeholder="Last name"
      >
      <span class="icon is-right validator-icon">
        <svg>
          <use href="#check-svg">
          </use>
        </svg>
      </span>
    </p>
  </div>
  <div class="field">
    <div class="control">
      <label>
        <span class="label">
          Select your county
        </span>
        <div class="select is-fullwidth">
          <select required name="fips">
            <option
              value=""
              selected
              disabled
            >Pennsylvania counties</option>
            {{ range site.Data.counties }}
              <option value="{{ .FIPS }}">
                {{ .name }}
              </option>
            {{ end }}
          </select>
        </div>
      </label>
    </div>
  </div>
  <div class="field">
    <p class="control">
      <button
        class="button is-medium is-danger has-text-weight-semibold"
        type="submit"
      >
        Subscribe
      </button>
    </p>
  </div>
</form>
