{{ $idEmail := partial "helper/new-id" . }}
{{ $idFname := partial "helper/new-id" . }}
{{ $idLname := partial "helper/new-id" . }}
<form
  x-show="showForm"
  x-cloak
  class="mt-4 no-js-only"
  :class="{'no-js-only': false}"
  action='{{ .Param "investigator-action" }}'
  method="post"
  target="_top"
  data-ga-form="newsletters:investigator"
  autocomplete="on"
  x-transition:enter="fade-enter-active"
  x-transition:enter-start="fade-enter"
  x-transition:leave="fade-enter-active"
  x-transition:leave-end="fade-enter"
>
  {{ partial "newsletter/investigator-hidden.html" . }}
  <div class="field">
    <label
      class="label"
      for='{{ $idEmail }}'
    >Email</label>
    <p class="control has-icons-right is-expanded">
      <input
        id='{{ $idEmail }}'
        class="input"
        name="EMAIL"
        type="email"
        placeholder=""
        autocomplete="email"
        required
      >
      <span class="icon is-right validator-icon">
        <svg>
          <use xlink:href="#check-svg"></use>
        </svg>
      </span>
    </p>
  </div>
  <div class="field">
    <label
      class="label"
      for='{{ $idFname }}'
    >First name</label>
    <p class="control has-icons-right is-expanded">
      <input
        id='{{ $idFname }}'
        class="input"
        type="text"
        name="FNAME"
        placeholder=""
        autocomplete="given-name"
        required
      >
      <span class="icon is-right validator-icon">
        <svg>
          <use xlink:href="#check-svg"></use>
        </svg>
      </span>
    </p>
  </div>
  <div class="field">
    <label
      class="label"
      for='{{ $idLname }}'
    >Last name</label>
    <p class="control has-icons-right is-expanded">
      <input
        id='{{ $idLname }}'
        class="input"
        type="text"
        name="LNAME"
        placeholder=""
        autocomplete="family-name"
        required
      >
      <span class="icon is-right validator-icon">
        <svg>
          <use xlink:href="#check-svg"></use>
        </svg>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button
        type="submit"
        class="button is-medium is-danger has-text-weight-semibold is-fullwidth"
      >
        Sign Up
      </button>
    </p>
  </div>
  <p class="content">
    <a href="/newsletters/investigator/#investigator-archive">See archive</a>
  </p>
</form>
