{{ $idEmail1 := partial "helper/new-id" . }}
{{ $idEmail2 := partial "helper/new-id" . }}
<form
  class="has-text-centered box"
  action="{{ .Param "newsletters-action" }}"
  method="post"
  target="_blank"
  data-ga-form="newsletters:investigator"
>
  {{ partial "newsletter/investigator-hidden.html" . }}
  <h2 class="title is-6 has-text-danger has-text-left is-uppercase">
    Newsletter
  </h2>
  <h2 class="title is-4">
    Get every Spotlight PA story and the best
    <span class="is-hidden-touch"><br /></span>
    investigative journalism from across Pa.
  </h2>
  <div class="field is-hidden-tablet">
    <p class="control has-icons-left has-icons-right is-expanded">
      <label class="is-sr-only" for="{{ $idEmail1 }}">Email</label>
      <input
        id="{{ $idEmail1 }}"
        class="input is-medium"
        type="email"
        placeholder="Email address"
        onfocus="this.name = 'EMAIL'; this.required = true;"
      />
      <span class="icon is-left">
        <svg>
          <use xlink:href="#email-svg"></use>
        </svg>
      </span>
      <span class="icon is-right validator-icon">
        <svg>
          <use xlink:href="#check-svg"></use>
        </svg>
      </span>
    </p>
  </div>
  <div class="field is-hidden-tablet">
    <p class="control">
      <button
        type="submit"
        class="button is-medium is-danger has-text-weight-semibold is-fullwidth"
      >
        Sign Up
      </button>
    </p>
  </div>
  <div class="field has-addons is-hidden-mobile">
    <p class="control has-icons-left has-icons-right is-expanded">
      <label class="is-sr-only" for="{{ $idEmail2 }}">Email</label>
      <input
        id="{{ $idEmail2 }}"
        class="input is-medium"
        type="email"
        placeholder="Enter your email address"
        onfocus="this.name = 'EMAIL'; this.required = true;"
      />
      <span class="icon is-left">
        <svg>
          <use xlink:href="#email-svg"></use>
        </svg>
      </span>
      <span class="icon is-right validator-icon">
        <svg>
          <use xlink:href="#check-svg"></use>
        </svg>
      </span>
    </p>
    <p class="control">
      <button
        type="submit"
        class="button is-medium is-danger has-text-weight-semibold"
      >
        Sign Up
      </button>
    </p>
  </div>
</form>
