{{ $idEmail := partial "helper/inc-id" . }}
<form
  class="has-text-centered box"
  action='{{ .Param "investigator-action" }}'
  method="post"
  target="_blank"
  data-ga-form='newsletters:multi'
  data-ga-category="newsletter"
  x-data="{ hasFocused: false }"
>
  {{ partial "newsletter/hidden-input.html" . }}
  <p class="is-hidden" hidden>
    <label>
        <input type="checkbox" name="contact" value="1">
        I am a robot
    </label>
  </p>
  <h2 class="title is-6 has-text-danger has-text-left is-uppercase">Newsletter</h2>
  <h2 class="title is-4">
    Get every Spotlight PA story and the best
    <span class="is-hidden-touch"><br></span>
    investigative journalism from across Pa.
  </h2>
  <div class="field">
    <p class="control has-icons-left has-icons-right is-expanded">
      <label class="is-sr-only" for='{{ $idEmail }}'>Email</label>
      <input
        id='{{ $idEmail }}'
        class="input"
        type="email"
        name="EMAIL"
        placeholder="Enter your email address"
        required
        @focus.once="hasFocused = true"
      >
      <span class="icon is-left">
        <svg>
          <use xlink:href="#email-svg"></use>
        </svg>
      </span>
      <span class="icon is-right validator-icon">
        <svg>
          <use xlink:href="#check-svg"></use>
        </svg>
      </span>
    </p>
  </div>
  <div
    class="field"
    x-cloak
    x-show="hasFocused"
    x-transition:enter="fade-enter-active"
    x-transition:enter-start="fade-enter"
    x-transition:leave="fade-enter-active"
    x-transition:leave-end="fade-enter"
  >
    <p class="control has-text-left">
      <label class="checkbox">
          <input
            type="checkbox"
            name="papost"
            value="1"
            checked
            data-ga-button
            data-ga-action="toggle-newsletter:papost"
          >
          <strong>Daily</strong>: Top news every weekday morning, plus a daily puzzle.
      </label>
    </p>
    <span class="is-hidden-tablet"><br /></span>
    <p class="control has-text-left">
      <label class="checkbox">
          <input
            type="checkbox"
            name="investigator"
            value="1"
            checked
            data-ga-button
            data-ga-action="toggle-newsletter:investigator"
          >
          <strong>Weekly</strong>: Best accountability journalism every Thursday, plus a weekly riddle.
      </label>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button
        type="submit"
        class="button is-danger has-text-weight-semibold is-fullwidth"
      >
        Sign Up
      </button>
    </p>
  </div>
</form>
