{{ $idEmail1 := partial "helper/new-id" . }}
{{ $idEmail2 := partial "helper/new-id" . }}
<form
  class="has-text-centered box"
  action="{{ site.Param `newsletters-action` }}"
  method="post"
  target="_blank"
  data-ga-form="newsletters:talkofthetown"
>
  {{ partial "newsletter/talkofthetown-hidden.html" . }}
  <h2 class="title is-6 has-text-danger has-text-left is-uppercase">
    Don’t Miss A Beat
  </h2>
  <h2 class="mt-4 subtitle is-5 has-text-black">
    Sign up for our new regional newsletter, <b>Talk of the Town</b>, and get
    all the news and notes from State College and north-central PA.
  </h2>
  <div class="field is-hidden-tablet">
    <p class="control has-icons-left has-icons-right is-expanded">
      <label class="is-sr-only" for="{{ $idEmail1 }}">Email</label>
      <input
        id="{{ $idEmail1 }}"
        class="input is-medium"
        type="email"
        placeholder="Email address"
        onfocus="this.name = 'EMAIL'; this.required = true;"
      />
      <span class="icon is-left">
        <svg viewBox="0 0 1 1">
          <use xlink:href="#email-svg"></use>
        </svg>
      </span>
      <span class="icon is-right validator-icon">
        <svg viewBox="0 0 1 1">
          <use xlink:href="#check-svg"></use>
        </svg>
      </span>
    </p>
  </div>
  <div class="field is-hidden-tablet">
    <p class="control">
      <button
        type="submit"
        class="button is-medium is-danger has-text-weight-semibold is-fullwidth"
      >
        Sign Up
      </button>
    </p>
  </div>
  <div class="field has-addons is-hidden-mobile">
    <p class="control has-icons-left has-icons-right is-expanded">
      <label class="is-sr-only" for="{{ $idEmail2 }}">Email</label>
      <input
        id="{{ $idEmail2 }}"
        class="input is-medium"
        type="email"
        placeholder="Enter your email address"
        onfocus="this.name = 'EMAIL'; this.required = true;"
      />
      <span class="icon is-left">
        <svg viewBox="0 0 1 1">
          <use xlink:href="#email-svg"></use>
        </svg>
      </span>
      <span class="icon is-right validator-icon">
        <svg viewBox="0 0 1 1">
          <use xlink:href="#check-svg"></use>
        </svg>
      </span>
    </p>
    <p class="control">
      <button
        type="submit"
        class="button is-medium is-danger has-text-weight-semibold"
      >
        Sign Up
      </button>
    </p>
  </div>
</form>
