{{ $q := .Get "question" }}


<div
  x-data="{
        id: $id('q-and-a'),
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
  :id="id"
  role="region"
>
  <h2 class="mb-4 font-sans text-2xl leading-tight font-extrabold">
    <button
      @click="expanded = !expanded"
      :aria-expanded="expanded"
      class="flex w-full items-center justify-between py-4 text-left text-xl font-bold"
    >
      <span class="w-full">Q: {{ $q }}</span>
      <span x-show="expanded" aria-hidden="true" class="ml-4">&minus;</span>
      <span x-show="!expanded" aria-hidden="true" class="ml-4">&plus;</span>
    </button>
  </h2>

  <ul x-show="expanded" x-collapse class="mb-6 pl-0">
    {{ .Inner }}
  </ul>
</div>
