{{ with .block }}
  {{ $id := .id | default "promo" }}
  {{ $hed := .hed }}
  {{ $sub := .subhed }}
  {{ $dek := .dek }}
  {{ $cta := .cta }}
  {{ $link := .link }}
  {{ $image := .image }}
  {{ $sizes := slice
    (dict "width" 296 "height" 110)
    (dict "width" 1072 "height" 512)
  }}

  {{ partial "tw/ballyhoo.html" (dict
    "id" $id
    "hed" $hed
    "sub" $sub
    "dek" $dek
    "cta" $cta
    "link" $link
    "image" $image
    "wrapperClass" "md:py-16 lg:py-24"
    "hedText" "text-2xl md:text-3xl lg:text-4xl"
    "dekText" "text-lg"
    )
  }}
{{ end }}
