{{ with .block }}
  <div class="px-5 py-12 lg:scroll-mt-20">
    <div
      class="border-red mx-auto max-w-screen-lg items-center justify-evenly rounded border-2 bg-white px-4 pt-10 pb-10 font-serif sm:flex"
    >
      <h2
        class="my-2 flex-[0_1_628px] font-sans text-2xl leading-none font-black tracking-wide sm:text-3xl md:text-4xl"
      >
        {{ .title }}
      </h2>
      <a
        href="https://spotlightpa.fundjournalism.org/{{ .theme }}"
        class="btn-donate"
      >
        {{ .cta }} &rarr;
      </a>
    </div>
  </div>
{{ end }}
