<section class="mb-[72px] w-full pt-12">
  <div class="mx-auto max-w-prose px-4">
    <h3 class="border-g-4 text-g-9 border-b-2 pb-2 text-2xl font-bold">
      {{ default "More Newsletters" (.Param "explore-title") }}
    </h3>
    {{ if ne (.Param "explore-deck") false }}
      <p class="my-4">Explore other free newsletters from Spotlight PA.</p>
    {{ end }}
    <div class="font-sans">
      {{ $exploreReporter := .Param "exploreReporter" }}
      {{ if $exploreReporter }}
        {{ $articleAmount := default 3 (.Param "articleAmount") }}
        {{ $reporterArticles := where site.RegularPages ".Params.authors" "intersect" (slice $exploreReporter) }}
        {{ $reporterArticles = $reporterArticles | first $articleAmount }}

        {{ range $reporterArticles }}
          <a href="{{ .RelPermalink }}" class="block hover:no-underline">
            <div
              class="mt-[20px] flex min-h-52 w-full transform transition hover:scale-[1.02]"
            >
              <div
                class="bg-g-1 hover:bg-g-2 h-auto w-full rounded p-[20px] transition-colors duration-200"
              >
                <div class="flex h-auto w-full flex-col sm:flex-row">
                  {{ with .Param "image" }}
                    <div
                      class="mb-4 flex w-full items-center justify-center sm:mr-2.5 sm:mb-0 sm:w-5/12"
                    >
                      <div
                        class="mx-auto flex min-h-[200px] w-full max-w-[300px] items-center justify-center"
                      >
                        {{ partial "tw/image-block.html" (dict
                          "widths"       (slice 128 256 384 512 1280)
                          "filename"     .
                          "description"  (printf "Picture for %s" $.Title)
                          "widthRatio"   ($.Param "image-width")
                          "heightRatio"  ($.Param "image-height")
                          "imgClass"     "object-contain w-auto max-h-full"
                          )
                        }}
                      </div>
                    </div>
                  {{ end }}
                  <div
                    class="{{ if .Param "image" }}
                      sm:w-7/12
                    {{ end }} text-g-9 flex w-full flex-col justify-center space-y-1 sm:ml-2.5"
                  >
                    <h4 class="text-xl font-bold lg:text-2xl">
                      {{ .Title }}
                    </h4>
                    {{ with .Param "subhead" }}
                      <p class="text-sm font-bold md:text-base">{{ . }}</p>
                    {{ end }}
                    {{ with .Param "deck" }}
                      <p class="py-2 text-base leading-snug font-normal">
                        {{ . }}
                      </p>
                    {{ else }}
                      <p class="py-2 text-base leading-snug font-normal">
                        {{ .Summary | truncate 120 }}
                      </p>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </a>
        {{ end }}
      {{ else }}
        {{ range .Params.explore }}
          <a
            href="{{ .link }}"
            class="block hover:no-underline"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div
              class="mt-5 flex min-h-52 w-full transform transition hover:scale-[1.02]"
            >
              <div
                class="bg-g-1 hover:bg-g-2 h-auto w-full rounded p-5 transition-colors duration-200"
              >
                <div class="flex h-auto w-full flex-col sm:flex-row">
                  <div
                    class="mb-4 flex w-full items-center justify-center sm:mr-2.5 sm:mb-0 sm:w-5/12"
                  >
                    <div
                      class="mx-auto flex min-h-[200px] w-full max-w-[300px] items-center justify-center"
                    >
                      {{ partial "tw/image-block.html" (dict
                        "widths"       (slice 128 256 384 512 1280)
                        "filename"     .image
                        "description"  (printf "Picture of %s" .newsletter)
                        "widthRatio"   .width
                        "heightRatio"  .height
                        "imgClass"     "object-contain w-auto max-h-full"
                        )
                      }}
                    </div>
                  </div>
                  <div
                    class="text-g-9 flex w-full flex-col justify-center space-y-1 sm:ml-2.5 sm:w-7/12"
                  >
                    <h4 class="text-xl font-bold lg:text-2xl">
                      {{ .newsletter }}
                    </h4>
                    <p class="text-sm font-bold md:text-base">
                      {{ .schedule }}
                    </p>
                    <p class="py-2 text-base leading-snug font-normal">
                      {{ .description }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
