{{ with .block }}
  <section class="w-screen overflow-hidden bg-black text-white">
    {{ with .title }}
      <h2
        class="relative z-10 mx-auto max-w-7xl p-4 text-xl font-black drop-shadow-[0_0_3px_rgba(0,0,0,0.5)] sm:p-5 sm:text-2xl md:text-4xl lg:px-0"
      >
        {{ . }}
      </h2>
    {{ end }}
    {{ with .cta }}
      <nav
        class="-mt-16 w-full sm:-mt-20 sm:grid sm:grid-cols-12 md:grid md:grid-cols-14"
      >
        {{ range . }}
          <div
            class="group relative col-span-6 flex flex-col items-center justify-end first:row-span-2 first:pt-60 sm:overflow-hidden sm:first:col-span-12 md:col-span-5 md:first:col-span-9 md:first:pt-[460px] lg:col-span-6 lg:first:col-span-8"
          >
            {{ $name := .image }}
            {{ $imgOpts := dict
              "filename" $name
              "widthRatio" 1
              "heightRatio" 1
              "sizeHint" "50vw"
              "credit" ""
              "widths" (slice 128 256 384 512 1280)
              "figClass" "min-w-full h-full opacity-60 absolute"
              "containerClass" "min-w-full h-full overflow-clip"
              "creditClass" "mt-1 w-full px-1 text-right font-sans text-xs uppercase leading-tight text-g-7"
              "sizeHint" "400px"
              "rounded-sm" false
              "shadow-sm" false
              "gravity" (.Page.Param "image-gravity")
            }}
            {{ with $name }}
              <div
                class="absolute top-0 right-0 bottom-0 left-0 row-span-3 row-start-1 -mb-4 w-full bg-black"
              >
                {{ partial "tw/image-block.html" $imgOpts }}
              </div>
            {{ end }}


            <div
              class="sm:group-first:border-yellow z-10 row-span-1 row-start-3 mx-4 my-10 mr-4 mb-16 flex max-w-md flex-wrap items-end justify-end rounded-sm border-b-4 border-black bg-black group-first:max-w-none group-first:self-start sm:mb-20 sm:ml-0 sm:rounded-l-none sm:rounded-r sm:group-first:mr-24"
            >
              <p
                class="w-full p-5 text-sm leading-relaxed sm:group-first:max-w-xl md:text-base lg:text-lg"
              >
                {{ .body }}
              </p>
              <a
                href="{{ .url }}"
                class="btn-signup-lg mr-8 -mb-12 sm:mr-0 sm:group-first:-mr-10"
                >{{ .actionText }}</a
              >
            </div>
          </div>
        {{ end }}
      </nav>
    {{ end }}

  </section>
{{ end }}
