{{ with .block }}
  <section
    class="sticky top-14 z-20 bg-white p-3 shadow-md md:top-16 lg:block"
    data-ga-category="internal-nav"
    x-data="{ aboutActive: '', isStuck: false }"
    @intersect:about.window="aboutActive = $event.detail"
  >
    {{ with .link }}
      <div
        class="mx-auto flex max-w-screen-xl flex-col md:flex-row"
        data-ga-category="sticky"
      >
        <div class="no-js:hidden relative mx-auto w-96 max-w-full md:hidden">
          <select
            x-data
            @change="window.location.assign($event.target.value);"
            class="spl-select text-xl"
          >
            <option disabled selected>Jump to Section…</option>
            {{ range . }}
              <option value="#{{ .link }}">{{- .title -}}</option>
            {{ end }}
          </select>
          <span
            class="text-g-6 pointer-events-none absolute inset-y-0 right-3 z-10 inline-flex items-center justify-center leading-none"
            aria-hidden="true"
          >
            <svg class="fill-g-5 h-4 w-4">
              {{ partial "helper/svg.html" "chevron" }}
            </svg>
          </span>
        </div>

        <div
          class="mx-auto hidden w-full flex-wrap justify-start font-sans md:flex lg:py-3"
        >
          {{ range . }}
            <a
              data-about-id="{{ .link }}"
              data-ga-category="item"
              class="hover:border-red-7 hover:text-red-7 my-2 mr-3 inline-flex w-auto items-center rounded-sm border border-black px-4 py-2 text-sm leading-4 last:mr-0 last:ml-auto active:bg-black active:text-white lg:my-0 lg:mr-5 lg:text-base"
              :class="
            aboutActive === $el.dataset.aboutId ?
            'bg-black text-white hover:border-blue-3 hover:text-blue-3' :
            ''
          "
              href="#{{ .link }}"
              ><span>
                {{- .title -}}
              </span></a
            >
          {{ end }}
        </div>
      </div>
    {{ end }}

  </section>
{{ end }}
