{{ with .block }}
  {{ $slug := .slug | default "guides" }}
  {{ $stories := slice }}
  {{ range .stories }}
    {{ with site.GetPage (strings.TrimPrefix "content/" .) }}
      {{ $stories = $stories | append . }}
    {{ else }}
      {{ warnf "unknown story path %q" . }}
    {{ end }}
  {{ end }}


  <div
    id="{{ $slug }}"
    class="mx-auto my-8 mb-5 max-w-(--breakpoint-xl) space-y-6 sm:my-12 md:my-24 md:space-y-12 lg:space-y-16"
    x-data="{ isSticky: true }"
  >
    {{ partial "tw/list-callout-story.html" (dict
      "hed" "Investigations"
      "pages" $stories
      "rubricLink" "rubric"
      )
    }}
  </div>
{{ end }}
