{{ with .block }}
  <div
    x-data="{ active: null }"
    class="mx-auto max-w-2xl space-y-4 px-5 lg:px-0"
  >
    <h2 class="mb-4 text-3xl font-bold leading-tight">
      {{ .hed }}
    </h2>
    <p
      class="text-pretty font-sans text-dek sm:text-base sm:leading-relaxed md:text-lg lg:text-xl"
    >
      {{ .dek }}
    </p>
    {{ range .answers }}
      <div
        x-data="{
          id: $id('q-and-a'),
          get expanded() {
              return this.active === this.id
          },
          set expanded(value) {
              this.active = value ? this.id : null
          },
        }"
        :id="id"
        role="region"
      >
        <h2 class="mb-4 font-sans text-2xl font-extrabold leading-tight">
          <button
            @click="expanded = !expanded"
            :aria-expanded="expanded"
            class="flex w-full items-center justify-between py-4 text-left text-xl font-bold"
          >
            <span class="w-full">{{ .hed }}</span>
            <span x-show="expanded" aria-hidden="true" class="ml-4"
              >&minus;</span
            >
            <span x-show="!expanded" aria-hidden="true" class="ml-4"
              >&plus;</span
            >
          </button>
        </h2>

        <div x-show="expanded" x-collapse class="article-content mb-6 pl-0">
          {{ page.RenderString .body }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
