{{ with .block }}
  {{ $id := "id" }}
  {{ $category := "category" }}
  {{ $data := site.Data.partners.list }}

  {{ $partnerCounties := slice }}
  {{ $hasPartner := dict }}
  {{ range $data }}
    {{ $partnerCounties = $partnerCounties | append .County }}
    {{ $hasPartner = $hasPartner | merge  (dict .County true) }}
  {{ end }}
  {{ $partnerCounties = sort $partnerCounties | uniq }}


  <section
    class="min-h-[65vh] bg-white pb-20 text-g-9"
    data-ga-category="partners"
    x-data="{ selectedCounty: 'Allegheny' }"
  >
    <div
      class="bg-linear-to-b bg-navy-2 from-navy-1 via-navy-2 via-95% to-navy-2 to-100% py-8 md:py-24"
    >
      <div class="mx-auto max-w-4xl px-5 lg:px-0">
        {{ with .title }}
          <h2
            class="lg:mb0 mb-4 text-4xl font-black uppercase leading-none opacity-40 md:text-6xl"
          >
            {{ . }}
          </h2>
        {{ end }}
        {{ with $.Page.RenderString .copy }}
          <div class="article-content my-4 text-xl lg:text-2xl">
            {{ . }}
          </div>
        {{ end }}


        <svg
          class="mr-1 inline-block h-full w-full"
          aria-label="Map of Pennsylvania"
          viewBox="0 0 902 521"
        >
          {{ range site.Data.counties }}
            <use
              xlink:href="#{{ .name }}"
              class="{{ if index $hasPartner .name }}
                cursor-pointer fill-g-5 hover:fill-blue-4
              {{ else }}
                fill-g-4
              {{ end }} stroke-white stroke-2"
              transform="{{ .translate }}"
              @click="selectedCounty = '{{ .name }}'"
            />
          {{ end }}


          <g class="pointer-events-none">
            {{ partial "helper/svg.html" "counties" }}
          </g>
        </svg>
      </div>
      {{ with .cta }}
        <div class="mt-12 flex justify-center" data-ga-category="cta">
          <a
            class="border border-black px-4 py-2 text-center text-xl font-bold leading-tight text-black duration-300 hover:border-red-7 hover:text-red-7 lg:text-2xl"
            href="{{ .url }}"
          >
            {{- .copy -}}
          </a>
        </div>
      {{ end }}
    </div>

    {{ with $partnerCounties }}
      <div class="m-auto w-full justify-center md:p-4 lg:pt-10 xl:px-0">
        <header
          class="sticky top-0 w-full bg-white shadow-sm md:relative md:shadow-none"
        >
          <div
            class="m-auto max-w-screen-lg px-5 sm:flex md:items-center md:gap-3 md:px-0"
          >
            <h3
              x-text="selectedCounty"
              class="mb-2 py-2 font-sans text-3xl font-bold leading-tight tracking-wide sm:text-4xl"
              :class="{ 'w-full' : selectedCounty != '' }"
            ></h3>

            <div
              class="no-js:hidden sticky top-0 mx-auto ml-auto w-96 max-w-full bg-white py-2 md:relative"
            >
              <select
                @change="selectedCounty = $el.value;"
                class="spl-select text-xl"
              >
                <option disabled selected>Select County…</option>
                {{ range $partnerCounties }}
                  {{ if ne . "Regional/At-large" }}
                    <option value="{{ . }}">{{ . }} County</option>
                  {{ end }}
                {{ end }}
                <option value="Regional/At-large">Regional/At-large</option>
              </select>
              <span
                class="pointer-events-none absolute inset-y-0 right-8 z-10 inline-flex items-center justify-center leading-none text-g-6"
                aria-hidden="true"
              >
                <svg class="h-4 w-4 text-g-5">
                  {{ partial "helper/svg.html" "chevron" }}
                </svg>
              </span>
            </div>
          </div>
        </header>

        {{ range $partnerCounties }}
          <div
            id="{{ . | urlize }}"
            x-show="selectedCounty === '{{ . }}'"
            class="mx-auto flex max-w-screen-lg border-t border-g-4 p-5 pt-0 sm:gap-6"
            :class="{'': selectedCounty === '{{ . }}' }"
          >
            {{ with . }}
              <div class="hidden w-80 max-w-xs justify-center pt-5 sm:flex">
                <svg
                  width="100%"
                  class="inline-block bg-none fill-blue stroke-white stroke-2"
                >
                  <use
                    xlink:href="#{{ . }}"
                    style="filter: drop-shadow(0 1px 3px rgb(0 0 0 / 0.1));"
                  />
                </svg>
              </div>
            {{ end }}
            <span class="hidden w-0 border border-g-3 sm:block"></span>
            <ul
              class="mx-auto w-full max-w-screen-lg space-y-2 pt-5 md:flex md:flex-wrap md:items-baseline md:gap-4"
            >
              {{ range where $data "County" . }}
                <li class="flex-auto md:w-1/3">
                  <h4 class="text-xl font-bold leading-5">
                    {{ if .url }}
                      <a
                        href="{{ .url }}"
                        class="no-underline underline-offset-2 hover:text-blue hover:underline"
                        >{{ .Name }}</a
                      >
                    {{ else }}
                      {{ .Name }}
                    {{ end }}
                  </h4>
                  {{ with .City }}
                    <p>{{ . }}</p>
                  {{ end }}
                </li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </section>
{{ end }}
