<section class="@container mb-6 w-full bg-g-9 pt-12">
  {{ $maxWidth := .Param "max-width" }}
  {{ $maxWidthClass := cond (eq $maxWidth "prose") "max-w-prose" (print "max-w-[" $maxWidth "]") }}


  <div class="{{ $maxWidthClass }} mx-auto px-4 pb-6">
    <div
      class="@md:flex-row {{ if not (and (.Param "quote") (.Param "quote-source")) }}
        pb-16 @md:pb-0
      {{ end }} flex flex-col"
    >
      <div class="w-full">
        <h1 class="my-4 text-4xl font-semibold text-white">
          {{ .Title }}
        </h1>

        <h2
          class="mb-4 text-lg font-semibold text-white [&_strong]:text-yellow"
        >
          {{ .Param "subhead" | markdownify }}
        </h2>

        <p class="text-white">
          {{ .Param "deck" }}
        </p>

        <ul class="my-4 mb-7 ml-4 list-outside list-disc text-base text-white">
          {{ range .Params.bullets }}
            <li>{{ . | safeHTML }}</li>
          {{ end }}
        </ul>

        <div
          class="@md:flex-row @md:gap-4 @lg:gap-8 mb-8 flex max-w-full flex-col items-stretch gap-8"
        >
          <div class="relative flex flex-1 flex-col">
            <div
              class="font-xl w-full rounded-t-lg bg-g-7 py-2 text-center font-sans font-bold tracking-wide text-white"
            >
              Pay As You Go
            </div>
            <div
              class="flex min-h-[230px] flex-1 flex-col items-center rounded-b border-[2px] border-g-7 bg-white p-6 text-black"
            >
              <div class="text-lg font-bold">Monthly</div>
              <div class="mt-2 font-sans text-4xl font-extrabold">$19.99</div>
              <div class="@md:mb-0 @md:mt-2 mb-4 mt-2 text-g-7">per month</div>
              <a
                href="/newsletters/accessharrisburg/monthly"
                class="mt-auto w-full rounded-full border-[2px] border-g-7 bg-white px-6 py-3 text-center font-sans font-bold uppercase tracking-wide text-g-9 transition hover:bg-g-7 hover:text-white"
              >
                Subscribe
              </a>
            </div>
          </div>

          <div class="relative flex flex-1 flex-col">
            <div
              class="font-xl w-full rounded-t-lg bg-yellow py-2 text-center font-sans font-bold uppercase tracking-wide text-yellow-9"
            >
              Save 17%
            </div>
            <div
              class="flex min-h-[230px] flex-1 flex-col items-center rounded-b border-[2px] border-yellow bg-white p-6 text-black"
            >
              <div class="text-lg font-bold">Annual</div>
              <div class="mt-2 font-sans text-4xl font-extrabold">$199</div>
              <div class="mt-2 text-g-7">per year</div>
              <a
                href="/newsletters/accessharrisburg/annual"
                class="mt-auto w-full rounded-full border-[3px] border-yellow-5 bg-yellow px-6 py-3 text-center font-sans font-bold uppercase tracking-wide text-yellow-9 transition hover:bg-yellow-3"
              >
                Subscribe
              </a>
            </div>
          </div>
        </div>

        {{ $cta := .Param "cta" }}
        {{ $buttonLink := .Param "button-link" }}


        <a
          href="{{ or $buttonLink `#` }}"
          class="group mt-6 flex w-full items-center gap-4 rounded-lg border-2 border-solid border-blue-5 bg-blue-0 p-3 transition hover:bg-blue-1"
        >
          <div
            class="flex h-10 w-10 items-center justify-center rounded-full bg-blue-4 text-white"
          >
            <svg class="h-5 w-5" aria-hidden="true">
              {{ partial "helper/svg.html" "email" }}
            </svg>
          </div>

          <div class="flex-1">
            <span class="text-base font-bold text-blue-9">{{ $cta }}</span>
            <span class="text-base font-medium text-blue-7">
              — See what you'll get each week</span
            >
          </div>
          <svg
            class="h-6 w-6 text-blue-6 transition group-hover:translate-x-1 group-hover:text-blue-9"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2.5"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </a>
      </div>
    </div>

    {{ if and (.Param "quote") (.Param "quote-source") }}
      <p
        class="mb-2 mt-8 border-l-4 border-yellow py-3 pl-2 text-2xl font-bold text-white"
      >
        {{ .Param "quote" }}
      </p>
      <p class="mb-5 text-right italic text-white">
        {{ .Param "quote-source" }}
      </p>
    {{ end }}
  </div>
</section>
