<section
  class="-mt-6 flex min-h-[350px] w-full items-center justify-center bg-beige py-8"
>
  <div class="w-full max-w-prose px-4 md:px-0">
    <div class="flex flex-col items-stretch gap-[15px] md:flex-row">
      <div class="relative flex flex-1 flex-col">
        <div
          class="flex min-h-[240px] flex-1 flex-col items-center rounded bg-white p-6 pt-[64px] text-black"
        >
          <div class="text-lg font-bold">Monthly</div>
          <div class="mt-2 font-sans text-4xl font-extrabold">$19.99</div>
          <div class="mb-4 mt-2 text-g-7 md:mb-0 md:mt-2">per month</div>

          <a
            href="/newsletters/accessharrisburg/monthly"
            class="mt-auto w-full rounded-full border-[2px] border-black bg-white px-6 py-3 text-center font-sans font-bold uppercase tracking-wide text-black transition hover:bg-black hover:text-white"
          >
            Subscribe
          </a>
        </div>
      </div>

      <div class="relative flex flex-1 flex-col">
        <div
          class="font-xl w-full rounded-t-lg bg-yellow py-2 text-center font-sans font-bold uppercase tracking-wide text-yellow-9"
        >
          Save 17%
        </div>

        <div
          class="flex min-h-[240px] flex-1 flex-col items-center rounded-b border-[2px] border-yellow bg-white p-6 text-black"
        >
          <div class="text-lg font-bold">Annual</div>
          <div class="mt-2 font-sans text-4xl font-extrabold">$199</div>
          <div class="mt-2 text-g-7">per year</div>

          <a
            href="/newsletters/accessharrisburg/annual"
            class="mt-auto w-full rounded-full border-[3px] border-yellow-5 bg-yellow px-6 py-3 text-center font-sans font-bold uppercase tracking-wide text-yellow-9 transition hover:bg-yellow-3"
          >
            Subscribe
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
