{{ with .block }}
  <div class="bg-g-2 px-2 py-14">
    <h2
      class="mx-auto mb-5 max-w-screen-xl text-5xl font-black uppercase text-g-8"
    >
      {{ .title }}
    </h2>
    {{ with .entries }}
      <ul
        class="mx-auto flex max-w-screen-xl flex-wrap items-stretch justify-between gap-2 md:gap-8"
      >
        {{ range . }}
          {{ $name := .image }}
          <li
            class="mb-2 flex flex-col rounded-sm bg-white p-5 shadow-md sm:flex-1 lg:flex-row lg:gap-4"
          >
            {{ if $name }}
              {{ $imgOpts := dict
                "filename" $name
                "widthRatio" 34
                "heightRatio" 27
                "credit" (index . "image-credit")
                "widths" (slice 160 320 480 960)
                "figClass" "col-start-1"
                "creditClass" "mt-1 w-full px-1 text-right font-sans text-xs uppercase leading-tight text-g-7"
                "sizeHint" "480px"
                "rounded-sm" true
                "shadow-sm" false
                "gravity" (index . "image-gravity")
              }}
              <div
                class="mb-2 flex flex-[0_0_160px] items-end self-start lg:order-1"
              >
                {{ partial "tw/image-block.html" $imgOpts }}
              </div>
            {{ end }}
            <div class="flex flex-col">
              <h3 class="mb-2 text-4xl font-black">
                {{ .hed }}
              </h3>
              {{ with .body }}
                <p class="mb-5 max-w-sm">{{ . }}</p>
              {{ end }}
              <nav class="clear-both flex items-center justify-between">
                {{ with .url }}
                  <a class="font-bold underline" href="{{ . }}">Learn More</a>
                {{ end }}
                <a class="btn-donate" href="{{ .actionUrl }}"
                  >{{ .actionText }}</a
                >
              </nav>
            </div>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
{{ end }}
