{{ with .block }}
  {{ $title := .title }}
  {{ $eyebrow :=  .creditEyebrow }}
  {{ $hed :=  .creditHed }}
  {{ $name :=  .creditName }}
  {{ $image :=  .creditImage }}
  {{ $role :=  .creditRole }}
  {{ $email :=  .creditEmail }}
  {{ $bio :=  .creditBio }}
  {{ $imageWidth := .imageWidth | default 188 | int }}
  {{ $imageHeight := .imageHeight | default 188 | int }}
  {{ $menuTitle := .menuTitle }}


  <article
    class="article-content mx-auto max-w-(--breakpoint-xl) flex-wrap px-5 py-12 font-sans sm:flex sm:flex-wrap sm:justify-between sm:gap-x-5 md:grid md:grid-cols-12 md:grid-rows-[auto_1fr] md:gap-y-3 md:py-24"
  >
    {{ with $title }}
      <h2
        class="w-full md:col-span-7 md:col-start-3 md:row-span-1 md:row-start-1 lg:mx-auto lg:max-w-xl"
      >
        {{ $title }}
      </h2>
    {{ end }}
    {{ with $name }}
      {{ $author := partial "helper/get-author" $name }}


      <aside
        class="top-20 float-right ml-4 w-5/12 grid-cols-3 gap-3 self-start sm:order-1 sm:ml-0 sm:w-1/6 sm:flex-auto md:sticky md:col-span-3 md:col-start-10 md:row-span-2 md:row-start-2 md:block md:w-auto"
      >
        {{ if $image }}
          {{ $imgOpt := dict
            "filename" $image
            "width" $imageWidth
            "height" $imageHeight
          }}
          {{ $thumb := partial "helper/imgproxy" $imgOpt }}
          <img
            class="row-span-2 row-start-1 mb-1 filter md:mb-6 md:w-48"
            src="{{ $thumb }}"
            alt="Picture of {{ $name }}"
          />
        {{ else if $author.thumb }}
          <img
            class="row-span-2 row-start-1 mb-1 rounded-full grayscale filter md:mb-6 md:h-48 md:w-48"
            src="{{ $author.thumb }}"
            alt="Picture of {{ $name }}"
          />
        {{ end }}
        {{ if $eyebrow }}
          <h4 class="col-span-2 col-start-2 mb-4 text-xs font-bold uppercase">
            {{ $eyebrow }}
          </h4>
        {{ end }}
        {{ if $hed }}
          <h3
            class="col-span-2 col-start-2 mb-1 text-lg font-black md:mb-6 md:max-w-[270px]"
          >
            {{ $hed }}
          </h3>
        {{ end }}
        {{ if $bio }}
          <div
            class="col-span-2 col-start-2 text-sm md:max-w-[192px] md:text-base"
          >
            {{ $bio|markdownify }}
          </div>
        {{ else if $author }}
          <div class="col-span-2 col-start-2 text-base md:max-w-[192px]">
            {{ $author.content }}
          </div>
        {{ end }}
      </aside>
    {{ end }}
    <div
      class="article-content max-w-xl text-black sm:w-4/6 md:col-span-7 md:col-start-3 md:row-span-1 md:row-start-2 md:mx-auto md:w-auto"
    >
      {{ .body | markdownify }}
    </div>

    {{ with .cta }}

      <nav
        class="relative my-4 w-auto py-4 font-sans text-sm sm:order-3 sm:my-0 sm:w-full sm:flex-auto md:col-span-2 md:row-span-2 md:row-start-1 md:py-0"
        data-ga-category="inline:sidebar"
      >
        {{ with $menuTitle }}
          <h2 class="mt-0 mb-4 text-2xl font-semibold">
            {{ . }}
          </h2>
        {{ end }}
        <ul
          class="relative sm:flex sm:h-auto sm:flex-wrap sm:items-center sm:justify-start sm:space-x-4 md:block md:space-y-3 md:space-x-0"
        >
          {{ range . }}
            <li class="text-base">
              <a class="text-blue hover:text-g-6 font-bold" href="{{ .url }}">
                <span class="underline underline-offset-2 hover:no-underline"
                  >{{- .actionText -}}</span
                >
              </a>
            </li>
          {{ end }}
        </ul>
        <hr hidden />
      </nav>
    {{ end }}
  </article>
{{ end }}
