<div x-data="{
  aboutActive: ''
}">
  {{ .Render "hero" }}
  {{ .Render "page-nav" }}
  {{ with .Content }}
  <div class="block max-w-6xl px-5 mx-auto my-8" data-ga-category="content">
    <div x-data x-intersect.once="$dispatch('open-sticky')"></div>
    <div
      x-data
      x-intersect.once="$report({ target: $el })"
      data-ga-action="view:content-start"
    ></div>
    <div class="text-lg content" data-sf-campaign="701f4000000TVuXAAW">
      {{ . }}
    </div>
    <div
      x-data
      x-intersect.once="$report({ target: $el })"
      data-ga-action="view:content-finish"
    ></div>
  </div>
  {{ end }}
  {{ range $blocks := .Params.blocks }}
    {{ $id := urlize .title }}
    <div
      id="{{ $id }}"
      x-intersect.half="aboutActive = '{{ $id }}'"
      class="mt-12 scroll-mt-20"
    >
      {{ partial "blocks/block" (dict "Page" $ "block" .) }}
    </div>
  {{ end }}
</div>