<div x-data="{
  aboutActive: ''
}">
{{ .Render "hero" }}
{{ .Render "page-nav" }}
{{ with .Content }}
<div class="block max-w-6xl my-8 px-5 mx-auto" data-ga-category="content">
  <div x-data x-intersect.once="$dispatch('open-sticky')"></div>
  <div
    x-data
    x-intersect.once="$report({ target: $el })"
    data-ga-action="view:content-start"
  ></div>
  <div class="content" data-sf-campaign="701f4000000TVuXAAW">
    {{ . }}
  </div>
  <div
    x-data
    x-intersect.once="$report({ target: $el })"
    data-ga-action="view:content-finish"
  ></div>
</div>
{{ end }}
{{ range $blocks := .Params.blocks }}
  {{ $id := urlize .title }}
  <div
    id="{{ $id }}"
    x-intersect.full="aboutActive = '{{ $id }}'"
  >
    {{ partial "blocks/block" (dict "Page" $ "block" .) }}
  </div>
{{ end }}
</div>