
<div class="max-w-6xl px-5 pt-10 mx-auto">
  <h1 class="text-3xl font-bold text-black">About Spotlight PA</h1>
  <div class="flex flex-wrap md:flex-nowrap">
    <div class="pr-10 text-2xl text-black">
      Our team of journalists Produces non­partisan investigative journalism about Pennsylvania government and urgent statewide issues.
    </div>
    <div class="flex justify-end w-auto mt-5 md:w-64 md:mt-0">
      <a class="self-center inline-block px-3 py-2 text-xl text-white rounded bg-red" href="/donate/">Support Us!</a>
    </div>
  </div>
</div>
{{ with partial "func/GetPageNav" $ }}
{{ $active_classes := "bg-black text-white" }}
<div class="sticky top-0 z-10 bg-white">
  <div class="flex flex-wrap max-w-6xl px-5 pt-5 mx-auto">
    <span class="px-4 py-2 mb-5 mr-5 text-white duration-300 bg-black border border-black">Spotlight Logo Here</span>
    {{ range . }}
      <a :class="aboutActive == '{{ .id }}' ? '{{ $active_classes }}' : '' " class="px-4 py-2 mb-5 mr-5 duration-300 border border-black hover:text-red hover:border-red {{ if .active }}{{ $active_classes }}{{ end }}" href="{{ .url }}">{{ .name }}</a>
    {{ end }}
  </div>
</div>
{{ end }}
