<div id="page-heading" class="max-w-6xl px-5 pt-12 mx-auto">
  <h1 class="mb-2 text-4xl font-bold leading-tight text-black lg:text-5xl">
    {{ .Title }}
  </h1>
  <div
    class="flex flex-wrap md:flex-nowrap"
    x-intersect:leave="isStuck = true"
    x-intersect.full="isStuck = false"
  >
    <div class="pb-2 text-lg text-g-9 lg:pr-10 lg:text-2xl">
      {{ .Description }}
    </div>
    <div class="flex justify-end w-auto mt-5 md:w-64 md:mt-0">
      <a
        x-data="{
          unstuckClasses: 'md:duration-100 md:opacity-100',
          stuckClasses: 'md:opacity-0',
        }"
        class="self-center inline-block px-3 py-1 text-xl text-center text-white rounded w-44 bg-red hover:bg-black hover:text-white"
        :class="isStuck ? stuckClasses : unstuckClasses"
        href="/donate/"
        >Support Us!</a
      >
    </div>
  </div>
</div>
{{ with partial "func/GetPageNav" $ }}
  <div class="-top-px sticky z-10 bg-white">
    <div class="flex flex-wrap items-stretch max-w-6xl p-5 mx-auto">
      <a
        x-data="{
          unstuckClasses: 'w-0 mr-0 border-none opacity-0',
          stuckClasses: 'md:mr-5 md:border md:border-black md:w-16 md:opacity-100 md:bg-white md:py-2 md:text-black',
        }"
        class="flex rounded duration-200 hover:text-red hover:border-red"
        :class="isStuck ? stuckClasses : unstuckClasses"
        href="/"
      >
        <svg class="flex self-center w-full h-5 fill-current">
          <desc>Spotlight PA logo</desc>
          <use href="#logo-svg"></use>
        </svg>
      </a>
      {{ range . }}
        <a
          data-about-id="{{ .id }}"
          class="inline-flex items-center rounded px-2 lg:px-4 py-2 mr-4 text-sm lg:text-base lg:mr-5 w-2/5 lg:w-auto leading-4 border border-black hover:text-red hover:border-red"
          :class="
            aboutActive === $el.dataset.aboutId ?
            'bg-black text-white hover:text-robin hover:border-robin' :
            ''
          "
          href="{{ .url }}"
        >
          <span>
            {{ .name }}
          </span>
        </a>
      {{ end }}
      <div class="flex justify-end flex-1">
        <a
          x-data="{
            unstuckClasses: '',
            stuckClasses: 'md:pointer-events-auto md:opacity-100',
          }"
          class="self-center px-4 py-2 mb-2 mr-5 text-white delay-75 rounded lg:mb-0 bg-red opacity-0 pointer-events-none hover:bg-robin hover:text-white"
          :class="isStuck ? stuckClasses : unstuckClasses"
          href="/donate/"
          >Support Us!</a
        >
      </div>
    </div>
  </div>
{{ end }}
