<div class="clear-both my-12" data-ga-category="inline:picture">
  {{ $src := .Get "src" | htmlUnescape }}
  {{ $credit := .Get "credit" | htmlUnescape }}
  {{ $description := .Get "description" | htmlUnescape }}
  {{ $caption := .Get "caption" | htmlUnescape }}
  {{ $widthRatio := .Get "width-ratio" | default 3 | int }}
  {{ $heightRatio := .Get "height-ratio" | default 2 | int }}
  {{ $gravity := .Get "focus" }}

  {{ $imgOpts := dict
    "filename" $src
    "credit" $credit
    "description" $description
    "caption" $caption
    "widthRatio" $widthRatio
    "heightRatio" $heightRatio
    "widths" (slice 669 1338)
    "sizeHint" "669px"
    "rounded-sm" true
    "gravity" $gravity
    "absURL" true
    "creditClass" "mt-3 max-w-content mx-auto text-g-8 text-sm"
    "inlineCredit" true
  }}
  {{ partial "tw/image-block.html" $imgOpts }}
</div>
