{{ $side := .Get "side" | default "right" }}
{{ $mobileReveal := .Get "mobile-reveal" | default "false" | eq "true" }}
{{ $sideClass :=
  cond (eq $side "left")
  "sm:float-left sm:pr-8 lg:-ml-16"
  "sm:float-right sm:pl-8 lg:-mr-24 xl:-mr-40"
}}

{{ $plusSVG := resources.Get "@fontawesome/solid/circle-plus.svg" }}


<aside
  class="{{ $sideClass }} relative my-4 h-40 w-auto py-4 font-sans text-sm sm:my-0 sm:h-auto sm:max-w-xs"
  data-ga-category="inline:sidebar"
  x-data="{ isOpen: {{ $mobileReveal }} }"
  :class="{'h-40': !isOpen}"
>
  <hr hidden />
  <div class="absolute inset-x-0 bottom-0 sm:hidden" x-show="!isOpen">
    <button
      :aria-expanded="isOpen"
      class="mb-4 leading-4 text-navy hover:text-yellow hover:underline"
      @click="isOpen = true"
      x-report-click
      data-ga-category="toggle-sidebar"
    >
      <span aria-hidden="true">
        <svg class="inline-block h-4 w-4 fill-current">
          {{ $plusSVG.Content | safeHTML }}
        </svg>
      </span>
      <span class="ml-2 align-bottom uppercase"> Show more… </span>
    </button>
  </div>
  <div
    class="content-aside relative h-24 overflow-y-hidden sm:h-auto sm:overflow-y-visible"
    :class="{'h-24': !isOpen, 'overflow-y-hidden': !isOpen}"
  >
    {{ .Inner | markdownify }}
    <div
      class="bg-linear-to-t absolute inset-0 from-white sm:hidden"
      x-show="!isOpen"
    ></div>
  </div>
  <hr hidden />
</aside>
