{{ $hed := .Get "hed" }}


<h2 class="mb-2 font-sans text-xl font-bold md:text-2xl">
  {{ $hed }}
</h2>
<ul
  class="mb-8 space-y-4"
  {{ with .Get "event" }}
    id="dates" data-ga-category="dates" x-data='{ url:
    "https://unpkg.com/add-to-calendar-button@1.14.6/npm_dist/mjs/index.js",
    data(el) { return { name: el.dataset.name, startDate: el.dataset.date,
    endDate: el.dataset.date, options: ["Apple", "Google", "Outlook.com"],
    timeZone: "America/New_York", listStyle: "modal", iCalFileName:
    el.dataset.name, }; }, }' @mouseover.once="import(url)"
  {{ end }}
>
  {{ .Inner }}
</ul>
