{{ $title := .Get "title" }}
{{ $link := .Get "link" }}
{{ $date := .Get "date" }}
{{ $emoji := .Get "emoji" }}

{{ $show := "" }}
{{ $dateVerbose := "" }}
{{ $dateObj := false }}
{{ if $date }}
  {{ $dateObj = time $date }}
  {{ $dateVerbose = partial "helper/date-apstyle" $dateObj.UTC }}
  {{ $show = cond ($dateObj.After now) "add-to-cal" "expired" }}
{{ end }}


<li
  class="font-serif text-base md:text-lg"
  data-ga-category="{{ urlize $title }}"
>
  {{ if eq $show "add-to-cal" }}
    <button
      x-data='{
        url: "https://unpkg.com/add-to-calendar-button@1.14.6/npm_dist/mjs/index.js",
        data(el) {
          return {
            name: el.dataset.name,
            startDate: el.dataset.date,
            endDate: el.dataset.date,
            options: ["Apple", "Google", "Outlook.com"],
            timeZone: "America/New_York",
            listStyle: "modal",
            iCalFileName: el.dataset.name,
          };
        },
      }'
      @mouseover.once="import(url)"
      @click.prevent="
        import(url).then((m) => {window.m=m; m.atcb_action(data($el), $el)})
      "
      type="button"
      data-name="{{ $title }}"
      data-date="{{ $date }}"
      data-ga-category="add-to-calendar"
      x-report-click
      class="text-left font-bold underline-offset-2"
    >
      <p class="font-bold underline-offset-2">
        {{- $title -}}
      </p>
      <time
        class="pt-1 font-sans text-sm font-bold tracking-wide text-black uppercase"
        datetime="{{ $date }}"
      >
        {{- $dateVerbose -}}
      </time>

      <span
        class="text-blue hover:text-g-6 border-transparent pt-1 font-sans text-sm tracking-wide uppercase underline underline-offset-2"
        type="button"
        >Add to Calendar</span
      >
    </button>
  {{ else if eq $show "expired" }}
    <div class="text-left font-bold underline-offset-2">
      <p class="font-bold underline-offset-2">
        {{- $title -}}
      </p>
      <time
        class="pt-1 font-sans text-sm font-bold tracking-wide text-black uppercase"
        datetime="{{ $date }}"
      >
        {{- $dateVerbose -}}
      </time>
    </div>
  {{ else }}
    <a class="text-blue hover:text-g-6 font-bold" href="{{ $link }}">
      {{ emojify $emoji }}
      <span class="underline underline-offset-2 hover:no-underline"
        >{{- $title -}}</span
      >
    </a>
  {{ end }}
</li>
