{{ $author := .Get "author" | default "Test" }}
<li
  style="scroll-snap-type: x mandatory"
  x-bind="disableNextAndPreviousButtons"
  role="option"
  class="article-content group mb-2 inline-block w-full flex-none snap-center pb-2 pl-8 text-lg focus:outline-none sm:w-2/3 md:w-1/2 md:pl-12"
>
  <blockquote>
    <p class="after:text-g-7 relative before:content-[''] after:content-['”']">
      <svg
        class="fill-blue -mt-2 mr-1 -ml-6 inline-block h-5 w-5"
        aria-label="Quote"
      >
        {{ partial "helper/svg.html" "openquote" }}
      </svg>

      {{ .Inner }}
    </p>

    <cite class="mt-4 block italic"
      >&ndash; <strong>{{ $author }}</strong></cite
    >
  </blockquote>
</li>
