<div class="box">
  <a
    class="title is-7 has-text-danger is-pulled-right is-uppercase"
    href="/embeds/tips-espanol/"
  >En Español</a>
  <h2 class="title is-6 has-text-danger has-text-left is-uppercase" id="tip-flag">Tips</h2>
  <div class="block" id="text-block">
  </div>
  <form
    name="contact-page"
    class="control"
    action="/contact/thanks/"
    method="post"
    netlify
    netlify-honeypot="bot-field"
    data-ga-form='{"eventCategory": "Contact form", "eventAction": "Send comment external embed"}'
    target="_parent"
  >
    <p class="is-hidden">
      <label>
        Don’t fill this out if you're human: <input name="bot-field">
      </label>
    </p>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label
            class="label is-sr-only"
            for="contact-name-embed"
          >Name</label>
          <p class="control is-expanded">
            <input
              id="contact-name-embed"
              class="input is-small"
              type="text"
              placeholder="Name"
              name="name"
              required
            >
          </p>
        </div>
        <div class="field">
          <label
            class="label is-sr-only"
            for="contact-email-embed"
          >Email or phone number</label>
          <p class="control">
            <input
              id="contact-email-embed"
              class="input is-small"
              type="text"
              placeholder="Email or phone number"
              name="email"
              required
            >
          </p>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label
          class="label is-sr-only"
          for="contact-comment-embed"
        >Your tip or comment</label>
        <textarea
          id="contact-comment-embed"
          class="textarea is-small"
          placeholder="What should we know?"
          name="comment"
          rows="2"
        ></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button
          class="button is-small is-danger has-text-weight-semibold"
          type="submit"
          target="_blank"
        >
          Send message
        </button>
        <a
          href="/tips/"
          class="is-hidden-touch button is-light"
        >
          Or see more secure ways to contact us
        </a>
      </div>
    </div>
    <div class="field is-hidden-desktop">
      <div class="control">
        <a
          href="/tips/"
          class="is-size-6 has-text-weight-semibold has-text-grey"
          target="_blank"
        >
          Or see more secure ways to contact us
        </a>
      </div>
    </div>
  </form>
</div>
<script>
  (function() {
    function replacer(paramRe, qs) {
      var re = paramRe.exec(window.location.search);
      var el = document.querySelector(qs);
      if (!re || !el) {
        return;
      }
      var text = decodeURIComponent(re[1]);
      el.innerText = text;
      el.innerHTML = el.innerHTML
        .replace(/&lt;b&gt;/g, "<b>")
        .replace(/&lt;\/b&gt;/g, "</b>")
        .replace(/&lt;i&gt;/g, "<i>")
        .replace(/&lt;\/i&gt;/g, "</i>");
    }
    replacer(/\btip_text=([^&]+)/, "#text-block");
    replacer(/\bflag_text=([^&]+)/, "#tip-flag");
  })();
</script>
