<div class="box">
  <a
    class="title is-7 has-text-danger is-pulled-right is-uppercase"
    href="/embeds/tips/"
  >In English</a>
  <h2 class="title is-6 has-text-danger has-text-left is-uppercase">Escríbenos</h2>
  <div class="block" id="text-block">
    ¿Tienes información sobre cómo el gobierno estatal de Pensilvania está respondiendo al virus? <strong>Escríbenos.</strong>
  </div>
  <form
    name="contact-page"
    class="control"
    action="/contact/thanks/"
    method="post"
    netlify
    netlify-honeypot="bot-field"
    data-ga-form='{"eventCategory": "Contact form", "eventAction": "Send comment external embed"}'
    target="_parent"
  >
    <p class="is-hidden">
      <label>
        Don’t fill this out if you're human: <input name="bot-field">
      </label>
    </p>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label
            class="label is-sr-only"
            for="contact-name-embed"
          >Nombre</label>
          <p class="control is-expanded">
            <input
              id="contact-name-embed"
              class="input is-small"
              type="text"
              placeholder="Nombre"
              name="name"
              required
            >
          </p>
        </div>
        <div class="field">
          <label
            class="label is-sr-only"
            for="contact-email-embed"
          >Correo o número de teléfono</label>
          <p class="control">
            <input
              id="contact-email-embed"
              class="input is-small"
              type="text"
              placeholder="Correo o número de teléfono"
              name="email"
              required
            >
          </p>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label
          class="label is-sr-only"
          for="contact-comment-embed"
        >¿Qué debemos saber?</label>
        <textarea
          id="contact-comment-embed"
          class="textarea is-small"
          placeholder="¿Qué debemos saber?"
          name="comment"
          rows="2"
        ></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button
          class="button is-small is-danger has-text-weight-semibold"
          type="submit"
          target="_blank"
        >
          Enviar mensaje
        </button>
        <a
          href="/tips/"
          class="is-hidden-touch button is-light"
        >
          Ver otras maneras más privadas de contactarnos
        </a>
      </div>
    </div>
    <div class="field is-hidden-desktop">
      <div class="control">
        <a
          href="/tips/"
          class="is-size-6 has-text-weight-semibold has-text-grey"
          target="_blank"
        >
          Ver otras maneras más privadas de contactarnos
        </a>
      </div>
    </div>
  </form>
</div>
