{{ $news := .Site.GetPage "/news/_index.md" }}
{{ $featuredStory := where $news.RegularPages ".Params.suppress-featured" "!=" true | first 1 }}
{{ $pages := $news.RegularPages | complement $featuredStory }}

{{ $hasPromo := .Param "promo-active" }}
{{ $marginClass := "" }}
{{ if $hasPromo }}
  {{ $promo := .Param "promo-text" | markdownify }}
  {{ $link := .Param "promo-link" }}
  {{ $gaEvent := dict "eventCategory" "Promo Interaction" "eventAction" "click" "eventLabel" $link "transport" "beacon" }}
  <section class="has-background-white has-margin-top has-radius-padding">
    <a
      href="{{ $link }}"
      data-ga-event="{{ $gaEvent | jsonify }}"
      class="hover-underline has-text-black"
    >
      <div class="is-3-fullscreen is-size-4 has-text-black has-text-centered">
        {{ $promo }}
      </div>
    </a>
  </section>
  {{ $marginClass = "has-margin-top-negative" }}
{{ end }}

<section class="section {{ $marginClass }}" data-ga-action="Homepage link">
  <div
    class="container-hp"
    x-data="spl.readmore({ showDate: false })"
  >
    <div class="tile is-ancestor is-vertical">
      {{ partial "tile-featured.html" $featuredStory }}
      <div class="tile">
        {{ range $page := first 3 $pages }}
          <div class="tile is-parent is-4 has-margin-top-negative">
            <div class="tile is-child">
              {{ partial "tile-stack.html" $page }}
            </div>
          </div>
        {{ end }}
      </div>
      <div
        x-data="spl.intersector('open-sticky')"
        x-init="init()"
      ></div>

      <div class="tile">
        <div class="tile is-2"></div>
        <div class="tile is-parent is-8">
          <div class="tile is-child" data-ga-form='{"eventCategory": "Newsletter signup", "eventAction": "Homepage inline"}'>
            {{ partial "newsletter-box.html" . }}
          </div>
        </div>
      </div>
      {{ if gt (len $pages) 3 }}
        <div
          class="tile"
          @mouseover.once="load()"
          @touchstart.once="load()"
        >
          {{ partial "most-popular.html" dict }}

          <div
            class="tile is-vertical is-8"
            style="order: 1"
            x-ref="archives"
          >
            <div class="tile is-parent is-top">
              <div class="tile is-child">
                <h2 class="title is-4 is-uppercase has-text-weight-semibold">
                  More top stories
                </h2>
                <hr class="is-emphatic-underline has-margin-top-negative">
              </div>
            </div>
            {{ range $page := after 3 $pages | first 6 }}
              {{ partial "tile-horiz.html" $page }}
            {{ end }}

            {{ partial "tile-readmore.html" dict }}
          </div>
        </div>
      {{ end }}
      {{ if gt (len $pages) 9 }}
        <div class="tile">
          <div class="tile is-parent">
            <div class="tile is-child has-text-centered">
              <a
                @click.prevent="click()"
                @mouseover.once="load()"
                @touchstart.once="load()"
                data-ga-event='{ "eventCategory": "Read more", "eventAction": "click", "eventLabel": "/news/" }'
                href="/news/"
                class="button is-primary is-medium is-uppercase has-text-weight-semibold"
                :class="loadingClass"
                :disabled="!canReadMore"
              >Read More</a>
            </div>
          </div>
        </div>
      {{ end }}
      <div class="tile">
        {{ partial "tile-promos.html" . }}
      </div>
    </div>
  </div>
</section>
