{{ $news := site.GetPage "/news/_index.md" }}
{{ $featuredStories := partial "get-picks" "featuredStories" }}
{{ if lt (len $featuredStories) 1 }}
  {{ $featuredStories = first 1 $news.RegularPages }}
{{ end }}
{{ $featuredStories = last 1 $featuredStories }}
{{ $topSlots := partial "get-picks" "topSlots" }}

{{ $pages := $featuredStories | append $topSlots }}
{{ $pages = union $pages $news.RegularPages }}
{{ $pages = after 1 $pages }}

{{ $hasPromo := .Param "promo-active" }}
{{ $marginClass := "" }}
{{ if $hasPromo }}
  {{ partialCached "promo.html" . }}
  {{ $marginClass = "has-margin-top-negative" }}
{{ end }}

<section class="section {{ $marginClass }}" data-ga-action="Homepage link">
  <div
    class="container-hp"
    x-data="spl.readmore({ showDate: false })"
  >
    <div class="tile is-ancestor is-vertical">
      {{ partial "tile-featured.html" $featuredStories }}

      <div class="tile">
        {{ range $page := first 3 $pages }}
          <div class="tile is-parent is-4 has-margin-top-negative">
            <div class="tile is-child">
              {{ partial "tile-stack.html" $page }}
            </div>
          </div>
        {{ end }}
      </div>

      <div class="tile">
        <div class="tile is-2"></div>
        <div class="tile is-parent is-8">
          <div
            class="tile is-child"
            data-ga-action="midpage:newsletter"
          >
            {{ partial "newsletter-box.html" . }}
          </div>
        </div>
      </div>
      {{ if gt (len $pages) 3 }}
        <div
          class="tile"
          @mouseover.once="load()"
          @touchstart.once="load()"
        >
          <div class="tile is-parent is-top is-4" style="order: 2">
            <div class="tile is-child">
              {{ partial "most-popular.html" dict }}
              {{ partial "editors-picks.html" dict }}
            </div>
          </div>
          <div
            class="tile is-vertical is-8"
            style="order: 1"
          >
            <div
              class="tile is-vertical"
              x-ref="archives"
            >
              <div class="tile is-parent is-top">
                <div class="tile is-child">
                  <h2 class="title is-4 is-uppercase has-text-weight-semibold">
                    More top stories
                  </h2>
                  <hr class="is-emphatic-underline has-margin-top-negative">
                </div>
              </div>
              {{ range $page := after 3 $pages | first 20 }}
                {{ partial "tile-horiz.html" $page }}
              {{ end }}

              {{ partial "tile-readmore.html" dict }}
            </div>
            <div class="tile"></div>
          </div>
        </div>
      {{ end }}
      {{ if gt (len $pages) 23 }}
        <div class="tile">
          <div class="tile is-parent">
            <div class="tile is-child has-text-centered">
              <a
                @click.prevent="click()"
                @mouseover.once="load()"
                @touchstart.once="load()"
                data-ga-event='{ "eventCategory": "Read more", "eventAction": "click", "eventLabel": "/news/" }'
                href="/news/"
                class="button is-primary is-medium is-uppercase has-text-weight-semibold"
                :class="loadingClass"
                :disabled="!canReadMore"
              >Read More</a>
            </div>
          </div>
        </div>
      {{ end }}
      <div class="tile">
        {{ partial "tile-promos.html" . }}
      </div>
    </div>
  </div>
</section>
