{{ $features := where .Site.RegularPages ".Params.featured" true | first 1 }}
{{ $news := .Site.GetPage "/news/_index.md" }}
{{ $pages := $news.RegularPages | complement $features }}
<section class="section">
  <div class="container-hp">
    <div class="tile is-ancestor is-vertical">
      {{ if gt (len $features) 0 }}
        {{ partial "tile-featured.html" $features }}
      {{ end }}
      <div class="tile">
        {{ range $page := first 3 $pages }}
          <div class="tile is-parent is-4 has-margin-top-negative">
            <div class="tile is-child">
              {{ partial "tile-stack.html" $page }}
            </div>
          </div>
        {{ end }}
      </div>
      <div class="tile">
        <div class="tile is-parent">
          <div class="tile is-child">
            {{ partial "tile-newsletter.html" . }}
          </div>
        </div>
      </div>
      {{ if gt (len $pages) 3 }}
        <div class="tile">
          <div class="tile is-parent is-top is-8">
            <div class="tile is-child">
              <h2 class="title is-4 is-uppercase has-text-weight-semibold">
                More top stories
              </h2>
              <hr class="is-emphatic-underline has-margin-top-negative">
            </div>
          </div>
        </div>
        {{ range $page := after 3 $pages | first 5 }}
          <div class="tile is-bottom">
            {{ partial "tile-horiz.html" $page }}
          </div>
        {{ end }}
      {{ end }}
      <div class="tile">
        {{ partial "tile-promos.html" . }}
      </div>
      {{ if gt (len $pages) 8 }}
        <div class="tile">
          <div class="tile is-parent">
            <div class="tile is-child has-text-centered">
              <a
                href="/news/"
                class="button is-primary is-medium is-uppercase"
              >Read More</a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
