<section class="footer is-size-5">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <h3 class="has-text-weight-bold">Pages</h3>
        <ul>
          {{ range .Site.Menus.footer }}
            <li>
              <a href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="column is-3">
        <h3 class="has-text-weight-bold">Follow Us</h3>
        <ul>
          {{ range .Site.Menus.social }}
            <li>
              <a href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
  <p class="has-text-centered is-size-6">
    &copy; {{ now.Format "2006" }}. Title image courtesy of Stephanie Strasburg / The Post-Gazette
  </p>
</section>
