{{ define "footer-link" }}
  <li>
    <a
      href="{{ .URL }}"
      class="{{ .Pre }}"
    >
      {{ .Name }}
    </a>
  </li>
{{ end }}

<section class="footer is-size-5">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <h3 class="has-text-weight-bold is-uppercase">Spotlight PA</h3>
        <ul>
          {{ range .Site.Menus.footer }}
            {{ template "footer-link" . }}
          {{ end }}
        </ul>
      </div>
      <div class="column is-3">
        <h3 class="has-text-weight-bold is-uppercase">About</h3>
        <ul>
          {{ range .Site.Menus.about }}
            {{ template "footer-link" . }}
          {{ end }}
        </ul>
      </div>
      <div class="column is-3">
        <h3 class="has-text-weight-bold is-uppercase">Follow Us</h3>
        <ul>
          {{ range .Site.Menus.social }}
            {{ template "footer-link" . }}
          {{ end }}
        </ul>
      </div>
    </div>
    <p>&nbsp;</p>
    <p class="has-text-centered is-size-6">
      &copy; {{ now.Format "2006" }}.<br>
      All donations are made to the <a href="https://www.lenfestinstitute.org/">Lenfest Institute for Journalism</a>, a nonprofit 501(c)(3) organization, and directed to Spotlight PA’s important investigative work.
      {{ with .Param "extra-footer" }}
        <br>{{ .|markdownify }}
      {{ end }}
    </p>
  </div>
</section>
