<!-- header tags that are the same on all pages -->
{{ if .Site.IsServer }}
  <link rel="stylesheet" href="http://localhost:1234/main.css">
  <script src="http://localhost:1234/main.js" defer></script>
{{ else }}
  {{ $styles := resources.Get "dist/main.css" | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
  {{ $js := resources.Get "dist/main.js" | fingerprint }}
  <script src="{{ $js.RelPermalink }}" defer></script>
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}

<link
  rel="alternate"
  type="application/json"
  href='{{ absURL "/feeds/full.json" }}'
  title="Full News Feed"
/>

<link
  rel="alternate"
  type="application/rss+xml"
  href='{{ absURL "/feeds/full.xml" }}'
  title="Full News Feed"
/>

{{ $icon := resources.Get (.Site.Param "favicon") }}
{{ range $size := slice "32x32" "128x128" "152x152" "167x167" "180x180" "192x192" "196x196" }}
  {{ $iconShrunk := $icon.Fit $size }}
  <link rel="shortcut icon" href="{{ $iconShrunk.Permalink }}" sizes="{{ $size }}">
  <link rel="apple-touch-icon" href="{{ $iconShrunk.Permalink }}" sizes="{{ $size }}">
{{ end }}
