<!-- header tags that are the same on all pages -->

<script src='{{ partial "get-src" "main.js" }}' async></script>

{{ $fonts := resources.Get "css/fonts.css" | minify | fingerprint }}
<link
  rel="preload"
  as="style"
  href="{{ $fonts.RelPermalink }}" />

<link
  rel="stylesheet"
  href="{{ $fonts.RelPermalink }}"
  media="print"
  onload="this.media='all'" />

{{ $scssOptions := dict "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/bulma") }}
{{ $styles := resources.Get "css/main.scss" | toCSS $scssOptions | postCSS }}
{{ if not site.IsServer }}
  {{ $styles = $styles | minify | fingerprint | resources.PostProcess }}
{{ end }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">

<link
  rel="alternate"
  type="application/json"
  href='{{ absURL "/feeds/full.json" }}'
  title="Full News Feed"
/>

<link
  rel="alternate"
  type="application/rss+xml"
  href='{{ absURL "/feeds/full.xml" }}'
  title="Full News Feed"
/>

{{ $icon := .Site.Param "favicon" | resources.Get }}
{{ range $size := slice "32x32" "128x128" "152x152" "167x167" "180x180" "192x192" "196x196" }}
  {{ $iconShrunk := $icon.Fit $size }}
  <link rel="shortcut icon" href="{{ $iconShrunk.Permalink }}" sizes="{{ $size }}">
{{ end }}
{{ $icon = .Site.Param "touch-icon" | resources.Get }}
{{ range $size := slice "32x32" "128x128" "152x152" "167x167" "180x180" "192x192" "196x196" }}
  {{ $iconShrunk := $icon.Fit $size }}
  <link rel="apple-touch-icon" href="{{ $iconShrunk.Permalink }}" sizes="{{ $size }}">
{{ end }}
{{ $logo := resources.Get "/img/logos/circle-default-on-trans.svg"|fingerprint }}
<link rel="mask-icon" href="{{ $logo.Permalink }}" color="black">
