{{ with . }}
  {{ $img := . }}
  {{ $imgSmall := $img.Fill "320x160" }}
  {{ $imgs := slice }}
  {{ range $size := slice 4 8 12 16 }}
    {{ $width := mul $size 160 }}
    {{ $height := mul $size 80 }}
    {{ $imgShrunk := printf "%dx%d" $width $height | $img.Fill }}
    {{ $src := printf "%s %dw" $imgShrunk.RelPermalink $width }}
    {{ $imgs = $imgs | append $src }}
  {{ end -}}
  {{ $srcset := delimit $imgs ", " }}
  <div class="block">
    <figure class="image is-2by1 has-margin-top">
      <img
        alt="{{ $img.Title }}"
        src="{{ $imgSmall.RelPermalink }}"
        srcset="{{ $srcset }}"
      >
    </figure>
    <p class="is-hidden-tabledt is-clearfix has-text-right has-radius-padding">
      <span class="is-uppercase has-text-grey-light is-size-7 is-pulled-right">
        Stephanie Strasburg / The Post-Gazette.
      </span>
    </p>
  </div>
{{ end}}
