{{ $icon := .Param "favicon" | resources.Get | fingerprint}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": {{ .Title|jsonify|safeJS }},
  "description": {{ .Description|jsonify|safeJS }},
  "publisher": {
    "@type": "Organization",
    "location": {
      "@type": "Place",
      "name": "Pennsylvania"
    },
    "logo": {
      "@type": "ImageObject",
      "contentUrl": {{ $icon.Permalink|jsonify|safeJS }},
      "url": {{ $icon.Permalink|jsonify|safeJS }}
    },
    "name": "Spotlight PA",
    "url": {{ .Site.BaseURL|jsonify|safeJS }}
  }
}
</script>

{{ $urls := slice }}
{{ range .Site.Menus.social }}
  {{ $urls = append .URL $urls }}
{{ end }}

 <script data-schema="Organization" type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "logo": {{ $icon.Permalink|jsonify|safeJS }},
  "name": "Spotlight PA",
  "location": {
    "@type": "Place",
    "name": "Pennsylvania"
  },
  "foundingDate": "2019",
  "sameAs": {{ $urls |jsonify|safeJS }},
  "url": {{ .Site.BaseURL|jsonify|safeJS }}
}
</script>
{{ define "find-parents" }}
  {{ $page := .Get "page" }}
  {{ if $page.Parent }}
    {{ .Set "page" $page.Parent }}
    {{ template "find-parents" . }}
  {{ end }}
  {{ .Add "breadcrumbs" $page }}
{{ end }}

{{ $scratch := newScratch }}
{{ $scratch.Set "page" .Page }}
{{ $scratch.Set "breadcrumbs" (slice) }}
{{ template "find-parents" $scratch }}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{ range $i, $page := $scratch.Get "breadcrumbs" }}
      {{ $title := .Title }}
      {{ if .IsHome }}
        {{ $title = .Site.Title }}
      {{ end }}
      {{ if ne $i 0 }},{{ end }}
      {
        "@type": "ListItem",
        "position": {{ add 1 $i }},
        "item": {
          "@id": {{ .Permalink |jsonify|safeJS }},
          "name": {{ $title |jsonify|safeJS }}
        }
      }
    {{ end }}
  ]
}
</script>
