{{ $icon := .Param "favicon" | resources.Get | fingerprint}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": {{ .Title|jsonify|safeJS }},
  "description": "{{ .Description }}",
  "publisher": {
    "@type": "Organization",
    "location": {
      "@type": "Place",
      "name": "Pennsylvania"
    },
    "logo": {
      "@type": "ImageObject",
      "contentUrl": {{ $icon.Permalink|jsonify|safeJS }},
      "url": {{ $icon.Permalink|jsonify|safeJS }}
    },
    "name": "Spotlight PA",
    "url": {{ .Site.BaseURL|jsonify|safeJS }}
  }
}
</script>

{{ $urls := slice }}
{{ range .Site.Menus.social }}
  {{ $urls = append .URL $urls }}
{{ end }}

 <script data-schema="Organization" type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "logo": {{ $icon.Permalink|jsonify|safeJS }},
  "name": "Spotlight PA",
  "location": {
    "@type": "Place",
    "name": "Pennsylvania"
  },
  "foundingDate": "2019",
  "sameAs": {{ $urls |jsonify|safeJS }},
  "url": {{ .Site.BaseURL|jsonify|safeJS }}
}
</script>
