{{ if .Param "hero-content" }}
  {{ $bgImgLoc := .Param "hero-background"}}
  {{ $bgImg := resources.Get $bgImgLoc }}
  {{ $bgImg = $bgImg.Resize "1024x" | fingerprint }}
  <section
    class='hero has-bg-image is-large {{ .Param "hero-classes" }}'
    style="background-image: url('{{ $bgImg.RelPermalink }}');"
  >
    <div class="hero-body">
      <div class="container">
        <div class="title has-background-info has-radius-padding">
          <span class="is-size-5-mobile has-text-white has-spotlight-bold">
            {{ .Param "hero-content" | markdownify }}
          </span>
        </div>
      </div>
    </div>
  </section>
{{ end }}

<section class="section">
  <div class="columns">
    <article class="column is-three-fifths is-offset-one-fifth">
      {{ if .Param "suppress-title" | not }}
        <header class="block">
          {{ with .Page.Parent }}
            {{ if not .IsHome }}
              <h3 class="has-text-weight-bold has-text-right">
                <a href="/">Home</a>
                &rsaquo;
                <a
                  href="{{ .RelPermalink }}"
                  class="has-text-link"
                >{{ .Title }}</a>
              </h3>
            {{ end }}
          {{ end }}
          {{ with .Param "kicker" }}
            <p
              class="tag is-warning is-uppercase has-text-weight-bold block"
            >{{ . }}</p>
          {{ end }}
          <h1 class="title">
            {{ .Title }}
            {{ if .Draft }}
              <span class="tag is-warning is-uppercase">
                Draft
              </span>
            {{ end }}
          </h1>
          {{ if .Param "subtitle" | or .PublishDate }}
            <div class="subtitle">
              {{ with .Param "subtitle" }}
                <h2 class="is-size-4">
                  {{ . }}
                </h2>
              {{ end }}
              {{ $isoFormat := "2006-01-02T15:04:05Z07:00" }}
              {{ with .PublishDate }}
                <time
                  datetime='{{ .Local.Format $isoFormat }}'
                  class="subtitle is-size-6 has-text-weight-light"
                 >
                  {{ .Format "Monday, January 2, 2006" }}
                 </time>
              {{ end }}
            </div>
          {{ end }}
        </header>
      {{ end }}

      <div class="content">
        {{ .Content }}
      </div>
      {{ with .Param "authors" }}
        <footer>
          {{ range $name := . }}
            {{ $imgRes := urlize $name | printf "img/headshots/%s.jpeg" }}
            {{ $imgLoc := printf "assets/%s" $imgRes }}
            {{ $authorURL := urlize $name | printf "/about/staff/#%s" }}
            <div class="level">
              <div class="level-left">
                {{ if fileExists $imgLoc }}
                  <div class="level-item">
                    <a
                      href="{{ $authorURL }}"
                      class="image is-64x64"
                    >
                      {{ $img := resources.Get $imgRes }}
                      {{ $img = $img.Fill "256x256" | fingerprint }}
                        <img
                          src="{{ $img.RelPermalink }}"
                          alt="Photo of {{ . }}"
                          class="is-rounded is-monochrome"
                        >
                    </a>
                  </div>
                {{ end }}

                {{ $author := index $.Site.Data.authors $name }}
                <div class="level-item">
                  <div class="">
                    <h3 class="subtitle is-4 has-text-weight-bold">
                      <a href="{{ $authorURL }}">
                        {{ . }}
                      </a>
                    </h3>
                    <h3 class="subtitle ">
                      {{ $author.title }}
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </footer>
      {{ end }}
    </article>
  </div>
</section>
