{{ $params := partial "page-params" .Page }}

{{ if $params.showTitle }}
  <section class="section is-top">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <header>
          {{ if $params.kicker }}
            <p
              class="tag is-square is-black is-uppercase has-text-weight-semibold has-margin-bottom-thin"
            >{{ $params.kicker }}</p>
          {{ else }}
            <div class="is-clearfix">
              <div class="is-pulled-right">
                {{ partial "breadcrumbs.html" . }}
              </div>
            </div>
          {{ end }}

          <h1 class="title is-2 is-spaced">
            {{ .Title }}
            {{ if .Draft }}
              <span class="tag is-warning is-uppercase">
                Draft
              </span>
            {{ end }}
          </h1>
          {{ with .Param "subtitle" }}
            <h2 class="subtitle is-size-4">
              {{ . }}
            </h2>
          {{ end }}

          {{ with $params.byline }}
            <h3 class="is-size-6 has-margin-top-negative-medium">
              <span class="has-text-weight-semibold">
                by {{ $params.byline }}
              </span>
              {{ if $params.published }}
                |
                <time
                  datetime='{{ $params.publishedISO }}'
                  class="is-size-7"
                >{{ $params.published }}</time>
              {{ end }}
            </h3>
          {{ end }}

          <div class="has-margin-top">
            {{ partial "social-buttons.html" . }}
          </div>
        </header>
      </div>
    </div>
  </section>
{{ end }}

{{ $heroName := .Page.Param "hero-image" }}
{{ $heroCredit := .Page.Param "hero-image-credit" }}
{{ $heroDescription := .Page.Param "hero-image-description" }}
{{ $imgOpts := dict "imagePath" $heroName }}
{{ $imgOpts = dict "credit" $heroCredit | merge $imgOpts }}
{{ $imgOpts = dict "description" $heroDescription | merge $imgOpts }}
{{ $imgOpts = dict "link" .RelPermalink | merge $imgOpts }}
{{ $size := .Param "hero-image-size" | default "inline" }}
{{ if eq $size "inline" }}
  {{ $imgOpts = dict "widthRatio" 3 | merge $imgOpts }}
  {{ $imgOpts = dict "heightRatio" 2 | merge $imgOpts }}
  {{ $imgOpts = dict "sizeHint" "50vw" | merge $imgOpts }}
  <section class="section is-top is-bottom">
    <div class="columns is-centered">
          <div class="column is-three-fifths has-margin-top-thin">
            {{ $imgOpts | partial "image-block.html" }}
          </div>
    </div>
  </section>
{{ else if eq $size "full" }}
  {{ $imgOpts = dict "widthRatio" 16 | merge $imgOpts }}
  {{ $imgOpts = dict "heightRatio" 9 | merge $imgOpts }}
  {{ $imgOpts = dict "figClass" "has-margin-top-thin" | merge $imgOpts }}
  {{ $imgOpts | partial "image-block.html" }}
{{ end }}

<section class="section {{ if $params.showTitle }}is-bottom{{ end }}">
  <div class="columns is-centered">
    <article class="column is-three-fifths">

      <div class="content">
        {{ .Content }}
      </div>

      {{ with .Param "authors" }}
        <footer>
          {{ range $name := . }}
            {{ $imgRes := urlize $name | printf "img/headshots/%s.jpeg" }}
            {{ $img := resources.GetMatch $imgRes }}
            {{ $authorURL := urlize $name | printf "/about/staff/#%s" }}
            {{ $author := index $.Site.Data.authors $name }}
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  {{ if $img }}
                    <a
                      href="{{ $authorURL }}"
                      class="image is-64x64"
                    >
                      {{ $imgShrunk := $img.Fill "256x256" }}
                        <img
                          src="{{ $imgShrunk.RelPermalink }}"
                          alt="Photo of {{ $name }}"
                          class="is-rounded is-monochrome"
                        >
                    </a>
                  {{ else }}
                    <span class="image is-64x64"></span>
                  {{ end }}
                </div>

                <div class="level-item">
                  <div>
                    <h3 class="subtitle is-4 has-text-weight-semibold">
                      {{ if $author }}
                      <a href="{{ $authorURL }}">
                        {{ $name }}
                      </a>
                      {{ else }}
                        <span class="has-text-grey">
                          {{ $name }}
                        </span>
                      {{ end }}
                    </h3>
                    {{ if $author }}
                      <h3 class="subtitle ">
                        {{ $author.title }}
                      </h3>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </footer>
      {{ end }}
    </article>
  </div>
</section>
