{{ $byline := "" }}
{{ with .Param "authors" }}
   {{ $byline = delimit . ", " " and " }}
{{ end }}
{{ with .Param "byline" }}
   {{ $byline = . }}
{{ end }}

{{ $img := index (.Resources.ByType "image") 0}}
{{ $kicker := .Param "kicker" }}

<section class="section is-top">
  <div class="columns is-centered">
    <article class="column is-three-fifths">
      {{ if .Param "suppress-title" | not }}
        <header class="block">
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    {{ partial "social-buttons.html" . }}
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    {{ if $kicker }}
                      <p
                        class="tag is-warning is-uppercase has-text-weight-bold block"
                      >{{ $kicker }}</p>
                    {{ else }}
                      {{ partial "breadcrumbs.html" . }}
                    {{ end }}
                  </div>
                </div>
              </div>

          <h1 class="title">
            {{ .Title }}
            {{ if .Draft }}
              <span class="tag is-warning is-uppercase">
                Draft
              </span>
            {{ end }}
          </h1>
          {{ with .Param "subtitle" }}
            <h2 class="subtitle is-size-4">
              {{ . }}
            </h2>
          {{ end }}

          {{ with $byline }}
            <h3 class="is-size-6">
              By {{ $byline }}
            </h3>
          {{ end }}

          {{ $isoFormat := "2006-01-02T15:04:05Z07:00" }}
          {{ with .PublishDate }}
            <time
              datetime='{{ .Local.Format $isoFormat }}'
              class="is-size-7"
             >
              {{ .Format "Monday, January 2, 2006" }}
             </time>
          {{ end }}
        </header>
      {{ end }}
    </article>
  </div>
</section>

{{ partial "image-block.html" $img }}

<section class="section is-bottom">
  <div class="columns is-centered">
    <article class="column is-three-fifths">
      <div class="content">
        {{ .Content }}
      </div>
      {{ with .Param "authors" }}
        <footer>
          {{ range $name := . }}
            {{ $imgRes := urlize $name | printf "img/headshots/%s.jpeg" }}
            {{ $imgLoc := printf "assets/%s" $imgRes }}
            {{ $authorURL := urlize $name | printf "/about/staff/#%s" }}
            {{ $author := index $.Site.Data.authors $name }}
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  {{ if fileExists $imgLoc }}
                    <a
                      href="{{ $authorURL }}"
                      class="image is-64x64"
                    >
                      {{ $img := resources.Get $imgRes }}
                      {{ $img = $img.Fill "256x256" | fingerprint }}
                        <img
                          src="{{ $img.RelPermalink }}"
                          alt="Photo of {{ . }}"
                          class="is-rounded is-monochrome"
                        >
                    </a>
                  {{ else }}
                    <span class="image is-64x64"></span>
                  {{ end }}
                </div>

                <div class="level-item">
                  <div>
                    <h3 class="subtitle is-4 has-text-weight-bold">
                      {{ if $author }}
                      <a href="{{ $authorURL }}">
                        {{ $name }}
                      </a>
                      {{ else }}
                        <span class="has-text-grey">
                          {{ $name }}
                        </span>
                      {{ end }}
                    </h3>
                    {{ if $author }}
                      <h3 class="subtitle ">
                        {{ $author.title }}
                      </h3>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </footer>
      {{ end }}
    </article>
  </div>
</section>
