{{ $iconEmail := resources.Get "/img/fontawesome/regular/envelope.svg" }}
{{ $iconCheck := resources.Get "/img/fontawesome/solid/check.svg" }}

<div
  class="modal"
  id="modal-newsletter"
>
  <div class="modal-background"></div>
  <form
    class="modal-content"
    action="https://spotlightpa.us3.list-manage.com/subscribe/post?u=4f6d92afd9b3de3ddb48714b9&amp;id=0466df5ab5"
    method="post"
    target="_blank"
  >
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered is-size-2">
        <span class="svg-container has-text-white">
          {{ $logo := resources.Get "/img/logos/banner-default-on-trans.svg" }}
          {{ $logo.Content| safeHTML }}
        </span>
      </p>
      <button class="delete" type="button" aria-label="close"></button>
    </header>
    <div class="modal-card-body">
      <p class="is-hidden" aria-hidden="true">
        <label>
          Don’t fill this out if you're human:
          <input type="text" name="b_4f6d92afd9b3de3ddb48714b9_0466df5ab5" tabindex="-1" value="">
        </label>
      </p>
      <h2 class="title is-size-2 is-size-3-mobile has-text-centered">
        Investigative Journalism
        <span class="is-hidden-touch"><br /></span>
        for Pennsylvania
      </h2>
      <p class="is-size-4 is-hidden-mobile">
        Sign up for exclusive looks at our reporting and a roundup of the best stories from Pa., all delivered to your inbox once a week.
      </p>

      <p class="is-size-4 is-hidden-tablet">
        Sign up for exclusive looks at our reporting and a weekly roundup of the best stories from across Pa.
      </p>

      <div class="field has-margin-top">
        <label class="is-sr-only" for="modal-email">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input
            id="modal-email"
            class="input is-medium"
            type="email"
            name="EMAIL"
            placeholder="Email"
          >
          <span class="icon is-large is-left">
            {{ $iconEmail.Content|safeHTML }}
          </span>
          <span class="icon is-large is-right validator-icon">
            {{ $iconCheck.Content|safeHTML }}
          </span>
        </div>
      </div>
      <div class="buttons is-centered">
        <button
          type="submit"
          class="button is-medium is-danger has-text-weight-bold"
          data-ga-event='{ "eventCategory": "Modal interaction", "eventAction": "Sign up for newsletter", "transport": "beacon" }'
        >
          Sign me up
        </button>
      </div>
      <div class="has-text-centered">
        <a
          class="has-text-grey hover-underline"
          aria-label="close"
        >
          No thanks
        </a>
      </div>
    </div>
  </form>
  <button
    class="modal-close is-large"
    aria-label="close"
  ></button>
</div>
