{{ $mostPopURL := "/api/most-popular" }}
{{ if site.IsServer }}
  {{ $mostPopURL = "http://localhost:12345/api/most-popular" }}
{{ end }}

<div class="tile is-parent is-top is-4" style="order: 2">
  <div class="tile is-child">
    <div
      class="box"
      x-data="spl.mostPopular({ mostPopularURL: '{{ $mostPopURL }}' })"
      x-init="load()"
      x-show="hasLoaded"
      x-cloak
    >
      <h1 class="title is-size-5 is-size-4-mobile has-text-centered has-text-danger is-uppercase">Most Popular Stories</h1>
      <nav @click.capture="analytics($event)" class="has-text-dark">
        <template x-for="(story, i) of stories">
          <a
            class="is-flex has-margin-top"
            :href="story.url"
          >
            <span
              class="is-size-2 has-text-grey-light has-text-weight-semibold"
              style="line-height: .75; padding-right: 1rem;"
              x-text="i + 1"
            ></span>
            <span
              class="has-text-black hover-underline"
              x-text="story.title"
            ></span>
          </a>
        </template>
      </nav>
    </div>
  </div>
</div>
