<nav
  class="navbar"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    {{ $logo := resources.Get "/img/logos/logo-white.svg" }}
    <a href="/" class="navbar-item">
      {{ $logo.Content| safeHTML }}
    </a>
    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="#navbar-menu-items,.navbar-burger"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbar-menu-items"
    class="navbar-menu"
  >
    <div class="navbar-end">
      {{ $thisPage := .Page }}
      {{ range .Site.Menus.main }}
        {{ $isActive := "" }}
        {{ if eq $thisPage.RelPermalink .URL }}
          {{ $isActive = "is-active" }}
        {{ end }}
        <a
          href="{{ .URL }}"
          class="navbar-item {{ .Pre }} {{ $isActive }}"
        >
          {{ .Name }}
        </a>
      {{ end }}
      <div class="navbar-item is-hidden-touch">&nbsp;</div>
    </div>
  </div>
</nav>
