{{ $byline := "" }}
{{ with .Param "authors" }}
   {{ $byline = delimit . ", " " and " }}
{{ end }}
{{ with .Param "byline" }}
   {{ $byline = . }}
{{ end }}

{{ $kicker := .Param "kicker" }}

{{ $blurb := .Param "blurb" | default "" }}

{{ $showTitle := .Param "suppress-title" | not }}

{{ $params := dict "byline" $byline "kicker" $kicker "blurb" $blurb "showTitle" $showTitle }}

{{ with .PublishDate }}
  {{ $pub := partial "date-apstyle.html" .Local }}
  {{ $isoFormat := "2006-01-02T15:04:05Z07:00" }}
  {{ $iso := .Format $isoFormat }}
  {{ $params = dict "published" $pub "publishedISO" $iso | merge $params }}
{{ end }}

{{ return $params }}
