{{ $byline := "" }}
{{ with .Param "authors" }}
  {{ $byline = delimit . ", " " and " }}
{{ end }}
{{ with .Param "byline" }}
  {{ $byline = . }}
{{ end }}

{{ $kicker := .Param "kicker" }}

{{ $topic := "" }}
{{ if .Param "topics" }}
  {{ $topic = index (.GetTerms "topics") 0 }}
{{ end }}

{{ $blurb := .Param "blurb" | default "" }}

{{ $showTitle := .Param "suppress-title" | not }}

{{ $params := dict "byline" $byline "kicker" $kicker "blurb" $blurb "showTitle" $showTitle "topic" $topic }}

{{ with .PublishDate }}
  {{ $pub := partial "date-apstyle.html" .Local }}
  {{ $isoFormat := "2006-01-02T15:04:05Z07:00" }}
  {{ $iso := .Format $isoFormat }}
  {{ $params = dict "published" $pub "publishedISO" $iso | merge $params }}
{{ end }}

{{ if .Param "series"}}
  {{ $series := index (.GetTerms "series") 0 }}
  {{ $params = dict "series" $series | merge $params }}
{{ end }}

{{ return $params }}
