{{ $iconEmail := resources.Get "/img/fontawesome/regular/envelope.svg" }}
{{ $iconCheck := resources.Get "/img/fontawesome/solid/check.svg" }}
{{ $donateImg := resources.Get "/img/promo/donate.svg" }}

<section class="section">
  <div class="columns is-vcentered">
    <div class="column has-text-centered">
      <a href="/donate/">
        {{ $donateImg.Content | safeHTML }}
      </a>
    </div>
    <form
      class="column is-half"
      action="/thanks/"
      method="post"
      name="signup-partial"
      netlify
    >
      <p class="is-hidden">
        <label>
          Don’t fill this out if you're human: <input name="bot-field">
        </label>
      </p>
      <h2 class="title">
        Spotlight PA will be launching soon.
      </h2>
      <label
        class="label is-medium has-text-weight-light subtitle"
        for="signup-email"
      >
        Be the first to know when we go live.
      </label>
      <div class="field-body">
        <div class="field has-addons">
          <div class="control has-icons-left has-icons-right is-expanded">
            <input
              id="signup-email"
              class="input is-large is-medium-mobile"
              type="email"
              name="email"
              placeholder=" "
            >
            <span class="icon is-large is-left has-text-primary">
              {{ $iconEmail.Content|safeHTML }}
            </span>
            <span class="icon is-large is-right validator-icon">
              {{ $iconCheck.Content|safeHTML }}
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button type="submit" class="button is-large is-primary">
              Get Updates
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
