{{ $news := .Site.GetPage "/news/_index.md" }}
{{ $related := $news.RegularPages.Related . | first 3 }}
{{ with $related }}
  <nav class="columns is-centered has-margin-top" data-ga-action="Related content">
    <div class="column is-three-fifths">
      <div class="tile is-ancestor is-vertical">
        <div class="tile is-parent is-top">
          <div class="tile is-child">
            <h2 class="title is-4 is-uppercase has-text-weight-semibold">
              More Stories from Spotlight&nbsp;PA
            </h2>
            <hr class="is-emphatic-underline has-margin-top-negative">
          </div>
        </div>
        {{ range $page := $related }}
        {{ partial "tile-archive.html" $page }}
        {{ end }}
      </div>
    </div>
  </nav>
{{ end }}
