{{ $emailBody := printf "Read this from Spotlight PA\n\n%s\n%s\n\n%s" .LinkTitle .Description .Permalink }}
{{ $emailSubject := .LinkTitle }}
{{ $gaEvent := dict "eventCategory" "Share button interaction" "eventAction" "Email share" "eventLabel" .Permalink }}

<div class="buttons">
  <a
    href="mailto:?subject={{ $emailSubject }}&amp;body={{ $emailBody }}"
    class="button is-success"
    title="Share this page by email"
    data-ga-event="{{ $gaEvent | jsonify }}"
  >
    <span class="icon has-text-white has-colored-svg">
      <svg>
        <use xlink:href="#email-svg"></use>
      </svg>
    </span>
  </a>
  <button
    class="button is-primary"
    data-share="facebook"
    title="Share this page on Facebook"
  >
    <span class="icon has-text-white has-colored-svg">
      <svg>
        <use xlink:href="#fb-svg"></use>
      </svg>
    </span>
  </button>
  <button
    class="button is-info"
    data-share="tweet"
    data-share-text="{{ .LinkTitle }} from @spotlightpa"
    title="Tweet about this page"
  >
    <span class="icon has-text-white has-colored-svg">
      <svg>
        <use xlink:href="#twitter-svg"></use>
      </svg>
    </span>
  </button>
  <button
    class="button is-danger is-hidden"
    data-share="sharesheet"
    data-share-text="Read “{{ .LinkTitle }}” from Spotlight PA"
    title="More ways to share this page"
  >
    <span class="icon has-text-white has-colored-svg">
      <svg>
        <use xlink:href="#share-svg"></use>
      </svg>
    </span>
  </button>
</div>
