{{ $iconFB := resources.Get "/img/fontawesome/brands/facebook-f.svg" }}
{{ $iconTwitter := resources.Get "/img/fontawesome/brands/twitter.svg" }}
{{ $iconEmail := resources.Get "/img/fontawesome/regular/envelope.svg" }}

{{ $emailBody := printf "Read this from Spotlight PA\n\n%s\n%s\n\n%s" .Title .Description .Permalink }}

<div class="buttons">
  <button
    class="button is-primary is-small"
    data-share="facebook"
    title="Share this page on Facebook"
  >
    <span class="icon has-text-white has-colored-svg">
    {{ $iconFB.Content|safeHTML }}
    </span>
  </button>
  <button
    class="button is-info is-small"
    data-share="tweet"
    data-share-text="{{ .Title }} from @spotlightpa"
    title="Tweet about this page"
  >
    <span class="icon has-text-white has-colored-svg">
    {{ $iconTwitter.Content|safeHTML }}
    </span>
  </button>
  <a
    href="mailto:?subject={{ .Title }}&amp;body={{ $emailBody }}"
    class="button is-success is-small"
    title="Share this page by email"
  >
    <span class="icon has-text-white has-colored-svg">
    {{ $iconEmail.Content|safeHTML }}
    </span>
  </a>
</div>
