{{ $iconCheck := resources.Get "/img/fontawesome/solid/check.svg" }}
{{ $iconEmail := resources.Get "/img/fontawesome/regular/envelope.svg" }}
{{ $iconFB := resources.Get "/img/fontawesome/brands/facebook-f.svg" }}
{{ $iconTwitter := resources.Get "/img/fontawesome/brands/twitter.svg" }}
{{ $iconShare := resources.Get "/img/fontawesome/solid/share.svg" }}
{{ $iconUser := resources.Get "/img/fontawesome/regular/user.svg" }}
{{ $logo := resources.Get "/img/logos/banner-default-on-trans.svg" }}

<div class="is-hidden">
  <svg id="check-svg">{{ $iconCheck.Content|safeHTML }}</svg>
  <svg id="email-svg">{{ $iconEmail.Content|safeHTML }}</svg>
  <svg id="fb-svg">{{ $iconFB.Content|safeHTML }}</svg>
  <svg id="twitter-svg">{{ $iconTwitter.Content|safeHTML }}</svg>
  <svg id="share-svg">{{ $iconShare.Content|safeHTML }}</svg>
  <svg id="user-svg">{{ $iconUser.Content|safeHTML }}</svg>
  <svg id="logo-svg">{{ $logo.Content|safeHTML }}</svg>
</div>
