{{ $iconCheck := resources.Get "@fontawesome/solid/check.svg" }}
{{ $iconEmail := resources.Get "@fontawesome/regular/envelope.svg" }}
{{ $iconFB := resources.Get "@fontawesome/brands/facebook-f.svg" }}
{{ $iconSearch := resources.Get "@fontawesome/solid/search.svg" }}
{{ $iconShare := resources.Get "@fontawesome/solid/share.svg" }}
{{ $iconTwitter := resources.Get "@fontawesome/brands/twitter.svg" }}
{{ $logo := resources.Get "/img/logos/banner-default-on-trans.svg" }}

<div class="is-hidden">
  <svg id="check-svg">{{ $iconCheck.Content|safeHTML }}</svg>
  <svg id="email-svg">{{ $iconEmail.Content|safeHTML }}</svg>
  <svg id="fb-svg">{{ $iconFB.Content|safeHTML }}</svg>
  <svg id="twitter-svg">{{ $iconTwitter.Content|safeHTML }}</svg>
  <svg id="share-svg">{{ $iconShare.Content|safeHTML }}</svg>
  <svg id="search-svg">{{ $iconSearch.Content|safeHTML }}</svg>
  <svg id="logo-svg">{{ $logo.Content|safeHTML }}</svg>
</div>
