{{ $params := partialCached "page-params.html" .Page .RelPermalink }}

<article>
  <h3 class="tag is-square is-black is-uppercase has-text-weight-semibold has-margin-bottom-thin">
    {{ $params.kicker | default "News" }}
  </h3>

  {{ $heroName := .Page.Param "hero-image" }}
  {{ $heroCredit := .Page.Param "hero-image-credit" }}
  {{ $heroDescription := .Page.Param "hero-image-description" }}
  {{ $imgOpts := dict "imagePath" $heroName }}
  {{ $imgOpts = dict "credit" $heroCredit | merge $imgOpts }}
  {{ $imgOpts = dict "description" $heroDescription | merge $imgOpts }}
  {{ $imgOpts = dict "link" .RelPermalink | merge $imgOpts }}
  {{ $imgOpts = dict "widthRatio" 16 | merge $imgOpts }}
  {{ $imgOpts = dict "heightRatio" 9 | merge $imgOpts }}
  {{ $imgOpts = dict "sizeHint" "25vw" | merge $imgOpts }}
  {{ partial "image-block.html" $imgOpts }}

  <h2 class="title is-4 is-spaced has-margin-top-thin">
    <a class="has-text-black hover-underline" href="{{ .RelPermalink }}">
      {{ .LinkTitle }}
    </a>
  </h2>
  {{ if $params.byline }}
    <h3 class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal">
      <a href="{{ .RelPermalink }}" class="has-text-grey hover-underline">
        by {{ $params.byline }}
      </a>
    </h3>
  {{ end }}
</article>
