{{ $featured := index . 0 }}
{{ $featuredParams := partial "page-params.html" $featured.Page }}

<div class="tile is-parent is-top">
  <div class="tile is-child">
    <div class="has-margin-bottom-thin">
      <span class="tags has-addons">
        <span class="tag is-square is-black is-uppercase has-text-weight-semibold">
          Top News <!-- TODO: Admin -->
        </span>
        <span class="tag is-square is-outline is-uppercase has-text-weight-semibold">
          {{ $featuredParams.kicker | default "News" }}
        </span>
      </span>
    </div>
  </div>
</div>

{{ $heroName := $featured.Page.Param "hero-image" }}
{{ $heroCredit := $featured.Page.Param "hero-image-credit" }}
{{ $heroDescription := $featured.Page.Param "hero-image-description" }}
{{ $imgOpts := dict "imagePath" $heroName }}
{{ $imgOpts = dict "credit" $heroCredit | merge $imgOpts }}
{{ $imgOpts = dict "description" $heroDescription | merge $imgOpts }}
{{ $imgOpts = dict "link" $featured.RelPermalink | merge $imgOpts }}
{{ $imgOpts = dict "widthRatio" 16 | merge $imgOpts }}
{{ $imgOpts = dict "heightRatio" 9 | merge $imgOpts }}
{{ $imgOpts = dict "sizeHint" "50vw" | merge $imgOpts }}

<div class="tile is-bottom">
  <div class="tile is-parent is-6 is-top-tablet">
    <article class="tile is-child">
        {{ partial "image-block.html" $imgOpts }}
    </article>
  </div>
  <div class="tile is-parent is-bottom-tablet">
    <article class="tile is-child">
      <h1 class="title is-spaced is-size-3-touch has-margin-top-thin">
        <a href="{{ $featured.RelPermalink }}" class="has-text-black hover-underline">
          {{ $featured.LinkTitle }}
        </a>
      </h1>
      {{ if $featured.Params.subtitle }}
        <h2 class="subtitle is-5 is-size-4-mobile is-size-4-widescreen has-margin-top-negative-medium">
          {{ $featured.Params.subtitle }}
        </h2>
      {{ end }}
      {{ if $featuredParams.byline }}
        <h3 class="subtitle has-margin-top-negative-medium is-6 is-size-5-mobile is-size-5-widescreen has-text-weight-normal">
          <a
            href="{{ $featured.RelPermalink }}"
            class="has-text-grey hover-underline"
          >by {{ $featuredParams.byline }}
          </a>
        </h3>
      {{ end }}
      {{ if $featuredParams.dek }}
        <h2 class="subtitle is-5 is-size-4-mobile is-size-4-widescreen has-margin-top-negative-medium">
          {{ $featuredParams.dek }}
        </h2>
      {{ end }}
      {{ if gt (len .) 1 }}
        <ul class="is-size-5 related">
          {{ range after 1 . }}
            <li>
              <a href="{{ .RelPermalink }}" class="has-text-black hover-underline">
                {{ .LinkTitle }}
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </article>
  </div>
</div>
