{{ $params := partialCached "page-params.html" .Page .RelPermalink }}

<article class="tile is-vertical is-bottom">
  {{ if .Page.Param "hero-image" }}
  <div class="tile">
    <div class="tile is-parent is-top">
      <div class="tile is-child">
        <h3 class="tag is-square is-black is-uppercase has-text-weight-semibold has-margin-bottom-thin">
          {{ $params.kicker| default "News" }}
        </h3>
      </div>
    </div>
  </div>
  {{ end }}
  <div class="tile is-bottom">
    <div class="tile is-parent is-3 is-top-tablet">
      <div class="tile is-child">
        {{ $heroName := .Page.Param "hero-image" }}
        {{ $heroCredit := .Page.Param "hero-image-credit" }}
        {{ $heroDescription := .Page.Param "hero-image-description" }}
        {{ $imgOpts := dict "imagePath" $heroName }}
        {{ $imgOpts = dict "credit" $heroCredit | merge $imgOpts }}
        {{ $imgOpts = dict "description" $heroDescription | merge $imgOpts }}
        {{ $imgOpts = dict "link" .RelPermalink | merge $imgOpts }}
        {{ $imgOpts = dict "widthRatio" 16 | merge $imgOpts }}
        {{ $imgOpts = dict "heightRatio" 9 | merge $imgOpts }}
        {{ $imgOpts = dict "sizeHint" "15vw" | merge $imgOpts }}
        {{ partial "image-block.html" $imgOpts }}
      </div>
    </div>

    <div class="tile is-parent is-5 is-bottom-tablet">
      <div class="tile is-child">
        <h2 class="title is-spaced is-4 has-margin-top-thin-tablet">
          <a class="has-text-black hover-underline" href="{{ .RelPermalink }}">
            {{ .LinkTitle }}
          </a>
        </h2>
      {{ if $params.byline }}
        <h3 class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal">
          <a href="{{ .RelPermalink }}" class="has-text-grey hover-underline">
            by {{ $params.byline }}
          </a>
        </h3>
      {{ end }}
      </div>
    </div>
  </div>
</article>
