<div class="tile is-parent">
  <div class="tile is-child">
    <h2 class="title has-text-centered is-uppercase is-1 has-text-weight-semibold">
      Who We Are
    </h2>
    <hr class="is-emphatic-underline is-primary has-margin-top-negative is-margin-centered max-12r">
    <div class="level has-margin-top-thick">
      <div class="level-item promo">
        {{ dict "title" "Meet the team" "svg" "covering" "url" "/about/staff/" | partial "tile-promo.html" }}
      </div>
      <div class="level-item promo">
        {{ dict "title" "Send a tip" "svg" "stop" "url" "/tips/" | partial "tile-promo.html" }}
      </div>
      <div class="level-item promo">
        {{ dict "title" "Support fearless journalism" "svg" "support" "url" "/donate/" | partial "tile-promo.html" }}
      </div>
    </div>
  </div>
</div>
