{{ $params := partialCached "page-params.html" .Page .RelPermalink }}

<article>
  <h3
    class="tag is-square is-black is-uppercase has-text-weight-semibold mb-2"
  >{{ $params.published | default $params.kicker | default "News" }}</h3>

  {{ $name := .Page.Param "image" }}
  {{ $credit := .Page.Param "image-credit" }}
  {{ $description := .Page.Param "image-description" }}
  {{ $imgOpts := dict "filename" $name }}
  {{ $imgOpts = dict "credit" $credit | merge $imgOpts }}
  {{ $imgOpts = dict "description" $description | merge $imgOpts }}
  {{ $imgOpts = dict "link" $params.link | merge $imgOpts }}
  {{ $imgOpts = dict "widthRatio" 16 | merge $imgOpts }}
  {{ $imgOpts = dict "heightRatio" 9 | merge $imgOpts }}
  {{ $imgOpts = dict "sizeHint" "25vw" | merge $imgOpts }}
  {{ partial "image-block.html" $imgOpts }}

  <h2 class="subtitle is-5 is-size-4-widescreen is-spaced mt-2">
    <a class="has-text-grey-dark hover-underline" href="{{ $params.link }}">
      {{ .LinkTitle }}
    </a>
  </h2>
  {{ if $params.byline }}
    <h3 class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal">
      <a href="{{ $params.link }}" class="has-text-grey hover-underline">
        by {{ $params.byline }}
      </a>
    </h3>
  {{ end }}
</article>
