<form
  class="has-text-centered max-50 is-margin-centered"
  action="https://spotlightpa.us3.list-manage.com/subscribe/post?u=4f6d92afd9b3de3ddb48714b9&amp;id=0466df5ab5"
  method="post"
  target="_blank"
>
  <input type="hidden" name="group[26457]" value="1">
  <p class="is-hidden" aria-hidden="true">
    <label>
      Don’t fill this out if you're human:
      <input type="text" name="b_4f6d92afd9b3de3ddb48714b9_0466df5ab5" tabindex="-1" value="">
    </label>
  </p>
  <h2 class="title is-3 is-uppercase">
    <!-- Minifier pulls this too close without a character entity -->
    <span class="icon v-middle">
      <svg>
        <use xlink:href="#email-solid-svg"></use>
      </svg>
    </span>
    &#20;
    <span class="v-middle">
      {{- "Sign Up For Our Newsletter" -}}
    </span>
  </h2>
  <h3 class="subtitle is-5 is-italic">
    Receive exclusive, behind-the-scenes looks at our work
    <span class="is-hidden-touch"><br></span>
    and a weekly roundup of the best journalism from across Pa.
  </h3>
  <div class="field has-addons">
    <p class="control has-icons-left has-icons-right is-expanded">
      <input
        id="tile-email"
        class="input"
        type="email"
        placeholder="janedoe@example.com"
        name="EMAIL"
        required
      >
        <span class="icon is-left has-text-grey-light">
          <svg>
            <use xlink:href="#email-svg"></use>
          </svg>
        </span>
        <span class="icon is-right validator-icon">
          <svg>
            <use xlink:href="#check-svg"></use>
          </svg>
        </span>
    </p>
    <p class="control">
      <button type="submit" class="button is-primary">
        Sign Up
      </button>
    </p>
  </div>
</form>
