<div class="modal" id="modal-donate">
  <div class="modal-background"></div>
  <div class="modal-content">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered is-size-2">
        <span class="svg-container has-text-white">
          <svg viewBox="0 0 1024 190">
            <use xlink:href="#banner-svg"></use>
          </svg>
        </span>
      </p>
      <button class="delete" type="button" aria-label="close"></button>
    </header>

    <div class="modal-card-body">
      <h2 class="title is-size-2 is-size-3-mobile has-text-centered">
        This News Can’t Wait.
      </h2>

      <p class="is-size-4 is-size-6-mobile has-text-centered">
        Support the only investigative newsroom dedicated to covering
        Pennsylvania state government. For a limited time only, your
        tax-deductible gift to our newsroom will be
        <strong class="is-uppercase">tripled</strong>.
      </p>

      <div class="buttons is-centered mt-5">
        <a
          href="/donate/"
          class="button is-medium is-danger has-text-weight-semibold"
        >
          Yes, Triple My Gift!
        </a>
      </div>
      <div class="has-text-centered">
        <a class="has-text-grey hover-underline" aria-label="close">
          No thanks
        </a>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
