{{ $idEmail := partial "helper/new-id" . | printf "modal-newsletter-%s" }}
<div
  class="modal"
  data-ga-category="modal:newsletter:multi"
  :class="modalClass"
  x-data="modal"
  x-show="isOpen"
  x-trap.noscroll.inert="isOpen"
  @scroll.window.once.passive="trigger()"
  @click="isOpen = false"
  role="dialog"
  aria-modal="true"
  aria-label="Newsletter sign up"
>
  <div class="modal-background" x-show="isOpen" x-transition.opacity></div>
  <div
    class="modal-content"
    x-ref="content"
    x-show="isOpen"
    x-transition
    tabindex="-1"
    @click.stop
    @keydown.escape="isOpen = false"
  >
    <form
      data-ga-form="newsletters:multi"
      action="{{ site.Param `newsletters-action` }}"
      method="post"
      target="_blank"
    >
      <header class="modal-card-head">
        <p class="modal-card-title has-text-centered is-size-2">
          <span class="svg-container has-text-white">
            <svg viewBox="0 0 1024 190" aria-hidden="true">
              {{ partial "helper/svg.html" "banner" }}
            </svg>
          </span>
        </p>
        <button
          class="delete"
          type="button"
          aria-label="close"
          x-ref="closer"
          data-ga-action="modal:newsletter:dismiss"
          @click="isOpen = false;"
          :autofocus="isOpen"
        ></button>
      </header>
      <div class="modal-card-body">
        {{ partial "newsletter/hidden-input.html" . }}
        <h2 class="title is-size-2 is-size-3-mobile has-text-centered">
          Investigative Journalism
          <span class="is-hidden-touch"><br /></span>
          for Pennsylvania
        </h2>
        <p class="is-size-5">
          Get all of the news and accountability journalism you need from
          Spotlight PA.
        </p>
        <div x-data="{ hasFocused: false }" @focusin="hasFocused = true">
          <div class="field mt-5">
            <label class="is-sr-only" for="{{ $idEmail }}">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input
                id="{{ $idEmail }}"
                class="input is-medium"
                type="email"
                name="EMAIL"
                placeholder="Email address"
                required
              />
              <span class="icon is-large is-left" aria-hidden="true">
                <svg viewBox="0 0 1 1">
                  {{ partial "helper/svg.html" "email" }}
                </svg>
              </span>
              <span
                class="icon is-large is-right validator-icon"
                aria-hidden="true"
              >
                <svg viewBox="0 0 1 1">
                  {{ partial "helper/svg.html" "check" }}
                </svg>
              </span>
            </div>
          </div>
          <div
            class="field"
            x-show="hasFocused"
            x-transition:enter="fade-enter-active"
            x-transition:enter-start="fade-enter"
            x-transition:leave="fade-enter-active"
            x-transition:leave-end="fade-enter"
          >
            <p class="control has-text-left">
              <label class="checkbox">
                <input
                  type="checkbox"
                  name="papost"
                  value="1"
                  checked
                  data-ga-button
                  data-ga-action="toggle-newsletter:papost"
                />
                <strong>PA Post (Daily)</strong>: Top news every weekday
                morning, plus a daily puzzle.
              </label>
            </p>
            <p class="control has-text-left">
              <label class="checkbox">
                <input
                  type="checkbox"
                  name="investigator"
                  value="1"
                  checked
                  data-ga-button
                  data-ga-action="toggle-newsletter:investigator"
                />
                <strong>The Investigator (Weekly)</strong>: Best accountability
                journalism every Thursday, plus a weekly riddle.
              </label>
            </p>
            <p class="control has-text-left">
              <label class="checkbox">
                <input
                  type="checkbox"
                  name="palocal"
                  value="1"
                  checked
                  data-ga-button
                  data-ga-action="toggle-newsletter:palocal"
                />
                <strong>PA Local (Weekly)</strong>: A fresh look at the
                incredible people, places, and food of Pa. every Friday, plus
                events, guides, best-of, and more.
              </label>
            </p>
          </div>
        </div>
        <div class="buttons is-centered mt-5">
          <button
            type="submit"
            class="button is-medium is-danger has-text-weight-semibold"
          >
            Sign me up
          </button>
        </div>
        <div class="has-text-centered">
          <button
            class="button is-ghost has-text-grey hover-underline"
            aria-label="close"
            type="button"
            @click="
              $dispatch('x-form-submit', 'newsletters:seenit:submit');
              isOpen = false
            "
          >
            I’m already a subscriber
          </button>
          <button
            class="button is-ghost has-text-grey hover-underline"
            type="button"
            aria-label="close"
            tabindex="0"
            @click="isOpen = false"
          >
            No thanks
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
