{{ $imgMobile := resources.Get "/img/promo/tote-modal-mobile.png" | fingerprint }}
{{ $imgDesktop := resources.Get "/img/promo/tote-modal-desktop.png" }}
{{ $imgDesktopRetina := $imgDesktop | fingerprint }}
{{ $imgDesktopPlain := $imgDesktop.Fit "700x465" }}


<div
  class="modal"
  data-ga-category="modal:donate:totebag"
  :class="modalClass"
  x-data="modal"
  x-show="isOpen"
  x-transition:enter="fade-enter-active"
  x-transition:enter-start="fade-enter"
  x-transition:leave="fade-enter-active is-active"
  x-transition:leave-end="fade-enter"
  @scroll.window.once.passive="trigger()"
  role="dialog"
  aria-modal="true"
  aria-label="Donation promotion"
>
  <div class="modal-background"></div>
  <div
    class="modal-content"
    x-ref="content"
    tabindex="-1"
    @click.outside="close()"
    @keydown.escape="close()"
    @touchmove.outside.prevent
  >
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered is-size-2">
        <span class="svg-container has-text-white">
          <svg viewBox="0 0 1024 190">
            <use xlink:href="#logo-svg"></use>
          </svg>
        </span>
      </p>
      <button
        class="delete"
        type="button"
        aria-label="close"
        @click="close(true)"
      ></button>
    </header>
    <div class="modal-card-body">
      <p class="has-text-centered">
        <a
          class="is-hidden-mobile"
          data-ga-action="https://www.spotlightpa.org/donate/"
          href="https://checkout.fundjournalism.org/memberform?org_id=spotlightpa&utm_source=desktop&utm_medium=popup&utm_campaign=sept_tote_promo"
        >
          <img
            srcset="
              {{- $imgDesktopPlain.RelPermalink }} 1x,
              {{- $imgDesktopRetina.RelPermalink }} 2x
            "
            src="{{ $imgDesktopPlain.RelPermalink }}"
            alt="Donate to Spotlight PA now"
            width="700"
            height="465"
          />
        </a>
        <a
          class="is-hidden-tablet"
          data-ga-action="https://www.spotlightpa.org/donate/"
          href="https://checkout.fundjournalism.org/memberform?org_id=spotlightpa&utm_source=mobile&utm_medium=popup&utm_campaign=sept_tote_promo"
        >
          <img
            src="{{ $imgMobile.RelPermalink }}"
            alt="Donate to Spotlight PA now"
            width="500"
            height="500"
          />
        </a>
      </p>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    @click="close()"
  ></button>
</div>
