{{ $idSearch := partial "helper/new-id" . }}
<section
  x-data="searchModal"
  @modal:search:open.window="isOpen = true"
  class="modal"
  :class="modalClass"
  x-show="isOpen"
  x-trap.noscroll.inert="isOpen"
  data-ga-category="modal"
  role="dialog"
  aria-modal="true"
  aria-labelledby="{{ $idSearch }}"
>
  <div class="modal-background" x-show="isOpen" x-transition.opacity></div>
  <div
    class="modal-content"
    x-show="isOpen"
    x-transition.delay.50ms
    @click.outside="isOpen = false"
    @keydown.escape="isOpen = false"
    tabindex="-1"
  >
    <header class="modal-card-head">
      <div
        class="modal-card-title has-text-weight-bold has-text-centered has-text-white"
      >
        <span id="{{ $idSearch }}"> Search </span>
      </div>
      <button
        class="delete"
        type="button"
        x-ref="closer"
        aria-label="close"
        @click="isOpen = false"
        data-ga-action="modal:search:dismiss"
      ></button>
    </header>
    <div class="modal-card-body" style="overflow-x: hidden; height: 70vh;">
      {{ partial "component/search-articles.html" . }}
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    @click="isOpen = false"
  ></button>
</section>
