{{ $alt := .Param "sticky-image-caption" }}
{{ $imgDesktop := .Param "sticky-image" }}
{{ $link := .Param "sticky-link" }}

<section
  class="window-sticker no-js-hide"
  data-ga-category="modal:sticky"
  x-data="sticky"
  x-show="isOpen"
  x-transition:enter="slide-left-enter-active"
  x-transition:enter-start="slide-left-enter"
  x-transition:leave="slide-left-enter-active is-active"
  x-transition:leave-end="slide-left-enter"
  @open-sticky.window="show()"
  data-sf-campaign="701f4000000TVuSAAW"
  x-cloak
>
  <div class="window-sticker-grid">
    <button
      class="delete is-medium"
      aria-label="close"
      @click="close"
      x-ref="close"
    ></button>
    <a
      class="window-sticker-content"
      href="{{ $link }}"
      @click.outside="close"
    ><img
        x-data="image-rotator"
        data-images="{{ $imgDesktop }}"
        :src="choice"
        alt="{{ $alt }}"
        title="{{ $alt }}"
        style="max-height: 40vh;"
    ></a>
  </div>
</section>
