{{ $alt := .Param "sticky-image-description" }}
{{ $images := .Param "sticky-images" }}
{{ $link := .Param "sticky-link" }}


<section
  class="window-sticker no-js:hidden"
  data-ga-category="modal:sticky"
  x-data="sticky"
  x-show="isOpen"
  x-trap="isOpen"
  x-transition:enter="slide-left-enter-active"
  x-transition:enter-start="slide-left-enter"
  x-transition:leave="slide-left-enter-active is-active"
  x-transition:leave-end="slide-left-enter"
  @open-sticky.window="show()"
  @close-sticky.window="close()"
  data-sf-campaign="701Dn000000YgoxIAC"
  x-cloak
>
  <div class="window-sticker-grid">
    <button
      class="mt-1 ml-1 delete is-medium"
      aria-label="close"
      @click="close"
      x-ref="close"
    ></button>
    <a class="window-sticker-content" href="{{ $link }}" @click.outside="close"
      ><img
        class="shadow-beige rounded"
        x-data="imageRotator(JSON.parse($el.dataset.images))"
        data-images="{{ $images | jsonify }}"
        :src="choice"
        alt="{{ $alt }}"
        title="{{ $alt }}"
        style="max-height: 40vh;"
    /></a>
  </div>
</section>
