<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{ $scssOptions := dict "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/bulma") }}
  {{ $styles := resources.Get "css/main.scss" | toCSS $scssOptions | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

  <!-- Metadata -->
  {{ template "_internal/google_analytics_async.html" . }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
      {{ end }}
    </div>
  </nav>
  <main>
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}
  </main>
</body>
</html>
