<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{ $scssOptions := dict "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/bulma") }}
  {{ $styles := resources.Get "css/main.scss" | toCSS $scssOptions | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

  <!-- Metadata -->
  {{ template "_internal/google_analytics_async.html" . }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
</head>
<body>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Home
      </a>
    </div>
  </nav>
  <main>
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}
  </main>
</body>
</html>
