{{ define "main" }}
  <section class="bg-white">
    {{ if .Params.pageTitle }}
      <h1
        class="mx-auto px-4 pt-16 text-4xl font-bold md:w-7/12 md:px-0 lg:text-5xl"
      >
        {{ .Params.pageTitle }}
      </h1>
    {{ end }}


    <div
      data-ga-category="content"
      class="article-content mx-auto w-full px-4 py-6 pb-10 md:w-7/12 md:px-0"
    >
      {{ if .Params.intro }}
        {{ .Params.intro | markdownify }}
      {{ end }}
    </div>

    <div class="mx-auto pb-16 md:w-7/12 md:px-0">
      <div
        class="article-content text-3xl md:px-0"
        style="text-decoration: none; margin-left: 50px;"
      >
        <blockquote>
          <p>
            <span style="white-space: nowrap;">
              <svg
                class="-ml-6 -mt-2 mr-1 inline-block h-9 w-9 fill-current text-blue"
                aria-label="Quote"
              >
                {{ partial "helper/svg.html" "openquote" }}
              </svg>
              <span class="font-bold">If</span>
            </span>
            <span class="font-bold">
              you live in Pennsylvania, you gotta have Spotlight
            </span>
            <span style="white-space: nowrap;">
              <span class="font-bold">PA.</span>
              <svg
                class="-mt-2 mr-1 inline-block h-8 w-8 fill-current text-blue"
                aria-label="Quote"
              >
                {{ partial "helper/svg.html" "closequote" }}
              </svg>
            </span>
          </p>

          <cite class="mr-4 mt-4 block text-right text-lg italic">
            &ndash; <span>{{ .Params.quoteSource }}</span>
          </cite>
        </blockquote>
      </div>
    </div>

    <div id="carousel-outer-container" class="mb-16">
      {{ partial "blocks/carousel.html" }}
    </div>

    <div class="mx-auto w-full py-6 pb-4 md:w-7/12">
      {{ if .Params.howHead }}
        <h2 class="mb-4 px-4 text-4xl font-bold md:px-0 lg:text-5xl">
          {{ .Params.howHead }}
        </h2>
      {{ end }}

      {{ if .Params.how }}
        <p
          class="text-gray-700 px-4 pb-16 text-lg font-normal leading-relaxed md:px-0"
        >
          {{ .Params.how }}
        </p>
      {{ end }}
    </div>

    {{ partial "blocks/by-the-numbers.html" }}

    {{ partial "blocks/awards.html" }}

  </section>
{{ end }}
