{{ $params := partialCached "helper/page-params" .Page .RelPermalink }}

{{ $hasPromo := .Param "promo-active" }}


<header class="bg-white px-5 pt-8 pb-2 text-black">
  <div class="mx-auto max-w-(--breakpoint-lg)">
    {{ partial "tw/breadcrumbs.html" . }}
  </div>
  <div class="mx-auto w-full max-w-2xl">
    <h1
      class="mb-2 font-sans text-3xl leading-tight font-bold tracking-wide text-black sm:text-4xl lg:text-5xl"
    >
      {{- .Title -}}
    </h1>
  </div>
</header>

<section class="bg-white font-sans">
  <div
    class="mx-auto max-w-(--breakpoint-lg) px-5 pt-5 pb-10 font-medium lg:px-0"
  >
    {{ with .Page.Params.subhed }}
      <h2 class="mb-5 text-5xl font-black uppercase">{{ . }}</h2>
    {{ end }}
    {{ with .Content }}
      <div class="article-content mx-auto max-w-2xl text-lg">
        {{ . }}
      </div>
    {{ end }}
  </div>
  {{ with .Page.RenderString (.Param "newsletter") }}
    <div class="-mx-4 font-sans md:mx-0">
      {{ . }}
    </div>
  {{ end }}

  {{ range $i, $blocks := .Params.blocks }}
    {{ $id := urlize .title }}
    <div data-ga-category="blocks" class="bg-g-1 -mx-4 w-full md:mx-0">
      {{ partial "blocks/block" (dict
        "Page" $
        "block" .
        )
      }}
    </div>
  {{ end }}

</section>
