{{ define "promo" }}
  <!-- noop -->
{{ end }}

{{ define "topper" }}
  <!-- noop -->
{{ end }}

{{ define "banner" }}
  <!-- noop -->
{{ end }}

{{ define "modal" }}
  <!-- noop -->
{{ end }}

{{ define "main" }}
  {{ $subtitle := .Param "subhed" | default .Description }}
  {{ $pages := where (where .Pages "Kind" "section") ".Params.hide-from-newsletters" "!=" true }}
  {{ $titleClass := cond (gt (countwords .Title) 2) "is-size-1" "is-size-0" }}
  {{ $subheadClass := cond (gt (countwords $subtitle) 15) "is-size-4" "is-size-3" }}
  <form
    x-data="newsletter($el.dataset.baseUrl)"
    data-base-url="{{ page.Param `newsletters-base-url` }}"
    data-ga-category="all-newsletters"
    @submit.prevent="
      let checkboxes = Array.from($el.querySelectorAll('input[type=checkbox]'));
      let someChecked = checkboxes.some(el => el.checked);
      if (!someChecked) {
        alert('Please choose a newsletter to subscribe to.')
        return;
      }
      submit();
    "
  >
    {{ partial "newsletter/basic-hidden.html" . }}
    <section x-data class="bg-white px-4 pt-12 pb-2 md:pb-0">
      <header class="mx-auto w-full max-w-screen-lg">
        <h1
          class="text-center font-sans text-3xl leading-none font-bold tracking-wide uppercase sm:text-4xl md:text-6xl"
        >
          {{ .Title }}
        </h1>

        {{ partial "tw/image-hero.html" . }}
      </header>
      <div class="mx-auto max-w-screen-xl py-14 text-lg font-medium lg:px-0">
        {{ with .Content }}
          <div class="article-content mx-auto mb-6 max-w-prose md:mb-12">
            {{ . }}
          </div>
        {{ end }}
        <nav
          class="flex flex-wrap items-stretch justify-center gap-10 md:flex md:flex-wrap"
        >
          {{ range $i, $page := $pages }}
            {{ $checked := eq $i 0 }}
            <div
              class="hover:border-g-4 hover:bg-g-2 has-checked:bg-g-1 mx-2 flex cursor-pointer p-5 transition-all hover:scale-105 hover:rounded-sm hover:shadow-sm has-checked:rounded-sm md:mx-0 md:flex-[0_0_calc(50%-40px)]"
              x-data="{ isChecked: {{ $checked }} }"
            >
              {{ $params := partialCached "helper/page-params" .Page .RelPermalink }}
              {{ $slug := .File.Dir | path.Base }}
              {{ $id := partial "helper/new-id" . }}
              <label
                class="flex cursor-pointer"
                data-ga-category="toggle-newsletter:{{ $slug }}"
                x-report-click
                for="{{ $id }}"
              >
                <article class="grid-cols-5 gap-x-5 sm:grid">
                  {{ $name := .Page.Param "image" }}
                  {{ $credit := .Page.Param "image-credit" }}
                  {{ $description := .Page.Param "image-description" }}
                  {{ $imgOpts := dict
                    "filename" $name
                    "widthRatio" 4
                    "heightRatio" 3
                    "widths" (slice 128 256 384 512 1280)
                    "figClass" "col-span-2 row-start-1 row-span-2 block mb-4"
                    "sizeHint" "400px"
                    "rounded-sm" true
                    "gravity" (.Page.Param "image-gravity")
                  }}
                  {{ partial "tw/image-block.html" $imgOpts }}


                  <div class="col-span-3 col-start-3 row-start-1 space-y-1">
                    <div class="flex items-center">
                      <input
                        class="peer border-g-9 mr-0 h-0 w-0 appearance-none rounded-sm border opacity-0"
                        type="checkbox"
                        x-model.fill="isChecked"
                        id="{{ $id }}"
                        name="{{ $slug }}"
                        value="1"
                        x-report-click
                        data-ga-category="toggle-newsletter:{{ $slug }}"
                        {{ if $checked }}checked{{ end }}
                      />
                      <svg
                        class="border-g-9 peer-checked:bg-yellow mr-3 h-5 w-5 rounded-sm border bg-white fill-none p-0 peer-checked:fill-black"
                        viewBox="0 0 1 1"
                      >
                        {{ partial "helper/svg.html" "check" }}
                      </svg>

                      <div class="order-1 text-sm font-bold tracking-widest">
                        <span x-show="isChecked">Selected</span>
                        <span
                          class="hidden: isChecked"
                          x-cloak
                          x-show="!isChecked"
                          >Click to select</span
                        >
                      </div>
                    </div>

                    <h2 class="text-xl font-bold lg:text-2xl">
                      {{ $page.Param "teamTitle" }}
                    </h2>

                    <p class="text-sm font-bold md:text-base">
                      {{ $page.Params.occurrence }}
                    </p>

                    <p class="py-2 text-base leading-snug font-normal">
                      {{ $params.blurb }}
                    </p>
                    <p class="text-sm tracking-widest">
                      <a
                        class="text-blue hover:text-blue-7 underline"
                        href="{{ $page.RelPermalink }}"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        Learn more
                      </a>
                    </p>
                  </div>
                </article>
              </label>
            </div>
          {{ end }}
        </nav>
      </div>
      <div
        class="animate-become-sticky bg-g-2 sticky -mx-4 w-screen shadow-[0_-3px_4px_0_rgba(0,0,0,.1)]"
      >
        <div
          class="mx-auto max-w-screen-lg p-3 md:grid md:grid-cols-10 md:items-baseline md:gap-x-5 md:gap-y-3 md:py-6 lg:px-0"
          x-data="{ isOpen: false }"
        >
          {{ $idFname := partial "helper/new-id" . }}
          {{ $idLname := partial "helper/new-id" . }}
          {{ $idEmail := partial "helper/new-id" . }}


          <header class="md:col-span-4 md:col-start-1">
            <h2 class="text-xl leading-none font-black text-black">
              Sign up for free
            </h2>
            <div
              class="mt-2 flex flex-1 flex-wrap justify-between self-end align-bottom md:hidden"
            >
              <button
                class="btn-signup h-11 w-full"
                @click="isOpen = true"
                :class="{'hidden': isOpen}"
              >
                Sign up
              </button>
            </div>
            <p
              class="my-2 text-lg"
              :class="isOpen ? 'block' : 'hidden md:block'"
            >
              Enter your email address and click “Subscribe” to start receiving
              selected newsletters.
            </p>
          </header>

          <div class="md:col-span-6 md:col-start-5">
            <div
              class="flex-wrap justify-between align-bottom md:flex"
              :class="isOpen ? 'flex' : 'hidden md:flex'"
            >
              <p class="relative mt-3 flex-1">
                <label
                  class="flex-[0_0_100%] font-sans text-sm font-black"
                  for="{{ $idEmail }}"
                  >Email Address</label
                >
                <input
                  id="{{ $idEmail }}"
                  class="spl-input h-11"
                  type="email"
                  name="EMAIL"
                  placeholder="Email address"
                  required
                />
                <span
                  class="text-g-4 pointer-events-none absolute inset-y-0 top-10 right-3 inline-flex h-4"
                >
                  <svg class="fill-g-4 h-4 w-4" viewBox="0 0 1 1">
                    {{ partial "helper/svg.html" "email" }}
                  </svg>
                </span>
              </p>
              <div class="mt-2 self-end sm:ml-5">
                <button
                  type="submit"
                  class="btn-signup h-11 w-full"
                  :disabled="isLoading"
                >
                  Sign up
                  <svg
                    x-cloak
                    x-transition
                    aria-label="Submitting"
                    x-show="isLoading"
                    class="-mt-1 inline-block h-4 w-4 animate-spin fill-current"
                  >
                    {{ partial "helper/svg.html" "spinner" }}
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
{{ end }}
