{{ define "body-class" }}
  font-serif
{{ end }}

{{ define "main" }}
  <article class="bg-white px-4 pt-12 pb-2 md:pb-6">
    <header>
      <div class="mx-auto w-full max-w-(--breakpoint-lg)">
        <h1
          class="text-center font-sans text-3xl leading-none font-bold tracking-wide uppercase sm:text-4xl md:text-6xl"
        >
          {{- .Title -}}
        </h1>
      </div>
      <div class="mx-auto w-full max-w-prose">
        <h2
          class="text-g-6 mt-4 text-center font-sans text-lg leading-tight font-semibold"
        >
          {{ .Param "dek" | default .Params.description }}
        </h2>

        {{ partial "tw/image-hero.html" . }}

      </div>
    </header>

    {{ partial "tw/content-well.html" . }}
  </article>
{{ end }}

{{ define "extra-main" }}
  {{ $pages := $.Pages }}
  {{ if .Param "sort-by" | eq "title" }}
    {{ $pages = $.Pages.ByTitle }}
  {{ end }}


  <section class="bg-white px-4 pt-6 pb-12 font-serif">
    {{ partial "tw/list-3-col-story.html" (dict
      "pages" $pages
      "wrapperClass" "mb-16 mx-auto max-w-(--breakpoint-lg)"
      "eyebrow" "rubric"
      )
    }}
  </section>
{{ end }}
{{ define "footer" }}
  <div id="footer" data-fru-campaign="footer">
    {{ partial "tw/footer.html" . }}
  </div>
{{ end }}
