{{ define "title" }}
  <title>
    {{ .Param "title-tag" | default .LinkTitle }}
    &middot; Spotlight PA State College
  </title>
{{ end }}

{{ define "body-class" }}
  w-screen overflow-x-hidden font-serif
{{ end }}

{{ define "body-attributes" }}
  data-ga-category="featured" data-fru-campaign="via-the-longform-template"
  data-fru-theme="sc-onetime"
{{ end }}

{{ define "header" }}
  <nav
    class="z-10 flex bg-black sm:absolute sm:bg-transparent"
    data-ga-category="header"
  >
    <a class="mx-auto block px-12 py-5 sm:w-full" href="/statecollege/">
      <svg
        class="drop-shadow-outline hover:text-yellow h-8 fill-current text-white filter lg:h-10"
        role="img"
        aria-label="Spotlight PA State College banner"
        viewBox="0 0 1024 190"
      >
        {{ partial "helper/svg.html" "banner-state-college" }}
      </svg>
    </a>
  </nav>
{{ end }}

{{ define "main" }}
  <article class="bg-white text-lg">
    {{ .Content }}
  </article>
{{ end }}
