{{ define "body-class" }}
  w-screen overflow-x-hidden bg-beige font-serif leading-normal text-[17px]
{{ end }}

{{ define "body-attributes" }}
  data-ga-category="featured" data-sf-campaign="7015G000001IRG8QAO"
  data-sf-theme="centrecounty"
{{ end }}

{{ define "static-head" }}
  {{ partialCached "header/static-tw.html" . }}
{{ end }}

{{ define "header" }}
  <nav
    class="z-10 flex bg-black sm:absolute sm:bg-transparent"
    data-ga-category="header"
  >
    <a class="mx-auto block px-12 py-5 sm:w-full" href="/statecollege/">
      <svg
        class="
            h-8 fill-current text-white
            drop-shadow-outline filter
            hover:text-yellow lg:h-10
          "
        role="img"
        aria-label="Spotlight PA State College banner"
        viewBox="0 0 1024 190"
      >
        <use xlink:href="#banner-state-college-svg"></use>
      </svg>
    </a>
  </nav>
{{ end }}

{{ define "main" }}
  <article class="bg-white">
    {{ .Content }}
  </article>
{{ end }}

{{ define "before-footer" }}
  {{ partialCached "tw/promo-footer.html" (dict
    "wrapperClass" "bg-white pt-2 pb-14 no-js:hidden")
  }}
{{ end }}

{{ define "footer" }}
  <div id="footer" data-sf-campaign="701f4000000TVuIAAW">
    {{ partial "tw/footer.html" . }}
  </div>
{{ end }}

{{ define "modal" }}
  <!-- todo -->
{{ end }}

{{ define "search-modal" }}
  {{ partial "tw/modal-search.html" . }}
{{ end }}

{{ define "svg-resources" }}
  {{ $svgs := dict
    "banner-svg" "/img/logos/banner-default-on-trans.svg"
    "banner-state-college-svg" "/img/logos/banner-state-college.svg"
    "close-svg" "@fontawesome/solid/circle-xmark.svg"
    "email-svg" "@fontawesome/regular/envelope.svg"
    "fb-svg" "@fontawesome/brands/facebook-f.svg"
    "left-svg" "@fontawesome/solid/circle-arrow-left.svg"
    "logo-svg" "/img/logos/circle-default-on-trans.svg"
    "plus-svg" "@fontawesome/solid/circle-plus.svg"
    "right-svg" "@fontawesome/solid/circle-arrow-right.svg"
    "search-svg" "@fontawesome/solid/magnifying-glass.svg"
    "share-svg" "@fontawesome/solid/share.svg"
    "spinner-svg" "@fontawesome/solid/spinner.svg"
    "times-svg" "@fontawesome/solid/xmark.svg"
    "twitter-svg" "@fontawesome/brands/twitter.svg"
  }}
  {{ partial "header/svgs.html" $svgs }}
{{ end }}
