{{ define "title" }}
  <title>{{ .Param "title-tag" | default .LinkTitle }}</title>
{{ end }}
{{ define "body-class" }}
  text-[16px] bg-beige font-serif leading-normal text-s-9
{{ end }}
{{ define "body-attributes" }}
  data-sf-campaign="701Dn000000Ygq1IAC" data-sf-theme="statecollege"
{{ end }}

{{ define "static-head" }}
  {{ partial "header/css-tw-rale.html" . }}
  {{ partialCached "header/static-tw.html" . }}
{{ end }}


{{ define "main" }}
  {{ $sc := site.GetPage "/statecollege/_index.md" }}
  {{ partial "tw/inline-cta.html" }}
  {{ if $topperStories := partial "helper/get-sc-picks" "topper" }}
    <div class=" bg-black">
      <div class="mx-auto max-w-screen-lg py-12">
        {{ partial "tw/promo-topperarticle.html" $topperStories }}
      </div>
    </div>
  {{ end }}

  {{ $topperStories := partial "helper/get-sc-picks" "topper" }}
  {{ $topperStory := first 1 $topperStories }}

  {{ $featuredStory := partial "helper/get-sc-picks" "featuredStories" }}
  {{ $featuredStory = last 1 $featuredStory }}

  {{ $subfeatures := partial "helper/get-sc-picks" "subfeatures" }}
  {{ $subfeatures = $subfeatures | complement $featuredStory }}

  {{ $featuredStories := $featuredStory | append $subfeatures }}

  {{ $pinnedStories := partial "helper/get-sc-picks" "topSlots" }}

  {{ $paPost := site.GetPage "/newsletters/talkofthetown" }}
  {{ $river := sort (union $paPost.RegularPages $sc.RegularPages) ".PublishDate" "desc" }}
  {{ $river = $river | complement $featuredStory $pinnedStories $topperStory }}

  {{ $hasPromo := .Param "promo-active" }}
  {{ $marginClass := cond $hasPromo "has-margin-top-negative" "" }}
  {{ if eq (len $featuredStory) 0 }}
    {{ $marginClass = "mt-4" }}
  {{ end }}

  {{ $edPicks := partial "helper/get-items" "sidebar" }}


  <section
    data-sf-campaign="701Dn000000Ygq1IAC"
    class="bg-white px-4 pt-12 pb-2 md:pb-6"
    data-sf-theme="statecollege"
  >
    <h1 class="sr-only">{{ .Title }}</h1>
    {{ partial "tw/frontpage" (dict
      "featuredStories" $featuredStories
      "pinnedStories" $pinnedStories
      "river" $river
      "marginClass" $marginClass
      )
    }}
  </section>
{{ end }}
{{ define "before-footer" }}
  {{ partialCached "tw/donate-prefill-lg.html" (dict
    "donateHed" "Support Spotlight PA in State College"
    "donateCta" "Give Today"
    "donateCampaign" "701Dn000000YgqCIAS"
    "donateTheme" "statecollege"
    "donateAmounts" "10,15,25"
    )
  }}
{{ end }}

{{ define "footer" }}
  <div id="footer" data-sf-campaign="701Dn000000YgovIAC">
    {{ partial "tw/footer.html" . }}
  </div>
{{ end }}
