{{ define "title" }}
  <title>
    {{ .Param "title-tag" | default .LinkTitle }}
    &middot; Spotlight PA State College
  </title>
{{ end }}

{{ define "body-class" }}text-[16px] bg-beige font-serif leading-normal{{ end }}

{{ define "body-attributes" }}
  data-sf-campaign="701Dn000000Ygq1IAC" data-sf-theme="statecollege"
{{ end }}

{{ define "main" }}
  {{ partial "tw/main.html" . }}
{{ end }}

{{ define "modal" }}
  {{ if .Param "modal-exclude" | not }}
    {{ if .Param "sticky-active" }}
      {{ partial "tw/modal-sticky.html" . }}
    {{ end }}
    {{ if .Param "newsletter-active" }}
      {{ partial "tw/modal-newsletter-sc.html" . }}
    {{ end }}
  {{ end }}
{{ end }}
