{{ define "body-class" }}text-[16px] bg-beige font-serif leading-normal{{ end }}

{{ define "body-attributes" }}
  data-sf-campaign="7015G0000013pUYQAY" data-sf-theme="centrecounty"
{{ end }}

{{ define "static-head" }}
  {{ partialCached "header/static-tw.html" . }}
{{ end }}

{{ define "header" }}
  <header data-ga-category="header">
    {{ block "nav" . }}
      {{ partialCached "tw/nav-sc.html" . }}
    {{ end }}
    {{ block "banner" . }}
      {{ if .Param "banner-active" }}
        {{ partialCached "tw/banner.html" . }}
      {{ end }}
    {{ end }}
    {{ block "topper" . }}
      {{ if .Param "topper-active" }}
        {{ partialCached "tw/promo-topper.html" . }}
      {{ end }}
    {{ end }}
    {{ block "promo" . }}
      {{ partialCached "tw/promo-header.html" . }}
    {{ end }}
  </header>
{{ end }}

{{ define "main" }}
  {{ partial "tw/main.html" . }}
{{ end }}

{{ define "before-footer" }}
  {{ partialCached "tw/promo-footer.html" (dict
    "wrapperClass" "bg-white pt-2 pb-14 no-js:hidden")
  }}
{{ end }}

{{ define "footer" }}
  <div id="footer" data-sf-campaign="701f4000000TVuIAAW">
    {{ partial "tw/footer.html" . }}
  </div>
{{ end }}

{{ define "modal" }}
  {{ if .Param "modal-exclude" | not }}
    {{ if .Param "sticky-active" }}
      {{ partialCached "tw/modal-sticky.html" . }}
    {{ end }}
    {{ if .Param "newsletter-active" }}
      {{ partialCached "tw/modal-newsletter-sc.html" . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "search-modal" }}
  {{ partial "tw/modal-search.html" . }}
{{ end }}

{{ define "svg-resources" }}
  {{ $svgs := dict
    "banner-svg" "/img/logos/banner-default-on-trans.svg"
    "banner-state-college-svg" "/img/logos/banner-state-college.svg"
    "bars-svg" "@fontawesome/solid/bars.svg"
    "close-svg" "@fontawesome/solid/circle-xmark.svg"
    "email-svg" "@fontawesome/regular/envelope.svg"
    "fb-svg" "@fontawesome/brands/facebook-f.svg"
    "logo-svg" "/img/logos/circle-default-on-trans.svg"
    "search-svg" "@fontawesome/solid/magnifying-glass.svg"
    "share-svg" "@fontawesome/solid/share.svg"
    "spinner-svg" "@fontawesome/solid/spinner.svg"
    "times-svg" "@fontawesome/solid/xmark.svg"
    "twitter-svg" "@fontawesome/brands/twitter.svg"
  }}
  {{ partial "header/svgs.html" $svgs }}
{{ end }}
