<div class="ml-auto w-full max-w-75 rounded-sm border border-g-7 bg-beige p-5">
  <h3
    class="mb-0.5 border-b-2 border-black pb-2 font-serif text-xl font-bold italic"
  >
    Learn More
  </h3>
  <div class="divide-y divide-g-3">
    <a
      href="https://www.spotlightpa.org/about/"
      class="block py-3.5 font-serif text-base font-extrabold text-blue-8 no-underline hover:text-red"
      >About us</a
    >
    <a
      href="https://www.spotlightpa.org/investigations/"
      class="block py-3.5 font-serif text-base font-extrabold text-blue-8 no-underline hover:text-red"
      >Latest investigations</a
    >
    <a
      href="https://www.spotlightpa.org/about/mobile-apps"
      class="block py-3.5 font-serif text-base font-extrabold text-blue-8 no-underline hover:text-red"
      >Download our app</a
    >
  </div>
</div>
