{{ $idEmail := partial "helper/new-id" . | printf "games-newsletter-%s" }}


<div
  class="ml-auto w-full rounded-sm border border-g-3 bg-beige p-6 shadow-md md:max-w-75"
>
  <div
    class="mb-2 font-sans text-xs font-bold tracking-widest text-g-7 uppercase"
  >
    Newsletter · 5 minutes a day
  </div>
  <h3 class="mb-2 font-serif text-xl font-bold italic">Stay Informed</h3>
  <p class="mb-4 font-serif text-sm leading-snug text-g-8">
    Sign up for PA Post to understand what's happening across Pennsylvania
    &mdash; in less than five minutes a day.
  </p>
  <form
    class="flex flex-col gap-2"
    data-ga-category="games-landing-newsletter"
    x-data="newsletter($el.dataset.baseUrl)"
    data-base-url="{{ page.Param `newsletters-base-url` }}"
    @submit.prevent="submit"
  >
    {{ partial "newsletter/papost-hidden.html" . }}
    <label class="sr-only" for="{{ $idEmail }}">Email address</label>
    <input
      id="{{ $idEmail }}"
      class="spl-input"
      type="email"
      name="EMAIL"
      placeholder="Email address"
      required
    />
    <button class="btn-signup" type="submit" :disabled="isLoading">
      Sign up
      <svg
        x-cloak
        x-transition
        aria-label="Submitting"
        x-show="isLoading"
        class="-mt-1 inline-block h-4 w-4 animate-spin fill-current"
      >
        {{ partial "helper/svg.html" "spinner" }}
      </svg>
    </button>
  </form>
</div>
