<div id="numbers-bar">
  <div class="numbers-bar-item" id="first-div">
    <div class="bar-content">
      <div class="circle">
        <span id="first-circle" class="circle-text">35</span>
      </div>
      Policies Changed
    </div>
  </div>
  <div class="divider"></div>
  <div class="numbers-bar-item" id="second-div">
    <div class="bar-content">
      <div class="circle">
        <span id="second-circle" class="circle-text">14</span>
      </div>
      Bills Introduced
    </div>
  </div>
  <div class="divider"></div>
  <div class="numbers-bar-item" id="third-div">
    <div class="bar-content">
      <div class="circle">
        <span id="third-circle" class="circle-text">8</span>
      </div>
      Legal Victories
    </div>
  </div>
</div>


<div id="numbers-page" class="pb-16">
  <div class="grid-container">
    <div class="grid-item impact-numbers-title">
      <div class="grey-bar"></div>
      <span>Journalism that Gets Results</span>
    </div>
    <div class="grid-item first-impact-block">
      <div class="first-impact-symbol">

        <svg aria-hidden="true" style="fill: #ffcb03;">
          {{ partial "helper/svg.html" "envelope" }}
        </svg>


      </div>
      <div class="first-impact-text">Reader Tips</div>
    </div>
    <div class="grid-item impact-numbers-graf">
      Spotlight PA's investigative and public-service journalism changes laws and lives. Our reporting drives government accountability and transparency at all levels, provides an independent check on power and influence, and  has saved Pennsylvania taxpayers millions of dollars.
    </div>
    <div class="grid-item second-impact-block">
      <div class="second-impact-symbol">    
        
        <svg aria-hidden="true" style="fill: #ffcb03;">
        {{ partial "helper/svg.html" "gavel" }}
      </svg>

    </div>
      <div class="second-impact-text">Right to Know Requests</div>
    </div>
  </div>
</div>
</div>



<style>

  #numbers-bar {
    background-color: #ffcb03;
    height: 120px;
    display: flex;
    font-family: 'Merriweather', serif;
  }

  .numbers-bar-item {
    height: 100%;
    width: 33%;
  }

  .bar-content {
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Merriweather', serif;
    font-size: 1.4em;
  }

  .circle {
    width: 85px;
    height: 85px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle-text {
    color: black;
    font-weight: bold;
    font-size: 64px;
  }

  #first-circle {
    margin-left: 10px;
  }

  #second-circle {
    margin-left: 10px;
  }

  #third-circle {
    margin-left: 20px;
  }

  .divider {
    width: 3px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  #numbers-page {
    background-color: #000;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
  }

  .grid-item {
    width: 100%;
    height: 100%;
  }

  .impact-numbers-title {
    background-color: black;
    padding: 50px 50px 25px 50px;
    color: white;
    font-size: 3.5em;
    text-align: left;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    position: relative;
    max-width: 640px;
    background-color: red;
  }

  .grey-bar {
    background-color: #545454;
    height: 60px;
    width: calc(100% - 100px);
    position: absolute;
    bottom: 25px;
    left: 50px;
    z-index: 1;
    border-radius: 50%;
    max-width: 470px;
  }

  .impact-numbers-title span {
    position: relative;
    z-index: 2;
  }

  .first-impact-block {
    position: relative;
    background-color: green;
  }

  .first-impact-symbol {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 20%;
    left: 20%;
  }

  .first-impact-text {
    width: 60%;
    height: 20%;
    background-color: #ffcb03;
    position: absolute;
    top: 65%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    font-size: 1.4em;
    text-align: center;
    border-radius: 4px;
  }

  .impact-numbers-graf {
    padding: 25px 50px 50px 50px;
    color: white;
    font-size: 18px;
    max-width: 640px;
    background-color: blue;
  }

  .second-impact-block {
    position: relative;
    background-color: purple;
  }

  .second-impact-symbol {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 20%;
    left: 20%;
  }

  .second-impact-text {
    width: 60%;
    height: 20%;
    background-color: #ffcb03

    ;
    position: absolute;
    top: 65%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    font-size: 1.4em;
    text-align: center;
    border-radius: 4px;
  }

  .first-impact-symbol, .second-impact-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .first-impact-symbol svg, .second-impact-symbol svg {
    width: 110px;
    height: 110px;
  }
  
</style>
