{{ with .block }}
  <section class="{{ .wrapperClass }} bg-white font-sans">
    <div
      class="mx-auto max-w-2xl px-5 pb-10 text-lg font-medium md:px-0 lg:px-0"
    >
      {{ with .hed }}
        <header class="bg-white pb-4 pt-8 text-black">
          <h2
            class="font-sans text-3xl font-bold leading-none text-black sm:text-4xl lg:text-5xl"
          >
            {{ . }}
          </h2>
        </header>
      {{ end }}
      {{ with .content }}
        <div class="article-content">
          {{ page.RenderString . }}
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
