{{ with .block }}
  {{ $impactStories := partial "helper/get-impact-stories" "impact" }}


  <section
    x-data="{
        selectedId: null,
        init() {
          this.$nextTick(() => this.select(this.$id('tab', 1)))
        },
        select(id) {
          this.selectedId = id
        },
        isSelected(id) {
          return this.selectedId === id
        },
        whichChild(el, parent) {
          return Array.from(parent.children).indexOf(el) + 1
        }
    }"
    x-id="['tab']"
    class="grid w-screen min-w-full grid-flow-row grid-cols-8 gap-3 overflow-x-hidden bg-s-7 font-sans md:grid-cols-14 md:gap-5"
  >
    <h2
      class="
        tracking-widetext-2xl z-20 col-span-6 col-start-2 row-span-1 row-start-1 mb-2 box-content max-w-xs self-start
        py-10 font-bold leading-tight  text-white sm:text-4xl md:p-16 lg:text-5xl
      "
    >
      {{ .title }}
    </h2>

    {{ partial "tw/impact-carousel-tabs.html" (dict
      "impactStories" $impactStories
      )
    }}

    {{ partial "tw/impact-carousel-panels.html" (dict
      "impactStories" $impactStories
      )
    }}
  </section>
{{ end }}
