{{ with .block }}
  <section
    class="py-20 bg-black bg-opacity-10 anchor-section"
    data-ga-category="links"
  >
    <div class="max-w-6xl px-5 mx-auto">
      <div class="lg:flex">
        <h2
          class="mb-4 text-4xl font-black leading-none text-g-7 uppercase md:text-6xl lg:rotate-180 opacity-40 lg:sideways-heading lg:mb-0"
        >
          {{ .title }}
        </h2>
        <div class="max-w-5xl text-xl text-g-8 lg:pl-20">
          {{ $.Page.RenderString .copy }}
          {{ with .entries }}
            <ul class="mt-8 flex flex-wrap justify-center">
              {{ range . }}
                <li class="inline-block mb-2 mr-6">
                  <a
                    href="{{ .link }}"
                    class="block mr-4 text-blue underline-offset-8 decoration-4 hover:underline-l"
                    data-ga-category="link"
                  >
                    {{- .name -}}
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
