{{- $ctx := .ctx | default . -}}
{{- $id := .id | default "map" -}}
{{- $defaults := dict
  "id"       $id
  "styleURL" "https://demotiles.maplibre.org/style.json"
  "center"   (slice -77.5 40.9)
  "zoom"     6
  "bounds"   nil
  "padding"  24
  "minZoom"  3
  "maxZoom"  20
  "bearing"  0
  "pitch"    0
  "controls" (slice "navigation")
  "attributionCompact" true
  "markers"  (slice)
  "ariaLabel" "Map"
  "class" "relative w-full h-full"
-}}

{{- $siteCfg := site.Params.maplibre | default (dict) -}}
{{- $pageCfg := ($ctx.Param "map") | default (dict) -}}
{{- $cfg := merge $defaults $siteCfg $pageCfg . -}}

<div
  x-data="maplibreComponent({{ $cfg | jsonify }})"
  x-init="init()"
  role="region"
  aria-label="{{ $cfg.ariaLabel }}"
  class="{{ $cfg.class }}"
>
  <div x-ref="canvas" class="w-full h-full"></div>
</div>