<section class="bg-g-9 mb-6 w-full pt-12">
  {{ $maxWidth := .Param "max-width" }}
  {{ $breakpoint := cond (eq $maxWidth "prose") "750px" $maxWidth }}
  {{ $maxWidthClass := cond (eq $maxWidth "prose") "max-w-prose" (print "max-w-[" $maxWidth "]") }}

  <style>
    @media (max-width: {{ $breakpoint }}) {
      .spl-max-w\:hidden {
        display: none;
      }
      .spl-max-w\:flex-col {
        flex-direction: column;
      }
      .spl-max-w\:w-full {
        width: 100%;
      }
      .spl-max-w\:pr-0 {
        padding-right: 0;
      }
      .spl-max-w\:pb-16 {
        padding-bottom: 4rem;
      }
    }
  </style>

  <div class="{{ $maxWidthClass }} mx-auto px-4 pb-6">
    <div
      class="spl-max-w:flex-col {{ if not (and (.Param "quote") (.Param "quote-source")) }}
        spl-max-w:pb-16
      {{ end }} flex"
    >
      <div class="spl-max-w:w-full spl-max-w:pr-0 w-full sm:w-3/5 sm:pr-6">
        <h1 class="my-4 text-4xl font-semibold text-white">
          {{ .Title }}
        </h1>

        <h2
          class="[&_strong]:text-yellow mb-4 text-lg font-semibold text-white"
        >
          {{ .Param "subhead" | markdownify }}
        </h2>

        <p class="text-white">
          {{ .Param "deck" }}
        </p>

        <ul class="my-4 mb-7 ml-4 list-outside list-disc text-base text-white">
          {{ range .Params.bullets }}
            <li>{{ . | safeHTML }}</li>
          {{ end }}
        </ul>

        {{ partial "tw/individual-newsletter-form.html" . }}
      </div>

      <div
        class="{{ if not (and (.Param "quote") (.Param "quote-source")) }}
          mb-16
        {{ end }} spl-max-w:hidden mt-4 w-2/5 items-start justify-center"
      >
        {{ $name := .Param "device-image" }}
        {{ $imgOpts := dict
          "filename" $name
          "description" "Screenshot of the newsletter on a mobile device"
          "widthRatio" (.Param "device-image-width")
          "heightRatio" (.Param "device-image-height")
          "widths" (slice 512 768 1024 1280 1600)
          "containerClass" "w-full flex justify-center items-start"
        }}
        {{ with $name }}
          <div class="flex w-full justify-center">
            {{ partial "tw/image-block.html" $imgOpts }}
          </div>
        {{ end }}
      </div>
    </div>

    {{ if and (.Param "quote") (.Param "quote-source") }}
      <p
        class="border-yellow mt-8 mb-2 border-l-4 py-3 pl-2 text-2xl font-bold text-white"
      >
        {{ .Param "quote" }}
      </p>
      <p class="mb-5 text-right text-white italic">
        {{ .Param "quote-source" }}
      </p>
    {{ end }}
  </div>
</section>
