{{ with .block }}
  <section
    class="min-h-[65vh] bg-white py-20 text-s-9"
    data-ga-category="partners"
  >
    <div class="mx-auto max-w-6xl px-5">
      <h2
        class="lg:mb0 mb-4 text-4xl font-black  uppercase leading-none opacity-40 md:text-6xl"
      >
        {{ .title }}
      </h2>
      <div class="article-content my-4 text-xl lg:text-2xl">
        {{ $.Page.RenderString .copy }}
      </div>
      {{ with .show_partners }}
        <div
          class="mx-auto flex max-w-3xl flex-wrap justify-center gap-8 py-12"
          data-ga-category="logos"
        >
          {{ range site.Data.partners.partners | first . }}
            <a href="{{ .url }}" title="{{ .name }}">
              <span>
                <img
                  src="{{ index . `logo-url` }}"
                  alt="Logo for {{ .name }}"
                  style="width: auto; height: 64px;"
                />
              </span>
            </a>
          {{ end }}
        </div>
      {{ end }}

      {{ with .cta }}
        <div class="mt-12 flex justify-center" data-ga-category="cta">
          <a
            class="border border-black px-4 py-2 text-center text-xl font-bold leading-tight text-black duration-300 hover:border-red-7 hover:text-red-7 lg:text-2xl"
            href="{{ .url }}"
          >
            {{- .copy -}}
          </a>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
