{{ with .block }}
  {{ $id := "id" }}
  {{ $category := "category" }}
  {{ $data := site.Data.partners.list }}

  {{ $counties := slice }}
  {{ range $data }}
    {{ $counties = $counties | append .County }}
  {{ end }}
  {{ $counties = uniq $counties | sort }}


  <section
    class="min-h-[65vh] bg-white py-20 text-g-9"
    data-ga-category="partners"
  >
    <div class="mx-auto max-w-6xl px-5">
      {{ with .title }}
        <h2
          class="lg:mb0 mb-4 text-4xl font-black  uppercase leading-none opacity-40 md:text-6xl"
        >
          {{ . }}
        </h2>
      {{ end }}
      {{ with $.Page.RenderString .copy }}
        <div class="article-content my-4 text-xl lg:text-2xl">
          {{ . }}
        </div>
      {{ end }}


      <svg
        class="-ml-6 -mt-2 mr-1 inline-block h-full w-full"
        aria-label="Quote"
        viewBox="0 0 902 521"
        x-data="
          // If County matches xlink add click function on line 421
        "
      >
        <use
          xlink:href="#Adams"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(421, 445)"
        />
        <use
          xlink:href="#Allegheny"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(-13.50000, 318.00000)"
        />
        <use
          xlink:href="#Armstrong"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(77, 217)"
        />
        <use
          xlink:href="#Beaver"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(-60.5000, 278)"
        />
        <use
          xlink:href="#Bedford"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(225, 393)"
        />
        <use
          xlink:href="#Berks"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(605 320)"
        />
        <use
          xlink:href="#Blair"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(242 310)"
        />
        <use
          xlink:href="#Bradford"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(521 55)"
        />
        <use
          xlink:href="#Bucks"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(745, 331)"
        />
        <use
          xlink:href="#Butler"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(4, 219)"
        />
        <use
          xlink:href="#Cambria"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(189, 313)"
        />
        <use
          xlink:href="#Cameron"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(266, 137)"
        />
        <use
          xlink:href="#Carbon"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(644, 229)"
        />
        <use
          xlink:href="#Centre"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(335, 208)"
        />
        <use
          xlink:href="#Chester"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(645, 406)"
        />
        <use
          xlink:href="#Clarion"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(78, 168)"
        />
        <use
          xlink:href="#Clearfield"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(233, 209)"
        />
        <use
          xlink:href="#Clinton"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(356, 164)"
        />
        <use
          xlink:href="#Columbia"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(537, 194)"
        />
        <use
          xlink:href="#Crawford"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(-14.5000, 82)"
        />
        <use
          xlink:href="#Cumberland"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(413.5, 393)"
        />
        <use
          xlink:href="#Dauphin"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(490, 326)"
        />
        <use
          xlink:href="#Delaware"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(700, 441)"
        />
        <use
          xlink:href="#Elk"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(196, 131)"
        />
        <use
          xlink:href="#Erie"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(-13, 2)"
        />
        <use
          xlink:href="#Fayette"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(43, 428)"
        />
        <use
          xlink:href="#Forest"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(112, 130)"
        />
        <use
          xlink:href="#Franklin"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(332, 402)"
        />
        <use
          xlink:href="#Fulton"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(278, 425)"
        />
        <use
          xlink:href="#Greene"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(-45, 451)"
        />
        <use
          xlink:href="#Huntingdon"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(302, 310)"
        />
        <use
          xlink:href="#Indiana"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(125, 275)"
        />
        <use
          xlink:href="#Jefferson"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(151, 182)"
        />
        <use
          xlink:href="#Juniata"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(397, 319)"
        />
        <use
          xlink:href="#Lackawanna"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(655, 127)"
        />
        <use
          xlink:href="#Lancaster"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(560, 393)"
        />
        <use
          xlink:href="#Lawrence"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(-55, 226)"
        />
        <use
          xlink:href="#Lebanon"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(542, 346.5)"
        />
        <use
          xlink:href="#Lehigh"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(664, 298)"
        />
        <use
          xlink:href="#Luzerne"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(608, 169)"
        />
        <use
          xlink:href="#Lycoming"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(447, 138)"
        />
        <use
          xlink:href="#McKean"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(211, 59)"
        />
        <use
          xlink:href="#Mercer"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(-45, 153)"
        />
        <use
          xlink:href="#Mifflin"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(361, 289)"
        />
        <use
          xlink:href="#Monroe"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(708, 202)"
        />
        <use
          xlink:href="#Montgomery"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(706, 365)"
        />
        <use
          xlink:href="#Montour"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(502, 223)"
        />
        <use
          xlink:href="#Northampton"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(707, 258)"
        />
        <use
          xlink:href="#Northumberland"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(503, 224)"
        />
        <use
          xlink:href="#Perry"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(407, 332)"
        />
        <use
          xlink:href="#Philadelphia"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(743, 425)"
        />
        <use
          xlink:href="#Pike"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(748, 132)"
        />
        <use
          xlink:href="#Potter"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(313, 58)"
        />
        <use
          xlink:href="#Schuylkill"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(570, 267)"
        />
        <use
          xlink:href="#Snyder"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(439, 281)"
        />
        <use
          xlink:href="#Somerset"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(137, 401)"
        />
        <use
          xlink:href="#Sullivan"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(522, 140)"
        />
        <use
          xlink:href="#Susquehanna"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(628, 52)"
        />
        <use
          xlink:href="#Tioga"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(412, 56)"
        />
        <use
          xlink:href="#Union"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(438, 229)"
        />
        <use
          xlink:href="#Venango"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(33, 131)"
        />
        <use
          xlink:href="#Warren"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(107, 56)"
        />
        <use
          xlink:href="#washington"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(-39, 355)"
        />
        <use
          xlink:href="#Wayne"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(709, 52)"
        />
        <use
          xlink:href="#Westmoreland"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(75, 320)"
        />
        <use
          xlink:href="#Wyoming"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(601, 125)"
        />
        <use
          xlink:href="#York"
          class="fill-g-5 stroke-white stroke-2 hover:fill-blue-4"
          transform="translate(501, 413)"
        />
      </svg>

      {{ with .cta }}
        <div class="mt-12 flex justify-center" data-ga-category="cta">
          <a
            class="border border-black px-4 py-2 text-center text-xl font-bold leading-tight text-black duration-300 hover:border-red-7 hover:text-red-7 lg:text-2xl"
            href="{{ .url }}"
          >
            {{- .copy -}}
          </a>
        </div>
      {{ end }}
    </div>

    <div>
      {{ partial "tw/partners" (dict
        "id" $id
        "category" $category
        "dataSrc" $data )
      }}
      {{ with $data }}

        <div
          x-data="{ selectedCounty: '' }"
          class="m-auto w-full justify-center md:py-4 xl:px-0"
        >
          <header class="top-0 w-full bg-white md:relative">
            <div
              class="m-auto max-w-screen-lg px-5 md:flex md:items-baseline md:gap-3"
            >
              <h3
                x-text="selectedCounty"
                class="mb-2 py-2 font-sans text-3xl font-black leading-tight tracking-wide sm:text-4xl lg:text-5xl"
              ></h3>

              <div
                class="no-js:hidden sticky top-0 mx-auto w-96 max-w-full bg-white px-5 py-2 shadow md:relative md:shadow-none"
              >
                <select
                  x-data
                  @change="window.location.assign($event.target.value);"
                  class="spl-select text-xl"
                >
                  <option disabled selected>Select County…</option>
                  {{ range $counties }}
                    <option
                      @click="
                        selectedCounty = '{{ . }} County';
                        window.setTimeout(() => {
                          document.
                            getElementById('{{ . | urlize }}').
                            scrollIntoView({
                              behavior: 'smooth',
                              block: 'start',
                              inline: 'start',
                            });
                        }, 250);
                      "
                      value="#{{ . | urlize }}"
                    >
                      {{ . }} County
                    </option>
                  {{ end }}
                </select>
                <span
                  class="pointer-events-none absolute inset-y-0 right-8 z-10 inline-flex items-center justify-center leading-none text-g-6"
                  aria-hidden="true"
                >
                  <svg class="h-4 w-4 fill-g-5">
                    {{ partial "helper/svg.html" "chevron" }}
                  </svg>
                </span>
              </div>
            </div>
          </header>

          {{ range $counties }}
            <div
              id="{{ . | urlize }}"
              x-show="selectedCounty === '{{ . }} County'"
              class="mx-auto max-w-screen-lg border-t border-g-4 p-5 pt-0 md:flex md:gap-6"
              :class="{'': selectedCounty === '{{ . }} County' }"
            >
              {{ with . }}
                <div class="flex w-80 max-w-xs justify-center pt-5">
                  <svg
                    width="100%"
                    class="inline-block bg-none fill-blue stroke-white stroke-2"
                  >
                    <use
                      xlink:href="#{{ . }}"
                      style="filter: drop-shadow(0 1px 3px rgb(0 0 0 / 0.1));"
                    />
                  </svg>
                </div>
              {{ end }}
              <span class="w-0 border border-g-3"></span>
              <ul
                class="mx-auto w-full max-w-screen-lg space-y-2 pt-5 md:flex md:flex-wrap md:items-baseline md:gap-4"
              >
                {{ range where $data "County" . }}
                  <li class="flex-auto md:w-1/3">
                    <h4 class="text-xl font-bold leading-5">
                      {{ if .url }}
                        <a
                          href="{{ .url }}"
                          class="no-underline underline-offset-2 hover:text-blue hover:underline"
                          >{{ .Name }}</a
                        >
                      {{ else }}
                        {{ .Name }}
                      {{ end }}
                    </h4>
                    {{ with .City }}
                      <p>{{ . }}, PA</p>
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
