{{ with .block }}
  <section class="py-20 text-g-9 bg-white anchor-section">
    <div class="max-w-6xl px-5 mx-auto">
      <div
        class="mb-4 text-4xl font-black leading-none  uppercase md:text-6xl opacity-40 lg:mb0"
      >
        {{ .title }}
      </div>
      <div class="my-4 text-xl lg:text-2xl article-content">
        {{ $.Page.RenderString .copy }}
      </div>
      {{ with .show_partners }}
        <div
          class="py-12 mx-auto max-w-3xl flex flex-wrap justify-center gap-8"
          data-ga-category="logos"
        >
          {{ range site.Data.partners.partners | first . }}
            <a href="{{ .url }}" title="{{ .name }}">
              <span>
                <img
                  src="{{ index . `logo-url` }}"
                  alt="Logo for {{ .name }}"
                  style="width: auto; height: 64px;"
                />
              </span>
            </a>
          {{ end }}
        </div>
      {{ end }}

      {{ with .cta }}
        <div class="flex justify-center mt-12">
          <a
            class="px-4 py-2 text-xl font-bold text-black duration-300 text-center leading-tight border border-black lg:text-2xl hover:text-red hover:border-red"
            href="{{ .url }}"
            >{{ .copy }}</a
          >
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
