{{ with .block }}
  <section
    class="min-h-[65vh] bg-black bg-opacity-10 py-20"
    data-ga-category="links"
  >
    <div class="mx-auto max-w-6xl px-5">
      <div class="lg:flex">
        <h2
          class="lg:sideways-heading mb-4 text-4xl font-black uppercase leading-none text-s-7 opacity-40 md:text-6xl lg:mb-0 lg:rotate-180"
        >
          {{ .title }}
        </h2>
        <div class="mt-8 flex" x-data="carousel">
          {{ with .entries }}

            <div class="hidden h-64 w-20 md:flex">
              <span
                class="h-12 w-12 cursor-pointer self-center"
                @click="slide('left', 1)"
              >
                <svg
                  class="h-12 w-12 self-center fill-s-2 opacity-75 drop-shadow filter lg:h-16 lg:w-16"
                >
                  <use xlink:href="#left-svg"></use>
                </svg>
              </span>
            </div>
            <ul
              class="flex-no-wrap hide-scrollbars mx-2 flex flex-1 overflow-y-hidden overflow-x-scroll md:-mx-4"
              x-ref="carousel"
            >
              {{ range . }}
                <li
                  class="group mb-2 inline-block w-2/3 flex-none snap-center px-2 pr-2 pb-2 focus:outline-none sm:pr-8 md:w-1/2 md:px-4 md:pr-12"
                >
                  <p>{{- .testimonial -}}</p>
                </li>
              {{ end }}

            </ul>
            <div class="hidden h-64 w-16 md:flex">
              <span
                class="h-12 w-12 cursor-pointer self-center"
                @click="slide('right', 1)"
              >
                <svg
                  class="h-12 w-12 self-center fill-s-2 opacity-75 drop-shadow filter lg:h-16 lg:w-16"
                >
                  <use xlink:href="#right-svg"></use>
                </svg>
              </span>
            </div>
          {{ end }}

        </div>
      </div>
    </div>
  </section>
{{ end }}
