{{ with .block }}
  <section
    class="min-h-[65vh] bg-black bg-opacity-10 py-20"
    data-ga-category="links"
  >
    <div class="mx-auto max-w-6xl px-5">
      <div class="lg:flex">
        <h2
          class="lg:sideways-heading mb-4 text-4xl font-black uppercase leading-none text-s-7 opacity-40 md:text-6xl lg:mb-0 lg:rotate-180"
        >
          {{ .title }}
        </h2>

        <div
          x-data="{
        skip: 1,
        atBeginning: false,
        atEnd: false,
        next() {
            this.to((current, offset) => current + (offset * this.skip))
        },
        prev() {
            this.to((current, offset) => current - (offset * this.skip))
        },
        to(strategy) {
            let slider = this.$refs.slider
            let current = slider.scrollLeft
            let offset = slider.firstElementChild.getBoundingClientRect().width
            slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
        },
        focusableWhenVisible: {
            'x-intersect:enter'() {
                this.$el.removeAttribute('tabindex')
            },
            'x-intersect:leave'() {
                this.$el.setAttribute('tabindex', '-1')
            },
        },
        disableNextAndPreviousButtons: {
            'x-intersect:enter.threshold.05'() {
                let slideEls = this.$el.parentElement.children

                // If this is the first slide.
                if (slideEls[0] === this.$el) {
                    this.atBeginning = true
                // If this is the last slide.
                } else if (slideEls[slideEls.length-1] === this.$el) {
                    this.atEnd = true
                }
            },
            'x-intersect:leave.threshold.05'() {
                let slideEls = this.$el.parentElement.children

                // If this is the first slide.
                if (slideEls[0] === this.$el) {
                    this.atBeginning = false
                // If this is the last slide.
                } else if (slideEls[slideEls.length-1] === this.$el) {
                    this.atEnd = false
                }
            },
        },
    }"
          class="mt-8 flex w-full flex-col"
        >
          <div
            x-on:keydown.right="next"
            x-on:keydown.left="prev"
            tabindex="0"
            role="region"
            aria-labelledby="carousel-label"
            class="flex space-x-6"
          >
            <h2 id="carousel-label" class="sr-only" hidden>Carousel</h2>

            <!-- Prev Button -->
            <button
              x-on:click="prev"
              class="text-6xl"
              :aria-disabled="atBeginning"
              :tabindex="atEnd ? -1 : 0"
              :class="{ 'opacity-50 cursor-not-allowed': atBeginning }"
            >
              <span aria-hidden="true">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="text-gray-600 h-12 w-12"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="3"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 19l-7-7 7-7"
                  />
                </svg>
              </span>
              <span class="sr-only">Skip to previous slide page</span>
            </button>

            <span id="carousel-content-label" class="sr-only" hidden
              >Carousel</span
            >
            {{ with .entries }}

              <ul
                x-ref="slider"
                tabindex="0"
                role="listbox"
                aria-labelledby="carousel-content-label"
                class="flex-no-wrap hide-scrollbars mx-2 flex flex-1 overflow-y-hidden overflow-x-scroll md:-mx-4"
              >
                {{ range . }}

                  <li
                    style="scroll-snap-type: x mandatory"
                    x-bind="disableNextAndPreviousButtons"
                    role="option"
                    class="article-content group mb-2 inline-block w-2/3 flex-none snap-center px-2 pr-2 pb-2 focus:outline-none sm:pr-8 md:w-1/2 md:px-4 md:pr-12"
                  >
                    {{ $.Page.RenderString .testimonial }}
                  </li>
                {{ end }}

              </ul>
            {{ end }}


            <!-- Next Button -->
            <button
              x-on:click="next"
              class="text-6xl"
              :aria-disabled="atEnd"
              :tabindex="atEnd ? -1 : 0"
              :class="{ 'opacity-50 cursor-not-allowed': atEnd }"
            >
              <span aria-hidden="true">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="text-gray-600 h-12 w-12"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="3"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 5l7 7-7 7"
                  />
                </svg>
              </span>
              <span class="sr-only">Skip to next slide page</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
