{{ with .block }}
  <section
    class="bg-opacity-70 min-h-[65vh] bg-black py-20"
    data-ga-category="text"
  >
    <div class="mx-auto max-w-6xl px-5">
      <div class="lg:flex">
        <h2
          class="lg:sideways-heading mb-4 text-4xl leading-none font-black text-white uppercase opacity-40 md:text-6xl lg:mb-0"
        >
          {{ .title }}
        </h2>
        <div
          class="article-content spl-links-yellow max-w-3xl text-lg text-white lg:pl-20"
        >
          {{ $.Page.RenderString .copy }}
        </div>
      </div>

      {{ with .actions }}
        <div
          class="mt-12 flex justify-center space-x-3 text-center leading-tight"
          data-ga-category="cta"
        >
          {{ range . }}
            <a
              class="hover:border-red-7 hover:text-red-7 border border-white px-4 py-2 text-xl font-bold text-white duration-300 lg:text-2xl"
              href="{{ .url }}"
            >
              {{- .copy -}}
            </a>
          {{ end }}
        </div>
      {{ end }}

    </div>
  </section>
{{ end }}
