{{ with .block }}
  <section class="py-10 anchor-section bg-g-3" data-ga-category="links">
    <div class="max-w-6xl px-5 mx-auto">
      <h2
        class="mb-10 text-4xl font-black leading-none uppercase md:text-6xl text-g-6"
      >
        {{ .title }}
      </h2>
      {{ with .copy }}
        <div class="my-4 text-xl lg:text-2xl article-content">
          {{ $.Page.RenderString . }}
        </div>
      {{ end }}
      {{ with .cta }}
        <div class="flex justify-center mt-12" data-ga-category="cta">
          <a
            class="px-4 py-2 text-xl font-bold duration-300 border border-black text-center leading-tight lg:text-2xl hover:text-red-7 hover:border-red-7"
            href="{{ .url }}"
          >
            {{- .copy -}}
          </a>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
