{{ with .block }}
  <div class="bg-s-2 p-5 sm:py-5 md:py-16 xl:px-0">
    <header class=" m-auto flex max-w-screen-lg items-baseline gap-3">
      <svg class="mr-1 h-9 w-9 fill-s-5">
        {{ partial "helper/svg.html" "trophy" }}
      </svg>

      <h3
        class="mb-2 font-sans text-3xl font-black leading-tight tracking-wide sm:text-4xl lg:text-5xl"
      >
        {{- .title -}}
      </h3>
    </header>

    <div
      class=" m-auto max-w-screen-lg border-t-4 sm:flex sm:items-start"
      x-data="{ selected: 'awards-2023' }"
    >
      {{ with .entries }}
        <div
          class="sticky top-0 flex w-full items-end justify-start space-x-2 border-b-4 border-black bg-s-2 pt-5 text-s-5 sm:w-1/6 sm:flex-col sm:border-b-0"
        >
          {{ range . }}

            <a
              href="#awards-{{ .name }}"
              class="
                flex-0 px-2 text-sm font-black leading-loose active:focus:text-black sm:px-4 sm:text-2xl
              "
              :class="{'text-white bg-black sm:bg-transparent sm:text-black': selected === 'awards-{{ .name }}' }"
              @click="selected = 'awards-{{ .name }}' "
              >{{- .name -}}</a
            >
          {{ end }}
        </div>
        <div class="max-w-4xl px-2 py-8 sm:border-l-4 md:px-16">
          {{ range . }}
            <article
              id="awards-{{ .name }}"
              x-show="selected === 'awards-{{ .name }}'"
              class="article-content"
              :class="{'pt-20 -mt-20': selected === 'awards-{{ .name }}' }"
            >
              {{ $.Page.RenderString .body }}
            </article>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
