<div class="grid grid-cols-1 gap-4 md:grid-cols-2">

    <div class="flex h-96 flex-col justify-center border-2 border-black bg-white p-6 text-left text-black rounded-lg">
      <p class="text-2xl font-semibold mb-4">Total Registered Voters</p>
      <p class="text-4xl font-bold">8,882,802</p>
  
      <div class="mt-6 space-y-2">
        <p class="text-lg">Democrats: <span class="font-bold">3,550,506</span></p>
        <p class="text-lg">Republicans: <span class="font-bold">3,496,659</span></p>
        <p class="text-lg">Other: <span class="font-bold">1,318,415</span></p>
      </div>
    </div>
  
    <div class="flex h-96 items-center justify-center bg-green">
      <p class="text-2xl font-semibold text-white">Block 2</p>
    </div>
  
    <div class="flex h-96 items-center justify-center bg-red">
      <p class="text-2xl font-semibold text-white">Block 3</p>
    </div>
  
    <div class="flex h-96 items-center justify-center bg-orange">
      <p class="text-2xl font-semibold text-white">Block 4</p>
    </div>
  </div>
  