{{ $hed := .Get "hed" }}
{{ $date := .Get "date" }}
<div class="my-8 w-full rounded-md bg-black md:my-11">
  <i class="fa-solid fa-person"></i>
  <div class="min-h-screen w-full overflow-y-scroll px-3">
    {{ with $hed }}
      <h2
        class="mx-auto mb-2 mt-8 max-w-5xl font-sans text-4xl font-semibold leading-tight text-white"
      >
        {{ $hed }}
      </h2>
    {{ end }}
    {{ .Inner }}


    <p class="mx-auto mb-1 mt-8 max-w-5xl font-sans text-sm italic text-white">
      {{ $date }}
    </p>
  </div>
</div>
