{{ $court := .Get "court" }}
{{ $case := .Get "case" }}
{{ $link := .Get "link" }}
<article
  class="featured-content relative mb-8 border-t-4 border-black first:border-t-0"
  x-data="{ isOpen: false }"
  :style="!isOpen && { height: '472px' }"
  :class="{'overflow-hidden': !isOpen}"
>
  <h4 class="mb-0 font-sans">
    <span
      class="inline-block border-2 border-eyebrow-bg bg-eyebrow-bg px-2 font-sans text-sm font-semibold uppercase text-eyebrow"
      >Case</span
    >
    <a
      class="block text-sm uppercase italic underline underline-offset-2 sm:inline"
      href="{{ $link }}"
      >{{ $case }}</a
    >
  </h4>
  {{ .Inner  | markdownify }}


  <div
    class="bg-linear-to-t sticky inset-x-0 bottom-0 from-white via-white via-40% pb-4 pt-12"
  >
    <button
      x-show="!isOpen"
      class="group leading-4 text-navy hover:text-yellow"
      @click="isOpen = true"
      x-report-click
      data-ga-category="toggle-bio"
    >
      <span aria-hidden="true">
        <svg class="mr-2 inline-block h-4 w-4 fill-current">
          {{ partial "helper/svg.html" "plus" }}
        </svg>
      </span>
      <span class="align-bottom uppercase hover:underline"> Show more… </span>
    </button>
    <button
      x-show="isOpen"
      class="group leading-4 text-navy hover:text-yellow"
      @click="isOpen = false"
      x-report-click
      data-ga-category="toggle-bio"
    >
      <span aria-hidden="true">
        <svg class="mr-2 inline-block h-4 w-4 fill-current">
          {{ partial "helper/svg.html" "minus" }}
        </svg>
      </span>
      <span class="align-bottom uppercase hover:underline"> Show less… </span>
    </button>
  </div>
</article>
