{{ $params := partial "helper/page-params" .Page }}
{{ $filename := .Get "image" }}
{{ $eyebrow := .Get "eyebrow" }}
{{ $hed := .Get "hed" }}
{{ $dek := .Get "dek" }}
{{ $date := .Get "date" }}
{{ $creditType := .Get "credit-type" | default "by" }}
{{ $byline := .Get "byline" }}
{{ $outlet := .Get "outlet" | default "Spotlight PA" }}
{{ $videoSrc := .Get "video-src" }}
{{ $videoType := .Get "video-type" }}
{{ $imageCredit := .Get "image-credit" }}
{{ $imageSource := .Get "image-source" }}
{{ $imageDesc := .Get "image-description" }}
{{ $focus := .Get "image-focus" }}
{{ $gravity := .Get "image-gravity" }}
{{ $artType := .Get "art-type" | default "Photo" }}
{{ $secondCredit := .Get "second-credit" }}
{{ $secondSource := .Get "second-source" }}
{{ $secondDesc := .Get "second-description" }}
{{ $secondType := .Get "second-type" | default "Photo" }}
{{ $supplementalCredit := .Get "supplemental-credit" }}

{{ $preposition := .Get "credit-relation" | default "of" }}
{{ $hedSizes := .Get "hed-sizes" | default `text-4xl lg:text-6xl` }}
{{ $widths := slice 500 800 1100 1400 1700 2100 }}
{{ $sizes := dict
  "widths" $widths
  "widthRatio" 6
  "heightRatio" 4
  | partial "helper/build-sizes"
}}
{{ $srcset := dict
  "sizes" $sizes
  "filename" $filename
  "gravity" $gravity
  | partial "helper/build-srcset"
}}

{{ $width := (index $sizes 0).width }}
{{ $height := (index $sizes 0).height }}
{{ $imgOpt := dict
  "filename" $filename
  "width" $width
  "height" $height
  "gravity" $gravity
  "ext" "jpeg"
}}
{{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}


<header
  class="flex flex-col md:min-h-screen md:flex-row"
  data-ga-category="inline-header"
>
  <div class="bg-black text-white md:w-2/5 md:min-w-min">
    <div class="px-8 pb-10 sm:px-12">
      <div
        class="mt-16 mb-4 border-t border-b border-white pt-8 pb-4 lg:mt-20 lg:mb-12 lg:pb-10"
      >
        <div class="text-yellow font-sans font-bold uppercase">
          {{ $eyebrow }}
        </div>
        <h1 class="{{ $hedSizes }} leading-hed mt-4 uppercase">
          {{ $hed }}
        </h1>
        <h2 class="mt-4 lg:text-xl lg:leading-relaxed">{{ $dek }}</h2>
      </div>
      <time
        class="font-sans font-bold uppercase"
        datetime="{{ $params.publishedISO }}"
      >
        {{- $date -}}
      </time>
      <div class="mt-8 leading-none lg:text-lg">
        {{ $creditType }}
        <span class="font-sans font-bold uppercase">{{ $byline }}</span>
      </div>
      <div class="mt-3 font-sans text-sm font-bold uppercase">
        {{ $outlet }}
      </div>
      {{ if $imageCredit }}
        <div class="mt-4 text-sm lg:mt-8">
          {{ $artType }} by
          <span class="font-sans font-bold uppercase">
            {{- $imageCredit -}}
          </span>
          {{ $preposition }}
          <span class="font-sans uppercase">{{ $imageSource }}</span>
        </div>
      {{ end }}
      {{ if $secondCredit }}
        <div class="mb-4 text-sm lg:mb-8">
          {{ $secondType }} by
          <span class="font-sans font-bold uppercase">
            {{- $secondCredit -}}
          </span>
          {{ $preposition }}
          <span class="font-sans uppercase">{{ $secondSource }}</span>
        </div>
      {{ end }}
      {{ if $supplementalCredit }}
        <div class="mb-4 text-sm lg:mb-8">
          {{ $supplementalCredit }}
        </div>
      {{ end }}


      <div class="mt-4 font-sans">
        <a
          class="bg-red inline-flex items-baseline rounded px-3 py-1 font-semibold text-white uppercase"
          href="/donate/"
          data-ga-category="donate"
        >
          <svg
            class="relative top-[1px] mr-[2px] inline-block h-4 w-4 fill-current align-middle"
            viewBox="0 0 20 20"
            aria-hidden="true"
          >
            {{ partial "helper/svg.html" "heart" }}
          </svg>
          Support This Work
        </a>
      </div>
    </div>
  </div>

  <div class="pb-16x9 relative order-first md:order-none md:w-3/5">
    <picture class="bg-g-3 absolute inset-0">
      {{ if $videoSrc }}
        <source type="{{ $videoType }}" srcset="{{ $videoSrc }}" />
        <img
          alt="{{ $imageDesc }}"
          title="{{ $imageDesc }}"
          src="{{ $imgSmallSrc }}"
          class="h-full w-full object-cover"
          {{ if $focus }}
            style="object-position: {{ $focus }};"
          {{ end }}
        />
      {{ else }}
        <source type="image/webp" srcset="{{ $srcset }}" />
        <img
          alt="{{ $imageDesc }}"
          title="{{ $imageDesc }}"
          src="{{ $imgSmallSrc }}"
          class="h-full w-full object-cover"
          {{ if $focus }}
            style="object-position: {{ $focus }};"
          {{ end }}
        />
      {{ end }}
    </picture>
  </div>
</header>
{{ partial "featured/content-area-start" . }}
