{{ $params := partial "helper/page-params" .Page }}
{{ $filename := .Get "image" }}
{{ $eyebrow := .Get "eyebrow" }}
{{ $hed := .Get "hed" }}
{{ $dek := .Get "dek" }}
{{ $date := .Get "date" }}
{{ $creditType := .Get "credit-type" | default "by" }}
{{ $byline := .Get "byline" }}
{{ $outlet := .Get "outlet" | default "Spotlight PA" }}
{{ $videoSrc := .Get "video-src" }}
{{ $videoType := .Get "video-type" }}
{{ $imageCredit := .Get "image-credit" }}
{{ $imageSource := .Get "image-source" }}
{{ $imageDesc := .Get "image-description" }}
{{ $focus := .Get "image-focus" }}
{{ $layout := .Get "layout" }}
{{ $gravity := .Get "image-gravity" }}
{{ $artType := .Get "art-type" | default "Photo" }}
{{ $secondCredit := .Get "second-credit" }}
{{ $secondSource := .Get "second-source" }}
{{ $secondDesc := .Get "second-description" }}
{{ $secondType := .Get "second-type" | default "Photo" }}
{{ $supplementalCredit := .Get "supplemental-credit" }}
{{ $imageOrder := .Get "image-order" }}

{{ $preposition := .Get "credit-relation" | default "of" }}
{{ $hedSizes := .Get "hed-sizes" | default `text-4xl lg:text-6xl` }}
{{ $widths := slice 500 800 1100 1400 1700 2100 }}
{{ $sizes := dict
  "widths" $widths
  "widthRatio" 6
  "heightRatio" 4
  | partial "helper/build-sizes"
}}
{{ $srcset := dict
  "sizes" $sizes
  "filename" $filename
  "gravity" $gravity
  | partial "helper/build-srcset"
}}

{{ $width := (index $sizes 0).width }}
{{ $height := (index $sizes 0).height }}
{{ $imgOpt := dict
  "filename" $filename
  "width" $width
  "height" $height
  "gravity" $gravity
  "ext" "jpeg"
}}
{{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}

{{ $headerClass := "flex flex-col md:min-h-screen md:flex-row" }}
{{ $textOverlayClass := "md:w-2/5 md:min-w-min bg-black text-white" }}

{{ $imageWrapClass := "md:order-0 order-first md:w-3/5 relative pb-16x9" }}
{{ if eq $layout `stack` }}
  {{ $headerClass = "flex flex-col" }}
  {{ $textOverlayClass = "bg-black text-white" }}
  {{ if eq $imageOrder `bottom` }}
    {{ $imageWrapClass = "order-last relative pb-16x9" }}
  {{ else }}
    {{ $imageWrapClass = "order-first relative pb-16x9" }}
  {{ end }}
{{ end }}


<header class="{{ $headerClass }}" data-ga-category="inline-header">
  <div class="{{ $textOverlayClass }}">
    <div class="px-8 pb-10 sm:px-12">
      {{ if and (eq $layout `stack`) (eq $imageOrder `top`) }}
        <div class="mt-8 lg:mt-12">
          <a class="block" href="/">
            <svg
              class="h-8 fill-current text-white drop-shadow-outline filter hover:text-yellow lg:h-10"
              role="img"
              aria-label="Spotlight PA banner"
              viewBox="0 0 1024 190"
            >
              {{ partial "helper/svg.html" "banner" }}
            </svg>
          </a>
        </div>
      {{ end }}
      <div
        class="mb-4 mt-8 border-b border-t border-white pb-4 pt-8 lg:mb-12 lg:mt-10 lg:pb-10"
      >
        <div class="font-sans font-bold uppercase text-yellow">
          {{ $eyebrow }}
        </div>
        <h1 class="{{ $hedSizes }} mt-4 uppercase leading-hed">
          {{ $hed }}
        </h1>
        <h2 class="mt-4 lg:text-xl lg:leading-relaxed">{{ $dek }}</h2>
      </div>
      {{ if ne $date "NA" }}
        <time
          class="font-sans font-bold uppercase"
          datetime="{{ $params.publishedISO }}"
        >
          {{- $date -}}
        </time>
      {{ end }}
      {{ if ne $byline "NA" }}
        <div class="mt-8 leading-none lg:text-lg">
          {{ if ne $creditType "NA" }}{{ $creditType }}{{ end }}
          <span class="font-sans font-bold uppercase">{{ $byline }}</span>
        </div>
      {{ end }}
      {{ if ne $outlet "NA" }}
        <div class="mt-3 font-sans text-sm font-bold uppercase">
          {{ $outlet }}
        </div>
      {{ end }}
      {{ if and $imageCredit (ne $imageCredit "NA") }}
        <div class="mt-4 text-sm lg:mt-8">
          {{ if ne $artType "NA" }}{{ $artType }}{{ else }}Photo{{ end }}
          {{ if ne $imageCredit "NA" }}
            by
            <span class="font-sans font-bold uppercase">
              {{- $imageCredit -}}
            </span>
          {{ end }}
          {{ if and $preposition (ne $preposition "NA") }}
            {{ $preposition }}
          {{ end }}
          {{ if and $imageSource (ne $imageSource "NA") }}
            <span class="font-sans uppercase">{{ $imageSource }}</span>
          {{ end }}
        </div>
      {{ end }}
      {{ if $secondCredit }}
        <div class="mb-4 text-sm lg:mb-8">
          {{ $secondType }} by
          <span class="font-sans font-bold uppercase">
            {{- $secondCredit -}}
          </span>
          {{ $preposition }}
          <span class="font-sans uppercase">{{ $secondSource }}</span>
        </div>
      {{ end }}
      {{ if $supplementalCredit }}
        <div class="mb-4 text-sm lg:mb-8">
          {{ $supplementalCredit }}
        </div>
      {{ end }}


      <div class="mt-4 font-sans">
        <a
          class="inline-flex items-baseline rounded-sm bg-red px-3 py-1 font-semibold uppercase text-white"
          href="/donate/"
          data-ga-category="donate"
        >
          <svg
            class="relative top-px mr-[2px] inline-block h-4 w-4 fill-current align-middle"
            viewBox="0 0 20 20"
            aria-hidden="true"
          >
            {{ partial "helper/svg.html" "heart" }}
          </svg>
          Support This Work
        </a>
      </div>
    </div>
  </div>

  <div class="{{ $imageWrapClass }}">
    <picture class="absolute inset-0 bg-g-3">
      {{ if $videoSrc }}
        <source type="{{ $videoType }}" srcset="{{ $videoSrc }}" />
        <img
          alt="{{ $imageDesc }}"
          title="{{ $imageDesc }}"
          src="{{ $imgSmallSrc }}"
          class="h-full w-full object-cover"
          {{ if $focus }}
            style="object-position: {{ $focus }};"
          {{ end }}
        />
      {{ else }}
        <source type="image/webp" srcset="{{ $srcset }}" />
        <img
          alt="{{ $imageDesc }}"
          title="{{ $imageDesc }}"
          src="{{ $imgSmallSrc }}"
          class="h-full w-full object-cover"
          {{ if $focus }}
            style="object-position: {{ $focus }};"
          {{ end }}
        />
      {{ end }}
    </picture>
  </div>
</header>
{{ partial "featured/content-area-start" . }}
