{{ $src := .Get "src" | htmlUnescape }}
{{ $credit := .Get "credit" | htmlUnescape }}
{{ $description := .Get "description" | htmlUnescape }}
{{ $caption := .Get "caption" | htmlUnescape }}
{{ $link := .Get "link" | htmlUnescape }}
{{ $gravity := .Get "gravity" | htmlUnescape }}
{{ $figClass := .Get "figure-class" | htmlUnescape | default "my-12 mx-auto lg:-mx-32 xl:-mx-48" }}
{{ $capClass := .Get "caption-class" | htmlUnescape | default "mt-4 max-w-content mx-auto text-g-8 text-sm" }}
{{ $widthRatio := .Get "width-ratio" | default 16 | int }}
{{ $heightRatio := .Get "height-ratio" | default 9 | int }}

{{ $widths := slice 500 800 1100 1400 1700 2100 }}
{{ $sizes := dict
  "widths" $widths
  "widthRatio" $widthRatio
  "heightRatio" $heightRatio
  | partial "helper/build-sizes"
}}
{{ $srcset := dict
  "filename" $src
  "sizes" $sizes
  "gravity" $gravity
  | partial "helper/build-srcset"
}}

{{ $width := (index $sizes 0).width }}
{{ $height := (index $sizes 0).height }}
{{ $imgOpt := dict
  "filename" $src
  "width" $width
  "height" $height
  "resize" "fill"
  "ext" "jpeg"
  "gravity" $gravity
}}
{{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}


<figure class="{{ $figClass }}" data-ga-category="inline:image">
  <div
    class="relative h-auto w-full"
    style="aspect-ratio: {{ $widthRatio }} / {{ $heightRatio }};"
  >
    <picture
      class="bg-g-3 absolute inset-0 block overflow-hidden rounded-sm shadow-sm"
    >
      <source type="image/webp" srcset="{{ $srcset }}" />
      <img
        class="h-full w-full"
        alt="{{ $description }}"
        title="{{ $description }}"
        src="{{ $imgSmallSrc }}"
        loading="lazy"
        width="16"
        height="9"
      />
    </picture>
  </div>
  <figcaption class="{{ $capClass }}">
    {{ with $caption }}<span itemprop="caption">{{ . }}</span>{{ end }}
    {{ with $credit }}<span itemprop="creditText">({{ . }})</span>{{ end }}
  </figcaption>
</figure>
