{{ $src := .Get "src" | htmlUnescape }}
{{ $credit := .Get "credit" | htmlUnescape }}
{{ $description := .Get "description" | htmlUnescape }}
{{ $caption := .Get "caption" | htmlUnescape }}
{{ $widthRatio := .Get "width-ratio" | default 3 | int }}
{{ $heightRatio := .Get "height-ratio" | default 2 | int }}
{{ $gravity := .Get "focus" }}


<aside
  class="lg:float-offset relative float-left mb-4 w-full py-4 font-sans text-sm sm:mb-0 sm:max-w-xs sm:pr-8 lg:-ml-32"
  data-ga-category="inline:sidebar"
>
  <div class="content-aside relative">
    <div class="my-12" data-ga-category="picture">
      {{ $imgOpts := dict
        "filename" $src
        "credit" $credit
        "description" $description
        "caption" $caption
        "widthRatio" $widthRatio
        "heightRatio" $heightRatio
        "widths" (slice 669 1338)
        "sizeHint" "669px"
        "rounded" true
        "gravity" $gravity
        "absURL" true
        "captionClass" "mt-4 max-w-content mx-auto text-g-8 text-sm"
      }}
      {{ partial "tw/image-block.html" $imgOpts }}
    </div>
  </div>
</aside>
