{{ $src := .Get "src" | htmlUnescape }}
{{ $credit := .Get "credit" | htmlUnescape }}
{{ $description := .Get "description" | htmlUnescape }}
{{ $caption := .Get "caption" | htmlUnescape }}
{{ $capClass := .Get "caption-class" | htmlUnescape | default "p-2 text-g-4 text-xs xl:text-sm" }}

{{ $widths := slice 500 800 1100 1400 1700 2100 }}
{{ $sizes := dict "widths" $widths "widthRatio" 16 "heightRatio" 9 | partial "helper/build-sizes" }}
{{ $srcset := dict "sizes" $sizes "filename" $src | partial "helper/build-srcset" }}

{{ $width := (index $sizes 0).width }}
{{ $height := (index $sizes 0).height }}
{{ $imgOpt := dict
  "filename" $src
  "width" $width
  "height" $height
  "ext" "jpeg"
}}
{{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}

{{ $id := partial "helper/new-id" . }}


<li
  x-bind="disableNextAndPreviousButtons"
  role="option"
  class="h-full w-11/12 flex-[0_0_auto] snap-center px-0 font-bold md:w-11/12 [&:first-child]:snap-start [&:last-child]:snap-end"
>
  <figure class="group flex-none snap-center pb-2 focus:outline-none">
    <div class="pb-16x9 relative h-0 w-full">
      <picture
        class="bg-g-3 absolute inset-0 block overflow-hidden transition-shadow duration-300 group-focus:shadow-md"
      >
        <source type="image/webp" srcset="{{ $srcset }}" />
        <img
          class="h-auto w-full"
          alt="{{ $description }}"
          title="{{ $description }}"
          src="{{ $imgSmallSrc }}"
          draggable="false"
          decode="async"
          loading="lazy"
        />
      </picture>
    </div>
    <figcaption
      class="{{ $capClass }} mx-auto box-content max-w-prose px-16 select-text"
    >
      {{ $caption }}
      {{ $credit }}
    </figcaption>
  </figure>
</li>
