{{ $wrapperClass := .wrapperClass | default "" }}
{{ $hedSize := .hedText | default "text-xl md:text-2xl lg:text-3xl" }}
{{ $dekSize := .dekText | default "text-base" }}
{{ $hed := .hed }}
{{ $sub := .subhed }}
{{ $dek := .dek }}
{{ $cta := .cta }}
{{ $link := .link }}
{{ $filename := .image }}
{{ $sizes := slice
  (dict "width" 296 "height" 110)
  (dict "width" 1072 "height" 512)
}}


<section
  {{ with .id }}
    id="{{ . }}" x-data x-intersect.half="$dispatch('intersect:about', $el.id)"
  {{ end }}
  class="bg-g-2 p-5 font-sans md:flex"
>
  <div
    class="{{ $wrapperClass }} mx-auto w-full max-w-screen-lg justify-between md:flex"
  >
    {{ $srcset := partial "helper/build-srcset" (dict
      "filename" $filename
      "sizes" $sizes
      "gravity" "ce"
      )
    }}

    {{ with $filename }}
      <figure class="flex overflow-hidden rounded md:w-5/12">
        <img srcset="{{ $srcset }}" class="object-cover" sizes="100vh" />
      </figure>
    {{ end }}
    <div class="md:w-1/2">
      <h2 class="{{ $hedSize }} mt-2 font-bold md:mt-0">
        {{ $hed }}
      </h2>
      {{ with $sub }}
        <h3
          class="mt-4 max-w-xl text-2xl leading-none font-semibold tracking-wide"
        >
          {{ $sub }}
        </h3>
      {{ end }}
      <p class="{{ $dekSize }} mt-2 max-w-lg">{{ $dek }}</p>
      <a href="{{ $link }}" class="btn-signup mt-10 block max-w-lg"
        >{{ $cta }}</a
      >
    </div>
  </div>
</section>
