{{ $link := .Param "banner-link" | absURL }}
{{ $bgColor := .Param "banner-bg-color" }}

{{ if .Param "banner-active" }}
  <section
    class="px-2 py-2 font-sans leading-tight font-medium md:leading-none"
    data-ga-category="banner"
    x-show="atTop"
    x-transition:enter="transition ease-out duration-150"
    x-transition:enter-start="opacity-0 scale-10"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-150"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-10"
    {{ with $bgColor }}
      style="background-color: {{ . }} !important"
    {{ end }}
  >
    {{ if $link }}
      <a href="{{ $link }}">
        {{ template "tw-banner-content" . }}
      </a>
    {{ else }}
      {{ block "tw-banner-content" . }}
        {{ $textColor := .Param "banner-text-color" }}
        <div
          class="text-center text-lg"
          {{ with $textColor }}
            style="color: {{ . }} !important"
          {{ end }}
        >
          {{ .Param "banner" | markdownify }}
        </div>
      {{ end }}
    {{ end }}
  </section>
{{ end }}
