{{ if not (page.Param "suppress-breadcrumbs") }}
  <nav
    class="mx-auto max-w-screen-lg px-5 py-3 text-base font-light"
    data-ga-category="breadcrumbs"
    aria-label="breadcrumbs"
  >
    <ul class="flex justify-end font-sans">
      {{- range .Ancestors.Reverse }}
        <li
          class="pr-1 before:pr-1 before:content-['≻'] first:before:content-['']"
        >
          <a class="text-blue" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        </li>
      {{- end }}
    </ul>
  </nav>
{{ end }}
