{{ $donateHed := .donateHed | default "Become a Supporter" }}
{{ $donateCta := .donateCta | default "Contribute" }}
{{ $donateTheme := .donateTheme }}
{{ $donateUrl := .donateUrl  | default "/donate/" }}


<div class="px-5 py-12 lg:scroll-mt-20" data-donate-theme="{{ $donateTheme }}">
  <a
    href="{{ $donateUrl }}"
    class="border-red mx-auto block max-w-(--breakpoint-lg) items-center justify-evenly rounded-sm border-2 bg-white px-4 pt-10 pb-10 font-serif text-black no-underline hover:text-black sm:flex"
  >
    <h2
      class="my-2 flex-[0_1_628px] font-sans text-2xl leading-none font-black tracking-wide sm:text-3xl md:text-4xl"
    >
      {{ $donateHed }}
    </h2>
    <span class="btn-donate-lg"> {{ $donateCta }} &rarr; </span>
  </a>
</div>
