{{ $wrapperClass := .wrapperClass | default " my-10 mx-[calc(-50vw_+_50%)] w-[100vw]" }}
{{ $donateHed := .donateHed | default "Join our historic effort to invigorate local news." }}
{{ $donateDek := .donateDek }}
{{ $donateCta := .donateCta | default "Contribute" }}
{{ $donateGaCategory := .donateGaCategory | default "donate-prefill-lg" }}
{{ $donateGaForm := .donateGaForm | default "" }}
{{ $donateCampaign := .donateCampaign | default "homepage-box" }}
{{ $donateTheme := .donateTheme | default "" }}
{{ $donateAmounts := .donateAmounts | default "10,15,25,50" }}

{{ partial "tw/donate-prefill-lg" (dict
  "wrapperClass" $wrapperClass
  "donateHed" $donateHed
  "donateDek" $donateDek
  "donateCta" $donateCta
  "donateGaCategory" $donateGaCategory
  "donateGaForm" $donateGaForm
  "donateCampaign" $donateCampaign
  "donateTheme" $donateTheme
  "donateAmounts" $donateAmounts
  )
}}
