{{ $wrapperClass := .wrapperClass  | default "p-4 font-sans md:py-8" }}
{{ $donateHed := .donateHed | default "Support Nonpartisan, Independent Journalism" }}
{{ $donateDek := .donateDek | default "Spotlight PA's unique investigative and public-service journalism depends on reader support." }}
{{ $donateCta := .donateCta | default "Contribute" }}
{{ $donateGaCategory := .donateGaCategory | default "donate-prefill-lg" }}
{{ $donateGaForm := .donateGaForm | default "" }}
{{ $donateCampaign := .donateCampaign | default "homepage-box" }}
{{ $donateTheme := .donateTheme | default "donate" }}
{{ $donateAmounts := .donateAmounts | default "10,15,25" }}

{{ $btnClass := ` btn-select font-black flex-auto border-none outline-none inline-block` }}
{{ $inactiveClass := `bg-g-2 text-g-9 hover:bg-g-3 focus:ring-g-7 active:ring-g-9` }}
{{ $activeClass := `text-white` }}
{{ $submitClass := ` btn-donate font-black flex-auto border-none outline-none inline-block` }}
{{ $donateAmount := split $donateAmounts "," }}
{{ $donateFirst := index $donateAmount 0 }}
{{ $donateDefault := int $donateFirst }}
<div
  class="{{ $wrapperClass }} mx-auto box-content max-w-full bg-black p-4 md:block"
>
  <div
    data-ga-category="{{ $donateGaCategory }}"
    data-donate-campaign="{{ $donateCampaign }}"
    data-donate-theme="{{ $donateTheme }}"
    class="no-js:hidden mx-auto w-full gap-6 md:flex md:flex-wrap md:items-start"
    data-active="{{ $activeClass }}"
    data-inactive="{{ $inactiveClass }}"
    x-data="prefill"
  >
    <div class="flex-1 md:w-1/2">
      <h2
        class="text-2xl leading-tight font-bold tracking-wide text-white md:text-4xl"
      >
        {{ $donateHed }}

      </h2>

      {{ with $donateDek }}
        <p class="my-4 font-sans text-lg text-white">{{ . }}</p>
      {{ end }}
    </div>
    <div class="flex flex-1 flex-wrap justify-start gap-2 font-sans md:w-1/2">
      <div class="hidden w-full justify-center gap-2 md:flex">
        <button
          type="button"
          class="{{ $btnClass }} {{ $inactiveClass }} btn-donate px-0"
          :class="btnClass(freq === 'm')"
          @click="setAmt('m', '15')"
        >
          Monthly
        </button>
        <button
          type="button"
          class="{{ $btnClass }} {{ $inactiveClass }} btn-donate px-0"
          :class="btnClass(freq === 'o')"
          @click="setAmt('o', '180')"
        >
          One-time
        </button>
      </div>
      <div class="hidden w-full flex-wrap justify-center gap-2 md:flex">
        {{ define "tw-donate-prefill-button-lg" }}
          {{ $btnClass := `btn-select font-black flex-auto border-none outline-none inline-block` }}
          {{ $inactiveClass := `bg-g-2 text-g-9 hover:bg-g-3 focus:ring-g-7 active:ring-g-9` }}

          {{ $amount := index . 0 }}
          {{ $period := index . 1 }}
          {{ $freq := index . 2 }}
          <button
            type="button"
            class="{{ $btnClass }} {{ $inactiveClass }} w-1/3"
            :class="btnClass(amount === '{{ $amount }}')"
            @click="amount = '{{ $amount }}'"
            x-show="freq === '{{ $freq }}'"
          >
            ${{ $amount }}{{ $period }}
          </button>
        {{ end }}

        {{ with $donateAmount }}
          {{ range . }}
            {{ $amount := int . }}
            {{ $btn := slice $amount "/mo." "m" }}
            {{ template "tw-donate-prefill-button-lg" $btn }}
          {{ end }}

          {{ range . }}
            {{ $amount := int . }}
            {{ $donateYr := int . }}
            {{ $amount := mul $donateYr 12 }}
            {{ $btn := slice $amount "/yr." "y" }}
            {{ template "tw-donate-prefill-button-lg" $btn }}
          {{ end }}

          {{ range . }}
            {{ $donateYr := int . }}
            {{ $amount := mul $donateYr 12 }}
            {{ $btn := slice $amount "" "o" }}
            {{ template "tw-donate-prefill-button-lg" $btn }}
          {{ end }}

        {{ end }}


        <button
          type="button"
          x-cloak
          x-show="freq === 'o'"
          class="{{ $btnClass }} {{ $inactiveClass }} w-1/3"
          :class="btnClass(showOther)"
          @click="showOther = !showOther"
        >
          Other
        </button>

        <button
          type="button"
          x-show="freq !== 'o'"
          class="{{ $btnClass }} {{ $inactiveClass }} w-1/3"
          :class="btnClass(showOther)"
          @click="showOther = !showOther"
        >
          Other
        </button>
      </div>

      <div class="w-full" x-cloak x-show="showOther" x-transition>
        <label for="other-amount" class="font-sans font-bold text-white">
          Other Amount:
        </label>
        <div class="relative mt-2 w-full">
          <input
            id="other-amount"
            type="text"
            class="border-g-4 placeholder-g-4 placeholder-opacity-25 focus:ring-red-4 block w-full appearance-none rounded border-2 bg-white py-2 pl-10 font-sans text-lg font-black tracking-wide ring-1 ring-transparent outline-none"
            inputmode="numeric"
            x-model="amount"
          />
          <span
            class="text-g-4 pointer-events-none absolute inset-y-0 left-0 z-10 inline-flex w-10 items-center justify-center text-xl leading-none font-semibold"
            aria-hidden="true"
          >
            $
          </span>
        </div>
      </div>

      <div class="w-full text-center">
        <a
          class="{{ $submitClass }} w-full"
          :href="donateURL"
          data-ga-category="donate"
        >
          <span> {{- $donateCta -}} &rarr;</span>
        </a>
      </div>
    </div>
  </div>
</div>
