{{ $eyebrow := .eyebrow | default "Like what you read?" }}
{{ $hed := .hed | default "Become a Member" }}
{{ $text := .body | default "Help Spotlight PA hold the powerful to account with a gift today." }}
{{ $cta := .cta | default "Donate Now" }}

{{ $btnClass := `btn-donate border-none` }}
{{ $activeClass := `bg-red-6 text-white hover:bg-red-5 focus:ring-red-7 active:ring-red-9` }}
{{ $inactiveClass := `bg-g-2 text-g-9 hover:bg-g-3 focus:ring-g-7 active:ring-g-9` }}


<div
  data-ga-category="donate-prefill"
  class="no-js:hidden rounded-sm border border-g-4 p-6 font-sans shadow-sm"
  data-active="{{ $activeClass }}"
  data-inactive="{{ $inactiveClass }}"
  x-data="prefill"
>
  <div>
    <h2 class="font-bold uppercase text-red">{{ $eyebrow }}</h2>
    <h2 class="mt-8 text-center text-3xl font-bold leading-none">
      {{ $hed }}
    </h2>
    <p class="mt-2 text-center text-xl leading-none">
      {{ $text }}
    </p>
    <div class="mt-8 flex justify-center gap-2">
      <button
        type="button"
        class="{{ $btnClass }} {{ $activeClass }}"
        :class="btnClass(freq === 'm')"
        @click="setAmt('m', '15')"
      >
        Monthly
      </button>
      <button
        type="button"
        class="{{ $btnClass }} {{ $inactiveClass }}"
        :class="btnClass(freq === 'o')"
        @click="setAmt('o', '180')"
      >
        One time
        <span class="hidden sm:inline">only</span>
      </button>
    </div>
    <div class="mt-6 flex justify-center gap-2">
      {{ define "tw-donate-prefill-button" }}
        {{ $btnClass := `outline-hidden inline-block rounded-sm px-3 py-2 text-base font-semibold tracking-wide ring-3 ring-transparent` }}
        {{ $inactiveClass := `bg-g-2 text-g-9 hover:bg-g-3 focus:ring-g-7 active:ring-g-9` }}

        {{ $amount := index . 0 }}
        {{ $period := index . 1 }}
        {{ $freq := index . 2 }}
        <button
          type="button"
          class="{{ $btnClass }} {{ $inactiveClass }}"
          :class="btnClass(amount === '{{ $amount }}')"
          @click="amount = '{{ $amount }}'"
          x-show="freq === '{{ $freq }}'"
        >
          ${{ $amount }}{{ $period }}
        </button>
      {{ end }}

      {{ $btn := slice 10 "/mo." "m" }}
      {{ template "tw-donate-prefill-button" $btn }}
      {{ $btn = slice 15 "/mo." "m" }}
      {{ template "tw-donate-prefill-button" $btn }}
      {{ $btn = slice 25 "/mo." "m" }}
      {{ template "tw-donate-prefill-button" $btn }}

      {{ $btn = slice 120 "/yr." "y" }}
      {{ template "tw-donate-prefill-button" $btn }}
      {{ $btn = slice 180 "/yr." "y" }}
      {{ template "tw-donate-prefill-button" $btn }}
      {{ $btn = slice 300 "/yr." "y" }}
      {{ template "tw-donate-prefill-button" $btn }}

      {{ $btn = slice 120 "" "o" }}
      {{ template "tw-donate-prefill-button" $btn }}
      {{ $btn = slice 180 "" "o" }}
      {{ template "tw-donate-prefill-button" $btn }}
      {{ $btn = slice 300 "" "o" }}
      {{ template "tw-donate-prefill-button" $btn }}


      <button
        type="button"
        x-cloak
        x-show="freq === 'o'"
        class="{{ $btnClass }} {{ $inactiveClass }}"
        :class="btnClass(showOther)"
        @click="showOther = !showOther"
      >
        Other
      </button>

      <button
        type="button"
        x-show="freq !== 'o'"
        class="{{ $btnClass }} {{ $inactiveClass }} hidden sm:inline-block"
        :class="btnClass(showOther)"
        @click="showOther = !showOther"
      >
        Other
      </button>
    </div>
    <div class="mt-8" x-cloak x-show="showOther" x-transition>
      {{ $idOther := partial "helper/new-id" . }}
      <label for="{{ $idOther }}" class="font-bold"> Other Amount: </label>
      <div class="relative mt-2">
        <input
          id="{{ $idOther }}"
          type="text"
          class="outline-hidden block w-full appearance-none rounded-sm border-2 border-g-4 bg-white py-2 pl-10 tracking-wider text-g-8 ring-1 ring-transparent focus:ring-red-4"
          inputmode="numeric"
          x-model="amount"
        />
        <span
          class="pointer-events-none absolute inset-y-0 left-0 z-10 inline-flex w-10 items-center justify-center text-xl font-semibold leading-none text-g-4"
          aria-hidden="true"
        >
          $
        </span>
      </div>
    </div>
    <div class="mt-12 text-center">
      <a class="btn-donate" :href="donateURL" data-ga-category="donate">
        <span> {{- $cta -}} &rarr;</span>
      </a>
    </div>
  </div>
</div>
