{{ $idEmail := partial "helper/new-id" . }}
<form
  class="rounded bg-black p-8 text-center font-sans text-white shadow md:px-12"
  data-ga-category="tout"
  x-data="newsletter($el.dataset.baseUrl)"
  data-base-url="{{ page.Param `newsletters-base-url` }}"
  @submit.prevent="submit"
>
  {{ partial "newsletter/talkofthetown-hidden.html" . }}
  <h6
    class="bg-gradient-to-r from-orange via-yellow to-white bg-clip-text text-base font-bold uppercase tracking-widest text-transparent"
  >
    Sign Up For Talk of the Town
  </h6>

  <p class="mt-4 leading-tight">
    Sign up for <b>Talk of the Town</b>, a free weekly newsletter with top news
    and notes for North-Central PA by Spotlight PA’s State College regional
    bureau.
  </p>
  <p class="mt-2 leading-tight">
    <b>Talk of the Town</b> is delivered straight to your inbox every Thursday.
  </p>

  <div class="mx-auto mt-8 items-stretch sm:flex sm:max-w-2xl">
    <p class="relative flex-grow">
      <label class="sr-only" for="{{ $idEmail }}">Email address</label>
      <input
        id="{{ $idEmail }}"
        class="spl-input text-lg"
        type="email"
        name="EMAIL"
        placeholder="Email address"
        required
      />
      <span
        class="pointer-events-none absolute inset-y-0 right-3 inline-flex items-center text-g-4"
        aria-hidden="true"
      >
        <svg class="h-4 w-4 fill-current">
          {{ partial "helper/svg.html" "email" }}
        </svg>
      </span>
    </p>
    <p class="mt-4 sm:ml-1 sm:mt-0">
      <button class="btn-signup" type="submit" :disabled="isLoading">
        Sign Up
        <svg
          x-cloak
          x-transition
          aria-label="Submitting"
          x-show="isLoading"
          class="-mt-1 inline-block h-4 w-4 animate-spin fill-current"
        >
          {{ partial "helper/svg.html" "spinner" }}
        </svg>
      </button>
    </p>
  </div>
</form>
