{{ $signupField := .signupField | default "newsletter/papost-hidden.html" }}
{{ $hed := .calloutHed | default "Latest from our newsletter" }}
{{ $signupHed := .signupHed | default "Signup for our newsletter" }}
{{ $signupDek := .signupDek | default "Get the latest Spotlight PA news in your inbox." }}
{{ $signupCta := .signupCta | default "Subscribe" }}
{{ $signupImage := .signupImage | default "2021/06/01gc-4k5b-cx91-fppc.jpeg" }}

{{ $rows := .rows | default 3 }}
{{ $limit := 3 }}
{{ if gt $rows 0 }}
  {{ $limit = mul $rows 1 }}
{{ end }}
{{ $page := .pages }}
{{ if $limit }}
  {{ $page = first $limit .pages }}
{{ end }}


<div
  class="flex flex-wrap gap-6 sm:gap-x-12 md:grid md:grid-cols-14 md:items-start md:justify-between lg:odd:flex-row lg:even:flex-row-reverse"
>
  {{ with $hed }}
    <h2
      class="w-full border-b border-black font-sans text-2xl leading-tight font-extrabold tracking-wide capitalize md:col-span-full md:text-3xl"
    >
      {{ . }}
    </h2>
  {{ end }}
  <div class="flex flex-wrap gap-6 md:col-span-8 md:gap-y-14">
    {{ range $page | first 1 }}
      {{ $params := partialCached "helper/page-params" . .RelPermalink }}
      {{ $imgOpts := dict
        "filename" (.Param "image")
        "credit" (.Param "image-credit")
        "description" (.Param "image-description")
        "link" $params.link
        "widthRatio" 3
        "heightRatio" 2
        "widths" (slice 128 256 384 512 1280)
        "figClass" "mt-2"
        "sizeHint" "(min-width: 850px) 328px, 90vw"
        "gravity" (.Param "image-gravity")
      }}
      <div class="max-w-full" data-ga-category="newsletter-story-1">
        {{ $eyebrow := $params.published }}
        {{ $rubricLink := $params.link }}
        {{ $thumbClass := $params.thumbClass }}
        {{ if eq $.eyebrow "rubric" }}
          {{ $eyebrow = $params.kicker }}
        {{ else if eq $.eyebrow "eventDate" }}
          {{ $eyebrow = $params.eventDate | default $params.published }}
        {{ end }}
        {{ if eq $.rubricLink "rubric" }}
          {{ $rubricLink = $params.rubric.RelPermalink }}
        {{ end }}
        {{ partial "tw/thumb-item.html" (dict
          "wrapperClass" "flex flex-wrap gap-x-9"
          "thumbClass" "w-full lg:w-72"
          "hedSize" `text-xl md:text-xl lg:text-2xl font-semibold`
          "dekSize" "sm:text-base sm:leading-relaxed md:text-lg lg:text-xl"
          "imgOpts" $imgOpts
          "rubricLink" $rubricLink
          "eyebrow" $eyebrow
          "link" $params.link
          "hed" .LinkTitle
          "byline" $params.byline
          "showDate" false
          "showByline" $.showByline
          "dek" $params.blurb
          )
        }}
      </div>
    {{ end }}

    {{ $page := $page | after 1 }}
    {{ range $i, $page := $page }}
      {{ $params := partialCached "helper/page-params" . .RelPermalink }}
      {{ $imgOpts := dict
        "filename" (.Param "image")
        "credit" (.Param "image-credit")
        "description" (.Param "image-description")
        "link" $params.link
        "widthRatio" 16
        "heightRatio" 9
        "widths" (slice 128 256 384 512 1280)
        "figClass" "mt-2"
        "sizeHint" "(min-width: 850px) 328px, 90vw"
        "gravity" (.Param "image-gravity")
      }}
      <div
        class="w-5/12 flex-auto md:w-2/12 md:flex-auto lg:w-2/12 xl:w-72"
        data-ga-category="newsletter-story-{{ add 2 $i }}"
      >
        {{ $eyebrow := $params.published }}
        {{ $rubricLink := $params.link }}
        {{ $thumbClass := $params.thumbClass }}
        {{ if eq $.eyebrow "rubric" }}
          {{ $eyebrow = $params.kicker }}
        {{ else if eq $.eyebrow "eventDate" }}
          {{ $eyebrow = $params.eventDate | default $params.published }}
        {{ end }}
        {{ if eq $.rubricLink "rubric" }}
          {{ $rubricLink = $params.rubric.RelPermalink }}
        {{ end }}
        {{ partial "tw/thumb-item.html" (dict
          "wrapperClass" "flex flex-wrap gap-x-4"
          "thumbClass" "w-2/5 md:w-full"
          "imgOpts" $imgOpts
          "rubricLink" $rubricLink
          "eyebrow" $eyebrow
          "link" $params.link
          "hed" .LinkTitle
          "byline" $params.byline
          "showDate" false
          "showByline" $.showByline
          "showThumb" false
          "dek" $params.blurb
          )
        }}
      </div>
    {{ end }}

    {{ if gt $limit 0 | and (gt (len .pages) $limit) | and .readMoreLink }}
      <div
        data-ga-category="readmore"
        class="mx-auto mt-8 flex max-w-screen-xl items-baseline justify-end gap-3 text-right font-sans text-base font-bold tracking-widest uppercase"
      >
        <a
          href="{{ .readMoreLink }}"
          class="decoration text-g-9 hover:text-blue underline underline-offset-4"
        >
          {{- .readMore | default "Read More" -}}
        </a>
      </div>
    {{ end }}
  </div>
  <div class="max-w-xl md:col-span-6">
    {{ partial "tw/newsletter-sidebar.html" (dict
      "image" $signupImage
      "gravity" "ce"
      "dek" $signupDek
      "signupField" $signupField
      "hed" $signupHed
      "cta" $signupCta
      )
    }}
  </div>
</div>
