{{ $rows := .rows | default -1 }}
{{ $limit := 0 }}
{{ if gt $rows 0 }}
  {{ $limit = mul $rows 3 }}
{{ end }}
{{ $pages := .pages }}
{{ if $limit }}
  {{ $pages = first $limit .pages }}
{{ end }}


<div
  class="{{ .wrapperClass | default `mx-auto max-w-screen-lg` }}"
  data-ga-category="threeup"
>
  {{ with .hed }}
    <h2
      class="w-full border-b border-black font-sans text-2xl leading-tight font-extrabold tracking-wide capitalize md:text-3xl"
    >
      {{ . }}
    </h2>
  {{ end }}


  <nav class="mt-4 grid items-start gap-12 sm:grid-cols-2 md:grid-cols-3">
    {{ range $i, $page := $pages }}
      {{ $params := partialCached "helper/page-params" . .RelPermalink }}
      {{ $imgOpts := dict
        "filename" (.Param "image")
        "credit" (.Param "image-credit")
        "description" (.Param "image-description")
        "link" $params.link
        "widthRatio" 16
        "heightRatio" 9
        "widths" (slice 128 256 384 512 1280)
        "figClass" "mt-2"
        "sizeHint" "(min-width: 850px) 328px, 90vw"
        "gravity" (.Param "image-gravity")
      }}
      <div class="contents" data-ga-category="story-{{ add 1 $i }}">
        {{ $eyebrow := $params.published }}
        {{ $rubricLink := $params.link }}
        {{ if eq $.eyebrow "rubric" }}
          {{ $eyebrow = $params.kicker }}
        {{ else if eq $.eyebrow "eventDate" }}
          {{ $eyebrow = $params.eventDate | default $params.published }}
        {{ end }}
        {{ if eq $.rubricLink "rubric" }}
          {{ $rubricLink = $params.rubric.RelPermalink }}
        {{ end }}
        {{ partial "tw/thumb-item.html" (dict
          "wrapperClass" "flex flex-wrap gap-x-4"
          "imgOpts" $imgOpts
          "rubricLink" $rubricLink
          "eyebrow" $eyebrow
          "link" $params.link
          "hed" .LinkTitle
          "byline" $params.byline
          "showDate" false
          "showByline" $.showByline
          "thumbClass" "w-2/5 sm:w-full mb-2"
          )
        }}
      </div>
    {{ end }}
  </nav>
  {{ if gt $limit 0 | and (gt (len .pages) $limit) | and .readMoreLink }}
    <div
      data-ga-category="readmore"
      class="mx-auto mt-8 flex max-w-screen-xl items-baseline justify-end gap-3 text-right font-sans text-base font-bold tracking-widest uppercase"
    >
      <a
        href="{{ .readMoreLink }}"
        class="decoration text-g-9 hover:text-blue underline underline-offset-4"
      >
        {{- .readMore | default "Read More" -}}
      </a>
    </div>
  {{ end }}
</div>
