<section
  class="max-w-full bg-white px-5 py-14 font-sans text-lg font-medium lg:px-0"
>
  <article
    class="article-content mx-auto max-w-prose overflow-hidden rounded bg-white shadow"
    style="--c: {{ .color }}"
  >
    <div class="bg-[rgb(var(--c))] px-5 py-3 text-white">
      <h3 class="text-2xl font-extrabold">{{ .title }}</h3>
      {{ with .subhed }}
        <p>{{ . }}</p>
      {{ end }}
    </div>
    <div
      class="bg-[rgba(var(--c)/.1)] px-5 py-3 text-base font-normal text-[rgb(var(--c))]"
      data-ga-category="message-body"
    >
      {{ .content }}
    </div>
  </article>
</section>
