{{ $imagename := page.Param "takeover-image" }}
{{ $hed := page.Param "takeover-hed" }}
{{ $dek := page.Param "takeover-dek" }}
{{ $link := page.Param "takeover-link" }}


<div x-data x-intersect.once="$dispatch('open-takeover')"></div>
<section
  id="modal-takeover"
  data-modal-kind="takeover"
  data-ga-category="modal:takeover"
  x-intersect.once="show()"
  x-cloak
  x-data="takeover"
  x-show="isOpen"
  x-transition:enter="transition ease-out duration-500"
  x-transition:enter-start="opacity-0 transform translate-x-8"
  x-transition:enter-end="opacity-100 transform translate-x-0"
  x-transition:leave="transition ease-in duration-500"
  x-transition:leave-start="opacity-100 transform translate-x-0"
  x-transition:leave-end="opacity-0 transform translate-x-8"
  @open-takeover.window="show()"
  @keydown.escape="close()"
  @keydown.escape="isOpen = false"
  tabindex="-1"
  @click.stop
  role="dialog"
  aria-modal="true"
  aria-label="Contribute to Spotlight PA"
  class="z-5000 fixed bottom-0 left-0 flex flex-wrap md:left-auto md:right-0 md:top-0 md:h-full md:w-1/3"
>
  <button
    class="absolute -top-10 right-3 flex rounded-xl bg-white text-white md:left-5 md:right-auto md:top-4"
    type="button"
    aria-label="close"
    x-ref="closer"
    x-report-click
    data-ga-category="dismiss"
    @keydown.escape="isOpen = false"
    @click="isOpen = false;"
    :autofocus="isOpen"
  >
    <svg class="my-auto box-content h-6 w-6 fill-current text-black">
      {{ partial "helper/svg.html" "close" }}
    </svg>
  </button>
  <a
    href="{{ $link }}"
    @click.capture="isOpen = false;"
    @click.outside="isOpen = false;"
    data-fru-campaign="site-takeover"
    class="focus:outline-hidden bottom-0 flex flex-wrap overflow-y-scroll ring-red focus:ring-2 md:left-auto md:top-0 md:h-full"
    :class="{'left-full': !isOpen, 'overflow-y-hidden': !isOpen}"
  >
    <header
      class="z-20 flex-1 self-start overflow-visible font-serif font-bold text-white sm:min-w-full md:flex md:h-0 md:items-end md:bg-black"
    >
      <h2
        class="bg-red p-4 text-2xl md:-mb-28 md:mr-9 md:p-10 lg:text-3xl xl:text-4xl"
      >
        {{ $hed }}
      </h2>
    </header>
    <span class="c-red-8 -order-1 self-end sm:order-1 sm:self-start md:mt-28">
      <!-- triangle fold -->
      <svg
        class="fill-red-8 sm:origin-center sm:scale-[(-1,1)]"
        width="16"
        height="22"
      >
        <path class="sm:invisible" fill-rule="evenodd" d="M0 22h16V0z" />
        <path
          class="invisible sm:visible"
          fill-rule="evenodd"
          d="M.014 0h16v20z"
        />
      </svg>
    </span>

    {{ with $imagename }}
      <div
        class="order-1 m-0 hidden w-5/12 justify-items-stretch overflow-hidden bg-black sm:flex sm:items-stretch md:-order-1 md:h-2/5 md:w-full"
      >
        {{ $sizes := (slice
          (dict "width" 266 "height" 266)
          (dict "width" 480 "height" 480)
          )
        }}
        {{ $srcset := partial "helper/build-srcset" (dict
          "sizes" $sizes
          "filename" $imagename
          "gravity" "no"
          )
        }}

        {{ $imgOpt := dict
          "filename" $imagename
          "width" 480
          "height" 480
          "gravity" "no"
        }}
        {{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}
        {{ partial "tag/picture.html" (dict
          "pictureClass" "w-full flex"
          "imgClass" "w-full object-cover"
          "sizeHint" "480px"
          "eager" false
          "description" ""
          "srcset" $srcset
          "src" $imgSmallSrc
          "width" 480
          "height" 480
          )
        }}
      </div>
    {{ end }}


    <div
      class="flex w-full flex-col items-center justify-center space-y-6 bg-black p-4 font-sans sm:order-1 sm:flex-1 sm:space-y-4 sm:pl-16 sm:pr-12 md:h-3/5 md:justify-start md:space-y-4 md:self-start md:py-12 md:pb-8 md:pt-32"
    >
      <p class="text-base text-white lg:text-lg">
        {{ $dek }}
      </p>

      <span
        class="block w-full border border-black bg-white px-4 py-2 text-center text-xl font-bold text-black no-underline duration-300 hover:border-red-7 hover:text-red-7 sm:p-4 lg:text-2xl"
      >
        Contribute →
      </span>
    </div>
  </a>
</section>
