{{ $magicPixel := "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" | safeURL }}
{{ $alt := .Param "sticky-image-description" }}
{{ $images := .Param "sticky-images" }}
{{ $link := .Param "sticky-link" }}


<section
  data-modal-kind="sticky"
  class="max-w-screen fixed bottom-0 right-0 z-10"
  x-data="sticky"
  x-show="isOpen"
  x-transition:enter="transition ease-out duration-500"
  x-transition:enter-start="opacity-0 transform translate-x-8"
  x-transition:enter-end="opacity-100 transform translate-x-0"
  x-transition:leave="transition ease-in duration-500"
  x-transition:leave-start="opacity-100 transform translate-x-0"
  x-transition:leave-end="opacity-0 transform translate-x-8"
  @open-sticky.window="show()"
  @close-sticky.window="close()"
  data-ga-category="modal:sticky"
  @keydown.escape="close"
  x-cloak
>
  <button
    type="button"
    class="absolute left-4 top-2 flex h-6 w-6 rounded-full bg-black bg-opacity-40 text-white hover:text-yellow"
    aria-label="close"
    @click="close"
    x-ref="close"
  >
    <svg class="m-auto h-4 w-4 fill-current">
      {{ partial "helper/svg.html" "times" }}
    </svg>
  </button>
  <div class="mx-4 my-2 flex p-4">
    <a
      class="flex ring-yellow focus:outline-none focus:ring-2"
      @click.capture="close()"
      @click.outside="close()"
      href="{{ $link }}"
      data-fru-campaign="sidebar-sticky"
      ><img
        class="rounded shadow-beige"
        {{ if eq (len $images) 1 }}
          src="{{ index $images 0 }}"
        {{ else }}
          data-images="{{ $images | jsonify }}"
          x-data="imageRotator(JSON.parse($el.dataset.images))"
          src="{{ $magicPixel }}" :src="choice"
        {{ end }}
        decoding="async"
        alt="{{ $alt }}"
        title="{{ $alt }}"
        style="max-height: 40vh;"
    /></a>
  </div>
</section>
