{{ $idEmail := partial "helper/new-id" . | printf "footer-newsletter-%s" }}
{{ $title := .newsletterHed }}
{{ $dek := .newsletterDek | default "Get every Spotlight PA story and the best investigative journalism from across Pa." }}
{{ $showLogo := .showLogo }}
{{ $wrapperStyle := .newsletterWrapper | default `bg-black p-4 sm:py-8 md:py-12 text-white` }}
{{ $actionColor := .actionColor | default "#FFCB05" }}
{{ $newsletterField := .newsletterField | default `newsletter/basic-hidden.html` }}


<div class="{{ $wrapperStyle }} font-sans">
  {{ with $showLogo }}
    <h2 class="mb-8 flex items-end justify-center gap-8">
      <a
        class="hover:text-yellow flex w-3/5 max-w-xs md:w-1/2 md:max-w-md"
        href="/"
      >
        <svg class="aspect-16/3 w-full fill-current">
          <title>Home</title>
          <desc>Spotlight PA logo</desc>
          {{ partial "helper/svg.html" "banner" }}
        </svg>
      </a>
    </h2>
  {{ end }}
  {{ with $title }}
    <h3
      class="text-center text-xl leading-tight font-bold tracking-wide sm:text-2xl md:text-4xl"
    >
      {{ . }}
    </h3>
  {{ end }}
  <p
    class="mx-auto mb-7 box-content text-center text-base font-semibold tracking-wide sm:max-w-lg sm:text-lg sm:leading-relaxed md:max-w-2xl md:px-6 md:text-xl lg:text-2xl"
  >
    {{ $dek }}
  </p>

  <form
    class="mx-auto max-w-xl md:max-w-2xl"
    x-data="newsletter($el.dataset.baseUrl)"
    data-base-url="{{ page.Param `newsletters-base-url` }}"
    @submit.prevent="submit"
  >
    {{ partial "newsletter/basic-hidden.html" . }}
    <div
      class="relative mt-5 flex flex-wrap items-stretch justify-start gap-2 sm:flex-nowrap sm:gap-0"
    >
      <label class="sr-only" for="{{ $idEmail }}">Email address</label>
      <input
        id="{{ $idEmail }}"
        class="text-g-8 placeholder-g-5 shadow-yellow ring-yellow-9 m-1 box-content w-full appearance-none rounded-sm rounded-tl rounded-bl bg-white p-3 font-bold tracking-wider shadow-[0_0_0_4px] outline-hidden focus:ring-2 sm:w-7/12 sm:rounded-tr-none sm:rounded-br-none"
        @focus.once="hasFocused = true"
        type="email"
        name="EMAIL"
        placeholder="Email address"
        required
      />

      <button
        class="bg-yellow text-yellow-9 shadow-yellow m-1 box-border w-full rounded-sm p-3 font-black tracking-wider uppercase shadow-[0_0_0_4px] sm:w-5/12 sm:rounded-t-none sm:rounded-tr sm:rounded-b sm:rounded-bl-none md:px-8"
        type="submit"
        :disabled="isLoading"
      >
        Sign up
        <svg
          x-cloak
          x-transition
          aria-label="Submitting"
          x-show="isLoading"
          class="-mt-1 inline-block h-4 w-4 animate-spin fill-current"
        >
          {{ partial "helper/svg.html" "spinner" }}
        </svg>
      </button>
    </div>

    {{ partial $newsletterField . }}
  </form>
</div>
