{{ $data := site.Data.partners.list }}

{{ $counties := slice }}
{{ range $data }}
  {{ $counties = $counties | append .County }}
{{ end }}
{{ $counties = uniq $counties | sort }}


<div
  x-data="{ selectedCounty: '' }"
  class="m-auto w-full justify-center md:py-4 xl:px-0"
>
  <header class="top-0 w-full bg-white md:relative">
    <div class="m-auto max-w-screen-lg px-5 md:flex md:items-baseline md:gap-3">
      <h3
        x-text="selectedCounty"
        class="mb-2 py-2 font-sans text-3xl leading-tight font-semibold tracking-wide sm:text-4xl lg:text-5xl"
      ></h3>

      <div
        class="no-js:hidden sticky top-0 mx-auto w-96 max-w-full bg-white px-5 py-2 shadow-sm md:relative md:shadow-none"
      >
        <select
          x-data
          @change="window.location.assign($event.target.value);"
          class="spl-select text-xl"
        >
          <option disabled selected>Select County…</option>
          {{ range $counties }}
            <option
              @click="
              selectedCounty = '{{ . }} County';
              window.setTimeout(() => {
                document.
                  getElementById('{{ . | urlize }}').
                  scrollIntoView({
                    behavior: 'smooth',
                    block: 'start',
                    inline: 'start',
                  });
              }, 250);
            "
              value="#{{ . | urlize }}"
            >
              {{ . }} County
            </option>
          {{ end }}
        </select>
        <span
          class="text-g-6 pointer-events-none absolute inset-y-0 right-8 z-10 inline-flex items-center justify-center leading-none"
          aria-hidden="true"
        >
          <svg class="fill-g-5 h-4 w-4">
            {{ partial "helper/svg.html" "chevron" }}
          </svg>
        </span>
      </div>
    </div>
  </header>

  {{ range $counties }}
    <div
      id="{{ . | urlize }}"
      x-show="selectedCounty === '{{ . }} County'"
      class="border-g-4 mx-auto max-w-screen-lg border-t p-5 pt-0 md:flex md:gap-6"
      :class="{'': selectedCounty === '{{ . }} County' }"
    >
      {{ with . }}
        <div class="flex w-80 max-w-xs justify-center pt-5">
          <svg
            width="100%"
            class="fill-blue inline-block bg-none stroke-white stroke-2"
          >
            <use
              xlink:href="#{{ . }}"
              style="filter: drop-shadow(0 1px 3px rgb(0 0 0 / 0.1));"
            />
          </svg>
        </div>
      {{ end }}
      <span class="border-g-3 w-0 border"></span>
      <ul
        class="mx-auto w-full max-w-screen-lg space-y-2 pt-5 md:flex md:flex-wrap md:items-baseline md:gap-4"
      >
        {{ range where $data "County" . }}
          <li class="flex-auto md:w-1/3">
            <h4 class="text-xl leading-5 font-bold">
              {{ if .url }}
                <a
                  href="{{ .url }}"
                  class="hover:text-blue no-underline underline-offset-2 hover:underline"
                  >{{ .Name }}</a
                >
              {{ else }}
                {{ .Name }}
              {{ end }}
            </h4>
            {{ with .City }}
              <p>{{ . }}, PA</p>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</div>
