<!--
  picture-rotator chooses an mobile or desktop sized ad at random in JavaScript.
  If you don't have separate mobile and desktop ads, use image-rotator.
-->
{{ $magicPixel := "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" | safeURL }}

{{ $bgClass := cond (not .transparent) "bg-g-3" "" }}
{{ $hasDesktop := .desktopImages | not | not }}
{{ $desktopClasses := cond $hasDesktop "sm:aspect-[var(--desktopRatio)] sm:w-[var(--desktopWidth)]" "" }}
{{ $hasMobile := .mobileImages | not | not }}
{{ $mobileClasses := cond $hasMobile "" "hidden sm:block" }}


<picture
  class="contents"
  style="
  {{ if $hasDesktop }}
    --desktopRatio: {{ .desktopWidth }} / {{ .desktopHeight }};
    {{/* force line break in Prettier */}}
    --desktopWidth: {{ .desktopWidth }}px;
  {{ end }}
    --mobileRatio: {{ .mobileWidth }} / {{ .mobileHeight }};
    --mobileWidth: {{ .mobileWidth }}px;
  "
>
  {{ if $hasDesktop }}
    <source
      {{ if eq (len .desktopImages) 1 }}
        srcset="{{ index .desktopImages 0 }}"
      {{ else }}
        x-data="imageRotator(JSON.parse($el.dataset.images))"
        data-images="{{ .desktopImages | jsonify }}" :srcset="choice"
      {{ end }}
      media="(min-width: 640px)"
      width="{{ .desktopWidth }}"
      height="{{ .desktopHeight }}"
    />
  {{ end }}
  <source
    {{ if eq (len .mobileImages) 1 }}
      srcset="{{ index .mobileImages 0 }}"
    {{ else }}
      x-data="imageRotator(JSON.parse($el.dataset.images))"
      data-images="{{ .mobileImages | jsonify }}" :srcset="choice"
    {{ end }}
    width="{{ .mobileWidth }}"
    height="{{ .mobileHeight }}"
  />

  <img
    class="{{ $bgClass }} {{ $desktopClasses }} {{ $mobileClasses }} aspect-[var(--mobileRatio)] h-auto w-[var(--mobileWidth)] max-w-full object-cover"
    src="{{ $magicPixel }}"
    {{ if .eager }}
      fetchpriority="high"
    {{ else }}
      loading="lazy"
    {{ end }}
    alt="{{ .description }}"
  />
</picture>
