{{ $link := .link }}
{{ $wrapperClass := .class | default "flex justify-center no-js:hidden" }}
{{ $picture:= partial "tw/picture-rotator.html" (dict
  "mobileImages" .mobileImages
  "mobileWidth" .mobileWidth
  "mobileHeight" .mobileHeight
  "desktopImages" .desktopImages
  "desktopWidth" .desktopWidth
  "desktopHeight" .desktopHeight
  "description" .description
  )
}}


<aside
  class="{{ $wrapperClass }}"
  data-ga-category="promo-image"
  {{ with .id }}id="{{ . }}"{{ end }}
>
  {{ if $link }}
    <a href="{{ $link }}">
      {{- $picture -}}
    </a>
  {{ else }}
    <span>
      {{- $picture -}}
    </span>
  {{ end }}
</aside>
