{{ $desktop := page.Param "ad-footer-desktop-active" }}
{{ $mobile := page.Param "ad-footer-mobile-active" }}
{{ $wrapperClass := .wrapperClass | default "bg-white px-6 pt-6" }}

{{ if or $desktop $mobile }}
  <div
    class="{{ $wrapperClass }}"
    data-fru-campaign="footer-promo"
    id="footer-promo"
  >
    {{ if $desktop }}
      {{ partial "tw/promo-multi.html" (dict
        "wrapperClass" "hidden sm:block"
        "promos" (page.Param "ad-footer-desktop")
        "width" (page.Param "ad-footer-desktop-width")
        "height"  (page.Param "ad-footer-desktop-height")
        "class" "mx-auto max-w-full md:max-w-3xl lg:max-w-[960px]"
        )
      }}
    {{ end }}
    {{ if $mobile }}
      {{ partial "tw/promo-multi.html" (dict
        "wrapperClass" "sm:hidden"
        "promos" (page.Param "ad-footer-mobile")
        "width" (page.Param "ad-footer-mobile-width")
        "height"  (page.Param "ad-footer-mobile-height")
        )
      }}
    {{ end }}
  </div>
{{ end }}
