{{ $gaCategory := .gaCategory | default "promo-image" }}
{{ if .images }}
  {{ $img := partial "tw/image-rotator.html" (dict
    "images" .images
    "width" .width
    "height" .height
    "description" .description
    "eager" .eager
    "transparent" .transparent
    )
  }}


  <aside
    class="{{ .class | default `flex justify-center` }}"
    data-ga-category="{{ $gaCategory }}"
    {{ with .id }}id="{{ . }}"{{ end }}
  >
    {{ if .link }}
      <a href="{{ .link }}">
        {{- $img -}}
      </a>
    {{ else }}
      <span>
        {{- $img -}}
      </span>
    {{ end }}
  </aside>
{{ end }}
