<link rel="prefetch" href="/feeds/summary.json" x-ref="feedSrc" />
<div class="space-y-8 sm:space-y-6" data-ga-category="readmore">
  <template x-for="story in stories" :key="story.url">
    {{ partial "tw/thumb-h-story-js.html" . }}
  </template>
</div>

<template x-if="error && hasClicked" x-cloak>
  <div
    class="my-8 rounded border-l-8 border-yellow bg-g-1 px-6 py-2 font-sans text-lg leading-normal text-g-8"
    data-ga-category="error"
  >
    Could not load more.
    <a href="/news/" class="semibold text-blue underline">Try again?</a>
  </div>
</template>
