{{ $title := .title }}
{{ $id := .id | default (urlize $title) }}
{{ $category := .category }}
{{ $dataSrc := .dataSrc }}
{{ $categorize := .categorize }}
<div
  id="{{ $id }}"
  class="m-auto flex max-w-screen-xl flex-wrap justify-center p-5 md:py-4 xl:px-0"
>
  {{ with $title }}
    <h2
      class="text-g-6 mb-4 w-full max-w-screen-lg text-4xl leading-none font-black uppercase md:text-6xl"
    >
      {{ . }}
    </h2>
  {{ end }}
  {{ with $category }}
    <h3
      class="mb-6 w-full max-w-screen-lg font-sans text-2xl leading-none font-black tracking-wide sm:text-4xl md:text-3xl"
    >
      {{ . }}
    </h3>
  {{ end }}
  {{ with $dataSrc }}
    <div
      class="column-gap-2 w-full max-w-screen-lg columns-2 gap-10 pt-3 pb-8 md:columns-3"
    >
      {{ $data := index site.Data.supporters . }}
      <!-- Sort by .sort and break ties with .display -->
      {{ $sorted := sort $data.list "display" "asc" }}
      {{ $sorted = sort $sorted "sort" "asc" }}
      {{ if $categorize }}
        {{ $sorted = sort $sorted "categoryRank" "asc" }}
        {{ partial "tw/supporters-list-by-category.html" $sorted }}
      {{ else if gt (len $sorted) 100 }}
        {{ partial "tw/supporters-list-by-letter.html" $sorted }}
      {{ else }}
        {{ partial "tw/supporters-list.html" $sorted }}
      {{ end }}
    </div>
  {{ end }}

  {{ with .content }}
    <div class="article-content w-full max-w-screen-lg pb-8">
      {{ . | page.RenderString }}
    </div>
  {{ end }}
</div>
