{{ $video := site.GetPage "/videos/_index.md" }}
{{ $shorts := where $video.RegularPages "Params.video-type" "youtube-short" }}
{{ $shorts = $shorts.ByDate.Reverse | first 4 }}
<div data-ga-category="youtube-shorts" id="youtube-shorts">
  <h2
    class="w-full border-b border-black font-sans text-2xl font-extrabold leading-tight tracking-wide md:col-span-3 md:text-3xl"
  >
    <a href="/videos/" class="hover:text-blue"> Recent Videos </a>
  </h2>

  <nav
    class="mt-6 grid grid-flow-row-dense gap-x-16 gap-y-12 sm:grid-cols-2 md:grid-cols-4"
  >
    {{ range $shorts }}
      {{ $params := partialCached "helper/page-params" .Page .RelPermalink }}
      {{ $sizes :=  partial "helper/build-sizes" (dict
        "widths" (slice 272 544 1088 1360)
        "widthRatio" 1
        "heightRatio" 1
        )
      }}
      {{ $srcset := partial "helper/build-srcset" (dict
        "sizes" $sizes
        "filename" (.Param "image")
        "gravity" (.Param "image-gravity")
        )
      }}
      {{ $width := (index $sizes 0).width }}
      {{ $height := (index $sizes 0).height }}
      {{ $imgOpt := dict
        "filename" (.Param "image")
        "width" $width
        "height" $height
        "gravity" (.Param "image-gravity")
      }}
      {{ $imgSmallSrc := partial "helper/imgproxy" $imgOpt }}


      <article class="flex flex-col gap-4">
        <div
          class="group relative block flex w-full items-center justify-center overflow-hidden rounded bg-g-3 shadow-sm"
        >
          {{ partial "tag/picture-maybe-link.html" (dict
            "link" $params.link
            "wrapperClass" "w-full"
            "pictureClass" ""
            "imgClass" "aspect-square min-h-full min-w-full object-cover lg:aspect-[12/16]"
            "sizeHint" "(min-width: 850px) 272px, 100vw"
            "eager" false
            "description" (.Param "image-description")
            "srcset" $srcset
            "src" $imgSmallSrc
            "width" $width
            "height" $height
            )
          }}
          <svg
            aria-hidden="true"
            class="pointer-events-none absolute h-[75px] w-[75px] text-g-5 opacity-75 group-hover:text-g-8"
          >
            {{ partial "helper/svg.html" "play" }}
          </svg>
        </div>
        <div class="group flex w-full items-center justify-start">
          <h2
            class="text-lg font-semibold leading-tight tracking-tight text-hed"
          >
            <a
              class="group-hover:underline"
              href="{{ $params.link }}"
              data-ga-category="hed"
            >
              {{- .LinkTitle -}}
            </a>
          </h2>
        </div>
      </article>
    {{ end }}
  </nav>
</div>
