<link
  rel="stylesheet"
  href="https://interactives.data.spotlightpa.org/2020/coronavirus/coronavirus-dashboard/assets/styles.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""
/>
<link
  rel="stylesheet"
  href="https://interactives.data.spotlightpa.org/2020/coronavirus/coronavirus-dashboard/assets/spotlight.css"
/>
<div id="dashboard-root">
  <div class="top-display__container">
    <div class="regions-container__container"></div>
    <header class="block">
      <h1 class="title is-2 is-size-3-touch is-spaced">
        Coronavirus: Tracking The Spread
      </h1>
    </header>
    <div class="blurb__p">
      Since the first case of the coronavirus was identified in Pennsylvania on
      March 6, we’ve been tracking its spread. These numbers tell only part of
      the story. Tests are still not widely available, and you can have the
      virus — and transmit it — without feeling sick. The numbers shown here
      represent known cases. Because of limited testing, undiagnosed cases are
      probably widespread. Every day, we are compiling data from multiple
      sources, including state and county health departments, to provide a more
      comprehensive picture of the coronavirus in the region.
    </div>
  </div>
  <div class="spinner">
    <svg
      aria-hidden="true"
      focusable="false"
      data-prefix="fas"
      data-icon="spinner"
      class="svg-inline--fa fa-spinner fa-w-16"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
    >
      <path
        fill="currentColor"
        d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"
      ></path>
    </svg>
  </div>
</div>
<div class="credits-section-footer">
  <p><span>CREDITS</span></p>
  <p>
    <span>Graphics:</span> Daniel Simmons-Ritchie, <i>Spotlight PA</i> and John
    Duchneskie, Dylan Purcell and Dominique DeMoe, <i>Philadelphia Inquirer</i>.
  </p>
  <p>
    <span>Developers:</span> Daniel Simmons-Ritchie, <i>Spotlight PA</i> and
    Garland Potts and Dain Saint, <i>Philadelphia Inquirer</i>.
  </p>
  <p>
    <span>Editors:</span> Chris Baxter, <i>Spotlight PA</i> and Jessica Parks,
    <i>Philadelphia Inquirer</i>.
  </p>
</div>
<script src="https://interactives.data.spotlightpa.org/2020/coronavirus/coronavirus-dashboard/assets/main.js"></script>

<section class="section">
  {{ $news := .Site.GetPage "/news/_index.md" }}
  {{ $recent := $news.RegularPages | first 3 }}
  {{ partial "component/related-articles.html" $recent }}
</section>
