{{ $title := .Title }}
{{ $relink := .RelPermalink }}
{{ $link := .Permalink }}
<link
  rel="preconnect"
  href="https://www.googletagmanager.com"
  data-ga-settings
  data-ga-page-title="{{ $title }}"
  data-ga-page-path="{{ $relink }}"
  data-ga-page-url="{{ $link }}"
  data-byline="{{ .Param `byline` }}"
/>
<script>
  window.dataLayer = [{ "gtm.start": new Date().getTime(), event: "gtm.js" }];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("consent", "default", {
    ad_storage: "denied",
    ad_user_data: "denied",
    ad_personalization: "denied",
    analytics_storage: "denied",
    functionality_storage: "denied",
    personalization_storage: "denied",
    security_storage: "denied",
  });
</script>
