{{ $icon := .Param "logo" | resources.Get | fingerprint }}
{{ $params := partialCached "helper/page-params" .Page .RelPermalink }}

{{ $pageType := "WebPage" }}
{{ $isArticle := false }}
{{ if $params.byline }}
  {{ $isArticle = true }}
  {{ $pageType = "Article" }}
{{ end }}

{{ $image := "" }}
{{ with .Param "image" }}
  {{ $imgOpt := dict
    "filename" .
    "width" 1200
    "height" 900
    "gravity" ($.Param "image-gravity")
  }}
  {{ $image = partial "helper/imgproxy" $imgOpt | absURL }}
{{ end }}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": {{ $pageType }},
  "description": {{ .Description }},
  "name": {{ .Title }},

  {{ if $isArticle }}"headline": {{ .Title }},{{ end }}
  {{ with $params.byline }}"author": {{ . }},{{ end }}
  {{ with $params.publishedISO }}"datePublished": {{ . }},{{ end }}
  {{ if $isArticle }}"wordcount": {{ .WordCount }},{{ end }}
  {{ with $image}}"image": {{ . }},{{ end }}

  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title }},
    "url": {{ site.BaseURL }},
    "location": {
      "@type": "Place",
      "name": "Pennsylvania"
    },
    "logo": {
      "@type": "ImageObject",
      "contentUrl": {{ $icon.Permalink }},
      "url": {{ $icon.Permalink }}
    }
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ site.Title }},
  "url": {{ site.BaseURL }},
  "logo": {{ $icon.Permalink }},
  "foundingDate": 2019,
  "location": {
    "@type": "Place",
    "name": "Pennsylvania"
  },
  "sameAs": [
    {{ range $i, $m := site.Menus.social }}
      {{ if ne $i 0 }},{{ end }}
      {{ .URL }}
    {{ end }}
  ]
}
</script>

{{ $parents := partialCached "helper/find-parents" . .RelPermalink }}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{ range $i, $page := $parents }}
      {{ if ne $i 0 }},{{ end }}
      {
        "@type": "ListItem",
        "@id": {{ .Permalink }},
        "name": {{ cond .IsHome site.Title .Title }},
        "position": {{ add 1 $i }}
      }
    {{ end }}
  ]
}
</script>
