<!-- header tags that are the same on all pages -->
{{ $fonts := resources.Get "css/fonts.css" }}
<style>
  {{ $fonts.Content | safeCSS }}
</style>

{{ $scssOptions := dict "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/bulma") }}
{{ $styles := resources.Get "css/main.scss" | toCSS $scssOptions | postCSS }}
{{ if not site.IsServer }}
  {{ $styles = $styles | minify | fingerprint | resources.PostProcess }}
{{ end }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
<noscript>
  <style>
    .no-js-only {
      display: block;
    }
    .no-js-hide {
       display: none;
    }
  </style>
</noscript>

{{ range slice "500" "800" }}
  <link rel="preload" as="font" href="/css/fonts/raleway-v13/raleway-v13-latin-ext_latin-{{ . }}.woff2" crossorigin>
{{ end }}

<link
  rel="modulepreload"
  href='{{ partialCached "helper/get-enhancements" . }}'
/>

<link
  rel="alternate"
  type="application/json"
  href='{{ absURL "/feeds/full.json" }}'
  title="Full News Feed"
/>

<link
  rel="alternate"
  type="application/rss+xml"
  href='{{ absURL "/feeds/full.xml" }}'
  title="Full News Feed"
/>

{{ $icon := .Site.Param "favicon" | resources.Get }}
{{ range $size := slice "32x32" "128x128" "152x152" "167x167" "180x180" "192x192" "196x196" }}
  {{ $iconShrunk := $icon.Fit $size }}
  <link rel="shortcut icon" href="{{ $iconShrunk.Permalink }}" sizes="{{ $size }}">
{{ end }}
{{ $icon = .Site.Param "touch-icon" | resources.Get }}
{{ range $size := slice "32x32" "128x128" "152x152" "167x167" "180x180" "192x192" "196x196" }}
  {{ $iconShrunk := $icon.Fit $size }}
  <link rel="apple-touch-icon" href="{{ $iconShrunk.Permalink }}" sizes="{{ $size }}">
{{ end }}
{{ $logo := resources.Get "/img/logos/circle-default-on-trans.svg"|fingerprint }}
<link rel="mask-icon" href="{{ $logo.Permalink }}" color="black">
