{{ $svgs := dict
  "check-svg" "@fontawesome/solid/check.svg"
  "email-svg" "@fontawesome/regular/envelope.svg"
  "fb-svg" "@fontawesome/brands/facebook-f.svg"
  "logo-svg" "/img/logos/banner-default-on-trans.svg"
  "search-svg" "@fontawesome/solid/search.svg"
  "share-svg" "@fontawesome/solid/share.svg"
  "twitter-svg" "@fontawesome/brands/twitter.svg"
}}
<div class="is-hidden">
  {{ range $id, $rsc := $svgs }}
    {{ $svg := resources.Get $rsc }}
    <svg id="{{ $id }}">{{ $svg.Content|safeHTML }}</svg>
  {{ end }}
</div>
