{{ $params := partialCached "helper/page-params" .Page .RelPermalink }}


<article class="tile is-vertical is-bottom">
  <div class="tile">
    <div class="tile is-parent is-top">
      <div class="tile is-child is-hidden-tablet-only">
        <h3
          class="tag is-square is-black is-uppercase has-text-weight-semibold mb-2"
        >
          {{ $params.kicker| default "News" }}
        </h3>
      </div>
    </div>
  </div>
  <div class="tile is-bottom">
    <div class="tile is-parent is-4 is-top-tablet is-hidden-tablet-only">
      <div class="tile is-child">
        {{ $name := .Page.Param "image" }}
        {{ $credit := .Page.Param "image-credit" }}
        {{ $description := .Page.Param "image-description" }}
        {{ $imgOpts := dict
          "filename" $name
          "credit" $credit
          "description" $description
          "link" .RelPermalink
          "widthRatio" 16
          "heightRatio" 9
          "sizeHint" "15vw"
        }}
        {{ partial "component/image-block.html" $imgOpts }}
      </div>
    </div>

    <div class="tile is-parent is-8 is-bottom-tablet">
      <div class="tile is-child">
        <h2 class="title is-spaced is-4 mt-2-tablet">
          <a
            class="has-text-black hover-underline"
            href="{{ .RelPermalink }}"
            data-ga-category="hed"
          >
            {{ .LinkTitle }}
          </a>
        </h2>
        {{ if $params.byline }}
          <h3
            class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal"
          >
            <a
              href="{{ .RelPermalink }}"
              class="has-text-grey hover-underline"
              data-ga-category="byline"
            >
              by
              {{ $params.byline }}
            </a>
          </h3>
        {{ end }}
        {{- if $params.published }}
          <h3
            class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal"
            data-ga-category="time"
          >
            <a
              href="{{ .RelPermalink }}"
              class="has-text-grey hover-underline"
              data-ga-category="time"
            >
              <time datetime="{{ $params.publishedISO }}"
                >{{ $params.published }}</time
              >
            </a>
          </h3>
        {{- end -}}
      </div>
    </div>
  </div>
</article>
