{{ $params := partialCached "helper/page-params" .Page .RelPermalink }}


<article class="mb-5">
  {{ $name := .Page.Param "image" }}
  {{ $credit := .Page.Param "image-credit" }}
  {{ $description := .Page.Param "image-description" }}
  {{ $imgOpts := dict
    "filename" $name
    "credit" $credit
    "description" $description
    "link" .RelPermalink
    "widthRatio" 16
    "heightRatio" 9
    "sizeHint" "25vw"
  }}
  {{ partial "component/image-block.html" $imgOpts }}


  <h2 class="title is-4 is-spaced mt-2">
    <a
      class="has-text-black hover-underline"
      href="{{ .RelPermalink }}"
      data-ga-category="hed"
    >
      {{ .LinkTitle }}
    </a>
  </h2>
  {{ if $params.byline }}
    <h3
      class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal"
    >
      <a
        href="{{ .RelPermalink }}"
        class="has-text-grey-dark hover-underline"
        data-ga-category="byline"
      >
        by
        {{ $params.byline }}
      </a>
    </h3>
  {{ end }}
</article>
