{{ $params := partialCached "helper/page-params" .Page .RelPermalink }}

<article class="mb-5">
  {{ $name := .Page.Param "image" }}
  {{ $credit := .Page.Param "image-credit" }}
  {{ $description := .Page.Param "image-description" }}
  {{ $imgOpts := dict "filename" $name }}
  {{ $imgOpts = dict "credit" $credit | merge $imgOpts }}
  {{ $imgOpts = dict "description" $description | merge $imgOpts }}
  {{ $imgOpts = dict "link" .RelPermalink | merge $imgOpts }}
  {{ $imgOpts = dict "widthRatio" 16 | merge $imgOpts }}
  {{ $imgOpts = dict "heightRatio" 9 | merge $imgOpts }}
  {{ $imgOpts = dict "sizeHint" "25vw" | merge $imgOpts }}
  {{ partial "component/image-block.html" $imgOpts }}

  <h2 class="title is-4 is-spaced mt-2">
    <a class="has-text-black hover-underline" href="{{ .RelPermalink }}">
      {{ .LinkTitle }}
    </a>
  </h2>
  {{ if $params.byline }}
    <h3 class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal">
      <a href="{{ .RelPermalink }}" class="has-text-grey-dark hover-underline">
        by {{ $params.byline }}
      </a>
    </h3>
  {{ end }}
</article>
