{{ $featured := index . 0 }}
{{ $featuredParams := partialCached "helper/page-params" $featured.Page $featured.RelPermalink }}

{{ $kickerLink := $featuredParams.series | default $featuredParams.topic }}


<div class="pb-0 tile is-parent" data-ga-category="featured">
  <div class="tile is-child">
    <div class="mb-2">
      {{ if $kickerLink }}
        <a
          class="tags has-addons"
          href="{{ $kickerLink.RelPermalink }}"
          data-ga-category="eyebrow"
        >
          <span
            class="tag is-square is-black is-uppercase has-text-weight-semibold hover-underline"
            >{{ $featuredParams.extendedKicker }}</span
          >
          <span
            class="tag is-square is-outline is-uppercase has-text-weight-semibold hover-underline"
            >{{ $featuredParams.kicker }}</span
          >
        </a>
      {{ else }}
        <span class="tags has-addons">
          <span
            class="tag is-square is-black is-uppercase has-text-weight-semibold"
          >
            {{ $featured.Param "extended-kicker" | default "Top News" }}
          </span>
          {{ with $featuredParams.kicker }}
            <span
              class="tag is-square is-outline is-uppercase has-text-weight-semibold"
              >{{ . }}</span
            >
          {{ end }}
        </span>
      {{ end }}
    </div>
  </div>
</div>

{{ $heroName := $featured.Page.Param "image" }}
{{ $heroCredit := $featured.Page.Param "image-credit" }}
{{ $heroDescription := $featured.Page.Param "image-description" }}
{{ $imgOpts := dict
  "filename" $heroName
  "credit" $heroCredit
  "description" $heroDescription
  "eager" true
  "link" $featured.RelPermalink
  "widthRatio" 16
  "heightRatio" 9
  "sizeHint" "40vw"
  "gravity" ($featured.Page.Param "image-gravity")
}}
<div class="tile" data-ga-category="featured">
  <div class="pt-0 tile is-parent is-6">
    <article class="tile is-child">
      {{ partial "component/image-block.html" $imgOpts }}
    </article>
  </div>
  <div class="pt-0 tile is-parent is-bottom-tablet">
    <article class="tile is-child">
      <h1 class="title is-spaced is-size-3-touch">
        <a
          href="{{ $featured.RelPermalink }}"
          class="has-text-black hover-underline"
          data-ga-category="hed"
        >
          {{ $featured.LinkTitle }}
        </a>
      </h1>
      {{ if $featured.Params.subhed }}
        <h2
          class="subtitle is-5 is-size-4-mobile is-size-4-widescreen has-margin-top-negative-medium"
        >
          {{ $featured.Params.subhed }}
        </h2>
      {{ end }}
      {{ if $featuredParams.byline }}
        <h3
          class="subtitle has-margin-top-negative-medium is-6 is-size-5-mobile is-size-5-widescreen has-text-weight-normal"
        >
          <a
            href="{{ $featured.RelPermalink }}"
            class="has-text-grey hover-underline"
            data-ga-category="byline"
            >by
            {{ $featuredParams.byline }}
          </a>
        </h3>
      {{ end }}
      {{ if $featuredParams.blurb }}
        <h2
          class="subtitle is-5 is-size-4-widescreen has-margin-top-negative-medium"
        >
          {{ $featuredParams.blurb }}
        </h2>
      {{ end }}

      {{ if gt (len .) 1 }}
        <ul class="is-size-5 related">
          {{ range after 1 . }}
            <li>
              <a
                href="{{ .RelPermalink }}"
                class="has-text-black hover-underline"
                data-ga-category="subfeature"
              >
                {{ .LinkTitle }}
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </article>
  </div>
</div>
