{{ $page := .Page }}
{{ $params := partialCached "helper/page-params" $page $page.RelPermalink }}


<article>
  {{ if .showDate }}
    <h3
      class="mb-1 bg-eyebrow-bg text-eyebrow inline-block px-2 font-sans text-sm font-semibold uppercase border-eyebrow-bg border-2"
    >
      {{ $params.published | default $params.kicker | default "News" }}
    </h3>
  {{ else }}
    <h3
      class="mb-1 bg-eyebrow-bg text-eyebrow inline-block px-2 font-sans text-sm font-semibold uppercase border-eyebrow-bg border-2"
    >
      {{ $params.kicker | default "News" }}
    </h3>
  {{ end }}

  {{ $name := $page.Param "image" }}
  {{ $credit := $page.Param "image-credit" }}
  {{ $description := $page.Param "image-description" }}
  {{ $imgOpts := dict
    "filename" $name
    "credit" $credit
    "description" $description
    "link" $params.link
    "widthRatio" 16
    "heightRatio" 9
    "sizeHint" "25vw"
    "gravity" ($page.Param "image-gravity")
  }}
  {{ partial "component/image-block.html" $imgOpts }}


  <div class="group mt-6">
    <h2 class="text-lg font-semibold leading-snug text-hed">
      <a
        class="group-hover:underline"
        href="{{ $params.link }}"
        data-ga-category="hed"
      >
        {{ $page.LinkTitle }}
      </a>
    </h2>
    {{ if or $params.byline $params.blurb }}
      <h3
        class="mt-2 font-sans text-base font-normal leading-tight tracking-normal text-byline"
      >
        {{ if $params.byline }}
          <a
            href="{{ $params.link }}"
            class="group-hover:underline"
            data-ga-category="byline"
          >
            by
            {{ $params.byline }}
          </a>
        {{ else }}
          <a
            href="{{ $params.link }}"
            class="group-hover:underline"
            data-ga-category="blurb"
          >
            {{ $params.blurb }}
          </a>
        {{ end }}
      </h3>
    {{ end }}
  </div>
</article>
