{{ $params := partialCached "helper/page-params" .Page .RelPermalink }}

<article>
  {{ if $params.rubric }}
    <a
      class="tag is-square is-black is-uppercase has-text-weight-semibold mb-2"
      href="{{ $params.rubric.RelPermalink }}"
    >{{ $params.kicker | default $params.rubric.Title }}</a>
  {{ else }}
    <h3
      class="tag is-square is-black is-uppercase has-text-weight-semibold mb-2"
    >{{ $params.kicker | default "News" }}</h3>
  {{ end }}

  {{ $name := .Page.Param "image" }}
  {{ $credit := .Page.Param "image-credit" }}
  {{ $description := .Page.Param "image-description" }}
  {{ $imgOpts := dict "filename" $name }}
  {{ $imgOpts = dict "credit" $credit | merge $imgOpts }}
  {{ $imgOpts = dict "description" $description | merge $imgOpts }}
  {{ $imgOpts = dict "link" .RelPermalink | merge $imgOpts }}
  {{ $imgOpts = dict "widthRatio" 16 | merge $imgOpts }}
  {{ $imgOpts = dict "heightRatio" 9 | merge $imgOpts }}
  {{ $imgOpts = dict "sizeHint" "25vw" | merge $imgOpts }}
  {{ partial "component/image-block.html" $imgOpts }}

  <h2
    class="title is-4 is-spaced mt-2"
    data-ga-category="hed"
  >
    <a class="has-text-black hover-underline" href="{{ .RelPermalink }}">
      {{ .LinkTitle }}
    </a>
  </h2>
  {{ if $params.byline }}
    <h3
      class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal"
      data-ga-category="byline"
    >
      <a href="{{ .RelPermalink }}" class="has-text-grey hover-underline">
        by {{ $params.byline }}
      </a>
    </h3>
  {{ end }}
</article>
