<div class="tile is-parent">
  <div class="tile is-child">
    <h2
      class="title has-text-centered is-uppercase is-1 is-size-2-mobile has-text-weight-semibold"
    >
      Who We Are
    </h2>
    <hr
      class="is-emphatic-underline is-primary has-margin-top-negative is-margin-centered max-12r"
    />
    <div class="level mt-6">
      <div class="level-item" data-ga-category="meet">
        {{ dict "title" "Meet the team" "svg" "covering" "url" "/about/staff/" | partial "tile/promo.html" }}
      </div>
      <div class="level-item" data-ga-category="tip">
        {{ dict "title" "Send a tip" "svg" "stop" "url" "/tips/" | partial "tile/promo.html" }}
      </div>
      <div class="level-item" data-ga-category="donate">
        {{ dict "title" "Support fearless journalism" "svg" "support" "url" "/donate/" | partial "tile/promo.html" }}
      </div>
    </div>
  </div>
</div>
