<link rel="prefetch" as="fetch" :href="'/feeds/summary.json'" x-ref="feedSrc" />
<template x-for="story in stories" :key="story.url" x-cloak>
  <article class="tile is-vertical is-bottom" data-ga-category="readmore">
    <div class="tile">
      <div class="tile is-parent is-top">
        <div class="tile is-child">
          <h3
            class="tag is-square is-black is-uppercase has-text-weight-semibold mb-2"
            x-text="story.kicker"
          ></h3>
        </div>
      </div>
    </div>
    <div class="tile">
      <div class="pt-0 tile is-parent is-4 is-top-tablet">
        <div class="tile is-child">
          <figure>
            <a
              class="image is-16by9 has-background-grey-lighter"
              data-ga-category="thumb"
              :href="story.url"
              @click.passive="$report($event)"
            >
              <picture class="has-ratio">
                <img
                  :alt="story.imageDescription"
                  :title="story.imageDescription"
                  :src="story.imageURL"
                  loading="lazy"
                />
              </picture>
            </a>
            <figcaption
              class="is-clearfix is-size-7 is-uppercase has-text-grey-light"
            >
              <span
                class="mt-2 is-single-spaced is-pulled-right"
                x-text="story.imageCredit"
              ></span>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="pt-0 tile is-parent is-8 is-bottom-tablet">
        <div class="tile is-child">
          <h2 class="title is-spaced is-4 mt-2-tablet">
            <a
              class="has-text-black hover-underline"
              data-ga-category="hed"
              :href="story.url"
              @click.passive="$report($event)"
              x-text="story.title"
            >
            </a>
          </h2>
          <h3
            class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal"
            x-show="story.byline"
          >
            <a
              class="has-text-grey hover-underline"
              data-ga-category="byline"
              @click.passive="$report($event)"
              :href="story.url"
              x-template="by ${story.byline}"
            ></a>
          </h3>
          <h3
            x-show="showDate"
            class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal"
          >
            <a
              class="has-text-grey hover-underline"
              data-ga-category="time"
              :href="story.url"
              @click.passive="$report($event)"
            >
              <time :datetime="story.publishedISO" x-text="story.published">
              </time>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </article>
</template>

<template x-if="error && hasClicked" x-cloak>
  <div class="message is-danger" data-ga-category="error">
    Could not load more.
    <a href="/news/" class="has-text-weight-semibold">Try again?</a>
  </div>
</template>
