{{ $params := partialCached "helper/page-params" .Page .RelPermalink }}


<article class="tile is-vertical">
  <div class="tile">
    <div class="py-0 tile is-parent">
      <div class="tile is-child">
        {{ if $params.rubric }}
          <a
            class="tag is-square is-black is-uppercase has-text-weight-semibold mb-2"
            href="{{ $params.rubric.RelPermalink }}"
            data-ga-category="eyebrow"
            >{{ $params.kicker | default $params.rubric.Title }}</a
          >
        {{ else }}
          <h3
            class="tag is-square is-black is-uppercase has-text-weight-semibold mb-2"
          >
            {{ $params.kicker | default "News" }}
          </h3>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="tile">
    <div class="pt-0 tile is-parent is-4 is-top-tablet">
      <div class="tile is-child">
        {{ $name := .Page.Param "image" }}
        {{ $credit := .Page.Param "image-credit" }}
        {{ $description := .Page.Param "image-description" }}
        {{ $imgOpts := dict
          "filename" $name
          "credit" $credit
          "description" $description
          "link" .RelPermalink
          "widthRatio" 16
          "heightRatio" 9
          "sizeHint" "15vw"
          "gravity" (.Page.Param "image-gravity")
        }}
        {{ partial "component/image-block.html" $imgOpts }}
      </div>
    </div>

    <div class="pt-0 tile is-parent is-8 is-bottom-tablet">
      <div class="tile is-child">
        <h2 class="title is-spaced is-4 mt-2-tablet">
          <a
            class="has-text-black hover-underline"
            href="{{ .RelPermalink }}"
            data-ga-category="hed"
          >
            {{ .LinkTitle }}
          </a>
        </h2>
        {{ if or $params.byline $params.blurb }}
          <h3
            class="subtitle has-margin-top-negative-medium is-5 has-text-weight-normal"
          >
            {{ if $params.byline }}
              <a
                href="{{ .RelPermalink }}"
                class="has-text-grey hover-underline"
                data-ga-category="byline"
              >
                by
                {{ $params.byline }}
              </a>
            {{ else }}
              <a
                href="{{ .RelPermalink }}"
                class="has-text-grey hover-underline"
                data-ga-category="blurb"
              >
                {{ $params.blurb }}
              </a>
            {{ end }}
          </h3>
        {{ end }}
      </div>
    </div>
  </div>
</article>
