<div class="my-12 flex flex-row flex-wrap items-center gap-12">
  <a
    class="flex flex-1 items-center justify-around"
    href="https://apps.apple.com/us/app/spotlight-pa/id6498866659"
    ><img
      src="/img/brands/apple-app-store-badge.svg"
      width="240"
      height="80"
      alt="Apple App Store"
      title="Download Spotlight PA on the Apple App Store"
      style="max-width: 240px;"
  /></a>
  <a
    class="flex flex-1 items-center justify-around"
    href="https://play.google.com/store/apps/details?id=com.spotlightpa.digestapp&pli=1"
    ><img
      src="/img/brands/google-play-badge.png"
      width="564"
      height="168"
      alt="Google Play Store"
      title="Download Spotlight PA on the Google Play Store"
      style="max-width: 270px;"
  /></a>
</div>
