{{ $label := .Get "label" | default `Click here to listen to an audio version of this story.` }}
{{ $src := .Get "src" }}


<figure class="clear-both" x-data="{ isOpen: false }">
  <figcaption>
    <button
      class="cursor-pointer italic text-navy underline"
      @click.once="isOpen = true; $refs.player.play()"
    >
      {{- $label -}}
    </button>
  </figcaption>
  <audio x-show="isOpen" x-ref="player" controls src="{{ $src }}">
    <a href="{{ $src }}">Download audio</a>
  </audio>
</figure>
