{{ $label := .Get "label" | default `Click here to listen to an audio version of this story.` }}
{{ $src := .Get "src" }}
{{ $open := .Get "open" | default "false" }}
{{ $isOpen := eq (lower $open) "true" }}

{{ if $isOpen }}
  <figure class="clear-both w-full">
    <audio controls src="{{ $src }}" class="mt-6 w-full">
      <a href="{{ $src }}">Download audio</a>
    </audio>
    <figcaption
      class="text-g-8 mt-6 font-sans leading-tight"
      itemprop="caption"
    >
      {{- $label -}}
    </figcaption>
  </figure>
{{ else }}
  <figure class="clear-both" x-data="{ isOpen: false }">
    <figcaption>
      <button
        class="text-navy cursor-pointer italic underline"
        @click.once="isOpen = true; $refs.player.play()"
      >
        {{- $label -}}
      </button>
    </figcaption>
    <audio x-show="isOpen" x-ref="player" controls src="{{ $src }}">
      <a href="{{ $src }}">Download audio</a>
    </audio>
  </figure>
{{ end }}
