<form
  id="contact-page-form"
  name="contact-page"
  class="control"
  action="/contact/thanks/"
  method="post"
  netlify
  netlify-honeypot="bot-field"
  data-ga-form="contact"
  data-ga-category="inline:contact"
>
  <p class="is-hidden">
    <label>
      Don’t fill this out if you're human: <input name="bot-field">
    </label>
    <label
      class="label is-sr-only"
      for='{{ partial "helper/inc-id" . }}'
    >Host URL</label>
    <input
      id='{{ partial "helper/get-id" . }}'
      class="input"
      type="text"
      name="host_page"
      value="Spotlight PA"
    >
  </p>
  <div class="field">
    <label class="label" for='{{ partial "helper/inc-id" . }}'>From</label>
  </div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
          <input
            id='{{ partial "helper/get-id" . }}'
            class="input"
            type="text"
            placeholder="William Penn"
            name="name"
            required
          >
        </p>
      </div>
      <div class="field">
        <label class="is-sr-only" for='{{ partial "helper/inc-id" . }}'>Email</label>
        <p class="control is-expanded has-icons-left has-icons-right">
          <input
            id='{{ partial "helper/get-id" . }}'
            class="input"
            type="email"
            placeholder="williampenn@example.com"
            name="email"
            required
          >
          <span class="icon is-left has-text-primary">
            <svg>
              <use xlink:href="#email-svg"></use>
            </svg>
          </span>
          <span class="icon is-right validator-icon">
            <svg>
              <use xlink:href="#check-svg"></use>
            </svg>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for='{{ partial "helper/inc-id" . }}'>Subject</label>
    <div class="control">
      <input
        id='{{ partial "helper/get-id" . }}'
        class="input"
        type="text"
        placeholder="My question about Spotlight PA"
        name="subject"
      >
    </div>
  </div>
  <div class="field">
    <label class="label" for='{{ partial "helper/inc-id" . }}'>Comment</label>
    <div class="control">
      <textarea
        id='{{ partial "helper/get-id" . }}'
        class="textarea"
        placeholder="Explain how we can help you"
        name="comment"
      ></textarea>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button
        class="button is-danger has-text-weight-semibold"
        type="submit"
      >
        Send comment
      </button>
    </div>
  </div>
</form>
