</div>

{{ $banner := resources.Get "img/promo/donate-triple-banner.svg" }}
{{ $mobile := resources.Get "img/promo/donate-triple-mobile.svg" }}

{{ $imgs := slice }}
{{ range seq 4 }}
  {{ $team := printf "img/promo/team-%d.jpeg" . | resources.Get }}
  {{ $team = $team.Fill "400x300" }}
  {{ $imgs = $imgs | append $team.RelPermalink }}
{{ end }}

<div class="box">
  <a href="/donate/">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 686.635 204.611"
      class="is-hidden-mobile"
    >
      <title>Donate to Spotlight PA</title>
      <desc>Donate now and your gift will be tripled</desc>
      <image
        data-promo-images="{{ $imgs | jsonify }}"
        href=""
        x="0" y="0" width="272" height="204" />
      <image
        xlink:href="{{ $banner.RelPermalink }}"
        x="0" y="0" width="686.635" height="204.611" />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 355.63 427"
      class="is-hidden-tablet"
    >
      <title>Donate to Spotlight PA</title>
      <desc>Donate now and your gift will be tripled</desc>
      <image
        data-promo-images="{{ $imgs | jsonify }}"
        href=""
        x="25" y="0" width="305" height="230" />
      <image
        xlink:href="{{ $mobile.RelPermalink }}"
        x="0" y="0" width="355.63" height="427" />
    </svg>
  </a>
</div>

<div class="content">
