</article>
</section>
{{ $src := .Get "src" }}
{{ $center := .Get "center" }}

{{ $imgOpt := dict "filename" $src "width" 1200 "height" 900 }}
{{ $imgurl := partial "imgproxy.html" $imgOpt }}

<div class="scene">
  <section
    class="hero is-black is-fullheight"
    style="
      background-image: url('{{ $imgurl }}');
      background-size: cover;
      background-attachment: fixed;
    "
  >
    <div class="hero-body">
      <div class="has-text-centered">
        <div style="width: 100vw">
          <h1 class="title is-1">
            {{ $center }}
          </h1>
        </div>
      </div>
    </div>
  </section>
</div>
</div>

<section class="section container">
  <article class="content is-medium">
