{{ define "shortcode-image-picture" }}
  <picture>
    <img
      alt="{{ .description }}"
      title="{{ .description }}"
      src="{{ .src }}"
      loading="lazy"
      {{ with .width }}width="{{ . }}"{{ end }}
      {{ with .height }}height="{{ . }}"{{ end }}
    />
  </picture>
{{ end }}


<div class="clear-both" data-ga-category="inline:image">
  {{ $src := .Get "src" | htmlUnescape }}
  {{ $credit := .Get "credit" | htmlUnescape }}
  {{ $description := .Get "description" | htmlUnescape }}
  {{ $caption := .Get "caption" | htmlUnescape }}
  {{ $imgClass := .Get "class" | htmlUnescape }}
  {{ $width := .Get "width" | htmlUnescape }}
  {{ $height := .Get "height" | htmlUnescape }}
  {{ $figClass := .Get "figure-class" | htmlUnescape | default "my-8" }}
  {{ $link := .Get "link" | htmlUnescape }}


  <figure class="{{ $figClass }}">
    {{- if $link -}}
      <a class="relative block" href="{{ $link }}">
        {{- template "shortcode-image-picture" (dict
          "src" $src
          "description" $description
          "caption" $caption
          "width" $width
          "height" $height
          )
        -}}
      </a>
    {{- else -}}
      <div class="relative">
        {{- template "shortcode-image-picture" (dict
          "src" $src
          "description" $description
          "caption" $caption
          "width" $width
          "height" $height
          )
        -}}
      </div>
    {{- end -}}

    {{ with $credit }}
      <figcaption
        class="text-g-6 mt-1 w-full px-1 text-right font-sans text-sm uppercase"
      >
        {{ $credit }}
      </figcaption>
    {{ end }}
    {{ with $caption }}
      <figcaption class="text-g-8 mx-auto mt-2 font-sans text-sm leading-tight">
        {{- . -}}
      </figcaption>
    {{ end }}
  </figure>
</div>
