{{ define "shortcode-image-picture" }}
  <picture>
    <img
      alt="{{ .description }}"
      title="{{ .description }}"
      src="{{ .src }}"
      loading="lazy"
      @click="showCaption = !showCaption"
    />
  </picture>
  {{ with .caption }}
    <figcaption
      class="
        absolute p-4 bottom-0 inset-x-0
        backdrop-filter backdrop-blur-sm backdrop-brightness-50
        font-sans text-base text-s-0
      "
      x-show="showCaption"
      @click="showCaption = false"
    >
      {{ . }}
    </figcaption>
  {{ end }}
{{ end }}


<div data-ga-category="inline:image">
  {{ $src := .Get "src" | htmlUnescape }}
  {{ $credit := .Get "credit" | htmlUnescape }}
  {{ $description := .Get "description" | htmlUnescape }}
  {{ $caption := .Get "caption" | htmlUnescape }}
  {{ $imgClass := .Get "class" | htmlUnescape }}
  {{ $figClass := .Get "figure-class" | htmlUnescape | default "my-8" }}
  {{ $link := .Get "link" | htmlUnescape }}


  <figure class="{{ $figClass }}" x-data="{ showCaption: true }">
    {{- if $link -}}
      <a class="block relative" href="{{ $link }}">
        {{- template "shortcode-image-picture" (dict
          "src" $src
          "description" $description
          "caption" $caption
          )
        -}}
      </a>
    {{- else -}}
      <div class="relative {{ if $caption }}cursor-pointer{{ end }}">
        {{- template "shortcode-image-picture" (dict
          "src" $src
          "description" $description
          "caption" $caption
          )
        -}}
      </div>
    {{- end -}}

    {{ with $credit }}
      <figcaption
        class="mt-1 px-1 w-full text-right font-sans text-s-6 text-sm uppercase"
      >
        {{ $credit }}
      </figcaption>
    {{ end }}
  </figure>
</div>
