<section data-ga-category="inline">
  <form
    action="https://spotlightpa.us3.list-manage.com/subscribe/post?u=4f6d92afd9b3de3ddb48714b9&amp;id=0466df5ab5"
    method="post"
    target="_blank"
    data-ga-form="newsletters:investigator"
    data-ga-category="newsletters:investigator-full"
  >
    <input type="hidden" name="group[26457]" value="1">
    <p class="is-hidden" aria-hidden="true">
      <label>
        Don’t fill this out if you're human:
        <input type="text" name="b_4f6d92afd9b3de3ddb48714b9_0466df5ab5" tabindex="-1" value="">
      </label>
    </p>
    <h2 class="title is-3">
      The Investigator
    </h2>
    <div class="field">
      <label class="label" for="newsletter-fname">First Name</label>
    </div>
    <div class="field">
      <p class="control is-expanded">
        <input
          id="newsletter-fname"
          class="input"
          type="text"
          name="FNAME"
          required
        >
      </p>
    </div>
    <div class="field">
      <label class="label" for="newsletter-lname">Last Name</label>
    </div>
    <div class="field">
      <p class="control is-expanded">
        <input
          id="newsletter-lname"
          class="input"
          type="text"
          name="LNAME"
          required
        >
      </p>
    </div>
    <div class="field">
      <label class="label" for="newsletter-email">Email Address</label>
      <p class="control is-expanded has-icons-left has-icons-right">
        <input
          id="newsletter-email"
          class="input"
          type="email"
          name="EMAIL"
          required
        >
        <span class="icon is-left">
          <svg>
            <use xlink:href="#email-svg"></use>
          </svg>
        </span>
        <span class="icon is-right validator-icon">
          <svg>
            <use xlink:href="#check-svg"></use>
          </svg>
        </span>
      </p>
    </div>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-large is-danger has-text-weight-semibold">
          Subscribe
        </button>
      </div>
    </div>
  </form>
</section>

{{ $newsletterArchiveURL := "/api/newsletter.json" }}
{{ if site.IsServer }}
  {{ $newsletterArchiveURL = "http://localhost:12345/api/newsletter.json" }}
{{ end }}

<section
  class="mt-5"
  x-cloak
  x-data="spl.feed()"
  x-init="load()"
  data-feed-url="{{ $newsletterArchiveURL }}"
  data-ga-category="inline:newsletters:archive"
>
  <h2
    class="title is-3"
    x-show="hasLoaded"
  >Archives</h2>

  <ul>
    <template x-for="item of items">
      <li>
        <span x-text="formatDate(item.date_published)"></span>
        &nbsp;
        <a
          @click="analytics($event)"
          :href="item.url"
          x-text="item.title"
        ></a>
      </li>
    </template>
  </ul>
</section>
