<!-- God forgive me -->
</div>

<div class="box">
{{ $src := .Get "src" }}
{{ $credit := .Get "credit" }}
{{ $description := .Get "description" }}
{{ $caption := .Get "caption" }}
{{ $widthRatio := .Get "width-ratio" | default 3 | int }}
{{ $heightRatio := .Get "height-ratio" | default 2 | int }}

{{ $imgOpts := dict "filename" $src }}
{{ $imgOpts = dict "credit" $credit | merge $imgOpts }}
{{ $imgOpts = dict "description" $description | merge $imgOpts }}
{{ $imgOpts = dict "widthRatio" $widthRatio | merge $imgOpts }}
{{ $imgOpts = dict "heightRatio" $heightRatio | merge $imgOpts }}
{{ $imgOpts = dict "sizeHint" "50vw" | merge $imgOpts }}
{{ $imgOpts = dict "figClass" "has-margin-bottom" | merge $imgOpts }}
{{ $imgOpts | partial "image-block.html" }}

{{ with $caption }}
  <p class="is-size-6 is-italic">{{ . }}</p>
{{ end }}
</div>

<div class="content">
