{{ $src := .Get "src" | htmlUnescape }}
{{ $credit := .Get "credit" | htmlUnescape }}
{{ $description := .Get "description" | htmlUnescape }}
{{ $caption := .Get "caption" | htmlUnescape }}
{{ $widthRatio := .Get "width-ratio" | default 3 | int }}
{{ $heightRatio := .Get "height-ratio" | default 2 | int }}
{{ $gravity := .Get "focus" }}
{{ $wrapperClass := .Get "class" | default "my-12"}}
<div class="{{ $wrapperClass }}" data-ga-category="inline:picture">

  {{ $imgOpts := dict
    "filename" $src
    "credit" $credit
    "description" $description
    "caption" $caption
    "widthRatio" $widthRatio
    "heightRatio" $heightRatio
    "widths" (slice 320 670 1340)
    "sizeHint" "670px"
    "rounded" true
    "gravity" $gravity
  }}
  {{ partial "tw/image-block.html" $imgOpts }}
</div>
