{{ $src := .Get "src" | htmlUnescape }}
{{ $credit := .Get "credit" | htmlUnescape }}
{{ $description := .Get "description" | htmlUnescape }}
{{ $caption := .Get "caption" | htmlUnescape }}
{{ $widthRatio := .Get "width-ratio" | default 3 | int }}
{{ $heightRatio := .Get "height-ratio" | default 2 | int }}
{{ $gravity := .Get "focus" }}
{{ $wrapperClass := .Get "class" | default "w-full bg-white sm:w-52 sm:h-26 float-right -mt-6 mb-2 ml-1 md:ml-2 md:w-80 xl:-mr-16" }}
<div class="{{ $wrapperClass }}" data-ga-category="inline:picture">
  {{ $imgOpts := dict
    "filename" $src
    "credit" $credit
    "description" $description
    "caption" $caption
    "widthRatio" $widthRatio
    "heightRatio" $heightRatio
    "widths" (slice 320 670 1340)
    "sizeHint" "670px"
    "rounded-sm" true
    "gravity" $gravity
  }}
  {{ partial "tw/image-block.html" $imgOpts }}
</div>
