<div
  class="columns is-multiline is-centered"
  data-ga-category="inline:supporters"
>
  {{ $lenfest := dict
    "url" "https://www.lenfestinstitute.org/"
    "name" "Lenfest Institute for Journalism"
    "logotype" "svg"
    "logo" "img/partners/lenfest-extended.svg"
  }}
  {{ partial "component/logo-column.html" $lenfest }}
  {{ $spotlight := dict
    "url" "/"
    "name" "Spotlight PA"
    "logotype" "svg"
    "logo" "img/logos/banner-default-on-trans.svg"
  }}
  {{ partial "component/logo-column.html" $spotlight }}
</div>
