</div>

{{ $txt := .Inner }}

{{ $idURL := partial "helper/inc-id" . }}
{{ $idEmail := partial "helper/inc-id" . }}
{{ $idName := partial "helper/inc-id" . }}
{{ $idBody := partial "helper/inc-id" . }}
<div class="box" data-ga-category="inline:tips">
  <h2 class="title is-6 has-text-danger has-text-left is-uppercase">Tips</h2>
  <div class="block">
    {{ $txt }}
  </div>
  <form
    name="contact-page"
    class="control"
    action="/contact/thanks/"
    method="post"
    netlify
    netlify-honeypot="bot-field"
    data-ga-form='contact'
    target="_parent"
  >
    <p class="is-hidden">
      <label>
        Don’t fill this out if you're human: <input name="bot-field">
      </label>
      <label
        class="label is-sr-only"
        for='{{ $idURL }}'
      >Host URL</label>
      <input
        id='{{ $idURL }}'
        class="input"
        type="text"
        name="host_page"
        value="Spotlight PA"
      >
    </p>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label
            class="label is-sr-only"
            for='{{ $idName }}'
          >Name</label>
          <p class="control is-expanded">
            <input
              id='{{ $idName }}'
              class="input"
              type="text"
              placeholder="Name"
              name="name"
              required
            >
          </p>
        </div>
        <div class="field">
          <label
            class="label is-sr-only"
            for='{{ $idEmail }}'
          >Email or phone number</label>
          <p class="control">
            <input
              id='{{ $idEmail }}'
              class="input"
              type="text"
              placeholder="Email or phone number"
              name="email"
              required
            >
          </p>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label
          class="label is-sr-only"
          for='{{ $idBody }}'
        >Your tip or comment</label>
        <textarea
          id='{{ $idBody }}'
          class="textarea"
          placeholder="What should we know?"
          name="comment"
          rows="2"
        ></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button
          class="button is-danger has-text-weight-semibold"
          type="submit"
        >
          Send message
        </button>
        <a href="/tips/" class="is-hidden-touch button is-light">
          Or see more secure ways to contact us
        </a>
      </div>
    </div>
    <div class="field is-hidden-desktop">
      <div class="control">
        <a href="/tips/" class="has-text-weight-semibold has-text-grey">
          Or see more secure ways to contact us
        </a>
      </div>
    </div>
  </form>
</div>

<div class="content">
