{{ $inner := .Get "body" }}
{{ $law := .Get "law" }}
{{ $width := .Get "width" | int }}
{{ $height := .Get "height" | int }}
{{ $pb := slice $width $height | partial "helper/aspect-ratio" }}
{{ $caption := .Get "caption" | default "No caption" }}


<figure class="mx-auto md:max-w-5xl">
  <div class="lg:-mx-32 xl:-mx-48">
    <div
      id="video-2"
      class="relative mx-auto h-0 w-full pb-16x9"
      data-vimeo="562400724"
    ></div>
  </div>
  {{ if $inner }}
    <figcaption
      x-data="{ onScreen: false }"
      x-intersect.full="onScreen = true"
      class="mt-3 mb-8 md:mt-8 md:mb-24"
    >
      <p
        class="flex items-center px-2 text-xl leading-none text-s-8 md:text-2xl"
        x-show="onScreen"
        x-transition:enter="transition ease-out duration-700 delay-1000"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-500"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
      >
        {{ $inner | markdownify }}
      </p>
    </figcaption>
  {{ end }}

</figure>
