{{ $inner := .Get "body" }}
<!-- TODO: Remove hardcoded ID -->
{{ $playerID := .Get "id" | default "562400724" }}


<figure class=" mx-auto h-screen md:h-auto md:max-w-5xl" x-data="scrollVimeo">
  <div class="lg:-mx-32 xl:-mx-48">
    <div
      x-ref="splVideo"
      class="relative mx-auto h-0 w-full pb-16x9"
      x-intersect="play()"
      x-intersect:leave="pause()"
      data-vimeo-id="{{ $playerID }}"
      data-vimeo-defer
    ></div>
  </div>
  {{ if $inner }}
    <figcaption
      x-data="{ onScreen: false }"
      x-intersect.half="onScreen = true"
      class="mb-8 mt-3 md:mb-24 md:mt-8"
    >
      <p
        class="text-s-8 flex items-center px-2 text-xl leading-none md:text-2xl"
        x-show="onScreen"
        x-transition:enter="transition-all ease-out duration-1000 delay-700"
        x-transition:enter-start=" opacity-0"
        x-transition:enter-end="opacity-1"
      >
        {{ $inner | markdownify }}
      </p>
    </figcaption>
  {{ end }}

</figure>
