{{ $eyebrow := .Get "eyebrow" | htmlUnescape | default `Eyebrow` }}
{{ $url := .Get "url" | htmlUnescape | default `https://www.spotlightpa.org/` }}
{{ $body := .Get "body" | htmlUnescape | default `Body` }}
{{ $cta := .Get "cta" | htmlUnescape | default `Just Do It!` }}

{{ partial "tag/content-well-end" . }}
<div
  data-ga-category="embed:cta"
  data-fru-campaign="embed"
  class="my-6 font-sans print:hidden"
>
  <div class="rounded-lg border border-g-5 bg-g-2 p-7 md:p-10 xl:px-12 xl:py-7">
    <h2
      class="mb-3 border-b border-black font-serif text-2xl italic leading-tight"
    >
      <div href="{{ $url }}" class="inline-block" data-ga-category="eyebrow">
        {{- $eyebrow -}}
      </div>
    </h2>

    <h2 class="font-sans text-lg">
      <div
        href="{{ $url }}"
        class="embed-prose-highlight text-lg leading-tight"
        data-ga-category="body"
      >
        {{- $body | safeHTML -}}
      </div>
    </h2>

    <div class="mt-6">
      <a href="{{ $url }}" class="btn-donate" data-ga-category="button">
        {{- $cta -}}
      </a>
    </div>
  </div>
</div>
{{ partial "tag/content-well-start" . }}
