{{ $cta := .Get "cta" | htmlUnescape | default `Discover overlooked stories, unique investigations, and daily joy from across PA with our free daily newsletter.` }}
{{ $eyebrow := .Get "eyebrow" | htmlUnescape | default `Stay informed` }}
{{ $button := .Get "button" | htmlUnescape | default `Sign Up` }}
{{ $preselect := .Get "preselect" | htmlUnescape | default `papost` }}

{{ $idEmail := partial "helper/new-id" . }}


<form
  class="spl-newsletter clear-all my-6 rounded-lg border border-g-5 bg-g-2 p-7 font-sans leading-tight md:p-10 xl:px-12 xl:py-7 print:hidden"
  data-ga-category="embed:newsletter"
  x-data="newsletter($el.dataset.baseUrl)"
  data-base-url="{{ page.Param `newsletters-base-url` }}"
  @submit.prevent="submit"
  @focusin="hasFocused = true"
>
  {{ partial "newsletter/basic-hidden.html" . }}


  <p class="hidden" hidden>
    <input type="hidden" name="{{ $preselect }}" value="1" />
  </p>
  <h2 class="border-b border-black font-serif text-2xl italic leading-tight">
    {{- $eyebrow -}}
  </h2>
  <h2 class="mt-2 font-sans text-lg">
    {{- $cta | safeHTML -}}
  </h2>
  <div class="mx-auto mt-6 max-w-xl">
    <p class="relative w-full">
      <label class="sr-only" for="{{ $idEmail }}">Email address</label>
      <input
        id="{{ $idEmail }}"
        class="spl-input w-full"
        type="email"
        name="EMAIL"
        placeholder="Email address"
        required
      />
      <span
        class="pointer-events-none absolute inset-y-0 right-3 inline-flex items-center text-g-4"
        aria-hidden="true"
      >
        <svg class="h-4 w-4 fill-current">
          {{ partial "helper/svg.html" "email" }}
        </svg>
      </span>
    </p>
    <p class="mt-2">
      <button class="btn-signup w-full" type="submit" :disabled="isLoading">
        {{- $button -}}
        <svg
          x-cloak
          x-transition
          aria-label="Submitting"
          x-show="isLoading"
          class="ml-2 inline-block h-4 w-4 animate-spin fill-current"
        >
          {{ partial "helper/svg.html" "spinner" }}
        </svg>
      </button>
    </p>
  </div>
</form>
