{{ $idName := partial "helper/new-id" . }}
{{ $idEmail := partial "helper/new-id" . }}
{{ $idTip := partial "helper/new-id" . }}

{{ $tip := .Get "tip_text" | htmlUnescape | safeHTML | default `` }}
{{ $eyebrow := .Get "flag_text" | htmlUnescape | default `Tips` }}
{{ $formName := .Get "form_name" | htmlUnescape | default `contact-page` }}


<div
  class="border-g-5 bg-g-2 my-6 rounded-lg border p-7 font-sans md:p-10 xl:px-12 xl:py-7 print:hidden"
  data-ga-category="embed:contact"
  x-data="{
    showSpanish: false,
  }"
>
  <h2
    class="flex items-baseline justify-between border-b border-black font-serif text-2xl leading-tight italic"
    x-show="!showSpanish"
  >
    <span>{{ $eyebrow }}</span>
    <button
      class="text-g-9 float-right inline-block pl-3 font-sans text-sm font-semibold uppercase"
      type="button"
      data-ga-category="toggle-language:spanish"
      @click="showSpanish = true"
    >
      En Español
    </button>
  </h2>
  <h2
    x-cloak
    x-show="showSpanish"
    class="flex items-baseline justify-between border-b border-black font-serif text-2xl leading-tight italic"
  >
    <span>Escríbenos</span>
    <button
      type="button"
      class="text-g-9 float-right inline-block pl-3 font-sans text-sm font-semibold uppercase"
      data-ga-category="toggle-language:english"
      @click="showSpanish = false"
    >
      In English
    </button>
  </h2>
  <div
    class="embed-prose pt-6 pb-4 text-lg leading-tight"
    x-show="!showSpanish"
  >
    {{- $tip -}}
  </div>
  <div x-cloak class="pt-6 pb-4 text-lg leading-tight" x-show="showSpanish">
    ¿Tienes información que debemos saber? <strong>Escríbenos.</strong>
  </div>
  <form
    class="flex flex-col gap-2 py-4"
    name="{{ $formName }}"
    action="/contact/thanks/"
    method="post"
    netlify
    netlify-honeypot="bot-field"
    x-form="contact"
    target="_parent"
  >
    <p class="hidden">
      <label>
        Don’t fill this out if you're human:
        <input name="bot-field" />
      </label>
    </p>
    <input name="host_page" type="hidden" value="{{ page.Permalink }}" />
    <div>
      <label class="sr-only" for="{{ $idName }}">Name</label>
      <p class="relative">
        <input
          id="{{ $idName }}"
          class="spl-input"
          type="text"
          :placeholder="showSpanish? 'Nombre': 'Name'"
          name="name"
          required
        />
        <span
          class="text-g-4 pointer-events-none absolute inset-y-0 right-3 inline-flex items-center"
          aria-hidden="true"
        >
          <svg class="h-4 w-4 fill-current">
            {{ partial "helper/svg.html" "user" }}
          </svg>
        </span>
      </p>
    </div>
    <div>
      <label class="sr-only" for="{{ $idEmail }}">Email or phone number</label>
      <p class="relative">
        <input
          id="{{ $idEmail }}"
          class="spl-input"
          type="text"
          :placeholder="showSpanish? 'Correo o número de teléfono': 'Email or phone number'"
          name="email"
          required
        />
        <span
          class="text-g-4 pointer-events-none absolute inset-y-0 right-3 inline-flex items-center"
          aria-hidden="true"
        >
          <svg class="h-4 w-4 fill-current">
            {{ partial "helper/svg.html" "email" }}
          </svg>
        </span>
      </p>
    </div>
    <div>
      <label class="sr-only" for="{{ $idTip }}">Your tip or comment</label>
      <textarea
        id="{{ $idTip }}"
        class="border-g-4 text-g-8 placeholder-g-5 placeholder-opacity-100 focus:ring-red-7 w-full rounded border p-4 ring-2 ring-transparent outline-none"
        :placeholder="showSpanish? '¿Qué debemos saber?': 'What should we know?'"
        name="comment"
        rows="3"
      ></textarea>
    </div>
    <div class="py-2">
      <button
        class="btn-signup"
        type="submit"
        target="_blank"
        x-text="showSpanish ? 'Enviar mensaje': 'Send message'"
      >
        Send message
      </button>
    </div>
    <div>
      <a
        x-show="!showSpanish"
        href="/tips/"
        class="text-g-7 font-semibold"
        target="_blank"
      >
        Or see more secure ways to contact us
      </a>
      <a
        x-cloak
        x-show="showSpanish"
        href="/tips/"
        class="text-g-7 font-semibold"
        target="_blank"
      >
        Ver otras maneras más privadas de contactarnos
      </a>
    </div>
  </form>
</div>
