{{ define "extra-head" }}
  {{ if .Site.IsServer }}
    <script src="http://localhost:1234/donate.js" defer></script>
  {{ else }}
    {{ $js := resources.Get "js/donate.js" | fingerprint }}
    <script src="{{ $js.RelPermalink }}" defer></script>
  {{ end }}
{{ end }}

{{ define "main" }}
<section class="section">
  <article class="columns is-centered is-multiline">
    <div class="column is-three-fifths">
      <div data-vue="donation-form">
        <div class="content">
          If the donation form does not load,
          <a href="https://connect.clickandpledge.com/w/Form/b6d994c9-df30-444f-8a6f-6cd832c84a86">please click here</a>.
        </div>
      </div>
    </div>
  </article>
</section>
{{ end }}
